.query-node {
  display: flex;
  flex-direction: column;
  width: 600px;

  .left-handle, .right-handle {
    width: 20px;
  }

  .body {
    width: auto;
    height: auto;
    min-height: 200px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: white;

    .rest-api-methods-select-element-container {
      display: flex;

      .CodeMirror {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    .grid {
      width: 100%;

      .row {
        margin-bottom: 5px;
      }
    }

    .datasource-selector {
      z-index: 10000000;
    }
  }
}