.wj-form-header {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -7px;
    right: -7px;
    height: 1px;
    background-color: var(--border-weak);
  }
}

.wj-form-footer {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -7px;
    right: -7px;
    height: 1px;
    background-color: var(--border-weak);
  }
}
