.tj-tabs {
  .nav-tabs {
    border-bottom: 0px !important;
  }

  .nav-item {
    font-size: 12px !important;
    line-height: 20px !important;
  }

  .nav-item .nav-link {
    color: var(--text-secondary) !important;
    background-color: var(--background-strong) !important;
  }

  .nav-tabs .nav-link.active {
    border-radius: 0 !important;
    border-width: 2px !important;
    color: var(--indigo9) !important;
  }
}