input.form-control,
  textarea,
  .input-control {
    gap: 16px !important;
    background: var(--base) !important;
    border: 1px solid var(--slate7) !important;
    border-radius: 6px;
    margin-bottom: 4px !important;
    color: var(--slate12) !important;
    transition: none;
    height: 35px;
    padding-left: 0.4375rem;
    padding-right: 0.4375rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    overflow-x: 'auto';
    white-space: 'nowrap';


    &:hover {
      background: var(--slate1) !important;
      border: 1px solid var(--slate8) !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      outline: none;
    }

    &:focus-visible {
      background: var(--indigo2) !important;
      border: 1px solid var(--indigo9) !important;
      box-shadow: none !important;
    }

    &.input-error-border {
      border-color: #DB4324 !important;
    }

    &:-webkit-autofill {
      box-shadow: 0 0 0 1000px var(--base) inset !important;
      -webkit-text-fill-color: var(--slate12) !important;

      &:hover {
        box-shadow: 0 0 0 1000px var(--slate1) inset !important;
        -webkit-text-fill-color: var(--slate12) !important;
      }

      &:focus-visible {
        box-shadow: 0 0 0 1000px var(--indigo2) inset !important;
        -webkit-text-fill-color: var(--slate12) !important;
      }
    }

  }

  .empty-key-value {
    border: 2px dashed #ccc;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    color: #ccc;
    width: inherit;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .trash {
    height: 32px;
    display: flex;
    justify-content: 'center';
    align-items: 'center';
  }
  
