input.form-control,
  textarea,
  .input-control {
    gap: 16px !important;
    background: var(--base) !important;
    border: 1px solid var(--slate7) !important;
    border-radius: 6px;
    margin-bottom: 4px !important;
    color: var(--slate12) !important;
    transition: none;
    height: 35px;
    width: 350px;
    padding-left: 0.4375rem;
    padding-right: 0.4375rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    overflow-x: 'auto';
    white-space: 'nowrap';


    &:hover {
      background: var(--slate1) !important;
      border: 1px solid var(--slate8) !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      outline: none;
    }

    &:focus-visible {
      background: var(--indigo2) !important;
      border: 1px solid var(--indigo9) !important;
      box-shadow: none !important;
    }

    &.input-error-border {
      border-color: #DB4324 !important;
    }

    &:-webkit-autofill {
      box-shadow: 0 0 0 1000px var(--base) inset !important;
      -webkit-text-fill-color: var(--slate12) !important;

      &:hover {
        box-shadow: 0 0 0 1000px var(--slate1) inset !important;
        -webkit-text-fill-color: var(--slate12) !important;
      }

      &:focus-visible {
        box-shadow: 0 0 0 1000px var(--indigo2) inset !important;
        -webkit-text-fill-color: var(--slate12) !important;
      }
    }

  }
