{
  "openapi": "3.1.0",
  "info": {
    "title": "ClickUp API v2 Reference",
    "description": "The ClickUp API enables you to programmatically access and manage your ClickUp resources.\n\n## Authentication\nThe API supports two authentication methods:\n- **Personal API Token**: Use for testing and personal integrations. Add token to requests with header: `Authorization: pk_...`\n- **OAuth 2.0**: Required for building apps for other users. Uses authorization code flow.\n\n## Getting Started\nOur [Getting Started Guide](https://developer.clickup.com/docs/index) provides a comprehensive overview of how to use the ClickUp API.\n",
    "contact": {

    },
    "version": "2.0"
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://api.clickup.com/api",
      "description": "ClickUp",
      "variables": {

      }
    }
  ],
  "paths": {
    "/v2/task/{task_id}/attachment": {
      "post": {
        "summary": "Create Task Attachment",
        "tags": [
          "Attachments"
        ],
        "description": "Upload a file to a task as an attachment. Files stored in the cloud cannot be used in this API request.\\\n \\\n***Note:** This request uses multipart/form-data as the content type.*",
        "operationId": "CreateTaskAttachment",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "9hv"
              ]
            }
          },
          {
            "name": "custom_task_ids",
            "in": "query",
            "description": "If you want to reference a task by its custom task id, this value must be `true`.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "examples": [true]
            }
          },
          {
            "name": "team_id",
            "in": "query",
            "description": "When the `custom_task_ids` parameter is set to `true`, the Workspace ID must be provided using the `team_id` parameter.\n \\\nFor example: `custom_task_ids=true&team_id=123`.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double",
              "examples": [123]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "attachment": {
                    "type": "array",
                    "items": {

                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {

            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "CreateTaskAttachmentresponse",
                  "required": [
                    "id",
                    "version",
                    "date",
                    "title",
                    "extension",
                    "thumbnail_small",
                    "thumbnail_large",
                    "url"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    },
                    "date": {
                      "type": "integer",
                      "contentEncoding": "int64"
                    },
                    "title": {
                      "type": "string"
                    },
                    "extension": {
                      "type": "string"
                    },
                    "thumbnail_small": {
                      "type": "string"
                    },
                    "thumbnail_large": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    }
                  },
                  "examples": [
                    {
                      "id": "ac434d4e-8b1c-4571-951b-866b6d9f2ee6.png",
                      "version": "0",
                      "date": 1569988578766,
                      "title": "image.png",
                      "extension": "png",
                      "thumbnail_small": "https://attachments-public.clickup.com/ac434d4e-8b1c-4571-951b-866b6d9f2ee6/logo_small.png",
                      "thumbnail_large": "https://attachments-public.clickup.com/ac434d4e-8b1c-4571-951b-866b6d9f2ee6/logo_small.png",
                      "url": "https://attachments-public.clickup.com/ac434d4e-8b1c-4571-951b-866b6d9f2ee6/logo_small.png"
                    }
                  ]
                },
                "example": {
                  "id": "ac434d4e-8b1c-4571-951b-866b6d9f2ee6.png",
                  "version": "0",
                  "date": 1569988578766,
                  "title": "image.png",
                  "extension": "png",
                  "thumbnail_small": "https://attachments-public.clickup.com/ac434d4e-8b1c-4571-951b-866b6d9f2ee6/logo_small.png",
                  "thumbnail_large": "https://attachments-public.clickup.com/ac434d4e-8b1c-4571-951b-866b6d9f2ee6/logo_small.png",
                  "url": "https://attachments-public.clickup.com/ac434d4e-8b1c-4571-951b-866b6d9f2ee6/logo_small.png"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/oauth/token": {
      "post": {
        "summary": "Get Access Token",
        "tags": [
          "Authorization"
        ],
        "description": "These are the routes for authing the API and going through the [OAuth flow](doc:authentication).\\\n \\\nApplications utilizing a personal API token don't use this endpoint.\\\n \\\n***Note:** OAuth tokens are not supported when using the [**Try It** feature](doc:trytheapi) of our Reference docs. You can't try this endpoint from your web browser.*\n",
        "operationId": "GetAccessToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "GetAccessTokenrequest",
                "required": [
                  "client_id",
                  "client_secret",
                  "code"
                ],
                "type": "object",
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "OAuth app client id"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "OAuth app client secret"
                  },
                  "code": {
                    "type": "string",
                    "description": "Code given in redirect url"
                  }
                },
                "examples": [
                  {
                    "client_id": "your_client_id",
                    "client_secret": "your_client_secret",
                    "code": "authorization_code"
                  }
                ]
              },
              "example": {
                "client_id": "your_client_id",
                "client_secret": "your_client_secret",
                "code": "authorization_code"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/paths/~1v2~1oauth~1token/post/requestBody/content/application~1json/schema"
              },
              "example": {
                "client_id": "your_client_id",
                "client_secret": "your_client_secret",
                "code": "authorization_code"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {

            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "GetAccessTokenresponse",
                  "required": [
                    "access_token"
                  ],
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    }
                  },
                  "examples": [
                    {
                      "access_token": "access token"
                    }
                  ]
                },
                "example": {
                  "access_token": "access token"
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-hideTryItPanel": true
      },
      "parameters": []
    },
    "/v2/user": {
      "get": {
        "summary": "Get Authorized User",
        "tags": [
          "Authorization"
        ],
        "description": "View the details of the authenticated user's ClickUp account.",
        "operationId": "GetAuthorizedUser",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {

            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "GetAuthorizedUserresponse",
                  "type": "object",
                  "properties": {
                    "user": {
                      "title": "User",
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "integer",
                          "contentEncoding": "int32"
                        },
                        "username": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "color": {
                          "type": "string"
                        },
                        "profilePicture": {
                          "type": "string"
                        },
                        "initials": {
                          "type": "string"
                        },
                        "week_start_day": {
                          "type": "integer",
                          "contentEncoding": "int32",
                          "description": "The user's preferred start of the calendar week setting. \\ `0` is Sunday. \\ `1` is Monday."
                        },
                        "global_font_support": {
                          "type": "boolean"
                        },
                        "timezeone": {
                          "type": "string"
                        }
                      },
                      "examples": [
                        {
                          "id": 123,
                          "username": "John Doe",
                          "email": "user@company.com",
                          "color": "#000000",
                          "profilePicture": "https://clickup.com/avatar.jpg",
                          "initials": "JD",
                          "week_start_day": 0,
                          "global_font_support": false,
                          "timezone": "America/Los_Angeles"
                        }
                      ]
                    }
                  },
                  "examples": [
                    {
                      "user": {
                        "id": 123,
                        "username": "John Doe",
                        "email": "user@company.com",
                        "color": "#000000",
                        "profilePicture": "https://clickup.com/avatar.jpg",
                        "initials": "JD",
                        "week_start_day": 0,
                        "global_font_support": false,
                        "timezone": "America/Los_Angeles"
                      }
                    }
                  ]
                },
                "example": {
                  "user": {
                    "id": 123,
                    "username": "John Doe",
                    "email": "user@company.com",
                    "color": "#000000",
                    "profilePicture": "https://clickup.com/avatar.jpg",
                    "initials": "JD",
                    "week_start_day": 0,
                    "global_font_support": false,
                    "timezone": "America/Los_Angeles"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/v2/team": {
      "get": {
        "summary": "Get Authorized Workspaces",
        "tags": [
          "Workspaces"
        ],
        "description": "View the Workspaces available to the authenticated user.",
        "operationId": "GetAuthorizedTeams",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {

            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "GetAuthorizedTeamsresponse",
                  "required": [
                    "teams"
                  ],
                  "type": "object",
                  "properties": {
                    "teams": {
                      "type": "array",
                      "items": {
                        "title": "Team",
                        "required": [
                          "id",
                          "name",
                          "color",
                          "avatar",
                          "members"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "color": {
                            "type": "string"
                          },
                          "avatar": {
                            "type": "string"
                          },
                          "members": {
                            "type": "array",
                            "items": {
                              "title": "Member",
                              "required": [
                                "user"
                              ],
                              "type": "object",
                              "properties": {
                                "user": {
                                  "$ref": "#/paths/~1v2~1user/get/responses/200/content/application~1json/schema/properties/user"
                                }
                              },
                              "examples": [
                                {
                                  "user": {
                                    "id": 123,
                                    "username": "John Doe",
                                    "color": "#000000",
                                    "profilePicture": "https://clickup.com/avatar.jpg"
                                  }
                                }
                              ]
                            },
                            "description": ""
                          }
                        },
                        "examples": [
                          {
                            "id": "1234",
                            "name": "My ClickUp Workspace",
                            "color": "#000000",
                            "avatar": "https://clickup.com/avatar.jpg",
                            "members": [
                              {
                                "user": {
                                  "id": 123,
                                  "username": "John Doe",
                                  "color": "#000000",
                                  "profilePicture": "https://clickup.com/avatar.jpg"
                                }
                              }
                            ]
                          }
                        ]
                      },
                      "description": ""
                    }
                  },
                  "examples": [
                    {
                      "teams": [
                        {
                          "id": "1234",
                          "name": "My ClickUp Workspace",
                          "color": "#000000",
                          "avatar": "https://clickup.com/avatar.jpg",
                          "members": [
                            {
                              "user": {
                                "id": 123,
                                "username": "John Doe",
                                "color": "#000000",
                                "profilePicture": "https://clickup.com/avatar.jpg"
                              }
                            }
                          ]
                        }
                      ]
                    }
                  ]
                },
                "example": {
                  "teams": [
                    {
                      "id": "1234",
                      "name": "My ClickUp Workspace",
                      "color": "#000000",
                      "avatar": "https://clickup.com/avatar.jpg",
                      "members": [
                        {
                          "user": {
                            "id": 123,
                            "username": "John Doe",
                            "color": "#000000",
                            "profilePicture": "https://clickup.com/avatar.jpg"
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/v2/task/{task_id}/checklist": {
      "post": {
        "summary": "Create Checklist",
        "tags": [
          "Task Checklists"
        ],
        "description": "Add a new checklist to a task.",
        "operationId": "CreateChecklist",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "9hz"
              ]
            }
          },
          {
            "name": "custom_task_ids",
            "in": "query",
            "description": "If you want to reference a task by it's custom task id, this value must be `true`.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "examples": [true]
            }
          },
          {
            "name": "team_id",
            "in": "query",
            "description": "When the `custom_task_ids` parameter is set to `true`, the Workspace ID must be provided using the `team_id` parameter.\n \\\nFor example: `custom_task_ids=true&team_id=123`.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double",
              "examples": [123]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateChecklistrequest",
                "required": [
                  "name"
                ],
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                },
                "examples": [
                  {
                    "name": "Checklist"
                  }
                ]
              },
              "example": {
                "name": "Checklist"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {

            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "CreateChecklistresponse",
                  "required": [
                    "checklist"
                  ],
                  "type": "object",
                  "properties": {
                    "checklist": {
                      "title": "Checklist",
                      "required": [
                        "id",
                        "task_id",
                        "name",
                        "orderindex",
                        "resolved",
                        "unresolved",
                        "items"
                      ],
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "task_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "orderindex": {
                          "type": "integer",
                          "contentEncoding": "int32"
                        },
                        "resolved": {
                          "type": "integer",
                          "contentEncoding": "int32"
                        },
                        "unresolved": {
                          "type": "integer",
                          "contentEncoding": "int32"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": ""
                        }
                      },
                      "examples": [
                        {
                          "id": "b955c4dc-b8a8-48d8-a0c6-b4200788a683",
                          "task_id": "9hz",
                          "name": "Checklist",
                          "orderindex": 0,
                          "resolved": 0,
                          "unresolved": 0,
                          "items": []
                        }
                      ]
                    }
                  },
                  "examples": [
                    {
                      "checklist": {
                        "id": "b955c4dc-b8a8-48d8-a0c6-b4200788a683",
                        "task_id": "9hz",
                        "name": "Checklist",
                        "orderindex": 0,
                        "resolved": 0,
                        "unresolved": 0,
                        "items": []
                      }
                    }
                  ]
                },
                "example": {
                  "checklist": {
                    "id": "b955c4dc-b8a8-48d8-a0c6-b4200788a683",
                    "task_id": "9hz",
                    "name": "Checklist",
                    "orderindex": 0,
                    "resolved": 0,
                    "unresolved": 0,
                    "items": []
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/v2/checklist/{checklist_id}": {
      "put": {
        "summary": "Edit Checklist",
        "tags": [
          "Task Checklists"
        ],
        "description": "Rename a task checklist, or reorder a checklist so it appears above or below other checklists on a task. ",
        "operationId": "EditChecklist",
        "parameters": [
          {
            "name": "checklist_id",
            "in": "path",
            "description": "b8a8-48d8-a0c6-b4200788a683 (uuid)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "b955c4dc"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "title": "EditChecklistrequest",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "position": {
                    "description": "Position refers to the order of appearance of checklists on a task.\\\n \\\nTo set a checklist to appear at the top of the checklists section of a task, use `\"position\": 0`.",
                    "type": "integer",
                    "contentEncoding": "int32"
                  }
                },
                "examples": [
                  {
                    "name": "Updated Checklist",
                    "position": 1
                  }
                ]
              },
              "example": {
                "name": "Updated Checklist",
                "position": 1
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {

            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "contentMediaType": "application/json"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete Checklist",
        "tags": [
          "Task Checklists"
        ],
        "description": "Delete a checklist from a task.",
        "operationId": "DeleteChecklist",
        "parameters": [
          {
            "name": "checklist_id",
            "in": "path",
            "description": "b8a8-48d8-a0c6-b4200788a683 (uuid)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "b955c4dc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {

            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "examples": [
                    {

                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {

                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/v2/checklist/{checklist_id}/checklist_item": {
      "post": {
        "summary": "Create Checklist Item",
        "tags": [
          "Task Checklists"
        ],
        "description": "Add a line item to a task checklist.",
        "operationId": "CreateChecklistItem",
        "parameters": [
          {
            "name": "checklist_id",
            "in": "path",
            "description": "b8a8-48d8-a0c6-b4200788a683 (uuid)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "b955c4dc"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateChecklistItemrequest",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "assignee": {
                    "type": "integer",
                    "contentEncoding": "int32"
                  }
                },
                "examples": [
                  {
                    "name": "Checklist Item",
                    "assignee": 183
                  }
                ]
              },
              "example": {
                "name": "Checklist Item",
                "assignee": 183
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {

            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "CreateChecklistItemresponse",
                  "required": [
                    "checklist"
                  ],
                  "type": "object",
                  "properties": {
                    "checklist": {
                      "title": "Checklist1",
                      "required": [
                        "id",
                        "task_id",
                        "name",
                        "date_created",
                        "orderindex",
                        "resolved",
                        "unresolved",
                        "items"
                      ],
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "task_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "date_created": {
                          "type": "string"
                        },
                        "orderindex": {
                          "type": "integer",
                          "contentEncoding": "int32"
                        },
                        "resolved": {
                          "type": "integer",
                          "contentEncoding": "int32"
                        },
                        "unresolved": {
                          "type": "integer",
                          "contentEncoding": "int32"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "title": "Item",
                            "required": [
                              "id",
                              "name",
                              "orderindex",
                              "assignee",
                              "resolved",
                              "parent",
                              "date_created",
                              "children"
                            ],
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "orderindex": {
                                "type": "integer",
                                "contentEncoding": "int32"
                              },
                              "assignee": {
                                "$ref": "#/paths/~1v2~1task~1%7Btask_id%7D~1comment/get/responses/200/content/application~1json/schema/properties/comments/items/properties/assignee"
                              },
                              "resolved": {
                                "type": "boolean"
                              },
                              "parent": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "date_created": {
                                "type": "string"
                              },
                              "children": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": ""
                              }
                            },
                            "examples": [
                              {
                                "id": "21e08dc8-e491-47f5-9fd8-d1dc4cedcc6f",
                                "name": "Checklist Item",
                                "orderindex": 0,
                                "assignee": {
                                  "id": 183,
                                  "username": "John Doe",
                                  "email": "example@email.com",
                                  "color": "#827718",
                                  "initials": "JD",
                                  "profilePicture": "https://attachments.clickup.com/profilePictures/183_nx1.jpg"
                                },
                                "resolved": false,
                                "parent": null,
                                "date_created": "1567711566859",
                                "children": []
                              }
                            ]
                          },
                          "description": ""
                        }
                      },
                      "examples": [
                        {
                          "id": "b955c4dc-b8a8-48d8-a0c6-b4200788a683",
                          "task_id": "9hv",
                          "name": "Checklist",
                          "date_created": "1567711563204",
                          "orderindex": 0,
                          "resolved": 0,
                          "unresolved": 1,
                          "items": [
                            {
                              "id": "21e08dc8-e491-47f5-9fd8-d1dc4cedcc6f",
                              "name": "Checklist Item",
                              "orderindex": 0,
                              "assignee": {
                                "id": 183,
                                "username": "John Doe",
                                "email": "example@email.com",
                                "color": "#827718",
                                "initials": "JD",
                                "profilePicture": "https://attachments.clickup.com/profilePictures/183_nx1.jpg"
                              },
                              "resolved": false,
                              "parent": null,
                              "date_created": "1567711566859",
                              "children": []
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "examples": [
                    {
                      "checklist": {
                        "id": "b955c4dc-b8a8-48d8-a0c6-b4200788a683",
                        "task_id": "9hv",
                        "name": "Checklist",
                        "date_created": "1567711563204",
                        "orderindex": 0,
                        "resolved": 0,
                        "unresolved": 1,
                        "items": [
                          {
                            "id": "21e08dc8-e491-47f5-9fd8-d1dc4cedcc6f",
                            "name": "Checklist Item",
                            "orderindex": 0,
                            "assignee": {
                              "id": 183,
                              "username": "John Doe",
                              "email": "example@email.com",
                              "color": "#827718",
                              "initials": "JD",
                              "profilePicture": "https://attachments.clickup.com/profilePictures/183_nx1.jpg"
                            },
                            "resolved": false,
                            "parent": null,
                            "date_created": "1567711566859",
                            "children": []
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "checklist": {
                    "id": "b955c4dc-b8a8-48d8-a0c6-b4200788a683",
                    "task_id": "9hv",
                    "name": "Checklist",
                    "date_created": "1567711563204",
                    "orderindex": 0,
                    "resolved": 0,
                    "unresolved": 1,
                    "items": [
                      {
                        "id": "21e08dc8-e491-47f5-9fd8-d1dc4cedcc6f",
                        "name": "Checklist Item",
                        "orderindex": 0,
                        "assignee": {
                          "id": 183,
                          "username": "John Doe",
                          "email": "example@email.com",
                          "color": "#827718",
                          "initials": "JD",
                          "profilePicture": "https://attachments.clickup.com/profilePictures/183_nx1.jpg"
                        },
                        "resolved": false,
                        "parent": null,
                        "date_created": "1567711566859",
                        "children": []
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/v2/checklist/{checklist_id}/checklist_item/{checklist_item_id}": {
      "put": {
        "summary": "Edit Checklist Item",
        "tags": [
          "Task Checklists"
        ],
        "description": "Update an individual line item in a task checklist. \\\n \\\nYou can rename it, set the assignee, mark it as resolved, or nest it under another checklist item.",
        "operationId": "EditChecklistItem",
        "parameters": [
          {
            "name": "checklist_id",
            "in": "path",
            "description": "b8a8-48d8-a0c6-b4200788a683 (uuid)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "b955c4dc"
              ]
            }
          },
          {
            "name": "checklist_item_id",
            "in": "path",
            "description": "e491-47f5-9fd8-d1dc4cedcc6f (uuid)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "21e08dc8"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "title": "EditChecklistItemrequest",
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "assignee": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "resolved": {
                    "type": "boolean"
                  },
                  "parent": {
                    "description": "To nest a checklist item under another checklist item, include the other item's `checklist_item_id`.",
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                },
                "examples": [
                  {
                    "name": "Updated Checklist Item",
                    "assignee": null,
                    "resolved": true,
                    "parent": null
                  }
                ]
              },
              "example": {
                "name": "Updated Checklist Item",
                "assignee": null,
                "resolved": true,
                "parent": null
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {

            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "EditChecklistItemresponse",
                  "required": [
                    "checklist"
                  ],
                  "type": "object",
                  "properties": {
                    "checklist": {
                      "title": "Checklist2",
                      "required": [
                        "id",
                        "task_id",
                        "name",
                        "date_created",
                        "orderindex",
                        "resolved",
                        "unresolved",
                        "items"
                      ],
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "task_id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "date_created": {
                          "type": "string"
                        },
                        "orderindex": {
                          "type": "integer",
                          "contentEncoding": "int32"
                        },
                        "resolved": {
                          "type": "integer",
                          "contentEncoding": "int32"
                        },
                        "unresolved": {
                          "type": "integer",
                          "contentEncoding": "int32"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "title": "Item1",
                            "required": [
                              "id",
                              "name",
                              "orderindex",
                              "assignee",
                              "resolved",
                              "parent",
                              "date_created",
                              "children"
                            ],
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "orderindex": {
                                "type": "integer",
                                "contentEncoding": "int32"
                              },
                              "assignee": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "resolved": {
                                "type": "boolean"
                              },
                              "parent": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "date_created": {
                                "type": "string"
                              },
                              "children": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": ""
                              }
                            },
                            "examples": [
                              {
                                "id": "21e08dc8-e491-47f5-9fd8-d1dc4cedcc6f",
                                "name": "Updated Checklist Item",
                                "orderindex": 0,
                                "assignee": null,
                                "resolved": true,
                                "parent": null,
                                "date_created": "1567711566859",
                                "children": []
                              }
                            ]
                          },
                          "description": ""
                        }
                      },
                      "examples": [
                        {
                          "id": "b955c4dc-b8a8-48d8-a0c6-b4200788a683",
                          "task_id": "9hv",
                          "name": "Checklist",
                          "date_created": "1567711563204",
                          "orderindex": 0,
                          "resolved": 1,
                          "unresolved": 0,
                          "items": [
                            {
                              "id": "21e08dc8-e491-47f5-9fd8-d1dc4cedcc6f",
                              "name": "Updated Checklist Item",
                              "orderindex": 0,
                              "assignee": null,
                              "resolved": true,
                              "parent": null,
                              "date_created": "1567711566859",
                              "children": []
                            }
                          ]
                        }
                      ]
                    }
                  },
                  "examples": [
                    {
                      "checklist": {
                        "id": "b955c4dc-b8a8-48d8-a0c6-b4200788a683",
                        "task_id": "9hv",
                        "name": "Checklist",
                        "date_created": "1567711563204",
                        "orderindex": 0,
                        "resolved": 1,
                        "unresolved": 0,
                        "items": [
                          {
                            "id": "21e08dc8-e491-47f5-9fd8-d1dc4cedcc6f",
                            "name": "Updated Checklist Item",
                            "orderindex": 0,
                            "assignee": null,
                            "resolved": true,
                            "parent": null,
                            "date_created": "1567711566859",
                            "children": []
                          }
                        ]
                      }
                    }
                  ]
                },
                "example": {
                  "checklist": {
                    "id": "b955c4dc-b8a8-48d8-a0c6-b4200788a683",
                    "task_id": "9hv",
                    "name": "Checklist",
                    "date_created": "1567711563204",
                    "orderindex": 0,
                    "resolved": 1,
                    "unresolved": 0,
                    "items": [
                      {
                        "id": "21e08dc8-e491-47f5-9fd8-d1dc4cedcc6f",
                        "name": "Updated Checklist Item",
                        "orderindex": 0,
                        "assignee": null,
                        "resolved": true,
                        "parent": null,
                        "date_created": "1567711566859",
                        "children": []
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete Checklist Item",
        "tags": [
          "Task Checklists"
        ],
        "description": "Delete a line item from a task checklist.",
        "operationId": "DeleteChecklistItem",
        "parameters": [
          {
            "name": "checklist_id",
            "in": "path",
            "description": "b8a8-48d8-a0c6-b4200788a683 (uuid)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "b955c4dc"
              ]
            }
          },
          {
            "name": "checklist_item_id",
            "in": "path",
            "description": "e491-47f5-9fd8-d1dc4cedcc6f (uuid)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "21e08dc8"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {

            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "examples": [
                    {

                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {

                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/v2/task/{task_id}/comment": {
      "get": {
        "summary": "Get Task Comments",
        "description": "View task comments. \\\n \\\nIf you do not include the `start` and `start_id` parameters, this endpoint will return the most recent 25 comments.\\\n \\\nUse the `start` and `start id` parameters of the oldest comment to retrieve the next 25 comments.",
        "tags": [
          "Comments"
        ],
        "operationId": "GetTaskComments",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "9hz"
              ]
            }
          },
          {
            "name": "custom_task_ids",
            "in": "query",
            "description": "If you want to reference a task by it's custom task id, this value must be `true`.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "examples": [true]
            }
          },
          {
            "name": "team_id",
            "in": "query",
            "description": "When the `custom_task_ids` parameter is set to `true`, the Workspace ID must be provided using the `team_id` parameter.\n \\\nFor example: `custom_task_ids=true&team_id=123`.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double",
              "examples": [123]
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Enter the `date` of a task comment using Unix time in milliseconds.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          },
          {
            "name": "start_id",
            "in": "query",
            "description": "Enter the Comment `id` of a task comment.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {

            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "GetTaskCommentsresponse",
                  "required": [
                    "comments"
                  ],
                  "type": "object",
                  "properties": {
                    "comments": {
                      "type": "array",
                      "items": {
                        "title": "Comment",
                        "required": [
                          "id",
                          "comment",
                          "comment_text",
                          "user",
                          "resolved",
                          "assignee",
                          "assigned_by",
                          "reactions",
                          "date"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "comment": {
                            "type": "array",
                            "items": {
                              "title": "Comment1",
                              "required": [
                                "text"
                              ],
                              "type": "object",
                              "properties": {
                                "text": {
                                  "type": "string"
                                }
                              },
                              "examples": [
                                {
                                  "text": "Task comment content"
                                }
                              ]
                            },
                            "description": ""
                          },
                          "comment_text": {
                            "type": "string"
                          },
                          "user": {
                            "$ref": "#/paths/~1v2~1team~1%7Bteam_id%7D~1time_entries~1stop/post/responses/200/content/application~1json/schema/properties/data/properties/user"
                          },
                          "resolved": {
                            "type": "boolean"
                          },
                          "assignee": {
                            "title": "Assignee",
                            "required": [
                              "id",
                              "username",
                              "email",
                              "color",
                              "initials",
                              "profilePicture"
                            ],
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "contentEncoding": "int32"
                              },
                              "username": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "color": {
                                "type": "string"
                              },
                              "initials": {
                                "type": "string"
                              },
                              "profilePicture": {
                                "type": "string"
                              }
                            },
                            "examples": [
                              {
                                "id": 183,
                                "username": "John Doe",
                                "email": "example@email.com",
                                "color": "#827718",
                                "initials": "JD",
                                "profilePicture": "https://attachments.clickup.com/profilePictures/183_nx1.jpg"
                              }
                            ]
                          },
                          "assigned_by": {
                            "title": "AssignedBy",
                            "required": [
                              "id",
                              "username",
                              "initials",
                              "email",
                              "color",
                              "profilePicture"
                            ],
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer",
                                "contentEncoding": "int32"
                              },
                              "username": {
                                "type": "string"
                              },
                              "initials": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "color": {
                                "type": "string"
                              },
                              "profilePicture": {
                                "type": "string"
                              }
                            },
                            "examples": [
                              {
                                "id": 183,
                                "username": "John Doe",
                                "initials": "JD",
                                "email": "johndoe@gmail.com",
                                "color": "#827718",
                                "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                              }
                            ]
                          },
                          "reactions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": ""
                          },
                          "date": {
                            "type": "string"
                          },
                          "reply_count": {
                            "type": "string",
                            "description": "For threaded comments, `reply_count` is always 0."
                          }
                        },
                        "examples": [
                          {
                            "id": "458",
                            "comment": [
                              {
                                "text": "Task comment content"
                              }
                            ],
                            "comment_text": "Task comment content",
                            "user": {
                              "id": 183,
                              "username": "John Doe",
                              "initials": "JD",
                              "email": "johndoe@gmail.com",
                              "color": "#827718",
                              "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                            },
                            "resolved": false,
                            "assignee": {
                              "id": 183,
                              "username": "John Doe",
                              "initials": "JD",
                              "email": "johndoe@gmail.com",
                              "color": "#827718",
                              "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                            },
                            "assigned_by": {
                              "id": 183,
                              "username": "John Doe",
                              "initials": "JD",
                              "email": "johndoe@gmail.com",
                              "color": "#827718",
                              "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                            },
                            "reactions": [],
                            "date": "1568036964079",
                            "reply_count": "1"
                          }
                        ]
                      },
                      "description": ""
                    }
                  },
                  "examples": [
                    {
                      "comments": [
                        {
                          "id": "458",
                          "comment": [
                            {
                              "text": "Task comment content"
                            }
                          ],
                          "comment_text": "Task comment content",
                          "user": {
                            "id": 183,
                            "username": "John Doe",
                            "initials": "JD",
                            "email": "johndoe@gmail.com",
                            "color": "#827718",
                            "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                          },
                          "resolved": false,
                          "assignee": {
                            "id": 183,
                            "username": "John Doe",
                            "initials": "JD",
                            "email": "johndoe@gmail.com",
                            "color": "#827718",
                            "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                          },
                          "assigned_by": {
                            "id": 183,
                            "username": "John Doe",
                            "initials": "JD",
                            "email": "johndoe@gmail.com",
                            "color": "#827718",
                            "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                          },
                          "reactions": [],
                          "date": "1568036964079",
                          "reply_count": "1"
                        }
                      ]
                    }
                  ]
                },
                "example": {
                  "comments": [
                    {
                      "id": "458",
                      "comment": [
                        {
                          "text": "Task comment content"
                        }
                      ],
                      "comment_text": "Task comment content",
                      "user": {
                        "id": 183,
                        "username": "John Doe",
                        "initials": "JD",
                        "email": "johndoe@gmail.com",
                        "color": "#827718",
                        "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                      },
                      "resolved": false,
                      "assignee": {
                        "id": 183,
                        "username": "John Doe",
                        "initials": "JD",
                        "email": "johndoe@gmail.com",
                        "color": "#827718",
                        "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                      },
                      "assigned_by": {
                        "id": 183,
                        "username": "John Doe",
                        "initials": "JD",
                        "email": "johndoe@gmail.com",
                        "color": "#827718",
                        "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                      },
                      "reactions": [],
                      "date": "1568036964079",
                      "reply_count": "1"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Create Task Comment",
        "tags": [
          "Comments"
        ],
        "description": "Add a new comment to a task.",
        "operationId": "CreateTaskComment",
        "parameters": [
          {
            "name": "task_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "9hz"
              ]
            }
          },
          {
            "name": "custom_task_ids",
            "in": "query",
            "description": "If you want to reference a task by it's custom task id, this value must be `true`.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "examples": [true]
            }
          },
          {
            "name": "team_id",
            "in": "query",
            "description": "When the `custom_task_ids` parameter is set to `true`, the Workspace ID must be provided using the `team_id` parameter.\n \\\nFor example: `custom_task_ids=true&team_id=123`.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "contentEncoding": "double",
              "examples": [123]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateTaskCommentrequest",
                "required": [
                  "comment_text",
                  "notify_all"
                ],
                "type": "object",
                "properties": {
                  "comment_text": {
                    "type": "string"
                  },
                  "assignee": {
                    "type": "integer",
                    "contentEncoding": "int32"
                  },
                  "group_assignee": {
                    "type": "string",
                    "contentEncoding": "int32",
                    "description": ""
                  },
                  "notify_all": {
                    "description": "If `notify_all` is true, notifications will be sent to everyone including the creator of the comment.",
                    "type": "boolean"
                  }
                },
                "examples": [
                  {
                    "comment_text": "Task comment content",
                    "assignee": 183,
                    "group_assignee": "d01f92f-48ca-446d-88a1-0beb0e8f5f14",
                    "notify_all": true
                  }
                ]
              },
              "example": {
                "comment_text": "Task comment content",
                "assignee": 183,
                "group_assignee": "dd01f92f-48ca-446d-88a1-0beb0e8f5f14",
                "notify_all": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {

            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "CreateTaskCommentresponse",
                  "required": [
                    "id",
                    "hist_id",
                    "date"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "hist_id": {
                      "type": "string"
                    },
                    "date": {
                      "type": "integer",
                      "contentEncoding": "int64"
                    }
                  },
                  "examples": [
                    {
                      "id": "458",
                      "hist_id": "26508",
                      "date": 1568036964079
                    }
                  ]
                },
                "example": {
                  "id": "458",
                  "hist_id": "26508",
                  "date": 1568036964079
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/v2/view/{view_id}/comment": {
      "get": {
        "summary": "Get Chat View Comments",
        "description": "View comments from a Chat view. \\\n \\\nIf you do not include the `start` and `start_id` parameters, this endpoint will return the most recent 25 comments.\\\n \\\nUse the `start` and `start id` parameters of the oldest comment to retrieve the next 25 comments.",
        "tags": [
          "Comments"
        ],
        "operationId": "GetChatViewComments",
        "parameters": [
          {
            "name": "view_id",
            "in": "path",
            "description": "105 (string)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "3c"
              ]
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Enter the `date` of a Chat view comment using Unix time in milliseconds.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          },
          {
            "name": "start_id",
            "in": "query",
            "description": "Enter the Comment `id` of a Chat view comment.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {

            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "GetChatViewCommentsresponse",
                  "required": [
                    "comments"
                  ],
                  "type": "object",
                  "properties": {
                    "comments": {
                      "type": "array",
                      "items": {
                        "title": "Comment2",
                        "required": [
                          "id",
                          "comment",
                          "comment_text",
                          "user",
                          "resolved",
                          "assignee",
                          "assigned_by",
                          "reactions",
                          "date"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "comment": {
                            "type": "array",
                            "items": {
                              "$ref": "#/paths/~1v2~1task~1%7Btask_id%7D~1comment/get/responses/200/content/application~1json/schema/properties/comments/items/properties/comment/items"
                            },
                            "description": ""
                          },
                          "comment_text": {
                            "type": "string"
                          },
                          "user": {
                            "$ref": "#/paths/~1v2~1team~1%7Bteam_id%7D~1time_entries~1stop/post/responses/200/content/application~1json/schema/properties/data/properties/user"
                          },
                          "resolved": {
                            "type": "boolean"
                          },
                          "assignee": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "assigned_by": {
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "reactions": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": ""
                          },
                          "date": {
                            "type": "string"
                          },
                          "reply_count": {
                            "type": "string"
                          }
                        },
                        "examples": [
                          {
                            "id": "459",
                            "comment": [
                              {
                                "text": "View comment content"
                              }
                            ],
                            "comment_text": "View comment content",
                            "user": {
                              "id": 183,
                              "username": "John Doe",
                              "initials": "JD",
                              "email": "johndoe@gmail.com",
                              "color": "#827718",
                              "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                            },
                            "resolved": false,
                            "assignee": null,
                            "assigned_by": null,
                            "reactions": [],
                            "date": "1568036964079",
                            "reply_count": "1"
                          }
                        ]
                      },
                      "description": ""
                    }
                  },
                  "examples": [
                    {
                      "comments": [
                        {
                          "id": "459",
                          "comment": [
                            {
                              "text": "View comment content"
                            }
                          ],
                          "comment_text": "View comment content",
                          "user": {
                            "id": 183,
                            "username": "John Doe",
                            "initials": "JD",
                            "email": "johndoe@gmail.com",
                            "color": "#827718",
                            "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                          },
                          "resolved": false,
                          "assignee": null,
                          "assigned_by": null,
                          "reactions": [],
                          "date": "1568036964079",
                          "reply_count": "1"
                        }
                      ]
                    }
                  ]
                },
                "example": {
                  "comments": [
                    {
                      "id": "459",
                      "comment": [
                        {
                          "text": "View comment content"
                        }
                      ],
                      "comment_text": "View comment content",
                      "user": {
                        "id": 183,
                        "username": "John Doe",
                        "initials": "JD",
                        "email": "johndoe@gmail.com",
                        "color": "#827718",
                        "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                      },
                      "resolved": false,
                      "assignee": null,
                      "assigned_by": null,
                      "reactions": [],
                      "date": "1568036964079",
                      "reply_count": "1"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Create Chat View Comment",
        "tags": [
          "Comments"
        ],
        "description": "Add a new comment to a Chat view.",
        "operationId": "CreateChatViewComment",
        "parameters": [
          {
            "name": "view_id",
            "in": "path",
            "description": "105 (string)",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "3c"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateChatViewCommentrequest",
                "required": [
                  "comment_text",
                  "notify_all"
                ],
                "type": "object",
                "properties": {
                  "comment_text": {
                    "type": "string"
                  },
                  "notify_all": {
                    "description": "If `notify_all` is true, notifications will be sent to everyone including the creator of the comment.",
                    "type": "boolean"
                  }
                },
                "examples": [
                  {
                    "comment_text": "View comment content",
                    "notify_all": true
                  }
                ]
              },
              "example": {
                "comment_text": "View comment content",
                "notify_all": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {

            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "CreateChatViewCommentresponse",
                  "required": [
                    "id",
                    "hist_id",
                    "date"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "hist_id": {
                      "type": "string"
                    },
                    "date": {
                      "type": "integer",
                      "contentEncoding": "int64"
                    }
                  },
                  "examples": [
                    {
                      "id": "459",
                      "hist_id": "0a45e16e-4e2f-4a9e-99ec-3cf520b87eae",
                      "date": 1568037065216
                    }
                  ]
                },
                "example": {
                  "id": "459",
                  "hist_id": "0a45e16e-4e2f-4a9e-99ec-3cf520b87eae",
                  "date": 1568037065216
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/v2/list/{list_id}/comment": {
      "get": {
        "summary": "Get List Comments",
        "description": "View the comments added to a List. \\\n \\\nIf you do not include the `start` and `start_id` parameters, this endpoint will return the most recent 25 comments.\\\n \\\nUse the `start` and `start id` parameters of the oldest comment to retrieve the next 25 comments.",
        "tags": [
          "Comments"
        ],
        "operationId": "GetListComments",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "number",
              "contentEncoding": "double",
              "examples": [124]
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Enter the `date` of a List info comment using Unix time in milliseconds.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "contentEncoding": "int32"
            }
          },
          {
            "name": "start_id",
            "in": "query",
            "description": "Enter the Comment `id` of a List info comment.",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {

            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "GetListCommentsresponse",
                  "required": [
                    "comments"
                  ],
                  "type": "object",
                  "properties": {
                    "comments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/paths/~1v2~1task~1%7Btask_id%7D~1comment/get/responses/200/content/application~1json/schema/properties/comments/items"
                      },
                      "description": ""
                    }
                  },
                  "examples": [
                    {
                      "comments": [
                        {
                          "id": "462",
                          "comment": [
                            {
                              "text": "List comment content"
                            }
                          ],
                          "comment_text": "List comment content",
                          "user": {
                            "id": 183,
                            "username": "John Doe",
                            "initials": "JD",
                            "email": "johndoe@gmail.com",
                            "color": "#827718",
                            "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                          },
                          "resolved": false,
                          "assignee": {
                            "id": 183,
                            "username": "John Doe",
                            "initials": "JD",
                            "email": "johndoe@gmail.com",
                            "color": "#827718",
                            "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                          },
                          "assigned_by": {
                            "id": 183,
                            "username": "John Doe",
                            "initials": "JD",
                            "email": "johndoe@gmail.com",
                            "color": "#827718",
                            "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                          },
                          "reactions": [],
                          "date": "1568036964079",
                          "reply_count": "1"
                        }
                      ]
                    }
                  ]
                },
                "example": {
                  "comments": [
                    {
                      "id": "462",
                      "comment": [
                        {
                          "text": "List comment content"
                        }
                      ],
                      "comment_text": "List comment content",
                      "user": {
                        "id": 183,
                        "username": "John Doe",
                        "initials": "JD",
                        "email": "johndoe@gmail.com",
                        "color": "#827718",
                        "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                      },
                      "resolved": false,
                      "assignee": {
                        "id": 183,
                        "username": "John Doe",
                        "initials": "JD",
                        "email": "johndoe@gmail.com",
                        "color": "#827718",
                        "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                      },
                      "assigned_by": {
                        "id": 183,
                        "username": "John Doe",
                        "initials": "JD",
                        "email": "johndoe@gmail.com",
                        "color": "#827718",
                        "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                      },
                      "reactions": [],
                      "date": "1568036964079",
                      "reply_count": "1"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Create List Comment",
        "tags": [
          "Comments"
        ],
        "description": "Add a comment to a List.",
        "operationId": "CreateListComment",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "number",
              "contentEncoding": "double",
              "examples": [124]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "title": "CreateListCommentrequest",
                "required": [
                  "comment_text",
                  "assignee",
                  "notify_all"
                ],
                "type": "object",
                "properties": {
                  "comment_text": {
                    "type": "string"
                  },
                  "assignee": {
                    "type": "integer",
                    "contentEncoding": "int32"
                  },
                  "notify_all": {
                    "description": "If `notify_all` is true, notifications will be sent to everyone including the creator of the comment.",
                    "type": "boolean"
                  }
                },
                "examples": [
                  {
                    "comment_text": "List comment content",
                    "assignee": 183,
                    "notify_all": true
                  }
                ]
              },
              "example": {
                "comment_text": "List comment content",
                "assignee": 183,
                "notify_all": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {

            },
            "content": {
              "application/json": {
                "schema": {
                  "title": "CreateListCommentresponse",
                  "required": [
                    "id",
                    "hist_id",
                    "date"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "hist_id": {
                      "type": "string"
                    },
                    "date": {
                      "type": "integer",
                      "contentEncoding": "int64"
                    }
                  },
                  "examples": [
                    {
                      "id": "462",
                      "hist_id": "5bbea9ad-7cc3-4038-a8bb-a89ac1337c08",
                      "date": 1568037341249
                    }
                  ]
                },
                "example": {
                  "id": "462",
                  "hist_id": "5bbea9ad-7cc3-4038-a8bb-a89ac1337c08",
                  "date": 1568037341249
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/v2/comment/{comment_id}": {
      "put": {
        "summary": "Update Comment",
        "tags": [
          "Comments"
        ],
        "description": "Replace the content of a task commment, assign a comment, and mark a comment as resolved.",
        "operationId": "UpdateComment",
        "parameters": [
          {
            "name": "comment_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "number",
              "contentEncoding": "double",
              "examples": [456]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "title": "UpdateCommentrequest",
                "required": [
                  "comment_text",
                  "assignee",
                  "resolved"
                ],
                "type": "object",
                "properties": {
                  "comment_text": {
                    "type": "string"
                  },
                  "assignee": {
                    "type": "integer",
                    "contentEncoding": "int32"
                  },
                  "group_assignee": {
                    "type": "integer",
                    "contentEncoding": "int32",
                    "description": ""
                  },
                  "resolved": {
                    "description": "",
                    "type": "boolean"
                  }
                },
                "examples": [
                  {
                    "comment_text": "Updated comment content",
                    "assignee": 183,
                    "resolved": true
                  }
                ]
              },
              "example": {
                "comment_text": "Updated comment content",
                "assignee": 183,
                "group_assignee": "dd01f92f-48ca-446d-88a1-0beb0e8f5f14",
                "resolved": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {

            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "examples": [
                    {

                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {

                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "summary": "Delete Comment",
        "tags": [
          "Comments"
        ],
        "description": "Delete a task comment.",
        "operationId": "DeleteComment",
        "parameters": [
          {
            "name": "comment_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "number",
              "contentEncoding": "double",
              "examples": [456]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {

            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "examples": [
                    {

                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {

                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/v2/comment/{comment_id}/reply": {
      "get": {
        "summary": "Get Threaded Comments",
        "description": "View threaded comments. The parent comment is not included in the response.",
        "tags": [
          "Comments"
        ],
        "operationId": "GetThreadedComments",
        "parameters": [
          {
            "name": "comment_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "number",
              "contentEncoding": "double",
              "examples": [456]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {

            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/paths/~1v2~1task~1%7Btask_id%7D~1comment/get/responses/200/content/application~1json/schema"
                },
                "example": {
                  "comments": [
                    {
                      "id": "458",
                      "comment": [
                        {
                          "text": "Task comment content"
                        }
                      ],
                      "comment_text": "Task comment content",
                      "user": {
                        "id": 183,
                        "username": "John Doe",
                        "initials": "JD",
                        "email": "johndoe@gmail.com",
                        "color": "#827718",
                        "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                      },
                      "resolved": false,
                      "assignee": {
                        "id": 183,
                        "username": "John Doe",
                        "initials": "JD",
                        "email": "johndoe@gmail.com",
                        "color": "#827718",
                        "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                      },
                      "assigned_by": {
                        "id": 183,
                        "username": "John Doe",
                        "initials": "JD",
                        "email": "johndoe@gmail.com",
                        "color": "#827718",
                        "profilePicture": "https://attachments-public.clickup.com/profilePictures/183_abc.jpg"
                      },
                      "reactions": [],
                      "date": "1568036964079",
                      "reply_count": "0"
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "summary": "Create Threaded Comment",
        "tags": [
          "Comments"
        ],
        "description": "Create a threaded comment.",
        "operationId": "CreateThreadedComment",
        "parameters": [
          {
            "name": "comment_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "number",
              "contentEncoding": "double",
              "examples": [456]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/paths/~1v2~1task~1%7Btask_id%7D~1comment/post/requestBody/content/application~1json/schema"
              },
              "example": {
                "comment_text": "Task comment content",
                "assignee": 183,
                "group_assignee": "d01f92f-48ca-446d-88a1-0beb0e8f5f14",
                "notify_all": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {

            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "examples": [
                    {

                    }
                  ],
                  "contentMediaType": "application/json"
                },
                "example": {

                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v2/list/{list_id}/field": {
      "get": {
        "summary": "Get List Custom Fields",
        "tags": [
          "Custom Fields"
        ],
        "description": "View the Custom Fields you have access to in a specific List.",
        "operationId": "GetAccessibleCustomFields",
        "parameters": [
          {
            "name": "list_id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "number",
              "contentEncoding": "double",
              "examples": [123]
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "const": "application/json",
              "type": "string",
              "examples": [
                "application/json"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {

            },
[...]
