.tjdb-table-cell-edit-popover {
    min-width: 300px;
    height: auto;
    margin-top: 2px;
    inset: 0px auto auto -9px !important;
    &.jsonb-popover{
        min-width: 350px;
    }

    .tjdb-bool-cell-menu-badge-default {
        padding: 2px 12px;
        border-radius: 20px;
        background: var(--slate3);
        color: #687076;
        font-size: 14px;
        height: 26px;
        cursor: pointer;
        border: 1px solid transparent;
    }

    .boolean-state-selected {
        border-color: #3E63DD;
        background: var(--indigo3);
        color: #3E63DD;
    }

    .tjdb-cell-menu-shortcuts-info {
        display: flex;
        justify-content: center;
        width: 24px;
        border-radius: 4px;
        border: 1px solid #D7DBDF;
        padding: 4px;
        font-size: 8px;
        color: #889096;
    }

    .tjdb-cell-menu-shortcuts-text {
        font-size: 10px;
        color: #7E868C;
    }

    .cell-editmenu-keyActions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        .leftNav-parent-container,
        .rightNav-parent-container {
            border-radius: 6px;
            border: 1px solid var(--slate7);
            width: 24px;
            text-align: center;
        }
    }
}

.tjdb-foreignKeyAccess-container {
    border-radius: 4px;

    button {
        border-radius: 4px !important;

        .text-truncate {
            width: 90% !important;
            text-align: left !important;
        }

    }


}

.portal-container:has(.tjdb-dashboard-codehinter){
    .cm-editor{
        border-radius: 0 !important;
    }
    .tjdb-dashboard-codehinter{
        border: 1px solid var(--borders-disabled-on-white, #E4E7EB) ;
        border-width: 0px 1px 1px 1px !important;
        border-radius: 0px 0px 5px 5px;
    }
}
.tjdb-dashboard-codehinter-wrapper-cell{
    .cm-editor{
        max-height: 32px;
        border: 0;
    }
}

.tjdb-dashboard-codehinter-wrapper-cell{
    // display: none !important;
    .footer-component{
        display: none !important;
    }
    .tjdb-hinter-error{
        .cm-theme{
            border: 0 !important;
        }
    }
}
/* Apply a border to .tjdb-selected-cell if it contains both required nested elements */
.tjdb-selected-cell:has(.tjdb-dashboard-codehinter-wrapper-cell .tjdb-hinter-error) {
    border: 1px solid red !important; /* Add your desired border style */
}

.tjdb-dashboard-codehinter.custom-footer {
    background-color: var(--base);
    border: 1px solid var(--slate5);
}
.tjdb-table-cell-edit-popover,.tjdb-dashboard-codehinter.custom-footer{
    .tjdb-cell-hinter-invalid-syntax-header{
        background-color: var(--tomato3) !important;
        color: var(--tomato9) !important;
        font-size: 12px !important;
        padding: 5px;
    }
    .main-body{
        padding: 10px;
    }

}