.sql-columns-container {
  width: 100%;
}

.sql-column-row {
  margin-bottom: 8px;

  .codehinter-input {
    .cm-editor {
      // height: 30px !important;
      min-height: 30px !important;
      max-height: 100px !important;
      border-radius: 0 !important;
    }
  }

  .sql-column-end {
    .codehinter-input {
      .cm-editor {
        border-right: 0;
      }
    }
  }
}

.sql-column-value-wrapper {
  display: flex;
  align-items: center;
}

.sql-column-value-input {
  width: calc(100% - 35px);
}

.sql-column-delete-button {
  flex-shrink: 0;
  min-height: 30px !important;
  max-height: 100px !important;
}

.sql-column-add-button {
  margin-top: 8px;
}

.sql-column-add-button.no-columns-above {
  margin-top: 0;
}