  .add-new-btn {
        font-size: 14px;
        font-weight: 500;
        padding: 6px 16px;
        color: var(--slate12);
        border: 1px solid var(--slate7);
        $border-radius: 6px;
        background: white;
        width: 100%;
      }

    //   .add-new-btn:hover {
    //     color: $primary;
    //     background: #eef3f9;
    //     border-radius: 4px;
    //   }