  .add-new-btn {
    padding: 6px 16px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid var(--borders-default, #00ff22);
    color: var(--text-default, #ff0000) !important;
    width: 100%;
    margin: 16px auto 0px auto;
  }