.tj-toggle-label {
    margin-left: 8px;
}

.form-check-input:checked {
    background-color: var(--indigo9);
}

.form-check-input:hover{
    cursor: pointer;
}

.form-check>.form-check-input:not(:checked) {
    background-color: #ffffff;
}

.rest-api-toggle{
    display: flex !important;
}
.tj-text-wrapper{
    display: flex;
    flex-direction: column;
}
.tj-restapi-toggle-subtext{
    color: #6A727C;
}
