.tj-app-input {
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Sans';
    font-style: normal;

    label {
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        display: flex;
        align-items: center;
        color: var(--text-primary);
        margin-bottom: 4px;
    }

    input,
    textarea {
        gap: 16px;
        background: var(--input-box-fill-default);
        border: 1px solid var(--input-box-border-default);
        border-radius: 6px;
        margin-bottom: 4px;

        &:hover {
            background: var(--input-box-fill-hover);
            border: 1px solid var(--input-box-border-default);
            -webkit-box-shadow: none;
            box-shadow: none;
            outline: none;
        }

        &:focus-visible {
            background: var(--input-box-fill-default);
            border: 1px solid var(--input-box-border-default);
            outline: none;
        }

        &:active {
            background: var(--input-box-fill-clicked);
            border: 1px solid var(--input-box-fill-clicked-border);
            box-shadow: none;
        }
    }
}


.tj-sub-helper-text {
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
}

.tj-input-success {
    color: var(--grass10);
}

.tj-input-warning {
    color: var(--orange10);
}

.tj-input-helper {
    color: var(--text-secondary);
}

.tj-input-error {
    color: var(--tomato10);
}

.tj-input-error-state {
    border: 1px solid var(--tomato9);
}