.tj-app-card {
    min-width: 272px;
    min-height: 166px;
    box-shadow: 0px 1px 2px 0px #1018280D;
    display: flex;
    flex-direction: column;
    padding: 16px;
    background: #FFFFFF;
    border: 1px solid #F1F3F5;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 6px;
    position: relative;

    &:hover {
        img {
            width: 36px !important;
            height: 36px !important;
            margin-bottom: 12px !important;

        }

        .appcard-btn {
            display: block;
        }
    }

    img {
        padding: 8px;
        gap: 10px;
        width: 48px;
        height: 48px;
        margin-bottom: 32px;
        background: #F0F4FF;
        border-radius: 6px;
    }
}

.tj-app-card-menu {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
}

.tj-app-card-name {
    width: 169px;
    text-overflow: ellipsis;
    margin-bottom: 2px;
    color: #11181C;
}

.tj-app-card-time {
    color: #687076;
    margin-top: 2px;
}

.dashboard-card {
    width: 272px;
    height: 166px;
}

.tj-app-card-btn-wrap {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    width: 240px;
    margin-top: 12px;
}


.appcard-btn {
    height: 28px;
    border-radius: 6px;
    padding: 4px 16px 4px 16px;
    display: none;
}

.appcard-edit {
    width: 136px;
}

.appcard-launch {
    width: 92px;
    margin-left: 147px !important;
}