.tj-toggle-v2.form-check.form-switch {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 0;
}

.form-check-input.tj-toggle-switch {
  width: 28px !important;
  height: 16px !important;
}

.form-check-input:checked {
  background-color: var(--indigo9);
}

.form-check-input:hover {
  cursor: pointer;
}

.tj-toggle-v2 .text-wrappers {
  display: flex;
  flex-direction: column;
}

.tj-toggle-v2-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.tj-toggle-v2-helptext {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #6A727C;
  margin-top: 2px;
}