[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=ubuntu

WorkingDirectory=/home/ubuntu/app
Environment="RAILS_ENV=production"
EnvironmentFile=/home/ubuntu/app/.env
RestartSec=1
PIDFile=/home/ubuntu/app/tmp/pids/server.pid
ExecStart=/home/ubuntu/.rbenv/shims/puma -b tcp://0.0.0.0:3000
Restart=always

[Install]
WantedBy=multi-user.target
