[Unit]
Description=Redis Server
After=network.target

[Service]
WorkingDirectory=/usr/bin
EnvironmentFile=/home/ubuntu/app/.env
ExecStart=/usr/bin/redis-server /etc/redis/redis.conf
ExecReload=/bin/kill -USR2 $MAINPID
Restart=always
User=redis
Group=redis
ExecStop=/bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
Alias=redis.service
