{
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxSingleQuote": false,
  "printWidth": 120,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "proseWrap": "preserve"
}
