{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": true,
      "decorators": false,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "pragma": "React.createElement",
        "pragmaFrag": "React.Fragment",
        "throwIfNamespace": false,
        "development": false,
        "useBuiltins": false,
        "runtime": "automatic"
      }
    },
    "target": "es2022"
  },
  "module": {
    "type": "commonjs",
    "strict": false,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  }
}