.workflows-beta-tag {
    background-color: #3E63DD;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 8px;
    line-height: 12px;
    color: #FDFDFE;
    width: 30px;
    height: 16px;
}