.global-settings-panel {
	.leftsidebar-panel-header{
	padding: 16px;
	border-bottom: 1px solid var(--border-weak);
	}
	// .panel-header-container {
	// 	height: 32px;
	// }
	.field-name{
		color: var(--text-default);
		margin-bottom:  0px !important;
	}
	.tj-text-input{
		background: var(--controls-switch-tag, #CCD1D54D) !important;
		padding: 7px 8px !important;
		margin-bottom: 0px !important;
		border : none !important;
	}
	.maintenance-mode-container {
		label{
			font-weight: 500 !important;
		}
	}
}