.global-settings-panel {
	.leftsidebar-panel-header{
	padding: 16px;
	border-bottom: 1px solid var(--border-weak);
	}
	.field-name{
		color: var(--text-default);
		margin-bottom:  0px !important;
	}
	.tj-text-input{
		background: var(--controls-switch-tag, #CCD1D54D) !important;
		padding: 7px 8px !important;
		margin-bottom: 0px !important;
		border : none !important;
	}
	.maintenance-mode-container {
		label{
			font-weight: 500 !important;
		}
	}

	// Canvas Styles Accordion - remove bottom border from accordion body
	.canvas-styles-accordion-wrapper {
		.accordion-body {
			border-bottom: none !important;
		}
	}
	.border-weak{
		border-bottom: 1px solid var(--border-weak) !important;
	}

	.sidebar-panel-header {
		font-weight: 500;
		font-weight: medium;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0%;
		vertical-align: middle;
		color: var(--text-default)
	}
}