openapi: 3.0.3
servers:
  - url: https://api.smartsheet.com/2.0
  - url: https://api.smartsheet.eu/2.0
  - url: https://api.smartsheet.au/2.0
info:
  title: Smartsheet OpenAPI Reference
  version: 2.0.0
  contact:
    name: Support
    url: https://help.smartsheet.com/contact
  description: >
    Welcome to the OpenAPI reference documentation for the Smartsheet API!


    > **Important:**

    > * The Smartsheet API is restricted to users on Business and Enterprise
    plans

    > * The <a
    href="https://www.smartsheet.com/legal/developer-program-agreement"
    target="_blank" rel="noopener noreferrer">Developer Agreement</a> governs
    the use of the Smartsheet API and Smartsheet software development kits
    (SDKs)


    **QUICKLINKS**


    - **Base URL:**

        ```
        https://api.smartsheet.com/2.0/
        ```

    - **Getting started:** <a
    href="https://help.smartsheet.com/articles/2482389-generate-API-key"
    target="_blank" rel="noopener noreferrer">Generate an API access token</a>
    and [make a request](/api/smartsheet/guides/getting-started).


    - **Changelog:** See the latest [API updates](/api/smartsheet/changelog).


    - **Schemas:** View the [object schemas](/api/smartsheet/openapi/schemas)
    not explicitly listed in the resource sections.


    - **Error codes:** Look up common API [error
    codes](/api/smartsheet/error-codes).


    - **Guides:** Learn various ways of using the API with the help of our
    [Guides](/api/smartsheet/introduction).


    Browse the Smartsheet API operations by resource on the left and start
    building with the Smartsheet API!
tags:
  - name: alternateEmailAddress
    x-displayName: Alternate Email addresses
    description: >
      A User in Smartsheet must have a primary email address associated with

      their user account (User.email) and may optionally have one or more

      alternate email addresses associated with their account

      (User.alternateEmails). 


      > **Who can use these operations?**

      > 

      > - **Plans:** Only Enterprise and Advanced Work Management plans with
      this feature activated by Support can use this method. If you want to
      activate this feature, please contact Support.

      > - **Permissions:** System Admin


      The following operations must be performed using

      an user's primary email address:


      * Add Group Members

      * Add User

      * Create Update Request

      * Share Report

      * Share Sheet

      * Share Workspace


      Attempting to specify a user's alternate email address for any of the

      above operations results in an error.
  - name: attachments
    x-displayName: Attachments
    description: >
      Attachments can exist on a [comment](/api/smartsheet/openapi/comments)
      (that is,

      within a discussion), on a [row](/api/smartsheet/openapi/rows), or on a

      [sheet](/api/smartsheet/openapi/sheets).


      <h2>Post an Attachment</h2>


      Like the Smartsheet app, the Smartsheet API allows uploading files to

      sheets, rows, and comments.


      You can upload a file by performing either a simple upload or a multipart

      upload.



      A simple upload allows you

      to add a single file attachment to the specified object.


      For example, you can perform a simple upload to attach a file to a

      sheet, [attach a

      file to a
      row](/api/smartsheet/openapi/attachments/row-attachments-attachfile), or

      [attach a file to a

      comment](/api/smartsheet/openapi/attachments/attachments-attachtocomment).



      A multipart upload

      allows you to add a single file attachment to the specified object (that

      is, attach a file to a sheet, row, or comment), or to create an object and

      attach a file using a single request.


      For example, you can perform a multipart upload to [add a new

      comment](/api/smartsheet/openapi/comments/comments-create) that contains a
      single

      file attachment or to [add a new discussion to a

      sheet](/api/smartsheet/openapi/discussions/discussions-create) that
      contains a

      single file attachment.



      The max file size for uploads through the API is limited to 30mb.



      NOTE: This is a resource-intensive operation. If you encounter an error,

      see [Rate
      Limiting](/api/smartsheet/guides/advanced-topics/scalability-options).



      <h3>Multipart Uploads</h3>



      A multipart upload request must include the following HTTP headers:



      | Header | Description |

      | -----|-----|

      | **Content-Length** | The length of the request payload. |

      | **Content-Type** | Must be set to **multipart/form-data**, and include
      the

      boundary string that separates the parts in the request payload. |



      The request body of a multipart upload request contains one or more parts,

      each part containing either JSON or a file to upload.


      The request body must contain at least one part.


      Each part must start with the boundary string specified in the

      **Content-Type** request header, and must contain the following part

      headers:



      | Header | Description |

      | -----|-----|

      | **Content-Disposition** | Contains the following semicolon-delimited
      items:<ul><li>form-data</li><li>name='*partname*'</li><li>filename='*filename*'
      (only required for file parts)</li></ul>NOTE: Values specified in the
      Content-Disposition header must be URL-encoded. |

      | **Content-Type** | The content type of the part: **application/json**
      for JSON objects, or the applicable MIME type for file parts |



      The last part in the request must be followed by the boundary string,

      followed by two hyphens.



      The documentation for each operation that supports multipart uploads

      specifies the number and names of parts that are expected for the

      operation.


      File parts must have the part name "file", and documentation for

      operations which allow for JSON object parts specify the required part

      name for the JSON part.



      The following example shows a multipart upload request that creates a

      comment containing the specified text and file attachment:



      `POST

      https://api.smartsheet.com/2.0/sheets/4509093797881732/discussions/2889925487028100/comments`


      `Authorization: Bearer JKlMNOpQ12RStUVwxYZAbcde3F5g6hijklM789`


      `Content-Length: 29008`


      `Content-Type: multipart/form-data; boundary=----gU8h01zAAp3LagBr`



      `------gU8h01zAAp3LagBr`


      `Content-Disposition: form-data; name="comment"`


      `Content-Type: application/json`



      `{ "text": "Please review the attached image." }`


      `------gU8h01zAAp3LagBr`


      `Content-Disposition: form-data; name="file"; filename="picture.jpg"`


      `Content-Type: image/jpeg`



      *< Binary content for file >*


      `------gU8h01zAAp3LagBr--`



      NOTE: Most programming languages have libraries that can be used to

      assemble multipart requests.



      <h3>Simple Uploads</h3>



      To perform this kind of upload, you must set specific headers to tell

      Smartsheet about the file. The following three headers are required:



      Header | Description |

      -----|-----|

      **Content-Disposition** | **attachment** to tell the API that a file is in
      the body of the `POST` request, followed by a semicolon, followed by
      **filename=** and the URL-encoded filename in quotes

      **Content-Length** | Must be set to the size of the file, in bytes. For
      example to determine file size using in UNIX: <p>`$ ls -l
      ProgressReport.docx`<br/>`5463 ProgressReport.docx`</p>

      **Content-Type** | Can be left blank if it is not known (but must be
      present); Smartsheet makes its best guess based on the extension of the
      file.



      The following example request shows a simple upload that adds a file

      attachment to a sheet:



      `POST https://api.smartsheet.com/2.0/sheets/4509093797881732/attachments`


      `Authorization: Bearer JKlMNOpQ12RStUVwxYZAbcde3F5g6hijklM789`


      `Content-Disposition: attachment; filename="ProgressReport.docx"`


      `Content-Type: application/msword`


      `Content-Length: 5463`



      *< Binary content for file >*



      As shown in this example, the contents of the file is included in the body

      of the `POST` request. In most programming languages, this is done by

      reading the file from an input stream and writing it out to the output

      stream of the HTTP request.
  - name: automationRules
    x-displayName: Automation Rules
    description: >
      Automation is a catch-all term for approvals, notifications, and update

      requests. You can delete, update, or retrieve various automation settings

      through the API. You cannot create new automation rules programmatically.


      <h2>Disabled Reasons for Automation Rules</h2>


      Reason | Description |

      -----|-----|

      **APPROVAL_COLUMN_MISSING** | This rule's approval status column has been
      deleted.

      **APPROVAL_COLUMN_WRONG_TYPE** | The approval column must be a dropdown
      column.

      **AUTOMATION_NOT_ENABLED_FOR_ORG** | To create or edit automated actions,
      you need to upgrade your organization account to a Business or Enterprise
      plan.

      **COLUMN_MISSING** | A column referenced by this rule has been deleted.

      **COLUMN_TYPE_INCOMPATIBLE** | A column referenced by this rule has been
      changed to an incompatible column type.

      **NO_POTENTIAL_RECIPIENTS** | This rule has no recipients that will be
      able to receive notifications based on this sheet's permission settings or
      this account's approved domain sharing list.

      **NO_VALID_SELECTED_COLUMNS** | All selected columns for this rule have
      been deleted.
  - name: cellImages
    x-displayName: Cell Images
    description: |
      A cell image is an image that has been uploaded to a cell within a sheet.
  - name: cells
    x-displayName: Cells
    description: "A collection of cells comprises each row in a sheet.\n\n<h2>Cell Links</h2>\n\nCreating or updating cell links via the **cell.linkInFromCell** attribute is a special operation.\nA given row or cell update operation may contain only link updates, or no link updates.\nAttempting to mix row/cell updates with cell link updates results in error code 1115.\nAdditionally, a [CellLink object](/api/smartsheet/openapi/schemas/celllink) can only be added to an existing cell, so the **cell.linkInFromCell** attribute is not allowed when POSTing a new row to a sheet.\n\nWhen creating a cell link, **cell.value** must be null (the data is pulled from the linked cell).\n\nA cell may not contain both a hyperlink and a cell link, so **hyperlink** and **linkInFromCell** may never both be non-null at the same time.\n\n<h2>Cell Reference</h2>\n\n<h3>Cell Value Representation</h3>\n\n[Cell objects](/api/smartsheet/openapi/cells/cell) retrieved through the Smartsheet APIs have two main attributes representing cell values: **Cell.value**, and\n**Cell.displayValue**. A third attribute, **Cell.objectValue** is currently used only for adding and updating predecessors, or for multi-contact or multi-picklist details, such as email addresses or values in a multi-picklist. An empty cell returns no value.\n\n**Cell.displayValue** is always a string and is only returned for certain column types (see below).  It represents the formatted value as it should\nbe displayed to an end-user.  For example, if a TEXT_NUMBER column is formatted as a US Dollar currency, its **value** may be a number\nlike 1234.5678, but its **displayValue** is \"$1,234.57\".\n\n**Cell.value** represents a cell's raw value and can be one of the following primitive JSON types: string, number, or Boolean,\ndepending on the column type.  An empty cell returns no value. Complex types are represented as strings, formatted as described below:\n\n<a href=\"https://help.smartsheet.com/articles/765737-project-sheet-columns-start-date-end-date-duration-complete-and-predecessors\" target=\"_blank\" rel=\"noopener noreferrer\">Help with Project Columns</a>\n\nColumn Type | Possible Types for Cell.value | Returns Cell.displayValue?\n------------|-------------------------------|---------------------------\nABSTRACT_DATETIME | string: a project date and time in <a href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\" rel=\"noopener noreferrer\">ISO-8601</a> format, or a free-form text value.<br/>number: see [Dates and Times](/api/smartsheet/guides/basics/dates-and-times) for how to request dates to be returned as numbers. | No.\nCHECKBOX | Boolean: **true** if the checkbox is checked, **false** if unchecked, no value if the cell hasn't been touched yet.<br/>string: a free-form text value. | No.\nCONTACT_LIST | string: an email address representing a contact, or a free-form text value. | Yes: same as **value** for free-form strings; for contacts, the contact's name if any, else their email address.\nDATE | string: a date in <a href=\"https://en.wikipedia.org/wiki/ISO_8601\" target=\"_blank\" rel=\"noopener noreferrer\">ISO-8601</a> format, or a free-form text value.<br/>number: see [Dates and Times](/api/smartsheet/guides/basics/dates-and-times) for how to request dates to be returned as numbers. | No.\nDURATION | string: a duration value such as \"4d 6h 30m\" in the user's locale, or a free-form text value.<br/>See the <a href=\"https://help.smartsheet.com/articles/765727-enabling-dependencies-using-predecessors#toc-duration-and-predecessors\" target=\"_blank\" rel=\"noopener noreferrer\">Help Center</a> for more information on durations. | Yes: same as **value**\nMULTI_CONTACT_LIST | string: only visible when using a query parameter of **level** and the value appropriate to the dashboard, report, or sheet that you are querying, otherwise the column type is TEXT_NUMBER. | Yes: same as **value**; to see actual email addresses, see below.\nMULTI_PICKLIST | string: only visible when using a query parameter of **level** and the value appropriate to the dashboard, report, or sheet that you are querying, otherwise the column type is TEXT_NUMBER. | Yes: same as **value**; to see objectValue, see below.\nPICKLIST | string: one of the picklist's column options, or a free-form text value.<br/>number: numeric values | Yes: same as **value** for strings; for number values, the number with formatting applied.\nPREDECESSOR\t| string: a comma-delimited predecessor list such as \"12FS +3d 4h, 14SS\", or a free-form text value.<br/>See the <a href=\"https://help.smartsheet.com/articles/765727-enabling-dependencies-using-predecessors#toc-duration-and-predecessors\" target=\"_blank\" rel=\"noopener noreferrer\">Help Center</a> for more information on predecessors. | Yes: same as **value**\nTEXT_NUMBER\t| string: free-form text values<br/>number: numeric values | Yes: same as **value** for strings; for number values, the number with formatting applied.\n\n**Cell.objectValue** is an object representation of a cell's value and is currently used for adding or updating predecessor cell values, or for multi-contact details, such as email addresses.\n\n* For predecessors, it provides a more \"programmer friendly\" format for assembling predecessors. To update a cell's predecessors, set **objectValue** to a\n[PredecessorList object](/api/smartsheet/openapi/schemas/predecessorlist) containing [Predecessor objects](/api/smartsheet/openapi/schemas/predecessor).\n* For multi-contact or multi-picklist details, use both a level query parameter *and* an **include=objectValue** query to see email addresses rather than display names or to see multi-picklist values.\n\n<h3>Cell Value Parsing</h3>\n\nThe flexibility in cell value data types is a powerful feature in the Smartsheet application; however, it poses a challenge\nfor an API in terms of parsing. Being too flexible might result in unexpected behavior. For instance, if you write code\nto post a Date value to a Smartsheet and the API operation succeeds, you might assume that the date value you sent was interpreted\nas date. What happens if you posted your date in the wrong format? Do you really want Smartsheet to keep the malformed date\nas a string value? Probably not.\n\nTo address this problem, the Smartsheet API employs a simple scheme to indicate whether you want a more predictable and strict\ninterface or a more flexible one. By default, a cell value is expected to conform to \"strict\" rules for the type of the cell's column.\nIf an input value doesn't conform, the API returns [error code 1042](/api/smartsheet/error-codes).\n\nIf, however, you want the same flexibility as the Smartsheet Web app, you can disable the strict rules, and we'll do our best to make\nsense of it. To enable lenient parsing simply include **\"strict\": false** in the [Cell object](/api/smartsheet/openapi/cells/cell) in your request body.\n\nNOTE: How does strict cell value parsing compare to cell validation settings? Strict cell value parsing determines how string values are parsed. It is set on a per-call basis. In contrast, cell validation is part of the column definition. The <b>overrideValidation</b> property is restricted to sheet admins and does <i>not</i> override strict parsing.\n\nThe parsing rules for the various column types are as follows:\n\n**ABSTRACT_DATETIME**\n\nValue | Description |\n-----|-----|\n**lenient** | Smartsheet attempts to convert the string value to date using ISO 8601 date format, as well as several locale-specific date formats. If the value is a parsable date format, Smartsheet recognizes the date and stores it as such. All other values are simply text values.\n**strict** | The value must be a string value and a valid ISO 8601 date (YYYY-MM-DD). Alternatively, if Unix time (also known as epoch time) is used, you can use the query parameter of **numericDates** set to **true** to have Smartsheet convert epoch time to human readable dates. See [Dates and Times](/api/smartsheet/guides/basics/dates-and-times) for more information.\n\n**CHECKBOX**\n\nValue | Description |\n-----|-----|\n**lenient** | Boolean values and string values of **true** and **false** are handled the same as **strict**. All other values are saved as text values.\n**strict** | Only Boolean values (true or false) are valid.\n\n**CONTACT_LIST**\n\nValue | Description |\n-----|-----|\n**lenient** | If the value is a valid email address, Smartsheet handles it the same as **strict**. If not, Smartsheet saves the value as a text value.\n**strict** | The value must be a valid email address. If **displayValue** is set, Smartsheet uses that as the name; otherwise, if Smartsheet finds a match among the the access token owner's contacts, Smartsheet associates this cell with that existing contact.\n\nNOTE: See the [Contact List Columns](/api/smartsheet/openapi/cells) section for more information.\n\n**DATE**\n\nValue | Description |\n-----|-----|\n**lenient** | Smartsheet attempts to convert the string value to date using ISO 8601 date format, as well as several locale-specific date formats. If the value is a parsable date format, Smartsheet recognizes the date and stores it as such. All other values are simply text values.\n**strict** | The value must be a string value and a valid ISO 8601 date (YYYY-MM-DD). Alternatively, if Unix time (also known as epoch time) is used, you can use the query parameter of **numericDates** set to **true** to have Smartsheet convert epoch time to human readable dates. See [Dates and Times](/api/smartsheet/guides/basics/dates-and-times) for more information.\n\n**DURATION**\n\nValue | Description |\n-----|-----|\n**lenient** | Numeric values are treated as duration values in days. String values which are valid duration strings in the user's locale are treated as durations, and any other values are treated as free-form text values.\n**strict** | Only valid duration strings in the user's locale are valid. Information on duration strings can be found in the <a href=\"https://help.smartsheet.com/articles/765727-enabling-dependencies-using-predecessors#toc-duration-and-predecessors\" target=\"_blank\" rel=\"noopener noreferrer\">Help Center</a>.\n\nNOTE: You may use the query string parameter <b>projectParseLocale</b> with a [supported locale string](/api/smartsheet/openapi/serverinfo) to force parsing in the specified locale (for example, using <b>en_US</b> lets you send in English values regardless of the user's locale).\n\n**MULTI_CONTACT_LIST**\n\nValue | Description |\n-----|-----|\nN/A | Set using the **objectValue** attribute for the Cell object, which is inherently strict. See [Cell Reference](/api/smartsheet/openapi/cells).\n\n**MULTI_PICKLIST**\n\nValue | Description |\n-----|-----|\nN/A | Set using the **objectValue** attribute for the Cell object, which is inherently strict. See [Cell Reference](/api/smartsheet/openapi/cells).\n\n**PICKLIST**\n\nValue | Description |\n-----|-----|\n**lenient** | All numeric and text values are valid. Formatted numbers are parsed like TEXT_NUMBER formatted numbers.\n**strict** | The value must be a string and must be one of the options for the picklist.\n\n**PREDECESSOR**\n\nValue | Description |\n-----|-----|\nN/A | Set using the **objectValue** attribute for the Cell object, which is inherently strict. See [Cell Reference](/api/smartsheet/openapi/cells).\n\n**TEXT_NUMBER**\n\nValue | Description |\n-----|-----|\n**lenient** | All numeric and text values are valid. Formatted numbers passed as text values, such as currencies (\"$5,000\"), percentages (\"50%\"), or decimals (\"100.5\") are parsed to their numeric equivalents, based on the locale of the access token owner,  with the proper formatting enabled for the cell.\n**strict** | All numeric and text values are valid and are interpreted literally.\n\nNOTE: The Smartsheet application only supports numeric values in the range -9007199254740992 to 9007199254740992. If using strict parsing, any numeric value outside that range results in [error code 1148](/api/smartsheet/error-codes). If using lenient parsing, the value is silently converted to text.\n\n<h3>Contact List Columns</h3>\n\nWith columns of type **CONTACT_LIST**, the cell attributes **value** and **displayValue** are treated independently.\nThe contact's email address is represented by **value**, while the contact's name (and the value displayed in the cell in the Smartsheet app) is represented by **displayValue**.\n\nWhen creating or updating cells for a contact list column, the **displayValue** attribute works as follows:\n\n* If **displayValue** is non-null and non-empty, the Smartsheet cell displays the value provided.\n* If **displayValue** is an empty string, the Smartsheet cell displays the email address.\n* If **displayValue** is null or absent, Smartsheet makes a best guess effort at filling it in with a contact's name based on the email address.\n\n<h2>Hyperlinks</h2>\n\nYou can create and modify [hyperlinks](/api/smartsheet/openapi/schemas/hyperlink) by using any API operation that creates or updates cell data.\nWhen creating or updating a hyperlink, **cell.value** may be set to a string value or null.\nIf null, the cell's value is derived from the hyperlink:\n\n* If the hyperlink is a URL link, the cell's value is set to the URL itself.\n* If the hyperlink is a dashboard, report, or sheet link, the cell's value is set to the dashboard, report, or sheet name.\n\n<h3>Images in Cells</h3>\n\nFor details about working with images in cells, see [Cell Images](/api/smartsheet/openapi/cellimages).\n"
  - name: columns
    x-displayName: Columns
    description: "A column is a component of a sheet or report.\n\n<h2>Column Types</h2>\n\nSmartsheet supports the following standard column types, which are represented in a [Column](/api/smartsheet/openapi/columns/column) with a **type** attribute set to one of the following:\n\nColumn Type | Column.type Value | Notes |\n---|---|---|\nCheckbox \t\t| **CHECKBOX**\t\t| Checkbox, star, and flag types |\nContact List\t| **CONTACT_LIST**\t| List containing contacts or roles for a project. **Note:** You can use the [contactOptions](/api/smartsheet/openapi/schemas/contactoption) property to specify a pre-defined list of values for the column, which can also become lanes in card view. |\nContact List | **MULTI_CONTACT_LIST** | List where single cells can contain more than one contact. Only visible when using a query parameter of **level** and the value appropriate to the dashboard, report, or sheet that you are querying. To see email addresses behind the display names, combine an **include=objectValue** query parameter with a **level** query parameter. |\nDate\t\t\t| **DATE** |   |\nDate/Time \t\t| **ABSTRACT_DATETIME** | Represents a project sheet's start and end dates.<br/>**Only for dependency-enabled project sheets**<br/>The API does not support setting a column to this type. (This can only be done through the Smartsheet Web app when configuring a project sheet.) Additionally, the API does not support updating data in the \"End Date\" column under any circumstance, and does not support updating data in the \"Start Date\" column if \"Predecessor\" is set for that row. |\nDate/Time\t\t| **DATETIME**\t| Used only by the following system-generated columns: <ul><li>Created (Date) (**Column.systemColumnType** = **CREATED_DATE**)</li><li>Modified (Date) (**Column.systemColumnType** = **MODIFIED_DATE**)</li></ul> |\nDropdown List\t| **PICKLIST**\t| Custom, RYG, Harvey ball, priority types, etc. |\nDropdown List\t| **MULTI_PICKLIST**\t| List where single cells can contain more than one dropdown item. Only visible when using a query parameter of **level** and the value appropriate to the dashboard, report, or sheet that you are querying. To see multi-picklist values behind the display names, combine an **include=objectValue** query parameter with a **level** query parameter. |\nDuration\t\t| **DURATION**\t\t| **Only for dependency-enabled project sheets**<br/>The API does not support setting a column to this type. (This can only be done through the Smartsheet Web app when configuring a project sheet.) |\nPredecessor\t\t| **PREDECESSOR**\t| Defines what must happen first in a project flow. For more information, see the [Predecessor object](/api/smartsheet/openapi/schemas/predecessorlist). **Only for dependency-enabled project sheets** |\nText/Number\t\t| **TEXT_NUMBER**\t|   |\n\nNOTE: See the [Cell Reference](/api/smartsheet/openapi/cells) section for information on getting and setting cell values for the different column types.\n\n<h3>Symbol Columns</h3>\n\nIn addition to the basic column types above, the Smartsheet app also supports columns that display symbols. These are specialized columns of type **CHECKBOX** or **PICKLIST**,\nwhose **symbol** attribute is set to one of the values below:\n\n**Symbols for CHECKBOX columns:**\n\n![A flag symbol](./images/img_pl_flagc.png)\n\nValue | Example |\n-----|-----|\n**FLAG** | <img src=\"./images/img_pl_flagc.png\" alt=\"A flag symbol\" /> |\n**STAR** | <img src=\"./images/img_pl_starc.png\" alt=\"A star symbol\" /> |\n\n**Symbols for PICKLIST columns:**\n\nValue | Example |\n-----|-----|\n**ARROWS_3_WAY** | <img src=\"./images/img_pl_arrows3.png\" alt=\"An arrows_3_way symbol\" /> |\n**ARROWS_4_WAY** | <img src=\"./images/img_pl_arrows4.png\" alt=\"An arrows_4_way symbol\" /> |\n**ARROWS_5_WAY** | <img src=\"./images/img_pl_arrows5.png\" alt=\"An arrows_5_way symbol\" /> |\n**DECISION_SHAPES** | <img src=\"./images/img_pl_decisionshapes.png\" alt=\"A decision_shapes symbol\" /> |\n**DECISION_SYMBOLS** | <img src=\"./images/img_pl_decisionsymbols.png\" alt=\"A decision_symbols symbol\" /> |\n**DIRECTIONS_3_WAY** | <img src=\"./images/img_pl_directions3.png\" alt=\"A directions_3_way symbol\" /> |\n**DIRECTIONS_4_WAY** | <img src=\"./images/img_pl_directions4.png\" alt=\"A directions_4_way symbol\" /> |\n**EFFORT** | <img src=\"./images/img_pl_effort6Three.png\" alt=\"An effort symbol\" /> |\n**HARVEY_BALLS** | <img src=\"./images/img_pl_harvey5.png\" alt=\"A harvey_balls symbol\" /> |\n**HEARTS** | <img src=\"./images/img_pl_heart6Three.png\" alt=\"A hearts symbol\" /> |\n**MONEY** | <img src=\"./images/img_pl_money6Three.png\" alt=\"A money symbol\" /> |\n**PAIN** | <img src=\"./images/img_pl_pain6.png\" alt=\"A pain symbol\" /> |\n**PRIORITY** | <img src=\"./images/img_pl_priority.png\" alt=\"A priority symbol\" /> |\n**PRIORITY_HML** | <img src=\"./images/img_pl_priorityhml.png\" alt=\"A priority_hml symbol\" /> |\n**PROGRESS** | <img src=\"./images/img_pl_progress5Half.png\" alt=\"A progress symbol\" /> |\n**RYG** | <img src=\"./images/img_pl_ryg.png\" alt=\"An RYG symbol\" /> |\n**RYGB** | <img src=\"./images/img_pl_rygb.png\" alt=\"An RYGB symbol\" /> |\n**RYGG** | <img src=\"./images/img_pl_rygg.png\" alt=\"An RYGG symbol\" /> |\n**SIGNAL** | <img src=\"./images/img_pl_signal5.png\" alt=\"A signal symbol\" /> |\n**SKI** | <img src=\"./images/img_pl_difficulty4.png\" alt=\"A ski symbol\" /> |\n**STAR_RATING** | <img src=\"./images/img_pl_star6Three.png\" alt=\"A star_rating symbol\" />\n**VCR** | <img src=\"./images/img_pl_decisionvcr.png\" alt=\"A VCR symbol\" /> |\n**WEATHER** | <img src=\"./images/img_pl_weather5.png\" alt=\"A weather symbol\" /> |\n\nNOTE: The Smartsheet grid user interface presents several row attributes and features visually as columns, for example, attachments, discussions, row action indicator, or row number.  The API does not consider these to be columns, and does not return or otherwise expose them as columns.  The only columns returned by the API are user data columns.\n\n<h3>System Columns</h3>\n\nIn addition to the standard column types and symbols, Smartsheet has a number of system columns, which represent data that is\nfilled in by Smartsheet and whose values cannot be changed by the user. These columns are represented with standard\n[column types](/api/smartsheet/openapi/columns), with the [**Column.systemColumnType**](/api/smartsheet/openapi/columns/column) attribute set to one of the following:\n\nColumn.systemColumnType Value | Column Type | Notes\n-----|-----|-----|\n**AUTO_NUMBER** | TEXT_NUMBER | Columns of this system column type include an [AutoNumberFormat object](/api/smartsheet/openapi/schemas/autonumberformat) that describes the mask used to generate the value.\n**CREATED_BY**  | CONTACT_LIST\n**CREATED_DATE** | DATETIME\n**MODIFIED_BY** | CONTACT_LIST\n**MODIFIED_DATE** | DATETIME\n"
  - name: comments
    x-displayName: Comments
    description: >
      A discussion is a container for a number of individual comments in a

      threaded conversation. For more details, see the

      [Discussion](/api/smartsheet/openapi/discussions) section.



      This section describes operations on an *individual* comment within a

      discussion thread.



      * To retrieve all discussions and comments for an entire sheet, use [List

      Discussions](/api/smartsheet/openapi/discussions/discussions-list) with
      the query

      parameter **include=comments**.


      * To retrieve all discussions and comments associated with a row, use

      [List Row
      Discussions](/api/smartsheet/openapi/discussions/row-discussions-list)

      with the query parameter **include=comments**.


      A comment can contain one or more attachments.



      <h2>Comment Attachments</h2>



      For details about working with a comment's attachments, see

      [Attachments](/api/smartsheet/openapi/attachments).
  - name: contacts
    x-displayName: Contacts
    description: >
      A contact is a user's personal contact in Smartsheet (as described in the
      Help Center article, <a
      href="https://help.smartsheet.com/articles/796143-managing-contacts"
      target="_blank" rel="noopener noreferrer">Managing Contacts</a>.
  - name: crossSheetReferences
    x-displayName: Cross-sheet References
    description: >
      To create a formula that references data in another sheet, you must first
      create a cross-sheet

      reference between the detail sheet and the source sheet. That reference
      must also define the cell range.

      Once you have created the cross-sheet reference, you can use the reference
      name in any formula on the detail sheet.

      To create the formula, use Add Rows or Update Rows. Cross-sheet references
      that are not used by any formula are

      automatically deleted after two hours.
  - name: dashboards
    x-displayName: Dashboards
    description: >
      Smartsheet dashboards are a collection of widgets that can contain data
      from a variety of different data sources (for example, sheets, reports, or
      custom data). Dashboards were once called Sights(TM) and this name is
      still present in object names, endpoint paths, and other places.
  - name: discussions
    x-displayName: Discussions
    description: >
      A discussion is a container for a collection of individual
      [comments](/api/smartsheet/openapi/comments) within a single thread. A
      discussion can exist on a [row](/api/smartsheet/openapi/rows) or a
      [sheet](/api/smartsheet/openapi/sheets).


      In the UI, Smartsheet creates a discussion to contain each top-level
      comment and subsequent replies into a single thread.


      Using the API, you can only add a comment to a discussion. If the
      discussion doesn't already exist, you must create it first.

      A discussion is a collection of one or more comments, each of which may
      contain attachments.


      <h2>Discussion Attachments</h2>


      For details about working with the attachments within a discussion, see
      [Attachments](/api/smartsheet/openapi/attachments).

      <h2>Discussion Comments</h2>


      For details about working with a discussion's comments, see
      [Comments](/api/smartsheet/openapi/comments).
  - name: events
    x-displayName: Events
    description: >
      Smartsheet uses event objects to capture actions such as creating,
      updating, loading, deleting, and more for items such as sheets, reports,
      dashboards, attachments, and users. With **Event Reporting**, you can use
      the operations described here to programmatically retrieve these events.


      > **Note:** Event Reporting is a premium add-on available for Enterprise
      and Advanced Work Management plans only. For details on the add-on, please
      contact our <a href="https://www.smartsheet.com/contact/sales"
      target="_blank" rel="noopener noreferrer">Sales Team</a>.


      <h2>Event types</h2>


      All events derive from the [Event](/api/smartsheet/openapi/events/event)
      schema. Each event type overrides Event's `objectType` and `action`
      properties with its specific object type and a typical action performed on
      that object. Furthermore, each event type's `additionalDetails` object has
      properties specific to the event type.


      See [Event types](/api/smartsheet/event-types.md) for the complete event
      listing, details, and example objects.


      <h2>System users</h2>


      System components perform some actions in Smartsheet. Therefore,

      the `userId` property in some response payloads refers to a system
      user--not to a regular user. For example, the Smartsheet Events API shows

      5629504736520068 as the `userId` when an anonymous user accesses a sheet

      that is published for anyone.


      The system users are listed below. New system `userIds` may be

      incorporated to this list as new features and subsystems are incorporated

      to Smartsheet:


      System user | Description |

      -----|-----|

      1688855062570884 | Data accessed/modified by Skype action (only possible
      if Smartsheet account is connected to Skype) |

      2814754969413508 | Data accessed/modified by Trello import action (only
      possible if Smartsheet account is connected to Trello) |

      3377704922834820 | Data accessed/modified due to Smartsheet cell-link |

      3940654876256132 | Data accessed/modified by the Smartsheet Automation
      system |

      5066554783098756 | Access to object published to any user in the
      Smartsheet organization account |

      5629504736520068 | Access to Smartsheet object published to anyone |

      6192454689941380 | Data accessed/modified by the Smartsheet Notification
      system |

      7881304550205316 | Data accessed/modified by Smartsheet Form submission |
  - name: favorites
    x-displayName: Favorites
    description: >
      Smartsheet allows users to "star" dashboards, folders, reports, sheets,
      workspaces, and other objects on their Home tab to mark them as favorites.

      These API operations allow you to access the user's favorite API-supported
      objects, as well as create and delete favorites.

      NOTE: For documentation purposes, "favoriteType" is a placeholder ENUM for
      the various types of UI elements you can flag as a favorite. In sample
      code, when you see "{favoriteType}", just replace it with one of the
      following values:

      * dashboard or dashboards (aka Sight or Sights)

      * folder or folders

      * report or reports

      * sheet or sheets

      * template or templates

      * workspace or workspaces
  - name: folders
    x-displayName: Folders
    description: >
      A folder can exist in a user's **Sheets** folder
      [Home](/api/smartsheet/openapi/home), in a
      [folder](/api/smartsheet/openapi/folders), or in a
      [workspace](/api/smartsheet/openapi/workspaces).
  - name: groupMembers
    x-displayName: Group Members
    description: >
      A group member is a user that belongs to a
      [group](/api/smartsheet/openapi/groups).
  - name: groups
    x-displayName: Groups
    description: >
      A group is a collection of [group
      members](/api/smartsheet/openapi/groupmembers).
  - name: home
    x-displayName: Home
    description: >
      In the Smartsheet UI, the "Home" tab shows all objects a user has access
      to, including dashboards (also called Sights in the API), folders,
      reports, sheets, templates, and workspaces.

      > **Note:** The GET /home endpoint is deprecated. Use GET
      /folders/personal to get shared items and GET /workspaces/ to get
      workspaces.

      <h2>Home Folders</h2>


      For details about working with folders in the user's **Sheets** folder
      (that is, at the Home level), see
      [Folders](/api/smartsheet/openapi/folders).


      <h2>Home Sheets</h2>


      For details about working with sheets in the user's **Sheets** folder
      (that is, at the Home level), see
      [Sheets](/api/smartsheet/openapi/sheets).
  - name: imports
    x-displayName: Imports
    description: |
      Import CSV or XLSX data into a new sheet.
  - name: proofs
    x-displayName: Proofs
    description: >
      A proof is a container that holds attachments and comments. Limited to one
      proof and its versions per row.

      A sheet can have multiple proofs.
  - name: reports
    x-displayName: Reports
    description: >
      A report is a filtered view of the data from one or more sheets. Like a
      sheet, a report is comprised of columns, rows, and cells, and may
      optionally contain attachments and discussions.


      <h2>Related content</h2>


      The [Create a report from multiple
      sheets](/api/smartsheet/guides/reports/create-a-report.md) guide shows how
      to create a row report based on multiple task sheets.


      The following component sections provide details on working with report
      components:


      - [Attachments](/api/smartsheet/openapi/attachments)

      - [Cells](/api/smartsheet/openapi/cells)

      - [Columns](/api/smartsheet/openapi/columns)

      - [Discussions](/api/smartsheet/openapi/discussions)

      - [Rows](/api/smartsheet/openapi/rows)
  - name: rows
    x-displayName: Rows
    description: "A row is a component of a sheet or report. Each row is composed of a\ncollection of cells, and may optionally contain discussions or\nattachments.\n\nA row is comprised of a collection of cells, and may optionally contain attachments and discussions.\n\n<h2>Row Attachments</h2>\n\nFor details about working with a row's attachments, see [Attachments](/api/smartsheet/openapi/attachments).\n\n<h2>Row Cells</h2>\n\nFor details about working with a row's cells, see [Cells](/api/smartsheet/openapi/cells).\n\nFor details about working with images in cells, see [Cell Images](/api/smartsheet/openapi/cellimages).\n\n<h2>Row Discussions</h2>\n\nFor details about working with a row's discussions, see [Discussions](/api/smartsheet/openapi/discussions).\n\n<h2>Row Include Flags</h2>\n\nEndpoints which return rows (for example, [Get Sheet](/api/smartsheet/openapi/sheets/getsheet), [Get Row](/api/smartsheet/openapi/rows/row-get)) support the optional **include** query string parameter. If specified, the value of the **include** parameter is\na comma-delimited list of flags that indicate additional attributes to be included in each [Row object](/api/smartsheet/openapi/rows/row) within the response.\n\nInclude Flag | Description |\n-------------|-------|\n**attachments**\t| Includes row **attachments** array.<br/>To include discussion attachments, both **attachments** and **discussions** must be present in the include list.\n**columnType**\t| Includes **columnType** attribute in the row's [cells](/api/smartsheet/openapi/cells/cell) indicating the type of the column the cell resides in.\n**discussions**\t| Includes row **discussions** array.<br/>To include discussion attachments, both **attachments** and **discussions** must be present in the include list.\n**filters**\t\t| Includes **filteredOut** attribute indicating if the row should be displayed or hidden according to the sheet's filters.\n**format**\t\t| Includes **format** attribute on the row, its cells, or summary fields.  See [Cell formatting](/api/smartsheet/guides/advanced-topics/cell-formatting).\n**objectValue** | Includes **objectValue** attribute on cells containing values. For more information see [Cell Reference](/api/smartsheet/openapi/cells).\n**proofs** | Includes row **proof** object containing proof information associated with the row. For more information see [Proof](/api/smartsheet/openapi/proofs/proof).\n**rowPermalink** | Includes **permalink** attribute that represents a direct link to the [row](/api/smartsheet/openapi/rows/row) in the Smartsheet application.\n**rowWriterInfo** | **DEPRECATED** Includes **createdBy** and **modifiedBy** attributes on the row, indicating the row's creator, and last modifier.\n**writerInfo** | Includes **createdBy** and **modifiedBy** attributes on the row or summary fields, indicating the row or summary field's creator, and last modifier.\n\n<h2>Specify Row Location</h2>\n\nWhen you [add a row](/api/smartsheet/openapi/rows/rows-addtosheet), the default behavior is for Smartsheet to put the new row at the bottom of the sheet. And when you [update a row](/api/smartsheet/openapi/rows/update-rows), the default behavior is to keep the row where it is. It is not necessary to use a location-specifier attribute if you want the default behavior.\n\nTo specify a location for new or updated rows other than the defaults, use the table below for reference. The table details possible row locations and provides JSON examples to help you construct one or more [Row objects](/api/smartsheet/openapi/rows/row) with location-specifier attributes.\n\nNote the following restrictions:\n\n* Use only one location-specifier attribute per request, unless you use **parentId** and **toBottom** or **siblingId** and **above**.\n* If you specify multiple rows in the request, all rows must have the same location-specifier attributes.\n* If you specify the **parentId** attribute, you cannot also specify the **siblingId** attribute.\n* If you specify the **siblingId** attribute, you cannot also specify the **parentId**, **toTop**, or **toBottom** attributes.\n* If you want to indent or outdent multiple rows, use the **parentId** attribute.\n\nDestination | Row Attributes | Examples |\n-------|--------|--------|\nTop of a sheet | **toTop** | ```{\"toTop\": true}```\nBottom of a sheet | **toBottom** | ```{\"toBottom\": true}```\nTop of an indented section a.k.a., first child row | **parentId** | ```{\"parentId\": 8896508249565060}```\nBottom of an indented section a.k.a., last child row | **parentId** +<br/>**toBottom** | ```{\"parentId\": 8896508249565060, \"toBottom\": true}```\nBelow a specific row, at the same indent level | **siblingId** | ```{\"siblingId\": 8896508249565060}```\nAbove a specific row, at the same indent level | **siblingId** +<br/>**above** | ```{\"siblingId\": 8896508249565060, \"above\": true}```\nIndent one existing row, must have a value of \"1\" | **indent** | ```{\"indent\": 1}```\nOutdent one existing row, must have a value of \"1\" | **outdent** | ```{\"outdent\": 1}```\n"
  - name: search
    x-displayName: Search
    description: >
      Search a specific sheet or search across all sheets that a user can
      access. If you have not used the public API in a while, we will need to
      provision your data. This could take up to 24 hours so please check back
      later!
  - name: sendViaEmail
    x-displayName: Send via Email
    description: >
      The methods for sending via email rely on the type of object you want to
      send.


      <h2>Send Report</h2>


      For details about sending a report via email, see [Send Report via
      Email](/api/smartsheet/openapi/reports/sendreportviaemail).


      <h2>Send Rows</h2>


      For details about sending rows via email, see [Send Rows via
      Email](/api/smartsheet/openapi/rows/rows-send).


      <h2>Send Sheet</h2>


      For details about sending a sheet via email, see [Send Sheet via
      Email](/api/smartsheet/openapi/sheets/sheet-send).


      <h2>Send Update Request</h2>


      For details about sending an update request via email, see [Create an
      Update
      Request](/api/smartsheet/openapi/updaterequests/updaterequests-create).
  - name: serverInfo
    x-displayName: Server Info
    description: >
      For developer convenience, the Smartsheet API provides access to
      application constants.
  - name: sharing
    x-displayName: Sharing
    description: >
      Use the *Sharing* operations to control sharing of dashboards, reports,
      sheets, and workspaces.
  - name: sheetSummary
    x-displayName: Sheet Summary
    description: >
      A sheet summary allows users to define, organize, and report on custom
      project and business metadata. Sheet summary is only available to
      customers with business or enterprise plans.
  - name: sheets
    x-displayName: Sheets
    description: >
      A sheet can exist in a user's **Sheets** folder

      ([Home](/api/smartsheet/openapi/home)), in a
      [folder](/api/smartsheet/openapi/folders), or

      in a [workspace](/api/smartsheet/openapi/workspaces). It is comprised of
      columns,

      rows, and cells, and may optionally contain attachments and discussions.


      A sheet is comprised of columns, rows, and cells, and may optionally

      contain attachments and discussions.



      <h2>Sheet Attachments</h2>



      For details about working with a sheet's attachments, see

      [Attachments](/api/smartsheet/openapi/attachments).



      <h2>Sheet Cells</h2>



      For details about working with a sheet's cells, see

      [Cells](/api/smartsheet/openapi/cells).



      For details about working with images in cells, see [Cell

      Images](/api/smartsheet/openapi/cellimages).



      <h2>Sheet Columns</h2>



      For details about working with a sheet's columns, see

      [Columns](/api/smartsheet/openapi/columns).



      <h2>Sheet Discussions</h2>



      There are two ways to get discussion-related information for a sheet:



      Operation | Returns

      ----------|----------|

      [Get Sheet](/api/smartsheet/openapi/sheets/getsheet)<br/>(with **include**
      parameter value **discussions**) | Response does not contain the comments

      that comprise each discussion.

      [List
      Discussions](/api/smartsheet/openapi/discussions/discussions-list)<br/>(with
      **include** parameter value **comments**) |  Response contains the
      comments that comprise each discussion.



      For more information about working with a sheet's discussions, see

      [Discussions](/api/smartsheet/openapi/discussions).



      <h2>Sheet Rows</h2>



      For details about working with a sheet's rows, see

      [Rows](/api/smartsheet/openapi/rows).
  - name: tokens
    x-displayName: Tokens
    description: >
      The Smartsheet API utilizes OAuth 2.0 for authentication and
      authorization. An Authorization HTTP header containing an access token is
      required to authenticate all API requests except for the requests to GET
      Access Token or Refresh Access Token. For more information, see
      Authentication.
  - name: updateRequests
    x-displayName: Update Requests
    description: >
      Send update requests to get updated by any collaborator on key rows,
      regardless of whether they have a Smartsheet account or are shared to the
      sheet.
  - name: users
    x-displayName: Users
    description: >
      The users API supports user CRUD operations, seat type operations, and
      activation/deactivation operations.


      > **Note:** Users are typically defined by the organization account, and
      then role

      within the organization, for example admin.


      <h2>Users guides</h2>


      To learn more about user-related resources and how to manage them, see the
      [Users guide articles](/api/smartsheet/guides/users), including the
      [Automate user seat type
      management](/api/smartsheet/guides/users/automate-user-seat-type-management.md)
      guide.
  - name: webhooks
    x-displayName: Webhooks
    description: >
      Smartsheet webhooks are powerful tools for building custom integrations
      and automating processes. Instead of constantly polling for changes, with
      webhooks you can configure your applications to receive real-time
      notifications when specific Smartsheet events occur.


      <h2>Webhooks guides</h2>


      To learn more about Smartsheet webhooks in general, start with these
      [Webhooks guide](/api/smartsheet/guides/webhooks) articles:


      - [Webhooks overview](/api/smartsheet/guides/webhooks.md)

      - [Create an event-handling
      endpoint](/api/smartsheet/guides/webhooks/create-an-event-handling-endpoint.md)

      - [Launch a webhook](/api/smartsheet/guides/webhooks/launch-a-webhook.md)

      - [Webhook
      callbacks](/api/smartsheet/guides/webhooks/webhook-callbacks.md)

      - [Webhook
      verification](/api/smartsheet/guides/webhooks/webhook-verification.md)

      - [Webhook access](/api/smartsheet/guides/webhooks/webhook-access.md)


      <h2>Resource-specific guides</h2>


      To dive into webhooks on a specific resource, check out these guides:


      - [Sheet webhooks](/api/smartsheet/guides/webhooks.md)

      - [User / plan-level
      webhooks](/api/smartsheet/guides/users/automate-user-seat-type-management.md)


      Continue on to dive into webhook object schemas and operations.
  - name: workspaces
    x-displayName: Workspaces
    description: >
      Similar to a folder, a workspace is a place where you can store
      dashboards, reports, sheets, and templates to keep them organized. A
      workspace offers more functionality than a folder because you can set up
      sharing permissions and branding (a logo and a color scheme) at the
      workspace-level and a workspace can contain folders so that you can keep
      things within it organized. As new items are added to the workspace,
      they'll automatically inherit the sharing permissions and branding applied
      to that workspace.

      <h2>Workspace Folders</h2>


      For details about working with folders in a workspace, see
      [Folders](/api/smartsheet/openapi/folders).


      <h2>Workspace Sheets</h2>


      For details about working with sheets in a workspace, see
      [Sheets](/api/smartsheet/openapi/sheets).
paths:
  /contacts:
    parameters:
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/smartsheetIntegrationSourceHeader'
    get:
      operationId: list-contacts
      summary: List contacts
      description: >
        Gets a list of the user's Smartsheet contacts.


        > **Note:** For pagination guidance, refer to
        [Pagination](/api/smartsheet/guides/basics/pagination).
      tags:
        - contacts
      security:
        - APIToken: []
        - OAuth2:
            - READ_CONTACTS
      parameters:
        - $ref: '#/components/parameters/includeAll'
        - $ref: '#/components/parameters/modifiedSince'
        - $ref: '#/components/parameters/numericDates'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: >
            IndexResult object containing an array of Contact objects.


            **Note:** For pagination guidance, refer to
            [Pagination](/api/smartsheet/guides/basics/pagination).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/IndexResult'
                  - type: object
                    properties:
                      data:
                        description: List of Contacts
                        type: array
                        items:
                          $ref: '#/components/schemas/Contact'
        '401':
          $ref: '#/components/responses/401'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
      x-codeSamples:
        - lang: C# SDK
          label: C# SDK
          source: >
            // Note: SDK object attribute names may differ from the REST API's.

            // Omit pagination parameters

            PaginatedResult<Contact> contacts =
            smartsheet.ContactResources.ListContacts(
              null                // PaginationParameters
            );
        - lang: cURL
          label: cURL
          source: |
            curl https://api.smartsheet.com/2.0/contacts \
            -H "Authorization: Bearer JKlMNOpQ12RStUVwxYZAbcde3F5g6hijklM789"
        - lang: Java SDK
          label: Java SDK
          source: >
            // Note: SDK object attribute names may differ from the REST API's.

            // Omit pagination parameters

            PagedResult<Contact> contacts =
            smartsheet.contactResources().listContacts(
                    null        // PaginationParameters
                    );
        - lang: JavaScript SDK
          label: JavaScript SDK
          source: |
            // Note: SDK object attribute names may differ from the REST API's.
            smartsheet.contacts.listContacts({})
              .then(function(contactsList) {
                console.log(contactsList);
              })
              .catch(function(error) {
                console.log(error);
              });
        - lang: Python SDK
          label: Python SDK
          source: >
            # Note: SDK object attribute names may differ from the REST API's.

            # Sample 1: List all

            response =
            smartsheet_client.Contacts.list_contacts(include_all=True)

            contacts = response.data


            # Sample 2: Paginate the list (100 contacts per page)

            response = smartsheet_client.Contacts.list_contacts(
              page_size=100,
              page=1)
            pages = response.total_pages

            contacts = response.data
  /contacts/{contactId}:
    parameters:
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/smartsheetIntegrationSourceHeader'
      - $ref: '#/components/parameters/contactId'
    get:
      summary: Get contact
      description: Gets the specified contact.
      operationId: get-contact
      tags:
        - contacts
      security:
        - APIToken: []
        - OAuth2:
            - READ_CONTACTS
      parameters:
        - $ref: '#/components/parameters/contactInclude'
      responses:
        '200':
          description: Returns Contact object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contact'
        default:
          description: Generic Error Payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codeSamples:
        - lang: C# SDK
          label: C# SDK
          source: |
            // Note: SDK object attribute names may differ from the REST API's.
            Contact contact = smartsheet.ContactResources.GetContact(
              "AAAAATYU54QAD7_fNhTnhA"      // string contactId
            );
        - lang: cURL
          label: cURL
          source: |
            curl https://api.smartsheet.com/2.0/contacts/{contactId} \
            -H "Authorization: Bearer JKlMNOpQ12RStUVwxYZAbcde3F5g6hijklM789"
        - lang: Java SDK
          label: Java SDK
          source: |
            // Note: SDK object attribute names may differ from the REST API's.
            Contact contact = smartsheet.contactResources().getContact(
                    "AAAAATYU54QAD7_fNhTnhA"      // string contactId
                    );
        - lang: JavaScript SDK
          label: JavaScript SDK
          source: |
            // Note: SDK object attribute names may differ from the REST API's.
            // Set options
            var options = {id: "AAAAATYU54QAD7_fNhTnhA"};

            // Get contact
            smartsheet.contacts.getContact(options)
              .then(function(contact) {
                console.log(contact);
              })
              .catch(function(error) {
                console.log(error);
              });
        - lang: Python SDK
          label: Python SDK
          source: |
            # Note: SDK object attribute names may differ from the REST API's.
            contact = smartsheet_client.Contacts.get_contact(
              'AAAAATYU54QAD7_fNhTnhA')       # contact_id
  /events:
    parameters:
      - $ref: '#/components/parameters/smartsheetIntegrationSourceHeader'
    get:
      operationId: list-events
      summary: List events
      description: >
        Fetches events for System Admin users. This includes actions such as
        creating, updating, loading, deleting, and more of items such as sheets,
        reports, dashboards, attachments, and users in your Smartsheet
        organization account.


        See [Event types](/api/smartsheet/event-types.md) for the complete event
        listing, details, and example objects.


        > **Who can use this operation?**

        > 

        > - **Plans:** Requires the Event Reporting premium add-on available for
        Enterprise and Advanced Work Management plans only.

        > - **Permissions:** System Admin


        > **Note:** You must specify exactly one of the query parameters `since`
        or `streamPosition`. Both are optional individually, but one is
        required.
      tags:
        - events
      security:
        - APIToken: []
        - OAuth2:
            - READ_EVENTS
      parameters:
        - $ref: '#/components/parameters/Accept-Encoding'
        - $ref: '#/components/parameters/Authorization'
        - name: since
          in: query
          description: >
            The earliest time from which events are included in the response.
            Events before this time are excluded.


            This parameter is required if `streamPosition` is not used.


            The date-time value is resolved to the nearest hour. The value is
            interpreted as ISO-8601 format, unless `numericDates` is specified
            (see details about `numericDates` below).


            **Important:** To keep event responses manageable and prevent
            timeouts, also specify the `to` query parameter.


            **Important:** This parameter is intended for use when backfilling
            data at client startup or recovery--don't use it for fine-grained,
            date-based queries.
          schema:
            type: string
            format: date-time
          required: false
        - name: to
          in: query
          description: >
            The latest time up to which events are included in the response.
            Events after this time are excluded.


            This parameter requires using the `since` parameter. 


            The date-time value is resolved to the nearest hour. The value is
            interpreted as ISO-8601 format, unless `numericDates` is specified
            (see details about `numericDates` below).


            Logic:


            - If `to` is a future time, the current time is used.

            - If `to` equals the `since` time, an empty data value is returned.

            - If `to` is before the `since` time, a validation error is
            returned.


            **Important:** This parameter is intended for use when backfilling
            data at client startup or recovery--don't use it for fine-grained,
            date-based queries.
          schema:
            type: string
            format: date-time
          required: false
        - name: streamPosition
          in: query
          description: |
            Indicates next set of events to return. Use value of
            `nextStreamPosition` returned from the previous call.

            This parameter is required if `since` is not used.
          schema:
            type: string
            example: XyzAb1234cdefghijklmnofpq
          required: false
        - name: maxCount
          in: query
          description: |-
            Maximum number of events to return as response to this call.
            Must be between 1 through 10,000 (inclusive).
            Defaults to 1,000 if not specified.
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 10000
            default: 1000
          required: false
        - name: numericDates
          in: query
          description: |
            If `true`, dates are accepted and returned in Unix epoch time
            (milliseconds since midnight on January 1, 1970 in UTC time).

            Default is `false`, which means ISO-8601 format.
          schema:
            type: boolean
            default: false
          required: false
        - name: managedPlanId
          in: query
          description: >
            The target managed plan for which to list events. Authorized if the

            caller is a system administrator on either the target managed plan
            or

            the main plan in EPM hierarchy.
          schema:
            type: number
          required: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/StreamResult'
                  - type: object
                    properties:
                      data:
                        description: List of Events
                        type: array
                        items:
                          anyOf:
                            - $ref: '#/components/schemas/Accesstoken_Authorize'
                            - $ref: '#/components/schemas/Accesstoken_Refresh'
                            - $ref: '#/components/schemas/Accesstoken_Revoke'
                            - $ref: '#/components/schemas/Account_BulkUpdate'
                            - $ref: >-
                                #/components/schemas/Account_DownloadLoginHistory
                            - $ref: >-
                                #/components/schemas/Account_DownloadPublishedItemsReport
                            - $ref: >-
                                #/components/schemas/Account_DownloadSheetAccessReport
                            - $ref: '#/components/schemas/Account_DownloadUserList'
                            - $ref: '#/components/schemas/Account_ImportUsers'
                            - $ref: '#/components/schemas/Account_ListSheets'
                            - $ref: '#/components/schemas/Account_Rename'
                            - $ref: '#/components/schemas/Account_UpdateMainContact'
                            - $ref: '#/components/schemas/Attachment_Create'
                            - $ref: '#/components/schemas/Attachment_Delete'
                            - $ref: '#/components/schemas/Attachment_Load'
                            - $ref: '#/components/schemas/Attachment_Send'
                            - $ref: '#/components/schemas/Attachment_Update'
                            - $ref: >-
                                #/components/schemas/Authentication_Activate_Domain_Strict
                            - $ref: >-
                                #/components/schemas/Authentication_Activate_Email_Based_Totp
                            - $ref: >-
                                #/components/schemas/Authentication_Activate_Mfa_Email_Based_Totp
                            - $ref: >-
                                #/components/schemas/Authentication_Activate_Mfa_Sysadmin_Totp_Fallback
                            - $ref: >-
                                #/components/schemas/Authentication_Activate_Saml_Idp_Config
                            - $ref: >-
                                #/components/schemas/Authentication_Activate_Sysadmin_Totp_Fallback
                            - $ref: '#/components/schemas/Authentication_Add_Saml_Idp'
                            - $ref: >-
                                #/components/schemas/Authentication_Deactivate_Domain_Strict
                            - $ref: >-
                                #/components/schemas/Authentication_Deactivate_Email_Based_Totp
                            - $ref: >-
                                #/components/schemas/Authentication_Deactivate_Mfa_Email_Based_Totp
                            - $ref: >-
                                #/components/schemas/Authentication_Deactivate_Mfa_Sysadmin_Totp_Fallback
                            - $ref: >-
                                #/components/schemas/Authentication_Deactivate_Saml_Idp_Config
                            - $ref: >-
                                #/components/schemas/Authentication_Deactivate_Sysadmin_Totp_Fallback
                            - $ref: >-
                                #/components/schemas/Authentication_Delete_Saml_Idp
                            - $ref: '#/components/schemas/Authentication_Login'
                            - $ref: '#/components/schemas/Authentication_Logout'
                            - $ref: >-
                                #/components/schemas/Authentication_Update_Saml_Idp
                            - $ref: '#/components/schemas/Dashboard_AddPublish'
                            - $ref: '#/components/schemas/Dashboard_AddShare'
                            - $ref: '#/components/schemas/Dashboard_AddShareMember'
                            - $ref: '#/components/schemas/Dashboard_AddWorkspaceShare'
                            - $ref: '#/components/schemas/Dashboard_Create'
                            - $ref: '#/components/schemas/Dashboard_Delete'
                            - $ref: '#/components/schemas/Dashboard_Load'
                            - $ref: '#/components/schemas/Dashboard_Move'
                            - $ref: '#/components/schemas/Dashboard_Purge'
                            - $ref: '#/components/schemas/Dashboard_RemovePublish'
                            - $ref: '#/components/schemas/Dashboard_RemoveShare'
                            - $ref: '#/components/schemas/Dashboard_RemoveShareMember'
                            - $ref: >-
                                #/components/schemas/Dashboard_RemoveWorkspaceShare
                            - $ref: '#/components/schemas/Dashboard_Rename'
                            - $ref: '#/components/schemas/Dashboard_Restore'
                            - $ref: '#/components/schemas/Dashboard_SaveAsNew'
                            - $ref: '#/components/schemas/Dashboard_TransferOwnership'
                            - $ref: '#/components/schemas/Dashboard_Update'
                            - $ref: '#/components/schemas/Discussion_Create'
                            - $ref: '#/components/schemas/Discussion_Delete'
                            - $ref: '#/components/schemas/Discussion_Send'
                            - $ref: '#/components/schemas/Discussion_Sendcomment'
                            - $ref: '#/components/schemas/Discussion_Update'
                            - $ref: '#/components/schemas/Folder_Create'
                            - $ref: '#/components/schemas/Folder_Delete'
                            - $ref: '#/components/schemas/Folder_Export'
                            - $ref: '#/components/schemas/Folder_Rename'
                            - $ref: '#/components/schemas/Folder_RequestBackup'
                            - $ref: '#/components/schemas/Folder_SaveAsNew'
                            - $ref: '#/components/schemas/Form_Activate'
                            - $ref: '#/components/schemas/Form_Create'
                            - $ref: '#/components/schemas/Form_Deactivate'
                            - $ref: '#/components/schemas/Form_Delete'
                            - $ref: '#/components/schemas/Form_Update'
                            - $ref: '#/components/schemas/Group_AddMember'
                            - $ref: '#/components/schemas/Group_Create'
                            - $ref: '#/components/schemas/Group_Delete'
                            - $ref: >-
                                #/components/schemas/Group_DownloadSheetAccessReport
                            - $ref: '#/components/schemas/Group_RemoveMember'
                            - $ref: '#/components/schemas/Group_Rename'
                            - $ref: '#/components/schemas/Group_TransferOwnership'
                            - $ref: '#/components/schemas/Group_Update'
                            - $ref: >-
                                #/components/schemas/License_Requests_Decline_License
                            - $ref: >-
                                #/components/schemas/License_Requests_Grant_License
                            - $ref: '#/components/schemas/Policy_Data_Egress_Activate'
                            - $ref: '#/components/schemas/Policy_Data_Egress_Create'
                            - $ref: >-
                                #/components/schemas/Policy_Data_Egress_Deactivate
                            - $ref: '#/components/schemas/Policy_Data_Egress_Delete'
                            - $ref: '#/components/schemas/Policy_Data_Egress_Update'
                            - $ref: >-
                                #/components/schemas/Policy_Data_Retention_Activate
                            - $ref: >-
                                #/components/schemas/Policy_Data_Retention_Create
                            - $ref: >-
                                #/components/schemas/Policy_Data_Retention_Deactivate
                            - $ref: >-
                                #/components/schemas/Policy_Data_Retention_Update
                            - $ref: >-
                                #/components/schemas/Policy_Safe_Sharing_Activate
                            - $ref: >-
                                #/components/schemas/Policy_Safe_Sharing_Add_Request_Form
                            - $ref: >-
                                #/components/schemas/Policy_Safe_Sharing_Deactivate
                            - $ref: '#/components/schemas/Report_AddShare'
                            - $ref: '#/components/schemas/Report_AddShareMember'
                            - $ref: '#/components/schemas/Report_AddWorkspaceShare'
                            - $ref: '#/components/schemas/Report_Create'
                            - $ref: '#/components/schemas/Report_Delete'
                            - $ref: '#/components/schemas/Report_Export'
                            - $ref: '#/components/schemas/Report_Load'
                            - $ref: '#/components/schemas/Report_Move'
                            - $ref: '#/components/schemas/Report_Purge'
                            - $ref: '#/components/schemas/Report_RemoveShare'
                            - $ref: '#/components/schemas/Report_RemoveShareMember'
                            - $ref: '#/components/schemas/Report_RemoveWorkspaceShare'
                            - $ref: '#/components/schemas/Report_Rename'
                            - $ref: '#/components/schemas/Report_Restore'
                            - $ref: '#/components/schemas/Report_SaveAsNew'
                            - $ref: '#/components/schemas/Report_SendAsAttachment'
                            - $ref: '#/components/schemas/Report_TransferOwnership'
                            - $ref: '#/components/schemas/Report_Update'
                            - $ref: >-
                                #/components/schemas/Secure_External_Access_Activate_Mfa
                            - $ref: >-
                                #/components/schemas/Secure_External_Access_Activate_Sso_For_External_Collaborators
                            - $ref: >-
                                #/components/schemas/Secure_External_Access_Deactivate_Mfa
                            - $ref: >-
                                #/components/schemas/Secure_External_Access_Deactivate_Sso_For_External_Collaborators
                            - $ref: >-
                                #/components/schemas/Secure_External_Access_Mfa_Option_Enforce_All_Plan
                            - $ref: >-
                                #/components/schemas/Secure_External_Access_Mfa_Option_Workspace_Opt_In
                            - $ref: >-
                                #/components/schemas/Security_Controls_Activate_Account_Discovery
                            - $ref: >-
                                #/components/schemas/Security_Controls_Activate_Api_Token_Expiration_Period
                            - $ref: >-
                                #/components/schemas/Security_Controls_Activate_Attachment
                            - $ref: >-
                                #/components/schemas/Security_Controls_Activate_Calendar_Publishing
                            - $ref: >-
                                #/components/schemas/Security_Controls_Activate_Dashboard_Publishing
                            - $ref: >-
                                #/components/schemas/Security_Controls_Activate_Directory_Integration
                            - $ref: >-
                                #/components/schemas/Security_Controls_Activate_Images_In_Sheet_Cells
                            - $ref: >-
                                #/components/schemas/Security_Controls_Activate_Offline_Form_Submission
                            - $ref: >-
                                #/components/schemas/Security_Controls_Activate_Report_Publishing
                            - $ref: >-
                                #/components/schemas/Security_Controls_Activate_Sheet_Publishing
                            - $ref: >-
                                #/components/schemas/Security_Controls_Activate_Smartsheet_Tenant_Id
                            - $ref: >-
                                #/components/schemas/Security_Controls_Activate_Web_Content_Widget
                            - $ref: >-
                                #/components/schemas/Security_Controls_Deactivate_Account_Discovery
                            - $ref: >-
                                #/components/schemas/Security_Controls_Deactivate_Api_Token_Expiration_Period
                            - $ref: >-
                                #/components/schemas/Security_Controls_Deactivate_Attachment
                            - $ref: >-
                                #/components/schemas/Security_Controls_Deactivate_Calendar_Publishing
                            - $ref: >-
                                #/components/schemas/Security_Controls_Deactivate_Dashboard_Publishing
                            - $ref: >-
                                #/components/schemas/Security_Controls_Deactivate_Directory_Integration
                            - $ref: >-
                                #/components/schemas/Security_Controls_Deactivate_Images_In_Sheet_Cells
                            - $ref: >-
                                #/components/schemas/Security_Controls_Deactivate_Offline_Form_Submission
                            - $ref: >-
                                #/components/schemas/Security_Controls_Deactivate_Report_Publishing
                            - $ref: >-
                                #/components/schemas/Security_Controls_Deactivate_Sheet_Publishing
                            - $ref: >-
                                #/components/schemas/Security_Controls_Deactivate_Smartsheet_Tenant_Id
                            - $ref: >-
                                #/components/schemas/Security_Controls_Deactivate_Web_Content_Widget
                            - $ref: >-
                                #/components/schemas/Security_Controls_Update_Api_Token_Expiration_Period
                            - $ref: >-
                                #/components/schemas/Security_Controls_Update_Dashboard_Publishing_Options
                            - $ref: >-
                                #/components/schemas/Security_Controls_Update_Directory_Integration
                            - $ref: >-
                                #/components/schemas/Security_Controls_Update_Form_Access_Permissions
                            - $ref: >-
                                #/components/schemas/Security_Controls_Update_Group_Membership_Scope
                            - $ref: >-
                                #/components/schemas/Security_Controls_Update_Notifications_And_Requests
                            - $ref: >-
                                #/components/schemas/Security_Controls_Update_Report_Publishing_Options
                            - $ref: >-
                                #/components/schemas/Security_Controls_Update_Sheet_Publishing_Options
                            - $ref: >-
                                #/components/schemas/Security_Controls_Update_Web_Content_Widget
                            - $ref: '#/components/schemas/Sheet_AddShare'
                            - $ref: '#/components/schemas/Sheet_AddShareMember'
                            - $ref: '#/components/schemas/Sheet_AddWorkspaceShare'
                            - $ref: '#/components/schemas/Sheet_CopyRow'
                            - $ref: '#/components/schemas/Sheet_Create'
                            - $ref: '#/components/schemas/Sheet_CreateCellLink'
                            - $ref: '#/components/schemas/Sheet_Delete'
                            - $ref: '#/components/schemas/Sheet_Export'
                            - $ref: '#/components/schemas/Sheet_Load'
                            - $ref: '#/components/schemas/Sheet_Move'
                            - $ref: '#/components/schemas/Sheet_MoveRow'
                            - $ref: '#/components/schemas/Sheet_Purge'
                            - $ref: '#/components/schemas/Sheet_RemoveShare'
                            - $ref: '#/components/schemas/Sheet_RemoveShareMember'
                            - $ref: '#/components/schemas/Sheet_RemoveWorkspaceShare'
                            - $ref: '#/components/schemas/Sheet_Rename'
                            - $ref: '#/components/schemas/Sheet_RequestBackup'
                            - $ref: '#/components/schemas/Sheet_Restore'
                            - $ref: '#/components/schemas/Sheet_SaveAsNew'
                            - $ref: '#/components/schemas/Sheet_SaveAsTemplate'
                            - $ref: '#/components/schemas/Sheet_SendAsAttachment'
                            - $ref: '#/components/schemas/Sheet_SendRow'
                            - $ref: '#/components/schemas/Sheet_TransferOwnership'
                            - $ref: '#/components/schemas/Sheet_Update'
                            - $ref: '#/components/schemas/UpdateRequest_Create'
                            - $ref: '#/components/schemas/User_AcceptInvite'
                            - $ref: '#/components/schemas/User_AddToAccount'
                            - $ref: '#/components/schemas/User_Deactivate'
                            - $ref: '#/components/schemas/User_DeclineInvite'
                            - $ref: >-
                                #/components/schemas/User_DownloadSheetAccessReport
                            - $ref: '#/components/schemas/User_Merge_Users'
                            - $ref: '#/components/schemas/User_RemoveFromAccount'
                            - $ref: '#/components/schemas/User_RemoveFromGroups'
                            - $ref: '#/components/schemas/User_RemoveShares'
                            - $ref: '#/components/schemas/User_SendInvite'
                            - $ref: '#/components/schemas/User_SendPasswordReset'
                            - $ref: '#/components/schemas/User_TransferOwnedGroups'
                            - $ref: '#/components/schemas/User_TransferOwnedItems'
                            - $ref: '#/components/schemas/User_UpdateUser'
                            - $ref: >-
                                #/components/schemas/User_View_User_Roles_And_Reports
                            - $ref: '#/components/schemas/Workspace_AddShare'
                            - $ref: '#/components/schemas/Workspace_AddShareMember'
                            - $ref: '#/components/schemas/Workspace_Create'
                            - $ref: >-
                                #/components/schemas/Workspace_CreateRecurringBackup
                            - $ref: '#/components/schemas/Workspace_Delete'
                            - $ref: >-
                                #/components/schemas/Workspace_DeleteRecurringBackup
                            - $ref: '#/components/schemas/Workspace_Export'
                            - $ref: '#/components/schemas/Workspace_RemoveShare'
                            - $ref: '#/components/schemas/Workspace_RemoveShareMember'
                            - $ref: '#/components/schemas/Workspace_Rename'
                            - $ref: '#/components/schemas/Workspace_RequestBackup'
                            - $ref: '#/components/schemas/Workspace_SaveAsNew'
                            - $ref: '#/components/schemas/Workspace_TransferOwnership'
                            - $ref: >-
                                #/components/schemas/Workspace_UpdateRecurringBackup
        '400':
          description: >
            A response with this status code can occur in any one of the
            following conditions:


            - The `to` parameter is earlier than the `since` parameter.

            - Invalid request format.

            - Missing required fields.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '406':
          $ref: '#/components/responses/406'
        '410':
          $ref: '#/components/responses/410'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      x-codeSamples:
        - lang: curl
          label: cURL
          source: >
            curl -i -X GET \  

            'https://api.smartsheet.com/2.0/events?since=2025-03-24T15%3A15%3A22Z&to=2025-03-24T16%3A15%3A22Z'
            \

            --header 'Accept-Encoding: deflate' \

            --header 'Authorization: Bearer <YOUR_TOKEN_HERE>'
        - lang: JavaScript SDK
          label: JavaScript
          source: |
            const query = new URLSearchParams({
              since: '2025-03-24T15:15:22Z',
              to: '2025-03-24T16:15:22Z'
            }).toString();

            const resp = await fetch(
              `https://api.smartsheet.com/2.0/events?${query}`,
              {
                method: 'GET',
                headers: {
                  'Accept-Encoding': 'deflate',
                  Authorization: 'Bearer <YOUR_TOKEN_HERE>'
                }
              }
            );

            const data = await resp.text();
            console.log(data);
        - lang: Node.js
          label: Node.js
          source: |
            import fetch from 'node-fetch';

            async function run() {
              const query = new URLSearchParams({
                since: '2025-03-24T15:15:22Z',
                to: '2025-03-24T16:15:22Z'
              }).toString();

              const resp = await fetch(
                `https://api.smartsheet.com/2.0/events?${query}`,
                {
                  method: 'GET',
                  headers: {
                    'Accept-Encoding': 'deflate',
                    Authorization: 'Bearer <YOUR_TOKEN_HERE>'
                  }
                }
              );

              const data = await resp.text();
              console.log(data);
            }

            run();
        - lang: Python
          label: Python
          source: |
            import requests

            url = "https://api.smartsheet.com/2.0/events"

            query = {
              "since": "2025-03-24T15%3A15%3A22Z",
              "to": "2025-03-24T16%3A15%3A22Z"
            }

            headers = {
              "Accept-Encoding": "deflate",
              "Authorization": "Bearer <YOUR_TOKEN_HERE>"
            }

            response = requests.get(url, headers=headers, params=query)

            data = response.json()
            print(data)
        - lang: Go
          label: Go
          source: |
            package main

            import (
              "fmt"
              "net/http"
              "io/ioutil"
            )

            func main() {
              reqUrl := "https://api.smartsheet.com/2.0/events"
              req, err := http.NewRequest("GET", reqUrl, nil)

              query := req.URL.Query()
              query.Add("since", "2025-03-24T15:15:22Z")
              query.Add("to", "2025-03-24T16:15:22Z")
              req.URL.RawQuery = query.Encode()

              if err != nil {
                panic(err)
              }
              req.Header.Add("Accept-Encoding", "deflate")
              req.Header.Add("Authorization", "Bearer <YOUR_TOKEN_HERE>")
              res, err := http.DefaultClient.Do(req)
              if err != nil {
                panic(err)
              }
              defer res.Body.Close()
              body, err := ioutil.ReadAll(res.Body)
              if err != nil {
                panic(err)
              }

              fmt.Println(res)
              fmt.Println(string(body))
            }
        - lang: Java
          label: Java
          source: |
            import java.net.*;
            import java.net.http.*;
            import java.util.*;
            import java.nio.charset.StandardCharsets;
            import java.util.stream.Collectors;

            public class App {
              public static void main(String[] args) throws Exception {
                var httpClient = HttpClient.newBuilder().build();

                HashMap<String, String> params = new HashMap<>();
                params.put("since", "2025-03-24T15:15:22Z");
                params.put("to", "2025-03-24T16:15:22Z");

                var query = params.keySet().stream()
                  .map(key -> key + "=" + URLEncoder.encode(params.get(key), StandardCharsets.UTF_8))
                  .collect(Collectors.joining("&"));

                var host = "https://api.smartsheet.com";
                var pathname = "/2.0/events";
                var request = HttpRequest.newBuilder()
                  .GET()
                  .uri(URI.create(host + pathname + '?' + query))
                  .header("Accept-Encoding", "deflate")
                  .header("Authorization", "Bearer <YOUR_TOKEN_HERE>")
                  .build();

                var response = httpClient.send(request, HttpResponse.BodyHandlers.ofString());

                System.out.println(response.body());
              }
            }
        - lang: C#
          label: C#
          source: |
            using System;
            using System.Net.Http;
            using System.Threading.Tasks;

            public class Program
            {
              public static async Task Main()
              {
                System.Net.Http.HttpClient client = new()
                {
                  DefaultRequestHeaders =
                  {
                    {"Authorization", "Bearer <YOUR_TOKEN_HERE>"},
                  }
                };

                using HttpResponseMessage request = await client.GetAsync("https://api.smartsheet.com/2.0/events?since=2025-03-24T15%3A15%3A22Z&to=2025-03-24T16%3A15%3A22Z");
                string response = await request.Content.ReadAsStringAsync();

                Console.WriteLine(response);
              }
            }
        - lang: PHP
          label: PHP
          source: |
            /**
            * Requires libcurl
            */

            $query = array(
              "since" => "2025-03-24T15%3A15%3A22Z",
              "to" => "2025-03-24T16%3A15%3A22Z",
              "streamPosition" => "XyzAb1234cdefghijklmnofpq"
            );

            $curl = curl_init();

            curl_setopt_array($curl, [
              CURLOPT_HTTPHEADER => [
                "Accept-Encoding: deflate",
                "Authorization: Bearer <YOUR_TOKEN_HERE>"
              ],
              CURLOPT_URL => "https://api.smartsheet.com/2.0/events?" . http_build_query($query),
              CURLOPT_RETURNTRANSFER => true,
              CURLOPT_CUSTOMREQUEST => "GET",
            ]);

            $response = curl_exec($curl);
            $error = curl_error($curl);

            curl_close($curl);

            if ($error) {
              echo "cURL Error #:" . $error;
            } else {
              echo $response;
            }
  /favorites:
    parameters:
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/smartsheetIntegrationSourceHeader'
      - $ref: '#/components/parameters/ActorId'
    get:
      summary: Get favorites
      description: >
        Gets a list of all of the user's favorite items.


        > **Note:** For pagination guidance, refer to
        [Pagination](/api/smartsheet/guides/basics/pagination).
      operationId: get-favorites
      tags:
        - favorites
      security:
        - APIToken: []
        - OAuth2:
            - READ_SHEETS
      parameters:
        - $ref: '#/components/parameters/includeAll'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/favoriteInclude'
      responses:
        '200':
          description: >
            IndexResult object containing an array of Favorite objects.


            **Note:** For pagination guidance, refer to
            [Pagination](/api/smartsheet/guides/basics/pagination).
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/IndexResult'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Favorite'
        default:
          description: Generic Error Payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codeSamples:
        - lang: C# SDK
          label: C# SDK
          source: >
            // Note: SDK object attribute names may differ from the REST API's.

            // Omit pagination parameters

            PaginatedResult<Favorite> results =
            smartsheet.FavoriteResources.ListFavorites(
              null                // PaginationParameters
            );
        - lang: cURL
          label: cURL
          source: |
            curl https://api.smartsheet.com/2.0/favorites \
            -H "Authorization: Bearer JKlMNOpQ12RStUVwxYZAbcde3F5g6hijklM789"
        - lang: Java SDK
          label: Java SDK
          source: >
            // Note: SDK object attribute names may differ from the REST API's.

            // Omit pagination parameters

            PagedResult<Favorite> results =
            smartsheet.favoriteResources().listFavorites(
                    null        // PaginationParameters
                    );
        - lang: JavaScript SDK
          label: JavaScript SDK
          source: |
            // Note: SDK object attribute names may differ from the REST API's.
            smartsheet.favorites.listFavorites()
              .then(function(favoritesList) {
                console.log(favoritesList);
              })
              .catch(function(error) {
                console.log(error);
              });
        - lang: Python SDK
          label: Python SDK
          source: >
            # Note: SDK object attribute names may differ from the REST API's.

            # Sample 1: List All

            response =
            smartsheet_client.Favorites.list_favorites(include_all=True)

            faves = response.data


            # Sample 2: Paginate the list of favorites

            response = smartsheet_client.Favorites.list_favorites(
              page_size=10,
              page=1)
            pages = response.total_pages

            faves = response.data
    post:
      summary: Add favorites
      description: >
        Adds one or more favorite items for the current user. This operation
        supports both single-object and bulk semantics. For more information,
        see Optional Bulk Operations.

        If called with a single Favorite object, and that favorite already
        exists, error code 1129 is returned. If called with an array of Favorite
        objects, any objects specified in the array that are already marked as
        favorites are ignored and omitted from the response.
      operationId: add-favorite
      tags:
        - favorites
      security:
        - APIToken: []
        - OAuth2:
            - ADMIN_WORKSPACES
      parameters:
        - $ref: '#/components/parameters/Content-Type'
      requestBody:
        description: A list of favorites to be added.
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/Favorite'
                - type: array
                  title: Array of favorites
                  items:
                    $ref: '#/components/schemas/Favorite'
      responses:
        '200':
          description: >-
            Result object containing either a single Favorite object or an array
            of Favorite objects.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/GenericResult'
                  - type: object
                    properties:
                      result:
                        oneOf:
                          - $ref: '#/components/schemas/Favorite'
                          - type: array
                            title: Array of favorites
                            items:
                              $ref: '#/components/schemas/Favorite'
        default:
          description: Generic Error Payload.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      x-codeSamples:
        - lang: C# SDK
          label: C# SDK
          source: >
            // Note: SDK object attribute names may differ from the REST API's.

            // Specify favorites

            IList<Favorite> favoritesSpecification = new Favorite[]

            {
              new Favorite
              {
                Type = ObjectType.SHEET,
                ObjectId = 8400677765441412
              }
            };


            // Add items to favorites

            IList<Favorite> newFavorite =
            smartsheet.FavoriteResources.AddFavorites(favoritesSpecification);
        - lang: cURL
          label: cURL
          source: |
            curl https://api.smartsheet.com/2.0/favorites \
            -H "Authorization: Bearer JKlMNOpQ12RStUVwxYZAbcde3F5g6hijklM789" \
            -H "Content-Type: application/json" \
            -X POST \
            -d '[{"type": "sheet", "objectId": 8400677765441412}]'
        - lang: Java SDK
          label: Java SDK
          source: >
            // Note: SDK object attribute names may differ from the REST API's.

            // Specify favorites

            Favorite favoritesSpecification = new Favorite()
                    .setObjectId(8400677765441412L)
                    .setType(FavoriteType.SHEET);

            // Add items to favorites

            List<Favorite> newFavorite =
            smartsheet.favoriteResources().addFavorites(Arrays.asList(favoritesSpecification));
        - lang: JavaScript SDK
          label: JavaScript SDK
          source: |
            // Note: SDK object attribute names may differ from the REST API's.
            // Specify favorites
            var favorites = [
              {
                "type": "sheet",
                "objectId": 8400677765441412
              }
            ];

            // Set options
            var options = {
              body: favorites
            };

            // Add items to favorites
            smartsheet.favorites.addItemsToFavorites(options)
              .then(function(newFavorite) {
                console.log(newFavorite);
              })
              .catch(function(error) {
                console.log(error);
              });
        - lang: Python SDK
          label: Python SDK
          source: |
            # Note: SDK object attribute names may differ from the REST API's.
            response = smartsheet_client.Favorites.add_favorites([
              smartsheet.models.Favorite({
                'type': 'sheet',
                'object_id': 8400677765441412
              })
            ])
  /favorites/{favoriteType}:
    parameters:
      - $ref: '#/components/parameters/favoriteType'
      - $ref: '#/components/parameters/Authorization'
      - $ref: '#/components/parameters/smartsheetIntegrationSourceHeader'
      - $ref: '#/components/parameters/ActorId'
    delete:
[...]
