.audio-recorder-button-container {
    display: flex;
    width: 100%;
    height: 36px;
    gap: 16px;
    align-items: center;
}

.audio-recorder-button {
    height: 38px;
    width: 38px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.save-discard-button-container {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.audio-recorder-loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.audio-recorder-timer-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.permission-denied-text {
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-accent-strong);
    line-height: 20px;
    cursor: pointer;
}