[submodule "frontend/ee"]
	path = frontend/ee
	url = https://github.com/ToolJet/ee-frontend.git
    branch = modularisation/v3
[submodule "server/ee"]
	path = server/ee
	url = https://github.com/ToolJet/ee-server.git
    branch = modularisation/v3
