[submodule "frontend/ee"]
	path = frontend/ee
	url = https://${GITHUB_TOKEN}@github.com/ToolJet/ee-frontend.git
    branch = main
[submodule "server/ee"]
	path = server/ee
	url = https://${GITHUB_TOKEN}@github.com/ToolJet/ee-server.git
    branch = main
