version: "3"

services:
  plugins:
    build:
      context: ./
      dockerfile: ./docker/plugins.Dockerfile.dev
    image: tooljet-plugins:development
    platform: linux/x86_64
    volumes:
      - ./plugins:/app/plugins
    command: npm run --prefix plugins start

  client:
    build:
      context: ./
      dockerfile: ./docker/client.Dockerfile.dev
    image: tooljet-client:development
    platform: linux/x86_64
    volumes:
      - ./frontend:/app/frontend:delegated
      - ./plugins:/app/plugins
      - /app/frontend/node_modules/
    ports:
      - 8082:8082
    environment:
      - WEBPACKER_DEV_SERVER_HOST=0.0.0.0
      - NODE_ENV=development
    command: npm run --prefix frontend start

  server:
    build:
      context: ./
      dockerfile: ./docker/server.Dockerfile.dev
    image: tooljet-server:development
    platform: linux/x86_64
    depends_on:
      - postgres
    volumes:
      - ./server:/app/server:delegated
      - ./plugins:/app/plugins
      - /app/server/node_modules/
      - ./.env:/app/.env
      - ./.env.test:/app/.env.test
      - ./now-circular-dev-services-sa.json:/app/now-circular-dev-services-sa.json
    ports:
      - 3000:3000
    environment:
      - SERVE_CLIENT=false
      - FORCE_COLOR=1
      - GOOGLE_APPLICATION_CREDENTIALS=/app/now-circular-dev-services-sa.json
    command: npm run --prefix server start:dev

  postgres:
    image: postgres:13
    restart: always
    ports:
      - 5432:5432
    volumes:
      - postgres:/data/postgres
    environment:
      - POSTGRES_PASSWORD=postgres

volumes:
  postgres:
