.add-param {
    width: 24px;
    height: 24px;
    padding: 3px;
    display: block;
    cursor: pointer;
}
  
.delete-param {
    width: 20px;
    height: 20px;
    padding: 3px;
    display: block;
    cursor: pointer;
}