db-uri = "postgres://postgres:postgres@localhost:5432/tooljet_new_db"
db-pre-config = "postgrest.pre_config"
server-port = "3001"
jwt-secret = "cba75674be5b6305a18d18e3761d82bb031fe36b45719744a308209db3d6d805"
