openapi: 3.0.3
info:
  title: Rate
  termsOfService: https://www.ups.com/upsdeveloperkit/assets/html/serviceAgreement.html
  version: ''
  description: |
  
    The Rating API is used when rating or shopping a shipment.
    # Reference
    - <a href="https://developer.ups.com/api/reference/rating/business-rules" target="_blank" rel="noopener">Business Rules</a>
    - <a href="https://developer.ups.com/api/reference/rating/appendix" target="_blank" rel="noopener">Appendix</a>
    - <a href="https://developer.ups.com/api/reference/rating/error-codes" target="_blank" rel="noopener">Errors</a>
    - <a href="https://developer.ups.com/api/reference/rating/faq" target="_blank" rel="noopener">FAQ</a>
    - <a href="https://developer.ups.com/api/reference/rating/best-practices" target="_blank" rel="noopener noreferrer"> Best Practices</a>
    - <a href="https://developer.ups.com/api/reference/mcp/guide" target="_blank" rel="noopener noreferrer">Accelerate API Integration with UPS MCP Server</a>

    <br/><p>Try out UPS APIs with example requests using Postman and learn more about the UPS Postman Collection by visiting our <a href="https://developer.ups.com/api/reference/postman/guide"
    target="_blank" rel="noopener">Postman Guide</a>. Explore API documentation and sample applications through GitHub.</p>

    <a href="https://god.gw.postman.com/run-collection/29542085-ac21ef26-eecf-4841-b0b2-737d615b6809?action=collection%2Ffork&source=rip_markdown&collection-url=entityId%3D29542085-ac21ef26-eecf-4841-b0b2-737d615b6809%26entityType%3Dcollection%26workspaceId%3D7e7595f0-4829-4f9a-aee1-75c126b9d417" target="_blank" rel="noopener noreferrer">
      <img src="https://run.pstmn.io/button.svg" alt="Run In Postman" style="width: 128px; height: 32px;"></a>
    <a href="https://github.com/UPS-API" target="_blank" rel="noopener noreferrer">
      <img src="https://www.ups.com/assets/resources/webcontent/images/gitHubButton.svg" alt="Open in GitHub" style="width: 128px; height: 32px;">
    </a>
servers:
  - url: https://wwwcie.ups.com/api
    description: Customer Integration Environment
  - url: https://onlinetools.ups.com/api
    description: Production
paths:
  "/rating/{version}/{requestoption}":
    post:
      summary: Rating
      tags:
        - Rating
      security:
        - OAuth2: []
      description: The Rating API is used when rating or shopping a shipment. For more information on the Rating API, please visit the <a href="https://developer.ups.com/api/reference/rating/product-info" target="_blank" rel="noopener">Product Overview</a> page.
      operationId: Rate
      parameters:
      - in: header
        name: transId
        schema:
          type: string
        description: An identifier unique to the request. Length 32
      - in: header
        name: transactionSrc
        schema:
          type: string
          default: testing
        description: An identifier of the client/source application that is making
          the request.Length 512
      - in: query
        name: additionalinfo
        schema:
          type: string
          minimum: 1
        description: 'Valid Values: timeintransit = The server rates with transit
          time information combined with requestoption in URL.Rate is the only valid
          request option for Ground Freight Pricing requests. Length 15'
      - in: path
        name: version
        schema:
          type: string
          minimum: 1
          default: v2409
        description: |
            Indicates Rate API to display the new release features in Rate API response based on Rate release. See the New section for the latest Rate release.

            Valid values:
            - v2409
        required: true
      - in: path
        name: requestoption
        schema:
          type: string
          minimum: 1
          maxLength: 10
        description: |
            Valid Values:
            - Rate = The server rates (The default Request option is Rate if a Request Option is not provided).
            - Shop = The server validates the shipment, and returns rates for all UPS products from the ShipFrom to the ShipTo addresses.
            - Ratetimeintransit = The server rates with transit time information
            - Shoptimeintransit = The server validates the shipment, and returns rates and transit times for all UPS products from the ShipFrom to the ShipTo addresses.

            Rate is the only valid request option for UPS Ground Freight Pricing requests.
        required: true
      requestBody:
        description: Generate sample code for popular API requests by selecting an
          example below. To view a full sample request and response, first click "Authorize"
          and enter your application credentials, then populate the required parameters
          above and click "Try it out".
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/RATERequestWrapper"
            examples:
              '1':
                summary: Simple Rate Example (Standard Example)
                value:
                  RateRequest:
                    Request:
                      TransactionReference:
                        CustomerContext: CustomerContext
                    Shipment:
                      Shipper:
                        Name: ShipperName
                        ShipperNumber: ShipperNumber
                        Address:
                          AddressLine:
                          - ShipperAddressLine
                          - ShipperAddressLine
                          - ShipperAddressLine
                          City: TIMONIUM
                          StateProvinceCode: MD
                          PostalCode: '21093'
                          CountryCode: US
                      ShipTo:
                        Name: ShipToName
                        Address:
                          AddressLine:
                          - ShipToAddressLine
                          - ShipToAddressLine
                          - ShipToAddressLine
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      ShipFrom:
                        Name: ShipFromName
                        Address:
                          AddressLine:
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          City: TIMONIUM
                          StateProvinceCode: MD
                          PostalCode: '21093'
                          CountryCode: US
                      PaymentDetails:
                        ShipmentCharge:
                          - Type: '01'
                            BillShipper:
                              AccountNumber: ''
                      Service:
                        Code: '03'
                        Description: Ground
                      NumOfPieces: '1'
                      Package:
                        SimpleRate:
                          Description: SimpleRateDescription
                          Code: XS
                        PackagingType:
                          Code: '02'
                          Description: Packaging
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                            Description: Inches
                          Length: '5'
                          Width: '5'
                          Height: '5'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                            Description: Pounds
                          Weight: '1'
              '2':
                summary: Negotiated Rate
                value:
                  RateRequest:
                    Request:
                      TransactionReference:
                        CustomerContext: Verify Success response
                    Shipment:
                      Shipper:
                        Name: Shipper_Name
                        ShipperNumber: ''
                        Address:
                          AddressLine:
                          - Morris Road
                          - Morris Road
                          - Morris Road
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '21093'
                          CountryCode: US
                      ShipTo:
                        Name: France Company
                        Address:
                          AddressLine:
                          - 103 avenue des Champs-Elysees
                          - 103 avenue des Champs-Elysees
                          - 103 avenue des Champs-Elysees
                          City: STARZACH
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                          ResidentialAddressIndicator: Y
                      ShipFrom:
                        Name: ShipFromName
                        Address:
                          AddressLine:
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      PaymentDetails:
                        ShipmentCharge:
                          - Type: '01'
                            BillThirdParty:
                              AttentionName: Name
                              Name: TR
                              AccountNumber: ''
                              Address:
                                AddressLine: AdressLine
                                City: NEW YORK
                                StateProvinceCode: NY
                                PostalCode: '21093'
                                CountryCode: US
                      ShipmentRatingOptions:
                        TPFCNegotiatedRatesIndicator: Y
                        NegotiatedRatesIndicator: Y
                      Service:
                        Code: '03'
                        Description: UPS Worldwide Economy DDU
                      NumOfPieces: '10'
                      Package:
                        PackagingType:
                          Code: '02'
                          Description: Packaging
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                            Description: Inches
                          Length: '5'
                          Width: '5'
                          Height: '5'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                            Description: Ounces
                          Weight: '0.1'
                        OversizeIndicator: X
                        MinimumBillableWeightIndicator: X
              '3':
                summary: International Rate Example
                value:
                  RateRequest:
                    Request:
                      TransactionReference:
                        CustomerContext: Verify Success response
                    Shipment:
                      Shipper:
                        Name: Shipper_Name
                        ShipperNumber: ''
                        Address:
                          AddressLine:
                          - Morris Road
                          - Morris Road
                          - Morris Road
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      ShipTo:
                        Name: France Company
                        Address:
                          AddressLine:
                          - 103 avenue des Champs-Elysees
                          - 103 avenue des Champs-Elysees
                          - 103 avenue des Champs-Elysees
                          City: STARZACH
                          StateProvinceCode: GA
                          PostalCode: '72181'
                          CountryCode: DE
                      ShipFrom:
                        Name: ShipFromName
                        Address:
                          AddressLine:
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      PaymentDetails:
                        ShipmentCharge:
                          - Type: '01'
                            BillShipper:
                              AccountNumber: ''
                      Service:
                        Code: '072'
                        Description: UPS Worldwide Economy DDP
                      NumOfPieces: '10'
                      Package:
                        PackagingType:
                          Code: '02'
                          Description: Packaging
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                            Description: Inches
                          Length: '5'
                          Width: '5'
                          Height: '5'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                            Description: LBS
                          Weight: '0.1'
                        OversizeIndicator: X
                        MinimumBillableWeightIndicator: X
                      ShipmentRatingOptions:
                        NegotiatedRatesIndicator: Y
              '4':
                summary: Multi-Piece Rate Example
                value:
                  RateRequest:
                    Request:
                      TransactionReference:
                        CustomerContext: CustomerContext
                    Shipment:
                      Shipper:
                        Name: ShipperName
                        ShipperNumber: ShipperNumber
                        Address:
                          AddressLine:
                          - ShipperAddressLine
                          - ShipperAddressLine
                          - ShipperAddressLine
                          City: TIMONIUM
                          StateProvinceCode: MD
                          PostalCode: '21093'
                          CountryCode: US
                      ShipTo:
                        Name: ShipToName
                        Address:
                          AddressLine:
                          - ShipToAddressLine
                          - ShipToAddressLine
                          - ShipToAddressLine
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      ShipFrom:
                        Name: ShipFromName
                        Address:
                          AddressLine:
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          City: TIMONIUM
                          StateProvinceCode: MD
                          PostalCode: '21093'
                          CountryCode: US
                      PaymentDetails:
                        ShipmentCharge:
                          - Type: '01'
                            BillShipper:
                              AccountNumber: ''
                      Service:
                        Code: '03'
                        Description: Ground
                      ShipmentTotalWeight:
                        UnitOfMeasurement:
                          Code: LBS
                          Description: Pounds
                        Weight: '3'
                      NumOfPieces: '2'
                      Package:
                      - PackagingType:
                          Code: '02'
                          Description: Packaging
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                            Description: Inches
                          Length: '5'
                          Width: '5'
                          Height: '5'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                            Description: Pounds
                          Weight: '1'
                      - PackagingType:
                          Code: '02'
                          Description: Packaging
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                            Description: Inches
                          Length: '4'
                          Width: '4'
                          Height: '4'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                            Description: Pounds
                          Weight: '2'
              '5':
                summary: TPFC Negotiated Rate Example
                value:
                  RateRequest:
                    Request:
                      TransactionReference:
                        CustomerContext: CustomerContext
                    Shipment:
                      Shipper:
                        Name: ShipperName
                        ShipperNumber: ShipperNumber
                        Address:
                          AddressLine:
                          - ShipperAddressLine
                          - ShipperAddressLine
                          - ShipperAddressLine
                          City: TIMONIUM
                          StateProvinceCode: MD
                          PostalCode: '21093'
                          CountryCode: US
                      ShipTo:
                        Name: ShipToName
                        Address:
                          AddressLine:
                          - ShipToAddressLine
                          - ShipToAddressLine
                          - ShipToAddressLine
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      ShipFrom:
                        Name: ShipFromName
                        Address:
                          AddressLine:
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          City: TIMONIUM
                          StateProvinceCode: MD
                          PostalCode: '21093'
                          CountryCode: US
                      PaymentDetails:
                        ShipmentCharge:
                          - Type: '01'
                            BillThirdParty:
                              AttentionName: AttentionName
                              Name: Name
                              AccountNumber: ThirdPartyAccount
                              Address:
                                AddressLine: AdressLine
                                City: NEW YORK
                                StateProvinceCode: NY
                                PostalCode: '21093'
                                CountryCode: US
                          - Type: '02'
                            BillThirdParty:
                              AttentionName: AttentionName
                              Name: Name
                              AccountNumber: ThirdPartyAccount
                              Address:
                                AddressLine: AdressLine
                                City: NEW YORK
                                StateProvinceCode: NY
                                PostalCode: '21093'
                                CountryCode: US
                      Service:
                        Code: '03'
                        Description: Ground
                      NumOfPieces: '1'
                      Package:
                        PackagingType:
                          Code: '02'
                          Description: Packaging
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                            Description: Inches
                          Length: '5'
                          Width: '5'
                          Height: '5'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                            Description: Pounds
                          Weight: '1'
                        ShipmentRatingOptions:
                          TPFCNegotiatedRatesIndicator: Y
              '6':
                summary: Time In Transit Example
                value:
                  RateRequest:
                    Request:
                      TransactionReference:
                        CustomerContext: CustomerContext
                    Shipment:
                      Shipper:
                        Shipper:
                          Name: ShipperName
                          ShipperNumber: ShipperNumber
                          Address:
                            AddressLine:
                            - ShipperAddressLine
                            - ShipperAddressLine
                            - ShipperAddressLine
                            City: TIMONIUM
                            StateProvinceCode: MD
                            PostalCode: '21093'
                            CountryCode: US
                        ShipTo:
                          Name: ShipToName
                          Address:
                            AddressLine:
                            - ShipToAddressLine
                            - ShipToAddressLine
                            - ShipToAddressLine
                            City: Alpharetta
                            StateProvinceCode: GA
                            PostalCode: '30005'
                            CountryCode: US
                        ShipFrom:
                          Name: ShipFromName
                          Address:
                            AddressLine:
                            - ShipFromAddressLine
                            - ShipFromAddressLine
                            - ShipFromAddressLine
                            City: TIMONIUM
                            StateProvinceCode: MD
                            PostalCode: '21093'
                            CountryCode: US
                        PaymentDetails:
                          ShipmentCharge:
                            - Type: '01'
                              BillShipper:
                                AccountNumber: ''
                        Service:
                          Code: '03'
                          Description: Ground
                        NumOfPieces: '1'
                        Package:
                          PackagingType:
                            Code: '02'
                            Description: Packaging
                          Dimensions:
                            UnitOfMeasurement:
                              Code: IN
                              Description: Inches
                            Length: '5'
                            Width: '5'
                            Height: '5'
                          PackageWeight:
                            UnitOfMeasurement:
                              Code: LBS
                              Description: Pounds
                            Weight: '1'
                        DeliveryTimeInformation:
                          PackageBillType: '03'
                          Pickup:
                            Date: '20230101'
                            Time: '1000'
              '7':
                summary: Standard Account Rate Example
                value:
                  RateRequest:
                    Request:
                      TransactionReference:
                        CustomerContext: CustomerContext
                    Shipment:
                      Shipper:
                        Name: ShipperName
                        ShipperNumber: ShipperNumber
                        Address:
                          AddressLine:
                          - ShipperAddressLine
                          - ShipperAddressLine
                          - ShipperAddressLine
                          City: TIMONIUM
                          StateProvinceCode: MD
                          PostalCode: '21093'
                          CountryCode: US
                      ShipTo:
                        Name: ShipToName
                        Address:
                          AddressLine:
                          - ShipToAddressLine
                          - ShipToAddressLine
                          - ShipToAddressLine
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      ShipFrom:
                        Name: ShipFromName
                        Address:
                          AddressLine:
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          City: TIMONIUM
                          StateProvinceCode: MD
                          PostalCode: '21093'
                          CountryCode: US
                      PaymentDetails:
                        ShipmentCharge:
                          - Type: '01'
                            BillShipper:
                              AccountNumber: ''
                      Service:
                        Code: '03'
                        Description: Ground
                      NumOfPieces: '1'
                      Package:
                        PackagingType:
                          Code: '02'
                          Description: Packaging
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                            Description: Inches
                          Length: '5'
                          Width: '5'
                          Height: '5'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                            Description: Pounds
                          Weight: '1'
              '8':
                summary: Published Rate Example
                value:
                  RateRequest:
                    Request:
                      TransactionReference:
                        CustomerContext: CustomerContext
                    Shipment:
                      Shipper:
                        Name: ShipperName
                        Address:
                          AddressLine:
                          - ShipperAddressLine
                          - ShipperAddressLine
                          - ShipperAddressLine
                          City: TIMONIUM
                          StateProvinceCode: MD
                          PostalCode: '21093'
                          CountryCode: US
                      ShipTo:
                        Name: ShipToName
                        Address:
                          AddressLine:
                          - ShipToAddressLine
                          - ShipToAddressLine
                          - ShipToAddressLine
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      ShipFrom:
                        Name: ShipFromName
                        Address:
                          AddressLine:
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          City: TIMONIUM
                          StateProvinceCode: MD
                          PostalCode: '21093'
                          CountryCode: US
                      Service:
                        Code: '03'
                        Description: Ground
                      NumOfPieces: '1'
                      Package:
                        PackagingType:
                          Code: '02'
                          Description: Packaging
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                            Description: Inches
                          Length: '5'
                          Width: '5'
                          Height: '5'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                            Description: Pounds
                          Weight: '1'
              '9':
                summary: Rate with Dry Ice
                value:
                  RateRequest:
                    Request:
                      TransactionReference:
                        CustomerContext: "          "
                    CustomerClassification:
                      Code: '01'
                      Description: Daily Rates
                    Shipment:
                      PaymentDetails:
                        ShipmentCharge:
                          - Type: '01'
                            BillShipper:
                              AccountNumber: ''
                      DeliveryTimeInformation:
                        PackageBillType: '07'
                      Shipper:
                        Name: Shipper_Name19
                        ShipperNumber: ''
                        Address:
                          AddressLine: Shipper_AddressLine
                          City: New York
                          StateProvinceCode: NY
                          PostalCode: '10013'
                          CountryCode: US
                      ShipTo:
                        Name: Shiptoname
                        Address:
                          ResidentialAddressIndicator: x
                          AddressLine: 12380 Morris Road
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      ShipFrom:
                        Name: Shipfromname
                        Address:
                          AddressLine: Shipfromaddress
                          City: Texas
                          StateProvinceCode: TX
                          PostalCode: '77040'
                          CountryCode: US
                      Service:
                        Code: '01'
                        Description: Next Day Air
                      ShipmentRatingOptions:
                        NegotiatedRatesIndicator: Y
                      Package:
                        LargePackageIndicator: X
                        PackagingType:
                          Code: '02'
                          Description: Package
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                            Description: INCHES
                          Length: '6'
                          Width: '7'
                          Height: '8'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                          Weight: '10'
                        PackageServiceOptions:
                          DryIce:
                            RegulationSet: CFR
                            DryIceWeight:
                              UnitOfMeasurement:
                                Code: '01'
                                Description: LBS
                              Weight: '5'
                            AuditRequired: ''
              '10':
                summary: shopTime In Transit (CIE) Example
                value:
                  RateRequest:
                    Request:
                      RequestOption: shopTimeInTransit
                      SubVersion: ''
                      TransactionReference:
                        CustomerContext: Verify success returned rate request is submitted with ShopTimeInTransit
                        TransactionIdentifier: ''
                    Shipment:
                      OriginRecordTransactionTimestamp: ''
                      Shipper:
                        Name: Shipper_Name
                        ShipperNumber: ''
                        Address:
                          AddressLine:
                            - Morris Road
                            - Morris Road
                            - Morris Road
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      ShipTo:
                        Name: ShipToName
                        Address:
                          AddressLine:
                            - ShipToAddress
                            - ShipToAddress
                            - ShipToAddress
                          City: Aurora
                          StateProvinceCode: ON
                          PostalCode: L4G 3V2
                          CountryCode: CA
                      ShipFrom:
                        Name: ShipFromName
                        Address:
                          AddressLine:
                            - ShipFromAddressLine
                            - ShipFromAddressLine
                            - ShipFromAddressLine
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      Package:
                        PackagingType:
                          Code: '02'
                          Description: Packaging
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                            Description: Inches
                          Length: '5'
                          Width: '5'
                          Height: '5'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                            Description: LBS
                          Weight: '10'
                      InvoiceLineTotal:
                        CurrencyCode: USD
                        MonetaryValue: '100'
                      ShipmentTotalWeight:
                        UnitOfMeasurement:
                          Code: LBS
                          Description: LBS
                        Weight: '9'
                      DeliveryTimeInformation:
                        PackageBillType: '03'
                        Pickup:
                          Date: '20250624'
                          Time: '1616'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/RATEResponseWrapper"
        '400':
            description: Invalid Request
            content:
                application/json:
                  schema:
                    "$ref": "#/components/schemas/ErrorResponse"
        '401':
            description: Unauthorized Request
            content:
                application/json:
                  schema:
                    "$ref": "#/components/schemas/ErrorResponse"
        '403':
            description: Blocked Merchant
            content:
                application/json:
                  schema:
                    "$ref": "#/components/schemas/ErrorResponse"
        '429':
            description: Rate Limit Exceeded
            content:
                application/json:
                  schema:
                    "$ref": "#/components/schemas/ErrorResponse"
  "/rating/{deprecatedVersion}/{requestoption}":
    post:
      deprecated: true
      summary: Rating
      tags:
        - Rating
      security:
        - OAuth2: []
      description: The Rating API is used when rating or shopping a shipment.
      operationId: Deprecated Rate
      parameters:
      - in: header
        name: transId
        schema:
          type: string
        description: An identifier unique to the request. Length 32
      - in: header
        name: transactionSrc
        schema:
          type: string
          default: testing
        description: An identifier of the client/source application that is making
          the request.Length 512
      - in: query
        name: additionalinfo
        schema:
          type: string
          minimum: 1
        description: 'Valid Values: timeintransit = The server rates with transit
          time information combined with requestoption in URL.Rate is the only valid
          request option for Ground Freight Pricing requests. Length 15'
      - in: path
        name: deprecatedVersion
        schema:
          type: string
          minimum: 1
          default: v1
        description: |
            Indicates Rate API to display the new release features in Rate API response based on Rate release. See the New section for the latest Rate release.

            Valid values:
            - v1
            - v1601
            - v1607
            - 1701
            - 1707
            - v2108
            - v2205
        required: true
      - in: path
        name: requestoption
        schema:
          type: string
          minimum: 1
          maxLength: 10
        description: |
            Valid Values:
            - Rate = The server rates (The default Request option is Rate if a Request Option is not provided).
            - Shop = The server validates the shipment, and returns rates for all UPS products from the ShipFrom to the ShipTo addresses.
            - Ratetimeintransit = The server rates with transit time information
            - Shoptimeintransit = The server validates the shipment, and returns rates and transit times for all UPS products from the ShipFrom to the ShipTo addresses.

            Rate is the only valid request option for UPS Ground Freight Pricing requests.
        required: true
      requestBody:
        description: Generate sample code for popular API requests by selecting an
          example below. To view a full sample request and response, first click "Authorize"
          and enter your application credentials, then populate the required parameters
          above and click "Try it out".
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/RATERequestWrapper"
            examples:
              '1':
                summary: Simple Rate Example (Standard Example)
                value:
                  RateRequest:
                    Request:
                      TransactionReference:
                        CustomerContext: CustomerContext
                    Shipment:
                      Shipper:
                        Name: ShipperName
                        ShipperNumber: ShipperNumber
                        Address:
                          AddressLine:
                          - ShipperAddressLine
                          - ShipperAddressLine
                          - ShipperAddressLine
                          City: TIMONIUM
                          StateProvinceCode: MD
                          PostalCode: '21093'
                          CountryCode: US
                      ShipTo:
                        Name: ShipToName
                        Address:
                          AddressLine:
                          - ShipToAddressLine
                          - ShipToAddressLine
                          - ShipToAddressLine
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      ShipFrom:
                        Name: ShipFromName
                        Address:
                          AddressLine:
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          City: TIMONIUM
                          StateProvinceCode: MD
                          PostalCode: '21093'
                          CountryCode: US
                      PaymentDetails:
                        ShipmentCharge:
                          - Type: '01'
                            BillShipper:
                              AccountNumber: ''
                      Service:
                        Code: '03'
                        Description: Ground
                      NumOfPieces: '1'
                      Package:
                        SimpleRate:
                          Description: SimpleRateDescription
                          Code: XS
                        PackagingType:
                          Code: '02'
                          Description: Packaging
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                            Description: Inches
                          Length: '5'
                          Width: '5'
                          Height: '5'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                            Description: Pounds
                          Weight: '1'
              '2':
                summary: Negotiated Rate
                value:
                  RateRequest:
                    Request:
                      TransactionReference:
                        CustomerContext: Verify Success response
                    Shipment:
                      Shipper:
                        Name: Shipper_Name
                        ShipperNumber: ''
                        Address:
                          AddressLine:
                          - Morris Road
                          - Morris Road
                          - Morris Road
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '21093'
                          CountryCode: US
                      ShipTo:
                        Name: France Company
                        Address:
                          AddressLine:
                          - 103 avenue des Champs-Elysees
                          - 103 avenue des Champs-Elysees
                          - 103 avenue des Champs-Elysees
                          City: STARZACH
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      ShipFrom:
                        Name: ShipFromName
                        Address:
                          AddressLine:
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      PaymentDetails:
                        ShipmentCharge:
                          - Type: '01'
                            BillThirdParty:
                              AttentionName: Name
                              Name: TR
                              AccountNumber: ''
                              Address:
                                ResidentialAddressIndicator: Y
                                AddressLine: AdressLine
                                City: NEW YORK
                                StateProvinceCode: NY
                                PostalCode: '21093'
                                CountryCode: US
                      ShipmentRatingOptions:
                        TPFCNegotiatedRatesIndicator: Y
                        NegotiatedRatesIndicator: Y
                      Service:
                        Code: '03'
                        Description: UPS Worldwide Economy DDU
                      NumOfPieces: '10'
                      Package:
                        PackagingType:
                          Code: '02'
                          Description: Packaging
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                            Description: Inches
                          Length: '5'
                          Width: '5'
                          Height: '5'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                            Description: Ounces
                          Weight: '0.1'
                        OversizeIndicator: X
                        MinimumBillableWeightIndicator: X
              '3':
                summary: International Rate Example
                value:
                  RateRequest:
                    Request:
                      TransactionReference:
                        CustomerContext: Verify Success response
                    Shipment:
                      Shipper:
                        Name: Shipper_Name
                        ShipperNumber: ''
                        Address:
                          AddressLine:
                          - Morris Road
                          - Morris Road
                          - Morris Road
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      ShipTo:
                        Name: France Company
                        Address:
                          AddressLine:
                          - 103 avenue des Champs-Elysees
                          - 103 avenue des Champs-Elysees
                          - 103 avenue des Champs-Elysees
                          City: STARZACH
                          StateProvinceCode: GA
                          PostalCode: '72181'
                          CountryCode: DE
                      ShipFrom:
                        Name: ShipFromName
                        Address:
                          AddressLine:
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      PaymentDetails:
                        ShipmentCharge:
                          - Type: '01'
                            BillShipper:
                              AccountNumber: ''
                      Service:
                        Code: '072'
                        Description: UPS Worldwide Economy DDP
                      NumOfPieces: '10'
                      Package:
                        PackagingType:
                          Code: '02'
                          Description: Packaging
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                            Description: Inches
                          Length: '5'
                          Width: '5'
                          Height: '5'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                            Description: LBS
                          Weight: '0.1'
                        OversizeIndicator: X
                        MinimumBillableWeightIndicator: X
                      ShipmentRatingOptions:
                        NegotiatedRatesIndicator: Y
              '4':
                summary: Multi-Piece Rate Example
                value:
                  RateRequest:
                    Request:
                      TransactionReference:
                        CustomerContext: CustomerContext
                    Shipment:
                      Shipper:
                        Name: ShipperName
                        ShipperNumber: ShipperNumber
                        Address:
                          AddressLine:
                          - ShipperAddressLine
                          - ShipperAddressLine
                          - ShipperAddressLine
                          City: TIMONIUM
                          StateProvinceCode: MD
                          PostalCode: '21093'
                          CountryCode: US
                      ShipTo:
                        Name: ShipToName
                        Address:
                          AddressLine:
                          - ShipToAddressLine
                          - ShipToAddressLine
                          - ShipToAddressLine
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      ShipFrom:
                        Name: ShipFromName
                        Address:
                          AddressLine:
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          City: TIMONIUM
                          StateProvinceCode: MD
                          PostalCode: '21093'
                          CountryCode: US
                      PaymentDetails:
                        ShipmentCharge:
                          - Type: '01'
                            BillShipper:
                              AccountNumber: ''
                      Service:
                        Code: '03'
                        Description: Ground
                      ShipmentTotalWeight:
                        UnitOfMeasurement:
                          Code: LBS
                          Description: Pounds
                        Weight: '3'
                      NumOfPieces: '2'
                      Package:
                      - PackagingType:
                          Code: '02'
                          Description: Packaging
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                            Description: Inches
                          Length: '5'
                          Width: '5'
                          Height: '5'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                            Description: Pounds
                          Weight: '1'
                      - PackagingType:
                          Code: '02'
                          Description: Packaging
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                            Description: Inches
                          Length: '4'
                          Width: '4'
                          Height: '4'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                            Description: Pounds
                          Weight: '2'
              '5':
                summary: TPFC Negotiated Rate Example
                value:
                  RateRequest:
                    Request:
                      TransactionReference:
                        CustomerContext: CustomerContext
                    Shipment:
                      Shipper:
                        Name: ShipperName
                        ShipperNumber: ShipperNumber
                        Address:
                          AddressLine:
                          - ShipperAddressLine
                          - ShipperAddressLine
                          - ShipperAddressLine
                          City: TIMONIUM
                          StateProvinceCode: MD
                          PostalCode: '21093'
                          CountryCode: US
                      ShipTo:
                        Name: ShipToName
                        Address:
                          AddressLine:
                          - ShipToAddressLine
                          - ShipToAddressLine
                          - ShipToAddressLine
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      ShipFrom:
                        Name: ShipFromName
                        Address:
                          AddressLine:
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          City: TIMONIUM
                          StateProvinceCode: MD
                          PostalCode: '21093'
                          CountryCode: US
                      PaymentDetails:
                        ShipmentCharge:
                          - Type: '01'
                            BillThirdParty:
                              AttentionName: AttentionName
                              Name: Name
                              AccountNumber: ThirdPartyAccount
                              Address:
                                AddressLine: AdressLine
                                City: NEW YORK
                                StateProvinceCode: NY
                                PostalCode: '21093'
                                CountryCode: US
                          - Type: '02'
                            BillThirdParty:
                              AttentionName: AttentionName
                              Name: Name
                              AccountNumber: ThirdPartyAccount
                              Address:
                                AddressLine: AdressLine
                                City: NEW YORK
                                StateProvinceCode: NY
                                PostalCode: '21093'
                                CountryCode: US
                      Service:
                        Code: '03'
                        Description: Ground
                      NumOfPieces: '1'
                      Package:
                        PackagingType:
                          Code: '02'
                          Description: Packaging
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                            Description: Inches
                          Length: '5'
                          Width: '5'
                          Height: '5'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                            Description: Pounds
                          Weight: '1'
                        ShipmentRatingOptions:
                          TPFCNegotiatedRatesIndicator: Y
              '6':
                summary: Time In Transit Example
                value:
                  RateRequest:
                    Request:
                      TransactionReference:
                        CustomerContext: CustomerContext
                    Shipment:
                      Shipper:
                        Shipper:
                          Name: ShipperName
                          ShipperNumber: ShipperNumber
                          Address:
                            AddressLine:
                            - ShipperAddressLine
                            - ShipperAddressLine
                            - ShipperAddressLine
                            City: TIMONIUM
                            StateProvinceCode: MD
                            PostalCode: '21093'
                            CountryCode: US
                        ShipTo:
                          Name: ShipToName
                          Address:
                            AddressLine:
                            - ShipToAddressLine
                            - ShipToAddressLine
                            - ShipToAddressLine
                            City: Alpharetta
                            StateProvinceCode: GA
                            PostalCode: '30005'
                            CountryCode: US
                        ShipFrom:
                          Name: ShipFromName
                          Address:
                            AddressLine:
                            - ShipFromAddressLine
                            - ShipFromAddressLine
                            - ShipFromAddressLine
                            City: TIMONIUM
                            StateProvinceCode: MD
                            PostalCode: '21093'
                            CountryCode: US
                        PaymentDetails:
                          ShipmentCharge:
                            - Type: '01'
                              BillShipper:
                                AccountNumber: ''
                        Service:
                          Code: '03'
                          Description: Ground
                        NumOfPieces: '1'
                        Package:
                          PackagingType:
                            Code: '02'
                            Description: Packaging
                          Dimensions:
                            UnitOfMeasurement:
                              Code: IN
                              Description: Inches
                            Length: '5'
                            Width: '5'
                            Height: '5'
                          PackageWeight:
                            UnitOfMeasurement:
                              Code: LBS
                              Description: Pounds
                            Weight: '1'
                        DeliveryTimeInformation:
                          PackageBillType: '03'
                          Pickup:
                            Date: '20230101'
                            Time: '1000'
              '7':
                summary: Standard Account Rate Example
                value:
                  RateRequest:
                    Request:
                      TransactionReference:
                        CustomerContext: CustomerContext
                    Shipment:
                      Shipper:
                        Name: ShipperName
                        ShipperNumber: ShipperNumber
                        Address:
                          AddressLine:
                          - ShipperAddressLine
                          - ShipperAddressLine
                          - ShipperAddressLine
                          City: TIMONIUM
                          StateProvinceCode: MD
                          PostalCode: '21093'
                          CountryCode: US
                      ShipTo:
                        Name: ShipToName
                        Address:
                          AddressLine:
                          - ShipToAddressLine
                          - ShipToAddressLine
                          - ShipToAddressLine
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      ShipFrom:
                        Name: ShipFromName
                        Address:
                          AddressLine:
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          City: TIMONIUM
                          StateProvinceCode: MD
                          PostalCode: '21093'
                          CountryCode: US
                      PaymentDetails:
                        ShipmentCharge:
                          - Type: '01'
                            BillShipper:
                              AccountNumber: ''
                      Service:
                        Code: '03'
                        Description: Ground
                      NumOfPieces: '1'
                      Package:
                        PackagingType:
                          Code: '02'
                          Description: Packaging
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                            Description: Inches
                          Length: '5'
                          Width: '5'
                          Height: '5'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                            Description: Pounds
                          Weight: '1'
              '8':
                summary: Published Rate Example
                value:
                  RateRequest:
                    Request:
                      TransactionReference:
                        CustomerContext: CustomerContext
                    Shipment:
                      Shipper:
                        Name: ShipperName
                        Address:
                          AddressLine:
                          - ShipperAddressLine
                          - ShipperAddressLine
                          - ShipperAddressLine
                          City: TIMONIUM
                          StateProvinceCode: MD
                          PostalCode: '21093'
                          CountryCode: US
                      ShipTo:
                        Name: ShipToName
                        Address:
                          AddressLine:
                          - ShipToAddressLine
                          - ShipToAddressLine
                          - ShipToAddressLine
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      ShipFrom:
                        Name: ShipFromName
                        Address:
                          AddressLine:
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          - ShipFromAddressLine
                          City: TIMONIUM
                          StateProvinceCode: MD
                          PostalCode: '21093'
                          CountryCode: US
                      Service:
                        Code: '03'
                        Description: Ground
                      NumOfPieces: '1'
                      Package:
                        PackagingType:
                          Code: '02'
                          Description: Packaging
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                            Description: Inches
                          Length: '5'
                          Width: '5'
                          Height: '5'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                            Description: Pounds
                          Weight: '1'
              '9':
                summary: Rate with Dry Ice
                value:
                  RateRequest:
                    Request:
                      TransactionReference:
                        CustomerContext: "          "
                    CustomerClassification:
                      Code: '01'
                      Description: Daily Rates
                    Shipment:
                      PaymentDetails:
                        ShipmentCharge:
                          - Type: '01'
                            BillShipper:
                              AccountNumber: ''
                      DeliveryTimeInformation:
                        PackageBillType: '07'
                      Shipper:
                        Name: Shipper_Name19
                        ShipperNumber: ''
                        Address:
                          AddressLine: Shipper_AddressLine
                          City: New York
                          StateProvinceCode: NY
                          PostalCode: '10013'
                          CountryCode: US
                      ShipTo:
                        Name: Shiptoname
                        Address:
                          ResidentialAddressIndicator: x
                          AddressLine: 12380 Morris Road
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      ShipFrom:
                        Name: Shipfromname
                        Address:
                          AddressLine: Shipfromaddress
                          City: Texas
                          StateProvinceCode: TX
                          PostalCode: '77040'
                          CountryCode: US
                      Service:
                        Code: '01'
                        Description: Next Day Air
                      ShipmentRatingOptions:
                        NegotiatedRatesIndicator: Y
                      Package:
                        LargePackageIndicator: X
                        PackagingType:
                          Code: '02'
                          Description: Package
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                            Description: INCHES
                          Length: '6'
                          Width: '7'
                          Height: '8'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                          Weight: '10'
                        PackageServiceOptions:
                          DryIce:
                            RegulationSet: CFR
                            DryIceWeight:
                              UnitOfMeasurement:
                                Code: '01'
                                Description: LBS
                              Weight: '5'
                            AuditRequired: ''
              '10':
                summary: shopTime In Transit (CIE) Example
                value:
                  {
                    "RateRequest": {
                      "Request": {
                        "RequestOption": "shopTimeInTransit",
                        "SubVersion": "",
                        "TransactionReference": {
                          "CustomerContext": "Verify success returned rate request is submitted with ShopTimeInTransit",
                          "TransactionIdentifier": ""
                        }
                      },
                      "Shipment": {
                        "OriginRecordTransactionTimestamp": "",
                        "Shipper": {
                          "Name": "Shipper_Name",
                          "ShipperNumber": "",
                          "Address": {
                            "AddressLine": [
                              "Morris Road",
                              "Morris Road",
                              "Morris Road"
                            ],
                            "City": "Alpharetta",
                            "StateProvinceCode": "GA",
                            "PostalCode": "30005",
                            "CountryCode": "US"
                          }
                        },
                        "ShipTo": {
                          "Name": "ShipToName",
                          "Address": {
                            "AddressLine": [
                              "ShipToAddress",
                              "ShipToAddress",
                              "ShipToAddress"
                            ],
                            "City": "Aurora",
                            "StateProvinceCode": "ON",
                            "PostalCode": "L4G 3V2",
                            "CountryCode": "CA"
                          }
                        },
                        "ShipFrom": {
                          "Name": "ShipFromName",
                          "Address": {
                            "AddressLine": [
                              "ShipFromAddressLine",
                              "ShipFromAddressLine",
                              "ShipFromAddressLine"
                            ],
                            "City": "Alpharetta",
                            "StateProvinceCode": "GA",
                            "PostalCode": "30005",
                            "CountryCode": "US"
                          }
                        },
                        "Package": {
                          "PackagingType": {
                            "Code": "02",
                            "Description": "Packaging"
                          },
                          "Dimensions": {
                            "UnitOfMeasurement": {
                              "Code": "IN",
                              "Description": "Inches"
                            },
                            "Length": "5",
                            "Width": "5",
                            "Height": "5"
                          },
                          "PackageWeight": {
                            "UnitOfMeasurement": {
                              "Code": "LBS",
                              "Description": "LBS"
                            },
                            "Weight": "10"
                          }
                        },
                        "InvoiceLineTotal": {
                          "CurrencyCode": "USD",
                          "MonetaryValue": "100"
                        },
                        "ShipmentTotalWeight": {
                          "UnitOfMeasurement": {
                            "Code": "LBS",
                            "Description": "LBS"
                          },
                          "Weight": "9"
                        },
                        "DeliveryTimeInformation": {
                          "PackageBillType": "03",
                          "Pickup": {
                            "Date": "20250624",
                            "Time": "161682"
                          }
                        },
                      }
                    }
                  }
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/RATEResponseWrapper"
        '400':
            description: Invalid Request
            content:
                application/json:
                  schema:
                    "$ref": "#/components/schemas/ErrorResponse"
        '401':
            description: Unauthorized Request
            content:
                application/json:
                  schema:
                    "$ref": "#/components/schemas/ErrorResponse"
        '403':
            description: Blocked Merchant
            content:
                application/json:
                  schema:
                    "$ref": "#/components/schemas/ErrorResponse"
        '429':
            description: Rate Limit Exceeded
            content:
                application/json:
                  schema:
                    "$ref": "#/components/schemas/ErrorResponse"
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: |
        Find your Client ID and Secret on your app info page.
        1. Select \"Try It\"
        2. In the Security section enter your Client ID and Secret.
        3. Select \"Request Token\"
        4. Enter any additional information in the Body and Parameters sections.
        5. Select \"Send\" to execute your API request
      flows:
        clientCredentials:
          x-tokenEndpointAuthMethod: client_secret_basic
          tokenUrl: https://wwwcie.ups.com/security/v1/oauth/token
          scopes: {}
  schemas:
    RATERequestWrapper:
      xml:
        name: RateRequest
      description: 'N/A  '
      maximum: 1
      type: object
      required:
      - RateRequest
      properties:
        RateRequest:
          "$ref": "#/components/schemas/RateRequest"
    RATEResponseWrapper:
      xml:
        name: RateResponse
      description: 'N/A  '
      maximum: 1
      type: object
      required:
      - RateResponse
      properties:
        RateResponse:
          "$ref": "#/components/schemas/RateResponse"
    RateRequest:
      type: object
      required:
      - Request
      - Shipment
      properties:
        Request:
          "$ref": "#/components/schemas/RateRequest_Request"
        PickupType:
          "$ref": "#/components/schemas/RateRequest_PickupType"
        CustomerClassification:
          "$ref": "#/components/schemas/RateRequest_CustomerClassification"
        Shipment:
          "$ref": "#/components/schemas/RateRequest_Shipment"
      xml:
        name: RateRequest
      description: Rate Request container.
      maximum: 1
    RateRequest_Request:
      type: object
      required:
      - RequestOption
      properties:
        SubVersion:
          description: 'Indicates Rate API to display the new release features in
            Rate API response based on Rate release. See the What''s New section for
            the latest Rate release. Supported values: 1601, 1607, 1701, 1707, 2108,
            2205,2407,2409'
          maximum: 1
          type: string
          minLength: 4
          maxLength: 4
        TransactionReference:
          "$ref": "#/components/schemas/Request_TransactionReference"
      xml:
        name: Request
      maximum: 1
      description: Request container.  N/A
    Request_TransactionReference:
      type: object
      maximum: 1
      properties:
        CustomerContext:
          description: May be used to synchronize request/response pairs. Information in the request element is echoed back in the response.
          type: string
          minLength: 1
          maxLength: 512
          maximum: 1
      xml:
        name: TransactionReference
      description: TransactionReference identifies transactions between client and
        server.
    RateRequest_PickupType:
      type: object
      maximum: 1
      required:
      - Code
      properties:
        Code:
          description: 'Pickup Type Code.  Valid values: 01 - Daily Pickup (Default
            - used when an invalid pickup type code is provided)03 - Customer Counter06
            - One Time Pickup19 - Letter Center20 - Air Service CenterLength is not
            validated. When negotiated rates are requested, 07 (onCallAir) will be
            ignored.Refer to the Rate Types Table in the Appendix for rate type based
            on Pickup Type and Customer Classification Code.'
          maximum: 1
          type: string
          minLength: 2
          maxLength: 2
        Description:
          description: Pickup Type Description.  Ignored if provided in the Request.
          maximum: 1
          type: string
          minLength: 1
          maxLength: 35
      xml:
        name: PickupType
      description: Pickup Type container tag.
    RateRequest_CustomerClassification:
      type: object
      maximum: 1
      required:
      - Code
      properties:
        Code:
          description: Customer classification code.  Valid values:00 -  Rates Associated
            with Shipper Number01 -  Daily Rates04 -  Retail Rates05 - Regional Rates06
            - General List Rates53 -  Standard List RatesLength is not validated.If
            customer classification code is not a valid value please refer to Rate
            Types Table on page 11.
          maximum: 1
          type: string
          minLength: 2
          maxLength: 2
        Description:
          description: Customer classification description of the code above.  Ignored
            if provided in the Request. Length is not validated.
          maximum: 1
          type: string
          minLength: 1
          maxLength: 35
      xml:
        name: CustomerClassification
      description: Customer classification container. Valid if ShipFrom country or territory  is "US"
    RateRequest_Shipment:
      type: object
      maximum: 1
      properties:
        OriginRecordTransactionTimestamp:
          description: The time that the request was made from the originating system.
            UTC time down to milliseconds. Example - 2016-07-14T12:01:33.999  Applicable
            only for HazMat request and with subversion greater than or equal to 1701.
          maximum: 1
          type: string
        Shipper:
          "$ref": "#/components/schemas/Shipment_Shipper"
        ShipTo:
          "$ref": "#/components/schemas/Shipment_ShipTo"
        ShipFrom:
          "$ref": "#/components/schemas/Shipment_ShipFrom"
        AlternateDeliveryAddress:
          "$ref": "#/components/schemas/Shipment_AlternateDeliveryAddress"
        ShipmentIndicationType:
          type: array
          items:
            "$ref": "#/components/schemas/Shipment_ShipmentIndicationType"
        PaymentDetails:
          "$ref": "#/components/schemas/Shipment_PaymentDetails"
        FRSPaymentInformation:
          "$ref": "#/components/schemas/Shipment_FRSPaymentInformation"
        FreightShipmentInformation:
          "$ref": "#/components/schemas/Shipment_FreightShipmentInformation"
        GoodsNotInFreeCirculationIndicator:
          description: Goods Not In Free Circulation indicator.  This is an empty
            tag, any value inside is ignored. This indicator is invalid for a package
            type of UPS Letter and DocumentsOnly.
          maximum: 1
          type: string
        Service:
          "$ref": "#/components/schemas/Shipment_Service"
        NumOfPieces:
          description: Total number of pieces in all pallets. Required for UPS Worldwide
            Express Freight and UPS Worldwide Express Freight Midday shipments.
          type: string
        ShipmentTotalWeight:
          "$ref": "#/components/schemas/Shipment_ShipmentTotalWeight"
        DocumentsOnlyIndicator:
          description: 'Valid values are Document and Non-document. If the indicator
            is present then the value is Document else Non-Document. Note: Not applicable
            for FRS rating  requests.  Empty Tag.'
          type: string
        Package:
          type: array
          maximum: 200
          items:
            "$ref": "#/components/schemas/Shipment_Package"
        ShipmentServiceOptions:
          "$ref": "#/components/schemas/Shipment_ShipmentServiceOptions"
        ShipmentRatingOptions:
          "$ref": "#/components/schemas/Shipment_ShipmentRatingOptions"
        InvoiceLineTotal:
          "$ref": "#/components/schemas/Shipment_InvoiceLineTotal"
        RatingMethodRequestedIndicator:
          description: Presence/Absence Indicator. Any value inside is ignored. RatingMethodRequestedIndicator
            is an indicator. If present, Billable Weight Calculation method and Rating
            Method information would be returned in response.
          maximum: 1
          type: string
        TaxInformationIndicator:
          description: Presence/Absence Indicator. Any value inside is ignored. TaxInformationIndicator
            is an indicator. The Tax related information includes any type of Taxes,
            corresponding Monetary Values, Total Charges with Taxes and disclaimers
            (if applicable) would be returned in response.  If present, any taxes
            that may be applicable to a shipment would be returned in response. If
            this indicator is requested with NegotiatedRatesIndicator, Tax related
            information, if applicable, would be returned only for Negotiated Rates
            and not for Published Rates.
          maximum: 1
          type: string
        PromotionalDiscountInformation:
          "$ref": "#/components/schemas/Shipment_PromotionalDiscountInformation"
        DeliveryTimeInformation:
          "$ref": "#/components/schemas/Shipment_DeliveryTimeInformation"
        MasterCartonIndicator:
          description: Presence/Absence Indicator. Any value inside is ignored. MasterCartonIndicator
            is an indicator and presence implies that shipment is Master Carton type.  If
            present, the shipment will be rated as a Master Carton Type. If this indicator
            is requested with NegotiatedRatesIndicator, rates would be returned only
            for Negotiated Rates and not for Published Rates.
          maximum: 1
          type: string
        WWEShipmentIndicator:
          description: Presence/Absence Indicator. Any value inside is ignored. WWEShipmentIndicator
            is an indicator and presence implies that WWE service details requested
            for RequestOption=Shop or  RequestOption=Shoptimeintransit  RequestOption=Shop
            or  RequestOption=Shoptimeintransit
          maximum: 1
          type: string
      xml:
        name: Shipment
      required:
      - Shipper
      - ShipTo
      - Package
      description: Container for Shipment Information.
    Shipment_Shipper:
      type: object
      maximum: 1
      properties:
        Name:
          description: Shipper's name or company name.  Length is not validated.
          maximum: 1
          type: string
          minLength: 1
          maxLength: 35
        AttentionName:
          description: Shipper's attention name.  Length is not validated.
          maximum: 1
          type: string
          minLength: 1
          maxLength: 35
        ShipperNumber:
          description: Shipper's UPS account number.  A valid account number is required
            to receive negotiated rates. Optional otherwise. Cannot be present when
            requesting UserLevelDiscount.
          maximum: 1
          type: string
          minLength: 6
          maxLength: 6
        Address:
          "$ref": "#/components/schemas/Shipper_Address"
      xml:
        name: Shipper
      required:
      - Address
      description: Shipper container. Information associated with the UPS account
        number.
    Shipper_Address:
      type: object
      maximum: 1
      required:
      - CountryCode
      - AddressLine
      properties:
        AddressLine:
          description: Shipper's street address including name and number (when applicable).  Maximum Occurrence should be three. Length is not validated.
                       Note:Required if requesting Roadie Service
          maximum: 3
          type: array
          items:
            type: string
          minLength: 1
          maxLength: 35
        City:
          description: Shipper's city.  Required if country or territory does not utilize postal codes. Length is not validated.
          maximum: 1
          type: string
          minLength: 1
          maxLength: 30
        StateProvinceCode:
          description: Shipper's state code.  Length is not validated.
          maximum: 1
          type: string
          minLength: 2
          maxLength: 2
        PostalCode:
          description: Shipper's postal code.  Length is not validated.
          maximum: 1
          type: string
          minLength: 1
          maxLength: 9
        CountryCode:
          description: Country or Territory code. Refer to the Supported Country or Territory Tables located in Appendix.
          maximum: 1
          type: string
          minLength: 2
          maxLength: 2
      xml:
        name: Address
      description: Address Container.  If the ShipFrom container is not present then
        this address will be used as the ShipFrom. If this address is used as the
        ShipFrom, the shipment will be rated from this origin address.
    Shipment_ShipTo:
      type: object
      maximum: 1
      properties:
        Name:
          description: Destination attention name or company name.  Length is not
            validated.
          maximum: 1
          type: string
          minLength: 1
          maxLength: 35
        AttentionName:
          description: Destination attention name.  Length is not validated.
          maximum: 1
          type: string
          minLength: 1
          maxLength: 35
        Address:
          "$ref": "#/components/schemas/ShipTo_Address"
      xml:
        name: ShipTo
      required:
      - Address
      description: Ship To Container
    ShipTo_Address:
      type: object
      maximum: 1
      required:
      - CountryCode
      - AddressLine
      properties:
        AddressLine:
          description: Destination street address including name and number (when applicable).  Max Occurrence can be 3. Length is not validated.
                       Note:Required if requesting Roadie Service
          maximum: 3
          type: array
          items:
            type: string
          minLength: 1
          maxLength: 35
        City:
          description: Destination city.  Required if country or territory does not utilize postal codes. Length is not validated.
          maximum: 1
          type: string
          minLength: 1
          maxLength: 30
        StateProvinceCode:
          description: Destination state code.
          maximum: 1
          type: string
          minLength: 2
          maxLength: 2
        PostalCode:
          description: Destination postal code.  Required if country or territory utilizes postal codes (i.e. US and PR).
          maximum: 1
          type: string
          minLength: 1
          maxLength: 9
        CountryCode:
          description: Destination country or territory code. Refer to the Supported Country or Territory Tables located in the Appendix.
          maximum: 1
          type: string
          minLength: 2
          maxLength: 2
        ResidentialAddressIndicator:
          description: |
            Residential Address flag. This field is a flag to indicate if the destination is a residential location. True if ResidentialAddressIndicator tag exists; false otherwise. This element does not require a value and if one is entered it will be ignored.

            Note: When requesting TimeInTransit information, this indicator must be passed to determine if Three Day Select or Ground shipment is eligible for Saturday Delivery at no charge. If this indicator is not present, address will be considered as commercial. Empty Tag.
          maximum: 1
          type: string
      xml:
        name: Address
      description: Address Container.
    Shipment_ShipFrom:
      type: object
      maximum: 1
      properties:
        Name:
          description: Origin attention name or company name.  Length is not validated.
          maximum: 1
          type: string
          minLength: 1
          maxLength: 35
        AttentionName:
          description: Origin attention name.  Length is not validated.
          maximum: 1
          type: string
          minLength: 1
          maxLength: 35
        Address:
          "$ref": "#/components/schemas/ShipFrom_Address"
      xml:
        name: ShipFrom
      required:
      - Address
      description: Ship From Container.
    ShipFrom_Address:
      type: object
      maximum: 1
      required:
      - CountryCode
      properties:
        AddressLine:
          description: The origin street address including name and number (when applicable).  Length is not validated.
          maximum: 3
          type: array
          items:
            type: string
          minLength: 1
          maxLength: 35
        City:
          description: Origin city.  Required if country or territory does not utilize postal codes. Length is not validated.
          maximum: 1
          type: string
          minLength: 1
          maxLength: 30
        StateProvinceCode:
          description: |
            Origin state code.  A StateProvinceCode and valid account number are required when requesting negotiated rates. Otherwise the StateProvinceCode is optional.

            If the TaxInformationIndicator flag is present in the request, a StateProvinceCode must be entered for tax charges to be accurately calculated in the response.
          maximum: 1
          type: string
          minLength: 2
          maxLength: 2
        PostalCode:
          description: Origin postal code.  Required if country or territory utilizes postal codes (e.g. US and PR).
          maximum: 1
          type: string
          minLength: 1
          maxLength: 9
        CountryCode:
          description: Origin country or territory code. Refer to the Supported Country or Territory Tables located in the Appendix.  Required, but defaults to US.
          maximum: 1
          type: string
          minLength: 2
          maxLength: 2
      xml:
        name: Address
      description: Address container for Ship From.  Address Container
    Shipment_AlternateDeliveryAddress:
      type: object
      maximum: 1
      properties:
        Name:
          description: UPS Access Point location name.
          type: string
        Address:
          "$ref": "#/components/schemas/AlternateDeliveryAddress_Address"
      xml:
        name: AlternateDeliveryAddress
      required:
      - Address
      description: |
        Alternate Delivery Address container. Applies for deliveries to UPS Access Point™ locations.

        Required for the following ShipmentIndicationType values:
        - 01 - Hold for Pickup at UPS Access Point™
        - 02 - UPS Access Point™ Delivery
    AlternateDeliveryAddress_Address:
      type: object
      maximum: 1
      required:
      - CountryCode
      properties:
        AddressLine:
          description: The UPS Access Point's street address, including name and number
            (when applicable).  Length is not validated.
          maximum: 3
          type: array
          items:
            type: string
          minLength: 1
          maxLength: 35
        City:
          description: UPS Access Point city.
          maximum: 1
          type: string
          minLength: 1
          maxLength: 30
        StateProvinceCode:
          description: UPS Access Point State or Province code.
          maximum: 1
          type: string
          minLength: 2
          maxLength: 2
        PostalCode:
          description: UPS Access Point Postal code.
          maximum: 1
          type: string
          minLength: 1
          maxLength: 9
        CountryCode:
          description: UPS Access Point country or territory code.
          maximum: 1
          type: string
          minLength: 2
          maxLength: 2
        ResidentialAddressIndicator:
          description: Presence/Absence Indicator. Any value inside is ignored.This
            field is a flag to indicate if the Alternate Delivery location is a residential
            location. True if ResidentialAddressIndicator tag exists.  For future
            use.
          maximum: 1
          type: string
        POBoxIndicator:
          description: |
            Presence/Absence Indicator. Any value inside is ignored.

            This field is a flag to indicate if the Alternate Delivery location is a PO box location.

            True if POBoxIndicator tag exists; false otherwise.  Not valid with Shipment Indication Types:
            - 01 - Hold for Pickup at UPS Access Point
            - 02 - UPS Access Point™ Delivery
          maximum: 1
          type: string
      xml:
        name: Address
      description: Address container for Alternate Delivery Address.
    Shipment_ShipmentIndicationType:
      type: object
      maximum: 1
      required:
      - Code
      properties:
        Code:
          description: |
            Code for Shipment Indication Type.

            Valid values:
            - 01 - Hold for Pickup at UPS Access Point
            - 02 - UPS Access Point™ Delivery
          maximum: 1
          type: string
          minLength: 2
          maxLength: 2
        Description:
          description: Description for Shipment Indication Type.  Length is not Validated.
          maximum: 1
          type: string
          minLength: 1
          maxLength: 50
      xml:
        name: ShipmentIndicationType
      description: Container to hold shipment indication type.
    Shipment_PaymentDetails:
      type: object
      required:
      - ShipmentCharge
      properties:
        ShipmentCharge:
          type: array
          maximum: 2
          items:
            "$ref": "#/components/schemas/PaymentDetails_ShipmentCharge"
        SplitDutyVATIndicator:
          description: Split Duty VAT Indicator. The presence indicates the payer
            specified for Transportation Charges will pay transportation charges and
            any duties that apply to the shipment. The payer specified for Duties
            and Taxes will pay the VAT (Value-Added Tax) only.  Empty Tag. The payment
            method for Transportation charges must be UPS account. The UPS account
            must be a daily pickup account or an occasional account.
          maximum: 1
          type: string
      xml:
        name: PaymentDetails
      maximum: 1
      description: Payment details container for detailed shipment charges. The two
        shipment charges that are available for specification are Transportation charges
        and Duties and Taxes.  This container is used for Who Pays What functionality.
    PaymentDetails_ShipmentCharge:
      type: object
      maximum: 1
      required:
      - Type
      properties:
        Type:
          description: Values are 01 = Transportation, 02 = Duties and Taxes
          maximum: 1
          type: string
          minLength: 2
          maxLength: 2
        BillShipper:
          "$ref": "#/components/schemas/ShipmentCharge_BillShipper"
        BillReceiver:
          "$ref": "#/components/schemas/ShipmentCharge_BillReceiver"
        BillThirdParty:
          "$ref": "#/components/schemas/ShipmentCharge_BillThirdParty"
        ConsigneeBilledIndicator:
          description: Consignee Billing payment option indicator. The presence indicates
            consignee billing option is selected. The absence indicates one of the
            other payment options is selected.  Empty Tag. This element or its sibling
            element, BillShipper, BillReceiver or BillThirdParty, must be present
            but no more than one can be present. This billing option is valid for
            a shipment charge type of Transportation only. Only applies to US/PR and
            PR/US shipment origins and destination.
          maximum: 1
          type: string
      xml:
        name: ShipmentCharge
      description: Shipment charge container.  If Duty and Tax charges are applicable
        to a shipment and a payer is not specified, the default payer of Duty and
        Tax charges is Bill to Receiver. There will be no default payer of Duty and
        Tax charges for DDU and DDP service.
    ShipmentCharge_BillShipper:
      type: object
      maximum: 1
      required:
      - AccountNumber
      properties:
        AccountNumber:
          description: UPS account number  Must be the same UPS account number as
            the one provided in Shipper/ShipperNumber.
          maximum: 1
          type: string
          minLength: 6
          maxLength: 6
      xml:
        name: BillShipper
      description: Container for the BillShipper billing option.  This element or
        its sibling element, BillReceiver, BillThirdParty or ConsigneeBilledIndicator,
        must be present but no more than one can be present.
    ShipmentCharge_BillReceiver:
      type: object
      maximum: 1
      required:
      - AccountNumber
      properties:
        AccountNumber:
          description: The UPS account number.  The account must be a valid UPS account
            number that is active. For US, PR and CA accounts, the account must be
            a daily pickup account, an occasional account, a customer B.I.N account,
            or a dropper shipper account. All other accounts must be either a daily
            pickup account, an occasional account, a drop shipper account, or a non-shipping
            account.
          maximum: 1
          type: string
          minLength: 6
          maxLength: 6
        Address:
          "$ref": "#/components/schemas/BillReceiver_Address"
      xml:
        name: BillReceiver
      description: Container for the BillReceiver billing option.  This element or
        its sibling element, BillShipper, BillThirdParty or Consignee Billed, must
        be present but no more than one can be present. For a return shipment, Bill
        Receiver is invalid for Transportation charges.
    BillReceiver_Address:
      type: object
      maximum: 1
      properties:
        PostalCode:
          description: The postal code for the UPS account's pickup address. The pickup
            postal code was entered in the UPS system when the account was set-up.
          maximum: 1
          type: string
          minLength: 1
          maxLength: 9
      xml:
        name: Address
      description: Container for additional information for the bill receiver's UPS
        accounts address.
    ShipmentCharge_BillThirdParty:
      type: object
      maximum: 1
      required:
      - Address
      - AccountNumber
      properties:
        AccountNumber:
          description: The UPS account number of the third party shipper.  The account
            must be a valid UPS account number that is active. For US, PR and CA accounts,
            the account must be either a daily pickup account, an occasional account,
            or a customer B.I.N account, or a drop shipper account. All other accounts
            must be either a daily pickup account, an occasional account, a drop shipper
            account, or a non-shipping account.
          maximum: 1
          type: string
          minLength: 6
          maxLength: 6
        Address:
          "$ref": "#/components/schemas/BillThirdParty_Address"
[...]
