<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %> !</h1>
    <p>
      <%= @sender.first_name %> has invited you to use ToolJet. Use the link below to set up you account and get started.
    </p>

    <%= @url %>
    
    <p>
      Welcome aboard,
      The ToolJet Team
    </p>
  </body>
</html>
