<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello !</h1>
    <p>
      Please use the link below to set up your account and get started.
    </p>

    <a href="<%= @url %>"><%= @url %></a>
    
    <p>
      Welcome aboard,
      The ToolJet Team
    </p>
  </body>
</html>
