.tj-datepicker-widget {

    border-radius: 6px !important;
    border: 1px solid var(--slate5) !important;
    box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
    width: 250px;
    padding: 0px;

    &.react-datepicker-popper {
        z-index: 3;
    }
}

.tj-timepicker-widget {
    &.react-datepicker-popper {
        background-color: unset;
        z-index: 3;
    }

    .react-datepicker__time-container {
        right: 0px
    }
}

.has-datepicker {
    .react-datepicker-wrapper {
        width: 100%;
    }

    .react-time-picker__wrapper {
        border: none !important;
    }


    .timepicker-wrapper {
        .react-datepicker-wrapper {
            border: none !important;
        }
    }

    input[type="time"] {
        position: relative;
    }

    input[type="time"]::-webkit-calendar-picker-indicator {
        display: block;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        background: transparent;
    }
}

// Changes for react date picker in table
.tj-table-datepicker {
    .react-datepicker__header {
        background-color: var(--surfaces-surface-01);
        padding: 6px 0px;
        border: none;
    }

    .tj-datepicker-widget-left {
        position: absolute;
        left: 10px;
    }

    .tj-datepicker-widget-right {
        position: absolute;
        right: 10px;
    }

    .tj-datepicker-widget-arrows {
        box-shadow: 0px 1px 0px 0px #0000000B;
        border: 1px solid var(--borders-default);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
        background-color: var(--surfaces-surface-01) !important;
    }

    .react-datepicker__navigation-icon--previous {
        right: 0px;
        top: 3px;
    }

    .react-datepicker__navigation-icon--next {
        left: 0px;
        top: 3px;
    }

    .react-datepicker {
        width: 250px;
        border: none;
        background-color: var(--surfaces-surface-01);
    }

    .dark-theme {
        .react-datepicker {
            background-color: #232e3c;
        }

    }

    .react-datepicker__month {
        margin: 6px
    }

    .react-datepicker__navigation--next {
        right: 14px;
    }

    .react-datepicker__navigation--previous {
        left: 14px;
    }

    .react-datepicker__week,
    .react-datepicker__day-names {
        display: flex;
        justify-content: space-between;
    }

    .react-datepicker__day-names {
        .react-datepicker__day-name {
            color: var(--text-placeholder)
        }
    }

    .react-datepicker__day--selected {
        border-radius: 8px;
        background-color: var(--primary-brand) !important;
        color: var(--surfaces-surface-01) !important
    }

    .react-datepicker__navigation-icon::before {
        border-color: #000;
        border-width: 1px 1px 0 0;
    }

    .react-datepicker__day {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        color: var(--text-primary);

        &:hover {
            background-color: var(--interactive-overlays-fill-hover);
            border-radius: 8px;
        }
    }

    .react-datepicker__day--today {
        border: 1px solid var(--primary-brand);
        border-radius: 8px;
        background-color: var(--surfaces-surface-01);
    }

    .react-datepicker__day--keyboard-selected {
        background-color: var(--surfaces-surface-01);
    }

    .react-datepicker-time__input {
        input {
            width: 205px !important;
            height: 32px !important;
            border-radius: 6px;
            background: #FFF;
            box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
            border: 1px solid var(--tj-text-input-widget-border-default);
            padding-left: 10px;
        }
    }

    .react-datepicker__month-container {
        float: inherit;
    }

    .react-datepicker__time-container .react-datepicker__time {
        color: var(--text-primary);
        background: var(--surfaces-surface-01);
    }

    .dark-theme {

        .react-datepicker-popper,
        .tj-datepicker-widget {
            background-color: #232e3c;
        }

        .react-datepicker__time-container,
        .react-datepicker__time-container .react-datepicker__time {
            background-color: #232e3c;
            color: #fff
        }

        .react-datepicker__header {
            background-color: #232e3c;
            color: #fff
        }

        .react-datepicker__month-container {
            background-color: #232e3c;
            color: #fff;

            .react-datepicker__month {
                background-color: #232e3c;

                .react-datepicker__day {
                    color: #fff
                }
            }

        }

        li.react-datepicker__time-list-item:hover {
            background-color: #CCD1D533 !important;
        }

        select {
            color: #fff
        }
    }

    .tj-datepicker-widget-month-selector,
    .tj-datepicker-widget-year-selector {
        &:hover {
            background-color: var(--interactive-overlays-fill-hover);
            border-radius: 6px;
        }
    }

    .react-datepicker__day--outside-month {
        color: var(--text-disabled);
    }

    .react-datepicker__day--excluded {
        color: var(--text-disabled);
        pointer-events: none;
    }

    .react-datepicker__day {
        margin: 0px;
    }

    .react-datepicker__week {
        padding: 4px;
    }

    .react-datepicker__day-name,
    .react-datepicker__day,
    .react-datepicker__time-name {
        margin: 0px;
    }

    .react-datepicker__day-names {
        margin: 0rem 0.4rem;
        height: 24px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }

    .tj-datepicker-widget-month-selector,
    .tj-datepicker-widget-year-selector {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        padding-right: 1em;
        /* Add some padding on the right to create space for custom arrow */
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23424242" width="18px" height="18px"><path d="M7 10l5 5 5-5z" /></svg>');
        /* Add a custom arrow (you can use your own SVG) */
        background-repeat: no-repeat;
        background-position: right center;
        border: none;
        /* Remove the default border */
        padding: 8px;
        /* Adjust padding as needed */
        cursor: pointer;
        /* Add pointer cursor for better usability */
        background: none;
        padding: 0px;
        height: 24px;
        text-align: center;
        color: var(--text-primary);
        font-weight: 500;
    }

    /* Optional: Style when select is focused */
    select:focus {
        outline: none;
    }

    .react-datepicker__triangle {
        display: none;
    }

    .react-datepicker__time-container {
        position: absolute;
        right: -86px;
        top: 0;
        height: 271.12px;
        background-color: #fff;
        border: 1px solid var(--slate5);
        box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
        border-radius: 0.3rem;

        .react-datepicker__header {
            padding-top: 13px;
            padding-bottom: 7px;
            border-bottom: 1px solid var(--slate7)
        }

        .react-datepicker__time-box {
            width: 85px;
            margin: 0px;
        }

        .react-datepicker__time-list-item {
            height: 28px !important;
            color: var(--text-primary) !important;
            font-weight: 400 !important;
            padding: 0px !important;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .react-datepicker__time-list-item--selected {
            border-radius: 8px;
            background-color: #4368E3 !important;
            color: var(--surfaces-surface-01) !important
        }
    }

    .react-datepicker-time__header {
        color: #6A727C;
        font-weight: 400;
    }

    .react-datepicker--time-only {
        width: 66px;
    }

    .react-datepicker__time-list-item,
    .react-datepicker__time-list-item--selected {
        margin-bottom: 3px !important;
    }

    .react-datepicker__time-box {
        display: flex;

        ul {
            padding: 0px 10px 0px 10px !important;
        }
    }
}

// Date picker widget
.datepicker-widget {
    .input-field {
        min-height: 32px;
        padding: 0;
        padding-left: 2px;
    }
}



.react-datepicker-popper,
.tj-datepicker-widget {
    background-color: var(--surfaces-surface-01);
}



.react-datepicker-popper[data-placement^=bottom] {
    padding-top: 0px !important;
    margin-top: 12px;
}


.table-column-datepicker-input {
    border: 1px solid transparent;
    background: inherit;
    text-align: left;
    width: 100%;
}

.table-dark {
    .table-column-datepicker-input {
        color: #fff
    }
}


.tj-datepicker-widget-hidden {
    height: 0px;

    .react-datepicker--time-only {
        top: -16px;
    }
}

.table-column-datepicker-input-container {
    position: relative;
}

.table-column-datepicker-input-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%)
}


td {
    &.isEditable {

        &:hover,
        &:focus-within {
            .table-column-datepicker-input {
                padding-right: 40px;
            }
        }
    }
}

.react-datepicker-popper {
    z-index: 4 !important;
}