.canvas-component {
   .code-editor-component {
        .cm-scroller {
            background-color: var(--cc-surface1-surface);
        }
   }

   .code-editor-widget {
    background-color: var(--cc-surface1-surface) !important;
   }
   
}