@import "../../_styles/colors.scss";

.codehinter-input-wrapper {
    display: flex;
    padding: 6px 0px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;

    .codehinter-container {
        height: inherit !important;

        .codehinter-vertical-line {
            position: relative;
            width: 0;
            border-left: 1px solid var(--slate5);
            content: '';
            margin-right: 1rem;
        }
    }

    .list-group-item {
        border-radius: 0 !important;
    }
}

.cm-widgetBuffer {
    display: none !important;
}


.cm-base-hint-info {
    color: var(--text-default, #1B1F24) !important;
    background-color: var(--surfaces-surface-02);
    border: 1px solid var(--borders-disabled-on-white, #E4E7EB) !important;
    border-radius: 0px 0px 6px 6px !important;
    box-shadow: 0px 4px 8px 0px rgba(48, 49, 51, 0.10), 0px 0px 1px 0px rgba(48, 49, 51, 0.05);
    font-weight: 400;
}

.cm-base-autocomplete {
    // height: 300px !important;
    color: var(--text-default, #1B1F24);
    background: var(--slate1) !important;
    border: 1px solid var(--borders-disabled-on-white, #E4E7EB) !important;
    border-radius: 6px !important;
    box-shadow: 0px 4px 8px 0px rgba(48, 49, 51, 0.10), 0px 0px 1px 0px rgba(48, 49, 51, 0.05);
    z-index: 99999 !important;
    // overflow-y: auto !important;
    // overflow-x: hidden !important;
    width: 270px !important;


    ul {
        width: 270px !important;
        max-width: 100% !important;
        max-height: 300px !important;

        completion-section {
            color: var(--text-placeholder, #1B1F24) !important;
            border-bottom: none !important;
            background-color: var(--surfaces-surface-02) !important;
            font-size: 13px !important;
            line-height: 20px !important;
            font-weight: 500 !important;
            padding: 8px !important;
        }




        li {
            max-width: 100% !important;
            width: 100% !important;
            display: flex !important;
            align-items: flex-start !important;
            justify-content: space-between !important;
            padding: 0.35rem !important;
            font-size: 11px !important;
            font-style: normal !important;
            font-weight: 400 !important;
            line-height: 16px !important;
            color: var(--text-default, #1B1F24) !important;

            .cm-completionIcon-js_methods::after {
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 1073.9 1074' viewBox='0 0 1073.9 1074' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m1005.4 0h-936.8c-37.9 0-68.6 30.7-68.6 68.6v936.8c0 37.8 30.7 68.6 68.6 68.6h936.8c37.8 0 68.6-30.7 68.6-68.6v-936.9c-.1-37.8-30.8-68.5-68.6-68.5zm-517.8 605.3c0 29.8-2.8 55.3-8.5 76.3s-14.3 37.8-25.7 51c-11.5 13-25.8 22.6-42.9 28.6-17.1 6.1-37 9.1-59.7 9.1-20 0-38-3.2-54.2-9.4-31.7-11.9-56.5-37.4-67.4-69.4-6.4-17.9-9.5-36.7-9.2-55.7v-13.4h64.3c0 59.9 22.2 89.9 66.6 89.9 11.4 0 21.4-1.3 30.4-4 8.9-2.8 16.4-7.8 22.6-15.4 6.2-7.5 10.8-17.9 14-31.4s4.8-31 4.8-52.7v-335.2h65.1zm359.1 97.3c-6.8 13.7-16.4 25.8-28.2 35.5-13.2 10.6-28.4 18.7-44.6 23.7-17.5 5.6-37.1 8.4-58.8 8.4-96.1 0-146.8-37.9-152-113.9h63.2c.3 42.9 29.7 64.4 88.1 64.4 13 0 24.6-1.4 34.5-4.3 10-2.8 18.3-6.8 24.9-11.8 12.9-9.3 20.5-24.2 20.4-40.1.3-7-1.1-13.9-3.9-20.3-2.6-5.2-7.7-9.7-15.2-13.7-10-4.9-20.4-8.8-31.2-11.6-17.3-5-34.7-9.8-52.2-14.3-20.9-5.2-39-10.4-54.1-15.6-13.4-4.2-26-10.5-37.4-18.8-9.5-7.1-17-16.5-21.7-27.3-4.7-10.9-7-24.6-7-41.1 0-14.5 3.1-28 9.2-40.5 6.2-12.4 14.9-23.2 26.5-32.4 11.4-9.1 25.3-16.2 41.5-21.4 17.6-5.4 36-8 54.4-7.8 92.9 0 140.2 33 141.6 99.1h-62.2c-2.2-33-27.1-49.6-74.7-49.6-10.6 0-20.3 1.1-29.4 3.2s-16.8 5.1-23.5 9.1c-6.7 3.9-11.8 8.8-15.6 14.6-3.7 6-5.7 13-5.5 20.1 0 6.9.9 12.6 2.6 17 1.7 4.5 5.8 8.6 12.4 12.4 6.5 3.8 16.2 7.6 29 11.3s30.3 8.3 52.5 13.7c21.4 5.2 40.1 10.5 55.9 16.1 15.7 5.6 28.8 12.3 39.4 20.2 10.5 7.8 18.2 17.5 23.3 28.8 5 11.3 7.6 25.5 7.6 42.5.2 16.1-3.2 30.8-9.8 44.4z' fill='%23030104'/%3E%3C/svg%3E");
                background-size: cover;
                display: flex;
                width: 16px;
                height: 16px;
                border: none;
            }

            .cm-completionIcon-object::after {
                content: '';
                background-image: url('data:image/svg+xml,<svg viewBox="-4.08 -4.08 32.16 32.16" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"><rect x="-4.08" y="-4.08" width="32.16" height="32.16" rx="16.08" fill="%23849DFF" strokewidth="0"></rect></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M9.5 5H9C7.89543 5 7 5.89543 7 7V9C7 10 6.4 12 4 12C5 12 7 12.6 7 15V17.0002C7 18.1048 7.89543 19 9 19H9.5M14.5 5H15C16.1046 5 17 5.89543 17 7V9C17 10 17.6 12 20 12C19 12 17 12.6 17 15V17.0002C17 18.1048 16.1046 19 15 19H14.5" stroke="%23000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path></g></svg>');
                background-size: cover;
                display: flex;
                width: 16px;
                height: 16px;
                border: none;
                border-radius: 50%;
                background-color: red;
            }

            .cm-completionIcon-array::after {
                content: '';
                background-image: url('data:image/svg+xml,<svg fill="%23000000" viewBox="-25.6 -25.6 307.20 307.20" id="Flat" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"><rect x="-25.6" y="-25.6" width="307.20" height="307.20" rx="153.6" fill="%23C1C8CD" strokewidth="0"></rect></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M48,48V208H80a8,8,0,0,1,0,16H40a8.00039,8.00039,0,0,1-8-8V40a8.00039,8.00039,0,0,1,8-8H80a8,8,0,0,1,0,16ZM216,32H176a8,8,0,0,0,0,16h32V208H176a8,8,0,0,0,0,16h40a8.00039,8.00039,0,0,0,8-8V40A8.00039,8.00039,0,0,0,216,32Z"></path></g></svg>');
                background-size: cover;
                display: flex;
                width: 16px;
                height: 16px;
                border: none;
                border-radius: 50%;
                background-color: red;
            }

            .cm-completionIcon-string::after {
                content: 'str';
                display: flex;
                width: 16px;
                height: 16px;
                border: none;
                border-radius: 50%;
                background-color: greenyellow;
                font-size: 6px;
                align-items: center;
                justify-content: center;
            }


        }

        li[aria-selected="true"] {
            background-color: var(--interactive-hover) !important;
            color: var(--text-default, #1B1F24) !important;
        }


        // li > :first-child,
        li> :nth-child(2) {
            display: inline !important;
            align-self: flex-start !important;
            width: 100% !important;
            text-wrap: nowrap !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        li> :last-child {
            align-self: flex-end !important;
        }

        .cm-completionIcon {
            width: 16px !important;
            height: 16px !important;
        }
    }

    .cm-custom-completion-info {
        @extend .cm-base-hint-info;
        position: relative !important;
        width: 100% !important;
        background-color: var(--surfaces-surface-03) !important;
    }
}



.query-manager-sort-filter-popup {
    .cm-base-autocomplete {
        position: fixed !important;
        top: 130px !important;
    }
}

.canvas-codehinter-container {
    .cm-base-autocomplete {
        position: fixed !important;
        top: 500px !important;
        left: 38px !important;
    }
}

.widget-code-editor {
    height: 100%;

    .cm-content {
        max-width: 100% !important;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}

.Í¼1 .cm-placeholder {
    vertical-align: middle;
}


.codehinter-input {
    font-family: IBM Plex Sans;
    font-size: 12px !important;
    display: block;
    // width: 100%;
    font-weight: 400;
    color: var(--slate9);
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: text;
    justify-content: center;


    .cm-tooltip-autocomplete {
        @extend .cm-base-autocomplete;
    }

    .cm-editor {
        min-height: 32px;
        justify-content: center !important;

    }
}

.codehinter-input.focused {

    .cm-editor {
        outline: none;
        border: 2px solid #4368E3 !important;
        justify-content: center !important;
    }
}


.suggest-list-item {
    color: var(--text-default, #1B1F24);
    font-family: IBM Plex Sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 145.455% */

    &:hover,
    &:active {
        border-radius: 0 !important;
    }
}

.curly-braces {
    color: #1E823B;
}

.styled-par {
    color: #1E823B;
}

.cm-codehinter-dark-themed {
    .cm-tooltip-autocomplete {
        border-color: var(--slate5) !important;
    }

    .cm-tooltip-autocomplete>ul>completion-section {
        background: var(--slate5);
        color: #c9cbcf !important;
    }

    .cm-tooltip-autocomplete>ul>li {
        background: var(--surfaces-surface-02);
        color: #c9cbcf !important;
    }
}






.cm-scroller {
    overflow-y: auto !important;
    overflow-x: hidden !important;
    overscroll-behavior: contain;
}

.cm-focused {
    outline: none !important;
}

.cm-editor {
    border: 1px solid var(--slate7);
    border-radius: 4px;
    transition: box-shadow 0.15s ease-in-out;
}

.fields-container {
    .cm-editor {
        border-radius: 0 !important;
        box-shadow: none !important;
    }
}

.rest-api-tab-content {
    .fields-container {
        .rest-api-codehinter-key-field {
            .cm-editor {
                border-radius: 4px 0px 0px 4px !important;
                box-shadow: none !important;
            }
        }
    }
}

.border-danger {
    .cm-editor {
        border: 1px solid red !important;
    }
}

.runjs-editor .cm-editor {
    border: none !important;
}

.preview-alert-banner {
    height: fit-content;
    max-height: 300px;
    border: none !important;
}


.code-hinter-preview-card-body::-webkit-scrollbar {
    width: 4px !important;
}

.code-hinter-preview-card-body::-webkit-scrollbar-track {
    margin: 5px !important;
}

.code-hinter-preview-card-body>.codehinter-popup-icon {
    left: 2px !important;
}

.editor-container {
    .codehinter-input .cm-editor {
        max-height: auto !important;
        justify-content: center;
    }
}



.codehinter-error-banner {
    color: #D72D39 !important;
    background-color: #FCEEEF !important;
    font-size: 12px !important;
}

.codehinter-success-banner {
    color: #1E823B !important;
    background-color: #E8F3EB !important;
    font-size: 12px !important;

}

.cm-gutterElement {
    color: var(--text-disabled);
}

.rest-api-tabpanes-body {
    .cm-gutters {
        width: 42px !important;
        background-color: var(--interactive-default) !important;
        color: var(--text-disabled) !important;
        border-right: 1px solid var(--borders-disabled-on-white) !important;
    }
}

.cm-content {
    padding-right: 20px !important;
}

.modal-body {
    .codehinter-input .cm-editor {
        border: 1px solid var(--borders-disabled-on-white, #E4E7EB) !important;
    }

    .codehinter-input .cm-editor {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
    }

    .codehinter-input {
        height: 100%;
        border: none !important;


    }
}

.cm-gutters {
    width: 42px !important;
    background-color: var(--interactive-default) !important;
    color: var(--text-disabled) !important;
    border-right: 1px solid var(--borders-disabled-on-white) !important;
}


.query-hinter {
    .cm-editor {
        border-bottom-right-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
        border-color: var(--borders-disabled-on-white);
        border-top-right-radius: 0px !important;
        border-top-left-radius: 0px !important;
        justify-content: center;
    }

}

.transformation-container {
    box-shadow: 0px 4px 8px 0px #3032331A;
}

.codehinder-popup-badge {
    background-color: var(--surfaces-surface-02);
    color: var(--text-default);
    padding: 6px 8px 6px 8px;
    gap: 10px;
    border-radius: 6px 0px 0px 0px;
}

.resize-modal-portal .resize-modal .modal-content .modal-body .editor-container {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.resize-modal-portal .resize-modal .resize-handle {
    border-bottom: none !important;
}

.cm-content {
    word-break: break-all !important;
    max-width: 100% !important;
    white-space: pre-wrap !important;
    word-wrap: break-all !important;
}


.cm-content {
    max-width: 98%;
    flex-shrink: 1 !important;
}

.cm-line {
    cursor: text;
}

.runjs-editor {
    .cm-line {
        padding: 0 6px 0 6px !important;
    }


}

.transformation-container {
    box-shadow: 0px 4px 8px 0px #3032331A;
}

.codehinder-popup-badge {
    background-color: var(--surfaces-surface-02);
    color: var(--text-default);
    padding: 6px 8px 6px 8px;
    gap: 10px;
    border-radius: 6px 0px 0px 0px;
}

.resize-modal-portal .resize-modal .modal-content .modal-body .editor-container {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.resize-modal-portal .resize-modal .resize-handle {
    border-bottom: none !important;
}

.cm-content {
    word-break: break-all !important;
    max-width: 100% !important;
    white-space: pre-wrap !important;
    word-wrap: break-all !important;
}


.cm-content {
    max-width: 98%;
    flex-shrink: 1 !important;
}

.cm-selectionLayer {
    width: 100%;
}



.table-column-popover {
    .cm-tooltip-autocomplete {
        left: auto !important;
        max-width: 100% !important;

        ul {
            min-width: auto !important;
        }
    }

    .column-popover-card-ui {
        .cm-tooltip-autocomplete {
            max-width: 100% !important;
        }
    }
}

.disabled-cursor {
    cursor: not-allowed;
}

.disabled-pointerevents {
    pointer-events: none;
}

.rest-api-tab-content {
    .fields-container {
        .rest-api-codehinter-key-field {
            .cm-editor {
                border-radius: 4px 0px 0px 4px !important;
                box-shadow: none !important;
            }
        }
    }
}