@import '../colors.scss';

.comment-notification-user {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;
}

.comment-notification-count {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #656D77;
}
.comment-notification-message {
  margin-top: 8px;
}

.comment-notification {
  padding: 1rem 1rem;
}

.comment-notification-selected {
  background: #DEEAFF;
}

.comment-notification-header {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.comment-notification-nav-item {
  background-color: #fff !important;
}

.comment-notification-filter-popover {
  width: 160px;
  height: 78px;
  border: 0.5px solid #E1E1E1 !important;
  border-radius: 4px !important;
  top: 25px !important;
  right: -30px;
  left: -150px !important;
  padding: 12px;
}