@import '../colors.scss';

.comments {
  z-index: 2;
  display: inline-block;
  position: absolute;
  margin: 0.2rem;

  &.open {
    z-index: 3;
  }

  .comment-popover {
    top: 40px;
    width: 30rem;
    max-width: 30rem;
  }

  .open-left {
    left: 0;
    right: auto;
  }

  .open-right {
    right: 0;
  }
}
