.sql-sort-container {
  width: 100%;
}

.sql-sort-row {
  margin-bottom: 8px;

  .codehinter-input {
    .cm-editor {
      // height: 30px !important;
      min-height: 30px !important;
      max-height: 100px !important;
      border-radius: 0 !important;
    }
  }

  .sql-filter-end {
    .codehinter-input {
      .cm-editor {
        border-right: 0;
      }
    }
  }
}

.sql-sort-order-wrapper {
  display: flex;
  align-items: center;
}

.sql-sort-order-input {
  width: calc(100% - 35px);
}

.sql-sort-delete-button {
  flex-shrink: 0;
  min-height: 30px !important;
  max-height: 100px !important;
}

.sql-sort-add-button {
  margin-top: 8px;
}

.sql-sort-add-button.no-sort-entries-above {
  margin-top: 0;
}