.form-header {
    font-size: 32px;
    font-weight: 500;
    margin-top: 32px;
    color: var(--text-default, #1B1F24);
}

.onboarding-form-width {
    width: 308px;

    .submit-button {
      margin: 0 auto;
      border: none;
      width: 308px;
    }
}

.free-space {
    display: block;
    height: 24px;
}

.info-screen {
    .onboarding-form-wrapper {
        margin-top: 0px;
    }
}