.ToggleGroup {
  display: inline-flex;
  background-color:  var(--slate4);
  border-radius: 6px;
  box-shadow: 0 2px 10px var(--black-a7);
}

.ToggleGroupItem {
  all: unset;
  background-color:  var(--slate4);
  color: var(--slate9);
  min-height: 28px;
  display: flex;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  padding: 2px 6px;

}
.ToggleGroupItem:first-child {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.ToggleGroupItem:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.ToggleGroupItem[data-state='on'] {
  padding: 2px 2px;
  .toggle-item {
    background-color: white;
    color: var(--indigo9);
    border-radius: 6px;
    padding: 4px;
  }
}
.ToggleGroupItem:focus {
  position: relative;
}