.jet-container.jet-accordion-collapsed {
    .tj-accordion-header {
        .wj-container-header, .tj-accordion-close-btn {
            border-bottom: none !important;
        }
    }
}

.tj-accordion-header {
    display: flex;

    .tj-accordion-header-container {
        width: 100%;
        height: 100%;

        .wj-container-header {
            position: relative;
            border-bottom: 1px solid var(--cc-accordion-header-divider-color, var(--border-weak, #e4e7eb));
        }
    }

    .tj-accordion-close-btn {
        height: 100%;
        width: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid var(--cc-accordion-header-divider-color, var(--cc-default-border));

        button {
            padding: 0;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
    }
}

.dynamic-height-target {
  .canvas-component {
    .widget-type-container {
      .sub-canvas {
        overflow-y: hidden !important;
      }
    }
  }
}