@import "../../_styles/designtheme.scss";

.tj-base-btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 8px;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    line-height: 20px;
    text-decoration: none !important;

    .tj-btn-left-icon,
    .tj-btn-right-icon {
        display: flex;
        align-items: center;
    }

    &:disabled {
        background: var(--slate3) !important;
        color: var(--slate8) !important;
    }
}

.tj-large-btn {
    height: 40px;
    border-radius: 6px;
    padding: 10px 20px 10px 20px;
    font-size: 14px;
}

.tj-medium-btn {
    height: 32px;
    border-radius: 6px;
    padding: 6px 16px 6px 16px;
    font-size: 14px;
}

.tj-small-btn {
    height: 28px;
    border-radius: 6px;
    padding: 4px 16px 4px 16px;
    font-size: 12px;
}

.tj-extra-small-btn {
    height: 20px;
    border-radius: 4px;
    padding: 0px 8px 0px 8px;
    font-size: 12px;
}

/* Order */
.tj-reverse-btn {
    flex-direction: row-reverse;
}

/* Variants */
.tj-primary-btn {
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.00);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
    background: var(--button-primary);
    color: var(--button-primary-text);

    &:hover {
        border: 1px solid rgba(255, 255, 255, 0.00);
        background: var(--button-primary-hover);
        color: #FDFDFE;
    }

    &:focus-visible {
        border: 1px solid rgba(255, 255, 255, 0.00);
        outline: none;
        background: var(--button-tirtiary-hover);
        color: var(--button-primary-text);
        box-shadow: 0px 0px 0px 4px #C6D4F9;
    }


    &:active {
        border: 1px solid rgba(255, 255, 255, 0.00);
        box-shadow: 0px 0px 0px 4px var(--indigo6);
        background: var(--button-primary-active);

    }

}

.tj-secondary-btn {
    color: var(--button-secondary-text) !important;
    border: 1px solid var(--button-secondary-border) !important;
    background: var(--button-secondary) !important;

    &:hover {
        color: var(--button-secondary-text) !important;
        border: 1px solid var(--button-secondary-border) !important;
        background: var(--button-secondary-hover) !important;
    }

    &:active {
        color: var(--button-secondary-text) !important;
        box-shadow: none;
        border-radius: 6px;
        border: 1px solid var(--button-secondary-border) !important;
        background: var(--button-secondary-active) !important;
    }

    &:focus-visible {
        color: var(--button-secondary-text) !important;
        outline: none;
        border: 1px solid var(--button-secondary-border) !important;
        background: var(--button-secondary) !important;

        /* Focus rings/Indigo/light */
        box-shadow: 0px 0px 0px 4px #C6D4F9;
    }
}

.tj-tertiary-btn {
    color: var(--button-tirtiary-text);
    border: 1px solid var(--button-tirtiary-border) !important;
    background: var(--button-tirtiary) !important;

    &:hover {
        color: var(--button-tirtiary-text) !important;
        border: 1px solid var(--button-tirtiary-border) !important;
        background: var(--button-tirtiary-hover) !important;
    }

    &:active,
    &:focus,
    &.always-active-btn {
        border: 1px solid var(--button-tirtiary-border) !important;
        background: var(--button-tirtiary-active) !important;
        color: var(--button-tirtiary-text);
    }

    &:active {
        background: var(--button-tirtiary-active);
        box-shadow: none;
        color: var(--button-tirtiary-text) !important;
    }

    &:focus-visible {
        color: var(--text-secondary) !important;
        box-shadow: 0px 0px 0px 4px #DFE3E6;
        outline: none;
        border: 1px solid var(--button-tirtiary-border) !important;
        background: var(--button-tirtiary-hover) !important;
    }
}


.tj-ghost-blue-btn {
    color: var(--button-secondary-text);
    border: none;
    background: transparent;

    &:hover {
        color: var(--button-secondary-text);
        background-color: var(--button-secondary-hover);
    }

    &:active {
        color: var(--button-secondary-text);
        background-color: var(--button-secondary-active);
    }

    &:focus-visible {
        color: var(--button-secondary-text);
        background: var(--background-strong);
        border: none;
        box-shadow: 0px 0px 0px 4px #C6D4F9;
        outline: none;
    }

    &:focus {
        box-shadow: 0px 0px 0px 4px var(--indigo6);
    }
}

.tj-ghost-black-btn {
    color: var(--button-tirtiary-text);
    border: none;
    background: transparent;

    &:hover {
        background: var(--button-tirtiary-hover) !important;
        color: var(--button-tirtiary-text);
        border: 1px solid rgba(255, 255, 255, 0.00) !important;
    }

    &:focus-visible {
        color: var(--button-tirtiary-text);
        box-shadow: 0px 0px 0px 4px #DFE3E6;
        outline: none;
        background: var(--button-tirtiary-hover) !important;
    }

    &:active,
    &:focus,
    &.always-active-btn {
        color: var(--button-tirtiary-text);
        border: 1px solid rgba(255, 255, 255, 0.00) !important;
        background: var(--button-tirtiary-active) !important;
        box-shadow: none !important;
    }

    &:disabled {
        // background: rgba(255, 255, 255, 0.00) !important;
        border: 1px solid rgba(255, 255, 255, 0.00) !important;
        color: #C1C8CD;
    }
}

/* // Danger-variants--- */

.tj-primary-danger-btn {
    background: var(--button-primary);
    border: none;
    color: var(--button-primary-text);

    &:hover {
        background: var(--button-primary-hover);
    }

    &:active {
        background: var(--button-primary-active);
        color: var(--button-primary-text);
    }

    &:focus-visible {
        background: var(--button-primary);
        border: none;
        box-shadow: 0px 0px 0px 4px #FAC7BE;
        outline: none;
    }

}

.tj-secondary-danger-btn {
    background: var(--button-secondary);
    border: 1px solid var(--button-secondary-border);
    color: var(--button-secondary-text);

    &:hover {
        background: var(--button-secondary-hover);
        color: var(--button-secondary-text);
        border: 1px solid var(--button-secondary-border);

    }

    &:active {
        background: var(--button-secondary-active);
        color: var(--button-secondary-text);
        border: 1px solid var(--button-secondary-border);

    }

    &:focus-visible {
        background: var(--tomato4);
        border: 1px solid var(--button-secondary-border);
        box-shadow: 0px 0px 0px 4px var(--tomato6);
        color: var(--button-secondary-text);
        outline: none;
    }
}

.tj-tertiary-danger-btn {
    background: transparent;
    border: 1px solid var(--button-secondary-border);
    color: var(--button-secondary-text);

    &:hover {
        background: var(--button-tirtiary-hover);
        color: var(--button-secondary-text);
        border: 1px solid var(--button-secondary-border);
    }

    &:active {
        background: var(--button-secondary-active);
        color: var(--button-secondary-text);
        border: 1px solid var(--button-secondary-border);
    }

    &:focus-visible {
        background: var(--button-tirtiary-hover);
        outline: 1px solid var(--tomato5);
        box-shadow: 0px 0px 0px 4px #FAC7BE;
        color: var(--button-secondary-text);
        outline: none;
    }

}


.tj-ghost-danger-btn {
    color: var(--button-secondary-text);
    background: transparent;
    border: none;

    &:hover {
        color: var(--button-secondary-text);
        background-color: var(--button-secondary-hover);
    }

    &:active {
        color: var(--button-secondary-text);
        background-color: var(--button-secondary);
    }

    &:focus-visible {
        border: none;
        box-shadow: 0px 0px 0px 4px #FAC7BE;
        outline: none;
        background-color: var(--button-tirtiary-hover);
    }
}

.tj-disabled-btn {
    background: var(--slate3) !important;
    color: var(--slate8) !important;
    border: none !important;
}

// .dark-theme {
//     tj-primary-btn {
//         background: #3E63DD;
//         border: none;
//         color: #FDFDFE;

//         &:hover {
//             background: var(--indigo10);
//             border: 1px solid #FFFFFF
//         }

//         &:focus-visible {
//             box-shadow: 0px 0px 0px 4px var(--indigo6);
//             border: 1px solid #FFFFFF;
//             outline: none;
//         }


//         &:active {
//             background: #849DFF;
//             box-shadow: none;
//         }

//     }


//     /* // Danger-variants--- */

//     .tj-primary-danger-btn {
//         background: var(--tomato9);
//         border: none;
//         color: #FFFCFC;

//         &:hover {
//             background: var(--tomato10);
//             color: #FFFCFC;
//         }

//         &:active {
//             background: var(--tomato11);
//             color: #F0F4FF;
//         }

//         &:focus-visible {
//             background: var(--tomato10);
//             border: none;
//             box-shadow: 0px 0px 0px 4px var(--tomato6);
//             outline: none;
//             color: #FFFCFC;
//         }

//     }
// }