@import "../../_styles/designtheme.scss";

.tj-base-btn {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 8px;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    line-height: 20px;

    span.tj-btn-left-icon {
        margin-right: 6px;
    }

    span.tj-btn-right-icon {
        margin-left: 6px;
    }

    &:disabled {
        background: var(--slate3) !important;
        color: var(--slate8) !important;
    }
}

.tj-large-btn {
    height: 40px;
    border-radius: 6px;
    padding: 10px 20px 10px 20px;
    font-size: 14px;
}

.tj-medium-btn {
    height: 32px;
    border-radius: 6px;
    padding: 6px 16px 6px 16px;
    font-size: 14px;
}

.tj-small-btn {
    height: 28px;
    border-radius: 6px;
    padding: 4px 16px 4px 16px;
    font-size: 12px;
}

.tj-extra-small-btn {
    height: 20px;
    border-radius: 4px;
    padding: 0px 8px 0px 8px;
    font-size: 12px;
}

/* Order */
.tj-reverse-btn {
    flex-direction: row-reverse;
}

/* Variants */
.tj-primary-btn {
    background: var(--indigo9);
    border: none;
    color: var(--indigo1);

    &:hover {
        background: var(--indigo10);

    }

    &:focus {
        box-shadow: 0px 0px 0px 4px var(--indigo6);
        background: var(--indigo10);
        outline: 0;
    }


    &:active {
        background: var(--indigo11);
        box-shadow: none;
    }

}

.tj-secondary-btn {
    background: var(--indigo3);
    border: none;
    color: var(--indigo11);

    &:hover {
        background: var(--indigo4);
        color: var(--indigo10);
    }

    &:active {
        background: var(--indigo5);
        color: var(--indigo8);
        box-shadow: none;
    }

    &:focus {
        background: #E6EDFE;
        box-shadow: 0px 0px 0px 4px var(--indigo6);
        color: var(--indigo10);
    }
}

.tj-tertiary-btn {
    background: var(--base);
    border: 1px solid var(--slate7);
    color: var(--slate12);

    &:hover {
        background: var(--slate8);
        color: var(--slate11);
        border: 1px solid var(--slate8);
        background: #FFFFFF;
    }

    &:active {
        background: #FFFFFF;
        box-shadow: none;
        border: 1px solid var(--slate12);
        color: var(--slate12);
    }

    &:focus {
        background: #FFFFFF;
        color: var(--slate11);
        outline: 1px solid var(--slate8);
        box-shadow: 0px 0px 0px 4px var(--slate6);
    }
}


.tj-ghost-blue-btn {
    color: var(--indigo9);
    border: none;
    background: transparent;

    &:hover {
        color: var(--indigo10);
    }

    &:active {
        color: var(--indigo8);
    }

    &:focus {
        color: var(--indigo10);
        background: #FFFFFF;
        border: none;
        box-shadow: 0px 0px 0px 4px var(--indigo6);
    }
}

.tj-ghost-black-btn {
    color: var(--slate12);
    border: none;
    background: transparent;

    &:hover {
        color: var(--slate11);
    }

    &:active {
        color: var(--slate12);
    }

    &:focus {
        color: var(--slate11);
        background: #FFFFFF;
        border: none;
        box-shadow: 0px 0px 0px 4px var(--slate6);
    }
}

/* // Danger-variants--- */

.tj-primary-danger-btn {
    background: var(--tomato9);
    border: none;
    color: var(--tomato1);

    &:hover {
        background: var(--tomato10);
    }

    &:active {
        background: var(--tomato11);
    }

    &:focus {
        background: var(--tomato10);
        border: none;
        box-shadow: 0px 0px 0px 4px var(--tomato6);
    }

}

.tj-secondary-danger-btn {
    background: var(--tomato3);
    border: none;
    color: var(--tomato9);

    &:hover {
        background: var(--tomato4);
        color: var(--tomato10);
    }

    &:active {
        background: var(--tomato5);
        color: var(--tomato8);
    }

    &:focus {
        background: var(--tomato4);
        border: none;
        box-shadow: 0px 0px 0px 4px var(--tomato6);
        color: var(--tomato8);
    }
}

.tj-tertiary-danger-btn {
    background: #FFFFFF;
    border: 1px solid var(--tomato7);
    color: var(--tomato9);

    &:hover {
        background: #FFFFFF;
        color: var(--tomato10);
        border: 1px solid var(--tomato5);
    }

    &:active {
        background: #FFFFFF;
        color: var(--tomato11);
        border: 1px solid var(--tomato11);
    }

    &:focus {
        background: #FFFFFF;
        outline: 1px solid var(--tomato5);
        box-shadow: 0px 0px 0px 4px var(--tomato6);
        color: var(--tomato10);
    }

}


.tj-ghost-danger-btn {
    color: var(--tomato9);
    background: transparent;
    border: none;

    &:hover {
        color: var(--tomato10);
    }

    &:active {
        color: var(--tomato8);
    }

    &:focus {
        border: none;
        box-shadow: 0px 0px 0px 4px var(--tomato6);
    }
}