.collapsed {
  display: none;
}

.collapsed-group > div:not(.collapse-group-heading) {
  display: none;
}

.collapse-group-heading::after {
  flex-shrink: 0;
  width: 36px;
  height: 30px;
  margin-left: auto;
  margin-top: auto;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23dadada' d='M10 14.142L4.516 8.657 3.102 10.071 10 16.97 16.899 10.071 15.485 8.657z'/%3E%3C/svg%3E");
  background-repeat: no-repeat no-repeat;
  background-size: 1.25rem;
  background-position: center center;
  color: #dadada;
  transform: rotate(180deg);
  background-color:none;
}

.collapsed-group .collapse-group-heading::after {
  transform: rotate(0deg);
}

.collapse-group-heading {
  display: flex;
}


.sample-db-data-query-picker-form-label {
  width: auto !important;
}

.open-doc-link-container {
  display: flex;
  width: auto;
  height: auto;
  padding: 10px 12px 8px 12px;
  border: 1px solid var(--indigo7);
  background: var(--indigo2);
  border-radius: 6px 6px 6px 6px;
  margin-bottom: 10px;


  .info-btn {
    padding: 0px;
    flex: 0 0 24px;
  }

  .message {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-left: 5px;
    display: inline-block;
    word-wrap: break-word;
    width: auto;
    height: auto;
    color: var(--slate11);
    
    p{
      padding: 0;
      margin: 0;
    }

    .open-git-btn {
      margin-top: 5px;
      color: var(--indigo9);
      font-size: 10px;
      font-weight: 500;
      display: inline-block;

      .open-icn {
        margin-right: 2px;
      }
    }
  }
}