@import '@/_styles/colors.scss';




.sample-db-modal-body{
    min-height: calc(110vh - 380px);;
    margin-bottom: 0;
    padding-top: 20px;
    
    .sample-db-title {
        margin-top: 40px;
        justify-content: center;
        display: flex;
    }

    .sample-db-description {
        margin-top: 20px;
        justify-content: center;
        display: flex;

        .dark{
                color: white !important;
            }

        .p{
            // color: var(--);
            font-size: 12px;
            font-weight: 400;
            text-align: center;
            color: $color-light-slate-11;


            
        }

        
    }

    .create-btn-cont{
        justify-content: center;
        display: flex;
        .create-app-btn {
        border-radius: 8px;
        font-size: 12px;
        height: 32px;
        width: 168px;
        padding: 0;
    }
    }

    .img-sample-db{
        height: 40%;
        width: 55%;
        position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    }
    
}

.modal-footer-class{
    .test-connection-sample-db{
        margin-right: 90px;
    }
}

.dataSourceWrapper .row {
    --tblr-gutter-x: 0rem;
}

.modal-open .modal {
    scrollbar-gutter: stable;
}