@import "../colors.scss";

.tj-ms {
    position: relative;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 1px solid #dadcde;
    border-radius: 4px;

    .select-search-dark.is-loading .select-search-dark__value::after {
        background-size: 10px;
      }
      
      .select-search-dark__value::after {
        right: 13px;
        width: 10px;
        height: 10px;
      }

      .select-search-dark:not(.is-loading) .select-search-dark__value::after {
        right: 13px;
        width: 6px;
        height: 6px;    
      }

      .select-search.is-loading .select-search__value::after {
        background-size: 10px;
      }

      .select-search__value::after {
        top: calc(50% - 4px);
        right: 8px;
        width: 10px;
        height: 10px;
      }
    .select-search:not(.is-loading) .select-search__value::after {
       right: 13px;
       width: 6px;
       height: 6px;    
    }  

    &:hover {
        border-color: rgba(66, 153, 225, 0.1)
    }
  
    .tj-ms-preview {
      padding: 6px 3px;

      .count-main {
        padding: 1px 3px 1px 7px;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        background-color: #f0f2f6;
  
        .selected-count {
          padding-right: 5px;
          font-size: .8rem;
          line-height: 20px;
          white-space: nowrap;
        }
  
        .select-close-btn {
          color: #9a9191;
          cursor: pointer;
        }
      }
  
      .count-main:hover {
        border: 1px solid #d1cccc;
      }
  
      svg {
        width: 1rem;
      }
    }
  
    .select-search,
    .select-search-dark {
      position: unset;
  
      input {
        border: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
  
  .tj-ms-count {
    border-radius: 2px;
    display: flex;
  
    .tj-ms-preview {
      z-index: 2;
      padding: 6px;
    }
  }
  
  .theme-dark .tj-ms {
    background-color: #273342;
    border: 1px solid #232e3c;
  
    &:hover {
      border-color: $white;
    }
  
    .tj-ms-count {
      color: $white;
    }
  
    .tj-ms-preview {
      color: #273342;
    }
  }
  
  .selected-section {
    overflow: auto;
  
    .tj-ms {
      border: none;
      background-color: unset;
      float: left;
    }
  
    .selected-heading {
      padding: 1px 7px 1px 7px;
      margin: 6px 2px 6px 5px;
      border-radius: 6px;
      font-weight: 500;
      float: left;
    }
  
    .selected-text {
      line-height: 24px;
      font-weight: 300;
      margin: 6px 0px;
      white-space: nowrap;
      float: left;
    }
  }