@import '../colors.scss';

// Legacy rating
.star-rating {
  display: flex;
  padding: 3px;

  .label {
    flex: 1;
  }
  .rating-icon-widget {
    margin-bottom: 1px;
  }
}


 .rating-icon-widget {
    transition: transform 0.2s ease;
    cursor: pointer;
    
    &:hover {
      transform: scale(1.2) !important;
      .show-opacity-on-hover {
        opacity: 0.5 !important;
      }
    }

  svg {
    transition: transform 0.2s ease;
  }
}