.tj-daterange-widget {
    .react-datepicker {
        .react-datepicker__header {
            background-color: var(--cc-surface1-surface);
        }
    }
}

.tj-table-datepicker .react-datepicker__day--keyboard-selected {
    background-color: var(--cc-surface1-surface) !important;
}

.react-datepicker__day:not([aria-disabled=true]):hover {
    border-radius: 0.3rem;
    background-color: var(--cc-surface1-surface) !important;
    filter: brightness(0.92);
}

.react-datepicker__day--keyboard-selected {
    background-color: var(--cc-surface1-surface) !important;
}