.target, .nested-target {
	position: absolute;
	/* width: 100px;
	height: 100px; */
	/* top: 150px;
	left: 100px; */
	/* line-height: 100px; */
	/* text-align: center; */
	/* background: #ee8; */
	/* color: #333; */
	/* font-weight: bold; */
	box-sizing: border-box;
	/* transition: transform 0.1s; */
}

.moveable-control-box>.moveable-control-box:not(.moveable-control-box-d-block, .moveable-dragging){
	visibility: hidden !important;
}
.moveable-control-box>.moveable-control-box:hover{
	visibility: visible !important;
}
.moveable-control-box>.moveable-control-box:hover, .moveable-control-box>.moveable-dragging{
	visibility: visible !important;
}

.moveable-control-box {
	background: red;
}

.moveable-e.moveable-control{
	/* height: 24px !important;
    top: -5px !important; */
    border-radius: 2px !important;
    border: 1px solid #3E63DD !important;
    background: #fff !important;
    width: 6px !important;
    left: 4px !important;
}

.moveable-w.moveable-control{
	/* height: 24px !important;
    top: -5px !important; */
    border-radius: 2px !important;
    border: 1px solid #3E63DD !important;
    background: #fff !important;
    width: 6px !important;
    left: 4px !important;
}

.moveable-n.moveable-control{
	/* height: 24px !important; */
    top: 4px !important;
    border-radius: 2px !important;
    border: 1px solid #3E63DD !important;
    background: #fff !important;
    height: 6px !important;
    /* left: 3px !important; */
}

.moveable-s.moveable-control{
	/* height: 24px !important; */
    top: 4px !important;
    border-radius: 2px !important;
    border: 1px solid #3E63DD !important;
    background: #fff !important;
    height: 6px !important;
    /* left: 3px !important; */
}

.grid-guide-lines {
	background: #8DA4EF !important;
}