.tj-toggle-label {
    margin-left: 8px;
}

.form-check-input.tj-toggle-switch{
    width: 28px !important;
    height: 16px !important;
    background-color: var(--text-disabled) !important;
}

.form-check-input.tj-toggle-switch::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.form-check-input.tj-toggle-switch:checked {
    background-color: var(--indigo9) !important;
}

.form-check-input:hover{
    cursor: pointer;
}

.form-check>.form-check-input:not(:checked) {
    background-color: #ffffff;
}
.text-wrappers{
    display: flex;
    flex-direction: column;
}
.tj-toggle-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.tj-toggle-subtext{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #6A727C;
}