.common-custom-node {
    display: flex;
    width: 144px;
    height: 52px;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 12px;
    cursor: pointer;
  
    .left-handle, .right-handle {
      width: 20px;
    }

    .title {
      font-family: 'IBM Plex Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin-left: 16px;
      color: #11181C;
    }
}