.viewer {
    .dynamic-height-target {
        > .canvas-component {
            .list-item  {
                > .sub-canvas {
                    overflow-y: hidden !important;
                }
            }
        }
    }
}

.listview-scroll-container {
    scrollbar-color: var(--interactive-selected) transparent;
}

.real-canvas.flex-container-canvas .listview-scroll-container {
    scrollbar-color: inherit;
}