node_modules
.parcel-cache
node_modules
lerna-debug.log
npm-debug.log
packages/*/lib
packages/*/dist
.idea
packages/*/coverage
.vscode/
pip-wheel-metadata/
tsconfig.tsbuildinfo
.DS_Store
.idea
.vs
dist/
.vscode
*.tsbuildinfo
*.tabl.json
*.swp
*.snk