.toggle-fx-row {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;

  .custom-toggle-switch {
    flex: 0 0 auto;
  }

  &.fx-active {
    .switch {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}

.confirmation-inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 8px 0 16px;

  .confirmation-fx-input {
    padding-left: 32px;
    width: 100%;
    max-width: 715px;
    box-sizing: border-box;
  }

  .confirmation-message-row {
    display: flex;
    align-items: center;
    padding-left: 34px;
    gap: 5px;
  }
}
