# Create .env from this example file and replace values for the environment.
#
# The app has 3 enviroment wiz development, test & production and requires
#.env.development, .env.test & .env.production files within this folder
#
# If none of them are present app will pick .env file present within this folder by default

TOOLJET_HOST=http://localhost:8082
LOCKBOX_MASTER_KEY=0000000000000000000000000000000000000000000000000000000000000000
SECRET_KEY_BASE=replace_with_secret_key_base

# DATABASE CONFIG
TYPEORM_HOST=localhost
TYPEORM_PORT=5432
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=postgres
TYPEORM_DATABASE=tooljet_development
TYPEORM_LOGGING=all
TYPEORM_MIGRATIONS=dist/migrations/**/*{.ts,.js}
TYPEORM_ENTITIES=dist/**/*.entity{.ts,.js}
TYPEORM_LOGGING=dist/migrations/**/*{.ts,.js}
TYPEORM_MIGRATIONS_DIR=migrations

# Checks every 24 hours to see if a new version of ToolJet is available
CHECK_FOR_UPDATES=check_if_updates_are_available

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# EMAIL CONFIGURATION
DEFAULT_FROM_EMAIL=hello@tooljet.io
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_DOMAIN=
SMTP_ADDRESS=

# DISABLE USER SIGNUPS (true or false). Default: true
DISABLE_SIGNUPS=
