.node-modal-content {
    width: fit-content;
    height: 100vh;
    background-color: #ffffff;
    border-left: 1px solid #E6E8EB;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);

    .codehinter-portal-icon {
        display: none;
    }

    .code-hinter-wrapper {
        // to disable the dark mode for sometime.
        background-color: #ffffff !important;
      }

    .if-condition-modal-content {
        padding: 30px 24px;
        flex-direction: column;

        span.title {
            font-weight: bold;
            padding-bottom: 12px;
        }
    }
}