.notification-banner {
  display: flex;
  padding: var(--3, 6px) var(--6, 12px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
  border-radius: var(--3, 6px);
  background: var(--background-warning-weak, #faefe7);
  border: none !important;
  outline: none !important;
  opacity: 1;

  img {
    margin-top: -5px !important;
  }
}

@media screen and (min-width: 1200px) {
  .notification-banner {
    justify-content: center !important;
    align-items: center !important;
  }

  > div {
    justify-content: center !important;
  }
}

.notification-content {
  color: var(--text-default, #1b1f24);
  font-family: "IBM Plex Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;

  &.disabled {
    font-weight: 700 !important;
    opacity: 1 !important;
  }
}

.highlighted-text {
  font-weight: 600 !important;
  font-style: bold;
}

.documentation-link {
  font-weight: 400 !important;
  color: var(--primary, #3e63dd) !important;
  text-decoration-line: underline !important;
}
