.wj-container-header {
    position: relative;
    border-bottom: 1px solid var(--border-weak, #e4e7eb);
  }

.dynamic-height-target {
  .canvas-component {
    .widget-type-container {
      .sub-canvas {
        overflow-y: hidden !important;
      }
    }
  }
}