.wj-container-header {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0px;
      right: 0px;
      height: 1px;
      background-color: var(--cc-default-border);
    }
  }

//[Container-widget]Show scrollbar only on hover
.widget-type-container {
  .sub-canvas {
    overflow: hidden auto;
    scrollbar-width: none;
    &:hover {
      scrollbar-width: auto;
   }
  }

}
  