.dropdown-menu-inspector {
    margin-top: 2px;
    font-size: 12px;

    .dropdown-menu-container {
        background-color: var(--background-surface-layer-01, #FFFFFF);
        box-shadow: var(--elevation-400-box-shadow);
    }

    .dropdown-menu-trigger {
        height: 34px;
        padding: 7px 12px;
        align-items: center;
        flex-shrink: 0;
        align-self: stretch;
        border-radius: 6px;
        border: 1px solid var(--border-default, #CCD1D5);
        background-color: var(--background-surface-layer-01, #FFFFFF);
        color: var(--text-default, #1B1F24);

        &.is-open {
            border: 2px solid var(--interactive-focus-outline, #4368E3);
        }

        .dropdown-menu-trigger-content {
            flex: 1;
            min-width: 0;
            display: flex;
            align-items: center;

            .dropdown-menu-trigger-label {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                flex: 1;
                min-width: 0;
            }
        }
    }

    .dropdown-menu-placeholder {
        color: var(--text-placeholder, #6A727C);
    }

    .dropdown-menu-items {
        color: var(--text-default, #1B1F24);
        padding: 8px;
    }

    .dropdown-menu-footer {
        border-top: 1px solid var(--border-weak, #E4E7EB);
    }

    .dropdown-menu-body {
        max-height: 286px;
        overflow-y: auto;
    }

    .dropdown-menu-body-transparent-scrollbar {
        scrollbar-color: #8890991F transparent;

        &::-webkit-scrollbar {
            width: 10px;
            height: 50px;
          }
        
          &::-webkit-scrollbar-track {
            background: transparent;
            width: 10px;
          }
        
          &::-webkit-scrollbar-thumb {
            background-color: #8890991F;
            border-radius: 10px;
            border: 1.5px solid transparent;
            background-clip: content-box;
          }
        
          &::-webkit-scrollbar-thumb:hover {
            background-color: #8890991F;
          }
        
    }

    .dropdown-menu-header {
        padding: 4px 0px;
        border-bottom: 1px solid var(--border-weak, #E4E7EB);
        input {
            border: none !important;
            box-shadow: none !important;
        }
    }

    .dropdown-menu-item {
        border-radius: 6px;
        height: 30px;
        padding: 7px 8px;

        &:hover {
            cursor: pointer;
            background-color: var(--interactive-default, #88909914);
        }

        .dropdown-menu-item-label {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 1;
            min-width: 0;
        }
    }

    .icon-image {
        margin: 0px 6px;
        width: 16px;
        height: 16px;
    }

    .custom-line {
        border-color: var(--border-default, #CCD1D5);
        border-top: 0px
    }

    .separator-text {
        color: var(--text-placeholder, #6A727C);
        background-color: var(--background-surface-layer-01, #FFFFFF);
        padding: 0 6px;
    }
}