.row-tabs {
	background-color: #F1F3F5;
	padding: 3px;
	border-radius: 6px;
	margin-bottom: 0.3rem;
	width:max-content;
  
	.row-tab-content {
	  cursor: pointer;
	  padding: 3px 7px 3px 7px;
	  border-radius: 6px;
	  font-size: 12px;
	  font-weight: 500;
	  line-height: 20px;
	}
  }
  
  .row-tabs-dark {
	background-color: #1c252f !important;
	padding: 3px;
	border-radius: 6px;
	margin-bottom: 0.3rem;
	width:max-content;
  
	.row-tab-content {
	  cursor: pointer;
	  padding: 3px 7px 3px 7px;
	  border-radius: 6px;
	  font-size: 12px;
	  font-weight: 500;
	  line-height: 20px;
	}
  }

.tjdb-codehinter-border-none{
	.cm-editor{
		border: none !important;
	}
}
.tjdb-codehinter-jsonpath{
	.cm-editor{
		border-radius: 0 0 4px 4px !important;
		border-top: 0 !important;
		height: 30px ;
		min-height: 30px;
	}
}

.border-top-left-rounded{
	border-top-left-radius: 4px;
	
}
.border-top-right-rounded{
	border-top-right-radius: 4px;
}
.custom-gap-6{
	gap: 6px;
}