.workflow-sidebar {
    .left-sidebar {
        background-color: #ffffff !important;
        border-right: #ffffff;
    }

    .title-text {
        color: #232e3c;
    }

    .run-item {
        .text {
            color: #232e3c;
        }
    }
}