openapi: 3.0.3
info:
  title: Ship
  termsOfService: https://www.ups.com/upsdeveloperkit/assets/html/serviceAgreement.html
  version: ''
  description: |
  
    The Shipping Package API gives the application many ways to manage the shipment of packages to their destination.
    # Reference
    - <a href="https://developer.ups.com/api/reference/shipping/business-rules" target="_blank" rel="noopener">Business Rules</a>
    - <a href="https://developer.ups.com/api/reference/shipping/appendix1" target="_blank" rel="noopener">Appendix 1</a>
    - <a href="https://developer.ups.com/api/reference/shipping/appendix2" target="_blank" rel="noopener">Appendix 2</a>
    - <a href="https://developer.ups.com/api/reference/shipping/errors" target="_blank" rel="noopener">Errors</a>
    - <a href="https://developer.ups.com/api/reference/shipping/faq" target="_blank" rel="noopener">FAQ</a>
    - <a href="https://developer.ups.com/api/reference/shipping/best-practices" target="_blank" rel="noopener noreferrer"> Best Practices</a>

    <br/><p>Try out UPS APIs with example requests using Postman and learn more about the UPS Postman Collection by visiting our <a href="https://developer.ups.com/api/reference/postman/guide"
    target="_blank" rel="noopener">Postman Guide</a>. Explore API documentation and sample applications through GitHub.</p>
   
    <a href="https://god.gw.postman.com/run-collection/29542085-af2f70b3-405b-4aee-af8d-1eb715e4cebc?action=collection%2Ffork&source=rip_markdown&collection-url=entityId%3D29542085-af2f70b3-405b-4aee-af8d-1eb715e4cebc%26entityType%3Dcollection%26workspaceId%3D7e7595f0-4829-4f9a-aee1-75c126b9d417" target="_blank" rel="noopener noreferrer">
      <img src="https://run.pstmn.io/button.svg" alt="Run In Postman" style="width: 128px; height: 32px;"></a>
    <a href="https://github.com/UPS-API" target="_blank" rel="noopener noreferrer">
      <img src="https://www.ups.com/assets/resources/webcontent/images/gitHubButton.svg" alt="Open in GitHub " style="width: 128px; height: 32px;">
    </a>
servers:
  - url: https://wwwcie.ups.com/api
    description: Customer Integration Environment
  - url: https://onlinetools.ups.com/api
    description: Production
paths:
  "/shipments/{version}/ship":
    post:
      description: "The Shipping API makes UPS shipping services available to client
        applications that communicate with UPS \nusing the Internet"
      summary: Shipment
      tags: 
        - Shipping
      security:
        - OAuth2: []
      operationId: Shipment
      parameters:
      - in: header
        name: transId
        schema:
          type: string
        description: An identifier unique to the request. Length 32
        required: false
      - in: header
        name: transactionSrc
        schema:
          type: string
          default: testing
        description: An identifier of the client/source application that is making
          the request.Length 512
        required: false
      - in: query
        name: additionaladdressvalidation
        schema:
          type: string
          minimum: 1
        description: "Valid Values: \ncity = validation will include city.Length 15"
        required: false
      - in: path
        name: version
        schema:
          type: string
          minimum: 1
          default: v2409
        description: |
            Indicates Ship API to display the new release features in Ship API response based on Ship release.

            Valid values:
            - v2409
        required: true
      requestBody:
        description: Generate sample code for popular API requests by selecting an
          example below. To view a full sample request and response, first click "Authorize"
          and enter your application credentials, then populate the required parameters
          above and click "Try it out".
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SHIPRequestWrapper"
            examples:
              '1':
                summary: Shipping Request(Standard Example)
                value:
                  ShipmentRequest:
                    Request:
                      SubVersion: '1801'
                      RequestOption: nonvalidate
                      TransactionReference:
                        CustomerContext: ''
                    Shipment:
                      Description: Ship WS test
                      Shipper:
                        Name: ShipperName
                        AttentionName: ShipperZs Attn Name
                        TaxIdentificationNumber: '123456'
                        Phone:
                          Number: '1115554758'
                          Extension: " "
                        ShipperNumber: " "
                        FaxNumber: '8002222222'
                        Address:
                          AddressLine:
                          - 2311 York Rd
                          City: Timonium
                          StateProvinceCode: MD
                          PostalCode: '21093'
                          CountryCode: US
                      ShipTo:
                        Name: Happy Dog Pet Supply
                        AttentionName: 1160b_74
                        Phone:
                          Number: '9225377171'
                        Address:
                          AddressLine:
                          - 123 Main St
                          City: timonium
                          StateProvinceCode: MD
                          PostalCode: '21030'
                          CountryCode: US
                        Residential: " "
                      ShipFrom:
                        Name: T and T Designs
                        AttentionName: 1160b_74
                        Phone:
                          Number: '1234567890'
                        FaxNumber: '1234567890'
                        Address:
                          AddressLine:
                          - 2311 York Rd
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      PaymentInformation:
                        ShipmentCharge:
                          Type: '01'
                          BillShipper:
                            AccountNumber: " "
                      Service:
                        Code: '03'
                        Description: Express
                      Package:
                        Description: " "
                        Packaging:
                          Code: '02'
                          Description: Nails
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                            Description: Inches
                          Length: '10'
                          Width: '30'
                          Height: '45'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                            Description: Pounds
                          Weight: '5'
                    LabelSpecification:
                      LabelImageFormat:
                        Code: GIF
                        Description: GIF
                      HTTPUserAgent: Mozilla/4.5
              '2':
                summary: Shipping Request with Negotiated Rates
                value:
                  ShipmentRequest:
                    Request:
                      RequestOption: nonvalidate
                      SubVersion: '1601'
                      TransactionReference:
                        CustomerContext: ''
                    Shipment:
                      TaxInformationIndicator: ''
                      ShipmentRatingOptions:
                        NegotiatedRatesIndicator: X
                      Description: 1507 US shipment
                      Shipper:
                        Name: Shipper_name
                        AttentionName: Shipper_Attn.name
                        CompanyDisplayableName: Shipper_company
                        ShipperNumber: ''
                        Phone:
                          Number: '5555555555'
                        Address:
                          AddressLine:
                          - Shipper_Addrline1
                          City: BERLIN
                          StateProvinceCode: ''
                          PostalCode: '10785'
                          CountryCode: DE
                      ShipTo:
                        Name: ShipTo_name
                        AttentionName: ShipTo_Attn.name
                        CompanyDisplayableName: ShipTo_company
                        Phone:
                          Number: '5555555555'
                        Address:
                          AddressLine:
                          - Shipper_Addrline1
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      ShipFrom:
                        Name: ShipFrom_name
                        AttentionName: ShipFrom_Attn.name
                        CompanyDisplayableName: ShipFrom_company
                        Address:
                          AddressLine:
                          - ShipFrom_Addrline1
                          City: BERLIN
                          StateProvinceCode: ''
                          PostalCode: '10785'
                          CountryCode: DE
                      PaymentInformation:
                        ShipmentCharge:
                          Type: '01'
                          BillShipper:
                            AccountNumber: ''
                      Service:
                        Code: '07'
                        Description: UPS
                      Package:
                        Description: Package1
                        Packaging:
                          Code: '02'
                          Description: Customer Supplied Package
                        Dimensions:
                          UnitOfMeasurement:
                            Code: CM
                            Description: Centimeters
                          Length: '8'
                          Width: '2'
                          Height: '2'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: KGS
                            Description: Kilograms
                          Weight: '20.2'
              '3':
                summary: Shipping Request with International Forms
                value:
                  ShipmentRequest:
                    Request:
                      RequestOption: nonvalidate
                      TransactionReference:
                        CustomerContext: ''
                    Shipment:
                      Description: Description of Goods
                      Shipper:
                        Name: Henry Lee Thomson
                        AttentionName: John Smith
                        ShipperNumber: " "
                        TaxIdentificationNumber: '456789'
                        Phone:
                          Number: '1234567890'
                        Address:
                          AddressLine:
                          - 34 Queen St
                          City: Toronto
                          StateProvinceCode: 'ON'
                          PostalCode: M5C2M6
                          CountryCode: CA
                      ShipTo:
                        Name: Happy Dog Pet Supply
                        AttentionName: Marley Brinson
                        TaxIdentificationNumber: '458889'
                        Phone:
                          Number: '1234567890'
                        Address:
                          AddressLine:
                          - B.B. King Blvd.
                          City: Charlotte
                          StateProvinceCode: NC
                          PostalCode: '28256'
                          CountryCode: US
                      ShipFrom:
                        Name: T and T Designs
                        AttentionName: Mike
                        Phone:
                          Number: '1234567890'
                        FaxNumber: '1234567999'
                        TaxIdentificationNumber: '456999'
                        Address:
                          AddressLine:
                          - 34 Queen St
                          City: Toronto
                          StateProvinceCode: 'ON'
                          PostalCode: M5C2M6
                          CountryCode: CA
                      PaymentInformation:
                        ShipmentCharge:
                          Type: '01'
                          BillShipper:
                            AccountNumber: " "
                      Service:
                        Code: '08'
                        Description: Expedited
                      Package:
                        Description: International Goods
                        Packaging:
                          Code: '02'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: KGS
                          Weight: '10'
                      ShipmentServiceOptions:
                        InternationalForms:
                          FormType: '04'
                          FormGroupIdName: USMCA Form
                          Contacts:
                            SoldTo:
                              Option: " "
                              Name: ACME Designs
                              AttentionName: Wile E Coyote
                              TaxIdentificationNumber: " "
                              Phone:
                                Number: '5551479876'
                              Address:
                                AddressLine:
                                - 123 Main St
                                City: Phoenix
                                StateProvinceCode: GA
                                PostalCode: '30076'
                                CountryCode: US
                            Producer:
                              Option: " "
                              CompanyName: Tree Service
                              Address:
                                AddressLine:
                                - 678 Elm St
                                City: Marietta
                                StateProvinceCode: GA
                                PostalCode: '30066'
                                CountryCode: US
                              Phone:
                                Number: '5555555555'
                              EmailAddress: " "
                              TaxIdentificationNumber: " "
                          Product:
                            Description: Today is the best day of the week
                            CommodityCode: '12345678'
                            OriginCountryCode: US
                            JointProductionIndicator: " "
                            NetCostCode: NC
                            NetCostDateRange:
                              BeginDate: '20050801'
                              EndDate: '20051015'
                            PreferenceCriteria: A
                            ProducerInfo: No[1]
                          BlanketPeriod:
                            BeginDate: '20050115'
                            EndDate: '20050816'
                    LabelSpecification:
                      LabelImageFormat:
                        Code: GIF
              '4':
                summary: Shipping Dry Ice or Lithium Batteries
                value:
                  ShipmentRequest:
                    Request:
                      RequestOption: nonvalidate
                      TransactionReference:
                        CustomerContext: ''
                      SubVersion: '1701'
                    Shipment:
                      DGSignatoryInfo:
                        UploadOnlyIndicator: Y
                        ShipperDeclaration: '01'
                        Date: '20200112'
                        Place: GA
                        Title: DGPaperImage
                        Name: DGSignatory
                      Description: ER1703
                      Shipper:
                        Name: Shipper_Name
                        AttentionName: Shipper_AttentionName
                        TaxIdentificationNumber: '123456'
                        Phone:
                          Number: '1234567890'
                        ShipperNumber: " "
                        Address:
                          AddressLine:
                          - 12380 Morris Rd
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      ShipTo:
                        Name: ShipTo_CompanyName
                        AttentionName: ShipTo_AttentionName
                        Phone:
                          Number: '1234567890'
                        FaxNumber: '1234567890'
                        TaxIdentificationNumber: '123456'
                        Address:
                          AddressLine:
                          - 793 Foothill Blvd
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      ShipFrom:
                        Name: ShipFrom_CompanyName
                        AttentionName: ShipFrom_AttentionName
                        Phone:
                          Number: '1234567890'
                        FaxNumber: '1234567890'
                        TaxIdentificationNumber: '123456'
                        Address:
                          AddressLine:
                          - 12380 Morris Rd
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      PaymentInformation:
                        ShipmentCharge:
                          Type: '01'
                          BillShipper:
                            AccountNumber: " "
                      Service:
                        Code: '03'
                        Description: Ground
                      Package:
                      - HazMatPackageInformation:
                          OuterPackagingType: FIBERBOARD BOX
                          QValue: '0.1'
                          OverPackedIndicator: " "
                          AllPackedInOneIndicator: " "
                        Description: Package Description
                        Packaging:
                          Code: '02'
                          Description: Customer Supplied Package
                        Dimensions:
                          Length: '10'
                          Width: '10'
                          Height: '10'
                          UnitOfMeasurement:
                            Code: IN
                            Description: Inches
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                            Description: Pounds
                          Weight: '10'
                        PackageServiceOptions:
                          HazMat:
                            LocalProperShippingName: Ship
                            LocalTechnicalName: Local
                            EmergencyPhone: '1234567890'
                            ReferenceNumber: '12345'
                            HazardLabelRequired: Y
                            aDRPackingGroupLetter: '1'
                            PackagingTypeQuantity: '100'
                            SubRiskClass: SubRisk
                            aDRItemNumber: '1234567890'
                            TechnicalName: Hazmat TechnicalName
                            ClassDivisionNumber: '12345'
                            Quantity: '100.0'
                            UOM: IN
                            PackagingType: Box
                            IDNumber: UN3480
                            ProperShippingName: Lithium ion batteries
                            AdditionalDescription: Hazmat AdditionalDescription
                            PackagingGroupType: III
                            PackagingInstructionCode: '1234'
                            ReportableQuantity: RQ
                            RegulationSet: CFR
                            TransportationMode: Ground
                            CommodityRegulatedLevelCode: LQ
                            TransportCategory: '0'
                            TunnelRestrictionCode: Nothing
                            ChemicalRecordIdentifier: '100'
                          PackageIdentifier: '123'
                      - Description: DG
                        NumOfPieces: '10'
                        Packaging:
                          Code: '02'
                          Description: desc
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                            Description: IN
                          Length: '2'
                          Width: '2'
                          Height: '2'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                            Description: LBS
                          Weight: '50'
                        PackageServiceOptions:
                          DryIce:
                            RegulationSet: CFR
                            DryIceWeight:
                              UnitOfMeasurement:
                                Code: '01'
                                Description: LBS
                              Weight: '50'
                          PackedByStoreIndicator: " "
                          PackageIdentifier: '123'
                    LabelSpecification:
                      LabelImageFormat:
                        Code: GIF
              '5':
                summary: Shipping Hazmat Goods
                value:
                  ShipmentRequest:
                    Request:
                      RequestOption: nonvalidate
                      TransactionReference:
                        CustomerContext: ''
                      SubVersion: '1701'
                    Shipment:
                      Description: Ship WS test
                      Shipper:
                        Name: ShipperName
                        AttentionName: ShipperZs Attn Name
                        TaxIdentificationNumber: '123456'
                        Phone:
                          Number: '1115554758'
                          Extension: '1'
                        ShipperNumber: " "
                        FaxNumber: '8002222222'
                        Address:
                          AddressLine:
                          - 12380 Morris Road
                          City: LUTHERVILLE TIMONIUM
                          StateProvinceCode: MD
                          PostalCode: '21093'
                          CountryCode: US
                      ShipTo:
                        Name: Happy Dog Pet Supply
                        AttentionName: 1160b_74
                        Phone:
                          Number: '9225377171'
                        Address:
                          AddressLine:
                          - 460 Rue du Valibout
                          City: SMITHFIELD
                          StateProvinceCode: RI
                          PostalCode: '02917'
                          CountryCode: US
                      ShipFrom:
                        Name: T and T Designs
                        AttentionName: 1160b_74
                        Phone:
                          Number: '1234567890'
                        FaxNumber: '1234567890'
                        Address:
                          AddressLine:
                          - 12380 Morris Road
                          City: LUTHERVILLE TIMONIUM
                          StateProvinceCode: MD
                          PostalCode: '21093'
                          CountryCode: US
                      PaymentInformation:
                        ShipmentCharge:
                          Type: '01'
                          BillShipper:
                            AccountNumber: " "
                      Service:
                        Code: '03'
                        Description: UPS Worldwide Saver
                      Package:
                        Description: UPS Worldwide Saver
                        Packaging:
                          Code: '02'
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                          Length: '6'
                          Width: '9'
                          Height: '7'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                          Weight: '68'
                        PackageServiceOptions:
                          PackageIdentifier: '12380'
                          HazMat:
                            PackagingTypeQuantity: '1'
                            SubRiskClass: " "
                            TechnicalName: OXYGEN/NITROGEN
                            ClassDivisionNumber: '2.2'
                            Quantity: '6'
                            UOM: kg
                            PackagingType: Fibreboard Box
                            IDNumber: UN3480
                            ProperShippingName: Lithium Ion Batteries
                            PackagingGroupType: " "
                            PackagingInstructionCode: Pack
                            EmergencyPhone: '9253702575'
                            EmergencyContact: Shipping Dept.
                            RegulationSet: CFR
                            TransportationMode: CAO
                            CommodityRegulatedLevelCode: FR
                            TransportCategory: xyz
                            TunnelRestrictionCode: xyz
                            ChemicalRecordIdentifier: '40'
                      NumOfPiecesInShipment: '10000'
                    LabelSpecification:
                      LabelImageFormat:
                        Code: GIF
                        Description: GIF
                      HTTPUserAgent: Mozilla/4.5
              '6':
                summary: Billing Third Party
                value:
                  ShipmentRequest:
                    Request:
                      RequestOption: nonvalidate
                      SubVersion: '1901'
                      TransactionReference:
                        CustomerContext: ''
                    Shipment:
                      Description: Payments
                      Shipper:
                        Name: Shipper_name
                        AttentionName: Shipper_name
                        CompanyDisplayableName: Shipper_name
                        Phone:
                          Number: '1234567890'
                          Extension: '1234'
                        ShipperNumber: " "
                        FaxNumber: '1234'
                        EMailAddress: " "
                        Address:
                          AddressLine:
                          - ShipperAddress
                          - ShipperAddress
                          - ShipperAddress
                          City: 01-222 Warszawa
                          StateProvinceCode: GA
                          PostalCode: '1222'
                          CountryCode: PL
                      ShipTo:
                        Name: ShipToName
                        AttentionName: ShipToName
                        CompanyDisplayableName: ShipToName
                        Phone:
                          Number: '1234567890'
                          Extension: '1234'
                        FaxNumber: '1234'
                        EMailAddress: " "
                        Address:
                          AddressLine:
                          - ShipToAddress
                          - ShipToAddress
                          - ShipToAddress
                          City: 01-222 Warszawa
                          StateProvinceCode: GA
                          PostalCode: '1222'
                          CountryCode: PL
                      ShipFrom:
                        Name: ShipFromName
                        AttentionName: ShipFromName
                        CompanyDisplayableName: ShipFromName
                        TaxIdentificationNumber: '1234'
                        TaxIDType:
                          Code: EIN
                          Description: EIN
                        Phone:
                          Number: '1234567890'
                          Extension: '1234'
                        ShipFromAccountNumber: " "
                        FaxNumber: '1234'
                        Address:
                          AddressLine:
                          - ShipFromAddress
                          - ShipFromAddress
                          - ShipFromAddress
                          City: 01-222 Warszawa
                          StateProvinceCode: GA
                          PostalCode: '1222'
                          CountryCode: PL
                        EMailAddress: " "
                      PaymentInformation:
                        ShipmentCharge:
                          Type: '01'
                          BillThirdParty:
                            AccountNumber: " "
                            Name: " "
                            AttentionName: " "
                            VatTaxID: 1234AB
                            TaxIDType: '01'
                            CertifiedElectronicMail: abc@123.123
                            InterchangeSystemCode: SDI
                            SuppressPrintInvoiceIndicator: " "
                            Address:
                              PostalCode: '30005'
                              CountryCode: US
                      Service:
                        Code: '011'
                        Description: Standard
                      InvoiceLineTotal:
                        CurrencyCode: USD
                        MonetaryValue: '10'
                      NumOfPiecesInShipment: '1'
                      USPSEndorsement: '5'
                      CostCenter: '123'
                      PackageID: '1'
                      InformationSourceCode: A3
                      ShipmentServiceOptions: "            "
                      Package:
                        Description: IF
                        NumOfPieces: '10'
                        Packaging:
                          Code: '02'
                          Description: desc
                        Dimensions:
                          UnitOfMeasurement:
                            Code: CM
                            Description: CM
                          Length: '2'
                          Width: '2'
                          Height: '3'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: KGS
                            Description: LBS
                          Weight: '50'
                    LabelSpecification:
                      LabelImageFormat:
                        Code: GIF
                        Description: GIF
              '7':
                summary: Multi-Piece Shipping
                value:
                  ShipmentRequest:
                    Request:
                      RequestOption: nonvalidate
                      SubVersion: '1701'
                      TransactionReference:
                        CustomerContext: ''
                    Shipment:
                      Package:
                      - PackageWeight:
                          Weight: '50'
                          UnitOfMeasurement:
                            Description: desc
                            Code: LBS
                        Dimensions:
                          Height: '2'
                          Width: '2'
                          Length: '02'
                          UnitOfMeasurement:
                            Description: desc
                            Code: IN
                        Packaging:
                          Description: desc
                          Code: '02'
                        Description: desc
                      - PackageWeight:
                          Weight: '50'
                          UnitOfMeasurement:
                            Description: desc
                            Code: LBS
                        Dimensions:
                          Height: '2'
                          Width: '2'
                          Length: '02'
                          UnitOfMeasurement:
                            Description: desc
                            Code: IN
                        Packaging:
                          Description: desc
                          Code: '02'
                        Description: desc
                      - Description: desc
                        Packaging:
                          Code: '02'
                          Description: desc
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                            Description: desc
                          Length: '02'
                          Width: '2'
                          Height: '2'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                            Description: desc
                          Weight: '50'
                      Description: UPS Premier
                      Shipper:
                        Name: ShipperName
                        AttentionName: GA
                        CompanyDisplayableName: GA
                        TaxIdentificationNumber: '12345'
                        Phone:
                          Number: '1234567890'
                          Extension: '12'
                        ShipperNumber: " "
                        FaxNumber: '2134'
                        EMailAddress: " "
                        Address:
                          AddressLine:
                          - address
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      ShipTo:
                        Name: ship
                        AttentionName: GA
                        CompanyDisplayableName: GA
                        TaxIdentificationNumber: '1234'
                        Phone:
                          Number: '1234567890'
                          Extension: '12'
                        FaxNumber: '1234'
                        EMailAddress: " "
                        Address:
                          AddressLine:
                          - AddressLine
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                          ResidentialAddressIndicator: Y
                      ShipFrom:
                        Name: ship
                        AttentionName: GA
                        CompanyDisplayableName: ShipFrom_CompanyDisplayableName
                        TaxIdentificationNumber: '5555555555'
                        Phone:
                          Number: '1234567890'
                          Extension: '12'
                        FaxNumber: '5555555555'
                        Address:
                          AddressLine:
                          - AddressLine
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                        EMailAddress: " "
                      PaymentInformation:
                        ShipmentCharge:
                          Type: '01'
                          BillShipper:
                            AccountNumber: " "
                      Service:
                        Code: '01'
                        Description: desc
                    LabelSpecification:
                      LabelImageFormat:
                        Code: ZPL
                        Description: desc
                      HTTPUserAgent: Mozilla/4.5
                      LabelStockSize:
                        Height: '6'
                        Width: '4'
              '8':
                summary: Ship to a UPS Access Point
                value:
                  ShipmentRequest:
                    Request:
                      RequestOption: nonvalidate
                      TransactionReference:
                        CustomerContext: ''
                    Shipment:
                      Description: D2R shipments
                      Shipper:
                        Name: Shipper Name
                        AttentionName: Attn. Name
                        CompanyDisplayableName: Shipper company
                        TaxIdentificationNumber: '456789'
                        Phone:
                          Number: '5555555555'
                        ShipperNumber: " "
                        EMailAddress: " "
                        Address:
                          AddressLine:
                          - AddressLine1
                          City: BOLTON
                          StateProvinceCode: 'ON'
                          PostalCode: '20999'
                          CountryCode: DE
                      ShipTo:
                        Name: ShipTo Name
                        AttentionName: ShipTo Attn. Name
                        CompanyDisplayableName: ShipTo Company
                        Phone:
                          Number: '6787462345'
                        EMailAddress: " "
                        Address:
                          AddressLine:
                          - Morris Rd
                          City: Alpharetta
                          StateProvinceCode: 'ON'
                          PostalCode: L7E5C1
                          CountryCode: CA
                      AlternateDeliveryAddress:
                        AttentionName: Attn. Name
                        Name: Alt. Name
                        UPSAccessPointID: GB00088
                        Address:
                          AddressLine:
                          - Morris RD
                          City: Alpharetta
                          StateProvinceCode: 'ON'
                          PostalCode: '20999'
                          CountryCode: DE
                      ShipFrom:
                        Name: ShipFrom Name
                        AttentionName: ShipFrom Attn. Name
                        CompanyDisplayableName: ShipFrom company
                        Phone:
                          Number: '6787463456'
                        ShipFromAccountNumber: " "
                        Address:
                          AddressLine:
                          - Old Alpharetta rd
                          City: BOLTON
                          StateProvinceCode: 'ON'
                          PostalCode: '20999'
                          CountryCode: DE
                        EMailAddress: " "
                      PaymentInformation:
                        ShipmentCharge:
                          Type: '01'
                          BillShipper:
                            AccountNumber: " "
                      Service:
                        Code: '11'
                        Description: Express
                      ShipmentIndicationType:
                        Code: '01'
                        Description: D2R shipment
                      ShipmentServiceOptions:
                        Notification:
                          NotificationCode: '012'
                          EMail:
                            EMailAddress: " "
                          VoiceMessage:
                            PhoneNumber: '5555555555'
                          TextMessage:
                            PhoneNumber: '5555555555'
                          Locale:
                            Language: ENG
                            Dialect: US
                      Package:
                        Description: D2R shipment
                        Packaging:
                          Code: '02'
                          Description: D2R package
                        Dimensions:
                          UnitOfMeasurement:
                            Code: CM
                            Description: Centemeters
                          Length: '5'
                          Width: '6'
                          Height: '7'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: KGS
                            Description: Kilograms
                          Weight: '15'
                        PackageServiceOptions:
                          DeclaredValue:
                            Type:
                              Code: '01'
                              Description: Declared value
                            CurrencyCode: EUR
                            MonetaryValue: '10.30'
                    LabelSpecification:
                      LabelImageFormat:
                        Code: GIF
                      LabelStockSize:
                        Height: '6'
                        Width: '4'
              '9':
                summary: World Wide Economy Shipping
                value:
                  ShipmentRequest:
                    Request:
                      RequestOption: nonvalidate
                      SubVersion: '2108'
                      TransactionReference:
                        CustomerContext: ''
                    Shipment:
                      Description: Worldwide econmoy Parcel
                      Shipper:
                        Name: Shipper_name
                        AttentionName: UPS
                        CompanyDisplayableName: Shipper_name
                        Phone:
                          Number: '1234567890'
                          Extension: '1234'
                        ShipperNumber: ''
                        FaxNumber: '1234'
                        EMailAddress: ''
                        Address:
                          AddressLine:
                          - 2311 York Rd
                          - 2311 York Rd
                          - 2311 York Rd
                          City: Lutherville Timonium
                          StateProvinceCode: MD
                          PostalCode: '21093'
                          CountryCode: US
                      ShipTo:
                        Name: Happy Dog Pet Supply
                        AttentionName: ShipToName
                        CompanyDisplayableName: ShipToName
                        Phone:
                          Number: '1234567890'
                          Extension: '1234'
                        FaxNumber: '1234'
                        EMailAddress: ''
                        Address:
                          AddressLine:
                          - 12380 Morris Road
                          - 12380 Morris Road
                          - 12380 Morris Road
                          City: STARZACH
                          StateProvinceCode: GA
                          PostalCode: '72181'
                          CountryCode: DE
                      ShipFrom:
                        Name: UPS
                        AttentionName: ShipFromName
                        CompanyDisplayableName: ShipFromName
                        TaxIdentificationNumber: '1234'
                        TaxIDType:
                          Code: EIN
                          Description: EIN
                        Phone:
                          Number: '1234567890'
                          Extension: '1234'
                        ShipFromAccountNumber: ''
                        FaxNumber: '1234'
                        Address:
                          AddressLine:
                          - 2311 York Rd
                          - 2311 York Rd
                          - 2311 York Rd
                          City: Lutherville Timonium
                          StateProvinceCode: MD
                          PostalCode: '21093'
                          CountryCode: US
                        EMailAddress: ''
                      PaymentInformation:
                        ShipmentCharge:
                          Type: '01'
                          BillShipper:
                            AccountNumber: ''
                      ShipmentRatingOptions:
                        NegotiatedRatesIndicator: Y
                      Service:
                        Code: '072'
                        Description: UPS Worldwide Economy DDP
                      NumOfPiecesInShipment: ''
                      ShipmentValueThresholdCode: ''
                      ShipmentServiceOptions:
                        Notification:
                          NotificationCode: '6'
                          EMail:
                            EMailAddress: ''
                            UndeliverableEMailAddress: ''
                            FromEMailAddress: ''
                            FromName: ''
                            Memo: '1905'
                        MasterCartonIndicator: Y
                      Package:
                        Description: Worldwide econmoy Postal
                        NumOfPieces: '10'
                        Packaging:
                          Code: '02'
                          Description: Customer Supplied Package
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                            Description: IN
                          Length: '10'
                          Width: '10'
                          Height: '10'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                            Description: Pounds
                          Weight: '0.1'
                    LabelSpecification:
                      LabelImageFormat:
                        Code: GIF
                        Description: GIF
                      HTTPUserAgent: Mozilla/4.5
              '10':
                summary: Proactive Response Shipping
                value:
                  ShipmentRequest:
                    Request:
                      RequestOption: nonvalidate
                      TransactionReference:
                        CustomerContext: ''
                      SubVersion: '1701'
                    Shipment:
                      Description: '1701'
                      Shipper:
                        Name: Shipper_Name
                        AttentionName: Shipper_AttentionName
                        TaxIdentificationNumber: '123456'
                        Phone:
                          Number: '1234567890'
                        ShipperNumber: ''
                        Address:
                          AddressLine:
                          - 12380 Morris Rd
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      ShipTo:
                        Name: ShipTo_CompanyName
                        AttentionName: ShipTo_AttentionName
                        Phone:
                          Number: '1234567890'
                        FaxNumber: '1234567890'
                        TaxIdentificationNumber: '123456'
                        Address:
                          AddressLine:
                          - 793 Foothill Blvd
                          City: San Luis Obispo
                          StateProvinceCode: CA
                          PostalCode: '93405'
                          CountryCode: US
                      ShipFrom:
                        Name: ShipFrom_CompanyName
                        AttentionName: ShipFrom_AttentionName
                        Phone:
                          Number: '1234567890'
                        FaxNumber: '1234567890'
                        TaxIdentificationNumber: '123456'
                        Address:
                          AddressLine:
                          - 12380 Morris Rd
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      PaymentInformation:
                        ShipmentCharge:
                          Type: '01'
                          BillShipper:
                            AccountNumber: ''
                      Service:
                        Code: '03'
                        Description: Ground
                      Package:
                        Description: Package Description
                        Packaging:
                          Code: '02'
                          Description: Customer Supplied Package
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                            Description: Inches
                          Length: '10'
                          Width: '10'
                          Height: '10'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                          Weight: '1'
                        PackageServiceOptions:
                          ProactiveIndicator: X
                    LabelSpecification:
                      LabelImageFormat:
                        Code: GIF
              '11':
                summary: Shipping with EEI Form
                value:
                  ShipmentRequest:
                    Request:
                      RequestOption: nonvalidate
                      SubVersion: '1901'
                      TransactionReference:
                        CustomerContext: ''
                    Shipment:
                      Description: IF
                      Shipper:
                        Name: Shipper_name
                        AttentionName: Shipper_name
                        CompanyDisplayableName: Shipper_name
                        Phone:
                          Number: '1234567890'
                          Extension: '1234'
                        ShipperNumber: ''
                        FaxNumber: '8002222222'
                        EMailAddress: ''
                        Address:
                          AddressLine:
                          - 2 South Main Street
                          City: LONDON
                          StateProvinceCode: GA
                          PostalCode: TW59NR
                          CountryCode: GB
                      ShipTo:
                        Name: ShipToName
                        AttentionName: ShipToName
                        CompanyDisplayableName: ShipToName
                        Phone:
                          Number: '1234567890'
                          Extension: '1234'
                        FaxNumber: '1234'
                        EMailAddress: ''
                        Address:
                          AddressLine:
                          - 103 Avenue des Champs-Élysées
                          City: Paris
                          StateProvinceCode: ''
                          PostalCode: '75008'
                          CountryCode: FR
                      ShipFrom:
                        Name: ShipFromName
                        AttentionName: ShipFromName
                        CompanyDisplayableName: ShipFromName
                        TaxIdentificationNumber: '1234'
                        TaxIDType:
                          Code: EIN
                          Description: IF
                        Phone:
                          Number: '1234567890'
                          Extension: '1234'
                        FaxNumber: '1234'
                        Address:
                          AddressLine:
                          - 2 South Main Street
                          City: TW59NR
                          StateProvinceCode: GA
                          PostalCode: TW59NR
                          CountryCode: GB
                        EMailAddress: ''
                        VendorInfo:
                          VendorCollectIDTypeCode: '0356'
                          VendorCollectIDNumber: IMDEU1234567
                          ConsigneeType: '01'
                      PaymentInformation:
                        ShipmentCharge:
                          Type: '01'
                          BillShipper:
                            AccountNumber: ''
                      Service:
                        Code: '96'
                        Description: IF
                      InvoiceLineTotal:
                        CurrencyCode: USD
                        MonetaryValue: '10'
                      NumOfPiecesInShipment: '1'
                      ShipmentServiceOptions:
                        InternationalForms:
                          FormType: '01'
                          CN22Form:
                            LabelSize: '6'
                            PrintsPerPage: '1'
                            LabelPrintType: pdf
                            CN22Type: '1'
                            CN22OtherDescription: test cn22
                            FoldHereText: fold
                            CN22Content:
                              CN22ContentQuantity: '300'
                              CN22ContentDescription: desc
                              CN22ContentWeight:
                                UnitOfMeasurement:
                                  Code: LBS
                                  Description: LBS
                                Weight: '70'
                              CN22ContentTotalValue: '2'
                              CN22ContentCurrencyCode: USD
                              CN22ContentCountryOfOrigin: US
                              CN22ContentTariffNumber: '4565655'
                          FormGroupIdName: Invoice
                          SEDFilingOption: ''
                          EEIFilingOption:
                            Code: '1'
                            EMailAddress: ''
                            Description: EEI
                            UPSFiled:
                              POA:
                                Code: '1'
                                Description: POA
                            ShipperFiled:
                              Code: B
                              Description: ShipperFiled
                              PreDepartureITNNumber: ''
                              ExemptionLegend: ''
                              EEIShipmentReferenceNumber: '1234'
                          Contacts:
                            ForwardAgent:
                              CompanyName: UPS
                              TaxIdentificationNumber: 94-308351500
                              Address:
                                AddressLine:
                                - AddressLine
                                City: Alpharetta
                                StateProvinceCode: GA
                                Town: Town
                                PostalCode: '30005'
                                CountryCode: US
                            UltimateConsignee:
                              CompanyName: UPS
                              Address:
                                AddressLine:
                                - Address
                                City: Alpharetta
                                StateProvinceCode: GA
                                Town: TOWN
                                PostalCode: '30005'
                                CountryCode: US
                              UltimateConsigneeType:
                                Code: D
                                Description: Direct Consumer
                            Producer:
                              Option: ''
                              CompanyName: ProducerCompanyName
                              TaxIdentificationNumber: '1234'
                              Address:
                                AddressLine:
                                - Address
                                City: Marietta
                                StateProvinceCode: GA
                                Town: Town
                                PostalCode: '166222'
                                CountryCode: CA
                              AttentionName: Name
                              Phone:
                                Number: '1234567890'
                                Extension: '1234'
                              EMailAddress: ''
                            SoldTo:
                              Name: ACME Designs
                              AttentionName: ACME Designs
                              TaxIdentificationNumber: '1234'
                              Phone:
                                Number: '1234567890'
                                Extension: '1234'
                              Option: '01'
                              Address:
                                AddressLine:
                                - 103 Avenue des Champs-Élysées
                                City: Paris
                                StateProvinceCode: ''
                                PostalCode: '75008'
                                CountryCode: FR
                              EMailAddress: ''
                          Product:
                            Description: Widgets
                            Unit:
                              Number: '1'
                              UnitOfMeasurement:
                                Code: KGS
                                Description: LBS
                              Value: '1'
                            CommodityCode: '12345679'
                            PartNumber: '1234'
                            OriginCountryCode: US
                            JointProductionIndicator: ''
                            NetCostCode: NC
                            NetCostDateRange:
                              BeginDate: '20220115'
                              EndDate: '20220816'
                            PreferenceCriteria: A
                            ProducerInfo: 'Yes'
                            MarksAndNumbers: '1'
                            NumberOfPackagesPerCommodity: '1'
                            ProductWeight:
                              UnitOfMeasurement:
                                Code: KGS
                                Description: Description
                              Weight: '10'
                            ScheduleB:
                              Number: '12345'
                              Quantity: '5'
                              UnitOfMeasurement:
                                Code: PCS
                                Description: PCS
                            ExportType: D
                            SEDTotalValue: '123.45'
                            PackingListInfo:
                              PackageAssociated:
                                PackageNumber: '01'
                                ProductAmount: '147'
                            EEIInformation:
                              ExportInformation: OS
                              License:
                                Number: 123.16B2
                                Code: C30
                                LicenseLineValue: ''
                                ECCNNumber: EAR99
                          InvoiceNumber: asdf123
                          InvoiceDate: '20130410'
                          PurchaseOrderNumber: 999jjj777
                          TermsOfShipment: CFR
                          ReasonForExport: Sale
                          Comments: Enter in any extra information about the current
                            shipment.
                          Discount:
                            MonetaryValue: '100'
                          FreightCharges:
                            MonetaryValue: '75'
                          InsuranceCharges:
                            MonetaryValue: '789'
                          OtherCharges:
                            MonetaryValue: '10'
                            Description: '10'
                          CurrencyCode: USD
                          BlanketPeriod:
                            BeginDate: '20130420'
                            EndDate: '20130430'
                          ExportDate: '20210406'
                          ExportingCarrier: A
                          CarrierID: IATA
                          InBondCode: '70'
                          EntryNumber: 1A34567876545360
                          PointOfOrigin: MS
                          PointOfOriginType: MS
                          ModeOfTransport: Rail
                          PortOfExport: Overland
                          PortOfUnloading: Germany
                          LoadingPier: Pier 17 Dock 31
                          PartiesToTransaction: N
                          License:
                            Number: ''
                            Date: ''
                            ExceptionCode: ''
                          ECCNNumber: ''
                      Package:
                        Description: IF
                        Packaging:
                          Code: '30'
                          Description: IF
                        Dimensions:
                          UnitOfMeasurement:
                            Code: CM
                            Description: IF
                          Length: '50'
                          Width: '37'
                          Height: '40'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: KGS
                            Description: IF
                          Weight: '50'
                      USPSEndorsement: ''
                      CostCenter: '123'
                      PackageID: ''
                      InformationSourceCode: ''
                      ShipmentValueThresholdCode: '01'
              '12':
                summary: Shipping with Tax ID
                value:
                  ShipmentRequest:
                    Request:
                      RequestOption: nonvalidate
                      SubVersion: '1901'
                      TransactionReference:
                        CustomerContext: ''
                    Shipment:
                      Description: IF
                      Shipper:
                        Name: Shipper_name
                        AttentionName: Shipper_name
                        CompanyDisplayableName: Shipper_name
                        Phone:
                          Number: '1234567890'
                          Extension: '1234'
                        ShipperNumber: ''
                        FaxNumber: '8002222222'
                        EMailAddress: ''
                        Address:
                          AddressLine:
                          - 2 South Main Street
                          City: LONDON
                          StateProvinceCode: GA
                          PostalCode: TW59NR
                          CountryCode: GB
                      ShipTo:
                        Name: ShipToName
                        AttentionName: ShipToName
                        CompanyDisplayableName: ShipToName
                        Phone:
                          Number: '1234567890'
                          Extension: '1234'
                        FaxNumber: '1234'
                        EMailAddress: ''
                        Address:
                          AddressLine:
                          - 2311 York Rd
                          City: STARZACH
                          StateProvinceCode: GA
                          PostalCode: '72181'
                          CountryCode: DE
                      ShipFrom:
                        Name: ShipFromName
                        AttentionName: ShipFromName
                        CompanyDisplayableName: ShipFromName
                        TaxIdentificationNumber: '1234'
                        TaxIDType:
                          Code: EIN
                          Description: IF
                        Phone:
                          Number: '1234567890'
                          Extension: '1234'
                        FaxNumber: '1234'
                        Address:
                          AddressLine:
                          - 2 South Main Street
                          City: TW59NR
                          StateProvinceCode: GA
                          PostalCode: TW59NR
                          CountryCode: GB
                        EMailAddress: ''
                        VendorInfo:
                          VendorCollectIDTypeCode: '0356'
                          VendorCollectIDNumber: IMDEU1234567
                          ConsigneeType: '01'
                      PaymentInformation:
                        ShipmentCharge:
                          Type: '01'
                          BillShipper:
                            AccountNumber: ''
                      Service:
                        Code: '96'
                        Description: IF
                      InvoiceLineTotal:
                        CurrencyCode: USD
                        MonetaryValue: '10'
                      NumOfPiecesInShipment: '1'
                      ShipmentServiceOptions:
                        InternationalForms:
                          FormType: '01'
                          CN22Form:
                            LabelSize: '6'
                            PrintsPerPage: '1'
                            LabelPrintType: pdf
                            CN22Type: '1'
                            CN22OtherDescription: test cn22
                            FoldHereText: fold
                            CN22Content:
                              CN22ContentQuantity: '300'
                              CN22ContentDescription: desc
                              CN22ContentWeight:
                                UnitOfMeasurement:
                                  Code: LBS
                                  Description: LBS
                                Weight: '70'
                              CN22ContentTotalValue: '2'
                              CN22ContentCurrencyCode: USD
                              CN22ContentCountryOfOrigin: US
                              CN22ContentTariffNumber: '4565655'
                          FormGroupIdName: Invoice
                          SEDFilingOption: ''
                          EEIFilingOption:
                            Code: '1'
                            EMailAddress: ''
                            Description: EEI
                            UPSFiled:
                              POA:
                                Code: '1'
                                Description: POA
                            ShipperFiled:
                              Code: B
                              Description: ShipperFiled
                              PreDepartureITNNumber: ''
                              ExemptionLegend: ''
                              EEIShipmentReferenceNumber: '1234'
                          Contacts:
                            ForwardAgent:
                              CompanyName: UPS
                              TaxIdentificationNumber: '12345'
                              Address:
                                AddressLine:
                                - AddressLine
                                City: Alpharetta
                                StateProvinceCode: GA
                                Town: Town
                                PostalCode: '30005'
                                CountryCode: US
                            UltimateConsignee:
                              CompanyName: UPS
                              Address:
                                AddressLine:
                                - Address
                                City: Alpharetta
                                StateProvinceCode: GA
                                Town: TOWN
                                PostalCode: '30005'
                                CountryCode: US
                              UltimateConsigneeType:
                                Code: D
                                Description: Direct Consumer
                            Producer:
                              Option: ''
                              CompanyName: ProducerCompanyName
                              TaxIdentificationNumber: '1234'
                              Address:
                                AddressLine:
                                - Address
                                City: Marietta
                                StateProvinceCode: GA
                                Town: Town
                                PostalCode: '166222'
                                CountryCode: CA
                              AttentionName: Name
                              Phone:
                                Number: '1234567890'
                                Extension: '1234'
                              EMailAddress: ''
                            SoldTo:
                              Name: ACME Designs
                              AttentionName: ACME Designs
                              TaxIdentificationNumber: '1234'
                              Phone:
                                Number: '1234567890'
                                Extension: '1234'
                              Option: '01'
                              Address:
                                AddressLine:
                                - Address
                                City: STARZACH
                                StateProvinceCode: GA
                                Town: town
                                PostalCode: '72181'
                                CountryCode: DE
                              EMailAddress: ''
                          Product:
                            Description: Description
                            Unit:
                              Number: '1'
                              UnitOfMeasurement:
                                Code: KGS
                                Description: LBS
                              Value: '1'
                            CommodityCode: '12345679'
                            PartNumber: '1234'
                            OriginCountryCode: US
                            JointProductionIndicator: ''
                            NetCostCode: NC
                            NetCostDateRange:
                              BeginDate: '20110115'
                              EndDate: '20110816'
                            PreferenceCriteria: A
                            ProducerInfo: 'Yes'
                            MarksAndNumbers: '1'
                            NumberOfPackagesPerCommodity: '1'
                            ProductWeight:
                              UnitOfMeasurement:
                                Code: KGS
                                Description: Desc
                              Weight: '10'
                            ScheduleB:
                              Number: '12345'
                              Quantity: '5'
                              UnitOfMeasurement:
                                Code: PCS
                                Description: PCS
                            ExportType: D
                            SEDTotalValue: '123.45'
                            PackingListInfo:
                              PackageAssociated:
                                PackageNumber: '01'
                                ProductAmount: '147'
                            EEIInformation:
                              ExportInformation: OS
                              License:
                                Number: 123.16B2
                                Code: C30
                                LicenseLineValue: ''
                                ECCNNumber: EAR99
                          InvoiceNumber: asdf123
                          InvoiceDate: '20130410'
                          PurchaseOrderNumber: 999jjj777
                          TermsOfShipment: CFR
                          ReasonForExport: Sale
                          Comments: Enter in any extra information about the current
                            shipment.
                          Discount:
                            MonetaryValue: '100'
                          FreightCharges:
                            MonetaryValue: '75'
                          InsuranceCharges:
                            MonetaryValue: '789'
                          OtherCharges:
                            MonetaryValue: '10'
                            Description: '10'
                          CurrencyCode: USD
                          BlanketPeriod:
                            BeginDate: '20130420'
                            EndDate: '20130430'
                          ExportDate: '20210406'
                          ExportingCarrier: A
                          CarrierID: IATA
                          InBondCode: '70'
                          EntryNumber: 1A34567876545360
                          PointOfOrigin: MS
                          PointOfOriginType: MS
                          ModeOfTransport: Rail
                          PortOfExport: Overland
                          PortOfUnloading: Germany
                          LoadingPier: Pier 17 Dock 31
                          PartiesToTransaction: N
                          License:
                            Number: ''
                            Date: ''
                            ExceptionCode: ''
                          ECCNNumber: ''
                      Package:
                        Description: IF
                        Packaging:
                          Code: '30'
                          Description: IF
                        Dimensions:
                          UnitOfMeasurement:
                            Code: CM
                            Description: IF
                          Length: '50'
                          Width: '37'
                          Height: '40'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: KGS
                            Description: IF
                          Weight: '50'
                      USPSEndorsement: ''
                      CostCenter: '123'
                      PackageID: ''
                      InformationSourceCode: ''
                      ShipmentValueThresholdCode: '01'
              '13':
                summary: Shipping with Carbon Neutral
                value:
                  ShipmentRequest:
                    Shipment:
                      Description: DG
                      ShipmentDate: '20231012'
                      Shipper:
                        Name: Shipper_name
                        AttentionName: Shipper_name
                        CompanyDisplayableName: Shipper_name
                        Phone:
                          Number: '1234567890'
                          Extension: '1234'
                        ShipperNumber: 3217GG
                        FaxNumber: '1234'
                        EMailAddress: test@ups.com
                        Address:
                          AddressLine:
                          - ShipperAddress
                          - ShipperAddress
                          - ShipperAddress
                          City: Alpharetta
                          StateProvinceCode: GA
                          PostalCode: '30005'
                          CountryCode: US
                      ShipTo:
                        Name: ShipToName
                        AttentionName: ShipToName
                        CompanyDisplayableName: ShipToName
                        Phone:
                          Number: '1234567890'
                          Extension: '1234'
                        FaxNumber: '1234'
                        EMailAddress: test@ups.com
                        Address:
                          AddressLine:
                          - ShipToAddress
                          - ShipToAddress
                          - ShipToAddress
                          City: carrollton
                          StateProvinceCode: GA
                          PostalCode: '30117'
                          CountryCode: US
                      ShipFrom:
                        Name: ShipFromName
                        AttentionName: ShipFromName
                        CompanyDisplayableName: ShipFromName
                        TaxIdentificationNumber: '1234'
                        TaxIDType:
                          Code: EIN
                        Phone:
                          Number: '1234567890'
                          Extension: '1234'
                        FaxNumber: '1234'
                        Address:
                          AddressLine:
                          - ShipFromAddress
                          - ShipFromAddress
                          - ShipFromAddress
                          City: Texas
                          StateProvinceCode: TX
                          PostalCode: '77040'
                          CountryCode: US
                      PaymentInformation:
                        ShipmentCharge:
                          Type: '01'
                          BillShipper:
                            AccountNumber: 3217GG
                      Service:
                        Code: '01'
                        Description: Next Day Air
                      InvoiceLineTotal:
                        CurrencyCode: USD
                        MonetaryValue: '10'
                      NumOfPiecesInShipment: '1'
                      ShipmentServiceOptions:
                        UPScarbonneutralIndicator: ''
                      Package:
                        Description: DG
                        NumOfPieces: '10'
                        Packaging:
                          Code: '02'
                          Description: desc
                        Dimensions:
                          UnitOfMeasurement:
                            Code: IN
                            Description: IN
                          Length: '2'
                          Width: '2'
                          Height: '2'
                        PackageWeight:
                          UnitOfMeasurement:
                            Code: LBS
                            Description: LBS
                          Weight: '50'
                        PackageServiceOptions:
                          PackedByStoreIndicator: ''
                          PackageIdentifier: '123'
              '14':
                summary: Trade direct - Master shipment 
                description: Trade direct master shipment creation request.
                value:
                  ShipmentRequest:
                      Request:
                        RequestOption: nonvalidate
                        SubVersion: '2205'
                        TransactionReference:
                          CustomerContext: Verify success responses for TD Master from CA to US.
                          TransactionIdentifier: ''
                      Shipment:
                        TradeDirect:
                          GeneralDescriptionOfGoods: Phones and Accessories
                          Master:
                            SoldToSameAsShipTo: 'True'
                            Pickup:
                              Name: UPS SCS c/o FMI Logistics
                              AttentionName: Origin CFS
                              Phone:
                                Number: '4103330104'
                                Extension: '123'
                              Address:
                                AddressLine: 7151-44th Street SE
                                City: Calgary
                                StateProvinceCode: AB
                                PostalCode: T2C4E8
                                CountryCode: CA
                              EMailAddress: abc@ups.com
                            SoldTo:
                              Name: Ace Levy
                              AttentionName: Doc
                              CompanyDisplayableName: UPS SCS
                              TaxIdentificationNumber: '1234'
                              TaxIDType:
                                Code: EIN
                                Description: EIN
                              Phone:
                                Number: '4103330104'
                                Extension: '123'
                              FaxNumber: '4103334104'
                              Address:
                                AddressLine: 1221 29th St NW  STE A
                                City: Auburn
                                StateProvinceCode: WA
                                PostalCode: '98001'
                                CountryCode: US
                              EMailAddress: abc@ups.com
                            TradeComplianceDetails:
                              TermsOfShipment: CFR
                              ReasonForExport: For Sale
                              Comments: Exported
                              DeclarationStatement: Invoice
                            NotificationBeforeDelivery:
                              RequestType: '001'
                              MediaTypeCode: '03'
                              Language: ENG
                              Dialect: US
                              ShipFromCompanyName: UPS SCS
                              CompanyName: UPS SCS
                              Phone:
                                Number: '3103330104'
                                Extension: '555'
                              Name: TD mail Notification
                              SubjectLine: subnotice
                              Memo: notimo
                              EmailAddress: abc@ups.com
                              AlternateEmailAddress: abc@ups.com
                            UomType: Imperial
                          CurrencyCode: CAD
                          ShipmentType: TRADEDIRECTCROSSBORDER
                        Description: TD test Case
                        Shipper:
                          Name: 'UPS TDCB'
                          AttentionName: Katrina
                          CompanyDisplayableName: UPS TDCB
                          TaxIdentificationNumber: '12345'
                          Phone:
                            Number: '1234567890'
                            Extension: '123'
                          ShipperNumber: 'XXXXXX'
                          FaxNumber: '1234'
                          EMailAddress: abc@ups.com
                          Address:
                            AddressLine: 1221 29th St NW  STE A
                            City: Auburn
                            StateProvinceCode: WA
                            PostalCode: '98001'
                            CountryCode: US
                        ShipTo:
                          Name: UPS TDCB
                          AttentionName: Master Brunt
                          CompanyDisplayableName: UPS TDCB
                          Phone:
                            Number: '1234567890'
                            Extension: '123'
                          FaxNumber: '1234'
                          EMailAddress: abc@ups.com
                          Address:
                            AddressLine: 1221 29th St NW  STE A
                            City: Auburn
                            StateProvinceCode: WA
                            PostalCode: '98001'
                            CountryCode: US
                        ShipFrom:
                          Name: UPS TDCB
                          AttentionName: 'Johnny '
                          CompanyDisplayableName: UPS TDCB
                          TaxIdentificationNumber: '1234'
                          TaxIDType:
                            Code: EIN
                            Description: EIN
                          Phone:
                            Number: '1234567890'
                            Extension: '123'
                          ShipFromAccountNumber: 'XXXXXX'
                          FaxNumber: '1234'
                          Address:
                            AddressLine: 7151-44th Street SE
                            City: Calgary
                            StateProvinceCode: AB
                            PostalCode: T2C4E8
                            CountryCode: CA
                          EMailAddress: abc@ups.com
                        PaymentInformation:
                          ShipmentCharge:
                            Type: '01'
                            BillShipper:
                              AccountNumber: 'XXXXXX'
                        Service:
                          Code: T0
                          Description: UPS WW Expedited
                        InvoiceLineTotal:
                          CurrencyCode: USD
                          MonetaryValue: '10'
                        NumOfPiecesInShipment: '1'
                        ShipmentServiceOptions: ''                
                        BarCodeImageIndicator: ''
                        BarCodeAndLabelIndicator: ''
                        ShipmentDate: '20250424'
                      LabelSpecification:
                        LabelImageFormat:
                          Code: GIF
                          Description: GIF
                        HTTPUserAgent: Mozilla/4.5  
              '15':
                summary: Trade direct - Child shipment 
                description: Trade direct child shipment creation request.
                value:
                  ShipmentRequest:
                      Request:
                        RequestOption: nonvalidate
                        SubVersion: '2205'
                        TransactionReference:
                          CustomerContext: >-
                            verify success reponse when child shipment is created with TD account.
                          TransactionIdentifier: ''
                      Shipment:
                        TradeDirect:
                          Child:
                            Product:
                              - Code: KGS
                                Description: iPhones Apple
                                UnitPrice: '20'
                                TotalValue: '100'
                                NumberOfUnits: '5'
                                ProductNumber: AP78
                                CountryOriginCode: US
                                UnitOfMeasure: KGS
                              - Code: KGS
                                Description: iPhones Cases
                                UnitPrice: '5'
                                TotalValue: '25'
                                NumberOfUnits: '5'
                                ProductNumber: CP24
                                CountryOriginCode: US
                                UnitOfMeasure: KGS
                            Type: SMALLPACKAGE
                            USI: ''
                          ShipmentType: TRADEDIRECTCROSSBORDER
                          CurrencyCode: CAD
                        Description: Trade Direct TEstCase
                        Shipper:
                          Name: UPS TDCB
                          AttentionName: Katrina
                          CompanyDisplayableName: UPS TDCB
                          TaxIdentificationNumber: '12345'
                          Phone:
                            Number: '1234567890'
                            Extension: '123'
                          ShipperNumber: 'XXXXXX'
                          FaxNumber: '1234'
                          EMailAddress: abc@ups.com
                          Address:
                            AddressLine: 1221 29th St NW  STE A
                            City: Auburn
                            StateProvinceCode: WA
                            PostalCode: '98001'
                            CountryCode: US
                        ShipTo:
                          Name: Reven Riverside
                          AttentionName: Stone
                          Phone:
                            Number: '1234567890'
                            Extension: '1234'
                          FaxNumber: '1234'
                          EMailAddress: abc@ups.com
                          Address:
                            AddressLine: 403 Broadford Rd
                            City: Bellevue
                            StateProvinceCode: ID
                            PostalCode: '83313'
                            CountryCode: US
                        ShipFrom:
                          Name: UPS TDCB
                          AttentionName: Master Brunt
                          CompanyDisplayableName: UPS TDCB
                          TaxIdentificationNumber: '1234'
                          TaxIDType:
                            Code: EIN
                            Description: EIN
                          Phone:
                            Number: '1234567890'
                            Extension: '123'
                          ShipFromAccountNumber: ''
                          FaxNumber: '1234'
                          Address:
                            AddressLine: 1221 29th St NW  STE A
                            City: Auburn
                            StateProvinceCode: WA
                            PostalCode: '98001'
                            CountryCode: US
                          EMailAddress: abc@ups.com
                        PaymentInformation:
                          ShipmentCharge:
                            Type: '01'
                            BillShipper:
                              AccountNumber: 'XXXXXX'                                
                        Service:
                          Code: '01'
                          Description: UPS Ground
                        InvoiceLineTotal:
                          CurrencyCode: USD
                          MonetaryValue: '10'
                        NumOfPiecesInShipment: '1'
                        ShipmentServiceOptions:
                          Notification:
                            NotificationCode: '6'
                            EMail:
                              EMailAddress: abc@ups.com
                            TextMessage:
                              PhoneNumber: '9494974020'
                            Locale:
                              Language: ENG
                              Dialect: US
                        ShipmentDate: '20250424'
                        Package:
                          Description: Worldwide econmoy Postal
                          NumOfPieces: '10'
                          Packaging:
                            Code: '02'
                            Description: customer Package
                          Dimensions:
                            UnitOfMeasurement:
                              Code: IN
                              Description: IN
                            Length: '4'
                            Width: '3'
                            Height: '3'
                          PackageWeight:
                            UnitOfMeasurement:
                              Code: LBS
                              Description: LBS
                            Weight: '3'
                        ShipmentRatingOptions:
                          NegotiatedRatesIndicator: ''
                      LabelSpecification:
                        LabelImageFormat:
                          Code: png
                          Description: png
                        HTTPUserAgent: Mozilla/4.5
                        LabelStockSize:
                          Height: '6'
                          Width: '4'
              '16':
                summary: Trade direct - LTL shipment 
                description: Trade direct LTL child shipment creation request.
                value:
                  ShipmentRequest:
                      Request:
                        RequestOption: nonvalidate
                        SubVersion: '2205'
                        TransactionReference:
                          CustomerContext: >-
                            verify success reponse when LTL child shipment is created with TD account.
                          TransactionIdentifier: ''
                      Shipment:
                        TradeDirect:
                          Child:
                            Product:
                              - Code: KGS
                                Description: Lipstick
                                UnitPrice: '8'
                                TotalValue: '40'
                                NumberOfUnits: '5'
                                ProductNumber: LS56
                                CurrencyCode: CAD
                                CountryOriginCode: US
                                UnitOfMeasure: CR
                              - Code: BOX
                                Description: Compack
                                UnitPrice: '8'
                                TotalValue: '40'
                                NumberOfUnits: '5'
                                ProductNumber: CP57
                                CurrencyCode: CAD
                                CountryOriginCode: US
                                UnitOfMeasure: CR
                              - Code: BOX
                                Description: 'Lip Liner '
                                UnitPrice: '8'
                                TotalValue: '40'
                                NumberOfUnits: '5'
                                ProductNumber: LL58
                                CurrencyCode: CAD
                                CountryOriginCode: US
                                UnitOfMeasure: CR
                            LtlPackage:
                              NumberOfIdenticalUnits: "1"                                   
                              HandlingUnits:
                                Quantity: '1'
                                Type: BOXES
                                FreightClass: '150'
                                Dimensions:
                                  Length: '10'
                                  Width: '10'
                                  Height: '10'
                                  UnitOfMeasurement: IN
                                PackageWeight:
                                  Weight: '10'
                                  UnitOfMeasurement: LBS
                            Type: LTL
                            USI: ''
                          ShipmentType: TRADEDIRECTCROSSBORDER
                          CurrencyCode: CAD
                        Description: Trade Direct TestCase
                        Shipper:
                          Name: UPS TDCB
                          AttentionName: Katrina
                          CompanyDisplayableName: UPS TDCB
                          TaxIdentificationNumber: '12345'
                          Phone:
                            Number: '1234567890'
                            Extension: '123'
                          ShipperNumber: 'XXXXXX'
                          FaxNumber: '1234'
                          EMailAddress: abc@ups.com
                          Address:
                            AddressLine: 1221 29th St NW  STE A
                            City: Auburn
                            StateProvinceCode: WA
                            PostalCode: '98001'
                            CountryCode: US
                        ShipTo:
                          Name: Reven Riverside
                          AttentionName: Stone
                          Phone:
                            Number: '1234567890'
                            Extension: '1234'
                          FaxNumber: '1234'
                          EMailAddress: abc@ups.com
                          Address:
                            AddressLine: 403 Broadford Rd
                            City: Bellevue
                            StateProvinceCode: ID
                            PostalCode: '83313'
                            CountryCode: US
                        ShipFrom:
                          Name: UPS TDCB
                          AttentionName: Master Brunt
                          CompanyDisplayableName: UPS TDCB
                          TaxIdentificationNumber: '1234'
                          TaxIDType:
                            Code: EIN
                            Description: EIN
                          Phone:
                            Number: '1234567890'
                            Extension: '123'
                          ShipFromAccountNumber: 'XXXXXX'
                          FaxNumber: '1234'
                          Address:
                            AddressLine: '1221 29th St NW  STE A'
                            City: Auburn
                            StateProvinceCode: WA
                            PostalCode: '98001'
                            CountryCode: US
                          EMailAddress: abc@ups.com
                        PaymentInformation:
                          ShipmentCharge:
                            Type: '01'
                            BillShipper:
                              AccountNumber: 'XXXXXX'
                        Service:
                          Code: T1
                          Description: UPS Trade Direct
                        InvoiceLineTotal:
                          CurrencyCode: USD
                          MonetaryValue: '10'
                        NumOfPiecesInShipment: '1'
                        ShipmentServiceOptions: ''                
                        ShipmentDate: '20250424'
                        Package:
                          Description: Worldwide econmoy Postal
                          NumOfPieces: '10'
                          Packaging:
                            Code: '02'
                            Description: customer Package
                          Dimensions:
[...]
