.null-renderer-text {
    font-size: 12px;
    line-height: 18px;
    color: #1B1F24;
    background-color: #E4E7EB;
    padding: 2px 6px 2px 6px;
    border-radius: 6px
}

.table-editor-component-row {
    &:hover {
        .null-renderer-text {
            background-color: #FFFFFF !important
        }
    }
}