.canvas-component {
    .json-editor-widget {
        height: 100%;
        width: 100%;
        overflow-y: auto;
    }
    .cm-diagnostic-error {
        background-color: var(--cc-surface1-surface);
    }
}