<!DOCTYPE html PUBLIC "-//W3C//DTDXHTML1.0Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  style="padding: 0; margin: 0"
>
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <style type="text/css">
      /* GLOBAL */
      * {
        font-family: "IBM Plex Sans", sans-serif;
        color: #11181C;
        font-size: 14px;
      }
      body {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        padding: 0;
        margin: 0;
        width: 100%;
      }
      a {
        -webkit-text-size-adjust: none !important;
        -ms-text-size-adjust: none !important;
        mso-line-height-rule: exactly !important;
        text-decoration: none !important;
        font-size: 14px !important;
      }
      table {
        mso-table-lspace: 0pt;
        mso-table-rspace: 0pt;
        border-collapse: collapse;
        border-spacing: 0px;
        width: 100%;
      }
      tr {
        border-collapse: collapse;
      }
      td {
        padding: 0;
        margin: 0;
      }
      h1 {
        font-size: 22px;
        line-height: 36px;
      }
      h2 {
        font-size: 30px;
        line-height: 36px;
      }
      h4 {
        font-size: 17px;
        line-height: 19px;
      }
      h1, h2, h4 {
        margin: 0;
        mso-line-height-rule: exactly;
        font-style: normal;
        font-weight: bold;
      }
      p {
        margin: 0;
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
        mso-line-height-rule: exactly;
        line-height: 21px;
        font-size: 14px;
      }

      /* COMMON */
      .max-w-340 {
        max-width: 340px !important;
      }
      .padding-t-40 {
        padding-top: 40px !important;
      }
      .padding-b-40 {
        padding-bottom: 40px !important;
      }
      .padding-r-40 {
        padding-right: 40px !important;
      }
      .padding-x-40 {
        padding-left: 40px !important;
        padding-right: 40px !important;
      }
      .padding-t-35 {
        padding-top: 35px !important;
      }
      .padding-t-20 {
        padding-top: 20px !important;
      }
      .padding-b-20 {
        padding-bottom: 20px !important;
      }
      .padding-x-20 {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }
      .padding-y-20 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
      }
      .padding-20 {
        padding: 20px !important;
      }
      .padding-y-10 {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
      }
      .padding-b-10 {
        padding-bottom: 10px !important;
      }
      .padding-t-10 {
        padding-bottom: 10px !important;
      }
      .padding-r-10 {
        padding-right: 10px !important;
      }
      .padding-y-5 {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
      }
      .header,
      .footer,
      .content {
        table-layout: fixed !important;
        background-color: transparent;
        background-repeat: repeat;
        background-position: center top;
      }


      /* WRAPPER */
      .wrapper {
        height: 100%;
      }

      /* HEADER */

     .logo-container {
        display: flex;
        align-items: flex-end;
      }

      .company-name {
        font-size: 20px;
      }

      .company-logo {
        margin-right: 10px;
        width: 120px;
      }


      /* BODY */
      .content-body {
        background-color: #FFFFFF;
      }


      .text-bold {
        color: #11181C;
        font-weight: 600;
      }

      .primary-btn {
        outline: none;
        border: none;
        background: #4368E3;
        color: white;
        border-radius: 6px;
        min-height: 40px;
        padding-left: 15px;
        padding-right: 15px;
        font-weight: 500;
        font-size: 13px;
      }

      /* FOOTER */
      .footer-body {
        background-color: #ffffff;
      }

      .address, .notif-purpose {
        color: #687076;
        font-size: 12px;
      }

      .address {
        border-top: 1px solid #E6E8EB;
        padding-top: 10px;
      }

      .url {
        text-decoration: underline !important;
        color: #4368E3 !important;
      }

      .social-links {
        display: flex;
        align-items: center;
        margin-top: 4px;
      }

      .social-icons {
        width: unset;
        margin-right: 10px;
        height: 20px !important;
      }

      /* RESPONSIVE */
      @media only screen and (max-width: 600px) {
        .es-social tr td:not(:last-child) {
          padding-right: 20px
        }
        .es-column-fixed_width {
          width: 125px !important;
        }

        h2 {
          font-size: 24px !important;
        }
        .padding-x-40 {
          padding-left: 20px !important;
          padding-right: 20px !important;
        }
      }
    </style>
  </head>
    
  <body>
    <div>
      <table class="wrapper">
        <tr>
          <td>
            {{> header }}
            {{> body bodyHeader=bodyHeader bodyContent=bodyContent}}
            {{> footer footerText=footerText }}
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>