{
  "sso_password": "",
  "git_user": "",
  "google_user": "",

  "pg_host": "",
  "pg_user": "",
  "pg_password": "",

  "elasticsearch_host": "",
  "elasticsearch_user": "",
  "elasticsearch_password": "",
 
  "dynamodb_access_key": "",
  "dynamodb_secret_key": "",

  "smtp_host": "",
  "smtp_port": "",
  "smtp_user": "",
  "smtp_password": "",

  "redis_host": "",
  "redis_port": "",
  "redis_password": "",

  "mongodb_connString": "",
  "mongodb_host": "",
  "mongodb_user": "",
  "mongo_password": "",

  "bigquery_pvt_key": {},

  "firestore_pvt_key": {},

  "mysql_host": "",
  "mysql_user": "",
  "mysql_password": "",

  "aws_access": "",
  "aws_secret": "",

  "app_db": {
    "user": "postgres",
    "host": "localhost",
    "database": "tooljet_development",
    "password": "postgres",
    "port": "5432"
  }
}
