.start-node-container{
    display: flex;
    align-items: center;
    width: 144px;
    height: 52px;
    padding: 12px;
    border: 1px solid #E6E8EB;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    border-radius: 6px;
    background-color: #ffffff;
    margin: 0;

    span {
        margin-left: 10px;
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #11181C;
    }

    .node-handle {
        // z-index: -1;
        // left: 138px;
        background-color: #3D63DC;
        border-radius: 20px;
        width: 10px;
        height: 10px;
    }
}

.react-flow__node-input {
    border: 0px !important;
    padding: 0px;
    width: fit-content;
    height: fit-content;
    // width: 156px;
    background-color: transparent;
    box-shadow: none !important;
}