openapi: 3.0.0
info:
  version: 12.0.0
  title: "Xero Payroll UK"
  description: "This is the Xero Payroll API for orgs in the UK region."
  termsOfService: "https://developer.xero.com/xero-developer-platform-terms-conditions/"
  contact:
    name: Xero Platform Team
    email: api@xero.com
    url: https://developer.xero.com
tags:
  - name: PayrollUk
servers:
  - description: Xero Payroll UK API
    url: https://api.xero.com/payroll.xro/2.0
paths:
  /Employees:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollUk
      operationId: getEmployees
      x-hasPayrollUkProblem: true
      summary: Retrieves employees
      parameters:
        - in: query
          name: filter
          description: Filter by first name, lastname, and/or whether they are an off-payroll worker
          schema:
            type: string
          example: firstName==John,lastName==Smith,isOffPayrollWorker==false
        - in: query
          name: page
          description: Page number which specifies the set of records to retrieve. By default the number of the records per set is 100.
          schema:
            type: integer
          example: 5
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Employees"
              example:
                id: 1a14e877-773d-4cd3-b253-f559a4b4be65
                providerName: provider-name
                dateTimeUTC: 2020-03-24T18:43:43.860852
                httpStatusCode: OK
                pagination:
                  page: 1
                  pageSize: 100
                  pageCount: 1
                  itemCount: 3
                problem: null
                employees:
                  - employeeID: aad6b292-7b94-408b-93f6-e489867e3fb0
                    firstName: Jack
                    lastName: Allan
                    dateOfBirth: 1987-12-23T00:00:00Z
                    gender: M
                    email: null
                    phoneNumber: null
                    startDate: 2020-02-03T00:00:00
                    address:
                      addressLine1: 171 Midsummer Boulevard
                      city: Milton Keynes
                      county: null
                      countryName: UNITED KINGDOM
                      postCode: MK9 1EB
                    payrollCalendarID: 216d80e6-af55-47b1-b718-9457c3f5d2fe
                    updatedDateUTC: 2020-02-13T16:23:31
                    createdDateUTC: 2020-02-10T10:00:24
                    isOffPayrollWorker: false
                    contracts: []
                  - employeeID: 67e545d4-e8a6-4f98-9f63-85c2383dfe12
                    firstName: Charlotte
                    lastName: Danes
                    dateOfBirth: 1993-10-24T00:00:00Z
                    gender: F
                    email: null
                    phoneNumber: null
                    startDate: 2020-02-03T00:00:00
                    address:
                      addressLine1: 171 Midsummer Blvd
                      city: Milton Keynes
                      county: null
                      countryName: UNITED KINGDOM
                      postCode: MK9 1EB
                    payrollCalendarID: 5e813d9e-949c-461f-8a89-e9ee8955a254
                    updatedDateUTC: 2020-02-13T16:48:51
                    createdDateUTC: 2020-02-13T16:32:12
                    isOffPayrollWorker: false
                    contracts:
                      - publicKey: b4d71548-2800-4fb9-be6c-d496a617428c
                        isFixedTerm: false
                        employmentStatus: Employee
                        contractType: PartTime
                        startDate: 2020-02-03T00:00:00
                        fixedTermEndDate: null
                  - employeeID: eb4a0c3b-b0d6-440d-bccc-348b7dc92321
                    firstName: Chelsea
                    lastName: Serati
                    dateOfBirth: 1976-02-16T00:00:00Z
                    gender: F
                    email: null
                    phoneNumber: null
                    startDate: 2019-07-01T00:00:00
                    address:
                      addressLine1: 171 Midsummer Boulevard
                      city: Milton Keynes
                      county: null
                      countryName: UNITED KINGDOM
                      postCode: MK9 1EB
                    payrollCalendarID: d45bc68f-59d6-4000-929d-1058dcfa79e1
                    updatedDateUTC: 2020-02-13T16:53:12
                    createdDateUTC: 2020-02-13T16:46:41
                    isOffPayrollWorker: false
                    contracts:
                      - publicKey: 3a8243d5-a14a-4c06-a71b-930194928ee9
                        isFixedTerm: false
                        employmentStatus: Worker
                        contractType: PartTime
                        startDate: 2019-07-01T00:00:00
                        fixedTermEndDate: null
                      - publicKey: ce4fe24d-bb85-4b17-a461-3e56917457d6
                        isFixedTerm: true
                        employmentStatus: Employee
                        contractType: FullTime
                        startDate: 2020-07-01T00:00:00
                        fixedTermEndDate: 2026-08-01T00:00:00
                        developmentalRoleDetails:
                          developmentalRolePublicKey: 05bceb91-89c0-4ecc-864c-32a874143770
                          startDate: 2020-07-01T00:00:00
                          endDate: 2026-06-30T00:00:00
                          developmentalRole: Apprentice
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
    post:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollUk
      operationId: createEmployee
      x-hasPayrollUkProblem: true
      x-example:
        - dateOfBirthValue:
          key: dateOfBirth
          keyPascal: DateOfBirth
          keySnake: date_of_birth
          is_date: true
          object: employee
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2000, Month.OCTOBER, 28)
          java: LocalDate.of(2000, Month.OCTOBER, 28)
          csharp: new DateTime(2000, 10, 10)
          php: new DateTime('2000-10-28')
          node: "'2000-10-28'"
          python: dateutil.parser.parse('2000-10-28T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - Address:
          key: address
          keyPascal: Address
          keySnake: address
          is_object: true
        - addressLine1:
          key: addressLine1
          keyPascal: AddressLine1
          keySnake: address_line_1
          default: 123 Test st
          object: address
        - city:
          key: city
          keyPascal: City
          keySnake: city
          object: address
          default: Rangiora
        - postCode:
          key: postCode
          keyPascal: PostCode
          keySnake: post_code
          object: address
          default: 7400
        - countryName:
          key: countryName
          keyPascal: CountryName
          keySnake: country_name
          default: UNITED KINGDOM
          object: address
          is_last: true
        - employee:
          key: employee
          keyPascal: Employee
          is_object: true
        - firstName:
          key: firstName
          keyPascal: FirstName
          keySnake: first_name
          default: Adam
          object: employee
        - lastName:
          key: lastName
          keyPascal: LastName
          keySnake: last_name
          default: Adamson
          object: employee
        - dateOfBirth:
          is_variable: true
          nonString: true
          key: dateOfBirth
          keyPascal: DateOfBirth
          keySnake: date_of_birth
          default: dateOfBirth
          python: date_of_birth
          ruby: date_of_birth
          object: employee
        - setHomeAddress:
          is_last: true
          is_variable: true
          nonString: true
          key: address
          keyPascal: Address
          default: address
          python: address
          ruby: address
          object: employee
      summary: Creates employees
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeObject"
              example:
                id: 660ff206-fc4a-42f5-8f7d-de886bc2a3d3
                providerName: provider-name
                dateTimeUTC: 2020-03-25T03:12:10.406476
                httpStatusCode: OK
                pagination: null
                problem: null
                employee:
                  employeeID: 316146c7-26a4-4065-b9bd-346d0557ea96
                  title: Mr
                  firstName: Mike
                  lastName: Fancy
                  dateOfBirth: 1999-01-01
                  gender: M
                  email: mike@starkindustries.com
                  phoneNumber: null
                  startDate: null
                  nationalInsuranceNumber: null
                  isOffPayrollWorker: false
                  address:
                    addressLine1: 171 Midsummer
                    city: Milton Keyness
                    county: null
                    countryName: UNITED KINGDOM
                    postCode: MK9 1EB
                  payrollCalendarID: null
                  updatedDateUTC: "2020-03-25T03:12:10Z"
                  createdDateUTC: "2020-03-25T03:12:10Z"
                  niCategory: null
                  employeeNumber: null
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Employee"
            example:
              title: Mr
              firstName: Mike
              lastName: Fancy
              dateOfBirth: 1999-01-01T00:00:00Z
              gender: M
              email: mike@starkindustries.com
              isOffPayrollWorker: false
              address:
                addressLine1: 171 Midsummer
                city: Milton Keyness
                postCode: MK9 1EB
  /Employees/{EmployeeID}:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollUk
      operationId: getEmployee
      x-hasPayrollUkProblem: true
      summary: Retrieves specific employees by using a unique employee ID
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeObject"
              example:
                id: 9414291b-a8c6-08fa-b165-9b30b1e6aab5
                providerName: "!YLT5Y"
                dateTimeUTC: "2018-04-09T05:15:18.1011141"
                httpStatusCode: OK
                pagination: null
                employee:
                  employeeID: d17e008e-3381-45c0-b50c-2fab7757e503
                  title: Mr.
                  firstName: Edgar
                  lastName: Allan Po
                  dateOfBirth: "1985-03-24"
                  gender: M
                  email: tester1@gmail.com
                  phoneNumber: "0400123456"
                  nationalInsuranceNumber: "AB123456C"
                  isOffPayrollWorker: false
                  address:
                    addressLine1: 171 Midsummer
                    city: Milton Keyness
                    county: null
                    countryName: UNITED KINGDOM
                    postCode: MK9 1EB
                  payrollCalendarID: 216d80e6-af55-47b1-b718-9457c3f5d2fe
                  updatedDateUTC: "2017-05-12T10:00:24Z"
                  createdDateUTC: "2017-05-12T10:00:24Z"
                  niCategories:
                    - startDate: "2020-05-01"
                      niCategory: I
                      workplacePostcode: SW1A 1AA
                    - startDate: "2020-05-02"
                      niCategory: F
                      niCategoryID: 1
                      dateFirstEmployedAsCivilian: "2020-05-01"
                      workplacePostcode: SW1A 1AA
                  employeeNumber: "2"
                  contracts:
                    - publicKey: a3d71548-2800-4fb9-be6c-d496a617428c
                      isFixedTerm: false
                      employmentStatus: Employee
                      contractType: PartTime
                      startDate: 2020-05-01T00:00:00
                      fixedTermEndDate: null
    put:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollUk
      operationId: updateEmployee
      x-hasPayrollUkProblem: true
      summary: Updates a specific employee's detail
      x-example:
        - dateOfBirthValue:
          key: dateOfBirth
          keyPascal: DateOfBirth
          keySnake: date_of_birth
          is_date: true
          object: employee
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2000, Month.OCTOBER, 28)
          java: LocalDate.of(2000, Month.OCTOBER, 28)
          csharp: new DateTime(2000, 10, 10)
          php: new DateTime('2000-10-28')
          node: "'2000-10-28'"
          python: dateutil.parser.parse('2000-10-28T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - Address:
          key: address
          keyPascal: Address
          keySnake: address
          is_object: true
        - addressLine1:
          key: addressLine1
          keyPascal: AddressLine1
          keySnake: address_line_1
          default: 123 Test st
          object: address
        - city:
          key: city
          keyPascal: City
          keySnake: city
          object: address
          default: Rangiora
        - postCode:
          key: postCode
          keyPascal: PostCode
          keySnake: post_code
          object: address
          default: 7400
        - countryName:
          key: countryName
          keyPascal: CountryName
          keySnake: country_name
          default: NEW ZEALAND
          object: address
          is_last: true
        - employee:
          key: employee
          keyPascal: Employee
          is_object: true
        - firstName:
          key: firstName
          keyPascal: FirstName
          keySnake: first_name
          default: Adam
          object: employee
        - lastName:
          key: lastName
          keyPascal: LastName
          keySnake: last_name
          default: Adamson
          object: employee
        - dateOfBirth:
          is_variable: true
          nonString: true
          key: dateOfBirth
          keyPascal: DateOfBirth
          keySnake: date_of_birth
          default: dateOfBirth
          python: date_of_birth
          ruby: date_of_birth
          object: employee
        - setHomeAddress:
          is_last: true
          is_variable: true
          nonString: true
          key: address
          keyPascal: Address
          default: address
          python: address
          ruby: address
          object: employee
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeObject"
              example:
                id: 9414291b-a8c6-08fa-b165-9b30b1e6aab5
                providerName: "!YLT5Y"
                dateTimeUTC: 2018-04-09T05:10:51.3504472
                httpStatusCode: OK
                pagination: null
                problem: null
                employee:
                  employeeID: 07f0f9fc-cc95-46ac-9a8a-aa03779f2bde
                  title: Mr
                  firstName: Mike
                  lastName: Johnllsbkrhwopson
                  dateOfBirth: 1999-01-01
                  gender: M
                  email: 84044@starkindustries.com
                  phoneNumber: "0400123456"
                  startDate: "2020-02-03"
                  nationalInsuranceNumber: null
                  isOffPayrollWorker: false
                  address:
                    addressLine1: 101 Green St
                    city: San Francisco
                    county: null
                    countryName: null
                    postCode: 6TGR4F
                  payrollCalendarID: 216d80e6-af55-47b1-b718-9457c3f5d2fe
                  updatedDateUTC: "2020-03-25T17:03:50Z"
                  createdDateUTC: "2020-02-10T10:00:24Z"
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Employee"
            example:
              title: Mr.
              firstName: TestDataUK
              lastName: Tester
              dateOfBirth: 1992-11-22T00:00:00Z
              gender: M
              email: tester@gmail.com
              phoneNumber: "0400123456"
              isOffPayrollWorker: false
              address:
                addressLine1: 171 Midsummer
                city: Milton Keyness
                postCode: MK9 1EB
  /Employees/{EmployeeID}/Employment:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    post:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollUk
      operationId: createEmployment
      x-hasPayrollUkProblem: true
      x-example:
        - startDateValue:
          key: startDate
          keyPascal: StartDate
          keySnake: start_date
          is_date: true
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2020, Month.OCTOBER, 28)
          java: LocalDate.of(2020, Month.OCTOBER, 28)
          csharp: new DateTime(2020, 10, 10)
          php: new DateTime('2020-10-28')
          node: "'2020-10-28'"
          python: dateutil.parser.parse('2020-10-28T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - employment:
          key: employment
          keyPascal: Employment
          keySnake: employment
          is_object: true
        - payrollCalendarID:
          key: payrollCalendarID
          keyPascal: PayrollCalendarID
          keySnake: payroll_calendar_id
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          object: employment
        - startDate:
          is_variable: true
          nonString: true
          key: startDate
          keyPascal: StartDate
          keySnake: start_date
          default: startDate
          python: start_date
          ruby: start_date
          object: employment
          is_last: true
        - niCategories:
          key: niCategories
          keyPascal: NICategories
          keySnake: ni_categories
          is_object: true
          object: employment
          default: A
      summary: Creates employment detail for a specific employee using a unique employee ID
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmploymentObject"
              example:
                id: 0160a355-1e6d-4fdc-9532-c0857feaa515
                providerName: provider-name
                dateTimeUTC: "2020-03-26T18:09:11.6235442"
                httpStatusCode: OK
                pagination:
                problem:
                employment:
                  payrollCalendarID: 216d80e6-af55-47b1-b718-9457c3f5d2fe
                  startDate: "2020-04-01T00:00:00"
                  niCategories:
                    - niCategory: I
                      startDate: "2020-05-01"
                      niCategoryID: 594
                      dateFirstEmployedAsCivilian: "2020-05-01"
                      workplacePostcode: SW1A 1AA
                  employeeNumber: 123ABC
                  contracts:
                    - publicKey: ddd71548-2800-4fb9-be6c-d496a617428c
                      isFixedTerm: false
                      employmentStatus: Employee
                      contractType: FullTime
                      startDate: 2020-04-01T00:00:00
                      fixedTermEndDate: null
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Employment"
            example:
              payrollCalendarID: cdfb8371-0b21-4b8a-8903-1024df6c391e
              startDate: "2024-04-01"
              niCategories:
                - niCategory: I
                  startDate: "2020-05-01"
                  workplacePostcode: SW1A 1AA
              employeeNumber: 123ABC
  /Employees/{EmployeeID}/Tax:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollUk
      operationId: getEmployeeTax
      x-hasPayrollUkProblem: true
      summary: Retrieves tax records for a specific employee using a unique employee ID
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeTaxObject"
              example:
                id: a8577248-393a-4e7a-8a03-b43b90800b69
                providerName: provider-name
                dateTimeUTC: 2020-03-27T00:14:41.2462046
                httpStatusCode: OK
                pagination: null
                problem: null
                employeeTax:
                  starterType: New Employee with P45
                  starterDeclaration: B.) This is currently their only job
                  taxCode: 1185L
                  w1M1: false
                  previousTaxablePay: 2000
                  previousTaxPaid: 200
                  studentLoanDeduction: null
                  hasPostGraduateLoans: false
                  isDirector: false
                  directorshipStartDate: null
                  nicCalculationMethod: null
  /Employees/{EmployeeID}/ukopeningbalances:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollUk
      operationId: getEmployeeOpeningBalances
      x-hasPayrollUkProblem: true
      summary: Retrieves a specific employee's openingbalances using a unique employee ID
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeOpeningBalancesObject"
              example:
                id: ab1c33de-1927-4210-bf4f-2a55965cb4a9
                providerName: provider-name
                dateTimeUTC: 2020-03-27T01:13:00.6591505
                httpStatusCode: OK
                pagination: null
                problem: null
                openingBalances:
                  statutoryAdoptionPay: 10
                  statutoryMaternityPay: 10
                  statutoryPaternityPay: 10
                  statutorySharedParentalPay: 10
                  statutorySickPay: 10
                  priorEmployeeNumber: "10.0"
    post:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollUk
      operationId: createEmployeeOpeningBalances
      x-hasPayrollUkProblem: true
      x-example:
        - employeeOpeningBalances:
          key: employeeOpeningBalances
          keyPascal: EmployeeOpeningBalances
          keySnake: employee_opening_balances
          is_object: true
        - statutoryMaternityPay:
          key: statutoryMaternityPay
          keyPascal: StatutoryMaternityPay
          keySnake: statutory_maternity_pay
          is_money: true
          nonString: true
          default: 0.0
          object: employeeOpeningBalances
        - statutoryAdoptionPay:
          key: statutoryAdoptionPay
          keyPascal: StatutoryAdoptionPay
          keySnake: statutory_adoption_pay
          is_money: true
          nonString: true
          default: 100.0
          object: employeeOpeningBalances
        - statutoryPaternityPay:
          key: statutoryPaternityPay
          keyPascal: StatutoryPaternityPay
          keySnake: statutory_paternity_pay
          is_money: true
          nonString: true
          default: 0.0
          object: employeeOpeningBalances
        - statutorySharedParentalPay:
          key: statutorySharedParentalPay
          keyPascal: StatutorySharedParentalPay
          keySnake: statutory_shared_parental_pay
          is_money: true
          nonString: true
          default: 0.0
          object: employeeOpeningBalances
        - statutorySickPay:
          key: statutorySickPay
          keyPascal: StatutorySickPay
          keySnake: statutory_sick_pay
          is_money: true
          nonString: true
          default: 0.0
          object: employeeOpeningBalances
          is_last: true
      summary: Creates an opening balance for a specific employee
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeOpeningBalancesObject"
              example:
                id: 0d30ef37-2fb4-4925-b563-faaee361c9cd
                providerName: provider-name
                dateTimeUTC: 2020-03-27T01:06:14.47566
                httpStatusCode: OK
                pagination: null
                problem: null
                openingBalances: null
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmployeeOpeningBalances"
            example:
              statutoryAdoptionPay: 10
              statutoryMaternityPay: 10
              statutoryPaternityPay: 10
              statutorySharedParentalPay: 10
              statutorySickPay: 10
              priorEmployeeNumber: 10
    put:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollUk
      operationId: updateEmployeeOpeningBalances
      x-hasPayrollUkProblem: true
      x-example:
        - employeeOpeningBalances:
          key: employeeOpeningBalances
          keyPascal: EmployeeOpeningBalances
          keySnake: employee_opening_balances
          is_object: true
        - statutoryMaternityPay:
          key: statutoryMaternityPay
          keyPascal: StatutoryMaternityPay
          keySnake: statutory_maternity_pay
          is_money: true
          nonString: true
          default: 0.0
          object: employeeOpeningBalances
        - statutoryAdoptionPay:
          key: statutoryAdoptionPay
          keyPascal: StatutoryAdoptionPay
          keySnake: statutory_adoption_pay
          is_money: true
          nonString: true
          default: 100.0
          object: employeeOpeningBalances
        - statutoryPaternityPay:
          key: statutoryPaternityPay
          keyPascal: StatutoryPaternityPay
          keySnake: statutory_paternity_pay
          is_money: true
          nonString: true
          default: 0.0
          object: employeeOpeningBalances
        - statutorySharedParentalPay:
          key: statutorySharedParentalPay
          keyPascal: StatutorySharedParentalPay
          keySnake: statutory_shared_parental_pay
          is_money: true
          nonString: true
          default: 0.0
          object: employeeOpeningBalances
        - statutorySickPay:
          key: statutorySickPay
          keyPascal: StatutorySickPay
          keySnake: statutory_sick_pay
          is_money: true
          nonString: true
          default: 0.0
          object: employeeOpeningBalances
          is_last: true
      summary: Updates a specific employee's opening balances
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeOpeningBalancesObject"
              example:
                id: 21953776-783c-426c-bf15-cbde997839c4
                providerName: provider-name
                dateTimeUTC: 2020-03-27T15:45:09.7078637
                httpStatusCode: OK
                pagination: null
                problem: null
                openingBalances: null
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmployeeOpeningBalances"
            example:
              statutoryAdoptionPay: 20
              statutoryMaternityPay: 20
              statutoryPaternityPay: 20
              statutorySharedParentalPay: 20
              statutorySickPay: 20
              priorEmployeeNumber: 20
  /Employees/{EmployeeID}/Leave:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollUk
      operationId: getEmployeeLeaves
      x-hasPayrollUkProblem: true
      summary: Retrieves a specific employee's leave records using a unique employee ID
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeLeaves"
              example:
                id: e4d42712-4876-4b32-987d-1f62538089de
                providerName: provider-name
                dateTimeUTC: 2020-03-27T15:58:16.0929399
                httpStatusCode: OK
                pagination: null
                problem: null
                leave:
                  - leaveID: 384bf62a-5884-484d-b675-a3ad9c662f8e
                    leaveTypeID: ed08dffe-788e-4b24-9630-f0fa2f4d164c
                    description: Vacation to Majorca
                    startDate: 2020-02-17T00:00:00
                    endDate: 2020-02-21T00:00:00
                    periods:
                      - periodStartDate: 2020-02-17T00:00:00
                        periodEndDate: 2020-02-23T00:00:00
                        numberOfUnits: 40
                        periodStatus: Approved
                    updatedDateUTC: 2020-02-10T10:15:53
    post:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollUk
      operationId: createEmployeeLeave
      x-hasPayrollUkProblem: true
      x-example:
        - startDateValue:
          key: startDate
          keyPascal: StartDate
          keySnake: start_date
          is_date: true
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2020, Month.OCTOBER, 28)
          java: LocalDate.of(2020, Month.OCTOBER, 28)
          csharp: new DateTime(2020, 10, 10)
          php: new DateTime('2020-10-28')
          node: "'2020-10-28'"
          python: dateutil.parser.parse('2020-10-28T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - endDateValue:
          key: endDate
          keyPascal: EndDate
          keySnake: end_date
          is_date: true
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2020, Month.OCTOBER, 30)
          java: LocalDate.of(2020, Month.OCTOBER, 30)
          csharp: new DateTime(2020, 10, 12)
          php: new DateTime('2020-10-30')
          node: "'2020-10-30'"
          python: dateutil.parser.parse('2020-10-30T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - employeeLeave:
          key: employeeLeave
          keyPascal: EmployeeLeave
          keySnake: employee_leave
          is_object: true
        - leaveTypeID:
          key: leaveTypeID
          keyPascal: LeaveTypeID
          keySnake: leave_type_id
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          object: employeeLeave
        - startDate:
          is_variable: true
          nonString: true
          key: startDate
          keyPascal: StartDate
          keySnake: start_date
          default: startDate
          python: start_date
          ruby: start_date
          object: employeeLeave
        - endDate:
          is_last: true
          is_variable: true
          nonString: true
          key: endDate
          keyPascal: EndDate
          keySnake: end_date
          default: endDate
          python: end_date
          ruby: end_date
          object: employeeLeave
      summary: Creates leave records for a specific employee
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeLeaveObject"
              example:
                id: ef91410a-2be1-42cc-86db-e625344a82e9
                providerName: provider-name
                dateTimeUTC: 2020-03-31T04:32:57.0247198
                httpStatusCode: OK
                pagination: null
                problem: null
                leave:
                  leaveID: bdfedc6b-363b-4801-8ba6-9a074d400b31
                  leaveTypeID: 1d2778ee-86ea-45c0-bbf8-1045485f6b3f
                  description: Creating a Description
                  startDate: 2020-03-24T00:00:00
                  endDate: 2020-03-26T00:00:00
                  periods:
                    - periodStartDate: 2020-03-23T00:00:00
                      periodEndDate: 2020-03-29T00:00:00
                      numberOfUnits: 24
                      periodStatus: Approved
                  updatedDateUTC: 2020-03-31T04:32:56.9537857
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmployeeLeave"
            example:
              leaveTypeID: 1d2778ee-86ea-45c0-bbf8-1045485f6b3f
              description: Creating a Description
              startDate: "2020-03-24"
              endDate: "2020-03-26"
  /Employees/{EmployeeID}/Leave/{LeaveID}:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollUk
      operationId: getEmployeeLeave
      x-hasPayrollUkProblem: true
      summary: Retrieves a specific employee's leave record using a unique employee ID
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
        - name: LeaveID
          x-snake: leave_id
          in: path
          required: true
          description: Leave id for single object
          schema:
            type: string
            format: uuid
            example: c4be24e5-e840-4c92-9eaa-2d86cd596314
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeLeaveObject"
              example:
                id: 6ae25805-fef3-4c9b-9e69-9ccc71a6a8da
                providerName: provider-name
                dateTimeUTC: 2020-03-27T19:58:03.8455417
                httpStatusCode: OK
                pagination: null
                problem: null
                leave:
                  leaveID: 384bf62a-5884-484d-b675-a3ad9c662f8e
                  leaveTypeID: ed08dffe-788e-4b24-9630-f0fa2f4d164c
                  description: Vacation to Majorca
                  startDate: 2020-02-17T00:00:00
                  endDate: 2020-02-21T00:00:00
                  periods:
                    - periodStartDate: 2020-02-17T00:00:00
                      periodEndDate: 2020-02-23T00:00:00
                      numberOfUnits: 40
                      periodStatus: Approved
                  updatedDateUTC: 2020-02-10T10:15:53
    put:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollUk
      operationId: updateEmployeeLeave
      x-hasPayrollUkProblem: true
      x-example:
        - startDateValue:
          key: startDate
          keyPascal: StartDate
          keySnake: start_date
          is_date: true
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2020, Month.OCTOBER, 28)
          java: LocalDate.of(2020, Month.OCTOBER, 28)
          csharp: new DateTime(2020, 10, 10)
          php: new DateTime('2020-10-28')
          node: "'2020-10-28'"
          python: dateutil.parser.parse('2020-10-28T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - endDateValue:
          key: endDate
          keyPascal: EndDate
          keySnake: end_date
          is_date: true
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2020, Month.OCTOBER, 30)
          java: LocalDate.of(2020, Month.OCTOBER, 30)
          csharp: new DateTime(2020, 10, 12)
          php: new DateTime('2020-10-30')
          node: "'2020-10-30'"
          python: dateutil.parser.parse('2020-10-30T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - employeeLeave:
          key: employeeLeave
          keyPascal: EmployeeLeave
          keySnake: employee_leave
          is_object: true
        - leaveTypeID:
          key: leaveTypeID
          keyPascal: LeaveTypeID
          keySnake: leave_type_id
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          object: employeeLeave
        - startDate:
          is_variable: true
          nonString: true
          key: startDate
          keyPascal: StartDate
          keySnake: start_date
          default: startDate
          python: start_date
          ruby: start_date
          object: employeeLeave
        - endDate:
          is_last: true
          is_variable: true
          nonString: true
          key: endDate
          keyPascal: EndDate
          keySnake: end_date
          default: endDate
          python: end_date
          ruby: end_date
          object: employeeLeave
      summary: Updates a specific employee's leave records
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
        - name: LeaveID
          x-snake: leave_id
          in: path
          required: true
          description: Leave id for single object
          schema:
            type: string
            format: uuid
            example: c4be24e5-e840-4c92-9eaa-2d86cd596314
      responses:
        "200":
          description: successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeLeaveObject"
              example:
                id: ea115d89-61a0-4a2d-ad77-e3c63a2b401f
                providerName: provider-name
                dateTimeUTC: 2020-04-17T18:18:30.5118218
                httpStatusCode: OK
                pagination: null
                problem: null
                leave:
                  leaveID: 8340b795-50c1-428e-9fda-90badf081ab4
                  leaveTypeID: ed08dffe-788e-4b24-9630-f0fa2f4d164c
                  description: Creating a Description
                  startDate: 2020-04-24T00:00:00
                  endDate: 2020-04-26T00:00:00
                  periods:
                    - periodStartDate: 2020-04-20T00:00:00
                      periodEndDate: 2020-04-26T00:00:00
                      numberOfUnits: 1
                      periodStatus: Approved
                  updatedDateUTC: 2020-04-17T18:18:30.614537
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmployeeLeave"
            example:
              leaveTypeID: ed08dffe-788e-4b24-9630-f0fa2f4d164c
              description: Creating a Description
              startDate: "2020-04-24"
              endDate: "2020-04-26"
              periods:
                - periodStartDate: "2020-04-20"
                  periodEndDate: "2020-04-26"
                  numberOfUnits: 1
                  periodStatus: Approved
    delete:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollUk
      operationId: deleteEmployeeLeave
      x-hasPayrollUkProblem: true
      summary: Deletes a specific employee's leave record
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
        - name: LeaveID
          x-snake: leave_id
          in: path
          required: true
          description: Leave id for single object
          schema:
            type: string
            format: uuid
            example: c4be24e5-e840-4c92-9eaa-2d86cd596314
      responses:
        "200":
          description: successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeLeaveObject"
              example:
                id: b0ab87f6-bbca-4c81-b616-c545592f6988
                providerName: provider-name
                dateTimeUTC: 2020-03-31T04:11:42.422139
                httpStatusCode: OK
                pagination: null
                problem: null
  /Employees/{EmployeeID}/LeaveBalances:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollUk
      operationId: getEmployeeLeaveBalances
      x-hasPayrollUkProblem: true
      summary: Retrieves a specific employee's leave balances using a unique employee ID
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeLeaveBalances"
              example:
                id: a9b96d49-fc15-4e25-8b62-818462ea6dbd
                providerName: provider-name
                dateTimeUTC: 2020-03-31T04:45:06.125346
                httpStatusCode: OK
                pagination:
                  page: 1
                  pageSize: 100
                  pageCount: 1
                  itemCount: 2
                problem: null
                leaveBalances:
                  - name: Holiday
                    leaveTypeID: ed08dffe-788e-4b24-9630-f0fa2f4d164c
                    balance: 32
                    typeOfUnits: Hours
                  - name: Parental Leave
                    leaveTypeID: 1d2778ee-86ea-45c0-bbf8-1045485f6b3f
                    balance: -80
                    typeOfUnits: Hours
  /Employees/{EmployeeID}/StatutoryLeaveBalance:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollUk
      operationId: getEmployeeStatutoryLeaveBalances
      x-hasPayrollUkProblem: true
      summary: Retrieves a specific employee's leave balances using a unique employee ID
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
        - name: LeaveType
          x-snake: leave_type
          in: query
          description: Filter by the type of statutory leave
          schema:
            type: string
          example: sick
        - name: AsOfDate
          x-snake: as_of_date
          in: query
          description: The date from which to calculate balance remaining. If not specified, current date UTC is used.
          schema:
            type: string
            format: date
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeStatutoryLeaveBalanceObject"
              example:
                id: ee863df3-c394-4102-bb91-2b14de404c1c
                providerName: provider-name
                dateTimeUTC: 2020-03-31T05:03:47.418497
                httpStatusCode: OK
                pagination: null
                problem: null
                leaveBalance:
                  leaveType: Sick
                  balanceRemaining: 1120
                  units: Hours
  /StatutoryLeaves/Summary/{EmployeeID}:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.settings
            - payroll.settings.read
      tags:
        - PayrollUk
      operationId: getStatutoryLeaveSummary
      x-hasPayrollUkProblem: true
      summary: Retrieves a specific employee's summary of statutory leaves using a unique employee ID
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
        - name: activeOnly
          x-snake: active_only
          in: query
          description: Filter response with leaves that are currently active or yet to be taken. If not specified, all leaves (past, current, and future scheduled) are returned
          schema:
            type: boolean
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeStatutoryLeavesSummaries"
              example:
                id: 1908f4d1-b85d-4d6d-a885-6b6e2922ad03
                providerName: provider-name
                dateTimeUTC: 2020-04-02T19:47:06.0791382
                httpStatusCode: OK
                pagination: null
                problem: null
                statutoryLeaves:
                  - statutoryLeaveID: 17f4c3c7-d65c-4572-9118-03798f26f813
                    employeeID: aad6b292-7b94-408b-93f6-e489867e3fb0
                    type: Sick
                    endDate: "2020-04-01"
                    startDate: "2020-03-28"
                    isEntitled: false
                    status: Pending
  /StatutoryLeaves/Sick:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    post:
      security:
        - OAuth2:
            - payroll.settings
      tags:
        - PayrollUk
      operationId: createEmployeeStatutorySickLeave
      x-hasPayrollUkProblem: true
      x-example:
        - startDateValue:
          key: startDate
          keyPascal: StartDate
          keySnake: start_date
          is_date: true
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2020, Month.OCTOBER, 28)
          java: LocalDate.of(2020, Month.OCTOBER, 28)
          csharp: new DateTime(2020, 10, 10)
          php: new DateTime('2020-10-28')
          node: "'2020-10-28'"
          python: dateutil.parser.parse('2020-10-28T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - endDateValue:
          key: endDate
          keyPascal: EndDate
          keySnake: end_date
          is_date: true
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2020, Month.OCTOBER, 30)
          java: LocalDate.of(2020, Month.OCTOBER, 30)
          csharp: new DateTime(2020, 10, 12)
          php: new DateTime('2020-10-30')
          node: "'2020-10-30'"
          python: dateutil.parser.parse('2020-10-30T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - employeeStatutorySickLeave:
          key: employeeStatutorySickLeave
          keyPascal: EmployeeStatutorySickLeave
          keySnake: employee_statutory_sick_leave
          is_object: true
        - isPregnancyRelated:
          key: isPregnancyRelated
          keyPascal: IsPregnancyRelated
          keySnake: is_pregnancy_related
          nonString: true
          default: true
          object: employeeStatutorySickLeave
        - leaveTypeID:
          key: leaveTypeID
          keyPascal: LeaveTypeID
          keySnake: leave_type_id
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          object: employeeStatutorySickLeave
        - startDate:
          is_variable: true
          nonString: true
          key: startDate
          keyPascal: StartDate
          keySnake: start_date
          default: startDate
          python: start_date
          ruby: start_date
          object: employeeStatutorySickLeave
        - endDate:
          is_last: true
          is_variable: true
          nonString: true
          key: endDate
          keyPascal: EndDate
          keySnake: end_date
          default: endDate
          python: end_date
          ruby: end_date
          object: employeeStatutorySickLeave
      summary: Creates statutory sick leave records
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeStatutorySickLeaveObject"
              example:
                id: 35c840a3-04aa-43f1-9171-f7eaf4fd4454
                providerName: provider-name
                dateTimeUTC: 2020-04-20T18:59:28.3440854
                httpStatusCode: OK
                pagination: null
                problem: null
                statutorySickLeave:
                  statutoryLeaveID: a2b5a1fb-ae21-47b4-876d-0b61fa6b37ab
                  employeeID: aad6b292-7b94-408b-93f6-e489867e3fb0
                  leaveTypeID: aab78802-e9d3-4bbd-bc87-df858054988f
                  startDate: "2020-04-21"
                  endDate: "2020-04-24"
                  workPattern:
                    - Monday
                    - Tuesday
                    - Wednesday
                    - Thursday
                    - Friday
                  isPregnancyRelated: false
                  sufficientNotice: true
                  isEntitled: false
                  entitlementWeeksRequested: 0.8
                  entitlementWeeksQualified: 27.2
                  entitlementWeeksRemaining: 26.4
                  overlapsWithOtherLeave: false
                  entitlementFailureReasons:
                    - NotQualifiedInPreviousPiw
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmployeeStatutorySickLeave"
            example:
              employeeID: aad6b292-7b94-408b-93f6-e489867e3fb0
              leaveTypeID: aab78802-e9d3-4bbd-bc87-df858054988f
              startDate: "2020-04-21"
              endDate: "2020-04-24"
              workPattern:
                - Monday
                - Tuesday
                - Wednesday
                - Thursday
                - Friday
              isPregnancyRelated: false
              sufficientNotice: true
  /StatutoryLeaves/Sick/{StatutorySickLeaveID}:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.settings
            - payroll.settings.read
      tags:
        - PayrollUk
      operationId: getEmployeeStatutorySickLeave
      x-hasPayrollUkProblem: true
      summary: Retrieves a statutory sick leave for an employee
      parameters:
        - name: StatutorySickLeaveID
          x-snake: statutory_sick_leave_id
          in: path
          required: true
          description: Statutory sick leave id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeStatutorySickLeaveObject"
              example:
                id: c484213d-6225-4ede-bc5e-e81ef350af41
                providerName: provider-name
                dateTimeUTC: 2020-04-17T18:31:49.3895522
                httpStatusCode: OK
                pagination: null
                problem: null
                statutorySickLeave:
                  statutoryLeaveID: 17f4c3c7-d65c-4572-9118-03798f26f813
                  employeeID: aad6b292-7b94-408b-93f6-e489867e3fb0
                  leaveTypeID: 054a2b5e-fe51-4494-9486-3e3130323c69
                  startDate: "2020-03-28"
                  endDate: "2020-04-01"
                  workPattern:
                    - Monday
                    - Tuesday
                    - Wednesday
                    - Thursday
                    - Friday
                  isPregnancyRelated: false
                  sufficientNotice: true
                  isEntitled: false
                  entitlementWeeksRequested: 0.6
                  entitlementWeeksQualified: 28
                  entitlementWeeksRemaining: 0
                  overlapsWithOtherLeave: false
                  entitlementFailureReasons:
                    - AweLowerThanLel
  /Employees/{EmployeeID}/LeavePeriods:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollUk
      operationId: getEmployeeLeavePeriods
      x-hasPayrollUkProblem: true
      summary: Retrieves a specific employee's leave periods using a unique employee ID
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 00000000-0000-0000-0000-000000000000
        - in: query
          name: startDate
          x-snake: start_date
          description: Filter by start date
          schema:
            type: string
            format: date
        - in: query
          name: endDate
          x-snake: end_date
          description: Filter by end date
          schema:
            type: string
            format: date
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeavePeriods"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-04-07T20:33:42.1904008
                httpStatusCode: OK
                pagination: null
                problem: null
                periods:
                  - periodStartDate: 2020-02-24T00:00:00
                    periodEndDate: 2020-03-01T00:00:00
                    numberOfUnits: 40
                    periodStatus: null
                  - periodStartDate: 2020-03-02T00:00:00
                    periodEndDate: 2020-03-08T00:00:00
                    numberOfUnits: 32
                    periodStatus: null
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
  /Employees/{EmployeeID}/LeaveTypes:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollUk
      operationId: getEmployeeLeaveTypes
      x-hasPayrollUkProblem: true
      summary: Retrieves a specific employee's leave types using a unique employee ID
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeLeaveTypes"
              example:
                id: d86959c6-94f5-437a-9367-581cb145fc4f
                providerName: provider-name
                dateTimeUTC: 2020-03-27T16:25:56.2931034
                httpStatusCode: OK
                pagination: null
                problem: null
                leaveTypes:
                  - leaveTypeID: ed08dffe-788e-4b24-9630-f0fa2f4d164c
                    scheduleOfAccrual: OnAnniversaryDate
                    hoursAccruedAnnually: 200
                    maximumToAccrue: 0
                    openingBalance: 72
                    rateAccruedHourly: 0
                    scheduleOfAccrualDate: null
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
    post:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollUk
      operationId: createEmployeeLeaveType
      x-hasPayrollUkProblem: true
      x-example:
        - employeeLeaveType:
          key: employeeLeaveType
          keyPascal: EmployeeLeaveType
          keySnake: employee_leave_type
          is_object: true
        - leaveTypeID:
          key: leaveTypeID
          keyPascal: LeaveTypeID
          keySnake: leave_type_id
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          object: employeeLeaveType
        - scheduleOfAccrual:
          key: scheduleOfAccrual
          keyPascal: ScheduleOfAccrual
          keySnake: schedule_of_accrual
          nonString: true
          default: ScheduleOfAccrualEnum.BeginningOfCalendarYear
          php: XeroAPI\XeroPHP\Models\PayrollUk\EmployeeLeaveType\ScheduleOfAccrualEnum.BeginningOfCalendarYear
          node: EmployeeLeaveType.ScheduleOfAccrualEnum.BeginningOfCalendarYear
          ruby: XeroRuby::PayrollUk::EmployeeLeaveType::schedule_of_accrual::BEGINNINGOFCALENDARYEAR
          python: schedule_of_accrual::BEGINNINGOFCALENDARYEAR
          java: com.xero.models.payrolluk.EmployeeLeaveType.ScheduleOfAccrualEnum.BeginningOfCalendarYear
          csharp: EmployeeLeaveType.ScheduleOfAccrualEnum.BeginningOfCalendarYear
          object: employeeLeaveType
        - openingBalance:
          key: openingBalance
          keyPascal: OpeningBalance
          keySnake: opening_balance
          nonString: true
          default: 5.25
          object: employeeLeaveType
        - scheduleOfAccrualDate:
          is_variable: true
          nonString: true
          key: scheduleOfAccrualDate
          keyPascal: ScheduleOfAccrualDate
          keySnake: schedule_of_accrual_date
          object: employeeLeaveType
          default: 2024-05-01
          is_last: true
      summary: Creates employee leave type records
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeLeaveTypeObject"
              example:
                id: 3245e4c9-1ec5-4f3e-b659-fdb722733060
                providerName: provider-name
                dateTimeUTC: 2020-04-20T20:24:25.8151387
                httpStatusCode: OK
                pagination: null
                problem: null
                leaveType:
                  leaveTypeID: 4918f233-bd31-43f9-9633-bcc6de1178f2
                  scheduleOfAccrual: BeginningOfCalendarYear
                  hoursAccruedAnnually: 10
                  maximumToAccrue: 0
                  openingBalance: 0
                  rateAccruedHourly: 0
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmployeeLeaveType"
            example:
              leaveTypeID: 4918f233-bd31-43f9-9633-bcc6de1178f2
              scheduleOfAccrual: BeginningOfCalendarYear
              hoursAccruedAnnually: 10
  /Employees/{EmployeeID}/PaymentMethods:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollUk
      operationId: getEmployeePaymentMethod
      x-hasPayrollUkProblem: true
      summary: Retrieves a specific employee's payment method using a unique employee ID
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethodObject"
              example:
                id: 33c27fe9-de53-4114-8455-a6392add88b8
                providerName: provider-name
                dateTimeUTC: 2020-04-13T18:22:18.9003328
                httpStatusCode: OK
                pagination: null
                problem: null
                paymentMethod:
                  paymentMethod: Electronically
                  bankAccounts:
                    - accountName: Oliver Furniss - Santander
                      accountNumber: "12345678"
                      sortCode: "111111"
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
    post:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollUk
      operationId: createEmployeePaymentMethod
      x-hasPayrollUkProblem: true
      x-example:
        - bankAccount:
          key: bankAccount
          keyPascal: BankAccount
          keySnake: bank_account
          is_object: true
        - accountName:
          key: accountName
          keyPascal: AccountName
          keySnake: account_name
          default: Charlotte Danes
          object: bankAccount
        - accountNumber:
          key: accountNumber
          keyPascal: AccountNumber
          keySnake: account_number
          default: 123456
          object: bankAccount
        - sortCode:
          key: sortCode
          keyPascal: SortCode
          keySnake: sort_code
          default: 123411
          is_last: true
          object: bankAccount
        - bankAccounts:
          is_list: true
          key: bankAccounts
          keyPascal: BankAccounts
          keySnake: bank_accounts
          csharp: BankAccount
          java: BankAccount
          object: bankAccount
        - addBankAccount:
          is_last: true
          is_list_add: true
          key: bankAccounts
          keyPascal: BankAccounts
          keySnake: bank_accounts
          java: BankAccounts
          python: bank_account
          ruby: bank_account
          csharp: BankAccount
          object: bankAccount
        - paymentMethod:
          key: paymentMethod
          keyPascal: PaymentMethod
          keySnake: payment_method
          is_object: true
        - setBankAccount:
          is_last: true
          is_variable: true
          nonString: true
          key: bankAccounts
          keyPascal: BankAccounts
          default: bankAccounts
          object: paymentMethod
      summary: Creates an employee payment method
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethodObject"
              example:
                id: 6c5eab91-8f3c-4569-a5ce-ab4eec112d35
                providerName: provider-name
                dateTimeUTC: 2020-04-13T18:48:16.6038123
                httpStatusCode: OK
                pagination: null
                problem: null
                paymentMethod:
                  paymentMethod: Electronically
                  bankAccounts:
                    - accountName: Sid BofA
                      accountNumber: "24987654"
                      sortCode: "287654"
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentMethod"
            example:
              paymentMethod: Electronically
              bankAccounts:
                - accountName: Sid BofA
                  accountNumber: "24987654"
                  sortCode: "287654"
  /Employees/{EmployeeID}/PayTemplates:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollUk
      operationId: getEmployeePayTemplate
      x-hasPayrollUkProblem: true
      summary: Retrieves a specific employee pay templates using a unique employee ID
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeePayTemplateObject"
              example:
                id: 3138be2b-96d9-44d0-a01e-80fd527555c8
                providerName: provider-name
                dateTimeUTC: 2020-04-17T15:10:54.4464048
                httpStatusCode: OK
                pagination:
                  page: 1
                  pageSize: 100
                  pageCount: 0
                  itemCount: 0
                problem: null
                payTemplate:
                  employeeID: aad6b292-7b94-408b-93f6-e489867e3fb0
                  earningTemplates:
                    - payTemplateEarningID: 4e2a0753-56b9-423d-8068-624473bd1c00
                      ratePerUnit: 25
                      numberOfUnits: 10
                      fixedAmount: null
                      earningsRateID: 87f5b43a-cf51-4b74-92de-94c819e82d27
                      name: Regular Hours
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
  # 503
  /Employees/{EmployeeID}/PayTemplates/earnings:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    post:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollUk
      operationId: createEmployeeEarningsTemplate
      x-hasPayrollUkProblem: true
      x-example:
        - earningsTemplate:
          key: earningsTemplate
          keyPascal: EarningsTemplate
          keySnake: earnings_template
          is_object: true
        - payTemplateEarningID:
          key: payTemplateEarningID
          keyPascal: PayTemplateEarningID
          keySnake: pay_template_earning_id
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          object: earningsTemplate
        - ratePerUnit:
          key: ratePerUnit
          keyPascal: RatePerUnit
          keySnake: rate_per_unit
          nonString: true
          default: 14.25
          object: earningsTemplate
          is_money: true
        - numberOfUnits:
          key: numberOfUnits
          keyPascal: NumberOfUnits
          keySnake: number_of_units
          default: 35.50
          nonString: true
          is_money: true
          object: earningsTemplate
        - fixedAmount:
          key: fixedAmount
          keyPascal: FixedAmount
          keySnake: fixed_amount
          default: 50
          nonString: true
          object: earningsTemplate
        - earningsRateId:
          key: earningsRateID
          keyPascal: EarningsRateID
          keySnake: earnings_rate_id
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          object: earningsTemplate
        - name:
          key: name
          keyPascal: Name
          keySnake: name
          default: Overtime Hours
          object: earningsTemplate
          is_last: true
        - earningsTemplates:
          is_list: true
          key: earningsTemplates
          keyPascal: EarningsTemplates
          keySnake: earnings_templates
          csharp: EarningsTemplate
          java: EarningsTemplate
        - addEarningsTemplate:
          is_last: true
          is_list_add: true
          key: earningsTemplates
          keyPascal: EarningsTemplates
          keySnake: earnings_templates
          java: EarningsTemplates
          python: earnings_template
          ruby: earnings_template
          csharp: EarningsTemplate
          object: earningsTemplate
      summary: Creates an earnings template records for a specific employee
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EarningsTemplateObject"
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EarningsTemplate"
  /Employees/{EmployeeID}/PayTemplates/earnings/{PayTemplateEarningID}:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    put:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollUk
      operationId: updateEmployeeEarningsTemplate
      x-hasPayrollUkProblem: true
      x-example:
        - earningsTemplate:
          key: earningsTemplate
          keyPascal: EarningsTemplate
          keySnake: earnings_template
          is_object: true
        - payTemplateEarningID:
          key: payTemplateEarningID
          keyPascal: PayTemplateEarningID
          keySnake: pay_template_earning_id
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          object: earningsTemplate
        - ratePerUnit:
          key: ratePerUnit
          keyPascal: RatePerUnit
          keySnake: rate_per_unit
          nonString: true
          default: 14.25
          object: earningsTemplate
          is_money: true
        - numberOfUnits:
          key: numberOfUnits
          keyPascal: NumberOfUnits
          keySnake: number_of_units
          default: 35.50
          nonString: true
          is_money: true
          object: earningsTemplate
        - fixedAmount:
          key: fixedAmount
          keyPascal: FixedAmount
          keySnake: fixed_amount
          default: 50
          nonString: true
          object: earningsTemplate
        - earningsRateId:
          key: earningsRateID
          keyPascal: EarningsRateID
          keySnake: earnings_rate_id
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          object: earningsTemplate
        - name:
          key: name
          keyPascal: Name
          keySnake: name
          default: Overtime Hours
          object: earningsTemplate
          is_last: true
        - earningsTemplates:
          is_list: true
          key: earningsTemplates
          keyPascal: EarningsTemplates
          keySnake: earnings_templates
          csharp: EarningsTemplate
          java: EarningsTemplate
        - addEarningsTemplate:
          is_last: true
          is_list_add: true
          key: earningsTemplates
          keyPascal: EarningsTemplates
          keySnake: earnings_templates
          java: EarningsTemplates
          python: earnings_template
          ruby: earnings_template
          csharp: EarningsTemplate
          object: earningsTemplate
      summary: Updates a specific employee's earnings template records
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
        - name: PayTemplateEarningID
          x-snake: pay_template_earning_id
          in: path
          required: true
          description: Id for single pay template earnings object
          schema:
            type: string
            format: uuid
            example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EarningsTemplateObject"
              example:
                id: 39603f09-e06f-4cd4-8291-e3ad1df8b35b
                providerName: provider-name
                dateTimeUTC: 2020-04-17T15:52:35.0247503
                httpStatusCode: OK
                pagination: null
                problem: null
                earningTemplate:
                  payTemplateEarningID: 4e2a0753-56b9-423d-8068-624473bd1c00
                  ratePerUnit: 30
                  numberOfUnits: 4
                  fixedAmount: null
                  earningsRateID: 87f5b43a-cf51-4b74-92de-94c819e82d27
                  name: Regular Hours
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EarningsTemplate"
            example:
              ratePerUnit: 30
              numberOfUnits: 4
              earningsRateID: 87f5b43a-cf51-4b74-92de-94c819e82d27
    delete:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollUk
      operationId: deleteEmployeeEarningsTemplate
      summary: Deletes a specific employee's earnings template record
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
        - name: PayTemplateEarningID
          x-snake: pay_template_earning_id
          in: path
          required: true
          description: Id for single pay template earnings object
          schema:
            type: string
            format: uuid
            example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        "200":
          description: deletion successful
  /Employees/{EmployeeID}/paytemplateearnings:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    post:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollUk
      operationId: createMultipleEmployeeEarningsTemplate
      x-hasPayrollUkProblem: true
      x-example:
        - earningsTemplate:
          key: earningsTemplate
          keyPascal: EarningsTemplate
          keySnake: earnings_template
          is_object: true
        - payTemplateEarningID:
          key: payTemplateEarningID
          keyPascal: PayTemplateEarningID
          keySnake: pay_template_earning_id
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          object: earningsTemplate
        - ratePerUnit:
          key: ratePerUnit
          keyPascal: RatePerUnit
          keySnake: rate_per_unit
          nonString: true
          default: 14.25
          object: earningsTemplate
          is_money: true
        - numberOfUnits:
          key: numberOfUnits
          keyPascal: NumberOfUnits
          keySnake: number_of_units
          default: 35.50
          nonString: true
          is_money: true
          object: earningsTemplate
        - fixedAmount:
          key: fixedAmount
          keyPascal: FixedAmount
          keySnake: fixed_amount
          default: 50
          nonString: true
          object: earningsTemplate
        - earningsRateId:
          key: earningsRateID
          keyPascal: EarningsRateID
          keySnake: earnings_rate_id
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          object: earningsTemplate
        - name:
          key: name
          keyPascal: Name
          keySnake: name
          default: Overtime Hours
          object: earningsTemplate
          is_last: true
        - earningsTemplates:
          is_list: true
          key: earningsTemplates
          keyPascal: EarningsTemplates
          keySnake: earnings_templates
          csharp: EarningsTemplate
          java: EarningsTemplate
        - addEarningsTemplate:
          is_last: true
          is_list_add: true
          key: earningsTemplates
          keyPascal: EarningsTemplates
          keySnake: earnings_templates
          java: EarningsTemplates
          python: earnings_template
          ruby: earnings_template
          csharp: EarningsTemplate
          object: earningsTemplate
      summary: Creates multiple earnings template records for a specific employee using a unique employee ID
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeePayTemplates"
              example:
                id: 1c08b529-0827-4e91-a6a1-c479765aa65f
                providerName: provider-name
                dateTimeUTC: 2020-04-17T16:56:35.6264368
                httpStatusCode: OK
                pagination: null
                problem: null
                earningTemplates:
                  - payTemplateEarningID: 6b32533d-1111-4a92-ac52-7641315a1719
                    ratePerUnit: 20
                    numberOfUnits: 8
                    fixedAmount: null
                    earningsRateID: 87f5b43a-cf51-4b74-92de-94c819e82d27
                    name: Regular Hours
                  - payTemplateEarningID: b8b16366-6a60-4b72-97c1-57af555da375
                    ratePerUnit: 20
                    numberOfUnits: 8
                    fixedAmount: null
                    earningsRateID: 973365f3-66b2-4c33-8ae6-14b75f78f68b
                    name: Overtime Hours
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EarningsTemplates"
            example: '[ { "ratePerUnit":20.0, "numberOfUnits":8.0, "earningsRateID":"87f5b43a-cf51-4b74-92de-94c819e82d27" }, { "ratePerUnit":20.0, "numberOfUnits":8.0, "earningsRateID":"973365f3-66b2-4c33-8ae6-14b75f78f68b" } ]'
  /Benefits:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.settings
            - payroll.settings.read
      tags:
        - PayrollUk
      operationId: getBenefits
      x-hasPayrollUkProblem: true
      summary: Retrieves employee benefits
      parameters:
        - in: query
          name: page
          description: Page number which specifies the set of records to retrieve. By default the number of the records per set is 100.
          schema:
            type: integer
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Benefits"
              example:
                id: 079865dc-f3df-4783-98a9-67db747ab82c
                providerName: provider-name
                dateTimeUTC: 2020-04-15T18:45:03.617089
                httpStatusCode: OK
                pagination:
                  page: 1
                  pageSize: 100
                  pageCount: 1
                  itemCount: 1
                problem: null
                benefits:
                  - id: 17ee7e28-9f4c-4675-9590-cc0547c9f7ac
                    name: Mind The Gap Pensions
                    category: StakeholderPension
                    liabilityAccountId: d659ebbf-0760-4e07-a1fb-8de6b9ecdff9
                    expenseAccountId: edda7154-dfc8-4486-a82b-e5e955408eaa
                    standardAmount: null
                    percentage: 3
                    calculationType: PercentageOfGross
                    currentRecord: true
                    showBalanceToEmployee: false
                    subjectToNIC: null
                    subjectToPension: null
                    subjectToTax: null
                    isCalculatingOnQualifyingEarnings: null
    post:
      security:
        - OAuth2:
            - payroll.settings
      tags:
        - PayrollUk
      operationId: createBenefit
      x-hasPayrollUkProblem: true
      summary: Creates a new employee benefit
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
      x-example:
        - benefit:
          key: benefit
          keyPascal: Benefit
          keySnake: benefit
          is_object: true
        - name:
          key: name
          keyPascal: Name
          keySnake: name
          default: Benefit Name
          object: benefit
        - expenseAccountID:
          key: expenseAccountID
          keyPascal: ExpenseAccountID
          keySnake: expense_account_id
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          object: benefit
        - liabilityAccountID:
          key: liabilityAccountID
          keyPascal: LiabilityAccountID
          keySnake: liability_account_id
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          object: benefit
        - isCalculatingOnQualifyingEarnings:
          key: isCalculatingOnQualifyingEarnings
          keyPascal: IsCalculatingOnQualifyingEarnings
          keySnake: is_calculating_on_qualifying_earnings
          nonString: true
          default: true
          object: benefit
          is_last: true
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BenefitObject"
              example:
                id: 95352407-6477-42f1-bd9c-bab28af8b0d9
                providerName: provider-name
                dateTimeUTC: 2020-04-15T18:59:01.5812362
                httpStatusCode: OK
                pagination: null
                problem: null
                benefit:
                  id: d295bf25-fb61-4f91-9b62-a9ae87633746
                  name: My Big Bennie
                  category: StakeholderPension
                  liabilityAccountId: e0faa299-ca0d-4b0a-9e32-0dfabdf9179a
                  expenseAccountId: 4b03500d-32fd-4616-8d70-e1e56e0519c6
                  standardAmount: null
                  percentage: 25
                  calculationType: PercentageOfGross
                  currentRecord: true
                  showBalanceToEmployee: true
                  subjectToNIC: null
                  subjectToPension: null
                  subjectToTax: null
                  isCalculatingOnQualifyingEarnings: null
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Benefit"
            example:
              name: My Big Bennie
              category: StakeholderPension
              liabilityAccountId: e0faa299-ca0d-4b0a-9e32-0dfabdf9179a
              expenseAccountId: 4b03500d-32fd-4616-8d70-e1e56e0519c6
              standardAmount: 50
              percentage: 25
              calculationType: PercentageOfGross
  /Benefits/{id}:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.settings
            - payroll.settings.read
      tags:
        - PayrollUk
      operationId: getBenefit
      x-hasPayrollUkProblem: true
      summary: Retrieves a specific benefit by using a unique benefit ID
      parameters:
        - in: path
          name: id
          required: true
          description: Identifier for the benefit
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BenefitObject"
              example:
                id: e7959d7b-370d-47e5-bb15-4b68f136ddae
                providerName: provider-name
                dateTimeUTC: 2020-04-15T18:45:04.5134277
                httpStatusCode: OK
                pagination: null
                problem: null
                benefit:
                  id: 17ee7e28-9f4c-4675-9590-cc0547c9f7ac
                  name: Mind The Gap Pensions
                  category: StakeholderPension
                  liabilityAccountId: d659ebbf-0760-4e07-a1fb-8de6b9ecdff9
                  expenseAccountId: edda7154-dfc8-4486-a82b-e5e955408eaa
                  standardAmount: null
                  percentage: 3
                  calculationType: PercentageOfGross
                  currentRecord: true
                  showBalanceToEmployee: false
                  subjectToNIC: null
                  subjectToPension: null
                  subjectToTax: null
                  isCalculatingOnQualifyingEarnings: null
  /Deductions:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.settings
            - payroll.settings.read
      tags:
        - PayrollUk
      operationId: getDeductions
      x-hasPayrollUkProblem: true
      summary: Retrieves deductions
      parameters:
        - in: query
          name: page
          description: Page number which specifies the set of records to retrieve. By default the number of the records per set is 100.
          schema:
            type: integer
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deductions"
              example:
                id: 846b81f3-7192-4a78-a05c-ae5d2c402546
                providerName: provider-name
                dateTimeUTC: 2020-04-20T20:57:39.6123797
                httpStatusCode: OK
                pagination:
                  page: 1
                  pageSize: 100
                  pageCount: 1
                  itemCount: 2
                problem: null
                deductions:
                  - deductionId: 7c736d59-a624-4584-920b-e9910d2887a0
                    deductionName: Mind The Gap Pensions (NPA)
                    deductionCategory: StakeholderPension
                    liabilityAccountId: d659ebbf-0760-4e07-a1fb-8de6b9ecdff9
                    currentRecord: true
                    standardAmount: null
                    reducesSuperLiability: null
                    reducesTaxLiability: null
                    calculationType: PercentageOfGross
                    percentage: 5
                    subjectToNIC: null
                    subjectToTax: null
                    isReducedByBasicRate: null
                    applyToPensionCalculations: null
                    isCalculatingOnQualifyingEarnings: null
                    isPension: null
                  - deductionId: 49f301d4-2746-43a6-ba4a-e7001b5b83fc
                    deductionName: Post-Tax Pension
                    deductionCategory: StakeholderPensionPostTax
                    liabilityAccountId: d659ebbf-0760-4e07-a1fb-8de6b9ecdff9
                    currentRecord: true
                    standardAmount: null
                    reducesSuperLiability: null
                    reducesTaxLiability: null
                    calculationType: PercentageOfGross
                    percentage: 0
                    subjectToNIC: null
                    subjectToTax: null
                    isReducedByBasicRate: null
                    applyToPensionCalculations: false
                    isCalculatingOnQualifyingEarnings: null
                    isPension: true
    post:
      security:
        - OAuth2:
            - payroll.settings
      tags:
        - PayrollUk
      operationId: createDeduction
      x-hasPayrollUkProblem: true
      x-example:
        - deduction:
          key: deduction
          keyPascal: Deduction
          keySnake: deduction
          is_object: true
        - deductionName:
          key: deductionName
          keyPascal: DeductionName
          keySnake: deduction_name
          default: Test Deduction
          object: deduction
        - deductionCategory:
          key: deductionCategory
          keyPascal: DeductionCategory
          keySnake: deduction_category
          nonString: true
          default: DeductionCategoryEnum.StakeholderPension
          php: XeroAPI\XeroPHP\Models\PayrollUk\Deduction\DeductionCategoryEnum.StakeholderPension
          node: Deduction.DeductionCategoryEnum.StakeholderPension
          ruby: XeroRuby::PayrollUk::Deduction::deduction_category_enum::STAKEHOLDERPENSION
          python: deduction_category_enum::STAKEHOLDERPENSION
          java: com.xero.models.payrolluk.Deduction.DeductionCategoryEnum.StakeholderPension
          csharp: Deduction.DeductionCategoryEnum.StakeholderPension
          object: deduction
        - liabilityAccountID:
          key: liabilityAccountId
          keyPascal: LiabilityAccountId
          keySnake: liability_account_id
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          object: deduction
        - calculationType:
          key: calculationType
          keyPascal: CalculationType
          keySnake: calculation_type
          nonString: true
          default: CalculationTypeEnum.PercentageOfGross
          php: XeroAPI\XeroPHP\Models\PayrolUk\Deduction\CalculationTypeEnum.PercentageOfGross
          node: Deduction.CalculationTypeEnum.PercentageOfGross
[...]
