openapi: 3.0.0
info:
  version: 12.0.0
  title: Xero Payroll AU API
  description: This is the Xero Payroll API for orgs in Australia region.
  termsOfService: https://developer.xero.com/xero-developer-platform-terms-conditions/
  contact:
    name: Xero Platform Team
    email: api@xero.com
    url: https://developer.xero.com
  license:
    name: MIT
    url: https://github.com/XeroAPI/Xero-OpenAPI/blob/master/LICENSE
servers:
  - description: Xero Payroll AU API
    url: https://api.xero.com/payroll.xro/1.0
tags:
  - name: PayrollAu
    description: Operations available to regular developers
paths:
  /Employees:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollAu
      operationId: getEmployees
      summary: Searches payroll employees
      parameters:
        - in: header
          name: If-Modified-Since
          x-snake: if_modified_since
          description: Only records created or modified since this timestamp will be returned
          example: "2020-02-06T12:17:43.202-08:00"
          schema:
            type: string
            format: date-time
        - in: query
          name: where
          description: Filter by an any element
          schema:
            type: string
          example: Status=="ACTIVE"
        - in: query
          name: order
          description: Order by an any element
          schema:
            type: string
          example: EmailAddress%20DESC
        - in: query
          name: page
          description: e.g. page=1 – Up to 100 employees will be returned in a single API call
          schema:
            type: integer
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Employees"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: provider-name
                DateTimeUTC: /Date(1573621523465)/
                Employees:
                  - EmployeeID: b34e89ff-770d-4099-b7e5-f968767118bc
                    FirstName: Jack
                    MiddleNames: Johnson
                    LastName: Sparrow
                    Status: ACTIVE
                    Email: jack.sparrow@xero.com
                    DateOfBirth: /Date(572313600000+0000)/
                    Gender: M
                    Phone: "4153332323"
                    Mobile: 415-1234567
                    StartDate: /Date(1547164800000+0000)/
                    OrdinaryEarningsRateID: ab874dfb-ab09-4c91-954e-43acf6fc23b4
                    PayrollCalendarID: 22a05fc5-386d-4950-9842-3e7a6c812135
                    UpdatedDateUTC: /Date(1572915814000+0000)/
                    IsSTP2Qualified: false
                  - EmployeeID: 7aa04979-ded5-44d9-b09a-793749425844
                    FirstName: John
                    LastName: Smith
                    Status: ACTIVE
                    Email: john.smith@xero.com
                    DateOfBirth: /Date(315619200000+0000)/
                    Gender: M
                    StartDate: /Date(1572566400000+0000)/
                    OrdinaryEarningsRateID: ab874dfb-ab09-4c91-954e-43acf6fc23b4
                    PayrollCalendarID: 78bb86b9-e1ea-47ac-b75d-f087a81931de
                    UpdatedDateUTC: /Date(1572916028000+0000)/
                    IsSTP2Qualified: false
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIException"
    post:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollAu
      summary: Creates a payroll employee
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
      operationId: createEmployee
      x-hasPayrollAuProblem: true
      x-example:
        - dateOfBirthValue:
          key: dateOfBirth
          keyPascal: DateOfBirth
          keySnake: date_of_birth
          is_date: true
          object: employee
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2000, Month.OCTOBER, 28)
          java: LocalDate.of(2000, Month.OCTOBER, 28)
          csharp: new DateTime(2000, 10, 10)
          php: new DateTime('2000-10-28')
          node: "'2000-10-28'"
          python: dateutil.parser.parse('2000-10-28T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - homeAddress:
          key: homeAddress
          keyPascal: HomeAddress
          keySnake: home_address
          is_object: true
        - addressLine1:
          key: addressLine1
          keyPascal: AddressLine1
          keySnake: address_line_1
          default: 123 Test st
          object: homeAddress
        - region:
          key: region
          keyPascal: Region
          keySnake: region
          object: homeAddress
          default: VIC
        - postalCode:
          nonString: true
          key: postalCode
          keyPascal: PostalCode
          keySnake: postal_code
          object: homeAddress
          default: 3000
        - city:
          key: city
          keyPascal: City
          keySnake: city
          default: Melbourne
          object: homeAddress
          is_last: true
        - employee:
          key: employee
          keyPascal: Employee
          is_object: true
        - firstName:
          key: firstName
          keyPascal: FirstName
          keySnake: first_name
          default: Adam
          object: employee
        - lastName:
          key: lastName
          keyPascal: LastName
          keySnake: last_name
          default: Adamson
          object: employee
        - dateOfBirth:
          is_variable: true
          nonString: true
          key: dateOfBirth
          keyPascal: DateOfBirth
          keySnake: date_of_birth
          default: dateOfBirth
          python: date_of_birth
          ruby: date_of_birth
          object: employee
        - setHomeAddress:
          is_last: true
          is_variable: true
          nonString: true
          key: homeAddress
          keyPascal: HomeAddress
          default: homeAddress
          python: home_address
          ruby: home_address
          object: employee
      responses:
        "200":
          description: A successful request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Employees"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: provider-name
                DateTimeUTC: /Date(1573621524489)/
                Employees:
                  - EmployeeID: cdfb8371-0b21-4b8a-8903-1024df6c391e
                    FirstName: Albus
                    MiddleNames: Percival
                    LastName: Dumbledore
                    Status: ACTIVE
                    Email: albus39608@hogwarts.edu
                    DateOfBirth: /Date(321523200000+0000)/
                    JobTitle: Regional Manager
                    Gender: M
                    HomeAddress:
                      AddressLine1: 101 Green St
                      City: Island Bay
                      Region: NSW
                      PostalCode: "6023"
                      Country: AUSTRALIA
                    Phone: 444-2323
                    Mobile: 555-1212
                    StartDate: /Date(321523200000+0000)/
                    Classification: corporate
                    OrdinaryEarningsRateID: ab874dfb-ab09-4c91-954e-43acf6fc23b4
                    UpdatedDateUTC: /Date(1573621524458+0000)/
                    IsAuthorisedToApproveLeave: true
                    IsAuthorisedToApproveTimesheets: true
        "400":
          description: invalid input, object invalid - TODO
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/Employee"
            example: '[ { "FirstName": "Albus", "LastName": "Dumbledore", "DateOfBirth": "/Date(321523200000+0000)/", "HomeAddress": { "AddressLine1": "101 Green St", "City": "Island Bay", "Region": "NSW", "PostalCode": "6023", "Country": "AUSTRALIA" }, "StartDate": "/Date(321523200000+0000)/", "MiddleNames": "Percival", "Email": "albus39608@hogwarts.edu", "Gender": "M", "Phone": "444-2323", "Mobile": "555-1212", "IsAuthorisedToApproveLeave": true, "IsAuthorisedToApproveTimesheets": true, "JobTitle": "Regional Manager", "Classification": "corporate", "OrdinaryEarningsRateID": "ab874dfb-ab09-4c91-954e-43acf6fc23b4", "Status": "ACTIVE" } ]'
  /Employees/{EmployeeID}:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollAu
      summary: Retrieves an employee's detail by unique employee id
      operationId: getEmployee
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Employees"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: provider-name
                DateTimeUTC: /Date(1573623316150)/
                Employees:
                  - EmployeeID: cdfb8371-0b21-4b8a-8903-1024df6c391e
                    Title: Mr.
                    FirstName: Albus
                    MiddleNames: Frank
                    LastName: Dumbledore
                    Status: ACTIVE
                    Email: albus39608@hogwarts.edu
                    DateOfBirth: /Date(321494400000+0000)/
                    JobTitle: Regional Manager
                    Gender: M
                    HomeAddress:
                      AddressLine1: 101 Green St
                      City: Island Bay
                      Region: NSW
                      PostalCode: "6023"
                      Country: AUSTRALIA
                    Phone: 444-2323
                    Mobile: 555-1212
                    StartDate: /Date(321494400000+0000)/
                    Classification: corporate
                    OrdinaryEarningsRateID: ab874dfb-ab09-4c91-954e-43acf6fc23b4
                    PayrollCalendarID: 78bb86b9-e1ea-47ac-b75d-f087a81931de
                    UpdatedDateUTC: /Date(1573623306000+0000)/
                    EmployeeGroupName: foo
                    IsAuthorisedToApproveLeave: true
                    IsAuthorisedToApproveTimesheets: true
                    TaxDeclaration:
                      AustralianResidentForTaxPurposes: true
                      TaxFreeThresholdClaimed: true
                      HasHELPDebt: false
                      HasSFSSDebt: false
                      EligibleToReceiveLeaveLoading: false
                      UpdatedDateUTC: /Date(1573623306000+0000)/
                      HasStudentStartupLoan: false
                      ResidencyStatus: AUSTRALIANRESIDENT
                      IncludeLeaveLoadingInQualifyingEarnings: false
                    BankAccounts: []
                    OpeningBalances:
                      OpeningBalanceDate: /Date(1573603200000+0000)/
                      EarningsLines: []
                      DeductionLines: []
                      SuperLines: []
                      ReimbursementLines: []
                      LeaveLines:
                        - LeaveTypeID: 184ea8f7-d143-46dd-bef3-0c60e1aa6fca
                          NumberOfUnits: 10
                      PaidLeaveEarningsLines: []
                    PayTemplate:
                      EarningsLines:
                        - EarningsRateID: ab874dfb-ab09-4c91-954e-43acf6fc23b4
                          CalculationType: USEEARNINGSRATE
                          NormalNumberOfUnits: 3
                      DeductionLines:
                        - DeductionTypeID: ed05ea82-e40a-4eb6-9c2e-4b3c03e7e938
                          CalculationType: FIXEDAMOUNT
                          Amount: 4
                      SuperLines:
                        - ContributionType: SGC
                          CalculationType: STATUTORY
                          MinimumMonthlyEarnings: 450
                          ExpenseAccountCode: "478"
                          LiabilityAccountCode: "826"
                      ReimbursementLines:
                        - ReimbursementTypeID: aa8cfa40-d872-4be0-8a94-bb7f00962f74
                          Description: boo
                          Amount: 55
                      LeaveLines:
                        - LeaveTypeID: 184ea8f7-d143-46dd-bef3-0c60e1aa6fca
                          CalculationType: FIXEDAMOUNTEACHPERIOD
                          AnnualNumberOfUnits: 4
                          EntitlementFinalPayPayoutType: NOTPAIDOUT
                          IsQualifyingEarnings: false
                    SuperMemberships: []
                    LeaveBalances:
                      - LeaveName: Carer Leave (unpaid)
                        LeaveTypeID: 184ea8f7-d143-46dd-bef3-0c60e1aa6fca
                        NumberOfUnits: 10
                        TypeOfUnits: Hours
    post:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollAu
      summary: Updates an employee's detail
      operationId: updateEmployee
      description: Update properties on a single employee
      x-example:
        - dateOfBirthValue:
          key: dateOfBirth
          keyPascal: DateOfBirth
          keySnake: date_of_birth
          is_date: true
          object: employee
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2000, Month.OCTOBER, 28)
          java: LocalDate.of(2000, Month.OCTOBER, 28)
          csharp: new DateTime(2000, 10, 10)
          php: new DateTime('2000-10-28')
          node: "'2000-10-28'"
          python: dateutil.parser.parse('2000-10-28T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - homeAddress:
          key: homeAddress
          keyPascal: HomeAddress
          keySnake: home_address
          is_object: true
        - addressLine1:
          key: addressLine1
          keyPascal: AddressLine1
          keySnake: address_line_1
          default: 123 Test st
          object: homeAddress
        - region:
          key: region
          keyPascal: Region
          keySnake: region
          object: homeAddress
          default: VIC
        - postalCode:
          nonString: true
          key: postalCode
          keyPascal: PostalCode
          keySnake: postal_code
          object: homeAddress
          default: 3000
        - city:
          key: city
          keyPascal: City
          keySnake: city
          default: Melbourne
          object: homeAddress
          is_last: true
        - employee:
          key: employee
          keyPascal: Employee
          is_object: true
        - firstName:
          key: firstName
          keyPascal: FirstName
          keySnake: first_name
          default: Adam
          object: employee
        - lastName:
          key: lastName
          keyPascal: LastName
          keySnake: last_name
          default: Adamson
          object: employee
        - dateOfBirth:
          is_variable: true
          nonString: true
          key: dateOfBirth
          keyPascal: DateOfBirth
          keySnake: date_of_birth
          default: dateOfBirth
          python: date_of_birth
          ruby: date_of_birth
          object: employee
        - setHomeAddress:
          is_last: true
          is_variable: true
          nonString: true
          key: homeAddress
          keyPascal: HomeAddress
          default: homeAddress
          python: home_address
          ruby: home_address
          object: employee
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: A successful request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Employees"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: 3f93110a-df13-49c7-b82f-a069813df188
                DateTimeUTC: /Date(1573621524786)/
                Employees:
                  - EmployeeID: cdfb8371-0b21-4b8a-8903-1024df6c391e
                    FirstName: Albus
                    MiddleNames: Frank
                    LastName: Dumbledore
                    Status: ACTIVE
                    Email: albus39608@hogwarts.edu
                    DateOfBirth: /Date(321523200000+0000)/
                    JobTitle: Regional Manager
                    Gender: M
                    HomeAddress:
                      AddressLine1: 101 Green St
                      City: Island Bay
                      Region: NSW
                      PostalCode: "6023"
                      Country: AUSTRALIA
                    Phone: 444-2323
                    Mobile: 555-1212
                    StartDate: /Date(321523200000+0000)/
                    Classification: corporate
                    OrdinaryEarningsRateID: ab874dfb-ab09-4c91-954e-43acf6fc23b4
                    UpdatedDateUTC: /Date(1573621524755+0000)/
                    IsAuthorisedToApproveLeave: true
                    IsAuthorisedToApproveTimesheets: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/Employee"
            example: '[ { "MiddleNames": "Frank" } ]'
  /LeaveApplications:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollAu
      operationId: getLeaveApplications
      summary: Retrieves leave applications
      parameters:
        - in: header
          name: If-Modified-Since
          x-snake: if_modified_since
          description: Only records created or modified since this timestamp will be returned
          example: "2020-02-06T12:17:43.202-08:00"
          schema:
            type: string
            format: date-time
        - in: query
          name: where
          description: Filter by an any element
          schema:
            type: string
          example: Status=="ACTIVE"
        - in: query
          name: order
          description: Order by an any element
          schema:
            type: string
          example: EmailAddress%20DESC
        - in: query
          name: page
          description: e.g. page=1 – Up to 100 objects will be returned in a single API call
          schema:
            type: integer
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaveApplications"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: provider-name
                DateTimeUTC: /Date(1573679791199)/
                LeaveApplications:
                  - LeaveApplicationID: 1d4cd583-0107-4386-936b-672eb3d1f624
                    EmployeeID: cdfb8371-0b21-4b8a-8903-1024df6c391e
                    LeaveTypeID: 184ea8f7-d143-46dd-bef3-0c60e1aa6fca
                    LeavePeriods:
                      - PayPeriodStartDate: /Date(1573171200000+0000)/
                        PayPeriodEndDate: /Date(1573689600000+0000)/
                        LeavePeriodStatus: SCHEDULED
                        NumberOfUnits: 0
                    Title: vacation
                    StartDate: /Date(1573516800000+0000)/
                    EndDate: /Date(1573516800000+0000)/
                    UpdatedDateUTC: /Date(1573623008000+0000)/
                    PayOutType: DEFAULT
                  - LeaveApplicationID: 3b934902-1e16-4c02-a3d3-68fa7d63e01d
                    EmployeeID: cdfb8371-0b21-4b8a-8903-1024df6c391e
                    LeaveTypeID: 184ea8f7-d143-46dd-bef3-0c60e1aa6fca
                    LeavePeriods:
                      - PayPeriodStartDate: /Date(1573171200000+0000)/
                        PayPeriodEndDate: /Date(1573689600000+0000)/
                        LeavePeriodStatus: SCHEDULED
                        NumberOfUnits: 8
                    Title: Cashed Out
                    StartDate: /Date(1573516800000+0000)/
                    EndDate: /Date(1573516800000+0000)/
                    UpdatedDateUTC: /Date(1573623008000+0000)/
                    PayOutType: CASHED_OUT
                  - LeaveApplicationID: 62b90465-66e9-4c3a-8151-de1e6335554d
                    EmployeeID: b34e89ff-770d-4099-b7e5-f968767118bc
                    LeaveTypeID: 184ea8f7-d143-46dd-bef3-0c60e1aa6fca
                    LeavePeriods:
                      - PayPeriodStartDate: /Date(1571961600000+0000)/
                        PayPeriodEndDate: /Date(1572480000000+0000)/
                        LeavePeriodStatus: SCHEDULED
                        NumberOfUnits: 0
                      - PayPeriodStartDate: /Date(1572566400000+0000)/
                        PayPeriodEndDate: /Date(1573084800000+0000)/
                        LeavePeriodStatus: SCHEDULED
                        NumberOfUnits: 0
                    Title: Yep Carer Leave
                    Description: My updated Description
                    StartDate: /Date(1572559200000+0000)/
                    EndDate: /Date(1572645600000+0000)/
                    UpdatedDateUTC: /Date(1573447344000+0000)/
                    PayOutType: DEFAULT
                  - LeaveApplicationID: e8bd9eeb-18c9-4475-9c81-b298f9aa26c0
                    EmployeeID: b34e89ff-770d-4099-b7e5-f968767118bc
                    LeaveTypeID: 184ea8f7-d143-46dd-bef3-0c60e1aa6fca
                    LeavePeriods:
                      - PayPeriodStartDate: /Date(1571961600000+0000)/
                        PayPeriodEndDate: /Date(1572480000000+0000)/
                        LeavePeriodStatus: SCHEDULED
                        NumberOfUnits: 0
                      - PayPeriodStartDate: /Date(1572566400000+0000)/
                        PayPeriodEndDate: /Date(1573084800000+0000)/
                        LeavePeriodStatus: SCHEDULED
                        NumberOfUnits: 0
                    Title: Hello World
                    StartDate: /Date(1572559200000+0000)/
                    EndDate: /Date(1572645600000+0000)/
                    UpdatedDateUTC: /Date(1573447343000+0000)/
                    PayOutType: DEFAULT
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIException"
    post:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollAu
      summary: Creates a leave application
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
      operationId: createLeaveApplication
      x-hasPayrollAuProblem: true
      x-example:
        - startDateValue:
          key: startDate
          keyPascal: StartDate
          keySnake: start_date
          is_date: true
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2020, Month.OCTOBER, 28)
          java: LocalDate.of(2020, Month.OCTOBER, 28)
          csharp: new DateTime(2020, 10, 10)
          php: new DateTime('2020-10-28')
          node: "'2020-10-28'"
          python: dateutil.parser.parse('2020-10-28T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - endDateValue:
          key: endDate
          keyPascal: EndDate
          keySnake: end_date
          is_date: true
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2020, Month.OCTOBER, 30)
          java: LocalDate.of(2020, Month.OCTOBER, 30)
          csharp: new DateTime(2020, 10, 12)
          php: new DateTime('2020-10-30')
          node: "'2020-10-30'"
          python: dateutil.parser.parse('2020-10-30T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - leaveApplication:
          key: leaveApplication
          keyPascal: LeaveApplication
          is_object: true
        - employeeId:
          is_uuid: true
          key: employeeId
          keyPascal: EmployeeId
          keySnake: employee_id
          object: leaveApplication
          default: 00000000-0000-0000-0000-000000000000
        - leaveTypeId:
          is_uuid: true
          key: leaveTypeId
          keyPascal: LeaveTypeId
          keySnake: leave_type_id
          object: leaveApplication
          default: 00000000-0000-0000-0000-000000000000
        - title:
          key: title
          keyPascal: Title
          keySnake: title
          default: Annual Leave
          object: leaveApplication
        - startDate:
          is_variable: true
          nonString: true
          key: startDate
          keyPascal: StartDate
          keySnake: start_date
          default: startDate
          python: start_date
          ruby: start_date
          object: leaveApplication
        - endDate:
          is_last: true
          is_variable: true
          nonString: true
          key: endDate
          keyPascal: EndDate
          keySnake: end_date
          default: endDate
          python: end_date
          ruby: end_date
          object: leaveApplication
      responses:
        "200":
          description: A successful request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaveApplications"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: provider-name
                DateTimeUTC: /Date(1573679791917)/
                LeaveApplications:
                  - LeaveApplicationID: 5f7097e4-51f2-46cc-921b-45bc73ea7831
                    EmployeeID: cdfb8371-0b21-4b8a-8903-1024df6c391e
                    LeaveTypeID: 184ea8f7-d143-46dd-bef3-0c60e1aa6fca
                    LeavePeriods:
                      - PayPeriodStartDate: /Date(1572566400000+0000)/
                        PayPeriodEndDate: /Date(1573084800000+0000)/
                        LeavePeriodStatus: SCHEDULED
                        NumberOfUnits: 7.6
                    Title: Hello World
                    StartDate: /Date(1572559200000+0000)/
                    EndDate: /Date(1572645600000+0000)/
                    UpdatedDateUTC: /Date(1573679791897+0000)/
                    PayOutType: DEFAULT
        "400":
          description: invalid input, object invalid - TODO
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/LeaveApplication"
            example: '[ { "EmployeeID": "cdfb8371-0b21-4b8a-8903-1024df6c391e", "LeaveTypeID": "184ea8f7-d143-46dd-bef3-0c60e1aa6fca", "Title": "Hello World", "StartDate": "/Date(1572559200000+0000)/", "EndDate": "/Date(1572645600000+0000)/" } ]'
  /LeaveApplications/v2:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollAu
      operationId: getLeaveApplicationsV2
      summary: Retrieves leave applications including leave requests
      parameters:
        - in: header
          name: If-Modified-Since
          x-snake: if_modified_since
          description: Only records created or modified since this timestamp will be returned
          example: "2020-02-06T12:17:43.202-08:00"
          schema:
            type: string
            format: date-time
        - in: query
          name: where
          description: Filter by an any element
          schema:
            type: string
          example: Status=="ACTIVE"
        - in: query
          name: order
          description: Order by an any element
          schema:
            type: string
          example: EmailAddress%20DESC
        - in: query
          name: page
          description: e.g. page=1 – Up to 100 objects will be returned in a single API call
          schema:
            type: integer
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaveApplications"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: provider-name
                DateTimeUTC: /Date(1573679791199)/
                LeaveApplications:
                  - LeaveApplicationID: 1d4cd583-0107-4386-936b-672eb3d1f624
                    EmployeeID: cdfb8371-0b21-4b8a-8903-1024df6c391e
                    LeaveTypeID: 184ea8f7-d143-46dd-bef3-0c60e1aa6fca
                    LeavePeriods:
                      - PayPeriodStartDate: /Date(1573171200000+0000)/
                        PayPeriodEndDate: /Date(1573689600000+0000)/
                        LeavePeriodStatus: REQUESTED
                        NumberOfUnits: 4
                    Title: vacation
                    StartDate: /Date(1573516800000+0000)/
                    EndDate: /Date(1573516800000+0000)/
                    UpdatedDateUTC: /Date(1573623008000+0000)/
                    PayOutType: DEFAULT
                  - LeaveApplicationID: 3b934902-1e16-4c02-a3d3-68fa7d63e01d
                    EmployeeID: cdfb8371-0b21-4b8a-8903-1024df6c391e
                    LeaveTypeID: 184ea8f7-d143-46dd-bef3-0c60e1aa6fca
                    LeavePeriods:
                      - PayPeriodStartDate: /Date(1573171200000+0000)/
                        PayPeriodEndDate: /Date(1573689600000+0000)/
                        LeavePeriodStatus: SCHEDULED
                        NumberOfUnits: 8
                    Title: Cashed Out
                    StartDate: /Date(1573516800000+0000)/
                    EndDate: /Date(1573516800000+0000)/
                    UpdatedDateUTC: /Date(1573623008000+0000)/
                    PayOutType: CASHED_OUT
                  - LeaveApplicationID: 62b90465-66e9-4c3a-8151-de1e6335554d
                    EmployeeID: b34e89ff-770d-4099-b7e5-f968767118bc
                    LeaveTypeID: 184ea8f7-d143-46dd-bef3-0c60e1aa6fca
                    LeavePeriods:
                      - PayPeriodStartDate: /Date(1571961600000+0000)/
                        PayPeriodEndDate: /Date(1572480000000+0000)/
                        LeavePeriodStatus: SCHEDULED
                        NumberOfUnits: 8
                      - PayPeriodStartDate: /Date(1572566400000+0000)/
                        PayPeriodEndDate: /Date(1573084800000+0000)/
                        LeavePeriodStatus: SCHEDULED
                        NumberOfUnits: 8
                    Title: Yep Carer Leave
                    Description: My updated Description
                    StartDate: /Date(1572559200000+0000)/
                    EndDate: /Date(1572645600000+0000)/
                    UpdatedDateUTC: /Date(1573447344000+0000)/
                    PayOutType: DEFAULT
                  - LeaveApplicationID: e8bd9eeb-18c9-4475-9c81-b298f9aa26c0
                    EmployeeID: b34e89ff-770d-4099-b7e5-f968767118bc
                    LeaveTypeID: 184ea8f7-d143-46dd-bef3-0c60e1aa6fca
                    LeavePeriods:
                      - PayPeriodStartDate: /Date(1571961600000+0000)/
                        PayPeriodEndDate: /Date(1572480000000+0000)/
                        LeavePeriodStatus: PROCESSED
                        NumberOfUnits: 8
                      - PayPeriodStartDate: /Date(1572566400000+0000)/
                        PayPeriodEndDate: /Date(1573084800000+0000)/
                        LeavePeriodStatus: SCHEDULED
                        NumberOfUnits: 8
                    Title: Hello World
                    StartDate: /Date(1572559200000+0000)/
                    EndDate: /Date(1572645600000+0000)/
                    UpdatedDateUTC: /Date(1573447343000+0000)/
                    PayOutType: DEFAULT
                  - LeaveApplicationID: 3f93110a-df13-49c7-b82f-a069813df188
                    EmployeeID: cdfb8371-0b21-4b8a-8903-1024df6c391e
                    LeaveTypeID: 184ea8f7-d143-46dd-bef3-0c60e1aa6fca
                    LeavePeriods:
                      - PayPeriodStartDate: /Date(1573171200000+0000)/
                        PayPeriodEndDate: /Date(1573689600000+0000)/
                        LeavePeriodStatus: REJECTED
                        NumberOfUnits: 8
                    Title: vacation
                    StartDate: /Date(1573516800000+0000)/
                    EndDate: /Date(1573516800000+0000)/
                    UpdatedDateUTC: /Date(1573623008000+0000)/
                    PayOutType: DEFAULT
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIException"
  /LeaveApplications/{LeaveApplicationID}:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollAu
      summary: Retrieves a leave application by a unique leave application id
      operationId: getLeaveApplication
      parameters:
        - name: LeaveApplicationID
          x-snake: leave_application_id
          in: path
          required: true
          description: Leave Application id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaveApplications"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: provider-name
                DateTimeUTC: /Date(1573679791457)/
                LeaveApplications:
                  - LeaveApplicationID: 1d4cd583-0107-4386-936b-672eb3d1f624
                    EmployeeID: cdfb8371-0b21-4b8a-8903-1024df6c391e
                    LeaveTypeID: 184ea8f7-d143-46dd-bef3-0c60e1aa6fca
                    LeavePeriods:
                      - PayPeriodStartDate: /Date(1573171200000+0000)/
                        PayPeriodEndDate: /Date(1573689600000+0000)/
                        LeavePeriodStatus: SCHEDULED
                        NumberOfUnits: 7.6
                    Title: vacation
                    StartDate: /Date(1573516800000+0000)/
                    EndDate: /Date(1573516800000+0000)/
                    UpdatedDateUTC: /Date(1573623008000+0000)/
                    PayOutType: DEFAULT
    post:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollAu
      summary: Updates a specific leave application
      operationId: updateLeaveApplication
      x-example:
        - startDateValue:
          key: startDate
          keyPascal: StartDate
          keySnake: start_date
          is_date: true
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2020, Month.OCTOBER, 28)
          java: LocalDate.of(2020, Month.OCTOBER, 28)
          csharp: new DateTime(2020, 10, 10)
          php: new DateTime('2020-10-28')
          node: "'2020-10-28'"
          python: dateutil.parser.parse('2020-10-28T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - endDateValue:
          key: endDate
          keyPascal: EndDate
          keySnake: end_date
          is_date: true
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2020, Month.OCTOBER, 30)
          java: LocalDate.of(2020, Month.OCTOBER, 30)
          csharp: new DateTime(2020, 10, 12)
          php: new DateTime('2020-10-30')
          node: "'2020-10-30'"
          python: dateutil.parser.parse('2020-10-30T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - leaveApplication:
          key: leaveApplication
          keyPascal: LeaveApplication
          is_object: true
        - employeeId:
          is_uuid: true
          key: employeeId
          keyPascal: EmployeeId
          keySnake: employee_id
          object: leaveApplication
          default: 00000000-0000-0000-0000-000000000000
        - leaveTypeId:
          is_uuid: true
          key: leaveTypeId
          keyPascal: LeaveTypeId
          keySnake: leave_type_id
          object: leaveApplication
          default: 00000000-0000-0000-0000-000000000000
        - title:
          key: title
          keyPascal: Title
          keySnake: title
          default: Annual Leave
          object: leaveApplication
        - startDate:
          is_variable: true
          nonString: true
          key: startDate
          keyPascal: StartDate
          keySnake: start_date
          default: startDate
          python: start_date
          ruby: start_date
          object: leaveApplication
        - endDate:
          is_last: true
          is_variable: true
          nonString: true
          key: endDate
          keyPascal: EndDate
          keySnake: end_date
          default: endDate
          python: end_date
          ruby: end_date
          object: leaveApplication
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: LeaveApplicationID
          x-snake: leave_application_id
          in: path
          required: true
          description: Leave Application id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: A successful request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaveApplications"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: 3f93110a-df13-49c7-b82f-a069813df188
                DateTimeUTC: /Date(1573679792293)/
                LeaveApplications:
                  - LeaveApplicationID: 1d4cd583-0107-4386-936b-672eb3d1f624
                    EmployeeID: cdfb8371-0b21-4b8a-8903-1024df6c391e
                    LeaveTypeID: 184ea8f7-d143-46dd-bef3-0c60e1aa6fca
                    LeavePeriods:
                      - PayPeriodStartDate: /Date(1572566400000+0000)/
                        PayPeriodEndDate: /Date(1573084800000+0000)/
                        LeavePeriodStatus: SCHEDULED
                        NumberOfUnits: 7.6
                    Title: vacation
                    Description: My updated Description
                    StartDate: /Date(1572559200000+0000)/
                    EndDate: /Date(1572645600000+0000)/
                    UpdatedDateUTC: /Date(1573679792293+0000)/
                    PayOutType: DEFAULT
        "400":
          description: invalid input, object invalid - TODO
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/LeaveApplication"
            example: '[ { "EmployeeID": "cdfb8371-0b21-4b8a-8903-1024df6c391e", "LeaveApplicationID": "1d4cd583-0107-4386-936b-672eb3d1f624", "LeaveTypeID": "184ea8f7-d143-46dd-bef3-0c60e1aa6fca", "LeavePeriods": [ { "PayPeriodStartDate": "/Date(1572566400000+0000)/", "PayPeriodEndDate": "/Date(1573084800000+0000)/", "LeavePeriodStatus": "SCHEDULED", "NumberOfUnits": 7.6 } ], "Title": "vacation", "Description": "My updated Description", "StartDate": "/Date(1572559200000+0000)/", "EndDate": "/Date(1572645600000+0000)/", "PayOutType": "DEFAULT" } ]'
  /LeaveApplications/{LeaveApplicationID}/approve:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    post:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollAu
      summary: Approve a requested leave application by a unique leave application id
      operationId: approveLeaveApplication
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: LeaveApplicationID
          x-snake: leave_application_id
          in: path
          required: true
          description: Leave Application id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: Application successfully approved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaveApplications"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: provider-name
                DateTimeUTC: /Date(1573679791457)/
                LeaveApplications:
                  - LeaveApplicationID: 1d4cd583-0107-4386-936b-672eb3d1f624
                    EmployeeID: cdfb8371-0b21-4b8a-8903-1024df6c391e
                    LeaveTypeID: 184ea8f7-d143-46dd-bef3-0c60e1aa6fca
                    LeavePeriods:
                      - PayPeriodStartDate: /Date(1573171200000+0000)/
                        PayPeriodEndDate: /Date(1573689600000+0000)/
                        LeavePeriodStatus: SCHEDULED
                        NumberOfUnits: 7.6
                    Title: Requested Leave
                    StartDate: /Date(1573516800000+0000)/
                    EndDate: /Date(1573516800000+0000)/
                    UpdatedDateUTC: /Date(1573623008000+0000)/
                    PayOutType: DEFAULT
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIException"
  /LeaveApplications/{LeaveApplicationID}/reject:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    post:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollAu
      summary: Reject a leave application by a unique leave application id
      operationId: rejectLeaveApplication
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: LeaveApplicationID
          x-snake: leave_application_id
          in: path
          required: true
          description: Leave Application id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: Application successfully rejected
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeaveApplications"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: provider-name
                DateTimeUTC: /Date(1573679791457)/
                LeaveApplications:
                  - LeaveApplicationID: 1d4cd583-0107-4386-936b-672eb3d1f624
                    EmployeeID: cdfb8371-0b21-4b8a-8903-1024df6c391e
                    LeaveTypeID: 184ea8f7-d143-46dd-bef3-0c60e1aa6fca
                    LeavePeriods:
                      - PayPeriodStartDate: /Date(1573171200000+0000)/
                        PayPeriodEndDate: /Date(1573689600000+0000)/
                        LeavePeriodStatus: REJECTED
                        NumberOfUnits: 7.6
                    Title: Requested Leave
                    StartDate: /Date(1573516800000+0000)/
                    EndDate: /Date(1573516800000+0000)/
                    UpdatedDateUTC: /Date(1573623008000+0000)/
                    PayOutType: DEFAULT
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIException"
  /PayItems:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.settings
            - payroll.settings.read
      tags:
        - PayrollAu
      operationId: getPayItems
      summary: Retrieves pay items
      parameters:
        - in: header
          name: If-Modified-Since
          x-snake: if_modified_since
          description: Only records created or modified since this timestamp will be returned
          example: "2020-02-06T12:17:43.202-08:00"
          schema:
            type: string
            format: date-time
        - in: query
          name: where
          description: Filter by an any element
          schema:
            type: string
          example: Status=="ACTIVE"
        - in: query
          name: order
          description: Order by an any element
          schema:
            type: string
          example: EmailAddress%20DESC
        - in: query
          name: page
          description: e.g. page=1 – Up to 100 objects will be returned in a single API call
          schema:
            type: integer
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayItems"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: provider-name
                DateTimeUTC: /Date(1573620869531)/
                PayItems:
                  EarningsRates:
                    - EarningsRateID: ab874dfb-ab09-4c91-954e-43acf6fc23b4
                      Name: Ordinary Hours
                      EarningsType: ORDINARYTIMEEARNINGS
                      RateType: RATEPERUNIT
                      AccountCode: "477"
                      TypeOfUnits: Hours
                      RatePerUnit: 3
                      IsExemptFromTax: false
                      IsExemptFromSuper: false
                      IsReportableAsW1: false
                      IsQualifyingEarnings: true
                      AllowanceContributesToAnnualLeaveRate: true
                      AllowanceContributesToOvertimeRate: false
                      UpdatedDateUTC: /Date(1573620821000+0000)/
                      CurrentRecord: true
                    - EarningsRateID: dc3ff92e-0e49-4967-aa4b-0bb21c0594ce
                      Name: Overtime Hours (exempt from super)
                      EarningsType: OVERTIMEEARNINGS
                      RateType: RATEPERUNIT
                      AccountCode: "477"
                      TypeOfUnits: Hours
                      IsExemptFromTax: false
                      IsExemptFromSuper: true
                      IsReportableAsW1: false
                      IsQualifyingEarnings: false
                      AllowanceContributesToAnnualLeaveRate: false
                      AllowanceContributesToOvertimeRate: false
                      UpdatedDateUTC: /Date(1547500330000+0000)/
                      CurrentRecord: true
                    - EarningsRateID: f59999ca-cd5c-4a54-a381-2d0c817f0c3e
                      Name: Redundancy
                      EarningsType: LUMPSUMD
                      RateType: FIXEDAMOUNT
                      AccountCode: "477"
                      IsExemptFromTax: true
                      IsExemptFromSuper: true
                      IsReportableAsW1: true
                      IsQualifyingEarnings: false
                      AllowanceContributesToAnnualLeaveRate: false
                      AllowanceContributesToOvertimeRate: false
                      UpdatedDateUTC: /Date(1547500330000+0000)/
                      CurrentRecord: true
                    - EarningsRateID: c97dafac-9d99-406f-9f6c-abfaf81c527d
                      Name: ETP Leave Earning
                      EarningsType: EMPLOYMENTTERMINATIONPAYMENT
                      RateType: RATEPERUNIT
                      AccountCode: "477"
                      TypeOfUnits: Hours
                      IsExemptFromTax: false
                      IsExemptFromSuper: true
                      IsReportableAsW1: true
                      IsQualifyingEarnings: false
                      AllowanceContributesToAnnualLeaveRate: false
                      AllowanceContributesToOvertimeRate: false
                      UpdatedDateUTC: /Date(1573620791000+0000)/
                      EmploymentTerminationPaymentType: O
                      CurrentRecord: true
                  DeductionTypes:
                    - DeductionTypeID: 727af5e8-b347-4ae7-85fc-9b82266d0aec
                      DeductionCategory: UNIONFEES
                      Name: Union Fees/Subscriptions
                      AccountCode: "850"
                      ReducesTax: false
                      ReducesSuper: false
                      IsExemptFromW1: false
                      UpdatedDateUTC: /Date(1547500330000+0000)/
                      CurrentRecord: true
                    - DeductionTypeID: 04191cd3-7952-4a87-9911-9d8575280f6a
                      DeductionCategory: NONE
                      Name: Lease Payments
                      AccountCode: "850"
                      ReducesTax: true
                      ReducesSuper: true
                      IsExemptFromW1: false
                      UpdatedDateUTC: /Date(1547500330000+0000)/
                      CurrentRecord: true
                  ReimbursementTypes:
                    - ReimbursementTypeID: 98ba33b2-db5b-4204-bcac-5ddd98d63524
                      Name: Travel Costs
                      AccountCode: "850"
                      UpdatedDateUTC: /Date(1547500330000+0000)/
                      CurrentRecord: true
                    - ReimbursementTypeID: aa8cfa40-d872-4be0-8a94-bb7f00962f74
                      Name: Other Reimbursable Costs
                      AccountCode: "850"
                      UpdatedDateUTC: /Date(1547500330000+0000)/
                      CurrentRecord: true
                  LeaveTypes:
                    - LeaveTypeID: fbcc9dab-6238-43d9-a3f4-d768423fdcfa
                      Name: Annual Leave
                      TypeOfUnits: Hours
                      NormalEntitlement: 152
                      LeaveLoadingRate: 1.0
                      IsPaidLeave: true
                      ShowOnPayslip: true
                      UpdatedDateUTC: /Date(1573620853000+0000)/
                      CurrentRecord: true
                      SGCExempt: false
                      IsQualifyingEarnings: true
                    - LeaveTypeID: 74195ab2-1f2b-4136-8ddc-20387a0b1027
                      Name: Long Service Leave
                      TypeOfUnits: Hours
                      IsPaidLeave: true
                      ShowOnPayslip: false
                      UpdatedDateUTC: /Date(1547500330000+0000)/
                      CurrentRecord: true
                      SGCExempt: false
                      IsQualifyingEarnings: true
                    - LeaveTypeID: ff4d16da-ae8a-4f57-acb3-9ee593996bce
                      Name: Parental Leave (unpaid)
                      TypeOfUnits: Hours
                      IsPaidLeave: false
                      ShowOnPayslip: false
                      UpdatedDateUTC: /Date(1547500330000+0000)/
                      CurrentRecord: true
                      SGCExempt: false
                      IsQualifyingEarnings: false
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIException"
    post:
      security:
        - OAuth2:
            - payroll.settings
      tags:
        - PayrollAu
      summary: Creates a pay item
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
      operationId: createPayItem
      x-example:
        - earningsRate:
          key: earningsRate
          keyPascal: EarningsRate
          keySnake: earnings_rate
          is_object: true
        - earningsName:
          key: name
          keyPascal: Name
          keySnake: name
          object: earningsRate
          default: Ordinary Hours 123
        - earningsAccountCode:
          key: accountCode
          keyPascal: AccountCode
          keySnake: account_code
          object: earningsRate
          default: 477
        - earningsTypeOfUnits:
          key: typeOfUnits
          keyPascal: TypeOfUnits
          keySnake: type_of_units
          object: earningsRate
          default: Hours
        - isExemptFromTax:
          key: isExemptFromTax
          keyPascal: IsExemptFromTax
          keySnake: is_exempt_from_tax
          object: earningsRate
          default: true
          nonString: true
        - isExemptFromSuper:
          key: isExemptFromSuper
          keyPascal: IsExemptFromSuper
          keySnake: is_exempt_from_super
          object: earningsRate
          default: true
          nonString: true
        - isQualifyingEarnings:
          key: isQualifyingEarnings
          keyPascal: IsQualifyingEarnings
          keySnake: is_qualifying_earnings
          object: earningsRate
          default: false
          nonString: true
        - earningsType:
          key: earningsType
          nonString: true
          keyPascal: EarningsType
          default: OVERTIMEEARNINGS
          php: XeroAPI\XeroPHP\Models\PayrollAu\EarningsType::OVERTIMEEARNINGS
          node: EarningsType.OVERTIMEEARNINGS
          ruby: XeroRuby::PayrollAu::EarningsType::OVERTIMEEARNINGS
          python_string: OVERTIMEEARNINGS
          java: com.xero.models.payrollau.EarningsType.OVERTIMEEARNINGS
          csharp: EarningsType.OVERTIMEEARNINGS
          object: earningsRate
          is_last: true
        - deductionType:
          key: deductionType
          keyPascal: DeductionType
          keySnake: deduction_type
          is_object: true
        - deductionTypeName:
          key: name
          keyPascal: Name
          keySnake: name
          default: Union Fees
          object: deductionType
        - deductionAccountCode:
          key: accountCode
          keyPascal: AccountCode
          keySnake: account_code
          object: deductionType
          default: 826
        - reducesTax:
          key: reducesTax
          keyPascal: ReducesTax
          keySnake: reduces_tax
          object: deductionType
          default: true
          nonString: true
        - reducesSuper:
          key: reducesSuper
          keyPascal: ReducesSuper
          keySnake: reduces_super
          object: deductionType
          default: true
          nonString: true
          is_last: true
        - leaveType:
          key: leaveType
          keyPascal: LeaveType
          keySnake: leave_type
          is_object: true
        - leaveTypeName:
          key: name
          keyPascal: Name
          keySnake: name
          default: Annual Leave
          object: leaveType
        - leaveTypeOfUnits:
          key: typeOfUnits
          keyPascal: TypeOfUnits
          keySnake: type_of_units
          object: leaveType
          default: Hours
        - isPaidLeave:
          key: isPaidLeave
          keyPascal: IsPaidLeave
          keySnake: is_paid_leave
          object: leaveType
          default: true
          nonString: true
        - showOnPayslip:
          key: showOnPayslip
          keyPascal: ShowOnPayslip
          keySnake: show_on_payslip
          object: leaveType
          default: true
          is_last: true
          nonString: true
        - reimbursementType:
          key: reimbursementType
          keyPascal: ReimbursementType
          keySnake: reimbursement_type
          is_object: true
        - reimbursementTypeName:
          key: name
          keyPascal: Name
          keySnake: name
          default: Annual Leave
          object: reimbursementType
        - reimbursementTypeAccountCode:
          key: accountCode
          keyPascal: AccountCode
          keySnake: account_code
          object: reimbursementType
          is_last: true
          default: 850
        - earningsRates:
          is_list: true
          key: earningsRates
          keyPascal: EarningsRates
          keySnake: earnings_rates
          csharp: EarningsRate
          java: EarningsRate
        - addEarningsRates:
          is_list_add: true
          key: earningsRates
          keyPascal: EarningsRates
          keySnake: earnings_rates
          java: EarningsRates
          python: earnings_rate
          ruby: earnings_rate
          csharp: EarningsRate
          object: earningsRate
        - deductionTypes:
          is_list: true
          key: deductionTypes
          keyPascal: DeductionTypes
          keySnake: deduction_types
          csharp: DeductionType
          java: DeductionType
        - leaveTypes:
          is_list: true
          key: leaveTypes
          keyPascal: LeaveTypes
          keySnake: leave_types
          csharp: LeaveType
          java: LeaveType
        - addLeaveTypes:
          is_last: true
          is_list_add: true
          key: leaveTypes
          keyPascal: LeaveTypes
          keySnake: leave_types
          java: LeaveTypes
          python: leave_type
          ruby: leave_type
          csharp: LeaveType
          object: leaveType
        - reimbursementTypes:
          is_list: true
          key: reimbursementTypes
          keyPascal: ReimbursementTypes
          keySnake: reimbursement_types
          csharp: ReimbursementType
          java: ReimbursementType
        - addReimbursementTypes:
          is_last: true
          is_list_add: true
          key: reimbursementTypes
          keyPascal: ReimbursementTypes
          keySnake: reimbursement_types
          java: ReimbursementTypes
          python: reimbursement_type
          ruby: reimbursement_type
          csharp: ReimbursementType
          object: reimbursementType
        - payItem:
          key: payItem
          keyPascal: PayItem
          keySnake: pay_item
          is_object: true
        - setEarningsRates:
          is_variable: true
          nonString: true
          key: earningsRates
          keyPascal: EarningsRates
          default: earningsRates
          python: earnings_rates
          ruby: earnings_rates
          object: payItem
        - setDeductionTypes:
          is_variable: true
          nonString: true
          key: deductionTypes
          keyPascal: DeductionTypes
          default: deductionTypes
          python: deduction_types
          ruby: deduction_types
          object: payItem
        - setLeaveTypes:
          is_variable: true
          nonString: true
          key: leaveTypes
          keyPascal: LeaveTypes
          default: leaveTypes
          python: leave_types
          ruby: leave_types
          object: payItem
        - setReimbursementTypes:
          is_variable: true
          nonString: true
          key: reimbursementTypes
          keyPascal: ReimbursementTypes
          default: reimbursementTypes
          python: reimbursement_types
          ruby: reimbursement_types
          object: payItem
          is_last: true
      responses:
        "200":
          description: A successful request - currently returns empty array for JSON
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayItems"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: provider-name
                DateTimeUTC: /Date(1593448963288)/
                PayItems:
                  EarningsRates:
                    - EarningsRateID: 1fa4e226-b711-46ba-a8a7-4344c9c5fb87
                      Name: MyRate
                      EarningsType: ORDINARYTIMEEARNINGS
                      RateType: MULTIPLE
                      AccountCode: "400"
                      Multiplier: 1.5
                      IsExemptFromTax: true
                      IsExemptFromSuper: true
                      AccrueLeave: false
                      IsReportableAsW1: false
                      IsQualifyingEarnings: false
                      AllowanceContributesToAnnualLeaveRate: false
                      AllowanceContributesToOvertimeRate: false
                      UpdatedDateUTC: /Date(1593448963210+0000)/
                      CurrentRecord: true
                    - EarningsRateID: c6905c26-0716-4746-9098-608545e04dd2
                      Name: Redundancy
                      EarningsType: LUMPSUMD
                      RateType: FIXEDAMOUNT
                      AccountCode: "477"
                      IsExemptFromTax: true
                      IsExemptFromSuper: true
                      IsReportableAsW1: true
                      IsQualifyingEarnings: false
                      AllowanceContributesToAnnualLeaveRate: false
                      AllowanceContributesToOvertimeRate: false
                      UpdatedDateUTC: /Date(1476729649000+0000)/
                      CurrentRecord: true
                    - EarningsRateID: 33820094-656e-4db3-b04b-8bd3e2db0a9b
                      Name: ETP Leave Earning
                      EarningsType: EMPLOYMENTTERMINATIONPAYMENT
                      RateType: RATEPERUNIT
                      AccountCode: "477"
                      TypeOfUnits: Hours
                      IsExemptFromTax: false
                      IsExemptFromSuper: true
                      IsReportableAsW1: true
                      IsQualifyingEarnings: false
                      AllowanceContributesToAnnualLeaveRate: false
                      AllowanceContributesToOvertimeRate: false
                      UpdatedDateUTC: /Date(1520900705000+0000)/
                      EmploymentTerminationPaymentType: O
                      CurrentRecord: true
        "400":
          description: invalid input, object invalid - When IsQualifyingEarnings supplied it will be validated against the IsExemptFromSuper and other fields.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayItem"
            example:
              EarningsRates:
                - Name: MyRate
                  AccountCode: "400"
                  TypeOfUnits: "4.00"
                  IsExemptFromTax: false
                  IsExemptFromSuper: true
                  IsReportableAsW1: false
                  IsQualifyingEarnings: true
                  AllowanceContributesToAnnualLeaveRate: false
                  AllowanceContributesToOvertimeRate: false
                  EarningsType: ORDINARYTIMEEARNINGS
                  EarningsRateID: 1fa4e226-b711-46ba-a8a7-4344c9c5fb87
                  RateType: MULTIPLE
                  RatePerUnit: "10.0"
                  Multiplier: 1.5
                  Amount: 5
                  EmploymentTerminationPaymentType: O
  /PayrollCalendars:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.settings
            - payroll.settings.read
      tags:
        - PayrollAu
      operationId: getPayrollCalendars
      summary: Retrieves payroll calendars
      parameters:
        - in: header
          name: If-Modified-Since
          x-snake: if_modified_since
          description: Only records created or modified since this timestamp will be returned
          example: "2020-02-06T12:17:43.202-08:00"
          schema:
            type: string
            format: date-time
        - in: query
          name: where
          description: Filter by an any element
          schema:
            type: string
          example: Status=="ACTIVE"
        - in: query
          name: order
          description: Order by an any element
          schema:
            type: string
          example: EmailAddress%20DESC
        - in: query
          name: page
          description: e.g. page=1 – Up to 100 objects will be returned in a single API call
          schema:
            type: integer
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayrollCalendars"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: provider-name
                DateTimeUTC: /Date(1573611063408)/
                PayrollCalendars:
                  - PayrollCalendarID: 78bb86b9-e1ea-47ac-b75d-f087a81931de
                    Name: Sid Weekly
                    CalendarType: WEEKLY
                    StartDate: /Date(1573171200000+0000)/
                    PaymentDate: /Date(1573776000000+0000)/
                    UpdatedDateUTC: /Date(1573077687000+0000)/
                    ReferenceDate: /Date(1573171200000+0000)/
                  - PayrollCalendarID: 22a05fc5-386d-4950-9842-3e7a6c812135
                    Name: Weekly
                    CalendarType: WEEKLY
                    StartDate: /Date(1546560000000+0000)/
                    PaymentDate: /Date(1547164800000+0000)/
                    UpdatedDateUTC: /Date(1572916157000+0000)/
                    ReferenceDate: /Date(1573171200000+0000)/
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIException"
    post:
      security:
        - OAuth2:
            - payroll.settings
      tags:
        - PayrollAu
      summary: Creates a Payroll Calendar
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
      operationId: createPayrollCalendar
      x-hasPayrollAuProblem: true
      x-example:
        - startDateValue:
          key: startDate
          keyPascal: StartDate
          keySnake: start_date
          is_date: true
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2020, Month.OCTOBER, 28)
          java: LocalDate.of(2020, Month.OCTOBER, 28)
          csharp: new DateTime(2020, 10, 10)
          php: new DateTime('2020-10-28')
          node: "'2000-10-28'"
          python: dateutil.parser.parse('2020-10-28T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - paymentDateValue:
          key: paymentDate
          keyPascal: PaymentDate
          keySnake: payment_date
          is_date: true
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2020, Month.OCTOBER, 30)
          java: LocalDate.of(2020, Month.OCTOBER, 30)
          csharp: new DateTime(2020, 10, 30)
          php: new DateTime('2020-10-30')
          node: "'2000-10-30'"
          python: dateutil.parser.parse('2000-10-30T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - payrollCalendar:
          is_object: true
          key: payrollCalendar
          keyPascal: PayrollCalendar
          keySnake: payroll_calendar
        - name:
          key: name
          keyPascal: Name
          keySnake: name
          default: Weekly
          object: payrollCalendar
        - calendarType:
          nonString: true
          key: calendarType
          keyPascal: CalendarType
          keySnake: calendar_type
          default: WEEKLY
          php: XeroAPI\XeroPHP\Models\PayrollAu\CalendarType::WEEKLY
          node: CalendarType.WEEKLY
          ruby: XeroRuby::PayrollAu::CalendarType::WEEKLY
          python_string: WEEKLY
          java: com.xero.models.payrollau.CalendarType.WEEKLY
          csharp: CalendarType.WEEKLY
          object: payrollCalendar
        - setStartDate:
          is_variable: true
          nonString: true
          key: startDate
          keyPascal: StartDate
          keySnake: start_date
          default: startDate
          python: start_date
          ruby: start_date
          object: payrollCalendar
        - setPaymentDate:
          is_last: true
          is_variable: true
          nonString: true
          key: paymentDate
          keyPascal: PaymentDate
          keySnake: payment_date
          default: paymentDate
          python: payment_date
          ruby: payment_date
          object: payrollCalendar
        - payrollCalendars:
          is_list: true
          key: payrollCalendars
          keyPascal: PayrollCalendars
          keySnake: payroll_calendars
          csharp: PayrollCalendar
          java: PayrollCalendar
        - addPayrollCalendars:
          is_last: true
          is_list_add: true
          key: payrollCalendars
          keyPascal: PayrollCalendars
          keySnake: payroll_calendars
          java: PayrollCalendars
          python: payroll_calendar
          ruby: payroll_calendar
          csharp: PayrollCalendar
          object: payrollCalendar
      responses:
        "200":
          description: A successful request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayrollCalendars"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: provider-name
                DateTimeUTC: /Date(1584125518649)/
                PayrollCalendars:
                  - PayrollCalendarID: 57accbfe-f729-4be3-b3cb-8c3445c61d3a
                    Name: MyCal37127
                    CalendarType: WEEKLY
                    StartDate: /Date(1572998400000+0000)/
                    PaymentDate: /Date(1573516800000+0000)/
                    UpdatedDateUTC: /Date(1584125518633+0000)/
        "400":
          description: invalid input, object invalid - TODO
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/PayrollCalendar"
            example: '[ { "PayrollCalendarID":"78bb86b9-e1ea-47ac-b75d-f087a81931de", "PayRunPeriodStartDate":"/Date(1572566400000+0000)/", "PayRunPeriodEndDate":"/Date(1573084800000+0000)/", "PayRunStatus":"DRAFT", "PaymentDate":"/Date(1573171200000+0000)/" } ]'
  /PayrollCalendars/{PayrollCalendarID}:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.settings
            - payroll.settings.read
      tags:
        - PayrollAu
      operationId: getPayrollCalendar
      summary: Retrieves payroll calendar by using a unique payroll calendar ID
      parameters:
        - name: PayrollCalendarID
          x-snake: payroll_calendar_id
          in: path
          required: true
          description: Payroll Calendar id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayrollCalendars"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: provider-name
                DateTimeUTC: /Date(1573611453008)/
                PayrollCalendars:
                  - PayrollCalendarID: 78bb86b9-e1ea-47ac-b75d-f087a81931de
                    Name: Sid Weekly
                    CalendarType: WEEKLY
                    StartDate: /Date(1573171200000+0000)/
                    PaymentDate: /Date(1573776000000+0000)/
                    UpdatedDateUTC: /Date(1573077687000+0000)/
                    ReferenceDate: /Date(1573171200000+0000)/
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIException"
  /PayRuns:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.payruns
            - payroll.payruns.read
      tags:
        - PayrollAu
      operationId: getPayRuns
      summary: Retrieves pay runs
      parameters:
        - in: header
          name: If-Modified-Since
          x-snake: if_modified_since
          description: Only records created or modified since this timestamp will be returned
          example: "2020-02-06T12:17:43.202-08:00"
          schema:
            type: string
            format: date-time
        - in: query
          name: where
          description: Filter by an any element
          schema:
            type: string
          example: Status=="ACTIVE"
        - in: query
          name: order
          description: Order by an any element
          schema:
            type: string
          example: EmailAddress%20DESC
        - in: query
          name: page
          description: e.g. page=1 – Up to 100 PayRuns will be returned in a single API call
          schema:
            type: integer
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayRuns"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: provider-name
                DateTimeUTC: /Date(1573611063074)/
                PayRuns:
                  - PayRunID: 5de420bb-4ad2-405c-beb1-2610bcc2144e
                    PayrollCalendarID: 78bb86b9-e1ea-47ac-b75d-f087a81931de
                    PayRunPeriodStartDate: /Date(1572566400000+0000)/
                    PayRunPeriodEndDate: /Date(1573084800000+0000)/
                    PaymentDate: /Date(1573171200000+0000)/
                    Wages: 200.00
                    Deductions: 33.00
                    Tax: 78.00
                    Super: 0.00
                    Reimbursement: 22.00
                    NetPay: 89.00
                    PayRunStatus: POSTED
                    UpdatedDateUTC: /Date(1573610970000+0000)/
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIException"
    post:
      security:
        - OAuth2:
            - payroll.payruns
      tags:
        - PayrollAu
      summary: Creates a pay run
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
      operationId: createPayRun
      x-hasPayrollAuProblem: true
      x-example:
        - payrun:
          key: payRun
          keyPascal: PayRun
          keySnake: pay_run
          is_object: true
        - payrollCalendarID:
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          key: payrollCalendarID
          keyPascal: PayrollCalendarID
          keySnake: payroll_calendar_id
          object: payRun
          is_last: true
      responses:
        "200":
          description: A successful request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayRuns"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: provider-name
                DateTimeUTC: /Date(1573685818311)/
                PayRuns:
                  - PayRunID: d1348fab-f47a-4697-beea-922ee262407a
                    PayrollCalendarID: 78bb86b9-e1ea-47ac-b75d-f087a81931de
                    PayRunPeriodStartDate: /Date(1572566400000+0000)/
                    PayRunPeriodEndDate: /Date(1573084800000+0000)/
                    PaymentDate: /Date(1573171200000+0000)/
                    PayRunStatus: DRAFT
                    UpdatedDateUTC: /Date(1573685818311+0000)/
        "400":
          description: invalid input, object invalid - TODO
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/PayRun"
            example: '[ { "PayrollCalendarID": "78bb86b9-e1ea-47ac-b75d-f087a81931de", "PayRunPeriodStartDate": "/Date(1572566400000+0000)/", "PayRunPeriodEndDate": "/Date(1573084800000+0000)/", "PayRunStatus": "DRAFT", "PaymentDate": "/Date(1573171200000+0000)/" } ]'
  /PayRuns/{PayRunID}:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.payruns
            - payroll.payruns.read
      tags:
        - PayrollAu
      summary: Retrieves a pay run by using a unique pay run id
      operationId: getPayRun
      parameters:
        - name: PayRunID
          x-snake: pay_run_id
          in: path
          required: true
          description: PayRun id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayRuns"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: provider-name
                DateTimeUTC: /Date(1573692531699)/
                PayRuns:
                  - PayRunID: 21d6317b-5319-4b3d-8d78-48904db6b665
                    PayrollCalendarID: 78bb86b9-e1ea-47ac-b75d-f087a81931de
                    PayRunPeriodStartDate: /Date(1572566400000+0000)/
                    PayRunPeriodEndDate: /Date(1573084800000+0000)/
                    PaymentDate: /Date(1573171200000+0000)/
                    Wages: 205.4
                    Deductions: 37
                    Tax: 0
                    Super: 0
                    Reimbursement: 77
                    NetPay: 168.4
                    PayRunStatus: POSTED
                    UpdatedDateUTC: /Date(1573692155000+0000)/
                    Payslips:
                      - EmployeeID: cdfb8371-0b21-4b8a-8903-1024df6c391e
                        PayslipID: c81e8bcc-56b0-4740-b46b-767753a6ee45
                        FirstName: Albus
                        LastName: Dumbledore
                        EmployeeGroup: foo
                        Wages: 5.4
                        Deductions: 4
                        Tax: 0
                        Super: 0
                        Reimbursements: 55
                        NetPay: 1.4
                        UpdatedDateUTC: /Date(1573692155000+0000)/
                      - EmployeeID: 7aa04979-ded5-44d9-b09a-793749425844
                        PayslipID: 76b9cb4e-d024-47cf-b09a-4c9cea2870f1
                        FirstName: John
                        LastName: Smith
                        Wages: 200
                        Deductions: 33
                        Tax: 0
                        Super: 0
                        Reimbursements: 22
                        NetPay: 167
                        UpdatedDateUTC: /Date(1573692155000+0000)/
    post:
      security:
        - OAuth2:
            - payroll.payruns
      tags:
        - PayrollAu
      summary: Updates a pay run
      operationId: updatePayRun
      description: Update properties on a single PayRun
      x-example:
        - payrun:
          key: payRun
          keyPascal: PayRun
          keySnake: pay_run
          is_object: true
        - payrollCalendarID:
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          key: payrollCalendarID
          keyPascal: PayrollCalendarID
          keySnake: payroll_calendar_id
          object: payRun
          is_last: true
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: PayRunID
          x-snake: pay_run_id
          in: path
          required: true
          description: PayRun id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: A successful request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayRuns"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: provider-name
                DateTimeUTC: /Date(1573693093680)/
                PayRuns:
                  - PayRunID: f8fcda54-643f-4406-902a-d7b020d0a036
                    PayrollCalendarID: 78bb86b9-e1ea-47ac-b75d-f087a81931de
                    PayRunPeriodStartDate: /Date(1572566400000+0000)/
                    PayRunPeriodEndDate: /Date(1573084800000+0000)/
                    PaymentDate: /Date(1573171200000+0000)/
                    PayRunStatus: POSTED
                    UpdatedDateUTC: /Date(1573693093000+0000)/
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/PayRun"
              example: '[ { "PayRunStatus": "POSTED" } ]'
  /Payslip/{PayslipID}:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.payslip
            - payroll.payslip.read
      tags:
        - PayrollAu
      summary: Retrieves for a payslip by a unique payslip id
      operationId: getPayslip
      parameters:
        - name: PayslipID
          x-snake: payslip_id
          in: path
          required: true
          description: Payslip id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayslipObject"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: provider-name
                DateTimeUTC: /Date(1573692677622)/
                Payslip:
                  EmployeeID: cdfb8371-0b21-4b8a-8903-1024df6c391e
                  PayslipID: c81e8bcc-56b0-4740-b46b-767753a6ee45
                  FirstName: Albus
                  LastName: Dumbledore
                  Tax: 0
                  NetPay: 1.4
                  UpdatedDateUTC: /Date(1573692155000+0000)/
                  EarningsLines:
                    - EarningsRateID: ab874dfb-ab09-4c91-954e-43acf6fc23b4
                      RatePerUnit: 3
                      NumberOfUnits: 1.8
                  LeaveEarningsLines:
                    - EarningsRateID: ab874dfb-ab09-4c91-954e-43acf6fc23b4
                      RatePerUnit: 0
                      NumberOfUnits: 0.6
                      PayOutType: DEFAULT
                    - EarningsRateID: ab874dfb-ab09-4c91-954e-43acf6fc23b4
                      RatePerUnit: 3
                      NumberOfUnits: 0.6
                      PayOutType: CASHED_OUT
                  TimesheetEarningsLines: []
                  DeductionLines:
                    - Amount: 4
                      CalculationType: FIXEDAMOUNT
                      DeductionTypeID: ed05ea82-e40a-4eb6-9c2e-4b3c03e7e938
                  LeaveAccrualLines:
                    - LeaveTypeID: 184ea8f7-d143-46dd-bef3-0c60e1aa6fca
                      NumberOfUnits: 0.0769
                      AutoCalculate: true
                  ReimbursementLines:
                    - ReimbursementTypeID: aa8cfa40-d872-4be0-8a94-bb7f00962f74
                      Description: boo
                      ExpenseAccount: "850"
                      Amount: 55
                  SuperannuationLines:
                    - ContributionType: SGC
                      CalculationType: STATUTORY
                      MinimumMonthlyEarnings: 450
                      ExpenseAccountCode: "478"
                      LiabilityAccountCode: "826"
                      PaymentDateForThisPeriod: /Date(1580169600000+0000)/
                      Amount: 0
                  TaxLines:
                    - PayslipTaxLineID: c129696e-36ef-4677-a54c-96095787ca20
                      TaxTypeName: PAYG Tax
                      Description: No tax file number (Australian resident)
                      Amount: 0
                      LiabilityAccount: "825"
    post:
      security:
        - OAuth2:
            - payroll.payslip
      tags:
        - PayrollAu
      summary: Updates a payslip
      operationId: updatePayslip
      x-hasPayrollAuError: true
      x-example:
        - earningsLine:
          is_object: true
          key: earningsLine
          keyPascal: EarningsLine
          keySnake: earnings_line
        - earningsRateID:
          is_uuid: true
          key: earningsRateID
          keyPascal: EarningsRateID
          keySnake: earnings_rate_id
          default: 00000000-0000-0000-0000-000000000000
          object: earningsLine
        - ratePerUnit:
          nonString: true
          key: ratePerUnit
          keyPascal: RatePerUnit
          keySnake: rate_per_unit
          default: 20
          object: earningsLine
        - numberOfUnits:
          nonString: true
          key: numberOfUnits
          keyPascal: NumberOfUnits
          keySnake: number_of_units
          default: 1
          object: earningsLine
          is_last: true
        - earningsLines:
          is_list: true
          key: earningsLines
          keyPascal: EarningsLines
          keySnake: earnings_lines
          csharp: EarningsLine
          java: EarningsLine
        - addEarningsRates:
          is_last: true
          is_list_add: true
          key: earningsLines
          keyPascal: EarningsLines
          keySnake: earnings_lines
          java: EarningsLine
          python: earnings_line
          ruby: earnings_line
          csharp: EarningsLine
          object: earningsLine
        - payslipLine:
          key: payslipLine
          keyPascal: PayslipLines
          keySnake: payslip_lines
          python: payslip_line
          ruby: payslip_line
          is_object: true
        - setEarningsLines:
          key: earningsLines
          keyPascal: EarningsLines
          keySnake: earnings_lines
          object: payslipLine
          is_last: true
          default: earningsLines
          nonString: true
        - payslipLines:
          is_list: true
          key: payslipLines
          keyPascal: PayslipLines
          keySnake: payslip_lines
          csharp: PayslipLines
          java: PayslipLines
          python: payslipLines
        - addPayslipLines:
          is_last: true
          is_list_add: true
          key: payslipLines
          keyPayscal: PayslipLines
          keySnake: payslip_lines
          java: PayslipLine
          python: payslip_line
          ruby: payslip_line
          csharp: PayslipLine
          object: payslipLine
      description: Update lines on a single payslips
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: PayslipID
          x-snake: payslip_id
          in: path
          required: true
          description: Payslip id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: A successful request - currently returns empty array for JSON
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payslips"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: provider-name
                DateTimeUTC: /Date(1589568253813)/
                Payslips:
                  - EmployeeID: cdfb8371-0b21-4b8a-8903-1024df6c391e
                    PayslipID: c81e8bcc-56b0-4740-b46b-767753a6ee45
                    FirstName: Albus
                    LastName: Dumbledore
                    LastEdited: /Date(1589568253735+0000)/
                    Tax: 0
                    NetPay: 1.4
                    UpdatedDateUTC: /Date(1589568253735+0000)/
                    DeductionLines:
                      - Amount: 4
                        CalculationType: FIXEDAMOUNT
                        DeductionTypeID: ed05ea82-e40a-4eb6-9c2e-4b3c03e7e938
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/PayslipLines"
            example:
              Payslip:
                EmployeeID: cdfb8371-0b21-4b8a-8903-1024df6c391e
                DeductionLines:
                  - DeductionTypeID: 727af5e8-b347-4ae7-85fc-9b82266d0aec
                    CalculationType: FIXEDAMOUNT
                    NumberOfUnits: 10
  /Settings:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.settings
            - payroll.settings.read
      tags:
        - PayrollAu
      operationId: getSettings
      summary: Retrieves payroll settings
      responses:
        "200":
          description: payroll settings
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SettingsObject"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: provider-name
                DateTimeUTC: /Date(1573585252781)/
                Settings:
                  Accounts:
                    - AccountID: 85bd2954-7ef5-4fbe-9e40-a1990d0fd63f
                      Type: BANK
                      Code: "094"
                      Name: Bank of A
                    - AccountID: 7e65fa75-1c64-43d7-b0b4-c05f196e2190
                      Type: WAGESPAYABLELIABILITY
                      Code: "804"
                      Name: Wages Payable - Payroll
                    - AccountID: dbc164fa-0cdf-4848-92d3-0d1dc864c53f
                      Type: PAYGLIABILITY
                      Code: "825"
                      Name: PAYG Withholdings Payable
                    - AccountID: 7dad84d4-bc7a-482e-99b1-d879e4856578
                      Type: SUPERANNUATIONEXPENSE
                      Code: "478"
                      Name: Superannuation
                    - AccountID: df3679fe-5ebc-42ce-a7ac-b4d36b520795
                      Type: SUPERANNUATIONLIABILITY
                      Code: "826"
                      Name: Superannuation Payable
                    - AccountID: 7e130864-5864-4c60-94eb-3c53c95da138
                      Type: WAGESEXPENSE
                      Code: "477"
                      Name: Wages and Salaries
                  TrackingCategories:
                    EmployeeGroups:
                      TrackingCategoryID: a28f419f-6ec3-4dcf-9be0-7959ea983630
                      TrackingCategoryName: Foo70317
                    TimesheetCategories:
                      TrackingCategoryID: 89375aed-ed51-4624-9e5d-92db6bfa8974
                      TrackingCategoryName: Foo32551
                  DaysInPayrollYear: "364"
                  EmployeesAreSTP2: false
  /Superfunds:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.settings
            - payroll.settings.read
      tags:
        - PayrollAu
      operationId: getSuperfunds
      summary: Retrieves superfunds
      parameters:
        - in: header
          name: If-Modified-Since
          x-snake: if_modified_since
          description: Only records created or modified since this timestamp will be returned
          example: "2020-02-06T12:17:43.202-08:00"
          schema:
            type: string
            format: date-time
        - in: query
          name: where
          description: Filter by an any element
          schema:
            type: string
          example: Status=="ACTIVE"
        - in: query
          name: order
          description: Order by an any element
          schema:
            type: string
          example: EmailAddress%20DESC
        - in: query
          name: page
          description: e.g. page=1 – Up to 100 SuperFunds will be returned in a single API call
          schema:
            type: integer
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuperFunds"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: provider-name
                DateTimeUTC: /Date(1573570941142)/
                SuperFunds:
                  - SuperFundID: fde8e070-bf59-4e56-b1d7-c75a09474b8d
                    Name: Accumulate Plus (Commonwealth Bank Group Super)
                    Type: REGULATED
                    USI: OSF0001AU
                    UpdatedDateUTC: /Date(1573510468000+0000)/
                  - SuperFundID: 69079de5-67ef-43bb-b5a5-3e7c2ccad7f0
                    Name: AMG Super
                    Type: REGULATED
                    USI: PTC0133AU
                    UpdatedDateUTC: /Date(1573490487000+0000)/
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APIException"
    post:
      security:
        - OAuth2:
            - payroll.settings
      tags:
        - PayrollAu
      summary: Creates a superfund
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
      operationId: createSuperfund
      x-example:
        - superfund:
          key: superFund
          keyPascal: SuperFund
          keySnake: super_fund
          is_object: true
        - type:
          key: type
          keyPascal: Type
          keySnake: type
          object: superfund
          nonString: true
          default: REGULATED
          php: XeroAPI\XeroPHP\Models\PayrollAu\SuperFundType::REGULATED
          node: SuperFundType.REGULATED
          ruby: XeroRuby::PayrollAu::SuperFundType::REGULATED
          python_string: REGULATED
          java: com.xero.models.payrollau.SuperFundType.REGULATED
          csharp: SuperFundType.REGULATED
        - usi:
          key: USI
          keyPascal: USI
          keySnake: USI
          default: 40022701955002
          object: superfund
          is_last: true
      x-hasPayrollAuProblem: true
      responses:
        "200":
          description: A successful request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuperFunds"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: provider-name
                DateTimeUTC: /Date(1573583393024)/
                SuperFunds:
                  - SuperFundID: e02e44eb-2dba-4d5e-84da-8a0c3a4a4fef
                    Name: AMG Super
                    Type: REGULATED
                    ABN: "30099320583"
                    USI: PTC0133AU
                    AccountNumber: FB36350
                    AccountName: Foo38428
                    UpdatedDateUTC: /Date(1573583393009+0000)/
        "400":
          description: invalid input, object invalid - TODO
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/SuperFund"
            example: '[ { "usi":"PTC0133AU", "Type":"REGULATED", "Name":"Bar99359", "AccountNumber":"FB36350", "AccountName":"Foo38428", "USI":"PTC0133AU" } ]'
  /Superfunds/{SuperFundID}:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.settings
            - payroll.settings.read
      tags:
        - PayrollAu
      summary: Retrieves a superfund by using a unique superfund ID
      operationId: getSuperfund
      parameters:
        - name: SuperFundID
          x-snake: super_fund_id
          in: path
          required: true
          description: Superfund id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuperFunds"
              example:
                Id: 00000000-0000-0000-0000-000000000000
                Status: OK
                ProviderName: provider-name
                DateTimeUTC: /Date(1573571518603)/
                SuperFunds:
                  - SuperFundID: 540f4327-dda2-4b36-9c2f-2fe1c93a72b5
                    Name: My Self Managed one
                    Type: SMSF
                    ABN: "53004085616"
                    EmployerNumber: "9876543"
                    BSB: "324324"
                    AccountNumber: "234234234"
                    AccountName: My Checking
                    UpdatedDateUTC: /Date(1573571429000+0000)/
                    ElectronicServiceAddress: FG48739
    post:
[...]
