openapi: 3.0.0
info:
  version: 12.0.0
  title: "Xero Payroll NZ"
  description: "This is the Xero Payroll API for orgs in the NZ region."
  termsOfService: "https://developer.xero.com/xero-developer-platform-terms-conditions/"
  contact:
    name: Xero Platform Team
    email: api@xero.com
    url: https://developer.xero.com
tags:
  - name: PayrollNz
servers:
  - description: Xero Payroll NZ API
    url: https://api.xero.com/payroll.xro/2.0
paths:
  /Employees:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollNz
      operationId: getEmployees
      x-hasPayrollUkProblem: true
      summary: Retrieves employees
      parameters:
        - in: query
          name: filter
          description: Filter by first name and/or lastname
          schema:
            type: string
          example: firstName==John,lastName==Smith
        - in: query
          name: page
          description: Page number which specifies the set of records to retrieve. By default the number of the records per set is 100.
          schema:
            type: integer
          example: 5
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Employees"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-24T20:16:14.6198711
                httpStatusCode: OK
                pagination:
                  page: 1
                  pageSize: 100
                  pageCount: 1
                  itemCount: 8
                problem: null
                employees:
                  - employeeID: 68342973-c405-4b86-b5d3-d7b877c27995
                    firstName: Casual
                    lastName: Worker
                    dateOfBirth: 1990-12-01T00:00:00
                    gender: M
                    email: null
                    phoneNumber: null
                    startDate: 2019-02-07T00:00:00
                    address:
                      addressLine1: 30 King ST
                      addressLine2: null
                      city: Rangiora
                      suburb: null
                      countryName: NEW ZEALAND
                      postCode: "7400"
                    payrollCalendarID: 9aa56064-990f-4ad3-a189-d966d8f6a030
                    updatedDateUTC: 2019-09-24T05:08:45
                    createdDateUTC: 2019-09-22T23:58:23
                    endDate: null
                    engagementType: Casual
                    fixedTermEndDate: null
                  - employeeID: 1c4f0c92-03ad-43f2-a690-ee51397ece6a
                    firstName: GST
                    lastName: Contractor
                    dateOfBirth: null
                    gender: null
                    email: null
                    phoneNumber: null
                    startDate: 2019-01-30T00:00:00
                    address:
                      addressLine1: null
                      addressLine2: null
                      city: null
                      suburb: null
                      countryName: null
                      postCode: null
                    payrollCalendarID: 9aa56064-990f-4ad3-a189-d966d8f6a030
                    updatedDateUTC: 2019-09-23T00:16:25
                    createdDateUTC: 2019-09-23T00:12:16
                    endDate: null
                    engagementType: null
                    fixedTermEndDate: null
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
    post:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollNz
      operationId: createEmployee
      x-hasPayrollUkProblem: true
      x-example:
        - dateOfBirthValue:
          key: dateOfBirth
          keyPascal: DateOfBirth
          keySnake: date_of_birth
          is_date: true
          object: employee
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2000, Month.OCTOBER, 28)
          java: LocalDate.of(2000, Month.OCTOBER, 28)
          csharp: new DateTime(2000, 10, 10)
          php: new DateTime('2000-10-28')
          node: "'2000-10-28'"
          python: dateutil.parser.parse('2000-10-28T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - Address:
          key: address
          keyPascal: Address
          keySnake: address
          is_object: true
        - addressLine1:
          key: addressLine1
          keyPascal: AddressLine1
          keySnake: address_line_1
          default: 123 Test st
          object: address
        - city:
          key: city
          keyPascal: City
          keySnake: city
          object: address
          default: Rangiora
        - postCode:
          key: postCode
          keyPascal: PostCode
          keySnake: post_code
          object: address
          default: 7400
        - countryName:
          key: countryName
          keyPascal: CountryName
          keySnake: country_name
          default: NEW ZEALAND
          object: address
          is_last: true
        - employee:
          key: employee
          keyPascal: Employee
          is_object: true
        - firstName:
          key: firstName
          keyPascal: FirstName
          keySnake: first_name
          default: Adam
          object: employee
        - lastName:
          key: lastName
          keyPascal: LastName
          keySnake: last_name
          default: Adamson
          object: employee
        - dateOfBirth:
          is_variable: true
          nonString: true
          key: dateOfBirth
          keyPascal: DateOfBirth
          keySnake: date_of_birth
          default: dateOfBirth
          python: date_of_birth
          ruby: date_of_birth
          object: employee
        - setHomeAddress:
          is_last: true
          is_variable: true
          nonString: true
          key: address
          keyPascal: Address
          default: address
          python: address
          ruby: address
          object: employee
      summary: Creates an employees
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeObject"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-24T20:27:22.5779577
                httpStatusCode: OK
                pagination: null
                problem: null
                employee:
                  employeeID: 658be485-3feb-402e-9e77-ac17623aad42
                  firstName: Mike
                  lastName: Johntzxzpxhmkgson
                  dateOfBirth: 2000-01-01T00:00:00
                  gender: M
                  email: 83139@starkindustries.com
                  phoneNumber: null
                  startDate: null
                  address:
                    addressLine1: 101 Green St
                    addressLine2: null
                    city: San Francisco
                    suburb: null
                    countryName: null
                    postCode: "4351"
                  payrollCalendarID: null
                  updatedDateUTC: 2020-08-24T20:27:22
                  createdDateUTC: 2020-08-24T20:27:22
                  endDate: null
                  engagementType: null
                  fixedTermEndDate: null
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Employee"
            example:
              title: Mr
              firstName: Mike
              lastName: Johntzxzpxhmkgson
              dateOfBirth: "2000-01-01"
              address:
                addressLine1: 101 Green St
                city: San Francisco
                postCode: "4351"
                countryName: United Kingdom
              email: 83139@starkindustries.com
              gender: M
  /Employees/{EmployeeID}:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollNz
      operationId: getEmployee
      x-hasPayrollUkProblem: true
      summary: Retrieves an employees using a unique employee ID
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeObject"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-24T20:16:15.3542191
                httpStatusCode: OK
                pagination: null
                problem: null
                employee:
                  employeeID: 68342973-c405-4b86-b5d3-d7b877c27995
                  firstName: Casual
                  lastName: Worker
                  dateOfBirth: 1990-12-01T00:00:00
                  gender: M
                  email: null
                  phoneNumber: null
                  startDate: 2019-02-07T00:00:00
                  address:
                    addressLine1: 30 King ST
                    addressLine2: null
                    city: Rangiora
                    suburb: null
                    countryName: NEW ZEALAND
                    postCode: "7400"
                  payrollCalendarID: 9aa56064-990f-4ad3-a189-d966d8f6a030
                  updatedDateUTC: 2019-09-24T05:08:45
                  createdDateUTC: 2019-09-22T23:58:23
                  endDate: null
                  engagementType: FixedTerm
                  fixedTermEndDate: 2026-01-01T00:00:00
    put:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollNz
      operationId: updateEmployee
      x-hasPayrollUkProblem: true
      x-example:
        - dateOfBirthValue:
          key: dateOfBirth
          keyPascal: DateOfBirth
          keySnake: date_of_birth
          is_date: true
          object: employee
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2000, Month.OCTOBER, 28)
          java: LocalDate.of(2000, Month.OCTOBER, 28)
          csharp: new DateTime(2000, 10, 10)
          php: new DateTime('2000-10-28')
          node: "'2000-10-28'"
          python: dateutil.parser.parse('2000-10-28T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - Address:
          key: address
          keyPascal: Address
          keySnake: address
          is_object: true
        - addressLine1:
          key: addressLine1
          keyPascal: AddressLine1
          keySnake: address_line_1
          default: 123 Test st
          object: address
        - city:
          key: city
          keyPascal: City
          keySnake: city
          object: address
          default: Rangiora
        - postCode:
          key: postCode
          keyPascal: PostCode
          keySnake: post_code
          object: address
          default: 7400
        - countryName:
          key: countryName
          keyPascal: CountryName
          keySnake: country_name
          default: NEW ZEALAND
          object: address
          is_last: true
        - employee:
          key: employee
          keyPascal: Employee
          is_object: true
        - firstName:
          key: firstName
          keyPascal: FirstName
          keySnake: first_name
          default: Adam
          object: employee
        - lastName:
          key: lastName
          keyPascal: LastName
          keySnake: last_name
          default: Adamson
          object: employee
        - dateOfBirth:
          is_variable: true
          nonString: true
          key: dateOfBirth
          keyPascal: DateOfBirth
          keySnake: date_of_birth
          default: dateOfBirth
          python: date_of_birth
          ruby: date_of_birth
          object: employee
        - setHomeAddress:
          is_last: true
          is_variable: true
          nonString: true
          key: address
          keyPascal: Address
          default: address
          python: address
          ruby: address
          object: employee
      summary: Updates an existing employee
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeObject"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-24T20:29:43.3452832
                httpStatusCode: OK
                pagination: null
                problem: null
                employee:
                  employeeID: 68342973-c405-4b86-b5d3-d7b877c27995
                  firstName: Tony
                  lastName: Starkgtrzgquusrson
                  dateOfBirth: 1999-01-01T00:00:00
                  gender: M
                  email: 58315@starkindustries.com
                  phoneNumber: null
                  startDate: 2019-02-07T00:00:00
                  address:
                    addressLine1: 101 Green St
                    addressLine2: null
                    city: San Francisco
                    suburb: null
                    countryName: null
                    postCode: "4432"
                  payrollCalendarID: 9aa56064-990f-4ad3-a189-d966d8f6a030
                  updatedDateUTC: 2020-08-24T20:29:43
                  createdDateUTC: 2019-09-22T23:58:23
                  endDate: null
                  engagementType: null
                  fixedTermEndDate: null
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Employee"
            example:
              title: Mr
              firstName: Tony
              lastName: Starkgtrzgquusrson
              dateOfBirth: "1999-01-01"
              address:
                addressLine1: 101 Green St
                city: San Francisco
                postCode: "4432"
                countryName: United Kingdom
              email: 58315@starkindustries.com
              gender: M
  /Employees/{EmployeeID}/Employment:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    post:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollNz
      operationId: createEmployment
      x-hasPayrollUkProblem: true
      x-example:
        - startDateValue:
          key: startDate
          keyPascal: StartDate
          keySnake: start_date
          is_date: true
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2020, Month.OCTOBER, 28)
          java: LocalDate.of(2020, Month.OCTOBER, 28)
          csharp: new DateTime(2020, 10, 10)
          php: new DateTime('2020-10-28')
          node: "'2020-10-28'"
          python: dateutil.parser.parse('2020-10-28T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - employment:
          key: employment
          keyPascal: Employment
          keySnake: employment
          is_object: true
        - payrollCalendarID:
          key: payrollCalendarID
          keyPascal: PayrollCalendarID
          keySnake: payroll_calendar_id
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          object: employment
        - startDate:
          is_variable: true
          nonString: true
          key: startDate
          keyPascal: StartDate
          keySnake: start_date
          default: startDate
          python: start_date
          ruby: start_date
          object: employment
        - engagementType:
          is_variable: true
          key: engagementType
          keyPascal: EngagementType
          keySnake: engagement_type
          object: employment
        - fixedTermEndDate:
          is_variable: true
          nonString: true
          key: fixedTermEndDate
          keyPascal: FixedTermEndDate
          keySnake: fixed_term_end_date
          object: employment
          is_last: true
      summary: Creates an employment detail for a specific employee
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmploymentObject"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-24T20:53:58.8624623
                httpStatusCode: OK
                pagination: null
                problem: null
                employment:
                  payrollCalendarID: 9aa56064-990f-4ad3-a189-d966d8f6a030
                  startDate: 2020-09-02T00:00:00
                  engagementType: FixedTerm
                  fixedTermEndDate: 2026-01-01T00:00:00
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Employment"
            example:
              payrollCalendarID: 9aa56064-990f-4ad3-a189-d966d8f6a030
              startDate: "2020-09-02"
              engagementType: FixedTerm
              fixedTermEndDate: "2026-01-01"
  /Employees/{EmployeeID}/Tax:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollNz
      operationId: getEmployeeTax
      x-hasPayrollUkProblem: true
      summary: Retrieves tax records for a specific employee
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeTaxObject"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-24T20:57:27.5434491
                httpStatusCode: OK
                pagination: null
                problem: null
                employeeTax:
                  irdNumber: "111111111"
                  taxCode: M
                  esctRatePercentage: 17.5
                  isEligibleForKiwiSaver: true
                  hasSpecialStudentLoanRate: false
                  specialStudentLoanRatePercentage: null
                  specialTaxRatePercentage: null
                  kiwiSaverContributions: MakeContributions
                  kiwiSaverOptOutDate: null
                  kiwiSaverContributionHolidayEndDate: null
                  kiwiSaverEmployeeContributionRatePercentage: 3
                  kiwiSaverEmployerContributionRatePercentage: 3
                  kiwiSaverEmployerSalarySacrificeContributionRatePercentage: 0
                  hasStudentLoanBalance: false
                  studentLoanBalance: null
                  studentLoanAsAt: null
    post:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollNz
      operationId: updateEmployeeTax
      x-hasPayrollUkProblem: true
      x-example:
        - studentLoanAsAtValue:
          key: studentLoanAsAt
          keyPascal: StudentLoanAsAt
          keySnake: student_loan_as_at
          is_date: true
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2020, Month.OCTOBER, 30)
          java: LocalDate.of(2020, Month.OCTOBER, 30)
          csharp: new DateTime(2020, 10, 12)
          php: new DateTime('2020-10-30')
          node: "'2020-10-30'"
          python: dateutil.parser.parse('2020-10-30T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - employeeTax:
          key: employeeTax
          keyPascal: EmployeeTax
          keySnake: employee_tax
          is_object: true
        - irdNumber:
          key: irdNumber
          keyPascal: IrdNumber
          keySnake: ird_number
          default: 111111111
          object: employeeTax
        - hasSpecialStudentLoanRate:
          key: hasSpecialStudentLoanRate
          keyPascal: HasSpecialStudentLoanRate
          keySnake: has_special_student_loan_rate
          nonString: true
          default: true
          object: employeeTax
        - specialStudentLoanRatePercentage:
          key: specialStudentLoanRatePercentage
          keyPascal: SpecialStudentLoanRatePercentage
          keySnake: special_student_loan_rate_percentage
          nonString: true
          default: 2
          object: employeeTax
        - isEligibleForKiwiSaver:
          key: isEligibleForKiwiSaver
          keyPascal: IsEligibleForKiwiSaver
          keySnake: is_eligible_for_kiwi_saver
          nonString: true
          default: true
          object: employeeTax
        - esctRatePercentage:
          key: esctRatePercentage
          keyPascal: EsctRatePercentage
          keySnake: esct_rate_percentage
          default: 17.5
          nonString: true
          is_money: true
          object: employeeTax
        - kiwiSaverContributions:
          key: kiwiSaverContributions
          keyPascal: KiwiSaverContributions
          keySnake: kiwi_saver_contributions
          nonString: true
          default: DeductionCategory.NzOther
          php: XeroAPI\XeroPHP\Models\PayrollNz\EmployeeTax\KiwiSaverContributionsEnum.MakeContributions
          node: EmployeeTax.KiwiSaverContributionsEnum.MakeContributions
          ruby: XeroRuby::PayrollNz::EmployeeTax::kiwi_saver_contributions_enum::MAKECONTRIBUTIONS
          python: kiwi_saver_contributions_enum::MAKECONTRIBUTIONS
          java: com.xero.models.payrollnz.EmployeeTax.KiwiSaverContributionsEnum.MakeContributions
          csharp: EmployeeTax.KiwiSaverContributionsEnum.MakeContributions
          object: employeeTax
        - kiwiSaverEmployeeContributionRatePercentage:
          key: kiwiSaverEmployeeContributionRatePercentage
          keyPascal: KiwiSaverEmployeeContributionRatePercentage
          keySnake: kiwi_saver_employee_contribution_rate_percentage
          default: 4
          is_money: true
          nonString: true
          object: employeeTax
        - kiwiSaverEmployerSalarySacrificeContributionRatePercentage:
          key: kiwiSaverEmployerSalarySacrificeContributionRatePercentage
          keyPascal: KiwiSaverEmployerSalarySacrificeContributionRatePercentage
          keySnake: kiwi_saver_employer_salary_sacrifice_contribution_rate_percentage
          default: 2
          nonString: true
          object: employeeTax
        - taxCode:
          key: taxCode
          keyPascal: TaxCode
          keySnake: tax_code
          nonString: true
          default: TaxCode.MSL
          php: XeroAPI\XeroPHP\Models\PayrollNz\TaxCode\MSL
          node: TaxCode.MSL
          ruby: XeroRuby::PayrollNz::TaxCode::MSL
          python: tax_code:::MSL
          java: com.xero.models.payrollnz.TaxCode.MSL
          csharp: TaxCode.MSL
          object: employeeTax
        - hasStudentLoanBalance:
          key: hasStudentLoanBalance
          keyPascal: HasStudentLoanBalance
          keySnake: has_student_loan_balance
          nonString: true
          default: true
          object: employeeTax
        - studentLoanBalance:
          key: studentLoanBalance
          keyPascal: StudentLoanBalance
          keySnake: student_loan_balance
          default: 30.0000
          nonString: true
          is_money: true
          object: employeeTax
        - studentLoanAsAt:
          key: studentLoanAsAt
          keyPascal: StudentLoanAsAt
          keySnake: student_loan_as_at
          is_variable: true
          nonString: true
          default: studentLoanAsAt
          python: student_loan_as_at
          ruby: student_loan_as_at
          object: employeeTax
          is_last: true
      summary: Updates the tax records for a specific employee
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeTaxObject"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-24T20:57:27.5434491
                httpStatusCode: OK
                pagination: null
                problem: null
                employeeTax:
                  irdNumber: "111111111"
                  taxCode: M
                  esctRatePercentage: 17.5
                  isEligibleForKiwiSaver: true
                  hasSpecialStudentLoanRate: false
                  specialStudentLoanRatePercentage: null
                  specialTaxRatePercentage: null
                  kiwiSaverContributions: MakeContributions
                  kiwiSaverOptOutDate: null
                  kiwiSaverContributionHolidayEndDate: null
                  kiwiSaverEmployeeContributionRatePercentage: 3
                  kiwiSaverEmployerContributionRatePercentage: 3
                  kiwiSaverEmployerSalarySacrificeContributionRatePercentage: 0
                  hasStudentLoanBalance: false
                  studentLoanBalance: null
                  studentLoanAsAt: null
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmployeeTax"
            example:
              irdNumber: "111111111"
              taxCode: M
              esctRatePercentage: 17.5
              isEligibleForKiwiSaver: true
              hasSpecialStudentLoanRate: false
              specialStudentLoanRatePercentage: null
              specialTaxRatePercentage: null
              kiwiSaverContributions: MakeContributions
              kiwiSaverOptOutDate: null
              kiwiSaverContributionHolidayEndDate: null
              kiwiSaverEmployeeContributionRatePercentage: 3
              kiwiSaverEmployerContributionRatePercentage: 3
              kiwiSaverEmployerSalarySacrificeContributionRatePercentage: 0
              hasStudentLoanBalance: false
              studentLoanBalance: null
              studentLoanAsAt: null
  /Employees/{EmployeeID}/OpeningBalances:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollNz
      operationId: getEmployeeOpeningBalances
      x-hasPayrollUkProblem: true
      summary: Retrieves the opening balance for a specific employee
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeOpeningBalancesObject"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-28T20:00:07.7343966
                httpStatusCode: OK
                pagination:
                  page: 1
                  pageSize: 100
                  pageCount: 1
                  itemCount: 8
                problem: null
                openingBalances:
                  - periodEndDate: 2020-10-01T00:00:00
                    daysPaid: 3
                    unpaidWeeks: 2
                    grossEarnings: 40
    post:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollNz
      operationId: createEmployeeOpeningBalances
      x-hasPayrollUkProblem: true
      summary: Creates opening balances for a specific employee
      x-example:
        - periodEndDateValue:
          key: periodEndDate
          keyPascal: PeriodEndDate
          keySnake: period_end_date
          is_date: true
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2020, Month.OCTOBER, 30)
          java: LocalDate.of(2020, Month.OCTOBER, 30)
          csharp: new DateTime(2020, 10, 12)
          php: new DateTime('2020-10-30')
          node: "'2020-10-30'"
          python: dateutil.parser.parse('2020-10-30T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - employeeOpeningBalance:
          key: employeeOpeningBalance
          keyPascal: EmployeeOpeningBalance
          keySnake: employee_opening_balance
          is_object: true
        - periodEndDate:
          is_variable: true
          nonString: true
          key: periodEndDate
          keyPascal: PeriodEndDate
          keySnake: period_end_date
          default: periodEndDate
          python: period_end_date
          ruby: period_end_date
          object: employeeOpeningBalance
        - daysPaid:
          key: daysPaid
          keyPascal: DaysPaid
          keySnake: days_paid
          default: 5
          nonString: true
          object: employeeOpeningBalance
        - unpaidWeeks:
          key: unpaidWeeks
          keyPascal: UnpaidWeeks
          keySnake: unpaid_weeks
          default: 0
          nonString: true
          object: employeeOpeningBalance
        - grossEarnings:
          key: grossEarnings
          keyPascal: GrossEarnings
          keySnake: gross_earnings
          default: 1730.77
          is_money: true
          nonString: true
          object: employeeOpeningBalance
          is_last: true
        - employeeOpeningBalances:
          is_list: true
          key: employeeOpeningBalances
          keyPascal: EmployeeOpeningBalances
          keySnake: employee_opening_balances
          csharp: EmployeeOpeningBalance
          java: EmployeeOpeningBalance
        - addEmployeeOpeningBalance:
          is_last: true
          is_list_add: true
          key: employeeOpeningBalances
          keyPascal: EmployeeOpeningBalances
          keySnake: employee_opening_balances
          java: EmployeeOpeningBalances
          python: employee_opening_balance
          ruby: employee_opening_balance
          csharp: EmployeeOpeningBalance
          object: employeeOpeningBalance
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeOpeningBalancesObject"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-28T19:55:36.539949
                httpStatusCode: OK
                pagination: null
                problem: null
                openingBalances:
                  - periodEndDate: 2020-10-01T00:00:00
                    daysPaid: 3
                    unpaidWeeks: 2
                    grossEarnings: 40
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmployeeOpeningBalances"
            example: '[{"periodEndDate":"2020-10-01","daysPaid":3,"unpaidWeeks":2,"grossEarnings":40.0}]'
  /Employees/{EmployeeID}/Leave:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollNz
      operationId: getEmployeeLeaves
      x-hasPayrollUkProblem: true
      summary: Retrieves leave records for a specific employee
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeLeaves"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-26T16:57:18.4657329
                httpStatusCode: OK
                pagination: null
                problem: null
                leave:
                  - leaveID: e311d45f-122e-4fbf-b068-4e3f92dd2729
                    leaveTypeID: 0441497f-5dc7-4cd3-a90d-f2e07e21b2a6
                    description: Holiday Pay Payout
                    startDate: 2019-07-01T00:00:00
                    endDate: 2019-07-07T00:00:00
                    periods:
                      - periodStartDate: 2019-07-01T00:00:00
                        periodEndDate: 2019-07-07T00:00:00
                        numberOfUnits: 36
                        periodStatus: Completed
                        typeOfUnits: Hours
                        numberOfUnitsTaken: 1
                        typeOfUnitsTaken: Weeks
                    updatedDateUTC: 2019-09-24T05:08:44
    post:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollNz
      operationId: createEmployeeLeave
      x-hasPayrollUkProblem: true
      x-example:
        - startDateValue:
          key: startDate
          keyPascal: StartDate
          keySnake: start_date
          is_date: true
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2020, Month.OCTOBER, 28)
          java: LocalDate.of(2020, Month.OCTOBER, 28)
          csharp: new DateTime(2020, 10, 10)
          php: new DateTime('2020-10-28')
          node: "'2020-10-28'"
          python: dateutil.parser.parse('2020-10-28T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - endDateValue:
          key: endDate
          keyPascal: EndDate
          keySnake: end_date
          is_date: true
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2020, Month.OCTOBER, 30)
          java: LocalDate.of(2020, Month.OCTOBER, 30)
          csharp: new DateTime(2020, 10, 12)
          php: new DateTime('2020-10-30')
          node: "'2020-10-30'"
          python: dateutil.parser.parse('2020-10-30T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - employeeLeave:
          key: employeeLeave
          keyPascal: EmployeeLeave
          keySnake: employee_leave
          is_object: true
        - leaveTypeID:
          key: leaveTypeID
          keyPascal: LeaveTypeID
          keySnake: leave_type_id
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          object: employeeLeave
        - startDate:
          is_variable: true
          nonString: true
          key: startDate
          keyPascal: StartDate
          keySnake: start_date
          default: startDate
          python: start_date
          ruby: start_date
          object: employeeLeave
        - endDate:
          is_variable: true
          nonString: true
          key: endDate
          keyPascal: EndDate
          keySnake: end_date
          default: endDate
          python: end_date
          ruby: end_date
          object: employeeLeave
        - numberOfUnits:
          is_variable: true
          nonString: true
          key: numberOfUnits
          keyPascal: NumberOfUnits
          keySnake: number_of_units
          default: numberOfUnits
          python: number_of_units
          ruby: number_of_units
          object: employeeLeave
        - numberOfUnitsTaken:
          is_last: true
          is_variable: true
          nonString: true
          key: numberOfUnitsTaken
          keyPascal: NumberOfUnitsTaken
          keySnake: number_of_units_taken
          default: numberOfUnitsTaken
          python: number_of_units_taken
          ruby: number_of_units_taken
          object: employeeLeave
      summary: Creates leave records for a specific employee
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeLeaveObject"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-26T20:29:55.4086404
                httpStatusCode: OK
                pagination: null
                problem: null
                leave:
                  leaveID: 82a04ba6-a5cc-4e7d-86d4-b9f381a494e8
                  leaveTypeID: b0b1b79e-2a25-46c2-ad08-ca25ef48d7e4
                  description: Creating a Description
                  startDate: 2020-04-24T00:00:00
                  endDate: 2020-04-26T00:00:00
                  periods:
                    - periodStartDate: 2020-04-20T00:00:00
                      periodEndDate: 2020-04-26T00:00:00
                      numberOfUnits: 0
                      periodStatus: Approved
                      typeOfUnits: Hours
                      numberOfUnitsTaken: 0.2
                      typeOfUnitsTaken: Weeks
                  updatedDateUTC: 2020-08-26T20:29:55.2151561
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmployeeLeave"
            example:
              leaveTypeID: b0b1b79e-2a25-46c2-ad08-ca25ef48d7e4
              description: Creating a Description
              startDate: "2020-04-24"
              endDate: "2020-04-26"
  /Employees/{EmployeeID}/Leave/{LeaveID}:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    put:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollNz
      operationId: updateEmployeeLeave
      x-hasPayrollUkProblem: true
      x-example:
        - startDateValue:
          key: startDate
          keyPascal: StartDate
          keySnake: start_date
          is_date: true
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2020, Month.OCTOBER, 28)
          java: LocalDate.of(2020, Month.OCTOBER, 28)
          csharp: new DateTime(2020, 10, 10)
          php: new DateTime('2020-10-28')
          node: "'2020-10-28'"
          python: dateutil.parser.parse('2020-10-28T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - endDateValue:
          key: endDate
          keyPascal: EndDate
          keySnake: end_date
          is_date: true
          java_datatype: LocalDate
          csharp_datatype: DateTime
          default: LocalDate.of(2020, Month.OCTOBER, 30)
          java: LocalDate.of(2020, Month.OCTOBER, 30)
          csharp: new DateTime(2020, 10, 12)
          php: new DateTime('2020-10-30')
          node: "'2020-10-30'"
          python: dateutil.parser.parse('2020-10-30T00:00:00Z')
          ruby: "'YYYY-MM-DD'"
        - employeeLeave:
          key: employeeLeave
          keyPascal: EmployeeLeave
          keySnake: employee_leave
          is_object: true
        - leaveTypeID:
          key: leaveTypeID
          keyPascal: LeaveTypeID
          keySnake: leave_type_id
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          object: employeeLeave
        - startDate:
          is_variable: true
          nonString: true
          key: startDate
          keyPascal: StartDate
          keySnake: start_date
          default: startDate
          python: start_date
          ruby: start_date
          object: employeeLeave
        - endDate:
          is_last: true
          is_variable: true
          nonString: true
          key: endDate
          keyPascal: EndDate
          keySnake: end_date
          default: endDate
          python: end_date
          ruby: end_date
          object: employeeLeave
      summary: Updates leave records for a specific employee
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
        - name: LeaveID
          x-snake: leave_id
          in: path
          required: true
          description: Leave id for single object
          schema:
            type: string
            format: uuid
            example: c4be24e5-e840-4c92-9eaa-2d86cd596314
      responses:
        "200":
          description: successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeLeaveObject"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-26T20:29:55.8432792
                httpStatusCode: OK
                pagination: null
                problem: null
                leave:
                  leaveID: 82a04ba6-a5cc-4e7d-86d4-b9f381a494e8
                  leaveTypeID: b0b1b79e-2a25-46c2-ad08-ca25ef48d7e4
                  description: Creating a Description
                  startDate: 2020-04-24T00:00:00
                  endDate: 2020-04-26T00:00:00
                  periods:
                    - periodStartDate: 2020-04-20T00:00:00
                      periodEndDate: 2020-04-26T00:00:00
                      numberOfUnits: 1
                      periodStatus: Approved
                  updatedDateUTC: 2020-08-26T20:29:55.8854536
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmployeeLeave"
            example:
              leaveTypeID: b0b1b79e-2a25-46c2-ad08-ca25ef48d7e4
              description: Creating a Description
              startDate: "2020-04-24"
              endDate: "2020-04-26"
              periods:
                - periodStartDate: "2020-04-20"
                  periodEndDate: "2020-04-26"
                  numberOfUnits: 1
                  periodStatus: Approved
    delete:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollNz
      operationId: deleteEmployeeLeave
      x-hasPayrollUkProblem: true
      summary: Deletes a leave record for a specific employee
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
        - name: LeaveID
          x-snake: leave_id
          in: path
          required: true
          description: Leave id for single object
          schema:
            type: string
            format: uuid
            example: c4be24e5-e840-4c92-9eaa-2d86cd596314
      responses:
        "200":
          description: successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeLeaveObject"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-26T22:11:10.809249
                httpStatusCode: OK
                pagination: null
                problem: null
  /Employees/{EmployeeID}/LeaveBalances:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollNz
      operationId: getEmployeeLeaveBalances
      x-hasPayrollUkProblem: true
      summary: Retrieves leave balances for a specific employee
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeLeaveBalances"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-26T22:26:48.0448356
                httpStatusCode: OK
                pagination:
                  page: 1
                  pageSize: 100
                  pageCount: 1
                  itemCount: 4
                problem: null
                leaveBalances:
                  - name: Holiday Pay
                    leaveTypeID: 0441497f-5dc7-4cd3-a90d-f2e07e21b2a6
                    balance: 0
                    typeOfUnits: Dollars
                  - name: Annual Leave
                    leaveTypeID: b0b1b79e-2a25-46c2-ad08-ca25ef48d7e4
                    balance: 0
                    typeOfUnits: Hours
                  - name: Sick Leave
                    leaveTypeID: f2f994cf-1899-46f3-ad4f-5d92d78c3719
                    balance: 0
                    typeOfUnits: Hours
                  - name: Alternative Holidays
                    leaveTypeID: 34129765-11cb-4d8c-b568-84a2219beda3
                    balance: 0
                    typeOfUnits: Hours
  /Employees/{EmployeeID}/LeavePeriods:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollNz
      operationId: getEmployeeLeavePeriods
      x-hasPayrollUkProblem: true
      summary: Retrieves leave periods for a specific employee
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
        - in: query
          name: startDate
          x-snake: start_date
          description: Filter by start date
          schema:
            type: string
            format: date
        - in: query
          name: endDate
          x-snake: end_date
          description: Filter by end date
          schema:
            type: string
            format: date
          example: Johnson
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LeavePeriods"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-27T13:35:49.4407417
                httpStatusCode: OK
                pagination: null
                problem: null
                periods:
                  - periodStartDate: 2020-02-24T00:00:00
                    periodEndDate: 2020-03-01T00:00:00
                    numberOfUnits: 24
                    periodStatus: Estimated
                    typeOfUnits: Hours
                    numberOfUnitsTaken: 0.6
                    typeOfUnitsTaken: Weeks
                  - periodStartDate: 2020-03-02T00:00:00
                    periodEndDate: 2020-03-08T00:00:00
                    numberOfUnits: 40
                    periodStatus: Estimated
                    typeOfUnits: Hours
                    numberOfUnitsTaken: 1
                    typeOfUnitsTaken: Weeks
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
  /Employees/{EmployeeID}/LeaveSetup:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    post:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollNz
      operationId: createEmployeeLeaveSetup
      x-hasPayrollUkProblem: true
      x-example:
        - employeeLeaveSetup:
          key: employeeLeaveSetup
          keyPascal: EmployeeLeaveSetup
          keySnake: employee_leave_setup
          is_object: true
        - includeHolidayPay:
          key: includeHolidayPay
          keyPascal: IncludeHolidayPay
          keySnake: include_holiday_pay
          nonString: true
          default: false
          object: employeeLeaveSetup
        - holidayPayOpeningBalance:
          key: holidayPayOpeningBalance
          keyPascal: HolidayPayOpeningBalance
          keySnake: holiday_pay_opening_balance
          nonString: true
          default: 10.50
          is_money: true
          object: employeeLeaveSetup
        - annualLeaveOpeningBalance:
          key: annualLeaveOpeningBalance
          keyPascal: AnnualLeaveOpeningBalance
          keySnake: annual_leave_opening_balance
          nonString: true
          default: 25.89
          is_money: true
          object: employeeLeaveSetup
        - sickLeaveOpeningBalance:
          key: sickLeaveOpeningBalance
          keyPascal: SickLeaveOpeningBalance
          keySnake: sick_leave_opening_balance
          is_money: true
          nonString: true
          default: 10.50
          object: employeeLeaveSetup
        - sickLeaveToAccrueAnnually:
          is_variable: true
          key: sickLeaveToAccrueAnnually
          keyPascal: SickLeaveToAccrueAnnually
          keySnake: sick_leave_to_accrue_annually
          is_money: true
          nonString: true
          default: 100.0
          object: employeeLeaveSetup
        - sickLeaveMaximumToAccrue:
          is_variable: true
          key: sickLeaveMaximumToAccrue
          keyPascal: SickLeaveMaximumToAccrue
          keySnake: sick_leave_maximum_to_accrue
          is_money: true
          nonString: true
          default: 200.0
          object: employeeLeaveSetup
        - sickLeaveScheduleOfAccrual:
          is_variable: true
          key: sickLeaveScheduleOfAccrual
          keyPascal: SickLeaveScheduleOfAccrual
          keySnake: sick_leave_schedule_of_accrual
          object: employeeLeaveSetup
        - sickLeaveAnniversaryDate:
          is_variable: true
          nonString: true
          key: sickLeaveAnniversaryDate
          keyPascal: SickLeaveAnniversaryDate
          keySnake: sick_leave_anniversary_date
          object: employeeLeaveSetup
        - annualLeaveAnniversaryDate:
          is_variable: true
          nonString: true
          key: annualLeaveAnniversaryDate
          keyPascal: AnnualLeaveAnniversaryDate
          keySnake: annual_leave_anniversary_date
          object: employeeLeaveSetup
          is_last: true
      summary: Creates a leave set-up for a specific employee. This is required before viewing, configuring and requesting leave for an employee
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeLeaveSetupObject"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-26T16:50:48.7245664
                httpStatusCode: OK
                pagination: null
                problem: null
                leaveSetup:
                  includeHolidayPay: null
                  holidayPayOpeningBalance: 10
                  annualLeaveOpeningBalance: 100
                  negativeAnnualLeaveBalancePaidAmount: null
                  sickLeaveToAccrueAnnually: 20
                  sickLeaveMaximumToAccrue: null
                  sickLeaveOpeningBalance: 10
                  sickLeaveScheduleOfAccrual: OnAnniversaryDate
                  sickLeaveAnniversaryDate: "2023-12-31"
                  annualLeaveAnniversaryDate: "2023-12-31"
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmployeeLeaveSetup"
            example:
              holidayPayOpeningBalance: 10
              annualLeaveOpeningBalance: 100
              sickLeaveToAccrueAnnually: 20
              sickLeaveOpeningBalance: 10
              sickLeaveScheduleOfAccrual: OnAnniversaryDate
              sickLeaveAnniversaryDate: "2023-12-31"
              annualLeaveAnniversaryDate: "2023-12-31"
  /Employees/{EmployeeID}/LeaveTypes:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollNz
      operationId: getEmployeeLeaveTypes
      x-hasPayrollUkProblem: true
      summary: Retrieves leave types for a specific employee
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeLeaveTypes"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-27T14:25:16.004485
                httpStatusCode: OK
                pagination: null
                problem: null
                leaveTypes:
                  - leaveTypeID: 0441497f-5dc7-4cd3-a90d-f2e07e21b2a6
                    scheduleOfAccrual: PercentageOfGrossEarnings
                    maximumToAccrue: 0
                    openingBalance: 0
                    rateAccruedHourly: null
                    percentageOfGrossEarnings: 8
                    includeHolidayPayEveryPay: true
                    showAnnualLeaveInAdvance: null
                    annualLeaveTotalAmountPaid: null
                    scheduleOfAccrualDate: null
                    unitsAccruedAnnually: 0
                    typeOfUnitsToAccrue: Weeks
                    openingBalanceTypeOfUnits: Weeks
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
    post:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollNz
      operationId: createEmployeeLeaveType
      x-hasPayrollUkProblem: true
      summary: Creates leave type records for a specific employee
      x-example:
        - employeeLeaveType:
          key: employeeLeaveType
          keyPascal: EmployeeLeaveType
          keySnake: employee_leave_type
          is_object: true
        - leaveTypeID:
          key: leaveTypeID
          keyPascal: LeaveTypeID
          keySnake: leave_type_id
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          object: employeeLeaveType
        - scheduleOfAccrual:
          key: scheduleOfAccrual
          keyPascal: ScheduleOfAccrual
          keySnake: schedule_of_accrual
          nonString: true
          default: DeductionCategory.NzOther
          php: XeroAPI\XeroPHP\Models\PayrollNz\EmployeeLeaveType\ScheduleOfAccrualEnum.PercentageOfGrossEarnings
          node: EmployeeLeaveType.ScheduleOfAccrualEnum.PercentageOfGrossEarnings
          ruby: XeroRuby::PayrollNz::EmployeeLeaveType::schedule_of_accrual::PERCENTAGEOFGROSSEARNINGS
          python: schedule_of_accrual::PERCENTAGEOFGROSSEARNINGS
          java: com.xero.models.payrollnz.EmployeeLeaveType.ScheduleOfAccrualEnum.PercentageOfGrossEarnings
          csharp: EmployeeLeaveType.ScheduleOfAccrualEnum.PercentageOfGrossEarnings
          object: employeeLeaveType
        - openingBalance:
          key: openingBalance
          keyPascal: OpeningBalance
          keySnake: opening_balance
          is_money: true
          nonString: true
          default: 5.25
          object: employeeLeaveType
        - scheduleOfAccrualDate:
          is_variable: true
          nonString: true
          key: scheduleOfAccrualDate
          keyPascal: ScheduleOfAccrualDate
          keySnake: schedule_of_accrual_date
          object: employeeLeaveType
          is_last: true
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeLeaveTypeObject"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-27T14:31:54.3370081
                httpStatusCode: OK
                pagination: null
                problem: null
                leaveType:
                  leaveTypeID: 35da97ae-05b9-427f-9a98-69157ba42cec
                  scheduleOfAccrual: AnnuallyAfter6Months
                  maximumToAccrue: 80
                  openingBalance: 100
                  rateAccruedHourly: null
                  percentageOfGrossEarnings: 0
                  includeHolidayPayEveryPay: null
                  showAnnualLeaveInAdvance: null
                  annualLeaveTotalAmountPaid: null
                  scheduleOfAccrualDate: null
                  unitsAccruedAnnually: 0
                  typeOfUnitsToAccrue: Hours
                  openingBalanceTypeOfUnits: Hours
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmployeeLeaveType"
            example:
              leaveTypeID: 35da97ae-05b9-427f-9a98-69157ba42cec
              scheduleOfAccrual: AnnuallyAfter6Months
              unitsAccruedAnnually: 10
              typeOfUnitsToAccrue: Hours
              openingBalanceTypeOfUnits: Hours
              maximumToAccrue: 80
              openingBalance: 100
              rateAccruedHourly: null
  /Employees/{EmployeeID}/PaymentMethods:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollNz
      operationId: getEmployeePaymentMethod
      x-hasPayrollUkProblem: true
      summary: Retrieves available payment methods for a specific employee
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethodObject"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-26T23:34:53.6856317
                httpStatusCode: OK
                pagination: null
                problem: null
                paymentMethod:
                  bankAccounts:
                    - accountName: Casual Worker
                      accountNumber: "0607050201419000"
                      sortCode: null
                      particulars: null
                      code: null
                      dollarAmount: null
                      reference: ""
                      calculationType: Balance
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
    post:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollNz
      operationId: createEmployeePaymentMethod
      x-hasPayrollUkProblem: true
      x-example:
        - bankAccount:
          key: bankAccount
          keyPascal: BankAccount
          keySnake: bank_account
          is_object: true
        - accountName:
          key: accountName
          keyPascal: AccountName
          keySnake: account_name
          default: Charlotte Danes
          object: bankAccount
        - accountNumber:
          key: accountNumber
          keyPascal: AccountNumber
          keySnake: account_number
          nonString: true
          default: 123456
          object: bankAccount
        - sortCode:
          key: sortCode
          keyPascal: SortCode
          keySnake: sort_code
          default: 123411
          is_last: true
          object: bankAccount
        - bankAccounts:
          is_list: true
          key: bankAccounts
          keyPascal: BankAccounts
          keySnake: bank_accounts
          csharp: BankAccount
          java: BankAccount
          object: bankAccount
        - addBankAccount:
          is_last: true
          is_list_add: true
          key: bankAccounts
          keyPascal: BankAccounts
          keySnake: bank_accounts
          java: BankAccounts
          python: bank_account
          ruby: bank_account
          csharp: BankAccount
          object: bankAccount
        - paymentMethod:
          key: paymentMethod
          keyPascal: PaymentMethod
          keySnake: payment_method
          is_object: true
        - setBankAccount:
          is_last: true
          is_variable: true
          nonString: true
          key: bankAccounts
          keyPascal: BankAccounts
          default: bankAccounts
          object: paymentMethod
      summary: Creates a payment method for an employee
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentMethodObject"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-26T23:34:53.6856317
                httpStatusCode: OK
                pagination: null
                problem: null
                paymentMethod:
                  bankAccounts:
                    - accountName: Casual Worker
                      accountNumber: "0607050201419000"
                      sortCode: null
                      particulars: null
                      code: null
                      dollarAmount: null
                      reference: ""
                      calculationType: Balance
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentMethod"
            example:
              bankAccounts:
                - accountName: Casual Worker
                  accountNumber: "0607050201419000"
                  sortCode: null
                  particulars: null
                  code: null
                  dollarAmount: null
                  reference: ""
                  calculationType: Balance
  /Employees/{EmployeeID}/PayTemplates:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.employees
            - payroll.employees.read
      tags:
        - PayrollNz
      operationId: getEmployeePayTemplates
      x-hasPayrollUkProblem: true
      summary: Retrieves pay templates for a specific employee
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeePayTemplates"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-27T15:09:19.0627389
                httpStatusCode: OK
                pagination:
                  page: 1
                  pageSize: 100
                  pageCount: 0
                  itemCount: 0
                problem: null
                payTemplate:
                  employeeID: 68342973-c405-4b86-b5d3-d7b877c27995
                  earningTemplates:
                    - payTemplateEarningID: 1527cf6c-93db-41bf-aba2-9d6af1d3c499
                      ratePerUnit: 20
                      numberOfUnits: 8
                      fixedAmount: null
                      earningsRateID: f9d8f5b5-9049-47f4-8541-35e200f750a5
                      name: Ordinary Time
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
  /Employees/{EmployeeID}/PayTemplates/Earnings:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    post:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollNz
      operationId: createEmployeeEarningsTemplate
      x-hasPayrollUkProblem: true
      x-example:
        - earningsTemplate:
          key: earningsTemplate
          keyPascal: EarningsTemplate
          keySnake: earnings_template
          is_object: true
        - payTemplateEarningID:
          key: payTemplateEarningID
          keyPascal: PayTemplateEarningID
          keySnake: pay_template_earning_id
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          object: earningsTemplate
        - ratePerUnit:
          key: ratePerUnit
          keyPascal: RatePerUnit
          keySnake: rate_per_unit
          nonString: true
          default: 14.25
          object: earningsTemplate
          is_money: true
        - numberOfUnits:
          key: numberOfUnits
          keyPascal: NumberOfUnits
          keySnake: number_of_units
          default: 35.50
          nonString: true
          is_money: true
          object: earningsTemplate
        - fixedAmount:
          key: fixedAmount
          keyPascal: FixedAmount
          keySnake: fixed_amount
          default: 50
          nonString: true
          object: earningsTemplate
        - earningsRateId:
          key: earningsRateID
          keyPascal: EarningsRateID
          keySnake: earnings_rate_id
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          object: earningsTemplate
        - name:
          key: name
          keyPascal: Name
          keySnake: name
          default: Overtime Hours
          object: earningsTemplate
          is_last: true
        - earningsTemplates:
          is_list: true
          key: earningsTemplates
          keyPascal: EarningsTemplates
          keySnake: earnings_templates
          csharp: EarningsTemplate
          java: EarningsTemplate
        - addEarningsTemplate:
          is_last: true
          is_list_add: true
          key: earningsTemplates
          keyPascal: EarningsTemplates
          keySnake: earnings_templates
          java: EarningsTemplates
          python: earnings_template
          ruby: earnings_template
          csharp: EarningsTemplate
          object: earningsTemplate
      summary: Creates earnings template records for an employee
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EarningsTemplateObject"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-27T14:48:24.6032145
                httpStatusCode: OK
                pagination: null
                problem: null
                earningTemplate:
                  payTemplateEarningID: 11b4e492-5d56-4eac-a9ce-687d7b9a4a84
                  ratePerUnit: 20
                  numberOfUnits: 8
                  fixedAmount: null
                  earningsRateID: f9d8f5b5-9049-47f4-8541-35e200f750a5
                  name: Ordinary Time
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EarningsTemplate"
            example:
              ratePerUnit: 20
              numberOfUnits: 8
              earningsRateID: f9d8f5b5-9049-47f4-8541-35e200f750a5
              name: My New One
  /Employees/{EmployeeID}/PayTemplates/Earnings/{PayTemplateEarningID}:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    put:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollNz
      operationId: updateEmployeeEarningsTemplate
      x-hasPayrollUkProblem: true
      x-example:
        - earningsTemplate:
          key: earningsTemplate
          keyPascal: EarningsTemplate
          keySnake: earnings_template
          is_object: true
        - payTemplateEarningID:
          key: payTemplateEarningID
          keyPascal: PayTemplateEarningID
          keySnake: pay_template_earning_id
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          object: earningsTemplate
        - ratePerUnit:
          key: ratePerUnit
          keyPascal: RatePerUnit
          keySnake: rate_per_unit
          nonString: true
          default: 14.25
          object: earningsTemplate
          is_money: true
        - numberOfUnits:
          key: numberOfUnits
          keyPascal: NumberOfUnits
          keySnake: number_of_units
          default: 35.50
          nonString: true
          is_money: true
          object: earningsTemplate
        - fixedAmount:
          key: fixedAmount
          keyPascal: FixedAmount
          keySnake: fixed_amount
          default: 50
          nonString: true
          object: earningsTemplate
        - earningsRateId:
          key: earningsRateID
          keyPascal: EarningsRateID
          keySnake: earnings_rate_id
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          object: earningsTemplate
        - name:
          key: name
          keyPascal: Name
          keySnake: name
          default: Overtime Hours
          object: earningsTemplate
          is_last: true
        - earningsTemplates:
          is_list: true
          key: earningsTemplates
          keyPascal: EarningsTemplates
          keySnake: earnings_templates
          csharp: EarningsTemplate
          java: EarningsTemplate
        - addEarningsTemplate:
          is_last: true
          is_list_add: true
          key: earningsTemplates
          keyPascal: EarningsTemplates
          keySnake: earnings_templates
          java: EarningsTemplates
          python: earnings_template
          ruby: earnings_template
          csharp: EarningsTemplate
          object: earningsTemplate
      summary: Updates an earnings template records for an employee
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
        - name: PayTemplateEarningID
          x-snake: pay_template_earning_id
          in: path
          required: true
          description: Id for single pay template earnings object
          schema:
            type: string
            format: uuid
            example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EarningsTemplateObject"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-27T18:54:08.6524341
                httpStatusCode: OK
                pagination: null
                problem: null
                earningTemplate:
                  payTemplateEarningID: 1527cf6c-93db-41bf-aba2-9d6af1d3c499
                  ratePerUnit: 25
                  numberOfUnits: 4
                  fixedAmount: null
                  earningsRateID: f9d8f5b5-9049-47f4-8541-35e200f750a5
                  name: Ordinary Time
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EarningsTemplate"
            example:
              ratePerUnit: 25
              numberOfUnits: 4
              earningsRateID: f9d8f5b5-9049-47f4-8541-35e200f750a5
    delete:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollNz
      operationId: deleteEmployeeEarningsTemplate
      summary: Deletes an employee's earnings template record
      parameters:
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
        - name: PayTemplateEarningID
          x-snake: pay_template_earning_id
          in: path
          required: true
          description: Id for single pay template earnings object
          schema:
            type: string
            format: uuid
            example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        "200":
          description: deletion successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EarningsTemplateObject"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-27T18:54:09.1368544
                httpStatusCode: OK
                pagination: null
                problem: null
  /Employees/{EmployeeID}/PayTemplateEarnings:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    post:
      security:
        - OAuth2:
            - payroll.employees
      tags:
        - PayrollNz
      operationId: createMultipleEmployeeEarningsTemplate
      x-hasPayrollUkProblem: true
      x-example:
        - earningsTemplate:
          key: earningsTemplate
          keyPascal: EarningsTemplate
          keySnake: earnings_template
          is_object: true
        - payTemplateEarningID:
          key: payTemplateEarningID
          keyPascal: PayTemplateEarningID
          keySnake: pay_template_earning_id
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          object: earningsTemplate
        - ratePerUnit:
          key: ratePerUnit
          keyPascal: RatePerUnit
          keySnake: rate_per_unit
          nonString: true
          default: 14.25
          object: earningsTemplate
          is_money: true
        - numberOfUnits:
          key: numberOfUnits
          keyPascal: NumberOfUnits
          keySnake: number_of_units
          default: 35.50
          nonString: true
          is_money: true
          object: earningsTemplate
        - fixedAmount:
          key: fixedAmount
          keyPascal: FixedAmount
          keySnake: fixed_amount
          default: 50
          nonString: true
          object: earningsTemplate
        - earningsRateId:
          key: earningsRateID
          keyPascal: EarningsRateID
          keySnake: earnings_rate_id
          is_uuid: true
          default: 00000000-0000-0000-0000-000000000000
          object: earningsTemplate
        - name:
          key: name
          keyPascal: Name
          keySnake: name
          default: Overtime Hours
          object: earningsTemplate
          is_last: true
        - earningsTemplates:
          is_list: true
          key: earningsTemplates
          keyPascal: EarningsTemplates
          keySnake: earnings_templates
          csharp: EarningsTemplate
          java: EarningsTemplate
        - addEarningsTemplate:
          is_last: true
          is_list_add: true
          key: earningsTemplates
          keyPascal: EarningsTemplates
          keySnake: earnings_templates
          java: EarningsTemplates
          python: earnings_template
          ruby: earnings_template
          csharp: EarningsTemplate
          object: earningsTemplate
      summary: Creates multiple employee earnings template records for a specific employee
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
        - name: EmployeeID
          x-snake: employee_id
          in: path
          required: true
          description: Employee id for single object
          schema:
            type: string
            format: uuid
            example: 4ff1e5cc-9835-40d5-bb18-09fdb118db9c
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeeEarningsTemplates"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-27T15:01:52.9369043
                httpStatusCode: OK
                pagination: null
                problem: null
                earningTemplates:
                  - payTemplateEarningID: 1527cf6c-93db-41bf-aba2-9d6af1d3c499
                    ratePerUnit: 20
                    numberOfUnits: 8
                    fixedAmount: null
                    earningsRateID: f9d8f5b5-9049-47f4-8541-35e200f750a5
                    name: Ordinary Time
                  - payTemplateEarningID: 92e757cc-b026-404d-804e-9dc2047a03e6
                    ratePerUnit: 0
                    numberOfUnits: 8
                    fixedAmount: null
                    earningsRateID: 65b83d94-f20f-45e1-85ae-387fcf460c26
                    name: Salary
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EarningsTemplates"
            example: '[{"ratePerUnit":20.0,"numberOfUnits":8.0,"earningsRateID":"f9d8f5b5-9049-47f4-8541-35e200f750a5"},{"ratePerUnit":0.0,"numberOfUnits":8.0,"earningsRateID":"65b83d94-f20f-45e1-85ae-387fcf460c26"}]'
  /Deductions:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.settings
            - payroll.settings.read
      tags:
        - PayrollNz
      operationId: getDeductions
      x-hasPayrollUkProblem: true
      summary: Retrieves deductions for a specific employee
      parameters:
        - in: query
          name: page
          description: Page number which specifies the set of records to retrieve. By default the number of the records per set is 100.
          schema:
            type: integer
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deductions"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-27T20:43:53.931198
                httpStatusCode: OK
                pagination:
                  page: 1
                  pageSize: 100
                  pageCount: 1
                  itemCount: 4
                problem: null
                deductions:
                  - deductionId: a3760fe4-68a4-4e38-8326-fe616af7dc74
                    deductionName: KiwiSaver Voluntary Contributions
                    deductionCategory: KiwiSaverVoluntaryContributions
                    liabilityAccountId: 26c57f04-0436-40cc-9cd9-1a21185d88bb
                    currentRecord: true
                    standardAmount: null
                  - deductionId: a131596e-2f83-4f6c-9573-99c4cbfcefd1
                    deductionName: Rent
                    deductionCategory: NzOther
                    liabilityAccountId: 26c57f04-0436-40cc-9cd9-1a21185d88bb
                    currentRecord: true
                    standardAmount: 200
    post:
      security:
        - OAuth2:
            - payroll.settings
      tags:
        - PayrollNz
      operationId: createDeduction
      x-hasPayrollUkProblem: true
      x-example:
        - deduction:
          key: deduction
          keyPascal: Deduction
          keySnake: deduction
          is_object: true
        - deductionName:
          key: deductionName
          keyPascal: DeductionName
          keySnake: deduction_name
          default: Deduction test
          object: deduction
        - deductionCategory:
          key: deductionCategory
          keyPascal: DeductionCategory
          keySnake: deduction_category
          nonString: true
          default: DeductionCategory.NzOther
          php: XeroAPI\XeroPHP\Models\PayrollNz\Deduction\DEDUCTION_CATEGORY_NZ_OTHER
          node: Deduction.DeductionCategoryEnum.NzOther
          ruby: XeroRuby::PayrollNz::Deduction::deduction_category::NZ_OTHER
          python: deduction_category.NzOther
          java: com.xero.models.payrollnz.Deduction.DeductionCategoryEnum.NZOTHER
          csharp: Deduction.DeductionCategoryEnum.NzOther
          object: deduction
        - liabilityAccountId:
          is_uuid: true
          key: liabilityAccountId
          keyPascal: LiabilityAccountId
          keySnake: liability_account_id
          default: 00000000-0000-0000-0000-000000000000
          object: deduction
          is_last: true
      summary: Creates a new deduction for a specific employee
      parameters:
        - $ref: "#/components/parameters/idempotencyKey"
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeductionObject"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-27T20:43:54.9563295
                httpStatusCode: OK
                pagination: null
                problem: null
                deduction:
                  deductionId: 0ee805eb-f5b0-4061-9b35-d9ea550da04e
                  deductionName: My new deduction
                  deductionCategory: NzOther
                  liabilityAccountId: 568f2e9a-0870-46cc-8678-f83f132ed4e3
                  currentRecord: true
                  standardAmount: null
        "400":
          description: validation error for a bad request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Deduction"
            example:
              deductionName: My new deduction
              deductionCategory: NzOther
              liabilityAccountId: 568f2e9a-0870-46cc-8678-f83f132ed4e3
  /Deductions/{deductionId}:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.settings
            - payroll.settings.read
      tags:
        - PayrollNz
      operationId: getDeduction
      x-hasPayrollUkProblem: true
      summary: Retrieves a single deduction by using a unique deduction ID
      parameters:
        - in: path
          name: deductionId
          x-snake: deduction_id
          required: true
          description: Identifier for the deduction
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeductionObject"
              example:
                id: 00000000-0000-0000-0000-000000000000
                providerName: provider-name
                dateTimeUTC: 2020-08-27T20:43:54.846821
                httpStatusCode: OK
                pagination: null
                problem: null
                deduction:
                  deductionId: a3760fe4-68a4-4e38-8326-fe616af7dc74
                  deductionName: KiwiSaver Voluntary Contributions
                  deductionCategory: KiwiSaverVoluntaryContributions
                  liabilityAccountId: 26c57f04-0436-40cc-9cd9-1a21185d88bb
                  currentRecord: true
                  standardAmount: null
  /StatutoryDeductions:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.settings
            - payroll.settings.read
      tags:
        - PayrollNz
      operationId: getStatutoryDeductions
      summary: Retrieves statutory deductions
      parameters:
        - in: query
          name: page
          description: Page number which specifies the set of records to retrieve. By default the number of the records per set is 100.
          schema:
            type: integer
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatutoryDeductions"
              example:
                id: e3731829-9801-4809-a1a1-bbe40cd18b7e
                providerName: provider-name
                dateTimeUTC: 2020-08-27T23:46:21.0212854
                httpStatusCode: OK
                pagination:
                  page: 1
                  pageSize: 100
                  pageCount: 1
                  itemCount: 8
                problem: null
                statutoryDeductions:
                  - id: e3731829-9801-4809-a1a1-bbe40cd18b7e
                    name: Child Support
                    liabilityAccountId: fa5cdc43-643b-4ad8-b4ac-3ffe0d0f4488
                    statutoryDeductionCategory: ChildSupport
                    currentRecord: true
                  - id: 00000000-0000-0000-0000-000000000000
                    name: Student Loan
                    liabilityAccountId: fa5cdc43-643b-4ad8-b4ac-3ffe0d0f4488
                    statutoryDeductionCategory: StudentLoan
                    currentRecord: true
  /StatutoryDeductions/{id}:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.settings
            - payroll.settings.read
      tags:
        - PayrollNz
      operationId: getStatutoryDeduction
      summary: Retrieves a specific statutory deduction by using a unique statutory deductions id
      parameters:
        - in: path
          name: id
          required: true
          description: Identifier for the statutory deduction
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StatutoryDeductionObject"
              example:
                id: e3731829-9801-4809-a1a1-bbe40cd18b7e
                providerName: provider-name
                dateTimeUTC: 2020-08-28T00:01:57.6562992
                httpStatusCode: OK
                pagination: null
                problem: null
                statutoryDeduction:
                  id: e3731829-9801-4809-a1a1-bbe40cd18b7e
                  name: Child Support
                  liabilityAccountId: fa5cdc43-643b-4ad8-b4ac-3ffe0d0f4488
                  statutoryDeductionCategory: ChildSupport
                  currentRecord: true
  /Superannuations:
    parameters:
      - $ref: "#/components/parameters/requiredHeader"
    get:
      security:
        - OAuth2:
            - payroll.settings
            - payroll.settings.read
      tags:
        - PayrollNz
      operationId: getSuperannuations
      summary: Retrieves superannuations
      parameters:
        - in: query
          name: page
          description: Page number which specifies the set of records to retrieve. By default the number of the records per set is 100.
          schema:
            type: integer
      responses:
        "200":
          description: search results matching criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Superannuations"
              example:
                id: 563273ea-0dae-4f82-86a4-e0db77c008ea
                providerName: provider-name
                dateTimeUTC: 2020-09-14T22:35:14.6806088
                httpStatusCode: OK
                pagination:
                  page: 1
                  pageSize: 100
                  pageCount: 1
                  itemCount: 2
                problem: null
                benefits:
                  - id: 563273ea-0dae-4f82-86a4-e0db77c008ea
                    name: KiwiSaver
                    category: KiwiSaver
                    liabilityAccountId: fa5cdc43-643b-4ad8-b4ac-3ffe0d0f4488
                    expenseAccountId: b343c3b0-5941-4166-82b4-dd926622e0e2
                    standardAmount: 5
                    percentage: 3
                    calculationTypeNZ: PercentageOfTaxableEarnings
                    currentRecord: true
                    companyMax: 2
                  - id: 00000000-0000-0000-0000-000000000000
                    name: SidSaver
                    category: Other
                    liabilityAccountId: 568f2e9a-0870-46cc-8678-f83f132ed4e3
                    expenseAccountId: e4eb36f6-97e3-4427-a394-dd4e1b355c2e
                    standardAmount: 10
                    percentage: 4
                    calculationTypeNZ: FixedAmount
                    currentRecord: true
                    companyMax: 4
    post:
      security:
        - OAuth2:
            - payroll.settings
      tags:
        - PayrollNz
      operationId: createSuperannuation
      x-hasPayrollUkProblem: true
      x-example:
        - benefit:
          key: benefit
          keyPascal: Benefit
          keySnake: benefit
          is_object: true
        - category:
          key: category
          keyPascal: Category
          keySnake: category
          php: XeroAPI\XeroPHP\Models\PayrollNz\Benefit\CategoryEnum.ComplyingFund
          node: Benefit.CategoryEnum.ComplyingFund
          ruby: XeroRuby::PayrollNz::Benefit::CategoryEnum::COMPLYINGFUND
          python_string: COMPLYINGFUND
          java: com.xero.models.payrollnz.Benefit.CategoryEnum.ComplyingFund
          csharp: Benefit.CategoryEnum.ComplyingFund
          default: ComplyingFund
          nonString: true
          object: benefit
        - caluclationTypeNZ:
          key: calculationTypeNZ
          keyPascal: CalculationTypeNZ
          keySnake: calculation_type_nz
          php: XeroAPI\XeroPHP\Models\PayrollNz\Benefit\CalculationTypeNZ.PercentageOfTaxableEarnings
          node: Benefit.CalculationTypeNZ.PercentageOfTaxableEarnings
          ruby: XeroRuby::PayrollNz::Benefit::CalculationTypeNZ::PERCENTAGEOFTAXABLEEARNINGS
          python_string: PERCENTAGEOFTAXABLEEARNINGS
          java: com.xero.models.payrollnz.Benefit.CalculationTypeNZ.PercentageOfTaxableEarnings
          csharp: Benefit.CalculationTypeNZ.PercentageOfTaxableEarnings
          default: PercentageOfTaxableEarnings
          nonString: true
          object: benefit
        - liabilityAccountId:
[...]
