@import "../../_styles/designtheme.scss";

.tooljet-range-picker {

  .react-daterange-picker__wrapper,
  .react-datetimerange-picker__wrapper {
    border: thin solid var(--slate4);
    color: var(--text-secondary);
    background: var(--background-strong);
    padding: 6px 10px;
    gap: 12px;
    border-radius: 6px;
    height: 32px;
  }

  .react-datetimerange-picker__calendar,
  .react-daterange-picker__calendar {
    z-index: unset;
  }

  .react-calendar {
    z-index: 9;
    width: 329px;
    border: thin solid var(--slate4);
    border-radius: 6px;
    background: var(--background-strong);
    color: var(--text-secondary);
    position: relative;

    .react-calendar__navigation {

      input,
      button {
        color: var(--text-secondary);
        border-radius: 0;
        background-color: transparent;
      }
    }

    .react-calendar__tile--active {
      background: var(--indigo3) !important;
      color: var(--slateDark1);
      border-radius: 2px;
    }

    .react-calendar__month-view__days__day {
      border-radius: 0px;
      background: transparent;
      color: var(--text-secondary);
    }

    .react-calendar__tile--now {
      background: var(--indigo8);
    }

    .react-calendar__tile.react-calendar__month-view__days__day {
      border-radius: 2px;
    }

    .react-calendar__tile:enabled:hover {
      background: var(--indigo6);
      color: var(--slateDark1);
    }

    .react-calendar__tile:disabled {
      background: transparent;
      color: var(--slate8);
    }

    .react-calendar__tile:enabled {
      background: transparent;
      color: var(--slateDark1);
    }
  }
}