openapi: 3.0.0
info:
  title: QuickBooks Online Accounting API
  description: >-
    The QuickBooks Online Accounting API is a RESTful API that is used to access
    QuickBooks companies.


    Docs Ref - https://developer.intuit.com/docs/api/accounting
  version: 1.0.0
servers:
  - url: https://quickbooks.api.intuit.com
    description: Production
  - url: https://sandbox-quickbooks.api.intuit.com
    description: Sandbox
security:
  - oauth2Auth: []
components:
  securitySchemes:
    oauth2Auth:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://appcenter.intuit.com/connect/oauth2
          tokenUrl: https://oauth.platform.intuit.com/oauth2/v1/tokens/bearer
          scopes:
            com.intuit.quickbooks.accounting: Full accounting access
tags:
  - name: Account
    description: >-
      An Account object is a component of a Chart Of Accounts, and is part of a
      ledger. It is used to record a total monetary amount allocated against a
      specific use. Accounts are one of five basic types: asset, liability,
      revenue (income), expenses, or equity. Delete is achieved by setting the
      Active attribute to false in an object update request; thus, making it
      inactive. In this type of delete, the record is not permanently deleted,
      but is hidden for display purposes. References to inactive objects are
      left intact. 


      https://developer.intuit.com/docs/api/accounting/account
  - name: Attachable
    description: >
      https://developer.intuit.com/docs/api/accounting/attachable



      This page covers the Attachable, Upload, and Download resources used for
      attachment management. Attachments are supplemental information linked to
      a transaction or Item object. They can be files, notes, or a combination
      of both.


      In the case of file attachments, use an upload endpoint multipart request
      to upload the files to the QuickBooks attachment list and, optionally, to
      supply metadata for each via an attachable object. If meta data is not
      supplied with the upload request, the system creates it.

      In the case of a note, use the create attachable endpoint.

      For information about attachments, see the Attachments Developer Guide.
  - name: Batch
    description: >+
      https://developer.intuit.com/docs/api/accounting/batch


      The batch operation enables an application to perform multiple operations
      in a single request.  For example, in a single batch request an
      application can create a customer, update an invoice, and read an
      account.  Compared to multiple requests, a single batch request can
      improve an application's performance by decreasing network roundtrips and
      increasing throughput. The individual operations within a batch request
      are called BatchItemRequest objects.

  - name: Bill
    description: >+
      https://developer.intuit.com/docs/api/accounting/bill


      A Bill object is an AP transaction representing a request-for-payment from
      a third party for goods/services rendered and/or received.

  - name: BillPayment
    description: >-
      https://developer.intuit.com/docs/api/accounting/billpayment



      A BillPayment object represents the payment transaction for a bill that
      the business owner receives from a vendor for goods or services purchased
      from the vendor. QuickBooks Online supports bill payments through a credit
      card or a checking account. 

      BillPayment.TotalAmt is the total amount associated with this payment.
      This includes the total of all the payments from the payment line details.
      If TotalAmt is greater than the total on the lines being paid, the
      overpayment is treated as a credit and exposed as such on the QuickBooks
      UI. The total amount cannot be negative.
  - name: Budget
    description: >+
      https://developer.intuit.com/docs/api/accounting/budget


      The Budget endpoint allows you to retrieve the current state of budgets
      already set up in the user's company file. A budget allows for an amount
      to be assigned on a monthly, quarterly, or annual basis for a specific
      account or customer and are created to give a business measurable expense
      goals. This amount represents how much should be spent against that
      account or customer in the give time period.

  - name: ChangeDataCapture
    description: >-
      https://developer.intuit.com/docs/api/accounting/changedatacapture


      The change data capture (cdc) operation returns a list of objects that
      have changed since a specified time. This operation is for an app that
      periodically polls data services in order to refresh its local copy of
      object data. The app calls the cdc operation, specifying a comma separated
      list of object types and a date-time stamp specifying how far to look
      back. Data services returns all objects specified by entityList that have
      changed since the specified date-time. Look-back time can be up to 30
      days.
  - name: Class
    description: >-
      https://developer.intuit.com/docs/api/accounting/class


      Class objects provide a way to track different segments of the business so
      they're not tied to a particular client or project. For example, you can
      define classes to break down the income and expenses for each business
      segment. Classes are available to the entire transaction or to individual
      detail lines of a transaction.


      Ref -
      https://developer.intuit.com/docs/0100_quickbooks_online/0200_dev_guides/accounting/class_tracking
  - name: CompanyInfo
    description: >+
      https://developer.intuit.com/docs/api/accounting/companyinfo


      The CompanyInfo object contains basic company information. In QuickBooks,
      company info and preferences are displayed in the same place under
      preferences, so it may be confusing to figure out from user interface
      which fields may belong to this object. But in general, properties such as
      company addresses or name are considered company information. Some
      attributes may exist in both CompanyInfo and Preferences objects.

  - name: CreditMemo
    description: >+
      https://developer.intuit.com/docs/api/accounting/creditmemo


      The CreditMemo object is a financial transaction representing a refund or
      credit of payment or part of a payment for goods or services that have
      been sold.

  - name: Customer
    description: >+
      https://developer.intuit.com/docs/api/accounting/customer


      A customer is a consumer of the service or product that your business
      offers. The Customer object allows you to categorize customers according
      to your business requirements. To create a job, you must first create a
      customer and then create a job referencing that customer as a parent with
      the ParentRef attribute. Some areas a sub-customer/job can be used
      include:


      To track a job for the top-level customer, such as a kitchen remodel or
      bathroom remodel.

      Members of a team or league.

      Properties managed by a Homeowner Association or Property Management
      Company.

      See QuickBooks product documentation for more about sub-customers and
      jobs.

  - name: Department
    description: >-
      https://developer.intuit.com/docs/api/accounting/department


      The Department resource provides a way to track transactions based on
      physical locations such as stores, sales regions, or countries. As you
      create sales and expense transactions, consistently designate the
      department to which they belong. 
  - name: Deposit
    description: >
      https://developer.intuit.com/docs/api/accounting/deposit



      A deposit object is a transaction that records one or more deposits of the
      following types:


      A customer payment, originally held in the Undeposited Funds account, into
      the Asset Account specified by the Deposit.DepositToAccountRef attribute.
      The Deposit.line.LinkedTxn element is used in this case to hold deposit
      information.

      A new, direct deposit specified by Deposit.Line.DepositLineDetail line
      detail.
  - name: Employee
    description: >-
      https://developer.intuit.com/docs/api/accounting/employee


      An Employee object represents a person working for the company.


      The DisplayName attribute must be unique.

      The GivenName, MiddleName, FamilyName, and PrintOnCheckName attributes
      must not contain a colon (:).

      The GivenName and FamilyName attributes are required.

      The PrimaryEmailAddress attribute must contain an at sign (@) and dot (.).

      The full complement of read, create, delete via deactivation
      (active=false), and update operations are available both with and without
      QuickBooks Payroll enabled. However, when Payroll is enabled, support for
      some attributes is limited:

      Title—Not supported when QuickBooks Payroll is enabled.

      Suffix—Not supported when QuickBooks Payroll is enabled.

      DisplayName —It’s read only when QuickBooks Payroll is enabled and a
      concatenation of GivenName MiddleName FamilyName.

      PrintOnCheckName—Not supported when QuickBooks Payroll is enabled.

      BillRate—Not supported when QuickBooks Payroll is enabled.

      SSN—Masked SSNs, as is returned in a response, cannot be passed in a
      request when QuickBooks Payroll is enabled. Code for this field must be
      removed before submitting.
  - name: Estimate
    description: >+
      https://developer.intuit.com/docs/api/accounting/estimate


      Estimate represents a proposal for a financial transaction from a business
      to a customer for goods or services proposed to be sold, including
      proposed pricing.

  - name: ExchangeRate
    description: >+
      https://developer.intuit.com/docs/api/accounting/exchangerate


      Applicable only for those companies that enable multicurrency, the
      exchangerate resource provides the ability to query and set exchange rates
      available to the QuickBooks Online company. This entity works in
      combination with the companycurrency entity and the Currency Center in the
      QuickBooks Online UI to manage exchange rates for the company.


  - name: InventoryAdjustment
  - name: Invoice
    description: >+
      https://developer.intuit.com/docs/api/accounting/invoice


      An Invoice represents a sales form where the customer pays for a product
      or service later.

  - name: Item
    description: >-
      https://developer.intuit.com/docs/api/accounting/item


      An item is a thing that your company buys, sells, or re-sells, such as
      products and services. An item is shown as a line on an invoice or other
      sales form. 
  - name: JournalEntry
    description: >-
      https://developer.intuit.com/docs/api/accounting/journalentry


      JournalEntry is a transaction in which:


      There are at least one pair of lines, a debit and a credit, called
      distribution lines.

      Each distribution line has an account from the Chart of Accounts. Query
      the Account resource for a listing of the Chart of Accounts.

      The total of the debit column equals the total of the credit column.

      When you record a transaction with a JournalEntry object, the QuickBooks
      Online UI labels the transaction as JRNL in the register and as General
      Journal on reports that list transactions.
  - name: Payment
    description: >-
      https://developer.intuit.com/docs/api/accounting/payment


      A Payment object records a payment in QuickBooks. The payment can be
      applied for a particular customer against multiple Invoices and Credit
      Memos. It can also be created without any Invoice or Credit Memo, by just
      specifying an amount. 
  - name: PaymentMethod
    description: >-
      https://developer.intuit.com/docs/api/accounting/paymentmethod


      The PaymentMethod resource provides the method of payment for received
      goods. 
  - name: Preferences
    description: >+
      https://developer.intuit.com/docs/api/accounting/preferences


      The Preferences resource represents a set of company preferences that
      control application behavior in QuickBooks Online. They are mostly exposed
      as read-only through the Preferences endpoint with only a very small
      subset of them available as writable. Preferences are not necessarily
      honored when making requests via the QuickBooks API because a lot of them
      control UI behavior in the application and may not be applicable for apps.


      Business Rules


      The create operation is not supported.

      The read request retrieves all preferences. There is no notion of
      preference objects or object IDs.

      Update operations are supported for a limited subset of preferences.

      The Delete operation is not supported.

      Query is supported with sorting and filtering enabled for Metadata
      timestamp attributes. Pagination is not supported.

      OtherPrefs type is used as an extension mechanism to contain additional
      attributes as Name/Value pairs.

  - name: Purchase
    description: >-
      https://developer.intuit.com/docs/api/accounting/purchase


      A Purchase object represents an expense, such as a purchase made from a
      vendor. There are three types of purchases: Cash, Check, and Credit Card.


      Cash Purchase contains information regarding a payment made in cash.

      Check Purchase contains information regarding a payment made by check.

      Credit Card Purchase contains information regarding a payment made by
      credit card or refunded/credited back to a credit card.
  - name: PurchaseOrder
    description: >+
      https://developer.intuit.com/docs/api/accounting/purchaseorder


      The PurchaseOrder object is a non-posting transaction representing a
      request to purchase goods or services from a third party.

  - name: RefundReceipt
    description: >+
      https://developer.intuit.com/docs/api/accounting/refundreceipt


      A RefundReceipt object represents a refund to the customer for a product
      or service that was provided.

  - name: Reports
  - name: SalesReceipt
    description: >-
      https://developer.intuit.com/docs/api/accounting/salesreceipt


      A SalesReceipt object represents the sales receipt that is given to a
      customer. A sales receipt is similar to an invoice. However, for a sales
      receipt, payment is received as part of the sale of goods and services.
      The sales receipt specifies a deposit account where the customer's payment
      is deposited. If the deposit account is not specified, the Undeposited
      Account is used.
  - name: TaxAgency
    description: >+
      https://developer.intuit.com/docs/api/accounting/taxagency


      A TaxAgency object is associated with a tax rate and identifies the agency
      to which that tax rate applies, that is, the entity that collects those
      taxes.

  - name: TaxCode
    description: >-
      https://developer.intuit.com/docs/api/accounting/taxcode


      A TaxCode object is used to track the taxable or non-taxable status of
      products, services, and customers. You can assign a sales tax code to each
      of your products, services, and customers based on their taxable or
      non-taxable status. You can then use these codes to generate reports that
      provide information to the tax agencies about the taxable or non-taxable
      status of certain sales.
  - name: TaxRate
    description: >+
      https://developer.intuit.com/docs/api/accounting/taxrate


      A TaxRate object represents rate applied to calculate tax liability. Use
      the TaxService entity to create a taxrate. See Global tax model for more
      information about using TaxRate objects and the tax model in general.

  - name: TaxService
    description: >
      https://developer.intuit.com/docs/api/accounting/taxservice


      The TaxService resource allows you to perform the following actions:


      Create a new TaxCode object and specify a list of existing tax rates to be
      associated to that tax code. To retrieve a list of existing TaxCode
      objects, query the TaxCode resource.

      Create a new TaxRate object, dynamically. To retrieve a list of existing
      tax rates, query the TaxRate resource.
  - name: Term
    description: >
      https://developer.intuit.com/docs/api/accounting/term


      A Term object represents the terms under which a sale is made, typically
      expressed in the form of days due after the goods are received.
      Optionally, a discount of the total amount may be applied if payment is
      made within a stipulated time. For example, net 30 indicates that payment
      is due within 30 days. A term of 2%/15 net 60 indicates that payment is
      due within 60 days, with a discount of 2% if payment is made within 15
      days. This resource also supports:


      An absolute due date.

      A number of days from a start date.

      A percent discount.

      An absolute discount.
  - name: TimeActivity
    description: >+
      https://developer.intuit.com/docs/api/accounting/timeactivity


      The TimeActivity object represents a record of time worked by a vendor or
      employee.

  - name: Transfer
    description: >+
      https://developer.intuit.com/docs/api/accounting/transfer


      A Transfer represents a transaction where funds are moved between two
      accounts from the company's QuickBooks chart of accounts.

  - name: Vendor
    description: >+
      https://developer.intuit.com/docs/api/accounting/vendor


      The Vendor object represents the seller from whom your company purchases
      any service or product.

  - name: VendorCredit
    description: >+
      https://developer.intuit.com/docs/api/accounting/vendorcredit



      The VendorCredit object is an accounts payable transaction that represents
      a refund or credit of payment for goods or services. It is a credit that a
      vendor owes you for various reasons such as overpaid bill, returned
      merchandise, or other reasons.

paths:
  /v3/company/{companyid}/account:
    post:
      tags:
        - Account
      summary: Account-Update
      operationId: accountUpdate
      description: Update an account
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    \"Name\": \"AR3-Updated111\",\n    \"SubAccount\":
                false,\n    \"FullyQualifiedName\": \"AR3-Updated\",\n   
                \"Active\": true,\n    \"Classification\": \"Asset\",\n   
                \"AccountType\": \"Accounts Receivable\",\n   
                \"AccountSubType\": \"AccountsReceivable\",\n   
                \"CurrentBalance\": 0,\n    \"CurrentBalanceWithSubAccounts\":
                0,\n    \"CurrencyRef\": {\n      \"value\": \"USD\",\n     
                \"name\": \"United States Dollar\"\n    },\n    \"domain\":
                \"QBO\",\n    \"sparse\": false,\n    \"Id\": \"94\",\n   
                \"SyncToken\": \"3\"\n}\n"
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/account/1:
    get:
      tags:
        - Account
      summary: Account-ReadById
      operationId: accountReadById
      description: Get the Account which has accountId as 1
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/query:
    post:
      tags:
        - VendorCredit
      summary: VendorCredit-ReadAll
      operationId: vendorCreditReadAll
      description: |
        Read all vendorcredit objects using the 'Query' endpoint
        Method : POST
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"select * from vendorcredit startposition 1 maxresults 5"'
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/text
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/attachable:
    post:
      tags:
        - Attachable
      summary: Attachable-Delete
      operationId: attachableDelete
      description: |-
        Delete an attachable object by Id
        Accept:application/json
        Method - POST
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    \"Note\": \"This is an attached note. Updated1\",\n   
                \"domain\": \"QBO\",\n    \"sparse\": false,\n    \"Id\":
                \"5000000000000029383\",\n    \"SyncToken\": \"2\",\n   
                \"MetaData\": {\n      \"CreateTime\":
                \"2016-08-18T00:18:04-07:00\",\n      \"LastUpdatedTime\":
                \"2016-08-18T00:18:04-07:00\"\n    },\n    \"AttachableRef\":
                [\n      {\n        \"EntityRef\": {\n          \"value\":
                \"130\",\n          \"type\": \"Invoice\"\n        },\n       
                \"IncludeOnSend\": false\n      }\n    ]\n  }"
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: operation
          in: query
          schema:
            type: string
          example: delete
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/attachable/5000000000000029383:
    get:
      tags:
        - Attachable
      summary: Attachable-ReadById
      operationId: attachableReadById
      description: |-
        Retrieve an attachable object by Id
        Accept:application/json
        Method - GET
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/upload:
    post:
      tags:
        - Attachable
      summary: Upload-Attachments
      operationId: uploadAttachments
      description: >-
        Uploading and linking new attachments


        https://developer.intuit.com/docs/0100_quickbooks_online/0200_dev_guides/accounting/attachments#Uploading_and_linking_new_attachments


        If the attachment is not in the Attachment list already, it's possible
        to upload it and link it to the object in one multipart operation.


        Operation:      POST
        https://quickbooks.api.intuit.com/v3/company/companyID/upload

        Content type: multipart/form-data


        Request body


        The following sample code shows the multipart request body for uploading
        a file and its supporting Attachable metatdata object, with the result
        of it being both added to the Attachment list and added to the object.


        The Attachable object accompanying this request supplies metadata and
        object information to which the attachment is linked. 

        Each part of the multipart request is separated by a boundary.  In the
        sample below, the string  --YOjcLaTlykb6OxfYJx4O07j1MweeMFem is used. 
        You can use any random and unique string.

        The file to be uploaded and its Attachable object are paired together
        via the name parameter in the part header for each one.

        The name parameter for the file part is of the form file_content_nn,
        where nn is a unique index number among the set of files being uploaded.

        The name parameter for the Attachable object is of the form
        file_metadata_nn, where nn corresponds to the file index number used
        with the content .

        The file or files are stored in the Attachment list with the name
        specified by the filename parameter.

        If the data supplied with the Attachable object cannot be validated, an
        error is returned and the file is not uploaded.
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "--37a1965f87babd849241a530ad71e169\nContent-Disposition:
                form-data; name=\"file_metadata_0\"\nContent-Type:
                application/json; charset=UTF-8\nContent-Transfer-Encoding:
                8bit\n\n{\n    \"AttachableRef\": [\n    {\n      \"EntityRef\":
                {\n        \"type\": \"Invoice\",\n        \"value\":
                \"173\"\n      }\n    }\n  ],\n   \"FileName\":
                \"receipt_nov15.jpg\",\n    \"ContentType\": \"image/jpg\"\n 
                }\n--37a1965f87babd849241a530ad71e169\nContent-Disposition:
                form-data; name=\"file_content_0\";
                filename=\"398535758.jpg\"\nContent-Type:
                image/jpeg\nContent-Transfer-Encoding:
                base64\n\n/9j/4AAQSkZJRgABAQEAlgCWAAD/4ge4SUNDX1BST0ZJTEUAAQEAAAeoYXBwbAIgAABtbnRyUkdC\nIFhZWiAH2QACABkACwAaAAthY3NwQVBQTAAAAABhcHBsAAAAAAAAAAAAAAAAAAAAAAAA9tYAAQAA\nAADTLWFwcGwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAtk\nZXNjAAABCAAAAG9kc2NtAAABeAAABWxjcHJ0AAAG5AAAADh3dHB0AAAHHAAAABRyWFlaAAAHMAAA\nABRnWFlaAAAHRAAAABRiWFlaAAAHWAAAABRyVFJDAAAHbAAAAA5jaGFkAAAHfAAAACxiVFJDAAAH\nbAAAAA5nVFJDAAAHbAAAAA5kZXNjAAAAAAAAABRHZW5lcmljIFJHQiBQcm9maWxlAAAAAAAAAAAA\nAAAUR2VuZXJpYyBSR0IgUHJvZmlsZQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAAAAAAAAAAAAAbWx1YwAAAAAAAAAeAAAADHNrU0sAAAAoAAABeGhySFIAAAAoAAABoGNh\nRVMAAAAkAAAByHB0QlIAAAAmAAAB7HVrVUEAAAAqAAACEmZyRlUAAAAoAAACPHpoVFcAAAAWAAAC\nZGl0SVQAAAAoAAACem5iTk8AAAAmAAAComtvS1IAAAAWAAACyGNzQ1oAAAAiAAAC3mhlSUwAAAAe\nAAADAGRlREUAAAAsAAADHmh1SFUAAAAoAAADSnN2U0UAAAAmAAAConpoQ04AAAAWAAADcmphSlAA\nAAAaAAADiHJvUk8AAAAkAAADomVsR1IAAAAiAAADxnB0UE8AAAAmAAAD6G5sTkwAAAAoAAAEDmVz\nRVMAAAAmAAAD6HRoVEgAAAAkAAAENnRyVFIAAAAiAAAEWmZpRkkAAAAoAAAEfHBsUEwAAAAsAAAE\npHJ1UlUAAAAiAAAE0GFyRUcAAAAmAAAE8mVuVVMAAAAmAAAFGGRhREsAAAAuAAAFPgBWAWEAZQBv\nAGIAZQBjAG4A/QAgAFIARwBCACAAcAByAG8AZgBpAGwARwBlAG4AZQByAGkBDQBrAGkAIABSAEcA\nQgAgAHAAcgBvAGYAaQBsAFAAZQByAGYAaQBsACAAUgBHAEIAIABnAGUAbgDoAHIAaQBjAFAAZQBy\nAGYAaQBsACAAUgBHAEIAIABHAGUAbgDpAHIAaQBjAG8EFwQwBDMEMAQ7BEwEPQQ4BDkAIAQ/BEAE\nPgREBDAEOQQ7ACAAUgBHAEIAUAByAG8AZgBpAGwAIABnAOkAbgDpAHIAaQBxAHUAZQAgAFIAVgBC\nkBp1KAAgAFIARwBCACCCcl9pY8+P8ABQAHIAbwBmAGkAbABvACAAUgBHAEIAIABnAGUAbgBlAHIA\naQBjAG8ARwBlAG4AZQByAGkAcwBrACAAUgBHAEIALQBwAHIAbwBmAGkAbMd8vBgAIABSAEcAQgAg\n1QS4XNMMx3wATwBiAGUAYwBuAP0AIABSAEcAQgAgAHAAcgBvAGYAaQBsBeQF6AXVBeQF2QXcACAA\nUgBHAEIAIAXbBdwF3AXZAEEAbABsAGcAZQBtAGUAaQBuAGUAcwAgAFIARwBCAC0AUAByAG8AZgBp\nAGwAwQBsAHQAYQBsAOEAbgBvAHMAIABSAEcAQgAgAHAAcgBvAGYAaQBsZm6QGgAgAFIARwBCACBj\nz4/wZYdO9k4AgiwAIABSAEcAQgAgMNcw7TDVMKEwpDDrAFAAcgBvAGYAaQBsACAAUgBHAEIAIABn\nAGUAbgBlAHIAaQBjA5MDtQO9A7kDugPMACADwAPBA78DxgOvA7sAIABSAEcAQgBQAGUAcgBmAGkA\nbAAgAFIARwBCACAAZwBlAG4A6QByAGkAYwBvAEEAbABnAGUAbQBlAGUAbgAgAFIARwBCAC0AcABy\nAG8AZgBpAGUAbA5CDhsOIw5EDh8OJQ5MACAAUgBHAEIAIA4XDjEOSA4nDkQOGwBHAGUAbgBlAGwA\nIABSAEcAQgAgAFAAcgBvAGYAaQBsAGkAWQBsAGUAaQBuAGUAbgAgAFIARwBCAC0AcAByAG8AZgBp\nAGkAbABpAFUAbgBpAHcAZQByAHMAYQBsAG4AeQAgAHAAcgBvAGYAaQBsACAAUgBHAEIEHgQxBEkE\nOAQ5ACAEPwRABD4ERAQ4BDsETAAgAFIARwBCBkUGRAZBACAGKgY5BjEGSgZBACAAUgBHAEIAIAYn\nBkQGOQYnBkUARwBlAG4AZQByAGkAYwAgAFIARwBCACAAUAByAG8AZgBpAGwAZQBHAGUAbgBlAHIA\nZQBsACAAUgBHAEIALQBiAGUAcwBrAHIAaQB2AGUAbABzAGV0ZXh0AAAAAENvcHlyaWdodCAyMDA3\nIEFwcGxlIEluYy4sIGFsbCByaWdodHMgcmVzZXJ2ZWQuAFhZWiAAAAAAAADzUgABAAAAARbPWFla\nIAAAAAAAAHRNAAA97gAAA9BYWVogAAAAAAAAWnUAAKxzAAAXNFhZWiAAAAAAAAAoGgAAFZ8AALg2\nY3VydgAAAAAAAAABAc0AAHNmMzIAAAAAAAEMQgAABd7///MmAAAHkgAA/ZH///ui///9owAAA9wA\nAMBs/+EAgEV4aWYAAE1NACoAAAAIAAUBEgADAAAAAQABAAABGgAFAAAAAQAAAEoBGwAFAAAAAQAA\nAFIBKAADAAAAAQACAACHaQAEAAAAAQAAAFoAAAAAAAA6mQAAAGQAADqZAAAAZAACoAIABAAAAAEA\nAAAuoAMABAAAAAEAAAAUAAAAAP/bAEMAAgEBAgEBAgIBAgICAgIDBQMDAwMDBgQEAwUHBgcHBwYG\nBgcICwkHCAoIBgYJDQkKCwsMDAwHCQ0ODQwOCwwMC//bAEMBAgICAwIDBQMDBQsIBggLCwsLCwsL\nCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLC//AABEIABQALgMBIgAC\nEQEDEQH/xAAfAAABBQEBAQEBAQAAAAAAAAAAAQIDBAUGBwgJCgv/xAC1EAACAQMDAgQDBQUEBAAA\nAX0BAgMABBEFEiExQQYTUWEHInEUMoGRoQgjQrHBFVLR8CQzYnKCCQoWFxgZGiUmJygpKjQ1Njc4\nOTpDREVGR0hJSlNUVVZXWFlaY2RlZmdoaWpzdHV2d3h5eoOEhYaHiImKkpOUlZaXmJmaoqOkpaan\nqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4eLj5OXm5+jp6vHy8/T19vf4+fr/xAAfAQAD\nAQEBAQEBAQEBAAAAAAAAAQIDBAUGBwgJCgv/xAC1EQACAQIEBAMEBwUEBAABAncAAQIDEQQFITEG\nEkFRB2FxEyIygQgUQpGhscEJIzNS8BVictEKFiQ04SXxFxgZGiYnKCkqNTY3ODk6Q0RFRkdISUpT\nVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqCg4SFhoeIiYqSk5SVlpeYmZqio6Slpqeoqaqys7S1tre4\nubrCw8TFxsfIycrS09TV1tfY2dri4+Tl5ufo6ery8/T19vf4+fr/2gAMAwEAAhEDEQA/APkb41eO\nNYtfi94oSDVdRVF1a74FzJgfvn96j+Kmj+O/gj/wj3/C159Q0MeK9Et/EekmfU1IvdPuN/kzrtkO\n0N5b/K2GGOQKzvjnz8YPFX/YVvP/AEc9fePiv9qXwn4K+Eut674A8S+Br3xl4e/Zd8MaZ4dF0LPU\nHtvENte3TtbwwThla8h3RuYipI+UspFfueIryw6p8kOa+n5Ja62310Z+V4XDRxU5RlPl8z4O0S/8\nYeJfB+t+IfD1xrN7oPhpbZtV1GG7ZrXTxczeRb+bJvwDLLlEAyWYHA4OK/hTxP4i8ceKdI0Xwrq9\n1eanr13FY6fANS2fappZFjRVdnCgF2UFiQozkkDmv0r+KX7VPhO/8JftJaX8I/HPwu0qXxf4c8C+\nJZIA1hDb63cpldfjtwI2WS7NvFGnkINyyMpXY7Fqq/GDUvhB4d+IXxP17TPHvwc1nTfiB8a/h/4o\n0O10zVbW4lstChubNbxpoto+zxARztLHyAgZnADc8NPN5ydpUbXtbfqob6dOZ9vha8zu/smElpXX\nW+3eW2vku+5+fXjvw38RPhlZm58eRa7ptp/a97oCXT3m+3nv7Jtt3BDKkhWUwtwzISgPG4mux/ZD\n8Y6tefEO++06nqL7dOkxm6k4/exf7VfRX/BRD9oTTfiz+xBaaD8NPGfgK803wz8XvFf2nRLOWzjv\n30+XU5pNKntIUQSPbeU+8yxkKUK7i+AB8x/sc/8AJQ7/AP7Bz/8Ao2KuqlWnicLOdSKTu1b0em/d\nanFVpRw+IjCnK60d/X0O/wDil+zfoWofE7xJNcXOqb31W7JxJHj/AF7/APTOsH/hmPw//wA/Gqf9\n/I//AI3RRXRTk+VamM4rmegv/DMfh/H/AB8ap/38j/8AjdB/Zj8Pn/l41Trn/WR9f+/dFFVzPuRZ\nXEP7Mfh89bjVOP8AppFx/wCQ69I/Zf8A2d9F0z4hXP2S61Qb9Olzl4z0lh/6Z+9FFY4mT9lLU1oJ\nc6P/2Q==\n\n--37a1965f87babd849241a530ad71e169--"
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Content-Type
          in: header
          schema:
            type: string
          example: multipart/form-data;boundary=37a1965f87babd849241a530ad71e169
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/batch:
    post:
      tags:
        - Batch
      summary: Batch
      operationId: batch
      description: |-
        Multiple operations using batch query
        Content-Type:application/json
        Method - POST
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    \"BatchItemRequest\": \n[\n   {\n        \"bId\":
                \"bid1\",\n        \"operation\": \"create\",\n       
                \"Vendor\": {\n            \"DisplayName\": \"Smith Family
                Store\"\n        }\n    }, {\n        \"bId\":
                \"bid2\",\n        \"operation\": \"delete\",\n       
                \"Invoice\": {\n            \"Id\": \"129\",\n           
                \"SyncToken\": \"0\"\n        }\n    }, { \n        \"bId\":
                \"bid3\",\n        \"operation\": \"update\",\n       
                \"SalesReceipt\": {\n               \"domain\":
                \"QBO\",\n               \"sparse\": true,\n              
                \"Id\": \"11\",\n               \"SyncToken\":
                \"0\",\n               \"PrivateNote\":\"A private note.\"      
                \n          }\n    }, {\n        \"bId\": \"bid4\",\n       
                \"Query\": \"select * from SalesReceipt\"\n    }\n]\n}\n"
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/bill:
    post:
      tags:
        - Bill
      summary: Bill-Delete
      operationId: billDelete
      description: |-
        Update a bill
        Content-Type:application/json
        Method - POST

        Sample Request

        {
            "Id": "149",
            "SyncToken": "0"
        }

        Sample Response - 

        {
          "Bill": {
            "domain": "QBO",
            "status": "Deleted",
            "Id": "149"
          },
          "time": "2016-08-18T10:02:41.570-07:00"
        }
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"Id\": \"149\",\n    \"SyncToken\": \"0\"\n}\n"'
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: operation
          in: query
          schema:
            type: string
          example: delete
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/bill/1:
    get:
      tags:
        - Bill
      summary: Bill-GetById
      operationId: billGetById
      description: |-
        Retrieve a bill by Id
        Accept:application/json
        Method - GET
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/billpayment:
    post:
      tags:
        - BillPayment
      summary: BillPayment-Update
      operationId: billPaymentUpdate
      description: |-
        Update a BillPayment
        Content-Type:application/json
        Method - POST
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n  \"VendorRef\": {\n          \"value\": \"62\",\n         
                \"name\": \"Test\"\n  },\n  \"PayType\": \"Check\",\n 
                \"CheckPayment\": {\n    \"BankAccountRef\": {\n      \"value\":
                \"35\",\n      \"name\": \"Checking\"\n    }\n  },\n 
                \"TotalAmt\": 100.00,\n  \"PrivateNote\": \"Updated Note\",\n 
                \"Line\": [\n    {\n      \"Amount\": 100.00,\n     
                \"LinkedTxn\": [\n        {\n          \"TxnId\":
                \"153\",\n          \"TxnType\": \"Bill\"\n        }\n     
                ]\n    }\n  ]\n}"
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/billpayment/118:
    get:
      tags:
        - BillPayment
      summary: BillPayment-ReadById
      operationId: billPaymentReadById
      description: |-
        Retrieve BillPayment by Id
        Method - GET
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/cdc:
    get:
      tags:
        - ChangeDataCapture
      summary: CDC-Read
      operationId: cDCRead
      description: |-
        Retrive changed Bill and invoice objects since Aug10,2016
        Method - GET
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/text
        - name: entities
          in: query
          schema:
            type: string
          example: bill,invoice
        - name: changedSince
          in: query
          schema:
            type: string
          example: YYYY-MM-DD
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/class:
    post:
      tags:
        - Class
      summary: Class-Delete
      operationId: classDelete
      description: |-
        Delete a Class entry
        Method - POST

        Sample request payload 

        {
            "Id": "5000000000000018727",
            "SyncToken": "1"
        }

        Sample response payload

        {
          "time": "2016-08-18T11:53:27.601-07:00"
        }
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    \"Id\": \"5000000000000018727\",\n    \"SyncToken\":
                \"1\"\n}"
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: operation
          in: query
          schema:
            type: string
          example: delete
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/class/5000000000000018727:
    get:
      tags:
        - Class
      summary: Class-ReadById
      operationId: classReadById
      description: |-
        Read a Class object by Id
        Method - GET
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/companyinfo/{companyid}:
    get:
      tags:
        - CompanyInfo
      summary: CompanyInfo-ReadById
      operationId: companyInfoReadById
      description: 'Method : GET'
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/creditmemo:
    post:
      tags:
        - CreditMemo
      summary: CreditMemo-Delete
      operationId: creditMemoDelete
      description: |-
        Delete a credit memo by Id
        Method : GET

        Sample request payload 

        {
            "Id": "160",
            "SyncToken": "2"
        }

        Sample response payload 

        {
          "CreditMemo": {
            "domain": "QBO",
            "status": "Deleted",
            "Id": "160"
          },
          "time": "2016-08-18T13:16:22.310-07:00"
        }
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"Id\": \"160\",\n    \"SyncToken\": \"2\"\n}"'
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: operation
          in: query
          schema:
            type: string
          example: delete
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/creditmemo/160:
    get:
      tags:
        - CreditMemo
      summary: CreditMemo-ReadById
      operationId: creditMemoReadById
      description: |-
        Read a credit memo by Id
        Method : GET
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/customer:
    post:
      tags:
        - Customer
      summary: Customer-Delete
      operationId: customerDelete
      description: >-
        Delete a customer by Id

        Method : POST


        Customer(or any Name List entities) can't be deleted permanently. It can
        only be inactived by setting the value of 'Active' attribute to false.
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    \"domain\": \"QBO\",\n    \"sparse\": true,\n    \"Id\":
                \"67\",\n    \"SyncToken\": \"0\",\n    \"Active\": false\n}"
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/customer/63:
    get:
      tags:
        - Customer
      summary: Customer-ReadById
      operationId: customerReadById
      description: |-
        Read a customer entry by Id
        Method : GET
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/department:
    post:
      tags:
        - Department
      summary: Department-Delete
      operationId: departmentDelete
      description: >+
        Delete a department object

        Method : POST


        Delete is achieved by setting the Active attribute to false in an entity
        update request; thus, making it inactive. In this type of delete, the
        record is not permanently deleted, but is hidden for display purposes.
        References to inactive objects are left intact.

      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    \"Name\": \"Marketing Department-Updated\",\n   
                \"SubDepartment\": false,\n    \"FullyQualifiedName\":
                \"Marketing Department\",\n    \"Active\": false,\n   
                \"domain\": \"QBO\",\n    \"sparse\": false,\n    \"Id\":
                \"1\",\n    \"SyncToken\": \"2\"\n}"
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/department/1:
    get:
      tags:
        - Department
      summary: Department-ReadById
      operationId: departmentReadById
      description: |-
        Read a department object
        Method : GET
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/deposit:
    post:
      tags:
        - Deposit
      summary: Deposit-Delete
      operationId: depositDelete
      description: |-
        Delete a deposit object by Id
        Method : POST

        Sample request payload 

        {
            "Id": "162",
            "SyncToken": "1"
        }

        Sample response payload

        {
          "Deposit": {
            "domain": "QBO",
            "status": "Deleted",
            "Id": "162"
          },
          "time": "2016-08-18T16:01:36.997-07:00"
        }
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"Id\": \"162\",\n    \"SyncToken\": \"1\"\n}"'
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: operation
          in: query
          schema:
            type: string
          example: delete
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/deposit/162:
    get:
      tags:
        - Deposit
      summary: Deposit-ReadById
      operationId: depositReadById
      description: |-
        Read a deposit object by Id
        Method : POST
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/employee:
    post:
      tags:
        - Employee
      summary: Employee-Delete
      operationId: employeeDelete
      description: |+
        Delete an employee object
        Method : POST

        Delete via deactivation (active=false)

      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    \"SSN\": \"XXX-XX-XXXX\",\n    \"PrimaryAddr\": {\n     
                \"Id\": \"105\",\n      \"Line1\": \"45 N. Elm Street\",\n     
                \"City\": \"Middlefield\",\n      \"CountrySubDivisionCode\":
                \"CA\",\n      \"PostalCode\": \"93242\"\n    },\n   
                \"BillableTime\": false,\n    \"domain\": \"QBO\",\n   
                \"sparse\": false,\n    \"Id\": \"68\",\n    \"SyncToken\":
                \"2\",\n    \"MetaData\": {\n      \"CreateTime\":
                \"2016-08-18T16:04:16-07:00\",\n      \"LastUpdatedTime\":
                \"2016-08-18T16:04:16-07:00\"\n    },\n    \"GivenName\":
                \"John\",\n    \"FamilyName\": \"Meuller\",\n   
                \"DisplayName\": \"John Meuller - Updated\",\n   
                \"PrintOnCheckName\": \"John Meuller\",\n    \"Active\":
                false,\n    \"PrimaryPhone\": {\n      \"FreeFormNumber\":
                \"408-525-1234\"\n    }\n  }"
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/employee/68:
    get:
      tags:
        - Employee
      summary: Employee-ReadById
      operationId: employeeReadById
      description: |+
        Retrive an employee object by ID
        Method : GET

      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/estimate:
    post:
      tags:
        - Estimate
      summary: Estimate-Delete
      operationId: estimateDelete
      description: |
        Delete an Estimate object by Id
        Method : POST

        Sample request sample 

        {
            "Id": "163",
            "SyncToken": "1"
        }

        Sample response sample 

        {
          "Estimate": {
            "domain": "QBO",
            "status": "Deleted",
            "Id": "163"
          },
          "time": "2016-08-18T16:26:18.345-07:00"
        }
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"Id\": \"163\",\n    \"SyncToken\": \"1\"\n}"'
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: operation
          in: query
          schema:
            type: string
          example: delete
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/estimate/163:
    get:
      tags:
        - Estimate
      summary: Entitlement
      operationId: entitlement
      description: |
        Read an Estimate object by Id
        Method : POST
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/exchangerate:
    get:
      tags:
        - ExchangeRate
      summary: ExchangeRate - GetDetails
      operationId: exchangeRateGetDetails
      description: |
        Get ExchangeRate
        Method : GET
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: sourcecurrencycode
          in: query
          schema:
            type: string
          example: USD
        - name: asofdate
          in: query
          schema:
            type: string
          example: '2017-04-25'
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/inventoryadjustment:
    post:
      tags:
        - InventoryAdjustment
      summary: CreateInventoryAdjustment Copy
      operationId: createInventoryAdjustmentCopy
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "<InventoryAdjustment
                xmlns=\"http://schema.intuit.com/finance/v3\">\n<AdjustAccountRef>26</AdjustAccountRef>\n<TxnDate>2025-11-08</TxnDate>\n<DocNumber>1234</DocNumber>\n<Line
                xmlns=\"http://schema.intuit.com/finance/v3\">\n<DetailType>ItemAdjustmentLineDetail</DetailType>\n<ItemAdjustmentLineDetail
                xmlns=\"http://schema.intuit.com/finance/v3\">\n<ItemRef>8</ItemRef>\n<QtyDiff>-2</QtyDiff>\n</ItemAdjustmentLineDetail>\n</Line>\n</InventoryAdjustment>"
      security:
        - oauth2Auth: []
      parameters:
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/xml
        - name: Accept
          in: header
          schema:
            type: string
          example: application/xml
        - name: minorversion
          in: query
          schema:
            type: integer
          example: '75'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/invoice:
    post:
      tags:
        - Invoice
      summary: Invoice-Void
      operationId: invoiceVoid
      description: |+
        Void an invoice object by Id
        Method : POST

      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"Id\": \"173\",\n    \"SyncToken\": \"2\"\n}"'
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: operation
          in: query
          schema:
            type: string
          example: void
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/invoice/147:
    get:
      tags:
        - Invoice
      summary: Send an Invoice
      operationId: sendAnInvoice
      description: |
        Read an invoice object by Id
        Method : POST
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/item:
    post:
      tags:
        - Item
      summary: Item-Delete
      operationId: itemDelete
      description: |-
        Delete an item object
        Method : POST

        Item object can't be deleted permanently. It can only be dactivated. 

        Delete endpoint returns full item details.

        Sample response payload 

        {
          "Item": {
            "Name": "Garden Supplies-Updated (deleted)",
            "Active": false,
            "FullyQualifiedName": "Garden Supplies-Updated (deleted)",
            "Taxable": false,
            "UnitPrice": 0,
            "Type": "Inventory",
            "IncomeAccountRef": {
              "value": "79",
              "name": "Sales of Product Income"
            },
            "PurchaseCost": 0,
            "ExpenseAccountRef": {
              "value": "80",
              "name": "Cost of Goods Sold"
            },
            "AssetAccountRef": {
              "value": "81",
              "name": "Inventory Asset"
            },
            "TrackQtyOnHand": true,
            "QtyOnHand": 0,
            "InvStartDate": "2015-01-01",
            "domain": "QBO",
            "sparse": false,
            "Id": "20",
            "SyncToken": "2",
            "MetaData": {
              "CreateTime": "2016-08-18T20:05:48-07:00",
              "LastUpdatedTime": "2016-08-18T20:09:43-07:00"
            }
          },
          "time": "2016-08-18T20:09:43.174-07:00"
        }
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    \"Name\": \"Garden Supplies-Updated\",\n    \"Active\":
                false,\n    \"FullyQualifiedName\": \"Garden
                Supplies-Updated\",\n    \"Taxable\": false,\n    \"UnitPrice\":
                0,\n    \"Type\": \"Inventory\",\n    \"IncomeAccountRef\":
                {\n      \"value\": \"79\",\n      \"name\": \"Sales of Product
                Income\"\n    },\n    \"PurchaseCost\": 0,\n   
                \"ExpenseAccountRef\": {\n      \"value\": \"80\",\n     
                \"name\": \"Cost of Goods Sold\"\n    },\n   
                \"AssetAccountRef\": {\n      \"value\": \"81\",\n     
                \"name\": \"Inventory Asset\"\n    },\n    \"TrackQtyOnHand\":
                true,\n    \"QtyOnHand\": 10,\n    \"InvStartDate\":
                \"2015-01-01\",\n    \"domain\": \"QBO\",\n    \"sparse\":
                false,\n    \"Id\": \"20\",\n    \"SyncToken\": \"0\"\n  }"
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/item/<ID>:
    get:
      tags:
        - Item
      summary: Item-ReadById
      operationId: itemReadById
      description: |
        Read an Item by Id
        Method : GET
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/journalentry:
    post:
      tags:
        - JournalEntry
      summary: JournalEntry-Delete
      operationId: journalEntryDelete
      description: |-
        Delete an journalentry object
        Method : POST

        Sample request payload 

        {
            "Id": "167",
            "SyncToken": "0"
        }

        Sample response payload 

        {
          "JournalEntry": {
            "domain": "QBO",
            "status": "Deleted",
            "Id": "167"
          },
          "time": "2016-08-18T20:16:26.585-07:00"
        }
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"Id\": \"167\",\n    \"SyncToken\": \"0\"\n}"'
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: operation
          in: query
          schema:
            type: string
          example: delete
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/journalentry/8:
    get:
      tags:
        - JournalEntry
      summary: JournalEntry-ReadById
      operationId: journalEntryReadById
      description: |
        Read an journalentry object by Id
        Method : POST
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/payment:
    post:
      tags:
        - Payment
      summary: Payment-Delete
      operationId: paymentDelete
      description: |-
        Delete a payment object
        Method : POST

        Sample response payload

        {
          "Payment": {
            "domain": "QBO",
            "status": "Deleted",
            "Id": "174"
          },
          "time": "2016-08-23T20:06:18.696-07:00"
        }
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"Id\": \"174\",\n    \"SyncToken\": \"1\"\n}"'
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: operation
          in: query
          schema:
            type: string
          example: delete
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/payment/174:
    get:
      tags:
        - Payment
      summary: Payment-ReadByID
      operationId: paymentReadByID
      description: |
        Read a payment object by Id
        Method : GET
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/paymentmethod:
    post:
      tags:
        - PaymentMethod
      summary: PaymentMethod-Delete
      operationId: paymentMethodDelete
      description: >-
        Delete a payment method

        Method : GET


        Delete is achieved by setting the Active attribute to false in an object
        update request; thus, making it inactive. In this type of delete, the
        record is not permanently deleted, but is hidden for display purposes.
        References to inactive objects are left intact.
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n    \"Name\": \"Business Check-Updated\",\n    \"Active\":
                false,\n    \"Type\": \"NON_CREDIT_CARD\",\n    \"domain\":
                \"QBO\",\n    \"sparse\": false,\n    \"Id\": \"8\",\n   
                \"SyncToken\": \"0\",\n    \"MetaData\": {\n     
                \"CreateTime\": \"2016-08-23T20:09:50-07:00\",\n     
                \"LastUpdatedTime\": \"2016-08-23T20:09:50-07:00\"\n    }\n  }"
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/paymentmethod/8:
    get:
      tags:
        - PaymentMethod
      summary: PaymentMethod-ReadById
      operationId: paymentMethodReadById
      description: |
        Read a payment method
        Method : GET
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/preferences:
    get:
      tags:
        - Preferences
      summary: Preference-Read
      operationId: preferenceRead
      description: |
        Read the preference object
        Method : POST
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    post:
      tags:
        - Preferences
      summary: Preference-Update
      operationId: preferenceUpdate
      description: |
        Update the preference object endpoint
        Method : POST
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n        \"AccountingInfoPrefs\": {\n         
                \"TrackDepartments\": true,\n         
                \"DepartmentTerminology\": \"Location\",\n         
                \"ClassTrackingPerTxn\": false,\n         
                \"ClassTrackingPerTxnLine\": true,\n         
                \"CustomerTerminology\": \"Customers\"\n        },\n       
                \"ProductAndServicesPrefs\": {\n          \"ForSales\":
                true,\n          \"ForPurchase\": true,\n         
                \"QuantityWithPriceAndRate\": true,\n         
                \"QuantityOnHand\": true\n        },\n       
                \"SalesFormsPrefs\": {\n          \"CustomField\":
                [\n            {\n              \"CustomField\":
                [\n                {\n                  \"Name\":
                \"SalesFormsPrefs.UseSalesCustom3\",\n                 
                \"Type\": \"BooleanType\",\n                  \"BooleanValue\":
                false\n                },\n                {\n                 
                \"Name\":
                \"SalesFormsPrefs.UseSalesCustom2\",\n                 
                \"Type\": \"BooleanType\",\n                  \"BooleanValue\":
                false\n                },\n                {\n                 
                \"Name\":
                \"SalesFormsPrefs.UseSalesCustom1\",\n                 
                \"Type\": \"BooleanType\",\n                  \"BooleanValue\":
                true\n                }\n              ]\n           
                },\n            {\n              \"CustomField\":
                [\n                {\n                  \"Name\":
                \"SalesFormsPrefs.SalesCustomName1\",\n                 
                \"Type\": \"StringType\",\n                  \"StringValue\":
                \"Crew #\"\n                }\n              ]\n           
                }\n          ],\n          \"CustomTxnNumbers\":
                false,\n          \"AllowDeposit\": true,\n         
                \"AllowDiscount\": true,\n          \"DefaultDiscountAccount\":
                \"86\",\n          \"AllowEstimates\": true,\n         
                \"ETransactionEnabledStatus\": \"NotApplicable\",\n         
                \"ETransactionAttachPDF\": false,\n         
                \"ETransactionPaymentEnabled\": false,\n         
                \"IPNSupportEnabled\": false,\n          \"AllowServiceDate\":
                false,\n          \"AllowShipping\": false,\n         
                \"DefaultTerms\": {\n            \"value\": \"3\"\n         
                },\n          \"DefaultCustomerMessage\": \"Thank you for your
                business and have a great day!\"\n        },\n       
                \"EmailMessagesPrefs\": {\n          \"InvoiceMessage\":
                {\n            \"Subject\": \"Invoice from Craig's Design and
                Landscaping Services\",\n            \"Message\": \"Your invoice
                is attached.  Please remit payment at your earliest
                convenience.\\nThank you for your business - we appreciate it
                very much.\\n\\nSincerely,\\nCraig's Design and Landscaping
                Services\"\n          },\n          \"EstimateMessage\":
                {\n            \"Subject\": \"Estimate from Craig's Design and
                Landscaping Services\",\n            \"Message\": \"Please
                review the estimate below.  Feel free to contact us if you have
                any questions.\\nWe look forward to working with
                you.\\n\\nSincerely,\\nCraig's Design and Landscaping
                Services\"\n          },\n          \"SalesReceiptMessage\":
                {\n            \"Subject\": \"Sales Receipt from Craig's Design
                and Landscaping Services\",\n            \"Message\": \"Your
                sales receipt is attached.\\nThank you for your business - we
                appreciate it very much.\\n\\nSincerely,\\nCraig's Design and
                Landscaping Services\"\n          },\n         
                \"StatementMessage\": {\n            \"Subject\": \"Statement
                from Craig's Design and Landscaping Services\",\n           
                \"Message\": \"Your statement is attached.  Please remit payment
                at your earliest convenience.\\nThank you for your business - we
                appreciate it very much.\\n\\nSincerely,\\nCraig's Design and
                Landscaping Services\"\n          }\n        },\n       
                \"VendorAndPurchasesPrefs\": {\n         
                \"TrackingByCustomer\": true,\n         
                \"BillableExpenseTracking\": true,\n          \"POCustomField\":
                [\n            {\n              \"CustomField\":
                [\n                {\n                  \"Name\":
                \"PurchasePrefs.UsePurchaseCustom3\",\n                 
                \"Type\": \"BooleanType\",\n                  \"BooleanValue\":
                false\n                },\n                {\n                 
                \"Name\":
                \"PurchasePrefs.UsePurchaseCustom2\",\n                 
                \"Type\": \"BooleanType\",\n                  \"BooleanValue\":
                true\n                },\n                {\n                 
                \"Name\":
                \"PurchasePrefs.UsePurchaseCustom1\",\n                 
                \"Type\": \"BooleanType\",\n                  \"BooleanValue\":
                true\n                }\n              ]\n           
                },\n            {\n              \"CustomField\":
                [\n                {\n                  \"Name\":
                \"PurchasePrefs.PurchaseCustomName2\",\n                 
                \"Type\": \"StringType\",\n                  \"StringValue\":
                \"Sales Rep\"\n                },\n               
                {\n                  \"Name\":
                \"PurchasePrefs.PurchaseCustomName1\",\n                 
                \"Type\": \"StringType\",\n                  \"StringValue\":
                \"Crew #\"\n                }\n              ]\n           
                }\n          ]\n        },\n        \"TimeTrackingPrefs\":
                {\n          \"UseServices\": true,\n         
                \"BillCustomers\": true,\n          \"ShowBillRateToAll\":
                false,\n          \"WorkWeekStartDate\": \"Monday\",\n         
                \"MarkTimeEntriesBillable\": true\n        },\n       
                \"TaxPrefs\": {\n          \"UsingSalesTax\": true,\n         
                \"TaxGroupCodeRef\": {\n            \"value\": \"2\"\n         
                }\n        },\n        \"CurrencyPrefs\": {\n         
                \"MultiCurrencyEnabled\": true,\n          \"HomeCurrency\":
                {\n            \"value\": \"USD\"\n          }\n       
                },\n        \"ReportPrefs\": {\n          \"ReportBasis\":
                \"Accrual\",\n          \"CalcAgingReportFromTxnDate\":
                false\n        },\n        \"OtherPrefs\": {\n         
                \"NameValue\": [\n            {\n              \"Name\":
                \"SalesFormsPrefs.DefaultCustomerMessage\",\n             
                \"Value\": \"Thank you for your business and have a great
                day!\"\n            },\n            {\n              \"Name\":
                \"SalesFormsPrefs.DefaultItem\",\n              \"Value\":
                \"1\"\n            },\n            {\n              \"Name\":
                \"DTXCopyMemo\",\n              \"Value\":
                \"false\"\n            },\n            {\n             
                \"Name\": \"UncategorizedAssetAccountId\",\n             
                \"Value\": \"32\"\n            },\n            {\n             
                \"Name\": \"UncategorizedIncomeAccountId\",\n             
                \"Value\": \"30\"\n            },\n            {\n             
                \"Name\": \"UncategorizedExpenseAccountId\",\n             
                \"Value\": \"31\"\n            },\n            {\n             
                \"Name\": \"MasAccountId\",\n              \"Value\":
                \"35\"\n            },\n            {\n              \"Name\":
                \"SFCEnabled\",\n              \"Value\": \"true\"\n           
                }\n          ]\n        },\n        \"domain\":
                \"QBO\",\n        \"sparse\": false,\n        \"Id\":
                \"1\",\n        \"SyncToken\": \"4\",\n        \"MetaData\":
                {\n          \"CreateTime\":
                \"2016-01-13T01:07:08-08:00\",\n          \"LastUpdatedTime\":
                \"2016-08-23T20:12:45-07:00\"\n        }\n      }"
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/purchase:
    post:
      tags:
        - Purchase
      summary: Purchase-Delete
      operationId: purchaseDelete
      description: |-
        Delete a puchase object
        Method : POST

        Sample query response

        {
          "Purchase": {
            "domain": "QBO",
            "status": "Deleted",
            "Id": "175",
            "CustomField": []
          },
          "time": "2016-08-23T22:57:39.774-07:00"
        }
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"Id\": \"175\",\n    \"SyncToken\": \"1\"\n}"'
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: operation
          in: query
          schema:
            type: string
          example: delete
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/purchase/175:
    get:
      tags:
        - Purchase
      summary: Purchase-ReadById
      operationId: purchaseReadById
      description: |
        Read a puchase object by Id
        Method : POST
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/purchaseorder:
    post:
      tags:
        - PurchaseOrder
      summary: PurchaseOrder-Delete
      operationId: purchaseOrderDelete
      description: |-
        Delete a puchaseorder object
        Method : POST

        Sample query response

        {
          "PurchaseOrder": {
            "domain": "QBO",
            "status": "Deleted",
            "Id": "179"
          },
          "time": "2016-08-23T23:21:36.663-07:00"
        }
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"Id\": \"179\",\n    \"SyncToken\": \"1\"\n}"'
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: operation
          in: query
          schema:
            type: string
          example: delete
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/purchaseorder/178:
    get:
      tags:
        - PurchaseOrder
      summary: PurchaseOrder-ReadById
      operationId: purchaseOrderReadById
      description: |
        Read a puchase-order object
        Method : POST
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/refundreceipt:
    post:
      tags:
        - RefundReceipt
      summary: RefundReceipt-Delete
      operationId: refundReceiptDelete
      description: |-
        Delete a refund-receipt object by Id
        Method : POST

        Sample response payload 

        {
          "RefundReceipt": {
            "domain": "QBO",
            "status": "Deleted",
            "Id": "180"
          },
          "time": "2016-08-23T23:42:38.153-07:00"
        }
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: '"{\n    \"Id\": \"180\",\n    \"SyncToken\": \"1\"\n}"'
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: operation
          in: query
          schema:
            type: string
          example: delete
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/refundreceipt/66:
    get:
      tags:
        - RefundReceipt
      summary: RefundReceipt-ReadById
      operationId: refundReceiptReadById
      description: |
        Read a refund-receipt object
        Method : GET
      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/reports/AccountList:
    get:
      tags:
        - Reports
      summary: Report-AccountList Copy
      operationId: reportAccountListCopy
      description: >+
        Report - Account list detail

        Method : GET


        The information below provides a reference on how to access the account
        list detail report from the QuickBooks Online Report Service.

      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/reports/AgedPayableDetail:
    get:
      tags:
        - Reports
      summary: Report-AgedPayableDetail
      operationId: reportAgedPayableDetail
      description: >+
        Report - AgedPayable aging detail

        Method : GET


        The information below provides a reference on how to access the AP Aging
        summary report from the QuickBooks Online Report Service.



      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/reports/AgedPayables:
    get:
      tags:
        - Reports
      summary: Report-AgedPayables
      operationId: reportAgedPayables
      description: >+
        Report - AgedPayable aging summary

        Method : GET


        The information below provides a reference on how to access the AP Aging
        summary report from the QuickBooks Online Report Service.




      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/reports/AgedReceivableDetail:
    get:
      tags:
        - Reports
      summary: Report-AgedReceivableDetail
      operationId: reportAgedReceivableDetail
      description: >+
        Report - AgedReceivableDetail aging detail

        Method : GET


        The information below provides a reference on how to access the AR Aging
        Detail report from the QuickBooks Online Report Service.




      security:
        - oauth2Auth: []
      parameters:
        - name: User-Agent
          in: header
          schema:
            type: string
          example: '{{UserAgent}}'
        - name: Accept
          in: header
          schema:
            type: string
          example: application/json
        - name: minorversion
          in: query
          schema:
            type: string
          example: '{{minorversion}}'
        - name: companyid
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /v3/company/{companyid}/reports/AgedReceivables:
    get:
      tags:
        - Reports
      summary: Report-AgedReceivables
      operationId: reportAgedReceivables
      description: >+
        Report - AgedReceivable aging summary

        Method : GET


[...]
