.tj-list-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #11181C;
    width: 260px;
    height: 32px;
    cursor: pointer;
    padding: 6px 8px;
    justify-content: space-between;
    border: none;
    border-radius: 6px;
    background-color: transparent;

    &:focus {
        box-shadow: 0px 0px 0px 4px #DFE3E6;
    }

    &:hover {
        background: #ECEEF0;
        border-radius: 6px;
    }

    &:active {
        background: #E6EDFE;
        box-shadow: none;

    }

}

.tj-list-item-disabled {
    color: #C1C8CD;
}

.tj-list-item-icon {
    display: flex;
    align-items: center;
}