.dropdown-multiselect-widget-custom-menu-list-body {
    overflow-y: auto;
    position: relative;
    padding: 5px 0;
    background-color: var(--surfaces-surface-01) !important;
    border-radius: 0 0 8px 8px;
}