.basic-plan-migration-banner {
    padding: 12px 16px;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    // background: linear-gradient(89.82deg, rgba(139, 135, 217, 0.2) -0.31%, rgba(255, 144, 186, 0.2) 42.36%, rgba(255, 179, 155, 0.2) 90.67%, rgba(255, 255, 255, 0.2) 100.55%), #FFFFFF;
    background-color: var(--background-warning-weak);

    .banner-text {
      font-size: 12px;
      line-height: 18px;
      font-weight: 400;
      color: var(--text-warning);
    }

    .banner-icon {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 1px 5px;
      gap: 2px;
    
      width: 49px;
      height: 20px;
    
      border-radius: 100px;
    
      /* --- white center --- */
      background:
        linear-gradient(#fff, #fff) padding-box,            /* inner fill */
        linear-gradient(0deg, #FC5F70 0%, #8E4EC6 100%) border-box; /* border gradient */
    
      border: 1px solid transparent;  /* transparent so gradient shows through */
    
      flex: none;
      flex-grow: 0;
      z-index: 1;
      font-size: 11px;
    }

    .banner-special-text{
        /* Gradient text */
        background: linear-gradient(0deg, #FC5F70 0%, #8E4EC6 100%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-weight: 500;
    }

    .banner-video{
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 5px 10px;
      gap: 6px;

      width: 75px;
      height: 21px;

      background: #FFFFFF;
      border: 1px solid #E4E7EB;
      box-shadow: 0px 0px 1px rgba(48, 50, 51, 0.05), 0px 1px 1px rgba(48, 50, 51, 0.1);
      border-radius: 6px;

      flex: none;
      order: 3;
      flex-grow: 0;
      z-index: 3;
    }

    .banner-video-text{
      font-size: 12px;
      line-height: 18px;
      font-weight: 500;
    }
    
  
    
    
    

    .banner-text{
        margin-bottom: 0;
    }

    .banner-link {
      text-decoration: underline;
      font-weight: 500;
      color: var(--text-warning);

      
    }

    .banner-link-date {
      font-weight: 500;

      &:hover {
        color: var(--indigo-100);
      }
    }



    div[type="button"] {
      margin-left: auto;
    }
  }

// banner css changes
.banner-layout-wrapper {
  height: 100vh !important;
  overflow: hidden;
  /* prevents scrolling beyond this height */
  position: relative;
  background-color: var(--background-accent-weak);
  /* content background */
}