<!DOCTYPE html>
<html lang="en">
  <head>
    <% if (process.env.NODE_ENV === 'production' && process.env.SERVE_CLIENT
    !=='false' ) { %>
    <base href="__REPLACE_SUB_PATH__" />
    <% } else { %>
    <base href="/" />
    <% } %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToolJet - Dashboard</title>

    <style>
      a {
        cursor: pointer;
      }
      
      .load{
        display: flex;
        justify-content: center;
        margin: 200px auto;
    }

    .load div{
        width: 20px;
        height: 20px;
        background-color: #3E63DD;
        border-radius: 50%;
        margin: 0 5px;
        animation-name: up-and-down;
        animation-duration: 0.8s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    .load .two{
        animation-delay: 0.3s;
    }

    .load .three{
        animation-delay: 0.6s;
    }

    @keyframes up-and-down {
      
        to{
            opacity: 0.2;
            transform: translateY(-20px);
            
        }
    }
    </style>

    <link
      rel="icon"
      href="assets/images/logo.svg"
      sizes="any"
      type="image/svg+xml"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/pyodide/v0.23.2/full/pyodide.js"></script>
  </head>

  <body>
    <div id="app">
      <div style="width: 100%">
        <div class="load">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
        </div>
      </div>
    </div>
  </body>
</html>
