.tj-timepicker {
    input {
        background-color: var(--base);
        border: 1px solid var(--slate7) !important;
    }
}


.tj-timepicker-popper {
    height: 28px !important;
    border: 1px solid var(--tj-text-input-widget-border-default);
    padding: 10px;
    background-color: transparent;
    color: var(--text-primary);

    .react-datepicker__time-container {
        right: 0px;
      .react-datepicker__time {
          background-color: var(--base);
      }
    }
}

