.password-input {
    margin-bottom: 1rem;

    &__label {
        display: block;
        margin-bottom: 2px;
        font-family: "IBM Plex Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        color: #333;
    }

    &__required {
        color: #D72D39;
    }

    &__field-wrapper {
        position: relative;
    }

    &__field {
        width: 100%;
        height: 40px;
        padding: 7px 12px;
        padding-right: 25px;
        font-family: "IBM Plex Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        color: var(--Text-default, #1B1F24);
        background-clip: padding-box;
        border-radius: var(--Border-radius, 10px);
        border: 1px solid var(--Border-default, #CCD1D5);
        background: var(--Background-surface-layer-01, #FFF);
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        // This is done specifically for safari browser
        &::-webkit-credentials-auto-fill-button {
            opacity: 0;
        }

        &::placeholder {
            color: #6c757d;
            opacity: 1;
        }

        &:focus {
            color: #495057;
            background-color: #fff;
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
    }

    &__toggle {
        position: absolute;
        right: 4px;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        font-size: .7rem;
        color: #6c757d;
        padding: 0.25rem;

        &:focus {
            outline: none;
            color: #495057;
        }
    }

    &__hint {
        margin: 2px 0 0;
        font-family: "IBM Plex Sans";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        color: var(--text-placeholder, #6A727C);
    }

    &--error {
        .password-input__field {
            border-color: #D72D39;
        }
    }

    &__error {
        display: block;
        font-size: 10px;
        margin: 2px 0 0;
        line-height: 16px;
    }

    &.disabled {
        opacity: 0.65;

        .password-input__field {
            background-color: #e9ecef;
            pointer-events: none;
        }
    }

    &__label-wrapper {
        display: flex;

        .forgot-password {
            color: #4368E3;
            text-decoration: none;
            font-weight: 500;
            font-size: 11px;
            padding-left: 6px;
            padding-bottom: 2px;
            align-self: center;
        }
    }
}

.dark-theme {
    .password-input {
        &__field {
            border-radius: var(--4, 8px);
            border: 1px solid var(--Border-default, #3C434B);
            background: var(--Background-surface-layer-01, #1E2226);
            color: var(--text-default, #FFF);
        }

        &__label {
            color: var(--text-default)
        }

        &.disabled {
            .password-input {
                &__field {
                    background: var(--Controls-switch-tag, #121518);
                }

                &__label {
                    color: var(--Text-disabled, #545B64);
                }
            }
        }
    }
}