@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../src/styles/globals.css";
@import "../src/_styles/componentdesign.scss";

body {
  font-family: var(--font-family-inter, "Inter", sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: subpixel-antialiased;
}
