.components-container {
  display: flex;
  gap: 12px;
  flex-direction: column;
  .component-manager-close-icon {
    position: absolute;
    top: 6px;
    right: 5px;
    z-index: 10;
  }

  .components-header {
    padding: 16px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border-weak);
    &.has-tabs {
      padding: 16px 16px 0px 16px;
    }

    .header-title-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .widgets-manager-header {
        margin: 0 !important;
      }
    }
  }

  #components-manager-tabs {
    margin-left: 10px;
    position: relative;
  }

  #components-manager-tabs-tab-components,
  #components-manager-tabs-tab-modules {
    border-radius: 0px !important;
    background-color: transparent !important;
  }

  #components-manager-tabs-tab-components.nav-link.active,
  #components-manager-tabs-tab-modules.nav-link.active {
    border-bottom: 2px solid rgb(77, 114, 250) !important;
    color: var(--text-default) !important;
  }

  #components-manager-tabs-tab-components.nav-link,
  #components-manager-tabs-tab-modules.nav-link {
    font-weight: 500 !important;
  }

  #components-manager-tabs-tab-components:hover,
  #components-manager-tabs-tab-modules:hover {
    border: none !important;
  }

  #components-manager-tabs {
    height: 32px;
    margin-top: 0px !important;
    align-items: flex-end;
    gap: 4px;
    width: 100%;

    .nav-item {
      // background-color: var(--base) !important;
      flex: 1;

      button {
        min-width: 0 !important;
        padding: 2px 7px;
        width: 100%;

        .tab-label {
          display: inline-block;
          line-height: 22px;
          padding: 2px 6px;
          border-radius: 6px;
          transition: background-color 120ms ease-in-out;
        }
      }

      #components-manager-tabs-tab-components {
        width: 100%;
      }

      #components-manager-tabs-tab-modules {
        width: 100%;
      }

      &:hover {
        button.nav-link:not(.active) .tab-label {
          background-color: var(--interactive-hover);
        }
      }
    }

    .tab-content {
      border-top: 1px solid var(--border-weak);
    }
  }
}
