.column-datatype-selector {
	.css-zz6spl-container {
		width: 100% !important;
	}
}

.css-1fdsijx-ValueContainer {
	padding: 2px 0px 2px 8px !important;
}

.css-1dimb5e-singleValue {
	width: 100px !important;
}

.css-1xc3v61-indicatorContainer {
	padding: 8px 8px 8px 0px !important;
}

.dataType-dropdown-label {
	margin-left: 8px;
	color: black;
}

.dataType-dropdown-value {
	margin-left: 8px;
	color: var(--slate10);
}