.column-datatype-selector {
  .css-zz6spl-container {
    width: 100% !important;
  }
}

.card-body-wrapper {
  width: 640px;
  padding: 20px;
}

.header-label-timestamp {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.drawer-card-wrapper {

  .tj-base-btn {
    padding: 10px;
  }

  .card-body {

    padding: 0;

    .list-group-item {
      padding: 0;
    }
  }

}

.card-body.create-drawer-body,
.card-body.edit-row-body,
.card-body.edit-column-body {
  padding: 20px;
}

.form-label,
.card-sub-title,
.foreign-key-sub-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 4px;
}

.card-sub-title-light {
  color: #000000 !important;
}

.card-title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}

.form-label-light,
.card-title-light,
.foreign-key-sub-title-light {
  color: #11181C !important;
}

.add-text {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}

.edit-row-dropdown {
  height: 36px !important;

  .css-zz6spl-container {
    width: 100% !important;
    margin-top: 16px;
    height: 36px !important;

    .react-select__control {
      height: 36px !important;
    }

    .react-select__value-container {
      height: 36px !important;
    }
  }
}

.edit-warning-info {
  background-color: #FFF8F7;
  padding: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 6px;
  border: 1px solid #FDD8D3;

  .edit-warning-icon {
    width: 28px !important;
  }

  .edit-warning-text {
    color: #E54D2E;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}

.css-1fdsijx-ValueContainer {
  padding: 2px 0px 2px 8px !important;
}

.css-1dimb5e-singleValue {
  width: 100px !important;
}

// .css-1xc3v61-indicatorContainer {
//   padding: 8px 8px 8px 0px !important;
// }

.dataType-dropdown-label {
  margin-left: 8px;
}

.css-1c9urkf-menu {
  z-index: 2 !important
}

.dataType-dropdown-value {
  margin-left: 8px;
  color: var(--slate10);
}

.tj-app-input,
.edit-row-container {
  input {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
  }

  input.primary-idKey-light {
    gap: 16px !important;
    background: #f4f6fa !important;
    border: 1px solid var(--slate7) !important;
    border-radius: 6px !important;
    margin-bottom: 4px !important;
    color: var(--slate12) !important;
    transition: none;
    width: 100% !important;
    padding: 7px 12px !important;

    &:hover {
      background: #F1F3F5 !important;
      border: 1px solid var(--slate7) !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      outline: none;
    }
  }

  input.primary-idKey-dark {
    gap: 16px !important;
    background: #1f2936 !important;
    border: 1px solid #3a3f42 !important;
    border-radius: 6px !important;
    margin-bottom: 4px !important;
    color: var(--slate12) !important;
    transition: none;
    width: 100% !important;
    padding: 7px 12px !important;

    &:hover {
      background: #1f2936 !important;
      border: 1px solid var(--slate8) !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      outline: none;
    }
  }

  input.form-control:disabled {
    gap: 16px !important;
    background: var(--base) !important;
    border: 1px solid var(--slate7) !important;
    border-radius: 6px !important;
    margin-bottom: 4px !important;
    color: var(--slate11) !important;
    transition: none;
    width: 100% !important;
    padding: 7px 12px !important;

    &:hover {
      background: #F1F3F5 !important;
      border: 1px solid var(--slate7) !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      outline: none;
    }
  }

  input.dark-form-row:disabled {
    gap: 16px !important;
    background: var(--base) !important;
    border: 1px solid var(--slate7) !important;
    border-radius: 6px !important;
    margin-bottom: 4px !important;
    color: var(--slate12) !important;
    transition: none;
    width: 100% !important;
    padding: 7px 12px !important;

    &:hover {
      background: var(--base) !important;
      border: 1px solid var(--slate8) !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      outline: none;
    }
  }

  input.form-error {

    gap: 16px !important;
    background: var(--tomato4) !important;
    border: 1px solid var(--tomato9) !important;
    border-radius: 6px !important;
    margin-bottom: 4px !important;
    color: var(--slate12) !important;
    transition: none;
    width: 100% !important;
    padding: 7px 12px !important;

    &:hover {
      background: var(--tomato4) !important;
      border: 1px solid var(--tomato9) !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      outline: none;
    }

  }
}

.row-tabs {
  background-color: #F1F3F5;
  padding: 3px;
  border-radius: 6px;
  margin-bottom: 0.3rem;

  .row-tab-content {
    cursor: pointer;
    padding: 3px 7px 3px 7px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
  }
}

.row-tabs-dark {
  background-color: #1c252f !important;
  padding: 3px;
  border-radius: 6px;
  margin-bottom: 0.3rem;

  .row-tab-content {
    cursor: pointer;
    padding: 3px 7px 3px 7px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
  }
}

.null-tag {
  background-color: var(--slate5) !important;
  color: var(--slate11) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 6px;
  width: 50px;
  position: absolute;
  top: 6px;
  left: 10px;
}

.null-tag-dark {
  background-color: var(--slate5) !important;
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 6px;
  width: 50px;
  position: absolute;
  top: 6px;
  left: 10px;
}

.createRow-idContainer {
  margin-bottom: 20px !important;
}

.form-error-message {
  color: var(--tomato9);
  font-size: 12px;
}

.form-warning-message {
  color: var(--slate10);
  font-size: 12px;
}

.create-column-drawer {
  .card-header {
    border: none !important;
    padding: 0;
    margin-top: 24px !important;
    margin-bottom: 12px !important;
  }
}

.column-name-description {
  width: 111px !important;
  color: var(--slate11) !important;
}

.dataType-description {
  width: 111px !important;
  margin-left: 40px !important;
  color: var(--slate11) !important;
}

.defaultValue-description {
  width: 111px !important;
  margin-left: 22px !important;
  color: var(--slate11) !important;
}

.primaryKey-description {
  width: 111px !important;
  margin-left: 26px !important;
  color: var(--slate11) !important;
}

.column-schema-container {

  // overflow-y: scroll;
  // max-height: 440px;

  .table-schema {
    background-color: var(--slate3) !important;
    padding: 8px 5px !important;
    margin-bottom: 6px !important;
    border: 1px solid transparent !important;

    .not-null-with-disable {
      color: var(--slate9) !important;
    }

    .table-schema-row {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 6px;

      input.form-control {
        margin-bottom: 0px;
      }

      .foreign-key-relation {
        width: 20px !important;
        height: 22px;
        padding: 0px !important;
        margin: 0px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;

        &:hover {
          background-color: #ACB2B966;
        }

      }

      .foreignKeyAcces-container {
        width: 125px;
        height: 100%;

        button {
          height: 35px !important;
          padding: 7px 0px 7px 12px !important;
          border-radius: 4px !important;

          &:hover {
            border: 1px solid transparent !important;
            // background: transparent !important;
          }

          &:focus {
            border: 1px solid transparent !important;
            background: transparent !important;
            box-shadow: 0px 0px 0px 1px #C6D4F9
          }

          .text-truncate {
            font-size: 14px !important;
          }

          .dd-select-control-chevron {
            margin-right: 10px !important;
          }
        }
      }

      .foreign-key-relation-active {
        width: 20px !important;
        height: 22px;
        padding: 0px !important;
        margin: 0px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;

        &:hover {
          background-color: #ACB2B966;
        }

        svg {
          path {
            fill: var(--indigo9);
          }
        }

      }

      .not-null-toggle {
        width: 100px !important;
      }

      .datatype-dropdown,
      .defaultValue,
      .columnName {
        width: 125px !important;
      }

      .primary-check {
        .form-check {
          padding-left: 1.95rem !important;
        }
      }
    }

  }

  .foreignKey-hover {
    border: 1px solid var(--slate9) !important;
    background-color: var(--slate6) !important;
  }

}

.column-schema-container::-webkit-scrollbar {
  width: 0px !important;
  /* This will hide the scrollbar */
}

.new-changes-container {
  background-color: var(--slate3) !important;
  border-radius: 6px !important;
  border: 1px solid var(--slate5);
  margin-bottom: 12px;

  .changes-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--slate5);
    padding: 12px;
    font-weight: 500;
    color: var(--slate12);

    span {
      width: 128px;
    }
  }

  .key-changes-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 12px;
    font-weight: 500;

    .primarykeyDetails-container,
    .newkeyDetails-container {

      display: flex;
      flex-direction: column;
      row-gap: 6px !important;

      .currentKey-details,
      .newKey-details {
        display: flex;
        gap: 8px;

        .currentPrimaryKey-columnName,
        .newPrimaryKey-columnName {
          font-size: 12px;
          font-weight: 400;
          color: var(--slate11);
        }
      }

    }

    .newkeyDetails-container {
      margin-left: 65px;
    }

  }

}

.foreignkey-relation-container {

  margin-top: 24px !important;

  .foreign-key-heading {
    span {
      font-size: 14px !important;
      font-weight: 500 !important;
      color: var(--text-black-000) !important;
    }
  }

  .empty-foreignkey-container {
    border: 1px dashed #d7dbdf;
    height: 40px;
    width: 270px !important;
    border-radius: 100px !important;
    margin-top: 10px !important;
  }

  .tj-base-btn {
    &:disabled {
      background: none !important;
      color: var(--slate9) !important;
      cursor: auto !important;

      svg {
        path:first-child {
          fill: var(--slate7) !important;
        }

        path:nth-child(2) {
          fill: var(--base) !important;
        }
      }
    }

    &:disabled:hover {
      background: var(--slate3) !important;
    }
  }
}

// common css for two form components
.foreignKey-details {
  display: flex;
  align-items: center;
  border-radius: 16px;
  background-color: var(--slate3);
  border: 1px solid var(--slate7);
  padding: 4px 12px 4px 12px;
  padding-inline-end: 40px !important;
  width: max-content;
  gap: 8px;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
  margin-bottom: 16px;

  span {
    font-size: 12px;
    font-weight: 500;
    color: #687076;
  }

  .editForeignkey {
    background-color: var(--slate3) !important;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-left: 1px solid var(--slate6);
    position: absolute;
    right: 0;
    height: 27px;
    width: 30px;
    display: flex;
    align-items: center;
    padding-left: 4px;
  }
}

.tooltip-table-edit-column {
  inset: auto auto 0px -183px !important
}

.primaryKey-indication-container {
  display: flex;
  align-items: center;
  column-gap: 5px;

  .primaryKey-indication {
    background: var(--slate8) !important;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 2px;
  }

}

.foreignKeyRelation-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  height: 100%;

  .relations-container {
    padding: 12px 24px !important;

    .single-foreign-key {
      padding: 6px 12px 6px 12px;
      background: var(--Button-default-secondary-00-default, #F0F4FF);
      border: 2px solid var(--Button-default-secondary-04-border, #AEC0F5);
      border-radius: 100px;
      margin-left: 10px;
      font-size: 10px;
      color: var(--button-default-secondary-03-text-icon-secondary, #3E63DD);
    }

    .source-title {
      font-size: 12px !important;
      font-weight: 500 !important;
      color: var(--text-secondary) !important;
      margin-left: 10px;
    }

    .source-description {
      font-size: 12px !important;
      font-weight: 400 !important;
      color: var(--slate10) !important;
    }

    .keyRelation-column-title {
      font-size: 12px;
      font-weight: 500;
      color: var(--text-primary);
    }
  }
}

.primary-key-tooltip {
  inset: -5px auto 0px 0px !important;
}

.columnInfoForTable {
  background: var(--slate2) !important;
  border: 1px solid var(--slate5);
  border-radius: 6px;
  font-size: 12px;
  color: var(--slate11) !important;
  padding: 8px;
  gap: 10px;
}

.editRow-header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .edit-row-tableName {
    background: var(--slate3);
    padding: 5px 10px 5px 10px !important;
    border-radius: 6px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;

    span {
      color: var(--slate11);
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }
  }
}

.custom-tooltip-style {
  svg {
    margin: 0px 8px 0px 8px;

    path {
      fill: white;
    }
  }
}

.foreignKeyAcces-container-drawer {
  border-radius: 5px;
  height: 100% !important;
  max-width: 494px;

  button {
    height: 35px !important;
    padding: 6px 0px 6px 12px !important;
    border-radius: 4px !important;
    border: 1px solid transparent !important;

    &:hover {
      border: 1px solid transparent !important;
      // background: transparent !important;
    }

    &:focus {
      border: 1px solid var(--indigo-09, #3E63DD) !important;
      background: transparent !important;
      box-shadow: 0px 0px 0px 1px #C6D4F9
    }

    .text-truncate {
      font-size: 14px !important;
      width: 85%;
      text-align: left;
    }

    .dd-select-control-chevron {
      margin-right: 10px !important;
    }
  }
}

.add-relation-text-dark {
  color: #545B64;
}

.add-relation-text-enabled {
  color: #3E63DD !important;
}

.input-error-border {
  border-color: #E54D2E !important;
}

.tj-switch-text,
.tj-select-text {
  font-size: 12px;
  line-height: 20px;
}

.tooltip-inner {
  max-width: 100%;
}

.width-lg{
  width: 181.5px;
}

.width-sm{
  width: 120px;
}

.input-element{
  width: 181.5px !important;
  background-color: transparent !important;
  color: var(--text-default) !important;
  border-radius: 0px;
  border: 1px solid var(--border-default) !important;
}

.delete-icon-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border: 1px solid var(--border-default);
  border-radius: 0px 8px 8px 0px;
  cursor: pointer;
  border-left: none;
}

.select-operation-field{
  .react-select__control{
    .react-select__value-container{
      position: relative;
      .react-select__input-container{
        position: absolute;
        right: 0;
      }
    }
  }
}

.select-operation-field,
.select-column-field{
    position: static;
    .react-select__control {
      position: relative;
      z-index: 2;
      border-right: none !important;
    }
    .react-select__menu {
      position: fixed;
      z-index: 9999;
      left: var(--select-left);
      top: var(--select-top);
    }
}

.select-column-field .react-select__menu {
  width: 181.5px;
}

.select-operation-field .react-select__menu {
  width: 120px;
}

body.react-select-open .filter-body {
  pointer-events: none;
}

body.react-select-open .select-operation-field {
  pointer-events: auto;
}
body.react-select-open .select-column-field {
  pointer-events: auto;
}

.select-operation-field,
.select-column-field{
  .react-select__menu{
    .react-select__menu-list{
      overflow-y: hidden;

      &:hover {
        overflow-y: auto;
      }
    }
  }
}