.column-datatype-selector {
	.css-zz6spl-container {
		width: 100% !important
	}
}

.dataType-dropdown-label {
	margin-left: 8px;
	color: black;
}

.dataType-dropdown-value {
	margin-left: 8px;
	color: var(--slate10);
}