.tjdb-column-header-name {
  margin-right: 10px;
}

.tjdb-menu-icon {
  display: none;
}

.tjdb-menu-icon-parent {
  width: 20px;
  height: 20px;
}

.primaryKeyTooltip {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary-key-text {
  font-size: 8px;
  color: #687076;
}

.tjdb-primary-key-parent {
  border-radius: 10px !important;
  background-color: #D7DBDF !important;
  padding: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
}

.column-popover {
  width: 137px !important;
}

.column-popover-parent {
  background-color: white !important;
}

.cell-text-null {
  background-color: var(--slate3) !important;
  color: var(--slate11) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 6px;
  width: 50px;
}

.input-cell-parent {

  position: relative !important;

  // .null-tag-1 {
  //   background-color: var(--slate5) !important;
  //   color: var(--slate11) !important;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   cursor: default;
  //   padding-top: 2px;
  //   padding-bottom: 2px;
  //   border-radius: 6px;
  //   width: 50px;
  //   position: absolute;
  //   top: 5px;
  //   left: 10px;
  // }

  .null-tag {
    background-color: var(--slate5) !important;
    color: var(--slate11) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 6px;
    width: 50px;
    position: absolute;
    top: 5.5px;
    left: 10px;
  }

  .null-tag-dark {
    background-color: var(--slate3) !important;
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 6px;
    width: 50px;
    position: absolute;
    top: 5.5px;
    left: 7px !important;
  }

}

.tjdb-cell-save-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background: var(--Indigo-09, #3E63DD);
  .tjdb-cell-save-progress-bar {
    background: var(--Indigo-09, #3E63DD);
  }
}
