.tjdb-column-header-name {
  margin-right: 10px;
}

.tjdb-menu-icon {
  display: none;
}

// .tjdb-menu-icon-parent {
//   //   width: 20px;
//   //   height: 20px;
// }

// .header-primaryKey-container {
//   margin-right: 6px !important;
// }

.tj-database-column-header:hover{
  .primaryKeyTooltip{
    width: 88% !important;
  }
}

.primaryKeyTooltip {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100% !important;
  height: 100% !important;

  .table-header-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

.column-popover {
  width: 150px !important;
}

.column-popover-parent {
  background-color: white !important;
}

.tj-table-empty {
  th {
    border-top: 1px solid rgba(101, 109, 119, 0.16) !important;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: inherit;

    &:nth-last-child(2) {
      border-right: 0px;
      border-color: inherit;
    }

    &:last-child {
      &::before {
        content: '';
        position: absolute;
        display: block;
        top: 0px;
        left: -1px;
        width: 1px;
        height: 100%;
        background-color: rgba(101, 109, 119, 0.16) !important;
      }

      border-right: 0px;
      border-color: inherit;
    }
  }

  td {
    border: none !important
  }
}

.tj-table {
  thead th {
    z-index: 1;
    position: sticky;
    top: 0px;
  }

  td:nth-child(1) {
    z-index: 1;
    position: sticky;
    left: 0;
    background-color: white;
  }

  td:nth-child(2) {
    z-index: 1;
    position: sticky;
    left: 66px;
    border-right: 2px solid var(--light-slate-08, #C1C8CD);
    background-color: white;
  }

  th {
    border-top: 1px solid rgba(101, 109, 119, 0.16) !important;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: inherit;

    &:nth-last-child(2) {
      border-right: 0px;
      border-color: inherit;
    }

    &:last-child {
      &::before {
        content: '';
        position: absolute;
        display: block;
        top: 0px;
        left: -1px;
        width: 1px;
        height: 100%;
        background-color: rgba(101, 109, 119, 0.16) !important;
      }

      border-right: 0px;
      border-color: inherit;
    }
  }

  td {
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: inherit;
  }

  th:nth-child(1) {
    left: 0;
    top: 0;
    z-index: 2;
  }

  th:nth-child(2) {
    z-index: 2;
    left: 66px;
    border-right: 2px solid var(--light-slate-08, #C1C8CD);
  }

  .dark-background {

    td:nth-child(1),
    td:nth-child(2) {
      background-color: #2B394A;
    }
  }

  .tjdb-td-wrapper {
    position: relative;
    height: 36px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 0.375rem 0.375rem;
    border: 2px solid transparent;

    .foreignkey-cell {
      .cell-text {
        width: 80%;
      }
    }
    &:has(.tjdb-dashboard-codehinter-wrapper-cell){
      padding: 0 !important;
    }
    
      .tjdb-dashboard-codehinter-wrapper-cell{
        .cm-editor{
          border: 0 !important;
        }
        .codehinter-input.focused .cm-editor{
          border: 0 !important;
        }
      
    }
  }

  .tjdb-selected-cell {
    border: 1.5px solid var(--Indigo-09, #3E63DD) !important;

    .tjdb-td-wrapper {
      div {
        padding-bottom: 0px !important;

        .cell-menu-text {
          white-space: nowrap ;
          overflow: hidden ;
          text-overflow: ellipsis ;
          width: 85% ;
          color: var(--slate11) !important;
          cursor: default;
          border-radius: 6px;
          // height: 20px;
          font-size: 12px;
        }
      }
    }
  }

  .tjdb-column-select-border {
    .tjdb-td-wrapper {
      div {
        padding-bottom: 0px !important;
        .cell-menu-text {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 85%;
          color: var(--slate11) !important;
          cursor: default;
          border-radius: 6px;
          // height: 20px;
          font-size: 12px;
        }
      }
    }
  }

  .card-table tr td:last-child {
    padding: 0;
  }

}

.tjdb-loader-parent>span:first-child {
  height: 20px !important;

  .tjdb-loader {
    width: 180px !important;
    background: var(--slate7) !important;
    display: flex !important;
  }
}

.tjdb-loader-icon-parent {
  width: 20px !important;
  height: 20px !important;

  .tjdb-icon-loader {
    width: 20px !important;
    background: var(--slate7) !important;
    display: flex !important;
  }
}

.tjdb-empty-row td {
  border-right: 1px solid !important;
  border-bottom: 1px solid !important;
  border-color: inherit !important;
}

.loading-table th {
  padding: 5px 8px 5px 8px !important;
  height: 32px !important;
}

.warning-icon-container,
.warning-icon-container-dark {
  width: 54px !important;
  height: 52px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: #F1F3F5;
  border-radius: 6px !important;
  margin: 0px auto 8px auto !important;
}

.warning-icon-container-dark {
  background-color: #2B2F30 !important;
}

.empty-table-description {
  font-size: 14px !important;
  line-height: 20px !important;
  margin-top: 5px !important;
}

.empty-table-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 95px);
}

.tjdb-create-new-table {
  width: 180px !important;
  margin: 0px auto !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.keyPress-actions {

  gap: 1.5rem;

  .navigate-keyActions,
  .enter-keyActions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;

    .leftNav-parent-container,
    .rightNav-parent-container,
    .editEnter-parent-container {
      border-radius: 6px;
      border: 1px solid var(--slate7);
      width: 24px;
      text-align: center;
    }
  }
}

.cell-text-null {
  background-color: var(--slate3) !important;
  color: var(--slate11) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  border-radius: 6px;
  width: 40px;
  height: 20px;
  font-size: 12px;
}

.input-cell-parent {

  position: relative !important;
  background-color: transparent;
  // height: 100% !important;

  .cell-text-null-input {
    background-color: var(--slate3) !important;
    color: var(--slate11) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    border-radius: 6px;
    width: 40px !important;
    height: 20px;
    font-size: 12px;
  }

}

.tjdb-cell-save-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  border: none !important;
}

.progress::-webkit-progress-value {
  background-color: var(--Indigo-09, #3E63DD) !important;
}

.progress::-moz-progress-bar {
  background-color: var(--Indigo-09, #3E63DD) !important;
}

.toojet-db-table-footer {
  width: calc(100vw - 336px) !important;
}

.tj-db-table {
  position: relative;
  scroll-behavior: smooth;

  .table-cell {
    &:not(.table-cell-selected):hover {
      background: var(--Slate-03, #F1F3F5) !important;
    }
  }

  .table-row-selected {
    background-color: var(--indigo4);

    td:nth-child(1),
    td:nth-child(2) {
      background: var(--indigo4);
    }
  }

  .dark-bg:not(.table-row-selected) {
    &:hover {
      background: #22303C;

      td:nth-child(1),
      td:nth-child(2) {
        background: #22303C;
      }
    }

    .table-cell {
      &:hover {
        background: #1D252F !important;
      }
    }
  }

  .cell-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tjdb-th-bg {
    height: 32px;
    background: #ECEEF0;
    position: sticky;
    top: 0;
    width: 100%;
    border-top: 1px solid rgba(101, 109, 119, 0.16) !important;
    border-bottom: 1px solid rgba(101, 109, 119, 0.16) !important;
  }

  .tjdb-th-bg-dark {
    background: #1C252F !important;
  }

  &::-webkit-scrollbar{
    display: none;
  }
  &::-webkit-scrollbar-track{
    background-color: transparent;
  }
  &:hover::-webkit-scrollbar{
    display: block;
  }
}

.create-table-list-items {
  .popover-body {
    padding: 0px !important;
    min-width: 240px !important;

    .unique-constraint-parent {
      padding: 16px 16px 0px 16px !important;
      display: flex;
      flex-direction: column;
      gap: 8px;

      .unique-constraint-info {
        background-color: var(--slate2);
        border: 1px solid var(--slate5) !important;
        gap: 4px;
        padding: 8px;
        border-radius: 6px;
        opacity: 0px;
        display: flex;
        color: var(--slate11);

        svg {
          width: 20%;
          height: 100%;
        }
      }

      .column-popover {
        width: 100% !important;
      }

    }

    .delete-column-table-creation {
      display: flex !important;
      align-items: center !important;
      gap: 8px !important;
      padding: 0px 16px 16px 20px !important;
      width: 100% !important;

      .delete-column-text {
        font-weight: 500 !important;
      }
    }

    .unique-tag {
      color: var(--slate12) !important;
      font-weight: 500 !important;
    }

    .unique-helper-text {
      color: var(--slate11) !important;
      font-weight: 400 !important;
    }

  }
}

.table-list-items {
  button {
    border: none;
    background: none;
  }

  .disabled-btn {
    cursor: not-allowed !important;
  }
}

.tjdb-table-tooltip {
  width: max-content !important;

  .tooltip-inner {
    max-width: max-content !important;
    width: max-content !important;

    .foreignKey-relation-tooltip {
      span {
        text-align: left;
      }
    }

  }
}

.tooltip-table-dashboard {
  max-width: 500px !important;

  .tooltip-inner {
    max-width: 100% !important;
  }
}