.tjdb-column-header-name {
  margin-right: 10px;
}

.tjdb-menu-icon {
  display: none;
}

.tjdb-menu-icon-parent {
  width: 20px;
  height: 20px;
}

.primaryKeyTooltip {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.primary-key-text {
  font-size: 8px;
  color: #687076;
}

.tjdb-primary-key-parent {
  border-radius: 10px !important;
  background-color: #D7DBDF !important;
  padding: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
}

.column-popover {
  width: 137px !important;
}

.column-popover-parent {
  background-color: white !important;
}

.cell-text-null {
  background-color: var(--slate3) !important;
  color: var(--slate11) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  border-radius: 6px;
  width: 40px;
  height: 20px;
  font-size: 12px;
}

.input-cell-parent {

  position: relative !important;
  //height: 37px;

  .cell-text-null-input {
    background-color: var(--slate3) !important;
    color: var(--slate11) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    border-radius: 6px;
    width: 40px;
    height: 20px;
    font-size: 12px;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  // .form-switch-1 .form-check-input-1 {
  //   width: 2rem;
  //   margin-left: -2.5rem;
  //   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23e6e8e9'/%3e%3c/svg%3e");
  //   background-position: left center;
  //   border-radius: 2rem;
  //   transition: background-position .15s ease-in-out
  // }

  // .form-switch-1 .form-check-input-1:checked {
  //   background-position: right center;
  //   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e")
  // }

}

.tjdb-cell-save-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background: var(--Indigo-09, #3E63DD);


  .tjdb-cell-save-progress-bar {
    background: var(--Indigo-09, #3E63DD);
  }
}