.workflow-editor {
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    flex-direction: column;

  .header {
    height: 45px;
    width: 100%;
    background-color: white;
    border-bottom: solid aliceblue 1px;

    .logo-section {
      display: flex;
      align-items: center;
      width: 60px;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
  }

  .body {
    display: flex;
    flex-direction: row;
    height: 100%;

    .left-sidebar-column {
      width: 60px;
      height: 100%;
      background-color: white;

      .left-sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .flow-editor-column {
      width: 100%;
      background-color: beige;
      height: 100%;
    }
  }

  .flow-canvas {
    background-color: #ECEFF4;
  }
}