.workflow-editor {
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    flex-direction: column;

  .header {
    height: 45px;
    width: 100%;
    background-color: white;
    border-bottom: solid aliceblue 1px;

    .logo-section {
      display: flex;
      align-items: center;
      width: 60px;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
  }

  .body {
    display: flex;
    flex-direction: row;
    height: 100%;

    .flow-editor-column {
      height: 100%;
      width: 100%;
    }

    .left-sidebar-column {
      width: 56px;
      padding:0;

      .left-sidebar {
        height: 100%;
        padding: 0;

        .icon {
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 3px;
          cursor: pointer;
          margin-top: 5px;
          
          svg {
            width: 20px;
            height: 20px;
          }

          svg.active {
            stroke: black;
            stroke-width: 2px;
          }
        }

        .icon:hover {
          background-color: rgb(239, 239, 239);
        }

        .drawer {
          width: 300px;
          height: 100%;
          background-color: white;
          display: flex;
          position: absolute;
          left: 56px;
          border-color: white;
          border-width: 0;

          .title-row {
            border-bottom: solid 0.5px rgb(235, 234, 234);
            .title-text {
              margin-top: 10px;
              margin-left: 10px
            }
          }

          .list-row {
            .run-item {
              padding-left: 10px;
              height: 35px;
              line-height: 35px;
              display: flex;
              flex-direction: row;
              vertical-align: middle;

              .check-icon {
                width: 17px;
                height: 17px;

                svg {
                  stroke: white;
                  background: green;
                  border-radius: 10px;
                  width: inherit;
                  height: inherit;
                }
              }

              .text {
                margin-left: 10px;
              }
            }

            .run-item:hover {
              background-color: aliceblue;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .flow-canvas {
    background-color: #ECEFF4;
  }
}