@import "@/_styles/designtheme.scss";
@import "@/_styles/typography.scss";

.custom-single-option{
    display: flex;
    padding: 10px 14px !important;
    align-items: center;
    gap: 37px;
    flex: 1 0 0;
    border-radius: 6px;
    &:hover{
        background-color:  var(--slate3, #F1F3F5) !important;
    }
    &:focus{
        background: var(--slate1, #FBFCFD) !important;
        box-shadow: 0px 0px 0px 4px var(--slate6) !important;
    }
}