{
	"openapi": "3.0.0",
	"info": {
		"title": "Freight LTL API",
		"version": "1.0.0"
	},
	"servers": [
		{
			"url": "https://apis-sandbox.fedex.com",
			"description": "Sandbox Server"
		},
		{
			"url": "https://apis.fedex.com",
			"description": "Production Server"
		}
	],
	"paths": {
		"/rate/v1/freight/rates/quotes": {
			"post": {
				"summary": "Rate Freight LTL",
				"description": "This endpoint providess the ability to retrieve rate quotes and optionall transitt informationnnn. The rate is calculated based on the origin and destination of the shipment. Additional information such as carrier code, service type, or service option can be used to filter the results. Applicable operating company is FedEx Freight.<br><i>Note: FedEx APIs do not support Cross-Origin Resource Sharing (CORS) mechanism.</i>",
				"operationId": "Freight RateQuote",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"oneOf": [
									{
										"$ref": "#/components/schemas/FullSchema"
									}
								]
							}
						}
					},
					"required": false
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RatcResponseVO"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "ORIGIN.COUNTRY.INVALID",
											"message": "Origin country code is invalid or missing. Please refer to documentation for valid format."
										}
									]
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "LOGIN.REAUTHENTICATE.ERROR",
											"message": "Re-Login authentication error"
										}
									]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "UNAUTHORIZED.USAGE",
											"message": "UNAUTHORIZED.USAGE"
										}
									]
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"example": {
									"error": "NOT.FOUND.ERROR",
									"error_detail": "The resource you requested is no longer available. Please modify your request and try again."
								}
							}
						}
					},
					"500": {
						"description": "Failure",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "INTERNAL.SERVER.ERROR",
											"message": "We encountered an unexpected error and are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					},
					"503": {
						"description": "Service Unavailable",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "SERVICE.UNAVAILABLE.ERROR",
											"message": "The service is currently unavailable and we are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					}
				},
				"parameters": [
					{
						"in": "header",
						"name": "x-customer-transaction-id",
						"description": "This element allows you to assign a unique identifier to your transaction. This element is also returned in the reply and helps you match the request to the reply.",
						"required": false,
						"schema": {
							"type": "string",
							"example": "624deea6-b709-470c-8c39-4b5511281492"
						}
					},
					{
						"in": "header",
						"name": "content-type",
						"description": "This is used to indicate the media type of the resource. The media type is a string sent along with the file indicating format of the file.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "application/json"
						}
					},
					{
						"in": "header",
						"name": "x-locale",
						"description": "This indicates the combination of language code and country code.  <a onclick='loadDocReference(\"locales\")'>Click here to see Locales</a>",
						"required": false,
						"schema": {
							"type": "string",
							"example": "en_US"
						}
					},
					{
						"in": "header",
						"name": "authorization",
						"description": "This indicates the authorization token for the input request.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "Bearer XXX"
						}
					}
				],
				"x-code-samples": [
					{
						"lang": "C#",
						"source": "var client = new RestClient(\"https://apis-sandbox.fedex.com/rate/v1/freight/rates/quotes\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"Authorization\", \"Bearer \");\nrequest.AddHeader(\"X-locale\", \"en_US\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\n// 'input' refers to JSON Payload\nrequest.AddParameter(\"application/x-www-form-urlencoded\", input, ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);\n\n\n\n\n"
					},
					{
						"lang": "JAVA",
						"source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\n// 'input' refers to JSON Payload\nRequestBody body = RequestBody.create(mediaType, input);\nRequest request = new Request.Builder()\n    .url(\"https://apis-sandbox.fedex.com/rate/v1/freight/rates/quotes\")\n    .post(body)\n    .addHeader(\"Content-Type\", \"application/json\")\n    .addHeader(\"X-locale\", \"en_US\")\n    .addHeader(\"Authorization\", \"Bearer \")\n    .build();\n            \nResponse response = client.newCall(request).execute();"
					},
					{
						"lang": "JAVASCRIPT",
						"source": "// 'input' refers to JSON Payload\nvar data = JSON.stringify(input);\n  \n  var xhr = new XMLHttpRequest();\n  xhr.withCredentials = true;\n  \n  xhr.addEventListener(\"readystatechange\", function () {\n    if (this.readyState === 4) {\n      console.log(this.responseText);\n    }\n  });\n  \n  xhr.open(\"POST\", \"https://apis-sandbox.fedex.com/rate/v1/freight/rates/quotes\");\n  xhr.setRequestHeader(\"Content-Type\", \"application/json\");\n  xhr.setRequestHeader(\"X-locale\", \"en_US\");\n  xhr.setRequestHeader(\"Authorization\", \"Bearer \");\n  \n  xhr.send(data);"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://apis-sandbox.fedex.com/rate/v1/freight/rates/quotes');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders(array(\n  'Authorization' => 'Bearer ',\n  'X-locale' => 'en_US',\n  'Content-Type' => 'application/json'\n));\n\n$request->setBody(input); // 'input' refers to JSON Payload\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
					},
					{
						"lang": "PYTHON",
						"source": "import requests\n\nurl = \"https://apis-sandbox.fedex.com/rate/v1/freight/rates/quotes\"\n\npayload = input # 'input' refers to JSON Payload\nheaders = {\n    'Content-Type': \"application/json\",\n    'X-locale': \"en_US\",\n    'Authorization': \"Bearer \"\n    }\n\nresponse = requests.post(url, data=payload, headers=headers)\n\nprint(response.text)"
					},
					{
						"lang": "RUST",
						"source": "extern crate reqwest;\n\nuse std::io::Read;\n\nfn construct_headers() -> HeaderMap {\n    let mut headers = HeaderMap::new();\n    headers.insert(\"Content-Type\", \"application/json\");\n    headers.insert(\"X-locale\", \"en_US\");\n    headers.insert(\"Authorization\", \"Bearer \");\n    headers\n}\n\nfn run() -> Result<()> {\n    let client = reqwest::Client::new();\n    let mut res = client.post(\"https://apis-sandbox.fedex.com/rate/v1/freight/rates/quotes\")\n        .body(input) // 'input' refers to JSON Payload\n        .headers(construct_headers())\n        .send()?;\n    let mut body = String::new();\n    res.read_to_string(&mut body)?;\n\n    println!(\"Status: {}\", res.status());\n    println!(\"Headers:\\n{:#?}\", res.headers());\n    println!(\"Body:\\n{}\", body);\n\n    Ok(())\n}"
					},
					{
						"lang": "SWIFT",
						"source": "import Foundation\n\nlet headers = [\n  \"Content-Type\": \"application/json\",\n  \"X-locale\": \"en_US\",\n  \"Authorization\": \"Bearer \"\n]\nlet parameters = [\n  input // 'input' refers to JSON Payload\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://apis-sandbox.fedex.com/rate/v1/freight/rates/quotes\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"POST\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
					}
				]
			}
		},
		"/ship/v1/freight/shipments": {
			"post": {
				"summary": "Ship Freight LTL",
				"description": "This endpoint helps you to create a Freight LTL Shipment request with the required Freight LTL Shipment information, and to retrieve information for an already in process shipment. It also allows you to confirm and validate your shipment.<br><i>Note: FedEx APIs do not support Cross-Origin Resource Sharing (CORS) mechanism.</i>",
				"operationId": "Freight Shipment",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"oneOf": [
									{
										"$ref": "#/components/schemas/FullSchema-FreightShipment"
									}
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SHPCResponseVO"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO_2"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "LOGIN.REAUTHENTICATE.ERROR",
											"message": "Re-Login authentication error"
										}
									]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "UNAUTHORIZED.USAGE",
											"message": "UNAUTHORIZED.USAGE"
										}
									]
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"example": {
									"error": "NOT.FOUND.ERROR",
									"error_detail": "The resource you requested is no longer available. Please modify your request and try again."
								}
							}
						}
					},
					"500": {
						"description": "Failure",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "INTERNAL.SERVER.ERROR",
											"message": "We encountered an unexpected error and are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					},
					"503": {
						"description": "Service Unavailable",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "SERVICE.UNAVAILABLE.ERROR",
											"message": "The service is currently unavailable and we are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					}
				},
				"parameters": [
					{
						"in": "header",
						"name": "x-customer-transaction-id",
						"description": "This element allows you to assign a unique identifier to your transaction. This element is also returned in the reply and helps you match the request to the reply.",
						"required": false,
						"schema": {
							"type": "string",
							"example": "624deea6-b709-470c-8c39-4b5511281492"
						}
					},
					{
						"in": "header",
						"name": "content-type",
						"description": "This is used to indicate the media type of the resource. The media type is a string sent along with the file indicating format of the file.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "application/json"
						}
					},
					{
						"in": "header",
						"name": "x-locale",
						"description": "This indicates the combination of language code and country code.  <a onclick='loadDocReference(\"locales\")'>Click here to see Locales</a>",
						"required": false,
						"schema": {
							"type": "string",
							"example": "en_US"
						}
					},
					{
						"in": "header",
						"name": "authorization",
						"description": "This indicates the authorization token for the input request.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "Bearer XXX"
						}
					}
				],
				"x-code-samples": [
					{
						"lang": "C#",
						"source": "var client = new RestClient(\"https://apis-sandbox.fedex.com/ship/v1/freight/shipments\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"Authorization\", \"Bearer \");\nrequest.AddHeader(\"X-locale\", \"en_US\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\n// 'input' refers to JSON Payload\nrequest.AddParameter(\"application/x-www-form-urlencoded\", input, ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);\n\n\n\n\n"
					},
					{
						"lang": "JAVA",
						"source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\n// 'input' refers to JSON Payload\nRequestBody body = RequestBody.create(mediaType, input);\nRequest request = new Request.Builder()\n    .url(\"https://apis-sandbox.fedex.com/ship/v1/freight/shipments\")\n    .post(body)\n    .addHeader(\"Content-Type\", \"application/json\")\n    .addHeader(\"X-locale\", \"en_US\")\n    .addHeader(\"Authorization\", \"Bearer \")\n    .build();\n            \nResponse response = client.newCall(request).execute();"
					},
					{
						"lang": "JAVASCRIPT",
						"source": "// 'input' refers to JSON Payload\nvar data = JSON.stringify(input);\n  \n  var xhr = new XMLHttpRequest();\n  xhr.withCredentials = true;\n  \n  xhr.addEventListener(\"readystatechange\", function () {\n    if (this.readyState === 4) {\n      console.log(this.responseText);\n    }\n  });\n  \n  xhr.open(\"POST\", \"https://apis-sandbox.fedex.com/ship/v1/freight/shipments\");\n  xhr.setRequestHeader(\"Content-Type\", \"application/json\");\n  xhr.setRequestHeader(\"X-locale\", \"en_US\");\n  xhr.setRequestHeader(\"Authorization\", \"Bearer \");\n  \n  xhr.send(data);"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://apis-sandbox.fedex.com/ship/v1/freight/shipments');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders(array(\n  'Authorization' => 'Bearer ',\n  'X-locale' => 'en_US',\n  'Content-Type' => 'application/json'\n));\n\n$request->setBody(input); // 'input' refers to JSON Payload\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
					},
					{
						"lang": "PYTHON",
						"source": "import requests\n\nurl = \"https://apis-sandbox.fedex.com/ship/v1/freight/shipments\"\n\npayload = input # 'input' refers to JSON Payload\nheaders = {\n    'Content-Type': \"application/json\",\n    'X-locale': \"en_US\",\n    'Authorization': \"Bearer \"\n    }\n\nresponse = requests.post(url, data=payload, headers=headers)\n\nprint(response.text)"
					},
					{
						"lang": "RUST",
						"source": "extern crate reqwest;\n\nuse std::io::Read;\n\nfn construct_headers() -> HeaderMap {\n    let mut headers = HeaderMap::new();\n    headers.insert(\"Content-Type\", \"application/json\");\n    headers.insert(\"X-locale\", \"en_US\");\n    headers.insert(\"Authorization\", \"Bearer \");\n    headers\n}\n\nfn run() -> Result<()> {\n    let client = reqwest::Client::new();\n    let mut res = client.post(\"https://apis-sandbox.fedex.com/ship/v1/freight/shipments\")\n        .body(input) // 'input' refers to JSON Payload\n        .headers(construct_headers())\n        .send()?;\n    let mut body = String::new();\n    res.read_to_string(&mut body)?;\n\n    println!(\"Status: {}\", res.status());\n    println!(\"Headers:\\n{:#?}\", res.headers());\n    println!(\"Body:\\n{}\", body);\n\n    Ok(())\n}"
					},
					{
						"lang": "SWIFT",
						"source": "import Foundation\n\nlet headers = [\n  \"Content-Type\": \"application/json\",\n  \"X-locale\": \"en_US\",\n  \"Authorization\": \"Bearer \"\n]\nlet parameters = [\n  input // 'input' refers to JSON Payload\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://apis-sandbox.fedex.com/ship/v1/freight/shipments\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"POST\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
					}
				]
			}
		},
		"/pickup/v1/freight/pickups/availabilities": {
			"post": {
				"summary": "Check Freight LTL Pickup Availability",
				"description": "This endpoint allows you to check the availability of an Freight LTL pickup service. The pickup availability depends on two factors, the cut off time and the access time.<br/><br/>**Cut off time** - The latest time allowed for a pickup to be scheduled. The time is local to the pickup postal code.<br/><br/>**Access time** - The time between the pickup ready time (when the package is ready to be picked) and the time when the driver is ready to pick up the package.<br/><br/><i>Note: FedEx APIs do not support Cross-Origin Resource Sharing (CORS) mechanism.</i>",
				"operationId": "Check Freight Pickup Availability",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"oneOf": [
									{
										"$ref": "#/components/schemas/FullSchema-FreightPickupAvailability"
									}
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PudcResponseVO_PickupAvailaibility"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "PICKUP.POSTALCODE.MISSING",
											"message": "PostalCode is missing."
										}
									]
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "LOGIN.REAUTHENTICATE.ERROR",
											"message": "Re-Login authentication error"
										}
									]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "UNAUTHORIZED.USAGE",
											"message": "UNAUTHORIZED.USAGE"
										}
									]
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"example": {
									"error": "NOT.FOUND.ERROR",
									"error_detail": "The resource you requested is no longer available. Please modify your request and try again."
								}
							}
						}
					},
					"500": {
						"description": "Failure",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "INTERNAL.SERVER.ERROR",
											"message": "We encountered an unexpected error and are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					},
					"503": {
						"description": "Service Unavailable",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO503"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "SERVICE.UNAVAILABLE.ERROR",
											"message": "The service is currently unavailable and we are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					}
				},
				"parameters": [
					{
						"in": "header",
						"name": "x-customer-transaction-id",
						"description": "This element allows you to assign a unique identifier to your transaction. This element is also returned in the reply and helps you match the request to the reply.",
						"required": false,
						"schema": {
							"type": "string",
							"example": "624deea6-b709-470c-8c39-4b5511281492"
						}
					},
					{
						"in": "header",
						"name": "content-type",
						"description": "This is used to indicate the media type of the resource. The media type is a string sent along with the file indicating format of the file.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "application/json"
						}
					},
					{
						"in": "header",
						"name": "x-locale",
						"description": "This indicates the combination of language code and country code.  <a onclick='loadDocReference(\"locales\")'>Click here to see Locales</a>",
						"required": false,
						"schema": {
							"type": "string",
							"example": "en_US"
						}
					},
					{
						"in": "header",
						"name": "authorization",
						"description": "This indicates the authorization token for the input request.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "Bearer XXX"
						}
					}
				],
				"x-code-samples": [
					{
						"lang": "C#",
						"source": "var client = new RestClient(\"https://apis-sandbox.fedex.com/pickup/v1/freight/pickups/availabilities\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"Authorization\", \"Bearer \");\nrequest.AddHeader(\"X-locale\", \"en_US\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\n// 'input' refers to JSON Payload\nrequest.AddParameter(\"application/x-www-form-urlencoded\", input, ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);\n\n\n\n\n"
					},
					{
						"lang": "JAVA",
						"source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\n// 'input' refers to JSON Payload\nRequestBody body = RequestBody.create(mediaType, input);\nRequest request = new Request.Builder()\n    .url(\"https://apis-sandbox.fedex.com/pickup/v1/freight/pickups/availabilities\")\n    .post(body)\n    .addHeader(\"Content-Type\", \"application/json\")\n    .addHeader(\"X-locale\", \"en_US\")\n    .addHeader(\"Authorization\", \"Bearer \")\n    .build();\n            \nResponse response = client.newCall(request).execute();"
					},
					{
						"lang": "JAVASCRIPT",
						"source": "// 'input' refers to JSON Payload\nvar data = JSON.stringify(input);\n  \n  var xhr = new XMLHttpRequest();\n  xhr.withCredentials = true;\n  \n  xhr.addEventListener(\"readystatechange\", function () {\n    if (this.readyState === 4) {\n      console.log(this.responseText);\n    }\n  });\n  \n  xhr.open(\"POST\", \"https://apis-sandbox.fedex.com/pickup/v1/freight/pickups/availabilities\");\n  xhr.setRequestHeader(\"Content-Type\", \"application/json\");\n  xhr.setRequestHeader(\"X-locale\", \"en_US\");\n  xhr.setRequestHeader(\"Authorization\", \"Bearer \");\n  \n  xhr.send(data);"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://apis-sandbox.fedex.com/pickup/v1/freight/pickups/availabilities');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders(array(\n  'Authorization' => 'Bearer ',\n  'X-locale' => 'en_US',\n  'Content-Type' => 'application/json'\n));\n\n$request->setBody(input); // 'input' refers to JSON Payload\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
					},
					{
						"lang": "PYTHON",
						"source": "import requests\n\nurl = \"https://apis-sandbox.fedex.com/pickup/v1/freight/pickups/availabilities\"\n\npayload = input # 'input' refers to JSON Payload\nheaders = {\n    'Content-Type': \"application/json\",\n    'X-locale': \"en_US\",\n    'Authorization': \"Bearer \"\n    }\n\nresponse = requests.post(url, data=payload, headers=headers)\n\nprint(response.text)"
					},
					{
						"lang": "RUST",
						"source": "extern crate reqwest;\n\nuse std::io::Read;\n\nfn construct_headers() -> HeaderMap {\n    let mut headers = HeaderMap::new();\n    headers.insert(\"Content-Type\", \"application/json\");\n    headers.insert(\"X-locale\", \"en_US\");\n    headers.insert(\"Authorization\", \"Bearer \");\n    headers\n}\n\nfn run() -> Result<()> {\n    let client = reqwest::Client::new();\n    let mut res = client.post(\"https://apis-sandbox.fedex.com/pickup/v1/freight/pickups/availabilities\")\n        .body(input) // 'input' refers to JSON Payload\n        .headers(construct_headers())\n        .send()?;\n    let mut body = String::new();\n    res.read_to_string(&mut body)?;\n\n    println!(\"Status: {}\", res.status());\n    println!(\"Headers:\\n{:#?}\", res.headers());\n    println!(\"Body:\\n{}\", body);\n\n    Ok(())\n}"
					},
					{
						"lang": "SWIFT",
						"source": "import Foundation\n\nlet headers = [\n  \"Content-Type\": \"application/json\",\n  \"X-locale\": \"en_US\",\n  \"Authorization\": \"Bearer \"\n]\nlet parameters = [\n  input // 'input' refers to JSON Payload\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://apis-sandbox.fedex.com/pickup/v1/freight/pickups/availabilities\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"POST\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
					}
				]
			}
		},
		"/pickup/v1/freight/pickups/": {
			"post": {
				"summary": "Create Freight LTL Pickup",
				"description": "This endpoint helps you to create a freight pickup request for a package to be picked up.<br><i>Note: FedEx APIs do not support Cross-Origin Resource Sharing (CORS) mechanism.</i>",
				"operationId": "Create Freight Pickup",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"oneOf": [
									{
										"$ref": "#/components/schemas/FullSchema-CreatePickup"
									}
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PudcResponseVO"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO_2"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "LOGIN.REAUTHENTICATE.ERROR",
											"message": "Re-Login authentication error"
										}
									]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "UNAUTHORIZED.USAGE",
											"message": "UNAUTHORIZED.USAGE"
										}
									]
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"example": {
									"error": "NOT.FOUND.ERROR",
									"error_detail": "The resource you requested is no longer available. Please modify your request and try again."
								}
							}
						}
					},
					"500": {
						"description": "Failure",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "INTERNAL.SERVER.ERROR",
											"message": "We encountered an unexpected error and are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					},
					"503": {
						"description": "Service Unavailable",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO503_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "SERVICE.UNAVAILABLE.ERROR",
											"message": "The service is currently unavailable and we are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					}
				},
				"parameters": [
					{
						"in": "header",
						"name": "x-customer-transaction-id",
						"description": "This element allows you to assign a unique identifier to your transaction. This element is also returned in the reply and helps you match the request to the reply.",
						"required": false,
						"schema": {
							"type": "string",
							"example": "624deea6-b709-470c-8c39-4b5511281492"
						}
					},
					{
						"in": "header",
						"name": "content-type",
						"description": "This is used to indicate the media type of the resource. The media type is a string sent along with the file indicating format of the file.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "application/json"
						}
					},
					{
						"in": "header",
						"name": "x-locale",
						"description": "This indicates the combination of language code and country code.  <a onclick='loadDocReference(\"locales\")'>Click here to see Locales</a>",
						"required": false,
						"schema": {
							"type": "string",
							"example": "en_US"
						}
					},
					{
						"in": "header",
						"name": "authorization",
						"description": "This indicates the authorization token for the input request.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "Bearer XXX"
						}
					}
				],
				"x-code-samples": [
					{
						"lang": "C#",
						"source": "var client = new RestClient(\"https://apis-sandbox.fedex.com/pickup/v1/freight/pickups/\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"Authorization\", \"Bearer \");\nrequest.AddHeader(\"X-locale\", \"en_US\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\n// 'input' refers to JSON Payload\nrequest.AddParameter(\"application/x-www-form-urlencoded\", input, ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);\n\n\n\n\n"
					},
					{
						"lang": "JAVA",
						"source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\n// 'input' refers to JSON Payload\nRequestBody body = RequestBody.create(mediaType, input);\nRequest request = new Request.Builder()\n    .url(\"https://apis-sandbox.fedex.com/pickup/v1/freight/pickups/\")\n    .post(body)\n    .addHeader(\"Content-Type\", \"application/json\")\n    .addHeader(\"X-locale\", \"en_US\")\n    .addHeader(\"Authorization\", \"Bearer \")\n    .build();\n            \nResponse response = client.newCall(request).execute();"
					},
					{
						"lang": "JAVASCRIPT",
						"source": "// 'input' refers to JSON Payload\nvar data = JSON.stringify(input);\n  \n  var xhr = new XMLHttpRequest();\n  xhr.withCredentials = true;\n  \n  xhr.addEventListener(\"readystatechange\", function () {\n    if (this.readyState === 4) {\n      console.log(this.responseText);\n    }\n  });\n  \n  xhr.open(\"POST\", \"https://apis-sandbox.fedex.com/pickup/v1/freight/pickups/\");\n  xhr.setRequestHeader(\"Content-Type\", \"application/json\");\n  xhr.setRequestHeader(\"X-locale\", \"en_US\");\n  xhr.setRequestHeader(\"Authorization\", \"Bearer \");\n  \n  xhr.send(data);"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://apis-sandbox.fedex.com/pickup/v1/freight/pickups/');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders(array(\n  'Authorization' => 'Bearer ',\n  'X-locale' => 'en_US',\n  'Content-Type' => 'application/json'\n));\n\n$request->setBody(input); // 'input' refers to JSON Payload\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
					},
					{
						"lang": "PYTHON",
						"source": "import requests\n\nurl = \"https://apis-sandbox.fedex.com/pickup/v1/freight/pickups/\"\n\npayload = input # 'input' refers to JSON Payload\nheaders = {\n    'Content-Type': \"application/json\",\n    'X-locale': \"en_US\",\n    'Authorization': \"Bearer \"\n    }\n\nresponse = requests.post(url, data=payload, headers=headers)\n\nprint(response.text)"
					},
					{
						"lang": "RUST",
						"source": "extern crate reqwest;\n\nuse std::io::Read;\n\nfn construct_headers() -> HeaderMap {\n    let mut headers = HeaderMap::new();\n    headers.insert(\"Content-Type\", \"application/json\");\n    headers.insert(\"X-locale\", \"en_US\");\n    headers.insert(\"Authorization\", \"Bearer \");\n    headers\n}\n\nfn run() -> Result<()> {\n    let client = reqwest::Client::new();\n    let mut res = client.post(\"https://apis-sandbox.fedex.com/pickup/v1/freight/pickups/\")\n        .body(input) // 'input' refers to JSON Payload\n        .headers(construct_headers())\n        .send()?;\n    let mut body = String::new();\n    res.read_to_string(&mut body)?;\n\n    println!(\"Status: {}\", res.status());\n    println!(\"Headers:\\n{:#?}\", res.headers());\n    println!(\"Body:\\n{}\", body);\n\n    Ok(())\n}"
					},
					{
						"lang": "SWIFT",
						"source": "import Foundation\n\nlet headers = [\n  \"Content-Type\": \"application/json\",\n  \"X-locale\": \"en_US\",\n  \"Authorization\": \"Bearer \"\n]\nlet parameters = [\n  input // 'input' refers to JSON Payload\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://apis-sandbox.fedex.com/pickup/v1/freight/pickups/\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"POST\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
					}
				]
			}
		},
		"/pickup/v1/freight/pickups/cancel/": {
			"put": {
				"summary": "Cancel Freight LTL Pickup",
				"description": "Use this endpoint to cancel the already scheduled freight pickup request. Note a failure notification will be sent if you attempt to cancel a pickup after the FedEx courier has been dispatched to the pickup location.<br><i>Note: FedEx APIs do not support Cross-Origin Resource Sharing (CORS) mechanism.</i>",
				"operationId": "Cancel Freight Pickup",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"oneOf": [
									{
										"$ref": "#/components/schemas/FullSchema-CancelFreightPickup"
									}
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PudcResponseVO_CancelPickup"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO_2"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "LOGIN.REAUTHENTICATE.ERROR",
											"message": "Re-Login authentication error"
										}
									]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "UNAUTHORIZED.USAGE",
											"message": "UNAUTHORIZED.USAGE"
										}
									]
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"example": {
									"error": "NOT.FOUND.ERROR",
									"error_detail": "The resource you requested is no longer available. Please modify your request and try again."
								}
							}
						}
					},
					"500": {
						"description": "Failure",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "INTERNAL.SERVER.ERROR",
											"message": "We encountered an unexpected error and are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					},
					"503": {
						"description": "Service Unavailable",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO503_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "SERVICE.UNAVAILABLE.ERROR",
											"message": "The service is currently unavailable and we are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					}
				},
				"parameters": [
					{
						"in": "header",
						"name": "x-customer-transaction-id",
						"description": "This element allows you to assign a unique identifier to your transaction. This element is also returned in the reply and helps you match the request to the reply.",
						"required": false,
						"schema": {
							"type": "string",
							"example": "624deea6-b709-470c-8c39-4b5511281492"
						}
					},
					{
						"in": "header",
						"name": "content-type",
						"description": "This is used to indicate the media type of the resource. The media type is a string sent along with the file indicating format of the file.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "application/json"
						}
					},
					{
						"in": "header",
						"name": "x-locale",
						"description": "This indicates the combination of language code and country code.  <a onclick='loadDocReference(\"locales\")'>Click here to see Locales</a>",
						"required": false,
						"schema": {
							"type": "string",
							"example": "en_US"
						}
					},
					{
						"in": "header",
						"name": "authorization",
						"description": "This indicates the authorization token for the input request.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "Bearer XXX"
						}
					}
				],
				"x-code-samples": [
					{
						"lang": "C#",
						"source": "var client = new RestClient(\"https://apis-sandbox.fedex.com/pickup/v1/freight/pickups/cancel/\");\nvar request = new RestRequest(Method.PUT);\nrequest.AddHeader(\"Authorization\", \"Bearer \");\nrequest.AddHeader(\"X-locale\", \"en_US\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\n// 'input' refers to JSON Payload\nrequest.AddParameter(\"application/x-www-form-urlencoded\", input, ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);"
					},
					{
						"lang": "JAVA",
						"source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\n// 'input' refers to JSON Payload\nRequestBody body = RequestBody.create(mediaType, input);\nRequest request = new Request.Builder()\n  .url(\"https://apis-sandbox.fedex.com/pickup/v1/freight/pickups/cancel/\")\n  .put(body)\n  .addHeader(\"Content-Type\", \"application/json\")\n  .addHeader(\"X-locale\", \"en_US\")\n  .addHeader(\"Authorization\", \"Bearer \")\n  .build();\n\nResponse response = client.newCall(request).execute();"
					},
					{
						"lang": "JAVASCRIPT",
						"source": "// 'input' refers to JSON Payload\nvar data = JSON.stringify(input);\n  \n  var xhr = new XMLHttpRequest();\n  xhr.withCredentials = true;\n  \n  xhr.addEventListener(\"readystatechange\", function () {\n    if (this.readyState === 4) {\n      console.log(this.responseText);\n    }\n  });\n  \n  xhr.open(\"PUT\", \"https://apis-sandbox.fedex.com/pickup/v1/freight/pickups/cancel/\");\n  xhr.setRequestHeader(\"Content-Type\", \"application/json\");\n  xhr.setRequestHeader(\"X-locale\", \"en_US\");\n  xhr.setRequestHeader(\"Authorization\", \"Bearer \");\n  \n  xhr.send(data);"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://apis-sandbox.fedex.com/pickup/v1/freight/pickups/cancel/');\n$request->setMethod(HTTP_METH_PUT);\n\n$request->setHeaders(array(\n  'Authorization' => 'Bearer ',\n  'X-locale' => 'en_US',\n  'Content-Type' => 'application/json'\n));\n\n$request->setBody(input); // 'input' refers to JSON Payload\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
					},
					{
						"lang": "PYTHON",
						"source": "import requests\n\nurl = \"https://apis-sandbox.fedex.com/pickup/v1/freight/pickups/cancel/\"\n\npayload = input # 'input' refers to JSON Payload\nheaders = {\n    'Content-Type': \"application/json\",\n    'X-locale': \"en_US\",\n    'Authorization': \"Bearer \"\n    }\n\nresponse = requests.put(url, data=payload, headers=headers)\n\nprint(response.text)"
					},
					{
						"lang": "RUST",
						"source": "extern crate reqwest;\n\nuse std::io::Read;\n\nfn construct_headers() -> HeaderMap {\n    let mut headers = HeaderMap::new();\n    headers.insert(\"Content-Type\", \"application/json\");\n    headers.insert(\"X-locale\", \"en_US\");\n    headers.insert(\"Authorization\", \"Bearer \");\n    headers\n}\n\nfn run() -> Result<()> {\n    let client = reqwest::Client::new();\n    let mut res = client.put(\"https://apis-sandbox.fedex.com/pickup/v1/freight/pickups/cancel/\")\n        .body(input) // 'input' refers to JSON Payload\n        .headers(construct_headers())\n        .send()?;\n    let mut body = String::new();\n    res.read_to_string(&mut body)?;\n\n    println!(\"Status: {}\", res.status());\n    println!(\"Headers:\\n{:#?}\", res.headers());\n    println!(\"Body:\\n{}\", body);\n\n    Ok(())\n}"
					},
					{
						"lang": "SWIFT",
						"source": "import Foundation\n\nlet headers = [\n  \"Content-Type\": \"application/json\",\n  \"X-locale\": \"en_US\",\n  \"Authorization\": \"Bearer \"\n]\nlet parameters = [\n  input // 'input' refers to JSON Payload\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://apis-sandbox.fedex.com/pickup/v1/freight/pickups/cancel/\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"PUT\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
					}
				]
			}
		}
	},
	"components": {
		"schemas": {
			"FullSchema": {
				"required": [
					"accountNumber",
					"freightRequestedShipment"
				],
				"type": "object",
				"properties": {
					"accountNumber": {
						"$ref": "#/components/schemas/LTLRootAccountNumber"
					},
					"rateRequestControlParameters": {
						"$ref": "#/components/schemas/RateRequestControlParameters"
					},
					"freightRequestedShipment": {
						"$ref": "#/components/schemas/LTLRequestedShipment"
					}
				},
				"description": "The request elements for requesting a freight rate quote."
			},
			"LTLRootAccountNumber": {
				"type": "object",
				"properties": {
					"value": {
						"type": "string",
						"description": "This is the account number. Maximum Length is 9. <br>Example: XXX456XXX",
						"example": "XXX61073"
					}
				},
				"description": "This is the Account number details.<br><i>Note:<ul><li>In case if this is shipping account number, do use the account number used for creating Auth Token.</li></ul>",
				"example": {
					"value": "XXX61073"
				}
			},
			"RateRequestControlParameters": {
				"$ref": "#/components/schemas/LTLRateRequestControlParameters"
			},
			"LTLRateRequestControlParameters": {
				"type": "object",
				"properties": {
					"returnTransitTimes": {
						"type": "boolean",
						"description": "Indicate if the transit time and commit data are to be returned in the reply. Default value is false.",
						"example": false
					},
					"servicesNeededOnRateFailure": {
						"type": "boolean",
						"description": "Specify the services to be requested if the rate data is not available.",
						"example": true
					},
					"variableOptions": {
						"type": "string",
						"description": "Specify service options whose combinations are to be considered when replying with available services.",
						"example": "FREIGHT_GUARANTEE",
						"enum": [
							"SATURDAY_DELIVERY",
							"FREIGHT_GUARANTEE"
						]
					},
					"rateSortOrder": {
						"type": "string",
						"description": "This is a sort order you can specify to control the order of the response data: <br> Example: <ul><li>SERVICENAMETRADITIONAL - data in order of highest to lowest service (Default)</li><li>COMMITASCENDING - data in order of ascending delivery committment</li><li>COMMITDESCENDING - data in order of descending delivery committment.</li></ul>",
						"example": "SERVICENAMETRADITIONAL",
						"enum": [
							"COMMITASCENDING",
							"SERVICENAMETRADITIONAL",
							"COMMITDESCENDING"
						]
					}
				},
				"description": "These are various parameters you can provide for filtering and sorting  capability in the response, such as transit time and commit data, rate sort order etc."
			},
			"LTLRequestedShipment": {
				"required": [
					"freightShipmentDetail",
					"recipient",
					"requestedPackageLineItems",
					"shipper"
				],
				"type": "object",
				"properties": {
					"shipper": {
						"description": "The descriptive data for the physical location from which the shipment originates.",
						"allOf": [
							{
								"$ref": "#/components/schemas/RateParty"
							}
						]
					},
					"recipient": {
						"description": "Specifies the recipient details.",
						"allOf": [
							{
								"$ref": "#/components/schemas/RateParty"
							}
						]
					},
					"serviceType": {
						"type": "string",
						"description": "The FedEx service type for the shipment. The results will be filtered by the serviceType value indicated.  If no serviceType is indicated then all the applicable services and corresponding rates will be returned.Allowed service types are FEDEX_FREIGHT_PRIORITY and FEDEX_FREIGHT_ECONOMY.",
						"example": "FEDEX_FREIGHT_PRIORITY"
					},
					"preferredCurrency": {
						"type": "string",
						"description": "Indicates the currency the caller requests to have used in all returned monetary values (when a choice is possible).  Used in conjunction with the rateRequestType data element.<br>Example: USD<br><a onclick='loadDocReference(\"currencycodes\")'> Click here to see Currency Codes</a>",
						"example": "USD"
					},
					"shippingChargesPayment": {
						"$ref": "#/components/schemas/LTLShippingChargesPayment"
					},
					"rateRequestType": {
						"type": "array",
						"description": "Indicate the type of rates to be returned. The account specific rates are returned by default if the account number is specified in the request.<br>Following are values:<ul><li>LIST - Returns FedEx published list rates in addition to account-specific rates (if applicable).</li><li>INCENTIVE - This is one-time discount for incentivising the customer. For more information, contact your FedEx representative.</li><li>ACCOUNT - Returns account specific rates (Default).</li></ul>Examples: [\"INCENTIVE\", \"LIST\"]",
						"example": [
							"LIST"
						],
						"items": {
							"type": "string",
							"enum": [
								"ACCOUNT",
								"INCENTIVE",
								"LIST"
							]
						}
					},
					"shipDateStamp": {
						"type": "string",
						"description": "This is the Shipment date. Required for future ship date rates.Default is current date if not indicated or date is in the past.<br>The format is YYYY-MM-DD<br> Example: 2019-09-06",
						"example": "2019-09-06"
					},
					"requestedPackageLineItems": {
						"type": "array",
						"description": "One or more package-attribute descriptions, each of which describes an individual package, a group of identical packages, or (for the total-piece-total-weight case) common characteristics of all packages in the shipment.<br>At least one array instance containing the weight for at least one package is required for freight shipments.<br>Single piece requests will have one RequestedPackageLineItem.<br>Multiple piece requests will have multiple RequestedPackageLineItems.<br> Maximum occurrences is 99.",
						"items": {
							"$ref": "#/components/schemas/LTLRequestedPackageLineItem"
						}
					},
					"totalPackageCount": {
						"type": "integer",
						"description": "Conditional<br>Indicates the total number of packages in the shipment. <br>The Maximum number of packages in a rate request is 100.",
						"format": "int32",
						"example": 3
					},
					"totalWeight": {
						"type": "integer",
						"description": "Conditional. Identifies the total weight of the shipment being conveyed to FedEx.\n  This is only applicable to International shipments and should be used on the first package of a multiple piece shipment. This value contains 1 explicit decimal position.",
						"format": "int32",
						"example": 87
					},
					"freightShipmentDetail": {
						"$ref": "#/components/schemas/LTLRequestedShipmentFreightShipmentDetail"
					},
					"freightShipmentSpecialServices": {
						"$ref": "#/components/schemas/LTLRequestedShipmentSpecialServicesRequested"
					}
				},
				"description": "This contains shipment data describing the shipment for which a  freight rate quote (or rate-shopping comparison) is desired."
			},
			"RateParty": {
				"required": [
					"address"
				],
				"type": "object",
				"properties": {
					"address": {
						"$ref": "#/components/schemas/RateAddress"
					}
				},
				"description": "Specify the shipper address details."
			},
			"RateAddress": {
				"description": "Descriptive data for a physical location. May be used as an actual physical address (place to which one could go), or as a container of address parts which should be handled as a unit (such as a city-state-ZIP combination within  the US). Country code is required.  Postal code is required for postal aware countries.",
				"allOf": [
					{
						"$ref": "#/components/schemas/Address"
					},
					{
						"required": [
							"countryCode",
							"postalCode"
						],
						"properties": {
							"countryCode": {
								"type": "string",
								"example": "US"
							},
							"postalCode": {
								"type": "string",
								"example": "65247"
							}
						}
					}
				]
			},
			"Address": {
				"type": "object",
				"properties": {
					"city": {
						"type": "string",
						"description": "This is a placeholder for City Name. <br> Example: Beverly Hills",
						"example": "Beverly Hills"
					},
					"stateOrProvinceCode": {
						"type": "string",
						"description": "This is a placeholder for State or Province code. State code is required for US, CA, PR and not required for other countries. Conditional. Max length is 2<br> Example: CA <br><a onclick='loadDocReference(\"canadaprovincecodes\")'>Click here to see State Or Province Code</a>",
						"example": "TN"
					},
					"postalCode": {
						"type": "string",
						"description": "Indicate the Postal code. This is optional for non postal-aware countries. Maximum length is 10.<br> Example: 65247<br><a onclick='loadDocReference(\"postalawarecountries\")'>Click here to see Postal aware countries</a>",
						"example": "65247"
					},
					"countryCode": {
						"type": "string",
						"description": "This is the two-letter country code. Maximum length is 2.<br>Example: US<br><a onclick='loadDocReference(\"countrycodes\")'>Click here to see Country Codes</a>",
						"example": "US"
					},
					"residential": {
						"type": "boolean",
						"description": "Indicate whether this address is residential (as opposed to commercial).",
						"example": false
					}
				},
				"description": "This is detailed information on physical location. May be used as an actual physical address (place to which one could go), or as a container of address parts which should be handled as a unit (such as a city-state-ZIP combination within the U.S.).",
				"example": {
					"streetLines": [
						"1550 Union Blvd",
						"Suite 302"
					],
					"city": "Beverly Hills",
					"stateOrProvinceCode": "TN",
					"postalCode": "38127",
					"countryCode": "US",
					"residential": false
				}
			},
			"LTLShippingChargesPayment": {
				"description": "Indicate the payment details specifying the method and means of payment to FedEx for providing shipping services.",
				"allOf": [
					{
						"$ref": "#/components/schemas/LTLPayment"
					},
					{
						"description": "\"The descriptive data for the monetary compensation given to FedEx for services rendered to the customer.\""
					}
				]
			},
			"LTLPayment": {
				"type": "object",
				"properties": {
					"payor": {
						"$ref": "#/components/schemas/LTLPayor"
					},
					"paymentType": {
						"type": "string",
						"description": "Indicate the payment Type.",
						"enum": [
							"SENDER",
							"RECIPIENT",
							"THIRD_PARTY"
						]
					}
				},
				"description": "These are details about shipment payment.",
				"example": {
					"payor": {
						"responsibleParty": {
							"address": {
								"streetLines": [
									"10 FedEx Parkway",
									"Suite 302"
								],
								"city": "Beverly Hills",
								"stateOrProvinceCode": "CA",
								"postalCode": "90210",
								"countryCode": "US",
								"residential": false
							},
							"contact": {
								"personName": "John Taylor",
								"emailAddress": "sample@company.com",
								"phoneNumber": "1234567890",
								"phoneExtension": "phone extension",
								"companyName": "Fedex",
								"faxNumber": "fax number"
							},
							"accountNumber": {
								"value": "123456789"
							}
						}
					},
					"paymentType": "SENDER"
				}
			},
			"LTLPayor": {
				"type": "object",
				"properties": {
					"responsibleParty": {
						"description": "These are payer details such as address, account and contacts.",
						"allOf": [
							{
								"$ref": "#/components/schemas/Party"
							},
							{
								"properties": {
									"accountNumber": {
										"type": "object"
									}
								}
							}
						]
					}
				},
				"description": "This is payer Information responsible for paying for the shipment.",
				"example": {
					"responsibleParty": {
						"address": {
							"streetLines": [
								"10 FedEx Parkway",
								"Suite 302"
							],
							"city": "Beverly Hills",
							"stateOrProvinceCode": "CA",
							"postalCode": "90210",
							"countryCode": "US",
							"residential": false
						},
						"accountNumber": {
							"value": "This is the account number. Maximum Length is 9. <br>Example: Your account number"
						}
					}
				}
			},
			"Party": {
				"type": "object",
				"properties": {
					"address": {
						"$ref": "#/components/schemas/Address"
					},
					"contact": {
						"$ref": "#/components/schemas/Contact"
					},
					"accountNumber": {
						"$ref": "#/components/schemas/AccountNumber"
					}
				},
				"description": "Indicate the party to a transaction including the physical address, contact information and account number information.",
				"example": {
					"contact": {
						"companyName": "Fedex",
						"personName": "John Taylor",
						"phoneNumber": "7194446666",
						"phoneExtension": "phone extension"
					},
					"address": {
						"streetLines": [
							"10 FedEx Parkway",
							"Suite 302"
						],
						"urbanizationCode": "URB FAIR OAKS",
						"city": "Beverly Hills",
						"stateOrProvinceCode": "CA",
						"postalCode": "38127",
						"countryCode": "US",
						"residential": false,
						"addressClassification": "MIXED"
					},
					"accountNumber": {
						"value": "Alternate Billing Account Number"
					},
					"deliveryInstructions": "deliveryInstructions"
				}
			},
			"Contact": {
				"type": "object",
				"properties": {
					"personName": {
						"type": "string",
						"description": "Specify contact name.<br>Note: Recommended Length is 70. There's no specific validation for the length.<br> Example: John Taylor",
						"example": "John Taylor"
					},
					"emailAddress": {
						"type": "string",
						"description": "Specify contact email address. Maximum length is 80. <br> Example: sample@company.com",
						"example": "sample@company.com"
					},
					"phoneNumber": {
						"type": "string",
						"description": "Specify contact phone number. Maximum length is 15. <br> Example: 1234567890",
						"example": "1234567890"
					},
					"phoneExtension": {
						"type": "string",
						"description": "Specify contact phone extension. Maximum length is 6. <br> Example: 1234",
						"example": "1234"
					},
					"faxNumber": {
						"type": "string",
						"description": "Specify contact fax number. Maximum length is 15. <br> Example: 1234567890",
						"example": "1234567890"
					},
					"companyName": {
						"type": "string",
						"description": "Specify contact company name. Maximum length is 35.",
						"example": "Fedex"
					}
				},
				"description": "Indicate the contact details.",
				"example": {
					"personName": "John Taylor",
					"emailAddress": "sample@company.com",
					"phoneNumber": "1234567890",
					"phoneExtension": "1234",
					"faxNumber": "1234567890",
					"companyName": "Fedex"
				}
			},
			"ParsedPersonName": {
				"type": "object",
				"properties": {
					"firstName": {
						"type": "string",
						"description": "Specify the First Name. Maximum Length is 35. <br> Example: John",
						"example": "firstName"
					},
					"lastName": {
						"type": "string",
						"description": "Specify the Last Name. Maximum Length is 35. <br> Example: Mayor",
						"example": "lastName"
					},
					"middleName": {
						"type": "string",
						"description": "Specify the Middle Name.<br> Example: Redmond",
						"example": "middleName"
					},
					"suffix": {
						"type": "string",
						"description": "Specify the Suffix.<br> Example: Jr",
						"example": "suffix"
					}
				},
				"description": "This object is used to separate the person name into first and last name.",
				"example": {
					"firstName": "John",
					"lastName": "Mayor",
					"middleName": "Redmond",
					"suffix": "Jr"
				}
			},
			"AccountNumber": {
				"type": "object",
				"properties": {
					"value": {
						"type": "string",
						"description": "Specify value of the account number. Maximum length is 9.<br> Example: XXXXX6789",
						"example": "XXXXX6789"
					}
				},
				"description": "This is the Account number details.<br><i>Note:<ul><li>If the paymentType is Sender, then the account number is optional in shippingChargesPayment.</li><li>In case if this is shipping account number, do use the account number used for creating Auth Token.</li></ul>",
				"example": {
					"value": "XXXXX6789"
				}
			},
			"LTLRequestedPackageLineItem": {
				"required": [
					"associatedFreightLineItems",
					"subPackagingType",
					"weight"
				],
				"type": "object",
				"properties": {
					"subPackagingType": {
						"type": "string",
						"description": "This is a physical packaging type used for the package. <br>Example: TUBE, CARTON, CONTAINER. etc.<br><a onclick='loadDocReference(\"subpackagetypes\")'>Click here to see Sub-Packaging Types</a><br>For more information on physical packaging or packaging regulatory requirements, visit FedEx.com or contact your FedEx representative.<br>Note: Sub packaging CAGE is not applicable for LTL Freight shipment.",
						"example": "BAG"
					},
					"groupPackageCount": {
						"type": "integer",
						"description": "Indicate the grouped package count. These are number of identical package(s) each with one or more commodities. <br> Example: 2",
						"format": "int32",
						"example": 1
					},
					"contentRecord": {
						"title": "@Ignore4TPP",
						"type": "array",
						"description": "Specifies the details of contents of the package.",
						"items": {
							"$ref": "#/components/schemas/ContentRecord"
						}
					},
					"declaredValue": {
						"description": "This is the Declared Value represents FedEx Maximum liability in connection with a shipment of that Package, including but not limited to, any loss, damage, delay, misdelivery, any failure to provide information, or misdelivery of information relating to the Shipment.",
						"allOf": [
							{
								"$ref": "#/components/schemas/Money"
							}
						]
					},
					"weight": {
						"description": "Indicate the total weight of the requested package line items.",
						"allOf": [
							{
								"$ref": "#/components/schemas/Weight_With_Link"
							}
						]
					},
					"dimensions": {
						"$ref": "#/components/schemas/RequestePackageLineItemDimensions"
					},
					"associatedFreightLineItems": {
						"type": "array",
						"description": "Specifies associated freight line items.",
						"items": {
							"$ref": "#/components/schemas/AssociatedFreightLineItemDetail"
						}
					}
				}
			},
			"ContentRecord": {
				"type": "object",
				"properties": {
					"itemNumber": {
						"type": "string",
						"description": "Specifies Item Number."
					},
					"receivedQuantity": {
						"type": "integer",
						"description": "Specifies Received Quantity.",
						"format": "int32"
					},
					"description": {
						"type": "string",
						"description": "Specifies description for the content record."
					},
					"partNumber": {
						"type": "string",
						"description": "Specifies Part Number."
					}
				},
				"description": "Specifies the details of the content of the package."
			},
			"Money": {
				"allOf": [
					{
						"$ref": "#/components/schemas/Money_1"
					},
					{
						"required": [
							"amount",
							"currency"
						],
						"properties": {
							"amount": {
								"type": "number",
								"description": "Indicates the declared amount value for the shipment.",
								"example": 100
							},
							"currency": {
								"type": "string",
								"description": "Indicates the currency associated with the amount.",
								"example": "USD"
							}
						},
						"example": {
							"amount": "100",
							"currency": "USD"
						}
					}
				]
			},
			"Money_1": {
				"type": "object",
				"properties": {
					"amount": {
						"type": "number",
						"description": "Indicate the amount.",
						"format": "double",
						"example": 12.45
					},
					"currency": {
						"type": "string",
						"description": "Indicate the three-character ISO currency code. <br>Example: USD<br><a onclick='loadDocReference(\"currencycodes\")'>Click here to see Currency Codes</a>",
						"example": "USD"
					}
				},
				"description": "Indicate the amount details. This is optional, but if indicated, amount and currency must be provided."
			},
			"Weight": {
				"allOf": [
					{
						"$ref": "#/components/schemas/Weight_1"
					},
					{
						"required": [
							"units",
							"value"
						],
						"properties": {
							"units": {
								"type": "string",
								"example": "LB"
							},
							"value": {
								"type": "number",
								"example": 22
							}
						}
					}
				]
			},
			"Weight_1": {
				"type": "object",
				"properties": {
					"units": {
						"type": "string",
						"description": "Specifies the package weight unit. For Dry Ice the unit of measure is KG.",
						"example": "LB",
						"enum": [
							"KG",
							"LB"
						]
					},
					"value": {
						"type": "number",
						"description": "Weight Value. Maximum Length is 99999. <br> Example: 10.0",
						"format": "double",
						"example": 10
					}
				},
				"description": "These are the weight details.",
				"example": {
					"units": "LB",
					"value": 10
				}
			},
			"RequestePackageLineItemDimensions": {
				"description": "Specify the dimensions of this package and the unit type used for the measurements. Valid measurements are whole numbers greater than zero.",
				"allOf": [
					{
						"$ref": "#/components/schemas/Dimensions"
					}
				]
			},
			"Dimensions": {
				"description": "Indicate the dimensions of the package.<br> Following conditions will apply: <ul><li>Dimensions are optional but when added, then all three dimensions along with the unit of measurement must be indicated.</li><li>Dimensions are required with YOUR_PACKAGING package type.</li></ul>Note: The Maximum/minimum dimension values vary based on the services and the packaging types. Refer <a href=\"https://www.fedex.com/en-us/service-guide.html\" target=\"_blank\">FedEx Service Guide</a> for service details related to DIM Weighing for FedEx Express and oversize conditions for FedEx Express and FedEx Ground.",
				"allOf": [
					{
						"$ref": "#/components/schemas/Dimensions_1"
					},
					{
						"required": [
							"height",
							"length",
							"units",
							"width"
						],
						"properties": {
							"length": {
								"type": "integer",
								"description": "Indicate the length of the package. No implied decimal places. Maximum value: 999 <br> Example: 20",
								"format": "int32"
							},
							"width": {
								"type": "integer",
								"description": "Indicate the width of the package. No implied decimal places. Maximum value: 999 <br> Example: 10",
								"format": "int32"
							},
							"height": {
								"type": "integer",
								"description": "Indicate the height of the package. No implied decimal places. Maximum value: 999 <br> Example: 10",
								"format": "int32"
							},
							"units": {
								"type": "string",
								"description": "Indicate the unit of measure for the provided dimensions.<br>Valid Values are:<ul><li>IN - Inches</li><li>CM - Centimeters</li></ul>"
							}
						},
						"example": {
							"length": 10,
							"width": 8,
							"height": 2,
							"units": "IN"
						}
					}
				]
			},
			"Dimensions_1": {
				"type": "object",
				"properties": {
					"length": {
						"type": "integer",
						"description": "Indicate the length of the package. No implied decimal places. Maximum value: 999 <br> Example: 20",
						"format": "int32",
						"example": 100
					},
					"width": {
						"type": "integer",
						"description": "Indicate the width of the package. No implied decimal places. Maximum value: 999 <br> Example: 10",
						"format": "int32",
						"example": 50
					},
					"height": {
						"type": "integer",
						"description": "Indicate the height of the package. No implied decimal places. Maximum value: 999 <br> Example: 10",
						"format": "int32",
						"example": 30
					},
					"units": {
						"type": "string",
						"description": "Indicate the unit of measure for the provided dimensions.<br>Valid Values are:<ul><li>IN - Inches</li><li>CM - Centimeters</li></ul>",
						"example": "CM",
						"enum": [
							"CM",
							"IN"
						]
					}
				},
				"description": "Indicate the dimensions of the package.<br> Following conditions will apply: <ul><li>Dimensions are optional but when added, then all three dimensions must be indicated.</li><li>Dimensions are required with YOUR_PACKAGING package type.</li></ul>Note: The Maximum/minimum dimension values varies based on the services and the packaging types. Refer <a href=\"https://www.fedex.com/en-us/service-guide.html\" target=\"_blank\">FedEx Service Guide</a> for service details related to DIM Weighting for FedEx Express and oversize conditions for FedEx Express and FedEx Ground.",
				"example": {
					"length": 100,
					"width": 50,
					"height": 30,
					"units": "CM"
				}
			},
			"AssociatedFreightLineItemDetail": {
				"required": [
					"id"
				],
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "identifier for the freight line item"
					}
				},
				"description": "Associated Freight Line Item Detail"
			},
			"LTLRequestedShipmentFreightShipmentDetail": {
				"description": "Required when using freight related services.",
				"allOf": [
					{
						"$ref": "#/components/schemas/LTLFreightShipmentDetail"
					}
				]
			},
			"LTLFreightShipmentDetail": {
				"required": [
					"lineItem",
					"role",
					"totalHandlingUnits"
				],
				"type": "object",
				"properties": {
					"role": {
						"type": "string",
						"description": "Indicates the role of the party submitting the transaction.",
						"enum": [
							"CONSIGNEE",
							"SHIPPER"
						]
					},
					"accountNumber": {
						"$ref": "#/components/schemas/FedExFreightAccountNumber"
					},
					"declaredValueUnits": {
						"type": "string",
						"description": "This is the declared value per unit. Declared Value represents FedEx Maximum liability in connection with a shipment of that Package, including but not limited to, any loss, damage, delay, misdelivery, any failure to provide information, or misdelivery of information relating to the Shipment."
					},
					"shipmentDimensions": {
						"$ref": "#/components/schemas/FreightShipmentDetailShipmentDimensions"
					},
					"lineItem": {
						"type": "array",
						"description": "Details of the commodities in the shipment.",
						"items": {
							"$ref": "#/components/schemas/FreightShipmentLineItem"
						}
					},
					"clientDiscountPercent": {
						"type": "number",
						"description": "This is only used for anonymous rate requests.",
						"format": "double"
					},
					"fedExFreightBillingContactAndAddress": {
						"$ref": "#/components/schemas/FedExFreightBillingContactAndAddress"
					},
					"aliasID": {
						"type": "string",
						"description": "Alternate unique identifier assigned to this a line item."
					},
					"hazardousMaterialsOfferor": {
						"type": "string",
						"description": "Specifies the hazardous materials offeror."
					},
					"declaredValuePerUnit": {
						"description": "\nThis is the declared value per unit. Declared Value represents FedEx Maximum liability in connection with a shipment of that Package, including but not limited to, any loss, damage, delay, misdelivery, any failure to provide information, or misdelivery of information relating to the Shipment.",
						"allOf": [
							{
								"$ref": "#/components/schemas/Money"
							}
						]
					},
					"totalHandlingUnits": {
						"type": "integer",
						"description": "Total number of individual handling units in the entire shipment (for unit pricing). May not be negative.",
						"format": "int32"
					},
					"alternateBillingParty": {
						"$ref": "#/components/schemas/LTLRateParty"
					}
				},
				"description": "Data applicable to shipments using FEDEX_FREIGHT_ECONOMY and FEDEX_FREIGHT_PRIORITY services"
			},
			"FedExFreightAccountNumber": {
				"description": "\nAccount number used with FedEx Freight services. Required for account-specific freight rates.",
				"allOf": [
					{
						"$ref": "#/components/schemas/AccountNumber"
					}
				]
			},
			"FreightShipmentDetailShipmentDimensions": {
				"description": "Indicates the Shipment Dimensions Value.",
				"allOf": [
					{
						"$ref": "#/components/schemas/Dimensions"
					}
				]
			},
			"FreightShipmentLineItem": {
				"required": [
					"freightClass",
					"handlingUnits",
					"id",
					"pieces",
					"subPackagingType",
					"weight"
				],
				"type": "object",
				"properties": {
					"handlingUnits": {
						"type": "integer",
						"description": "Number of individual handling units to which this line applies.<br> (The total of line-item-level handling units may not balance to shipment-level total handling units.)",
						"format": "int32"
					},
					"nmfcCode": {
						"type": "string",
						"description": "Specify the NMFC(National Motor Freight Classification) Code for commodity in order to get a rate quote or create an online freight shipping label or Bill of Lading.<br><i>Example:<ul><li>115030-02</li><li>056828-05</li><li>056828-29</li></ul></i>"
					},
					"subPackagingType": {
						"type": "string",
						"description": "This is a sub package type for the package.<br>a onclick='loadDocReference(\"subpackagetypes\")'>Click here to see Sub-Packaging Types</a>",
						"enum": [
							"BAG",
							"BARREL",
							"BASKET",
							"BOX",
							"BUCKET",
							"BUNDLE",
							"CAGE",
							"CARTON",
							"CASE",
							"CHEST",
							"CONTAINER",
							"CRATE",
							"CYLINDER",
							"DRUM",
							"ENVELOPE",
							"PACKAGE",
							"PAIL",
							"PALLET",
							"PARCEL",
							"PIECES",
							"REEL",
							"ROLL",
							"SACK",
							"SHRINKWRAPPED",
							"SKID",
							"TANK",
							"TOTEBIN",
							"TUBE",
							"UNIT",
							"OTHER"
						]
					},
					"description": {
						"type": "string",
						"description": "Customer-provided description of this line item."
					},
					"weight": {
						"$ref": "#/components/schemas/Weight_Without_Link"
					},
					"pieces": {
						"type": "integer",
						"description": "Specifies Total number of pieces.",
						"format": "int32"
					},
					"volume": {
						"$ref": "#/components/schemas/Volume"
					},
					"freightClass": {
						"type": "string",
						"description": "Specifies Freight class for this line item.",
						"enum": [
							"CLASS_050",
							"CLASS_055",
							"CLASS_060",
							"CLASS_065",
							"CLASS_070",
							"CLASS_077_5",
							"CLASS_085",
							"CLASS_092_5",
							"CLASS_100",
							"CLASS_110",
							"CLASS_125",
							"CLASS_150",
							"CLASS_175",
							"CLASS_200",
							"CLASS_250",
							"CLASS_300",
							"CLASS_400",
							"CLASS_500"
						]
					},
					"purchaseOrderNumber": {
						"type": "string",
						"description": "Specifies Purchase order number for this line item."
					},
					"id": {
						"type": "string",
						"description": "Specifies Identification for content in this line item."
					},
					"hazardousMaterials": {
						"type": "string",
						"description": "Indicates the kind of hazardous material content in this line item.",
						"enum": [
							"HAZARDOUS_MATERIALS",
							"BATTERY",
							"ORM_D",
							"REPORTABLE_QUANTITIES",
							"SMALL_QUANTITY_EXCEPTION",
							"LIMITED_QUANTITIES_COMMODITIES"
						]
					},
					"dimensions": {
						"$ref": "#/components/schemas/Dimensions"
					}
				},
				"description": "Indicates the description of an individual commodity or class of content in a shipment."
			},
			"Volume": {
				"allOf": [
					{
						"$ref": "#/components/schemas/Volume_1"
					},
					{
						"description": "Indicate the volume (cubic measure) for this commodity or freight class."
					},
					{
						"required": [
							"units",
							"value"
						],
						"properties": {
							"units": {
								"type": "string",
								"example": "CUBIC_FT"
							},
							"value": {
								"type": "number"
							}
						}
					}
				]
			},
			"Volume_1": {
				"type": "object",
				"properties": {
					"units": {
						"type": "string",
						"description": "Specifies the units in Cubic Feet or Cubic Meters.",
						"example": "CUBIC_FT",
						"enum": [
							"CUBIC_FT",
							"CUBIC_M"
						]
					},
					"value": {
						"type": "number",
						"description": "The amount of volume. <br> Example: 9.965781217890562",
						"format": "double",
						"example": 9.965781217890562
					}
				},
				"description": "Individual line item volume. Need Volume or Rate for intra mexico rates.",
				"example": {
					"units": "CUBIC_FT",
					"value": 9.965781217890562
				}
			},
			"FedExFreightBillingContactAndAddress": {
				"description": "Indicates the billing address used to validate FedEx Freight account on the bill of lading..",
				"allOf": [
					{
						"$ref": "#/components/schemas/ContactAndAddress"
					},
					{
						"required": [
							"address",
							"contact"
						],
						"properties": {
							"address": {
								"required": [
									"city",
									"postalCode",
									"stateOrProvinceCode",
									"streetLines"
								],
								"properties": {
									"streetLines": {
										"type": "array",
										"description": "This is the combination of number, street name, etc. <br>Note: At least one line is required and streetlines more than 3 will be ignored. Empty lines should not be included. Maximum Length per line is 35.<br>Example: [10 FedEx Parkway, Suite 302, .etc.]",
										"items": {
											"type": "string"
										}
									},
									"city": {
										"type": "string",
										"description": "Specifies city name.",
										"example": "Beverly Hills"
									},
									"stateOrProvinceCode": {
										"type": "string",
										"description": "This is the state Or Province Code. State code is required for US, CA, PR and not required for other countries. Conditional. Max length is 2<br> Example: CA<br><a onclick='loadDocReference(\"canadaprovincecodes\")'>Click here to see State Or Province Code</a>"
									},
									"postalCode": {
										"type": "string",
										"description": "This is the postal code. <br> Example: 90210<br><a onclick='loadDocReference(\"postalawarecountries\")'>Click here to see Postal aware countries</a>"
									}
								}
							}
						}
					}
				]
			},
			"ContactAndAddress": {
				"type": "object",
				"properties": {
					"contact": {
						"$ref": "#/components/schemas/Contact"
					},
					"address": {
						"$ref": "#/components/schemas/Address_1"
					}
				},
				"description": "Specify the contact and address details of a location.",
				"example": {
					"address": {
						"streetLines": [
							"10 FedEx Parkway",
							"Suite 302"
						],
						"city": "Beverly Hills",
						"stateOrProvinceCode": "CA",
						"postalCode": "38127",
						"countryCode": "US",
						"residential": false
					},
					"contact": {
						"personName": "person name",
						"emailAddress": "email address",
						"phoneNumber": "phone number",
						"phoneExtension": "phone extension",
						"companyName": "company name",
						"faxNumber": "fax number"
					}
				}
			},
			"Address_1": {
				"type": "object",
				"properties": {
					"city": {
						"type": "string",
						"description": "Specify name of city, town, etc.<br> Example: Beverly Hills",
						"example": "Beverly Hills"
					},
					"stateOrProvinceCode": {
						"type": "string",
						"description": "Specify State or province code. Maximum length is 2, State code is required for US, CA, PR and not required for other countries. Conditional. Max length is 2.<br> Example: CA <br><a onclick='loadDocReference(\"canadaprovincecodes\")'>Click here to see State Or Province Codes</a>",
						"example": "CA"
					},
					"postalCode": {
						"type": "string",
						"description": "Specify the postal code. This is optional for non postal- aware countries. Maximum length is 10.<br> Example: 65247<br><a onclick='loadDocReference(\"postalawarecountries\")'>Click here to see Postal aware countries</a>",
						"example": "65247"
					},
					"countryCode": {
						"type": "string",
						"description": "The two-letter country code. Maximum length is 2.<br>Example: US<br><a onclick='loadDocReference(\"countrycodes\")'>Click here to see Country Codes</a>",
						"example": "US"
					},
					"residential": {
						"type": "boolean",
						"description": "Indicate whether this address is residential (as opposed to commercial).",
						"example": false
					}
				},
				"description": "This is detailed information on physical location. May be used as an actual physical address (place to which one could go), or as a container of address parts which should be handled as a unit (such as a city-state-ZIP combination within the US). Country code is required. Postal code is required for postal aware countries. State or province code is mandatory for Puerto Rico."
			},
			"LTLRateParty": {
				"required": [
					"address"
				],
				"type": "object",
				"properties": {
					"address": {
						"$ref": "#/components/schemas/RateAddress"
					},
					"accountNumber": {
						"$ref": "#/components/schemas/LTLFreightAccountNumber"
					}
				},
				"description": "Specify alternate billing party details. <br>Note: These details are required when paymentType selected as THIRD_PARTY."
			},
			"LTLFreightAccountNumber": {
				"type": "object",
				"properties": {
					"value": {
						"type": "string",
						"description": "This is the account number. Maximum Length is 9. <br>Example: XXX456XXX",
						"example": "XXX61073"
					}
				},
				"description": "This is the Account number details.",
				"example": {
					"value": "XXX61073"
				}
			},
			"LTLRequestedShipmentSpecialServicesRequested": {
				"description": "These special services are available at the shipment level for some or all service types. If the shipper is requesting a special service which requires additional data (such as DO_NOT_STACK_PALLETS), the shipment special service type must be present in the specialServiceTypes collection, and the supporting detail must be provided in the appropriate sub-object below.",
				"allOf": [
					{
						"$ref": "#/components/schemas/LTLShipmentSpecialServicesRequested"
					}
				]
			},
			"LTLShipmentSpecialServicesRequested": {
				"type": "object",
				"properties": {
					"freightGuaranteeDetail": {
						"$ref": "#/components/schemas/FreightGuaranteeDetail"
					},
					"specialServiceTypes": {
						"type": "array",
						"description": "Indicate special services for which the rate data is being requested. Special Services are available at the shipment level for some or all service types.<br>Example: FREIGHT_GUARANTEE <br><a onclick='loadDocReference(\"freightlevelspecialservicetypes\")'>Click here to see Freight Level Special Service Types</a>",
						"example": [
							"FREIGHT_GUARANTEE"
						],
						"items": {
							"type": "string"
						}
					},
					"freightDirectDetail": {
						"$ref": "#/components/schemas/FreightDirectDetail"
					}
				},
				"description": "Indicate special services for which the rate data is being requested. Special Services are available at the shipment level for some or all service types.<br>Valid values are:<ul><li>FREIGHT_GUARANTEE</li><li>COD</li><li>BROKER_SELECT_OPTION</li><li>DANGEROUS_GOODS</li><li>FOOD</li><li>POISON</li><li> INSIDE_DELIVERY</li><li>INSIDE_PICKUP</li><li>LIFTGATE_PICKUP</li><li>LIFTGATE_DELIVERY</li><li>LIMITED_ACCESS_PICKUP</li><li> LIMITED_ACCESS_DELIVERY</li><li>DO_NOT_STACK_PALLETS</li><li> DO_NOT_BREAK_DOWN_PALLETS</li><li>CALL_BEFORE_DELIVERY</li><li> TOP_LOAD </li><li>OVER_LENGTH</li><li> EXTREME_LENGTH</li><li> PROTECTION_FROM_FREEZING</li></ul><br><a onclick='loadDocReference(\"shipmentlevelspecialservicetypes\")'>Click here to see Shipment level Special Service Types</a>"
			},
			"FreightGuaranteeDetail": {
				"type": "object",
				"properties": {
					"freightGuaranteeType": {
						"type": "string",
						"description": "Indicates the guaranteed delivery on date specified.",
						"enum": [
							"GUARANTEED_DATE",
							"GUARANTEED_MORNING",
							"GUARANTEED_TIME"
						]
					},
					"guaranteeTimestamp": {
						"type": "string",
						"description": "Date and Time of shipment based on shipper’s time zone. <br>The format is YYYY-MM-DD"
					}
				},
				"description": "Specifies Freight Guarantee Detail Model."
			},
			"RatcResponseVO": {
				"type": "object",
				"properties": {
					"transactionId": {
						"type": "string",
						"description": "The transaction ID is a special set of numbers that defines each transaction.<br>Example: 624deea6-b709-470c-8c39-4b5511281492",
						"example": "624deea6-b709-470c-8c39-4b5511281492"
					},
					"customerTransactionId": {
						"type": "string",
						"description": "This element allows you to assign a unique identifier to your transaction. This element is also returned in the reply and helps you match the request to the reply. <br> Example: AnyCo_order123456789",
						"example": "AnyCo_order123456789"
					},
					"output": {
						"$ref": "#/components/schemas/BaseProcessOutputVO_Rate"
					}
				},
				"description": "This is a wrapper class for outputVO."
			},
			"BaseProcessOutputVO_Rate": {
				"$ref": "#/components/schemas/RateOutputVO"
			},
			"RateOutputVO": {
				"type": "object",
				"properties": {
					"customerTransactionId": {
						"type": "string",
						"description": "This element allows you to assign a unique identifier to your transaction. This element is also returned in the reply and helps you match the request to the reply. <br>Example: AnyCo_order123456789",
						"example": "AnyCo_order123456789"
					},
					"rateReplyDetails": {
						"type": "array",
						"description": "This object will hold the rate and shipment data returned for a request.",
						"items": {
							"$ref": "#/components/schemas/LTLRateReplyDetail"
						}
					},
					"quoteDate": {
						"type": "string",
						"description": "The date on which the rate is quoted.<br> Example: 2019-09-18",
						"example": "2019-12-18"
					},
					"encoded": {
						"type": "boolean",
						"description": "Specifies the encoded form of the rate.",
						"example": false
					},
					"alerts": {
						"type": "array",
						"description": "The cxs alert code, alert type, and alert message obtained when a rate quote is requested.",
						"items": {
							"$ref": "#/components/schemas/Alert"
						}
					}
				},
				"description": "The response elements when a rate quote is requested.",
				"example": {
					"transactionId": "63a21b84-ad5c-4da2-b788-f615e5cafaa3",
					"output": {
						"alerts": [
							{
								"code": "MIXED.MEASURING.UNITS.INCLUDED",
								"message": "Package 1 - Mixed measuring units are provided for weight and dimensions.",
								"alertType": "WARNING",
								"parameterList": [
									{
										"key": "Package Index",
										"value": "1"
									}
								]
							}
						],
						"rateReplyDetails": [
							{
								"serviceType": "FEDEX_FREIGHT_PRIORITY",
								"commit": {
									"dateDetail": {
										"dayOfWeek": "Fri",
										"dayFormat": "2020-12-04T17:00:00-06:00"
									},
									"transitDays": {
										"minimumTransitTime": "TWO_DAYS",
										"description": "2 Business Days"
									},
									"saturdayDelivery": false
								},
								"ratedShipmentDetails": [
									{
										"quoteNumber": "1100739606",
										"rateType": "ACCOUNT",
										"freightChargeBasis": "MINIMUM",
										"ratedWeightMethod": "FREIGHT_MINIMUM",
										"totalDiscounts": 0,
										"totalBaseCharge": 805,
										"totalNetCharge": 996.59,
										"totalNetFedExCharge": 996.59,
										"shipmentLegRateDetails": [
											{
												"rateScale": "*FXF PZONE 01/04/21 LD 11122",
												"totalBaseCharge": 0,
												"totalNetCharge": 996.59
											}
										],
										"shipmentRateDetail": {
											"dimDivisor": 0,
											"fuelSurchargePercent": 23.8,
											"totalSurcharges": 191.59,
											"totalFreightDiscount": 0,
											"surCharges": [
												{
													"type": "FUEL",
													"description": "Fuel Surcharge",
													"level": "SHIPMENT",
													"amount": 191.59
												}
											],
											"totalBillingWeight": {
												"units": "LB",
												"value": 331
											},
											"totalDimWeight": {
												"units": "LB",
												"value": 0
											},
											"currency": "USD",
											"rateScale": "*FXF PZONE 01/04/21 LD 11122"
										},
										"currency": "USD"
									}
								],
								"operationalDetail": {
									"originLocationNumbers": [],
									"deliveryDate": "2020-12-04T17:00:00-06:00",
									"deliveryDay": "FRI",
									"commitDate": "2020-12-04T17:00:00-06:00",
									"commitDays": [
										"FRI"
									],
									"transitTime": "TWO_DAYS",
									"ineligibleForMoneyBackGuarantee": true
								},
								"freightTransitLocationDetail": {
									"originLocation": {
										"contactAndAddress": {
											"contact": {
												"personName": "DAWN THIELHART",
												"phoneNumber": "800-218-6293"
											},
											"address": {
												"streetLines": [
													"6952 E HILLSBOROUGH AVE",
													""
												],
												"city": "TAMPA",
												"stateOrProvinceCode": "FL",
												"postalCode": "33610-4136",
												"countryCode": "US",
												"residential": false
											}
										},
										"locationId": "TPA"
									},
									"destinationLocation": {
										"contactAndAddress": {
											"contact": {
												"personName": "TED CLAY",
												"phoneNumber": "214-333-4544"
											},
											"address": {
												"streetLines": [
													"1501 N WALTON WALKER BLVD",
													""
												],
												"city": "DALLAS",
												"stateOrProvinceCode": "TX",
												"postalCode": "75211",
												"countryCode": "US",
												"residential": false
											}
										},
										"locationId": "SDA"
									},
									"distance": {
										"units": "MI",
										"value": 1139
									}
								}
							}
						],
						"quoteDate": "2020-12-02",
						"encoded": false
					}
				}
			},
			"LTLRateReplyDetail": {
				"type": "object",
				"properties": {
					"serviceType": {
						"type": "string",
						"description": "Service code associated with this particular rate. <br> For Ground this will be a direct copy of the service specified in the request.  For domestic Express, the service may have been bumped, so it may not match the value specified on the request.  For International Express the service may be bumped and not mapped.Allowed values are FEDEX_FREIGHT_PRIORITY and FEDEX_FREIGHT_ECONOMY ",
						"example": "FEDEX_FREIGHT_PRIORITY"
					},
					"serviceName": {
						"type": "string",
						"description": "The translated service name associated with service type given. <br> Example: FedEx Freight Economy",
						"example": "FedEx Freight Economy®"
					},
					"packagingType": {
						"type": "string",
						"description": "Packaging type associated with this particular rate.  For Ground will always be YOUR_PACKAGING.  For domestic Express, the packaging may have been bumped so it may not match the value specified on the request.  For International Express the packaging may be bumped and not mapped.",
						"example": "YOUR_PACKAGING"
					},
					"customerMessages": {
						"type": "array",
						"description": "Messages concerning the ability to provide an accurate delivery commitment on an International commit quote.  These could be messages providing information about why a commitment could not be returned or a successful message such as REQUEST_COMPLETED",
						"items": {
							"$ref": "#/components/schemas/CustomerMessage"
						}
					},
					"ratedShipmentDetails": {
						"$ref": "#/components/schemas/RatedShipmentDetail"
					},
					"freightTransitLocationDetail": {
						"type": "array",
						"description": "Indicates the Freight origin and destination city center information and total distance between origin and destination city centers.",
						"items": {
							"$ref": "#/components/schemas/FreightTransitLocationDetail"
						}
					},
					"operationalDetail": {
						"$ref": "#/components/schemas/OperationalDetail"
					},
					"signatureOptionType": {
						"type": "string",
						"description": "Indicates the signature Option for this service. <br> Example: SERVICE_DEFAULT",
						"example": "SERVICE_DEFAULT"
					},
					"serviceDescription": {
						"$ref": "#/components/schemas/ServiceDescription"
					},
					"brokerDetail": {
						"$ref": "#/components/schemas/BrokerDetail"
					},
					"commit": {
						"$ref": "#/components/schemas/Commit"
					}
				},
				"description": "List of rate data by single service. If a service was specified in the request, there will be a single entry in this array; if service was omitted in the request, there will be a separate entry in this array for each service being compared.",
				"example": {
					"serviceType": "FEDEX_FREIGHT_PRIORITY",
					"commit": {
						"dateDetail": {
							"dayOfWeek": "Fri",
							"dayFormat": "2020-12-04T17:00:00-06:00"
						},
						"transitDays": {
							"minimumTransitTime": "TWO_DAYS",
							"description": "2 Business Days"
						},
						"saturdayDelivery": false
					},
					"ratedShipmentDetails": [
						{
							"quoteNumber": "1100739606",
							"rateType": "ACCOUNT",
							"freightChargeBasis": "MINIMUM",
							"ratedWeightMethod": "FREIGHT_MINIMUM",
							"totalDiscounts": 0,
							"totalBaseCharge": 805,
							"totalNetCharge": 996.59,
							"totalNetFedExCharge": 996.59,
							"shipmentLegRateDetails": [
								{
									"rateScale": "*FXF PZONE 01/04/21 LD 11122",
									"totalBaseCharge": 0,
									"totalNetCharge": 996.59
								}
							],
							"shipmentRateDetail": {
								"dimDivisor": 0,
								"fuelSurchargePercent": 23.8,
								"totalSurcharges": 191.59,
								"totalFreightDiscount": 0,
								"surCharges": [
									{
										"type": "FUEL",
										"description": "Fuel Surcharge",
										"level": "SHIPMENT",
										"amount": 191.59
									}
								],
[...]
