{
	"openapi": "3.0.0",
	"info": {
		"title": "Rates and Transit Times API",
		"version": "1.0.0"
	},
	"servers": [
		{
			"url": "https://apis-sandbox.fedex.com",
			"description": "Sandbox Server"
		},
		{
			"url": "https://apis.fedex.com",
			"description": "Production Server"
		}
	],
	"paths": {
		"/rate/v1/rates/quotes": {
			"post": {
				"summary": "Rate and Transit times",
				"description": "This endpoint provides the ability to retrieve rate quotes and optionalll transit information. The rate is calculated based on the origin and destination of the shipment. Additional information such as carrier code, service type, or service option can be used to filter the results. If carrier code is provided, the response includes the rate quotes for the specific transportation carrier. This endpoint provides the rates for FedEx Ground and FedEx Express and does not offer rates for FedEx Freight.<br><i>Note: FedEx APIs do not support Cross-Origin Resource Sharing (CORS) mechanism.</i>",
				"operationId": "Rate and Transit times",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/body"
							}
						}
					},
					"required": false
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/RatcResponseVO"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "ACCOUNT.NUMBER.MISMATCH",
											"message": "When payment Type is SENDER, ShippingChargesPayment Payor AccountNumber should match the shipper account number."
										}
									]
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO401"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "NOT.AUTHORIZED.ERROR",
											"message": "Access token expired. Please modify your request and try again."
										}
									]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO403"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "FORBIDDEN.ERROR",
											"message": "We could not authorize your credentials. Please check your permissions and try again."
										}
									]
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO404"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "NOT.FOUND.ERROR",
											"message": "The resource you requested is no longer available. Please modify your request and try again."
										}
									]
								}
							}
						}
					},
					"500": {
						"description": "Failure",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO500"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "INTERNAL.SERVER.ERROR",
											"message": "We encountered an unexpected error and are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					},
					"503": {
						"description": "Service Unavailable",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO503"
								},
								"example": {
									"transactionId": "08f37269-2fcf-4a52-8f02-01c8349d143f",
									"errors": [
										{
											"code": "SERVICE.UNAVAILABLE.ERROR",
											"message": "The service is currently unavailable and we are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					}
				},
				"parameters": [
					{
						"in": "header",
						"name": "x-customer-transaction-id",
						"description": "This element allows you to assign a unique identifier to your transaction. This element is also returned in the reply and helps you match the request to the reply.",
						"required": false,
						"schema": {
							"type": "string",
							"example": "624deea6-b709-470c-8c39-4b5511281492"
						}
					},
					{
						"in": "header",
						"name": "content-type",
						"description": "This is used to indicate the media type of the resource. The media type is a string sent along with the file indicating format of the file.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "application/json"
						}
					},
					{
						"in": "header",
						"name": "x-locale",
						"description": "This indicates the combination of language code and country code.  <a onclick='loadDocReference(\"locales\")'>Click here to see Locales</a>",
						"required": false,
						"schema": {
							"type": "string",
							"example": "en_US"
						}
					},
					{
						"in": "header",
						"name": "authorization",
						"description": "This indicates the authorization token for the input request.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "Bearer XXX"
						}
					}
				],
				"x-code-samples": [
					{
						"lang": "C#",
						"source": "var client = new RestClient(\"https://apis-sandbox.fedex.com/rate/v1/rates/quotes\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"Authorization\", \"Bearer \");\nrequest.AddHeader(\"X-locale\", \"en_US\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\n// 'input' refers to JSON Payload\nrequest.AddParameter(\"application/x-www-form-urlencoded\", input, ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);\n\n\n\n\n"
					},
					{
						"lang": "JAVA",
						"source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\n// 'input' refers to JSON Payload\nRequestBody body = RequestBody.create(mediaType, input);\nRequest request = new Request.Builder()\n    .url(\"https://apis-sandbox.fedex.com/rate/v1/rates/quotes\")\n    .post(body)\n    .addHeader(\"Content-Type\", \"application/json\")\n    .addHeader(\"X-locale\", \"en_US\")\n    .addHeader(\"Authorization\", \"Bearer \")\n    .build();\n            \nResponse response = client.newCall(request).execute();"
					},
					{
						"lang": "JAVASCRIPT",
						"source": "// 'input' refers to JSON Payload\nvar data = JSON.stringify(input);\n  \n  var xhr = new XMLHttpRequest();\n  xhr.withCredentials = true;\n  \n  xhr.addEventListener(\"readystatechange\", function () {\n    if (this.readyState === 4) {\n      console.log(this.responseText);\n    }\n  });\n  \n  xhr.open(\"POST\", \"https://apis-sandbox.fedex.com/rate/v1/rates/quotes\");\n  xhr.setRequestHeader(\"Content-Type\", \"application/json\");\n  xhr.setRequestHeader(\"X-locale\", \"en_US\");\n  xhr.setRequestHeader(\"Authorization\", \"Bearer \");\n  \n  xhr.send(data);"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://apis-sandbox.fedex.com/rate/v1/rates/quotes');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders(array(\n  'Authorization' => 'Bearer ',\n  'X-locale' => 'en_US',\n  'Content-Type' => 'application/json'\n));\n\n$request->setBody(input); // 'input' refers to JSON Payload\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
					},
					{
						"lang": "PYTHON",
						"source": "import requests\n\nurl = \"https://apis-sandbox.fedex.com/rate/v1/rates/quotes\"\n\npayload = input # 'input' refers to JSON Payload\nheaders = {\n    'Content-Type': \"application/json\",\n    'X-locale': \"en_US\",\n    'Authorization': \"Bearer \"\n    }\n\nresponse = requests.post(url, data=payload, headers=headers)\n\nprint(response.text)"
					},
					{
						"lang": "RUST",
						"source": "extern crate reqwest;\n\nuse std::io::Read;\n\nfn construct_headers() -> HeaderMap {\n    let mut headers = HeaderMap::new();\n    headers.insert(\"Content-Type\", \"application/json\");\n    headers.insert(\"X-locale\", \"en_US\");\n    headers.insert(\"Authorization\", \"Bearer \");\n    headers\n}\n\nfn run() -> Result<()> {\n    let client = reqwest::Client::new();\n    let mut res = client.post(\"https://apis-sandbox.fedex.com/rate/v1/rates/quotes\")\n        .body(input) // 'input' refers to JSON Payload\n        .headers(construct_headers())\n        .send()?;\n    let mut body = String::new();\n    res.read_to_string(&mut body)?;\n\n    println!(\"Status: {}\", res.status());\n    println!(\"Headers:\\n{:#?}\", res.headers());\n    println!(\"Body:\\n{}\", body);\n\n    Ok(())\n}"
					},
					{
						"lang": "SWIFT",
						"source": "import Foundation\n\nlet headers = [\n  \"Content-Type\": \"application/json\",\n  \"X-locale\": \"en_US\",\n  \"Authorization\": \"Bearer \"\n]\nlet parameters = [\n  input // 'input' refers to JSON Payload\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://apis-sandbox.fedex.com/rate/v1/rates/quotes\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"POST\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
					}
				]
			}
		}
	},
	"components": {
		"schemas": {
			"RatcResponseVO": {
				"type": "object",
				"properties": {
					"transactionId": {
						"type": "string",
						"description": "The transaction ID is a special set of numbers that defines each transaction.<br>Example: 624deea6-b709-470c-8c39-4b5511281492",
						"example": "624deea6-b709-470c-8c39-4b5511281492"
					},
					"customerTransactionId": {
						"type": "string",
						"description": "This element has a unique identifier added in your request, helps you match the request to the reply.<br>Example: XXXX_XXX123XXXXX",
						"example": "AnyCo_order123456789"
					},
					"output": {
						"$ref": "#/components/schemas/BaseProcessOutputVO"
					}
				},
				"description": "This is a wrapper class for outputVO."
			},
			"BaseProcessOutputVO": {
				"$ref": "#/components/schemas/RateOutputVO"
			},
			"RateOutputVO": {
				"type": "object",
				"properties": {
					"rateReplyDetails": {
						"type": "array",
						"description": "This object will hold the rate and shipment data returned for a request.",
						"items": {
							"$ref": "#/components/schemas/RateReplyDetail"
						}
					},
					"quoteDate": {
						"type": "string",
						"description": "The date on which the rate is quoted.<br> Example: 2019-09-18",
						"example": "2019-12-18"
					},
					"isEncoded": {
						"type": "boolean",
						"description": "Specifies the encoded form of the rate. <br> Example: false",
						"example": false
					},
					"alerts": {
						"type": "array",
						"description": "The alert code, alert type, and alert message obtained when a rate quote is requested.",
						"items": {
							"$ref": "#/components/schemas/Alert"
						}
					}
				},
				"description": "This is the response object for a rate quote request.",
				"example": {
					"rateReplyDetails": [
						{
							"serviceType": "INTERNATIONAL_FIRST",
							"serviceName": "FedEx International First",
							"packagingType": "YOUR_PACKAGING",
							"customerMessages": [
								{
									"code": "SERVICE.TYPE.INTERNATIONAL.MESSAGE",
									"message": "Rate does not include duties & taxes, clearance entry fees or other import fees.  The payor of duties/taxes/fees will be responsible for any applicable Clearance Entry Fees."
								},
								{
									"code": "EDT.DETAILS.MISSING",
									"message": "The harmonized code for the commodity at array index 1 is missing or invalid; estimated duties and taxes were not returned."
								}
							],
							"ratedShipmentDetails": [
								{
									"rateType": "ACCOUNT",
									"ratedWeightMethod": "ACTUAL",
									"totalDiscounts": 0,
									"totalBaseCharge": 403.2,
									"totalNetCharge": 445.54,
									"totalVatCharge": 0,
									"totalNetFedExCharge": 445.54,
									"totalDutiesAndTaxes": 0,
									"totalNetChargeWithDutiesAndTaxes": 445.54,
									"totalDutiesTaxesAndFees": 0,
									"totalAncillaryFeesAndTaxes": 0,
									"shipmentRateDetail": {
										"rateZone": "CA003O",
										"dimDivisor": 0,
										"fuelSurchargePercent": 10.5,
										"totalSurcharges": 42.34,
										"totalFreightDiscount": 0,
										"surCharges": [
											{
												"type": "FUEL",
												"description": "Fuel Surcharge",
												"amount": 42.34
											}
										],
										"pricingCode": "ACTUAL",
										"currencyExchangeRate": {
											"fromCurrency": "CAD",
											"intoCurrency": "CAD",
											"rate": 1
										},
										"totalBillingWeight": {
											"units": "LB",
											"valu": 22
										},
										"currency": "CAD"
									},
									"currency": "CAD"
								},
								{
									"rateType": "LIST",
									"ratedWeightMethod": "ACTUAL",
									"totalDiscounts": 0,
									"totalBaseCharge": 403.2,
									"totalNetCharge": 445.54,
									"totalVatCharge": 0,
									"totalNetFedExCharge": 445.54,
									"totalDutiesAndTaxes": 0,
									"totalNetChargeWithDutiesAndTaxes": 445.54,
									"totalDutiesTaxesAndFees": 0,
									"totalAncillaryFeesAndTaxes": 0,
									"shipmentRateDetail": {
										"rateZone": "CA003O",
										"dimDivisor": 0,
										"fuelSurchargePercent": 10.5,
										"totalSurcharges": 42.34,
										"totalFreightDiscount": 0,
										"surCharges": [
											{
												"type": "FUEL",
												"description": "Fuel Surcharge",
												"amount": 42.34
											}
										],
										"pricingCode": "ACTUAL",
										"currencyExchangeRate": {
											"fromCurrency": "CAD",
											"intoCurrency": "CAD",
											"rate": 1
										},
										"totalBillingWeight": {
											"units": "LB",
											"value": 22
										},
										"currency": "CAD"
									},
									"currency": "CAD"
								},
								{
									"rateType": "PREFERRED_INCENTIVE",
									"ratedWeightMethod": "ACTUAL",
									"totalDiscounts": 0,
									"totalBaseCharge": 308.71,
									"totalNetCharge": 341.13,
									"totalVatCharge": 0,
									"totalNetFedExCharge": 341.13,
									"totalDutiesAndTaxes": 0,
									"totalNetChargeWithDutiesAndTaxes": 341.13,
									"totalDutiesTaxesAndFees": 0,
									"totalAncillaryFeesAndTaxes": 0,
									"shipmentRateDetail": {
										"rateZone": "CA003O",
										"dimDivisor": 0,
										"fuelSurchargePercent": 10.5,
										"totalSurcharges": 32.42,
										"totalFreightDiscount": 0,
										"surCharges": [
											{
												"type": "FUEL",
												"description": "Fuel Surcharge",
												"amount": 32.42
											}
										],
										"pricingCode": "ACTUAL",
										"currencyExchangeRate": {
											"fromCurrency": "CAD",
											"intoCurrency": "USD",
											"rate": 0.77
										},
										"totalBillingWeight": {
											"units": "LB",
											"value": 22
										},
										"currency": "USD"
									},
									"currency": "USD"
								},
								{
									"rateType": "PREFERRED_CURRENCY",
									"ratedWeightMethod": "ACTUAL",
									"totalDiscounts": 0,
									"totalBaseCharge": 308.71,
									"totalNetCharge": 341.13,
									"totalVatCharge": 0,
									"totalNetFedExCharge": 341.13,
									"totalDutiesAndTaxes": 0,
									"totalNetChargeWithDutiesAndTaxes": 341.13,
									"totalDutiesTaxesAndFees": 0,
									"totalAncillaryFeesAndTaxes": 0,
									"shipmentRateDetail": {
										"rateZone": "CA003O",
										"dimDivisor": 0,
										"fuelSurchargePercent": 10.5,
										"totalSurcharges": 32.42,
										"totalFreightDiscount": 0,
										"surCharges": [
											{
												"type": "FUEL",
												"description": "Fuel Surcharge",
												"amount": 32.42
											}
										],
										"pricingCode": "ACTUAL",
										"currencyExchangeRate": {
											"fromCurrency": "CAD",
											"intoCurrency": "USD",
											"rate": 0.77
										},
										"totalBillingWeight": {
											"units": "LB",
											"value": 22
										},
										"currency": "USD"
									},
									"currency": "USD"
								}
							],
							"anonymouslyAllowable": true,
							"operationalDetail": {
								"originLocationIds": "COSA",
								"commitDays": "",
								"serviceCode": "92",
								"airportId": "MEM",
								"scac": "",
								"originServiceAreas": "AM",
								"deliveryDay": "TUE",
								"originLocationNumbers": 1162,
								"destinationPostalCode": "38125",
								"commitDate": "2019-07-22T08:30:00",
								"astraDescription": "INTL1ST",
								"deliveryDate": "",
								"deliveryEligibilities": "",
								"ineligibleForMoneyBackGuarantee": false,
								"maximumTransitTime": "",
								"astraPlannedServiceLevel": "",
								"destinationLocationIds": "EHTA",
								"destinationLocationStateOrProvinceCodes": "CT",
								"transitTime": "THREE_DAYS",
								"packagingCode": "02",
								"destinationLocationNumbers": 892,
								"publishedDeliveryTime": "06:30:00",
								"countryCodes": "US",
								"stateOrProvinceCodes": "TX",
								"ursaPrefixCode": "82",
								"ursaSuffixCode": "EHTA",
								"destinationServiceAreas": "AA",
								"originPostalCodes": "75063",
								"customTransitTime": ""
							},
							"signatureOptionType": "SERVICE_DEFAULT",
							"serviceDescription": {
								"serviceId": "EP1000000007",
								"serviceType": "INTERNATIONAL_FIRST",
								"code": "06",
								"names": [
									{
										"type": "long",
										"encoding": "utf-8",
										"value": "FedEx International First®"
									},
									{
										"type": "long",
										"encoding": "ascii",
										"value": "FedEx International First"
									},
									{
										"type": "medium",
										"encoding": "utf-8",
										"value": "FedEx International First®"
									},
									{
										"type": "medium",
										"encoding": "ascii",
										"value": "FedEx International First"
									},
									{
										"type": "short",
										"encoding": "utf-8",
										"value": "FO"
									},
									{
										"type": "short",
										"encoding": "ascii",
										"value": "FO"
									},
									{
										"type": "abbrv",
										"encoding": "ascii",
										"value": "FO"
									}
								],
								"operatingOrgCodes": [
									"FXE"
								],
								"serviceCategory": "parcel",
								"description": "International First",
								"astraDescription": "INTL1ST"
							},
							"commit": {
								"dateDetail": {
									"dayOfWeek": "THU",
									"dayCxsFormat": "2020-07-16T10:30:00"
								}
							}
						},
						{
							"serviceType": "INTERNATIONAL_PRIORITY",
							"serviceName": "FedEx International Priority",
							"packagingType": "YOUR_PACKAGING",
							"customerMessages": [
								{
									"code": "SERVICE.TYPE.INTERNATIONAL.MESSAGE",
									"message": "Rate does not include duties & taxes, clearance entry fees or other import fees.  The payor of duties/taxes/fees will be responsible for any applicable Clearance Entry Fees."
								},
								{
									"code": "EDT.DETAILS.MISSING",
									"message": "The harmonized code for the commodity at array index 1 is missing or invalid; estimated duties and taxes were not returned."
								}
							],
							"ratedShipmentDetails": [
								{
									"rateType": "ACCOUNT",
									"ratedWeightMethod": "ACTUAL",
									"totalDiscounts": 0,
									"totalBaseCharge": 312.35,
									"totalNetCharge": 345.15,
									"totalVatCharge": 0,
									"totalNetFedExCharge": 345.15,
									"totalDutiesAndTaxes": 0,
									"totalNetChargeWithDutiesAndTaxes": 345.15,
									"totalDutiesTaxesAndFees": 0,
									"totalAncillaryFeesAndTaxes": 0,
									"shipmentRateDetail": {
										"rateZone": "CA003O",
										"dimDivisor": 0,
										"fuelSurchargePercent": 10.5,
										"totalSurcharges": 32.8,
										"totalFreightDiscount": 0,
										"surCharges": [
											{
												"type": "FUEL",
												"description": "Fuel Surcharge",
												"amount": 32.8
											}
										],
										"pricingCode": "ACTUAL",
										"currencyExchangeRate": {
											"fromCurrency": "CAD",
											"intoCurrency": "CAD",
											"rate": 1
										},
										"totalBillingWeight": {
											"units": "LB",
											"value": 22
										},
										"currency": "CAD"
									},
									"currency": "CAD"
								},
								{
									"rateType": "LIST",
									"ratedWeightMethod": "ACTUAL",
									"totalDiscounts": 0,
									"totalBaseCharge": 78.99,
									"totalNetCharge": 87.28,
									"totalVatCharge": 0,
									"totalNetFedExCharge": 87.28,
									"totalDutiesAndTaxes": 0,
									"totalNetChargeWithDutiesAndTaxes": 87.28,
									"totalDutiesTaxesAndFees": 0,
									"totalAncillaryFeesAndTaxes": 0,
									"shipmentRateDetail": {
										"rateZone": "CA1520",
										"dimDivisor": 0,
										"fuelSurchargePercent": 10.5,
										"totalSurcharges": 8.29,
										"totalFreightDiscount": 0,
										"surCharges": [
											{
												"type": "FUEL",
												"description": "Fuel Surcharge",
												"amount": 8.29
											}
										],
										"pricingCode": "ACTUAL",
										"currencyExchangeRate": {
											"fromCurrency": "CAD",
											"intoCurrency": "CAD",
											"rate": 1
										},
										"totalBillingWeight": {
											"units": "LB",
											"value": 22
										},
										"currency": "CAD"
									},
									"currency": "CAD"
								},
								{
									"rateType": "PREFERRED_INCENTIVE",
									"ratedWeightMethod": "ACTUAL",
									"totalDiscounts": 0,
									"totalBaseCharge": 60.48,
									"totalNetCharge": 66.83,
									"totalVatCharge": 0,
									"totalNetFedExCharge": 66.83,
									"totalDutiesAndTaxes": 0,
									"totalNetChargeWithDutiesAndTaxes": 66.83,
									"totalDutiesTaxesAndFees": 0,
									"totalAncillaryFeesAndTaxes": 0,
									"shipmentRateDetail": {
										"rateZone": "CA1520",
										"dimDivisor": 0,
										"fuelSurchargePercent": 10.5,
										"totalSurcharges": 6.3,
										"totalFreightDiscount": 0,
										"surCharges": [
											{
												"type": "FUEL",
												"description": "Fuel Surcharge",
												"amount": 6.35
											}
										],
										"pricingCode": "ACTUAL",
										"currencyExchangeRate": {
											"fromCurrency": "CAD",
											"intoCurrency": "USD",
											"rate": 0.77
										},
										"totalBillingWeight": {
											"units": "LB",
											"value": 22
										},
										"currency": "USD"
									},
									"currency": "USD"
								},
								{
									"rateType": "PREFERRED_CURRENCY",
									"ratedWeightMethod": "ACTUAL",
									"totalDiscounts": 0,
									"totalBaseCharge": 239.15,
									"totalNetCharge": 264.26,
									"totalVatCharge": 0,
									"totalNetFedExCharge": 264.26,
									"totalDutiesAndTaxes": 0,
									"totalNetChargeWithDutiesAndTaxes": 264.26,
									"totalDutiesTaxesAndFees": 0,
									"totalAncillaryFeesAndTaxes": 0,
									"shipmentRateDetail": {
										"rateZone": "CA003O",
										"dimDivisor": 0,
										"fuelSurchargePercent": 10.5,
										"totalSurcharges": 25.11,
										"totalFreightDiscount": 0,
										"surCharges": [
											{
												"type": "FUEL",
												"description": "Fuel Surcharge",
												"amount": 25.11
											}
										],
										"pricingCode": "ACTUAL",
										"currencyExchangeRate": {
											"fromCurrency": "CAD",
											"intoCurrency": "USD",
											"rate": 0.77
										},
										"totalBillingWeight": {
											"units": "LB",
											"value": 22
										},
										"currency": "USD"
									},
									"currency": "USD"
								}
							],
							"anonymouslyAllowable": true,
							"operationalDetail": {
								"ineligibleForMoneyBackGuarantee": false,
								"astraDescription": "IP",
								"airportId": "MEM",
								"serviceCode": "01",
								"originLocationIds": "COSA",
								"commitDays": "",
								"scac": "",
								"originServiceAreas": "AM",
								"deliveryDay": "TUE",
								"originLocationNumbers": 1162,
								"destinationPostalCode": "38125",
								"commitDate": "2019-07-22T08:30:00",
								"deliveryDate": "",
								"deliveryEligibilities": "",
								"maximumTransitTime": "",
								"astraPlannedServiceLevel": "",
								"destinationLocationIds": "EHTA",
								"destinationLocationStateOrProvinceCodes": "CT",
								"transitTime": "THREE_DAYS",
								"packagingCode": "02",
								"destinationLocationNumbers": 892,
								"publishedDeliveryTime": "06:30:00",
								"countryCodes": "US",
								"stateOrProvinceCodes": "TX",
								"ursaPrefixCode": "82",
								"ursaSuffixCode": "EHTA",
								"destinationServiceAreas": "AA",
								"originPostalCodes": "75063",
								"customTransitTime": ""
							},
							"signatureOptionType": "SERVICE_DEFAULT",
							"serviceDescription": {
								"serviceId": "EP1000000001",
								"serviceType": "INTERNATIONAL_PRIORITY",
								"code": "01",
								"names": [
									{
										"type": "long",
										"encoding": "utf-8",
										"value": "FedEx International Priority®"
									},
									{
										"type": "long",
										"encoding": "ascii",
										"value": "FedEx International Priority"
									},
									{
										"type": "medium",
										"encoding": "utf-8",
										"value": "FedEx International Priority®"
									},
									{
										"type": "medium",
										"encoding": "ascii",
										"value": "FedEx International Priority"
									},
									{
										"type": "short",
										"encoding": "utf-8",
										"value": "IP"
									},
									{
										"type": "short",
										"encoding": "ascii",
										"value\"": "IP"
									},
									{
										"type": "abbrv",
										"encoding": "ascii",
										"value": "IP"
									}
								],
								"operatingOrgCodes": [
									"FXE"
								],
								"serviceCategory": "parcel",
								"description": "International Priority",
								"astraDescription": "IP"
							},
							"commit": {
								"dateDetail": {
									"dayOfWeek": "FRI",
									"dayCxsFormat": "2020-07-16T10:30:00"
								}
							}
						},
						{
							"serviceType": "INTERNATIONAL_ECONOMY",
							"serviceName": "FedEx International Economy",
							"packagingType": "YOUR_PACKAGING",
							"customerMessages": [
								{
									"code": "SERVICE.TYPE.INTERNATIONAL.MESSAGE",
									"message": "Rate does not include duties & taxes, clearance entry fees or other import fees.  The payor of duties/taxes/fees will be responsible for any applicable Clearance Entry Fees."
								},
								{
									"code": "EDT.DETAILS.MISSING",
									"message": "The harmonized code for the commodity at array index 1 is missing or invalid; estimated duties and taxes were not returned."
								}
							],
							"ratedShipmentDetails": [
								{
									"rateType": "ACCOUNT",
									"ratedWeightMethod": "ACTUAL",
									"totalDiscounts": 0,
									"totalBaseCharge": 189.65,
									"totalNetCharge": 209.56,
									"totalVatCharge": 0,
									"totalNetFedExCharge": 209.56,
									"totalDutiesAndTaxes": 0,
									"totalNetChargeWithDutiesAndTaxes": 209.56,
									"totalDutiesTaxesAndFees": 0,
									"totalAncillaryFeesAndTaxes": 0,
									"shipmentRateDetail": {
										"rateZone": "CA003O",
										"dimDivisor": 0,
										"fuelSurchargePercent": 10.5,
										"totalSurcharges": 19.91,
										"totalFreightDiscount": 0,
										"surCharges": [
											{
												"type": "FUEL",
												"description": "Fuel Surcharge",
												"amount": 19.91
											}
										],
										"pricingCode": "ACTUAL",
										"currencyExchangeRate": {
											"fromCurrency": "CAD",
											"intoCurrency": "CAD",
											"rate": 1
										},
										"totalBillingWeight": {
											"units": "LB",
											"value": 22
										},
										"currency": "CAD"
									},
									"currency": "CAD"
								},
								{
									"rateType": "LIST",
									"ratedWeightMethod": "ACTUAL",
									"totalDiscounts": 0,
									"totalBaseCharge": 48.56,
									"totalNetCharge": 53.66,
									"totalVatCharge": 0,
									"totalNetFedExCharge": 53.66,
									"totalDutiesAndTaxes": 0,
									"totalNetChargeWithDutiesAndTaxes": 53.66,
									"totalDutiesTaxesAndFees": 0,
									"totalAncillaryFeesAndTaxes": 0,
									"shipmentRateDetail": {
										"rateZone": "CA1520",
										"dimDivisor": 0,
										"fuelSurchargePercent": 10.5,
										"totalSurcharges": 5.1,
										"totalFreightDiscount": 0,
										"surCharges": [
											{
												"type": "FUEL",
												"description": "Fuel Surcharge",
												"amount": 5.1
											}
										],
										"pricingCode": "ACTUAL",
										"currencyExchangeRate": {
											"fromCurrency": "CAD",
											"intoCurrency": "CAD",
											"rate": 1
										},
										"totalBillingWeight": {
											"units": "LB",
											"value": 22
										},
										"currency": "CAD"
									},
									"currency": "CAD"
								},
								{
									"rateType": "PREFERRED_INCENTIVE",
									"ratedWeightMethod": "ACTUAL",
									"totalDiscounts": 0,
									"totalBaseCharge": 37.18,
									"totalNetCharge": 41.08,
									"totalVatCharge": 0,
									"totalNetFedExCharge": 41.08,
									"totalDutiesAndTaxes": 0,
									"totalNetChargeWithDutiesAndTaxes": 41.08,
									"totalDutiesTaxesAndFees": 0,
									"totalAncillaryFeesAndTaxes": 0,
									"shipmentRateDetail": {
										"rateZone": "CA1520",
										"dimDivisor": 0,
										"fuelSurchargePercent": 10.5,
										"totalSurcharges": 3.9,
										"totalFreightDiscount": 0,
										"surCharges": [
											{
												"type": "FUEL",
												"description": "Fuel Surcharge",
												"amount": 3.9
											}
										],
										"pricingCode": "ACTUAL",
										"currencyExchangeRate": {
											"fromCurrency": "CAD",
											"intoCurrency": "USD",
											"rate": 0.77
										},
										"totalBillingWeight": {
											"units": "LB",
											"value": 22
										},
										"currency": "USD"
									},
									"currency": "USD"
								},
								{
									"rateType": "PREFERRED_CURRENCY",
									"ratedWeightMethod": "ACTUAL",
									"totalDiscounts": 0,
									"totalBaseCharge": 145.21,
									"totalNetCharge": 160.45,
									"totalVatCharge": 0,
									"totalNetFedExCharge": 160.45,
									"totalDutiesAndTaxes": 0,
									"totalNetChargeWithDutiesAndTaxes": 160.45,
									"totalDutiesTaxesAndFees": 0,
									"totalAncillaryFeesAndTaxes": 0,
									"shipmentRateDetail": {
										"rateZone": "CA003O",
										"dimDivisor": 0,
										"fuelSurchargePercent": 10.5,
										"totalSurcharges": 15.24,
										"totalFreightDiscount": 0,
										"surCharges": [
											{
												"type": "FUEL",
												"description": "Fuel Surcharge",
												"amount": 15.24
											}
										],
										"pricingCode": "ACTUAL",
										"currencyExchangeRate": {
											"fromCurrency": "CAD",
											"intoCurrency": "USD",
											"rate": 0.77
										},
										"totalBillingWeight": {
											"units": "LB",
											"value": 22
										},
										"currency": "USD"
									},
									"currency": "USD"
								}
							],
							"anonymouslyAllowable": true,
							"operationalDetail": {
								"ineligibleForMoneyBackGuarantee": false,
								"astraDescription": "IE",
								"airportId": "MEM",
								"serviceCode": "03",
								"originLocationIds": "COSA",
								"originServiceAreas": "AM",
								"deliveryDay": "TUE",
								"originLocationNumbers": 1162,
								"destinationPostalCode": "38125",
								"destinationLocationIds": "EHTA",
								"destinationLocationStateOrProvinceCodes": "CT",
								"transitTime": "THREE_DAYS",
								"packagingCode": "02",
								"destinationLocationNumbers": 892,
								"publishedDeliveryTime": "06:30:00",
								"countryCodes": "US",
								"stateOrProvinceCodes": "TX",
								"ursaPrefixCode": "82",
								"ursaSuffixCode": "EHTA",
								"destinationServiceAreas": "AA",
								"originPostalCodes": "75063"
							},
							"signatureOptionType": "SERVICE_DEFAULT",
							"serviceDescription": {
								"serviceId": "EP1000000004",
								"serviceType": "INTERNATIONAL_ECONOMY",
								"code": "03",
								"names": [
									{
										"type": "long",
										"encoding": "utf-8",
										"value": "FedEx International Economy®"
									},
									{
										"type": "long",
										"encoding": "ascii",
										"value": "FedEx International Economy"
									},
									{
										"type": "medium",
										"encoding": "utf-8",
										"value": "FedEx International Economy®"
									},
									{
										"type": "medium",
										"encoding": "ascii",
										"value": "FedEx International Economy"
									},
									{
										"type": "short",
										"encoding": "utf-8",
										"value": "IE"
									},
									{
										"type": "short",
										"encoding": "ascii",
										"value": "IE"
									},
									{
										"type": "abbrv",
										"encoding": "ascii",
										"value": "IE"
									}
								],
								"operatingOrgCodes": [
									"FXE"
								],
								"serviceCategory": "parcel",
								"description": "International Two Day",
								"astraDescription": "IE"
							}
						},
						{
							"serviceType": "FEDEX_GROUND",
							"serviceName": "FedEx International Ground�",
							"packagingType": "YOUR_PACKAGING",
							"customerMessages": [
								{
									"code": "SERVICE.TYPE.INTERNATIONAL.MESSAGE",
									"message": "Rate does not include duties & taxes, clearance entry fees or other import fees.  The payor of duties/taxes/fees will be responsible for any applicable Clearance Entry Fees."
								},
								{
									"code": "EDT.DETAILS.MISSING",
									"message": "The harmonized code for the commodity at array index 1 is missing or invalid; estimated duties and taxes were not returned."
								}
							],
							"ratedShipmentDetails": [
								{
									"rateType": "ACCOUNT",
									"ratedWeightMethod": "ACTUAL",
									"totalDiscounts": 2.79,
									"totalBaseCharge": 49.85,
									"totalNetCharge": 53.59,
									"totalVatCharge": 0,
									"totalNetFedExCharge": 53.59,
									"totalDutiesAndTaxes": 0,
									"totalNetChargeWithDutiesAndTaxes": 53.59,
									"totalDutiesTaxesAndFees": 0,
									"totalAncillaryFeesAndTaxes": 0,
									"shipmentRateDetail": {
										"rateZone": "52",
										"dimDivisor": 0,
										"fuelSurchargePercent": 7.5,
										"totalSurcharges": 3.74,
										"totalFreightDiscount": 0,
										"surCharges": [
											{
												"type": "FUEL",
												"description": "Fuel Surcharge",
												"level": "PACKAGE",
												"amount": 3.74
											}
										],
										"totalBillingWeight": {
											"units": "LB",
											"value": 22
										},
										"currency": "CAD"
									},
									"ratedPackages": [
										{
											"groupNumber": 0,
											"effectiveNetDiscount": 2.79,
											"packageRateDetail": {
												"rateType": "PAYOR_ACCOUNT_PACKAGE",
												"ratedWeightMethod": "ACTUAL",
												"baseCharge": 49.85,
												"netFreight": 49.85,
												"totalSurcharges": 3.74,
												"netFedExCharge": 53.59,
												"totalTaxes": 0,
												"netCharge": 53.59,
												"totalRebates": 0,
												"billingWeight": {
													"units": "LB",
													"value": 22
												},
												"totalFreightDiscounts": 0,
												"surcharges": [
													{
														"type": "FUEL",
														"description": "Fuel Surcharge",
														"level": "PACKAGE",
														"amount": 3.74
													}
												],
												"currency": "CAD"
											}
										}
									],
									"currency": "CAD"
								},
								{
									"rateType": "PREFERRED_INCENTIVE",
									"ratedWeightMethod": "ACTUAL",
									"totalDiscounts": 0,
									"totalBaseCharge": 40.16,
									"totalNetCharge": 43.17,
									"totalVatCharge": 0,
									"totalNetFedExCharge": 43.17,
									"totalDutiesAndTaxes": 0,
									"totalNetChargeWithDutiesAndTaxes": 43.17,
									"totalDutiesTaxesAndFees": 0,
									"totalAncillaryFeesAndTaxes": 0,
									"shipmentRateDetail": {
										"rateZone": "52",
										"dimDivisor": 0,
										"fuelSurchargePercent": 7.5,
										"totalSurcharges": 3.01,
										"totalFreightDiscount": 0,
										"surCharges": [
											{
												"type": "FUEL",
												"description": "Fuel Surcharge",
												"level": "PACKAGE",
												"amount": 3.01
											}
										],
										"currencyExchangeRate": {
											"fromCurrency": "CAD",
											"intoCurrency": "USD",
											"rate": 0.77
										},
										"totalBillingWeight": {
											"units": "LB",
											"value": 22
										},
										"currency": "USD"
									},
									"ratedPackages": [
										{
											"groupNumber": 0,
											"effectiveNetDiscount": 0,
											"packageRateDetail": {
												"rateType": "PREFERRED_LIST_PACKAGE",
												"ratedWeightMethod": "ACTUAL",
												"baseCharge": 40.16,
												"netFreight": 40.16,
												"totalSurcharges": 3.01,
												"netFedExCharge": 43.17,
												"totalTaxes": 0,
												"netCharge": 43.17,
												"totalRebates": 0,
												"billingWeight": {
													"units": "LB",
													"value": 22
												},
												"totalFreightDiscounts": 0,
												"surcharges": [
													{
														"type": "FUEL",
														"description": "Fuel Surcharge",
														"level": "PACKAGE",
														"amount\"": 3.01
													}
												],
												"currency": "USD"
											}
										}
									]
								},
								{
									"rateType": "PREFERRED_CURRENCY",
									"ratedWeightMethod": "ACTUAL",
									"totalDiscounts": 0,
									"totalBaseCharge": 38.17,
									"totalNetCharge": 41.03,
									"totalVatCharge": 0,
									"totalNetFedExCharge": 41.03,
									"totalDutiesAndTaxes": 0,
									"totalNetChargeWithDutiesAndTaxes": 41.03,
									"totalDutiesTaxesAndFees": 0,
									"totalAncillaryFeesAndTaxes": 0,
									"shipmentRateDetail": {
										"rateZone": "52",
										"dimDivisor": 0,
										"fuelSurchargePercent": 7.5,
										"totalSurcharges": 2.86,
										"totalFreightDiscount": 0,
										"surCharges": [
											{
												"type": "FUEL",
												"description": "Fuel Surcharge",
												"level": "PACKAGE",
												"amount": 2.86
											}
										],
										"currencyExchangeRate": {
											"fromCurrency": "CAD",
											"intoCurrency": "USD",
											"rate": 0.77
										},
										"totalBillingWeight": {
											"units": "LB",
											"value": 22
										},
										"currency": "USD"
									},
									"ratedPackages": [
										{
											"groupNumber": 0,
											"effectiveNetDiscount": 0,
											"packageRateDetail": null,
											"rateType": "PREFERRED_ACCOUNT_PACKAGE",
											"ratedWeightMethod": "ACTUAL",
											"baseCharge": 38.17,
											"netFreight": 38.17,
											"totalSurcharges": 2.86,
											"netFedExCharge": 41.03,
											"totalTaxes": 0,
											"netCharge": 41.03,
											"totalRebates": 0,
											"billingWeight\"": {
												"units": "LB",
												"value": 22
											},
											"totalFreightDiscounts": 0,
											"surcharges": [
												{
													"type": "FUEL",
													"description": "Fuel Surcharge",
													"level": "PACKAGE",
													"amount": 2.86
												}
											],
											"currency": "USD"
										}
									],
									"currency": "USD"
								},
								{
									"rateType": "LIST",
									"ratedWeightMethod": "ACTUAL",
									"totalDiscounts": 0,
									"totalBaseCharge": 52.45,
									"totalNetCharge": 56.38,
									"totalVatCharge": 0,
									"totalNetFedExCharge": 56.38,
									"totalDutiesAndTaxes": 0,
									"totalNetChargeWithDutiesAndTaxes": 56.38,
									"totalDutiesTaxesAndFees": 0,
									"totalAncillaryFeesAndTaxes": 0,
									"shipmentRateDetail": {
										"rateZone": "52",
										"dimDivisor": 0,
										"fuelSurchargePercent": 7.5,
										"totalSurcharges": 3.93,
										"totalFreightDiscount": 0,
										"surCharges": [
											{
												"type": "FUEL",
												"description": "Fuel Surcharge",
												"level": "PACKAGE",
												"amount": 3.93
											}
										],
										"totalBillingWeight\"": {
											"units": "LB",
											"value": 2
										},
										"currency": "CAD"
									},
									"ratedPackages": [
										{
											"groupNumber": 0,
											"effectiveNetDiscount": 0,
											"packageRateDetail": null,
											"rateType": "PAYOR_LIST_PACKAGE",
											"ratedWeightMethod": "ACTUAL",
											"baseCharge": 52.45,
											"netFreight": 52.45,
											"totalSurcharges": 3.93,
											"netFedExCharge": 56.38,
											"totalTaxes": 0,
											"netCharge": 56.38,
											"totalRebates": 0,
											"billingWeight": {
												"units": "LB",
												"value": 22
											},
											"totalFreightDiscounts": 0,
											"surcharges": [
												{
													"type": "FUEL",
													"description": "Fuel Surcharge",
													"level": "PACKAGE",
													"amount": 3.93
												}
											],
											"currency": "CAD"
										}
									],
									"currency": "CAD",
									"anonymouslyAllowable": true,
									"operationalDetail": {
										"ineligibleForMoneyBackGuarantee": false,
										"astraDescription": "FXG",
										"airportId": "MEM",
										"serviceCode": "92",
										"originLocationIds": "COSA",
										"commitDays": "",
										"scac": "",
										"originServiceAreas": "AM",
										"deliveryDay": "TUE",
										"originLocationNumbers": 1162,
										"destinationPostalCode": "38125",
										"commitDate": "2019-07-22T08:30:00",
										"deliveryDate": "",
										"deliveryEligibilities": "",
										"maximumTransitTime": "",
										"astraPlannedServiceLevel": "",
										"destinationLocationIds": "EHTA",
										"destinationLocationStateOrProvinceCodes": "CT",
										"transitTime": "THREE_DAYS",
										"packagingCode": "02",
										"destinationLocationNumbers": 892,
										"publishedDeliveryTime": "06:30:00",
										"countryCodes": "US",
										"stateOrProvinceCodes": "TX",
										"ursaPrefixCode": "82",
										"ursaSuffixCode": "EHTA",
										"destinationServiceAreas": "AA",
										"originPostalCodes": "75063",
										"customTransitTime": ""
									},
									"signatureOptionType": "SERVICE_DEFAULT",
									"serviceDescription": {
										"serviceId": "EP1000000135",
										"serviceType": "FEDEX_GROUND",
										"code": "92",
										"names": [
											{
												"type": "long",
												"encoding": "utf-8",
												"value": "FedEx International Ground®"
											},
											{
												"type": "long",
												"encoding": "ascii",
												"value": "FedEx International Ground"
											},
											{
												"type": "medium",
												"encoding": "utf-8",
												"value": "International Ground®"
											},
											{
												"type": "medium",
												"encoding": "ascii",
												"value": "International Ground"
											},
											{
												"type": "short",
												"encoding": "utf-8",
												"value": "IG"
											},
											{
												"type": "short",
												"encoding": "ascii",
												"value": "IG"
											},
											{
												"type": "abbrv",
												"encoding": "ascii",
												"value": "SG"
											}
										],
										"operatingOrgCodes": [
											"FXG"
										],
										"description": "FedEx Ground",
										"astraDescription": "FXG"
									}
								}
							]
						}
					],
					"quoteDate": "2019-09-06",
					"encoded": false,
					"alerts": [
						{
							"code": "MONEYBACKGUARANTEE.NOT.ELIGIBLE",
							"message": "We are unable to process this request. Please try again later or contact FedEx Customer Service.",
							"alertType": "NOTE"
						}
					]
				}
			},
			"RateReplyDetail": {
				"type": "object",
				"properties": {
					"serviceType": {
						"type": "string",
						"description": "This is the service type associated with this rate (i.e. Priority Overnight, Home Delivery, etc.)<br>For Ground/SmartPost this will be a direct copy of the service specified in the request. For domestic Express, the service may have been bumped, so it may not match the value specified on the request. For International Express the service may be bumped and not mapped.<br>Example: FEDEX_GROUND<br><a onclick='loadDocReference(\"servicetypes\")'>Click here to see Service Types</a>",
						"example": "FEDEX_GROUND"
					},
					"serviceName": {
						"type": "string",
						"description": "This is the service name associated with this rate. <br> Example: FedEx Ground",
						"example": "FedEx Ground®"
					},
					"packagingType": {
						"type": "string",
						"description": "Packaging type associated with this particular rate.  For Ground/SmartPost will always be YOUR_PACKAGING.  For domestic Express, the packaging may have been bumped so it may not match the value specified on the request.  For international Express the packaging may be bumped and not mapped.<br>Example: YOUR_PACKAGING <br><a href=\"/developer-portal/en-us/reference-guide.html#packagetypes\" target=\"_blank\">Click here to see Package Types</a>",
						"example": "YOUR_PACKAGING"
					},
					"customerMessages": {
						"type": "array",
						"description": "These are messages concerning the ability to provide an accurate delivery commitment on an International commit quote. These could be providing information about why a commitment could not be returned or a successful message<br>Example:<br><ul><li>REQUEST_COMPLETED<br>Request completed successfully</li><li>SERVICE.TYPE.INTERNATIONAL.MESSAGE:<br>Rate does not include duties & taxes, clearance entry fees or other import fees. The payor of duties/taxes/fees will be responsible for any applicable Clearance Entry Fees.</li><li>NATIONAL.HOLIDAY.OBSERVED:<br>National Holiday Observed on Ship Date.</li><li>INCONSISTENT.COMMODITY.DESCRIPTION:<br>The description and harmonized code for the specified commodity are not consistent.</li></ul>",
						"items": {
							"$ref": "#/components/schemas/CustomerMessage"
						}
					},
					"ratedShipmentDetails": {
						"type": "array",
						"description": "This object provides the shipment and package rating data in a rate request reply.",
						"items": {
							"$ref": "#/components/schemas/RatedShipmentDetail"
						}
					},
					"operationalDetail": {
						"$ref": "#/components/schemas/OperationalDetail"
					},
					"signatureOptionType": {
						"type": "string",
						"description": "Indicates the signature Option for this service. <br> Example: SERVICE_DEFAULT",
						"example": "SERVICE_DEFAULT"
					},
					"serviceDescription": {
						"$ref": "#/components/schemas/ServiceDescription"
					},
					"brokerDetail": {
						"$ref": "#/components/schemas/BrokerDetail_RateReply"
					},
					"commit": {
						"$ref": "#/components/schemas/Commit"
					},
					"serviceSubOptionDetail": {
						"$ref": "#/components/schemas/ServiceSubOptionDetail"
					}
				},
				"description": "This objcet lists the rate data by service. If a service was specified in the request, there will be a single entry; if service was omitted in the request, there will be a separate entry in this for each service being compared.",
				"example": {
					"serviceType": "INTERNATIONAL_FIRST",
					"serviceName": "FedEx International First®",
					"packagingType\"": "YOUR_PACKAGING",
					"commit": {
						"transitDays": {
							"minimumTransitTime": "TWO_DAYS",
							"description": "2 Business Days"
						},
						"derivedOriginDetail": {
							"countryCode": "US",
							"stateOrProvinceCode": "MO",
							"postalCode": "65247",
							"locationNumber": 646
						},
						"derivedDestinationDetail": {
							"countryCode": "US",
							"stateOrProvinceCode\"": "AR",
							"postalCode\"": "72348",
							"locationNumber": 380,
							"airportId\"": "MEM"
						},
						"saturdayDelivery": false
					},
					"ratedShipmentDetails": [
						{
							"rateType": "ACCOUNT",
							"ratedWeightMethod\"": "ACTUAL",
							"totalDiscounts\"": 0,
							"totalBaseCharge\"": 403.2,
							"totalNetCharge\"": 445.54,
							"totalNetFedExCharge\"": 445.54,
							"totalNetChargeWithDutiesAndTaxes\"": 445.54,
							"totalDutiesTaxesAndFees\"": 0,
							"totalAncillaryFeesAndTaxes\"": 0,
							"shipmentRateDetail": {
								"rateZone": "CA003O",
								"dimDivisor\"": 0,
								"fuelSurchargePercent\"": 10.5,
								"totalSurcharges\"": 42.34,
								"totalFreightDiscount\"": 0,
								"surCharges": [
									{
										"type": "FUEL",
										"description": "Fuel Surcharge",
										"level": "PACKAGE",
										"amount": 42.34
									}
								],
								"pricingCode": "ACTUAL",
								"currencyExchangeRate\"": {
									"fromCurrency\"": "CAD",
									"intoCurrency\"": "CAD",
									"rate\"": 1
								},
								"totalBillingWeight": {
									"units": "LB",
									"value": 22
								},
								"currency": "USD"
							},
							"ratedPackages": [
								{
									"groupNumber": 0,
									"effectiveNetDiscount": 0,
									"packageRateDetail": {
										"rateType\"": "PAYOR_ACCOUNT_PACKAGE",
										"ratedWeightMethod\"": "ACTUAL",
										"baseCharge\"": 12.32,
										"netFreight\"": 12.32,
										"totalSurcharges\"": 3.49,
										"netFedExCharge\"": 15.81,
										"totalTaxes\"": 0,
										"netCharge\"": 15.81,
										"totalRebates\"": 0,
										"billingWeight": {
											"units": "LB",
											"value": 10
										},
										"totalFreightDiscounts": 0,
										"surcharges": [
											{
												"type": "FUEL",
												"description": "Fuel Surcharge",
												"level": "PACKAGE",
												"amount": 0.79
											},
											{
												"type": "DELIVERY_AREA",
												"description": "DAS Extended Comm",
												"level": "PACKAGE",
												"amount": 2.7
											}
										],
										"currency": "USD"
									}
								}
							],
							"currency": "USD"
						},
						{
							"rateType": "LIST",
							"ratedWeightMethod\"": "ACTUAL",
							"totalDiscounts\"": 0,
							"totalBaseCharge\"": 11.51,
							"totalNetCharge\"": 14.99,
							"totalNetFedExCharge\"": 14.99,
							"totalNetChargeWithDutiesAndTaxes\"": 14.99,
							"totalDutiesTaxesAndFees\"": 0,
							"totalAncillaryFeesAndTaxes\"": 0,
							"shipmentRateDetail": {
								"rateZone": "3",
								"dimDivisor\"": 0,
								"fuelSurchargePercent\"": 5.5,
								"totalSurcharges\"": 3.48,
								"totalFreightDiscount\"": 0,
								"surCharges": [
									{
										"type": "FUEL",
										"description": "Fuel Surcharge",
										"level": "PACKAGE",
										"amount": 0.78
									},
									{
										"type": "DELIVERY_AREA",
										"description": "DAS Extended Comm",
										"level": "PACKAGE",
										"amount": 2.7
									}
								],
								"totalBillingWeight": {
									"units": "LB",
									"value": 10
								},
								"currency": "USD"
							},
							"ratedPackages": [
								{
									"groupNumber": 0,
									"effectiveNetDiscount": 0,
									"packageRateDetail": {
										"rateType\"": "PAYOR_LIST_PACKAGE",
										"ratedWeightMethod\"": "ACTUAL",
										"baseCharge\"": 11.51,
										"netFreight\"": 11.51,
										"totalSurcharges\"": 3.48,
										"netFedExCharge\"": 14.99,
										"totalTaxes\"": 0,
										"netCharge\"": 14.99,
										"totalRebates\"": 0,
										"billingWeight": {
											"units": "LB",
											"value": 10
										},
										"totalFreightDiscounts": 0,
										"surcharges": [
											{
												"type": "FUEL",
												"description": "Fuel Surcharge",
												"level": "PACKAGE",
												"amount": 0.78
											},
											{
												"type": "DELIVERY_AREA",
												"description": "DAS Extended Comm",
												"level": "PACKAGE",
												"amount": 2.7
											}
										],
										"currency": "USD"
									}
								}
							],
							"currency": "USD"
						}
					],
					"anonymouslyAllowable": true,
					"operationalDetail": {
						"originLocationNumbers": [
							646
						],
						"destinationLocationNumbers": [
							380
						],
						"destinationLocationStateOrProvinceCodes": [
							"AR"
						],
						"transitTime": "TWO_DAYS",
						"ineligibleForMoneyBackGuarantee": false,
						"astraDescription": "FXG",
						"originPostalCodes": [
							"65247"
						],
						"stateOrProvinceCodes": [
							"MO"
						],
						"countryCodes": [
							"US"
						],
						"airportId": "MEM",
						"serviceCode": "92",
						"destinationPostalCodes": "72348",
						"signatureOptionType": "SERVICE_DEFAULT",
						"serviceDescription": {
							"serviceId": "EP1000000134",
							"serviceType": "FEDEX_GROUND",
							"code": "92",
							"names": [
								{
									"type": "long",
									"encoding": "utf-8",
									"value": "FedEx GroundÂ®"
								},
								{
									"type": "long",
									"encoding": "ascii",
									"value": "FedEx Ground"
								},
								{
									"type": "medium",
									"encoding": "utf-8",
									"value": "GroundÂ®"
								},
								{
									"type": "medium",
									"encoding": "ascii",
									"value": "Ground"
								},
								{
									"type": "short",
									"encoding": "utf-8",
									"value": "FG"
								},
								{
									"type": "short",
									"encoding": "ascii",
									"value": "FG"
								},
								{
									"type": "abbrv",
									"encoding": "ascii",
									"value": "SG"
								}
							],
							"operatingOrgCodes": [
								"FXG"
							],
							"description": "FedEx Ground",
							"astraDescription": "FXG"
						}
					}
				}
			},
			"CustomerMessage": {
				"type": "object",
				"properties": {
					"code": {
						"type": "string",
						"description": "This is a message code.<br> Example:SERVICE.TYPE.INTERNATIONAL.MESSAGE",
						"example": "SERVICE.TYPE.INTERNATIONAL.MESSAGE"
					},
					"message": {
						"type": "string",
						"description": "This is a message description.<br> Example: Rate does not include duties & taxes, clearance entry fees or other import fees. The payor of duties/taxes/fees will be responsible for any applicable Clearance Entry Fees",
						"example": "Rate does not include dities & taxes, clearance entry fees or other import fees.  The payor of duties/taxes/fees will be responsible for any applicable Clearance Entry Fees"
					}
				},
				"description": "This the Customer Message returned in the reply."
			},
			"RatedShipmentDetail": {
				"type": "object",
				"properties": {
					"rateType": {
						"type": "string",
						"description": "Type used for this specific set of rate data.<br>Example: ACCOUNT",
						"example": "ACCOUNT",
						"enum": [
							"ACCOUNT",
							"ACTUAL",
							"CURRENT",
							"CUSTOM",
							"LIST",
							"INCENTIVE",
							"PREFERRED",
							"PREFERRED_INCENTIVE",
							"PREFERRED_CURRENCY"
						]
					},
					"ratedWeightMethod": {
						"type": "string",
						"description": "Indicates which weight was used for the rate.<br>Example: 'ACTUAL'",
						"example": "ACTUAL",
						"enum": [
							"ACTUAL",
							"AVERAGE_PACKAGE_WEIGHT_MINIMUM",
							"DEFAULT_WEIGHT_APPLIED",
							"BALLOON",
							"DIM",
							"FREIGHT_MINIMUM",
							"MIXED",
							"OVERSIZE",
							"OVERSIZE_1",
							"OVERSIZE_2",
							"OVERSIZE_3",
							"PACKAGING_MINIMUM",
							"WEIGHT_BREAK"
						]
					},
					"totalDutiesTaxesAndFees": {
						"type": "number",
						"description": "The total amount of the duties and taxes plus the total ancillary fees and taxes.<br> Example: 445.54",
						"format": "double",
						"example": 445.54
					},
					"totalDiscounts": {
						"type": "number",
						"description": "This is the total discount.<br> Example: 445.54<br><a href='/api/en-us/reference-guide.html#discounts' target='_blank'>Click here to see FedEx Discounts</a>",
						"format": "double",
						"example": 445.54
					},
					"totalDutiesAndTaxes": {
						"type": "number",
						"description": "The sum of shipment/package Duties and taxes.<br> Example: 445.54",
						"format": "double",
						"example": 445.54
					},
					"variableHandlingCharges": {
						"$ref": "#/components/schemas/VariableHandlingCharges"
					},
					"edtCharges": {
						"type": "array",
						"description": "These are the estimation and duty  charges.",
						"items": {
							"$ref": "#/components/schemas/EdtCharge"
						}
					},
					"totalAncillaryFeesAndTaxes": {
						"type": "number",
						"description": "Indicates the shipment-level fees and taxes that are not based on transportation charges or commodity-level estimated duties and taxes.",
						"format": "double",
						"example": 445.54
					},
					"ratedPackages": {
						"type": "array",
						"description": "These are the package-level data for this rate type.",
						"items": {
							"$ref": "#/components/schemas/RatedPackageDetail"
						}
					},
					"totalNetFedExCharge": {
						"type": "number",
						"description": "This shipment's totalNetFedExChargeList, which is totalNetFreight plus totalSurcharges (not including totalTaxes).",
						"format": "double",
						"example": 445.54
					},
					"quoteNumber": {
						"type": "string",
						"description": "Indicates the unique identifier for a specific rate quotation.<br> Example: XX1123XX",
						"example": "quoteNumber"
					},
					"shipmentLegRateDetails": {
						"type": "array",
						"description": "This is data for a single leg of a shipment's total/summary rates, as calculated per a specific rate type.",
						"items": {
							"allOf": [
								{
									"$ref": "#/components/schemas/ShipmentLegRateDetail_1"
								}
							]
						}
					},
					"freightChargeBasis": {
						"type": "string",
						"description": "This identifies the manner in which the chargeRate was applied, for Freight.<br> Valid values are: <ul><li>CWT - Charge rate applies per weight.</li><li>FLAT - Charge rate is a flat-rate amount.</li><li>MINIMUM</li></ul>",
						"example": "FLAT",
						"enum": [
							"CWT",
							"FLAT",
							"MINIMUM"
						]
					},
					"totalVariableHandlingCharges": {
						"$ref": "#/components/schemas/VariableHandlingCharges"
					},
					"totalVatCharge": {
						"type": "number",
						"description": "This is total value added tax charges (VAT).",
						"format": "double",
						"example": 445.54
					},
					"ancillaryFeesAndTaxes": {
						"type": "array",
						"description": "This is the total amount of the shipment-level fees and taxes that are not based on transportation charges of commodity-level estimated duties and taxes.",
						"items": {
							"$ref": "#/components/schemas/AncillaryFeesAndTaxes"
						}
					},
					"preferredEdtCharges": {
						"type": "array",
						"description": "Specifies the Edt charges.",
						"items": {
							"$ref": "#/components/schemas/EdtCharge"
						}
					},
					"totalNetCharge": {
						"type": "number",
						"description": "This is net charges for the shipment.",
						"format": "double",
						"example": 445.54
					},
					"totalBaseCharge": {
						"type": "number",
						"description": "This is total base charges for the shipment.",
						"format": "double",
						"example": 445.54
					},
					"totalNetChargeWithDutiesAndTaxes": {
						"type": "number",
						"description": "This is total net Charges with Duties And Taxes for the shipment.",
						"format": "double",
						"example": 445.54
					},
					"shipmentRateDetail": {
						"$ref": "#/components/schemas/ShipmentRateDetail"
					}
				},
				"description": "This object provides the shipment and package rating data in a rate request reply."
			},
			"VariableHandlingCharges": {
				"type": "object",
				"properties": {
					"totalCustomerCharge": {
						"type": "number",
						"description": "Specifies the total customer assessed handling charges.<br> Example: 445.54",
						"format": "double",
						"example": 445.54
					},
					"variableHandlingCharge": {
						"type": "number",
						"description": "The variable handling charge amount calculated based on the requested variable handling charge detail. <br> Example: 403.2",
						"format": "double",
						"example": 403.2
					}
				},
				"description": "The variable handling charge amount calculated based on the requested variable handling charge detail."
			},
			"EdtCharge": {
				"type": "object",
				"properties": {
					"edtTaxDetail": {
						"$ref": "#/components/schemas/EdtTaxDetail"
					},
					"harmonizedCode": {
						"type": "string",
						"description": "This is to specify the Harmonized Tariff System (HTS) code to meet U.S. and foreign governments' customs requirements. These are mainly used to estimate the duties and taxes.<br>Example: A six digit code for Almonds fresh or dried is 080211. The HTS code for pistachios in shell is 080251. The HTS code for fish is HS203.<br>To research the classification for your commodity, use the FedEx Global Trade Manager online at <a href='http://www.fedex.com/gtm' target='_blank'>fedex.com/gtm</a>. You can find the commodities and its respective codes by logging into FedEx and selecting harmonized code option. You will find country-specific information to determine whether your commodity is considered to be a document or non-document for your destination. <br>For additional information about harmonized code, refer to <a href='https://www.usitc.gov/documents/hts_external_guide.pdf' target='_blank'>harmonized code</a>.",
						"example": "harmonizedCode"
					}
				},
				"description": "estimated duties and tax charge"
			},
			"EdtTaxDetail": {
				"type": "object",
				"properties": {
					"edtTaxType": {
						"type": "string",
						"description": "Specifies the Estimated duties and taxes type. <br> Example: TaxType",
						"example": "TaxType"
					},
					"amount": {
						"type": "number",
						"description": "Specifies the amount for the estimated duties and taxes type.<br> Example: 785.12",
						"format": "double",
						"example": 785.12
					},
					"taxableValue": {
						"type": "number",
						"description": "Specifies the Estimated duties and taxes taxable Value.<br> Example: 562.23",
						"format": "double",
						"example": 562.23
					},
					"name": {
						"type": "string",
						"description": "Indicates the name for the Etd tax.",
						"example": "name"
					},
					"description": {
						"type": "string",
						"description": "Indicates the description for the Etd tax.",
						"example": "description"
					},
					"formula": {
						"type": "string",
						"description": "Indicates the formula.",
						"example": "formula"
					},
					"effectiveDate": {
						"type": "string",
						"description": "Specifies the Estimated duties and taxes effective date. Format [YYYY-MM-DD].<br>  Example: 2019-12-06",
						"example": "2019-12-06"
					}
				},
				"description": "Specifies the Estimated duties and taxes detail."
			},
			"RatedPackageDetail": {
				"type": "object",
				"properties": {
					"effectiveNetDiscount": {
						"type": "number",
						"description": "This is the  list net charge minus actual net charge.<br> Example: 1.0",
						"format": "double",
						"example": 0
					},
					"packageRateDetail": {
						"$ref": "#/components/schemas/PackageRateDetail"
					},
					"groupNumber": {
						"type": "integer",
						"description": "This is group number, used only with package groups as a unique identifier of each group of identical packages.",
						"format": "int32",
						"example": 10
					}
				}
			},
			"PackageRateDetail": {
				"type": "object",
				"properties": {
					"ratedWeightMethod": {
						"type": "string",
						"description": "Indicates which weight was used for the rate, e.g. actual or dimensional. <br> Example: dimensional",
						"example": "dimensional"
					},
					"totalTaxes": {
						"type": "number",
						"description": "Specifies the sum of all taxes on this package.<br> Example: 1257.25",
						"format": "double",
						"example": 1257.25
					},
					"totalFreightDiscounts": {
						"type": "number",
						"description": "The total discounts used in the rate calculation.<br> Example: 1257.2<br><a onclick='loadDocReference(\"discounts\")'>Click here to see Discounts</a>",
						"format": "double",
						"example": 1257.26
					},
					"baseCharge": {
						"type": "number",
						"description": "Identifies the manner in which the chargeRate for this line item was applied.<br> Example: 125",
						"format": "double",
						"example": 125
					},
					"totalRebates": {
						"type": "number",
						"description": "The total sum of all rebates applied to this package.Example: 12",
						"format": "double",
						"example": 12
					},
					"rateType": {
						"type": "string",
						"description": "Specifies the type used for this specific set of rate data."
					},
					"billingWeight": {
						"allOf": [
							{
								"$ref": "#/components/schemas/Weight"
							},
							{
								"description": "Specifies the weight that was used to calculate the rate."
							}
						]
					},
					"netFreight": {
						"type": "number",
						"description": "Specifies the sum of freight charges.<br> Example: 10",
						"format": "double",
						"example": 10
					},
					"surcharges": {
						"type": "array",
						"description": "Specifies the list of all surcharges that apply to this package.",
						"items": {
							"$ref": "#/components/schemas/Surcharge"
						}
					},
					"totalSurcharges": {
						"type": "number",
						"description": "The sum of all surcharges on the package.<br> Example: 569",
						"format": "double",
						"example": 569
					},
					"netFedExCharge": {
						"type": "number",
						"description": "Specifies the sum of packages netFreight and totalSurcharges (not including totalTaxes).<br> Example: 125.32",
						"format": "double",
						"example": 125.32
					},
					"netCharge": {
						"type": "number",
						"description": "Specifies the sum of packages netFreight, totalSurcharges and totalTaxes. <br>Example: 563.98",
						"format": "double",
						"example": 563
					},
					"freightDiscounts": {
						"type": "array",
						"description": "All rate discounts that apply to this shipment.<br><a onclick='loadDocReference(\"discounts\")'>Click here to see Discounts</a>",
						"items": {
							"$ref": "#/components/schemas/RateDiscount"
						}
					}
				},
				"description": "Data for a package's rates, as calculated per a specific rate type."
			},
			"Weight": {
				"allOf": [
					{
						"$ref": "#/components/schemas/Weight_1"
					},
					{
						"required": [
							"units",
							"value"
						],
						"properties": {
							"units": {
								"type": "string",
								"example": "LB"
							},
							"value": {
								"type": "number",
								"example": 22
							}
						}
					}
				]
			},
			"Weight_1": {
				"type": "object",
				"properties": {
					"units": {
						"type": "string",
						"description": "Specifies the package weight unit. For Dry Ice the unit of measure is KG.",
						"enum": [
							"KG",
							"LB"
						]
					},
					"value": {
						"type": "number",
						"description": "Specifies the package weight.<br> Example: 68.25",
						"format": "double",
						"example": 10
					}
				},
				"description": "These are the weight details.",
				"example": {
					"units": "LB",
					"value": 10
				}
			},
			"Surcharge": {
				"type": "object",
				"properties": {
					"type": {
						"type": "string",
						"description": "Specifies the surcharge type.<br>Example: FUEL <br><a onclick='loadDocReference(\"surcharges\")'>Click here to see more on Surcharges.</a>",
						"example": "FUEL"
					},
					"description": {
						"type": "string",
						"description": "Specifies the description of the surcharge. Indicates delivery and returns information for FedEx Ground Economy services.<br>Example: Fuel Surcharge",
						"example": "Fuel Surcharge"
					},
					"amount": {
						"type": "number",
						"description": "Specify the declared monetary value/amount of the shipment.<br> Example: 5.42",
						"format": "double",
						"example": 5.42
					},
					"level": {
						"type": "string",
						"description": "Specifies the level of surcharge. <br> Example: level",
						"example": "level"
					},
					"name": {
						"type": "string",
						"description": "The localized name of the surcharge. <br> Example: name",
						"example": "name"
					}
				},
				"description": "Specifies the surcharges."
			},
			"RateDiscount": {
				"type": "object",
				"properties": {
					"amount": {
						"type": "number",
						"description": "Indicates the details of the charges are to be added to the COD collect amount. <br> Example: 95",
						"format": "double",
						"example": 95
					},
					"name": {
						"type": "string",
						"description": "Specifies the name of all of the discounts that apply to the package.<br><a onclick='loadDocReference(\"discounts\")'>Click here to see Discounts</a>"
					},
					"description": {
						"type": "string",
						"description": "Specifies the discounts on this package."
					},
					"type": {
						"type": "string",
						"description": "Specifies the type of discount."
					},
					"percent": {
						"type": "number",
						"description": "Specifies the percentage of discount.",
						"format": "double"
					}
				}
			},
			"ShipmentLegRateDetail_1": {
				"type": "object",
				"properties": {
					"discounts": {
						"type": "array",
						"description": "Specifies the list of discounts. <br><a onclick='loadDocReference(\"discounts\")'>Click here to see Discounts</a>",
						"items": {
							"$ref": "#/components/schemas/RateDiscount_1"
						}
					},
					"pricingCode": {
						"type": "string",
						"description": "Identifies the type of pricing used for this shipment.<br> Example: ACTUAL",
						"example": "ACTUAL"
					},
					"legDescription": {
						"type": "string",
						"description": "Human-readable text describing the shipment leg.<br> Example: legDescription",
						"example": "legDescription"
					},
					"surcharges": {
						"type": "array",
						"description": "Specifies the list of surcharges.<br>Valid value is:<li>PEAK</li><li>PEAK_ADDTIONAL_HANDLING</li><li>PEAK_OVERSIZE</li><li>PEAK_RESIDENTIAL_DELIVERY</li>",
						"items": {
							"$ref": "#/components/schemas/Surcharge_1"
						}
					},
					"specialRatingApplied": {
						"type": "array",
						"description": "Indicates which special rating cases applied to this shipment.",
						"items": {
							"type": "string"
						}
					},
					"taxes": {
						"type": "array",
						"description": "Specifies the list of taxes.",
						"items": {
							"$ref": "#/components/schemas/Tax_1"
						}
					},
					"rateScale": {
						"type": "string",
						"description": "Indicates the rate scale used. <br> Example: *USER IMS20160104  LD067110"
					},
					"totalNetCharge": {
						"type": "number",
						"description": "This shipment's totalNetCharge and totalDutiesTaxesAndFees. Some duties and taxes are only provided if estimated duties and taxes were calculated for this shipment AND duties, taxes and transportation charges are all paid by the same sender's account.<br> Example: 87.5",
						"format": "double",
						"example": 87.5
					},
					"totalBaseCharge": {
						"type": "number",
						"description": "Specifies the total base charge list.<br> Example: 87.5",
						"format": "double",
						"example": 87.5
					},
					"currencyExchangeRate": {
						"$ref": "#/components/schemas/CurrencyExchangeRate"
					},
					"totalBillingWeight": {
						"description": "Sum of billing weight for the shipment.",
						"allOf": [
							{
								"$ref": "#/components/schemas/Weight_1"
							}
						]
					},
					"currency": {
						"type": "string",
						"description": "Indicate the three-character ISO currency code. <br>Example: USD<br><a onclick='loadDocReference(\"currencycodes\")'>Click here to see Currency Codes</a>",
						"example": "USD"
					}
				}
			},
			"RateDiscount_1": {
				"type": "object",
				"properties": {
					"amount": {
						"type": "number",
						"description": "Indicates the amount for the rate discount.<br> Example: 87.5",
						"format": "double",
						"example": 87.5
					},
					"name": {
						"type": "string",
						"description": "Indicate the name of the discount.<a href=\"/developer-portal/en-us/reference-guide.html#discounts\" target=\"_blank\">Click here to see Discounts</a> <br> Example: name",
						"example": "name"
					},
					"description": {
						"type": "string",
						"description": "Indicates the description for the rate discount.<br> Example: Description",
						"example": "description"
					},
					"type": {
						"type": "string",
						"description": "Indicates the type. <br> Example: type",
						"example": "type"
					},
					"percent": {
						"type": "number",
						"description": "Indicates the percentage of the rate discount. <br> Example: 10.5",
						"format": "double",
						"example": 10.5
					}
				}
			},
			"Surcharge_1": {
				"type": "object",
				"properties": {
					"amount": {
						"type": "number",
						"description": "Identifies the total amount of the shipment-level fees and taxes that are not based on transportation charges or commodity-level estimated duties and taxes. <br> Example: 87.5",
						"format": "double",
						"example": 87.5
					},
					"level": {
						"type": "string",
						"description": "The level of surcharge. <br> Example: level",
						"example": "level"
					},
					"name": {
						"type": "string",
						"description": "The localized name of the surcharge. <br> Example: name",
						"example": "name"
					},
					"description": {
						"type": "string",
						"description": "The description of the surcharge. <br> Example: description",
						"example": "description"
					},
					"type": {
						"type": "string",
						"description": "The type of surcharge. <br> Example: type",
						"example": "type"
					}
				}
			},
			"Tax_1": {
				"type": "object",
				"properties": {
					"amount": {
						"type": "number",
						"description": "Specifies the list of tax amounts. <br> Example : 87.5",
						"format": "double",
						"example": 87.5
					},
					"name": {
						"type": "string",
						"description": "Specifies the localized name of the tax.<br> Example: Name"
					},
					"description": {
						"type": "string",
						"description": "Specifies the description of the Surcharge/Tax. <br> Example: description"
					},
					"type": {
						"type": "string",
						"description": "Specifies the type of Surcharge/Tax.<br> Example: type"
					}
				},
				"description": "Specifies the Tax surcharge details"
			},
			"CurrencyExchangeRate": {
				"type": "object",
				"properties": {
					"fromCurrency": {
						"type": "string",
						"description": "The currency code for the original (converted FROM) currency.",
						"example": "USD"
					},
					"intoCurrency": {
						"type": "string",
						"description": "The currency code for the final (converted INTO) currency.",
						"example": "USD"
					},
					"rate": {
						"type": "number",
						"description": "Multiplier used to convert fromCurrency units to intoCurrency units.",
						"format": "double",
						"example": 87.5
					}
				},
				"description": "Specifies the currency exchange performed on financial amounts for this rate."
			},
			"AncillaryFeesAndTaxes": {
				"type": "object",
				"properties": {
					"amount": {
						"type": "number",
						"description": "Specifies the list of ancillary fees And Taxes",
						"format": "double",
						"example": 87.5
					},
					"description": {
						"type": "string",
						"description": "Identifies the amount of the shipment-level fees and taxes that are not based on transportation charges or commodity-level estimated duties and taxes.",
						"example": "description"
					},
					"type": {
						"type": "string",
						"description": "Identifies the total amount of the shipment-level fees and taxes that are not based on transportation charges or commodity-level estimated duties and taxes.",
						"example": "type"
					}
				}
			},
			"ShipmentRateDetail": {
				"type": "object",
				"properties": {
					"currencyExchangeRate": {
						"$ref": "#/components/schemas/CurrencyExchangeRate"
					},
					"currency": {
						"type": "string",
						"description": "Indicates the currency associated with the amount.",
						"example": "USD"
					},
					"rateZone": {
						"type": "string",
						"description": "Indicates the rate zone used.",
						"example": "CA003O"
					},
					"ratingBasis": {
						"type": "string",
						"description": "Allows clients to determine whether to add charges at the package level when Per Piece Rating details are returned.<br><ul><li>SHIPMENT_WEIGHT_BASED - Indicates shipment weight is used to calculate the rate.</li><br><li>FLAT_RATE_PER_PAK - Indicates shipment is rated based on number of packs, weight would be considered for overweight surcharge but not for calculating shipment rate.</li><br><li>PACK_WEIGHT_BASED - Indicates individual package weight would be rated and aggregated to get shipment rate weight.</li></ul> Example : SHIPMENT_WEIGHT_BASED.",
						"example": "SHIPMENT_WEIGHT_BASED",
						"enum": [
							"SHIPMENT_WEIGHT_BASED",
							"FLAT_RATE_PER_PACK",
							"PACK_WEIGHT_BASED"
						]
					},
					"pricingCode": {
						"type": "string",
						"description": "Indicates the type of pricing code.",
						"example": "ACTUAL"
					},
					"totalFreightDiscount": {
						"type": "number",
						"description": "Indicates the total discounts used in the rate calculation. Example: 856.32",
						"format": "double",
						"example": 856.32
					},
					"specialRatingApplied": {
						"type": "array",
						"description": "Indicates which special rating cases applied to this shipment.",
						"example": "Specialrating",
						"items": {
							"type": "string"
						}
					},
					"totalSurcharges": {
						"type": "number",
						"description": "This is sum of all surcharges on the package. Example: 586.25",
						"format": "double",
						"example": 586.25
					},
					"freightDiscount": {
						"type": "array",
						"description": "This is total discount used in the rate calculation.<br><a onclick='loadDocReference(\"discounts\")'>Click here to see Discounts</a>",
						"items": {
							"$ref": "#/components/schemas/RateDiscount"
						}
					},
					"fuelSurchargePercent": {
						"type": "number",
						"description": "This is fuel surcharge percentage.",
						"format": "double",
						"example": 10.5
					},
					"totalBillingWeight": {
						"description": "This is total of billing weight for the shipment.",
						"allOf": [
							{
								"$ref": "#/components/schemas/Weight_1"
							}
						]
					},
					"totalDimWeight": {
						"description": "This is total of dimensional weight for the shipment.",
						"allOf": [
							{
								"$ref": "#/components/schemas/Weight_1"
							}
						]
					},
					"dimDivisor": {
						"type": "integer",
						"description": "Identifies the type of divisor that was applied.<br> Example: 10",
						"format": "int32",
						"example": 10
					},
					"surCharges": {
						"type": "array",
						"description": "Indicates the surcharges applied to this shipment.",
						"items": {
							"$ref": "#/components/schemas/Surcharge"
						}
					},
					"taxes": {
						"description": "List of taxes.",
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/Tax"
						}
					}
				},
				"description": "This is shipment level rate data."
			},
			"OperationalDetail": {
				"type": "object",
				"properties": {
					"originLocationIds": {
						"type": "array",
						"description": "Indicate the location ID of the origin of shipment. <br> Example: YBZA",
						"example": "YBZA",
						"items": {
							"type": "string"
						}
					},
					"commitDays": {
						"type": "array",
						"description": "Indicate the delivery commitment day.<br> Example: MON",
						"example": "MON",
						"items": {
							"type": "string"
						}
					},
					"serviceCode": {
						"type": "string",
						"description": "Indicate the service code. <br> Example: 06",
						"example": "06"
					},
					"airportId": {
						"type": "string",
						"description": "Specify the Airport Id. <br> Example: MEM",
						"example": "MEM"
					},
					"scac": {
						"type": "string",
						"description": "Indicate the Standard Carrier Alpha Code (SCAC) is a privately controlled US code used to identify vessel operating common carriers (VOCC). It is typically two to four letters long.",
						"example": "scac"
					},
					"originServiceAreas": {
						"type": "array",
						"description": "Specify origin service area.<br> Example: AM",
						"example": "AM",
						"items": {
							"type": "string"
						}
					},
					"deliveryDay": {
						"type": "string",
						"description": "Specify the delivery commitment day. <br> Example: SAT",
						"example": "SAT"
					},
					"originLocationNumbers": {
						"type": "array",
						"description": "Specify the origin location ID.<br> Example: 6121",
						"example": 6121,
						"items": {
							"type": "integer",
							"format": "int32"
						}
					},
					"destinationPostalCode": {
						"type": "string",
						"description": "Indicate the destination postal code.<br> Example: 38017",
						"example": "38017"
					},
					"commitDate": {
						"type": "string",
						"description": "Indicate the shipment Commit Date. <br> Example: 2019-07-22T08:30:00",
						"example": "2019-07-22T08:30:00"
					},
					"astraDescription": {
						"type": "string",
						"description": "Indicate the ASTRA description for the label. <br> Example: XXXL1ST",
						"example": "INTL1ST"
					},
					"deliveryDate": {
						"type": "string",
						"description": "Indicate the delivery date. <br> Example: 2019-07-22T08:30:00",
						"example": "2019-07-22T08:30:00"
					},
					"deliveryEligibilities": {
						"type": "array",
						"description": "Indicate the delivery eligibilities.",
						"example": "Availavble Eligibilities",
						"items": {
							"type": "string"
						}
					},
					"ineligibleForMoneyBackGuarantee": {
						"type": "boolean",
						"description": "indicate if ineligible For Money Back Guarantee.",
						"example": false
					},
					"MaximumTransitTime": {
						"type": "string",
						"description": "Specify Maximum transit time. <br> Example: THREE_DAYS",
						"example": "THREE_DAYS"
					},
					"astraPlannedServiceLevel": {
						"type": "string",
						"description": "Indicate Astra Planned Service Level. <br> Example: astraPlannedServicelevel",
						"example": "astraPlannedServicelevel"
					},
					"destinationLocationIds": {
						"type": "array",
						"description": "Indicate Destination Location Ids. <br> Example: HKAA",
						"example": "HKAA",
						"items": {
							"type": "string"
						}
					},
					"destinationLocationStateOrProvinceCodes": {
						"type": "array",
						"description": "Indicate destination location State Or Province code. <br> Example: TN<br><a onclick='loadDocReference(\"canadaprovincecodes\")'>Click here to see State Or Province Code</a>",
						"example": "TN",
						"items": {
							"type": "string"
						}
					},
					"transitTime": {
						"type": "string",
						"description": "Indicate the Transit Time in days. <br> Example: THREE_DAYS",
						"example": "THREE_DAYS"
					},
					"packagingCode": {
						"type": "string",
						"description": "Indicate the Packaging Code. <br> Example: M1M1M1",
						"example": "M1M1M1"
					},
					"destinationLocationNumbers": {
						"type": "array",
						"description": "Indicate the Destination Location Numbers. <br> Example: 386",
						"example": 386,
						"items": {
							"type": "integer",
							"format": "int32"
						}
					},
					"publishedDeliveryTime": {
						"type": "string",
						"description": "Indicate the Published Delivery Time. <br> Example: THREE_DAYS",
						"example": "THREE_DAYS"
					},
					"countryCodes": {
						"type": "array",
						"description": "Indicate the Country Code.<br>Example: [ US, IN]<br><a onclick='loadDocReference(\"countrycodes\")'>Click here to see Country Codes</a>",
						"example": "US",
						"items": {
							"type": "string"
						}
					},
					"stateOrProvinceCodes": {
						"type": "array",
						"description": "Specifies state Or Province Code. State code is required for US, CA, PR and not required for other countries. Conditional. Max length is 2. <br> Example: TN",
						"example": "TN",
						"items": {
							"type": "string"
						}
					},
					"ursaPrefixCode": {
						"type": "string",
						"description": "This is FedEx URSA Prefix Code. <br> Example: PrefixCode",
						"example": "PrefixCode"
					},
					"ursaSuffixCode": {
						"type": "string",
						"description": "This is URSA Suffix Code. <br> Example: SuffixCode",
						"example": "SuffixCode"
					},
					"destinationServiceAreas": {
						"type": "array",
						"description": "This is Destination Service Areas. <br> Example: A2",
						"example": "A2",
						"items": {
							"type": "string"
						}
					},
					"originPostalCodes": {
						"type": "array",
						"description": "This is Origin Postal Codes. <br> Example: M1M1M1",
						"example": "M1M1M1",
						"items": {
							"type": "string"
						}
					},
					"customTransitTime": {
						"type": "string",
						"description": "This is Custom Transit Time in days. <br> Example: THREE_DAYS",
						"example": "THREE_DAYS"
					}
				},
				"description": "Indicate the Operational Details."
			},
			"ServiceDescription": {
				"type": "object",
				"properties": {
					"serviceType": {
						"type": "string",
						"description": "This is the service type.<br>Example: INTERNATIONAL_FIRST<br><a onclick='loadDocReference(\"servicetypes\")'>Click here to see Service Types</a>",
						"example": "INTERNATIONAL_FIRST"
					},
					"code": {
						"type": "string",
						"description": "Specifies the service code.<br> Example: 92",
						"example": "92"
					},
					"names": {
						"type": "array",
						"description": "Specifies the service name.",
						"items": {
							"$ref": "#/components/schemas/ProductName"
						}
					},
					"astraDescription": {
						"type": "string",
						"description": "Specifies astra description. <br> Example: INTL1ST",
						"example": "INTL1ST"
					},
					"description": {
						"type": "string",
						"description": "Specifies description of the service. <br> Example: FedEx Ground",
						"example": "FedEx Ground"
					},
					"serviceId": {
						"type": "string",
						"description": "Specifies the service Id. <br> Example: EP1000000135",
						"example": "EP1000000135"
					},
					"serviceCategory": {
						"type": "string",
						"description": "Specifies service category. <br> Example: parcel",
						"example": "parcel"
					}
				},
				"description": "Indicates the provides the Service Description details."
			},
			"ProductName": {
				"type": "object",
				"properties": {
					"type": {
						"type": "string",
						"description": "Specifies the type of the product.<br> Example: medium",
						"example": "medium"
					},
					"encoding": {
						"type": "string",
						"description": "Specifies the encoding standard. <br> Example: utf-8.",
						"example": "utf-8"
					},
					"value": {
						"type": "string",
						"description": "Specifies the value of the Product.<br> Example: FedEx International First®.",
						"example": "FedEx International FirstÂ®"
					}
				},
				"description": "Provides the product details."
			},
			"BrokerDetail": {
				"required": [
					"broker",
					"type"
				],
				"type": "object",
				"properties": {
					"broker": {
						"$ref": "#/components/schemas/BrokerDetailBroker"
					},
					"type": {
						"type": "string",
						"description": "This is Broker Type.Example:IMPORT",
						"example": "IMPORT",
						"enum": [
							"IMPORT"
						]
					}
				},
				"description": "These are Broker Detail for the rate quote."
			},
			"BrokerDetail_RateReply": {
				"required": [
					"broker",
					"type"
				],
				"type": "object",
				"properties": {
					"broker": {
						"$ref": "#/components/schemas/BrokerDetailBroker_RateReply"
					},
					"type": {
						"type": "string",
						"description": "This is Broker Type.",
						"example": "EXPORT",
						"enum": [
							"EXPORT",
							"IMPORT"
						]
					},
					"brokerAddress": {
						"$ref": "#/components/schemas/Brokeraddress"
					}
				},
				"description": "These are Broker Detail for the rate quote."
			},
			"BrokerDetailBroker": {
				"allOf": [
					{
						"$ref": "#/components/schemas/Party"
					},
					{
						"required": [
							"address",
							"contact"
						],
						"properties": {
							"address": {
								"description": "These are Broker address details."
							},
							"contact": {
								"description": "These are broker contact details such as Name, Email, PhoneNumber."
							}
						}
					}
				]
			},
			"BrokerDetailBroker_RateReply": {
				"allOf": [
					{
						"$ref": "#/components/schemas/Party"
					},
					{
						"required": [
							"address"
						],
						"properties": {
							"address": {
								"description": "These are Broker address details."
							}
						}
					}
				]
			},
			"Party": {
				"type": "object",
				"properties": {
					"address": {
						"$ref": "#/components/schemas/Address"
					},
					"accountNumber": {
						"$ref": "#/components/schemas/AccountNumber"
					}
				},
				"description": "Indicate the party to a transaction including the physical address, contact information and account number information.",
				"example": {
					"accountNumber": {
						"value": 123456789
					}
				}
			},
			"Address": {
				"type": "object",
				"properties": {
					"city": {
						"type": "string",
						"description": "This is a placeholder for City Name. <br> Example: Beverly Hills",
						"example": "Beverly Hills"
					},
					"stateOrProvinceCode": {
						"type": "string",
						"description": "This is a placeholder for State or Province code.State code is required for US, CA, PR and not required for other countries. Conditional. Max length is 2. <br> Example: CA <br><a onclick='loadDocReference(\"canadaprovincecodes\")'>Click here to see State Or Province Code</a>",
						"example": "TN"
					},
					"postalCode": {
						"type": "string",
						"description": "Indicate the Postal code. This is optional for non postal-aware countries. Maximum length is 10.<br> Example: 65247<br><a onclick='loadDocReference(\"postalawarecountries\")'>Click here to see Postal aware countries</a>",
						"example": "65247"
					},
					"countryCode": {
						"type": "string",
						"description": "This is the two-letter country code. Maximum length is 2.<br>Example: US<br><a onclick='loadDocReference(\"countrycodes\")'>Click here to see Country Codes</a>",
						"example": "US"
					},
					"residential": {
						"type": "boolean",
						"description": "Indicate whether this address is residential (as opposed to commercial). <br> Valid values are TRUE and FALSE.",
						"example": false
					}
				},
				"description": "This is detailed information on physical location. May be used as an actual physical address (place to which one could go), or as a container of address parts which should be handled as a unit (such as a city-state-ZIP combination within the U.S.).",
				"example": {
					"streetLines": [
						"1550 Union Blvd",
						"Suite 302"
					],
					"city": "Beverly Hills",
					"stateOrProvinceCode": "TN",
					"postalCode": "38127",
					"countryCode": "US",
					"residential": false
				}
			},
			"Contact": {
				"type": "object",
				"properties": {
					"personName": {
						"type": "string",
						"description": "Specifies contact name.<br>Note: Recommended Length is 70. There's no specific validation for the length.<br> Example: John Taylor",
						"example": "John Taylor"
					},
					"emailAddress": {
						"type": "string",
						"description": "Specifies contact email address. Maximum length is 80. <br> Example: sample@company.com",
						"example": "sample@company.com"
					},
					"phoneNumber": {
						"type": "string",
						"description": "Specifies contact phone number. Maximum length is 15. <br> Example: 1234567890",
						"example": "1234567890"
					},
					"phoneExtension": {
						"type": "string",
						"description": "Specifies contact phone extension. Maximum length is 6. <br> Example: 1234",
						"example": "1234"
					},
					"faxNumber": {
						"type": "string",
						"description": "Specifies contact fax number. Maximum length is 15. <br> Example: 1234567890",
						"example": "1234567890"
					},
					"companyName": {
						"type": "string",
						"description": "Specifies contact company name. Maximum length is 35.",
						"example": "Fedex"
					}
				},
				"description": "Indicates the contact details.",
				"example": {
					"personName": "John Taylor",
					"emailAddress": "sample@company.com",
					"phoneNumber": "1234567890",
					"phoneExtension": "1234",
					"faxNumber": "1234567890",
					"companyName": "Fedex"
				}
			},
			"ParsedPersonName": {
				"type": "object",
				"properties": {
					"firstName": {
						"type": "string",
						"description": "Specify the First Name. Maximum Length is 35. <br> Example: John",
						"example": "firstName"
					},
					"lastName": {
						"type": "string",
						"description": "Specify the Last Name. Maximum Length is 35. <br> Example: Mayor",
						"example": "lastName"
					},
					"middleName": {
						"type": "string",
						"description": "Specify the Middle Name.<br> Example: Redmond",
						"example": "middleName"
					},
					"suffix": {
						"type": "string",
						"description": "Specify the Suffix.<br> Example: Jr",
						"example": "suffix"
					}
				},
				"description": "This object is used to separate the person name into first and last name.",
				"example": {
					"firstName": "John",
					"lastName": "Mayor",
					"middleName": "Redmond",
					"suffix": "Jr"
				}
			},
			"AccountNumber": {
				"type": "object",
				"properties": {
					"value": {
						"type": "string",
						"description": "This is the account number. Maximum Length is 9. <br>Example: Your account number",
						"example": "Your account number"
					}
				},
				"description": "This is the Account number details.<br><i>Note:<ul><li>If the paymentType is Sender, then the account number is optional in shippingChargesPayment.</li></ul>",
				"example": {
					"value": "Your account number"
				}
			},
			"Brokeraddress": {
				"type": "object",
				"properties": {
					"streetLines": {
						"type": "array",
						"description": "This is the combination of number, street name, etc. <br>Note: At least one line is required and streetlines more than 3 will be ignored. Empty lines should not be included. Maximum Length per line is 35.<br>Example: [10 FedEx Parkway, Suite 302, .etc.]",
						"example": [
							"10 FedEx Parkway",
							"Suite 302"
						],
						"items": {
							"type": "string"
						}
					},
					"city": {
						"type": "string",
						"description": "This is city name.<br> Example: Beverly Hills",
						"example": "Beverly Hills"
					},
					"stateOrProvinceCode": {
						"type": "string",
						"description": "This is the state Or Province Code. State code is required for US, CA, PR and not required for other countries. Conditional. Max length is 2.<br> Example: CA<br><a onclick='loadDocReference(\"canadaprovincecodes\")'>Click here to see State Or Province Code</a>",
						"example": "CA"
					},
					"postalCode": {
						"type": "string",
						"description": "This is the postal code. <br> Example: 90210<br><a onclick='loadDocReference(\"postalawarecountries\")'>Click here to see Postal aware countries</a>",
						"example": "90210"
					},
					"countryCode": {
						"type": "string",
						"description": "This is the country code.<br>US<br><a onclick='loadDocReference(\"countrycodes\")'>Click here to see Country Codes</a>",
						"example": "US"
					},
					"residential": {
						"type": "boolean",
						"description": "Indicate whether this address is residential (as opposed to commercial). <br> Valid values are TRUE and FALSE.",
						"example": false
					},
					"classification": {
						"type": "string",
						"description": "Specify the classification of the address. <br> Example: residential",
						"example": "residential"
					},
					"geographicCoordinates": {
						"type": "string",
[...]
