{
	"openapi": "3.0.0",
	"servers": [
		{
			"url": "https://apis-sandbox.fedex.com",
			"description": "Sandbox Server"
		},
		{
			"url": "https://apis.fedex.com",
			"description": "Production Server"
		}
	],
	"schemes": [
		"https"
	],
	"info": {
		"version": "1.0.0",
		"title": "Ship API"
	},
	"paths": {
		"/ship/v1/shipments": {
			"post": {
				"summary": "Create Shipment",
				"description": "This endpoint helps you to create shipment requests thereby validating all the shipping input information and either generates the labels (if the responses is synchronous) or a job ID if transaction is processed using asynchronous method.<br><i>Note: FedEx APIs do not support Cross-Origin Resource Sharing (CORS) mechanism.</i>",
				"operationId": "Create Shipment",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"oneOf": [
									{
										"$ref": "#/components/schemas/Full_Schema_Ship"
									}
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SHPCResponseVO_ShipShipment"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "ACCOUNTNUMBER.REGISTRATION.REQUIRED",
											"message": "Please enter a valid 9-digit FedEx account number or register for a new FedEx account number."
										}
									]
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO401"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "NOT.AUTHORIZED.ERROR",
											"message": "Access token expired. Please modify your request and try again."
										}
									]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO403"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "FORBIDDEN.ERROR",
											"message": "We could not authorize your credentials. Please check your permissions and try again."
										}
									]
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO404"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "NOT.FOUND.ERROR",
											"message": "The resource you requested is no longer available. Please modify your request and try again."
										}
									]
								}
							}
						}
					},
					"500": {
						"description": "Failure",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO500"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "INTERNAL.SERVER.ERROR",
											"message": "We encountered an unexpected error and are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					},
					"503": {
						"description": "Service Unavailable",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO503"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "SERVICE.UNAVAILABLE.ERROR",
											"message": "The service is currently unavailable and we are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					}
				},
				"parameters": [
					{
						"in": "header",
						"name": "x-customer-transaction-id",
						"description": "This element allows you to assign a unique identifier to your transaction. This element is also returned in the reply and helps you match the request to the reply.",
						"required": false,
						"schema": {
							"type": "string",
							"example": "624deea6-b709-470c-8c39-4b5511281492"
						}
					},
					{
						"in": "header",
						"name": "content-type",
						"description": "This is used to indicate the media type of the resource. The media type is a string sent along with the file indicating format of the file.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "application/json"
						}
					},
					{
						"in": "header",
						"name": "x-locale",
						"description": "This indicates the combination of language code and country code.  <a onclick='loadDocReference(\"locales\")'>Click here to see Locales</a>",
						"required": false,
						"schema": {
							"type": "string",
							"example": "en_US"
						}
					},
					{
						"in": "header",
						"name": "authorization",
						"description": "This indicates the authorization token for the input request.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "Bearer XXX"
						}
					}
				],
				"x-code-samples": [
					{
						"lang": "C#",
						"source": "var client = new RestClient(\"https://apis-sandbox.fedex.com/ship/v1/shipments\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"Authorization\", \"Bearer \");\nrequest.AddHeader(\"X-locale\", \"en_US\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\n// 'input' refers to JSON Payload\nrequest.AddParameter(\"application/x-www-form-urlencoded\", input, ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);\n\n\n\n\n"
					},
					{
						"lang": "JAVA",
						"source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\n// 'input' refers to JSON Payload\nRequestBody body = RequestBody.create(mediaType, input);\nRequest request = new Request.Builder()\n    .url(\"https://apis-sandbox.fedex.com/ship/v1/shipments\")\n    .post(body)\n    .addHeader(\"Content-Type\", \"application/json\")\n    .addHeader(\"X-locale\", \"en_US\")\n    .addHeader(\"Authorization\", \"Bearer \")\n    .build();\n            \nResponse response = client.newCall(request).execute();"
					},
					{
						"lang": "JAVASCRIPT",
						"source": "// 'input' refers to JSON Payload\nvar data = JSON.stringify(input);\n  \n  var xhr = new XMLHttpRequest();\n  xhr.withCredentials = true;\n  \n  xhr.addEventListener(\"readystatechange\", function () {\n    if (this.readyState === 4) {\n      console.log(this.responseText);\n    }\n  });\n  \n  xhr.open(\"POST\", \"https://apis-sandbox.fedex.com/ship/v1/shipments\");\n  xhr.setRequestHeader(\"Content-Type\", \"application/json\");\n  xhr.setRequestHeader(\"X-locale\", \"en_US\");\n  xhr.setRequestHeader(\"Authorization\", \"Bearer \");\n  \n  xhr.send(data);"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://apis-sandbox.fedex.com/ship/v1/shipments');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders(array(\n  'Authorization' => 'Bearer ',\n  'X-locale' => 'en_US',\n  'Content-Type' => 'application/json'\n));\n\n$request->setBody(input); // 'input' refers to JSON Payload\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
					},
					{
						"lang": "PYTHON",
						"source": "import requests\n\nurl = \"https://apis-sandbox.fedex.com/ship/v1/shipments\"\n\npayload = input # 'input' refers to JSON Payload\nheaders = {\n    'Content-Type': \"application/json\",\n    'X-locale': \"en_US\",\n    'Authorization': \"Bearer \"\n    }\n\nresponse = requests.post(url, data=payload, headers=headers)\n\nprint(response.text)"
					},
					{
						"lang": "RUST",
						"source": "extern crate reqwest;\n\nuse std::io::Read;\n\nfn construct_headers() -> HeaderMap {\n    let mut headers = HeaderMap::new();\n    headers.insert(\"Content-Type\", \"application/json\");\n    headers.insert(\"X-locale\", \"en_US\");\n    headers.insert(\"Authorization\", \"Bearer \");\n    headers\n}\n\nfn run() -> Result<()> {\n    let client = reqwest::Client::new();\n    let mut res = client.post(\"https://apis-sandbox.fedex.com/ship/v1/shipments\")\n        .body(input) // 'input' refers to JSON Payload\n        .headers(construct_headers())\n        .send()?;\n    let mut body = String::new();\n    res.read_to_string(&mut body)?;\n\n    println!(\"Status: {}\", res.status());\n    println!(\"Headers:\\n{:#?}\", res.headers());\n    println!(\"Body:\\n{}\", body);\n\n    Ok(())\n}"
					},
					{
						"lang": "SWIFT",
						"source": "import Foundation\n\nlet headers = [\n  \"Content-Type\": \"application/json\",\n  \"X-locale\": \"en_US\",\n  \"Authorization\": \"Bearer \"\n]\nlet parameters = [\n  input // 'input' refers to JSON Payload\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://apis-sandbox.fedex.com/ship/v1/shipments\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"POST\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
					}
				]
			}
		},
		"/ship/v1/shipments/cancel": {
			"put": {
				"summary": "Cancel Shipment",
				"description": "Use this endpoint to cancel FedEx Express and Ground shipments that have not already been tendered to FedEx. This request will cancel all packages within the shipment.<br><i>Note: FedEx APIs do not support Cross-Origin Resource Sharing (CORS) mechanism.</i>",
				"operationId": "Cancel Shipment",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"oneOf": [
									{
										"$ref": "#/components/schemas/Full_Schema_Cancel_Shipment"
									}
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SHPCResponseVO_CancelShipment"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "SHIPMENT.USER.UNAUTHORIZED",
											"message": "Requested user is not authorized to perform the operation."
										}
									]
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO401_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "NOT.AUTHORIZED.ERROR",
											"message": "Access token expired. Please modify your request and try again."
										}
									]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO403_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "FORBIDDEN.ERROR",
											"message": "We could not authorize your credentials. Please check your permissions and try again."
										}
									]
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO404_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "NOT.FOUND.ERROR",
											"message": "The resource you requested is no longer available. Please modify your request and try again."
										}
									]
								}
							}
						}
					},
					"500": {
						"description": "Failure",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO500_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "INTERNAL.SERVER.ERROR",
											"message": "We encountered an unexpected error and are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					},
					"503": {
						"description": "Service Unavailable",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO503_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "SERVICE.UNAVAILABLE.ERROR",
											"message": "The service is currently unavailable and we are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					}
				},
				"parameters": [
					{
						"in": "header",
						"name": "x-customer-transaction-id",
						"description": "This element allows you to assign a unique identifier to your transaction. This element is also returned in the reply and helps you match the request to the reply.",
						"required": false,
						"schema": {
							"type": "string",
							"example": "624deea6-b709-470c-8c39-4b5511281492"
						}
					},
					{
						"in": "header",
						"name": "content-type",
						"description": "This is used to indicate the media type of the resource. The media type is a string sent along with the file indicating format of the file.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "application/json"
						}
					},
					{
						"in": "header",
						"name": "x-locale",
						"description": "This indicates the combination of language code and country code.  <a onclick='loadDocReference(\"locales\")'>Click here to see Locales</a>",
						"required": false,
						"schema": {
							"type": "string",
							"example": "en_US"
						}
					},
					{
						"in": "header",
						"name": "authorization",
						"description": "This indicates the authorization token for the input request.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "Bearer XXX"
						}
					}
				],
				"x-code-samples": [
					{
						"lang": "C#",
						"source": "var client = new RestClient(\"https://apis-sandbox.fedex.com/ship/v1/shipments/cancel\");\nvar request = new RestRequest(Method.PUT);\nrequest.AddHeader(\"Authorization\", \"Bearer \");\nrequest.AddHeader(\"X-locale\", \"en_US\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\n// 'input' refers to JSON Payload\nrequest.AddParameter(\"application/x-www-form-urlencoded\", input, ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);"
					},
					{
						"lang": "JAVA",
						"source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\n// 'input' refers to JSON Payload\nRequestBody body = RequestBody.create(mediaType, input);\nRequest request = new Request.Builder()\n  .url(\"https://apis-sandbox.fedex.com/ship/v1/shipments/cancel\")\n  .put(body)\n  .addHeader(\"Content-Type\", \"application/json\")\n  .addHeader(\"X-locale\", \"en_US\")\n  .addHeader(\"Authorization\", \"Bearer \")\n  .build();\n\nResponse response = client.newCall(request).execute();"
					},
					{
						"lang": "JAVASCRIPT",
						"source": "// 'input' refers to JSON Payload\nvar data = JSON.stringify(input);\n  \n  var xhr = new XMLHttpRequest();\n  xhr.withCredentials = true;\n  \n  xhr.addEventListener(\"readystatechange\", function () {\n    if (this.readyState === 4) {\n      console.log(this.responseText);\n    }\n  });\n  \n  xhr.open(\"PUT\", \"https://apis-sandbox.fedex.com/ship/v1/shipments/cancel\");\n  xhr.setRequestHeader(\"Content-Type\", \"application/json\");\n  xhr.setRequestHeader(\"X-locale\", \"en_US\");\n  xhr.setRequestHeader(\"Authorization\", \"Bearer \");\n  \n  xhr.send(data);"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://apis-sandbox.fedex.com/ship/v1/shipments/cancel');\n$request->setMethod(HTTP_METH_PUT);\n\n$request->setHeaders(array(\n  'Authorization' => 'Bearer ',\n  'X-locale' => 'en_US',\n  'Content-Type' => 'application/json'\n));\n\n$request->setBody(input); // 'input' refers to JSON Payload\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
					},
					{
						"lang": "PYTHON",
						"source": "import requests\n\nurl = \"https://apis-sandbox.fedex.com/ship/v1/shipments/cancel\"\n\npayload = input # 'input' refers to JSON Payload\nheaders = {\n    'Content-Type': \"application/json\",\n    'X-locale': \"en_US\",\n    'Authorization': \"Bearer \"\n    }\n\nresponse = requests.put(url, data=payload, headers=headers)\n\nprint(response.text)"
					},
					{
						"lang": "RUST",
						"source": "extern crate reqwest;\n\nuse std::io::Read;\n\nfn construct_headers() -> HeaderMap {\n    let mut headers = HeaderMap::new();\n    headers.insert(\"Content-Type\", \"application/json\");\n    headers.insert(\"X-locale\", \"en_US\");\n    headers.insert(\"Authorization\", \"Bearer \");\n    headers\n}\n\nfn run() -> Result<()> {\n    let client = reqwest::Client::new();\n    let mut res = client.put(\"https://apis-sandbox.fedex.com/ship/v1/shipments/cancel\")\n        .body(input) // 'input' refers to JSON Payload\n        .headers(construct_headers())\n        .send()?;\n    let mut body = String::new();\n    res.read_to_string(&mut body)?;\n\n    println!(\"Status: {}\", res.status());\n    println!(\"Headers:\\n{:#?}\", res.headers());\n    println!(\"Body:\\n{}\", body);\n\n    Ok(())\n}"
					},
					{
						"lang": "SWIFT",
						"source": "import Foundation\n\nlet headers = [\n  \"Content-Type\": \"application/json\",\n  \"X-locale\": \"en_US\",\n  \"Authorization\": \"Bearer \"\n]\nlet parameters = [\n  input // 'input' refers to JSON Payload\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://apis-sandbox.fedex.com/ship/v1/shipments/cancel\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"PUT\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
					}
				]
			}
		},
		"/ship/v1/shipments/results": {
			"post": {
				"summary": "Retrieve Async Ship",
				"description": "This endpoint helps you to process confirmed shipments asynchronously (above 40 packages) and produce results based on job id.<br><i>Note: FedEx APIs do not support Cross-Origin Resource Sharing (CORS) mechanism.</i>",
				"operationId": "Get Confirmed Shipment Async Results",
				"parameters": [
					{
						"name": "x-customer-transaction-id",
						"in": "header",
						"description": "This transaction Id helps the customers to track the transaction with APIF.",
						"required": false,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						},
						"example": "0e671149-016f-1000-941f-ef4dbabadd2e"
					},
					{
						"in": "header",
						"name": "content-type",
						"description": "This is used to indicate the media type of the resource. The media type is a string sent along with the file indicating format of the file.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "application/json"
						}
					},
					{
						"in": "header",
						"name": "x-locale",
						"description": "This indicates the combination of language code and country code.  <a onclick='loadDocReference(\"locales\")'>Click here to see Locales</a>",
						"required": false,
						"schema": {
							"type": "string",
							"example": "en_US"
						}
					},
					{
						"in": "header",
						"name": "authorization",
						"description": "This indicates the authorization token for the input request.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "Bearer XXX"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"oneOf": [
									{
										"$ref": "#/components/schemas/FullSchema-getConfirmedShipmentAsyncResults"
									}
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SHPCResponseVO_GetOpenShipmentResults"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO_2"
								},
								"example": {
									"transactionId": "624xxxxx-b709-470c-8c39-4b55112xxxxx",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "TRACKINGNUMBER.ENTERED.INVALID",
											"message": "Error with entered Tracking Number. Please verify the entered Tracking Number."
										}
									]
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO401_2"
								},
								"example": {
									"transactionId": "624xxxxx-b709-470c-8c39-4b55112xxxxx",
									"errors": [
										{
											"code": "NOT.AUTHORIZED.ERROR",
											"message": "Access token expired. Please modify your request and try again."
										}
									]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO403_2"
								},
								"example": {
									"transactionId": "624xxxxx-b709-470c-8c39-4b55112xxxxx",
									"errors": [
										{
											"code": "FORBIDDEN.ERROR",
											"message": "We could not authorize your credentials. Please check your permissions and try again."
										}
									]
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO404_2"
								},
								"example": {
									"transactionId": "624xxxxx-b709-470c-8c39-4b55112xxxxx",
									"errors": [
										{
											"code": "NOT.FOUND.ERROR",
											"message": "The resource you requested is no longer available. Please modify your request and try again."
										}
									]
								}
							}
						}
					},
					"500": {
						"description": "Failure",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO500_2"
								},
								"example": {
									"transactionId": "624xxxxx-b709-470c-8c39-4b55112xxxxx",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "INTERNAL.SERVER.ERROR",
											"message": "We encountered an unexpected error and are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					},
					"503": {
						"description": "Service Unavailable",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO503_2"
								},
								"example": {
									"transactionId": "624xxxxx-b709-470c-8c39-4b55112xxxxx",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "SERVICE.UNAVAILABLE.ERROR",
											"message": "The service is currently unavailable and we are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					}
				},
				"x-code-samples": [
					{
						"lang": "C#",
						"source": "var client = new RestClient(\"https://apis-sandbox.fedex.com/ship/v1/shipments/results\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"Authorization\", \"Bearer \");\nrequest.AddHeader(\"X-locale\", \"en_US\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\n// 'input' refers to JSON Payload\nrequest.AddParameter(\"application/x-www-form-urlencoded\", input, ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);\n\n\n\n\n"
					},
					{
						"lang": "JAVA",
						"source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\n// 'input' refers to JSON Payload\nRequestBody body = RequestBody.create(mediaType, input);\nRequest request = new Request.Builder()\n    .url(\"https://apis-sandbox.fedex.com/ship/v1/shipments/results\")\n    .post(body)\n    .addHeader(\"Content-Type\", \"application/json\")\n    .addHeader(\"X-locale\", \"en_US\")\n    .addHeader(\"Authorization\", \"Bearer \")\n    .build();\n            \nResponse response = client.newCall(request).execute();"
					},
					{
						"lang": "JAVASCRIPT",
						"source": "// 'input' refers to JSON Payload\nvar data = JSON.stringify(input);\n  \n  var xhr = new XMLHttpRequest();\n  xhr.withCredentials = true;\n  \n  xhr.addEventListener(\"readystatechange\", function () {\n    if (this.readyState === 4) {\n      console.log(this.responseText);\n    }\n  });\n  \n  xhr.open(\"POST\", \"https://apis-sandbox.fedex.com/ship/v1/shipments/results\");\n  xhr.setRequestHeader(\"Content-Type\", \"application/json\");\n  xhr.setRequestHeader(\"X-locale\", \"en_US\");\n  xhr.setRequestHeader(\"Authorization\", \"Bearer \");\n  \n  xhr.send(data);"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://apis-sandbox.fedex.com/ship/v1/shipments/results');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders(array(\n  'Authorization' => 'Bearer ',\n  'X-locale' => 'en_US',\n  'Content-Type' => 'application/json'\n));\n\n$request->setBody(input); // 'input' refers to JSON Payload\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
					},
					{
						"lang": "PYTHON",
						"source": "import requests\n\nurl = \"https://apis-sandbox.fedex.com/ship/v1/shipments/results\"\n\npayload = input # 'input' refers to JSON Payload\nheaders = {\n    'Content-Type': \"application/json\",\n    'X-locale': \"en_US\",\n    'Authorization': \"Bearer \"\n    }\n\nresponse = requests.post(url, data=payload, headers=headers)\n\nprint(response.text)"
					},
					{
						"lang": "RUST",
						"source": "extern crate reqwest;\n\nuse std::io::Read;\n\nfn construct_headers() -> HeaderMap {\n    let mut headers = HeaderMap::new();\n    headers.insert(\"Content-Type\", \"application/json\");\n    headers.insert(\"X-locale\", \"en_US\");\n    headers.insert(\"Authorization\", \"Bearer \");\n    headers\n}\n\nfn run() -> Result<()> {\n    let client = reqwest::Client::new();\n    let mut res = client.post(\"https://apis-sandbox.fedex.com/ship/v1/shipments/results\")\n        .body(input) // 'input' refers to JSON Payload\n        .headers(construct_headers())\n        .send()?;\n    let mut body = String::new();\n    res.read_to_string(&mut body)?;\n\n    println!(\"Status: {}\", res.status());\n    println!(\"Headers:\\n{:#?}\", res.headers());\n    println!(\"Body:\\n{}\", body);\n\n    Ok(())\n}"
					},
					{
						"lang": "SWIFT",
						"source": "import Foundation\n\nlet headers = [\n  \"Content-Type\": \"application/json\",\n  \"X-locale\": \"en_US\",\n  \"Authorization\": \"Bearer \"\n]\nlet parameters = [\n  input // 'input' refers to JSON Payload\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://apis-sandbox.fedex.com/ship/v1/shipments/results\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"POST\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
					}
				]
			}
		},
		"/ship/v1/shipments/packages/validate": {
			"post": {
				"summary": "Validate Shipment",
				"description": "Use this endpoint to verify the accuracy of a shipment request prior to actually submitting shipment request. This allow businesses that receive shipping orders from end-user/customers to verify the shipment information prior to submitting a create shipment request to FedEx and printing a label. If for any reason the information needs to be edited or changed, it can be done while the end-user is still available to confirm the changes.<br><br>Note:<ul><li>This is shipment level validation hence supports validation for single piece shipment only.</li><li>Shipment validation is supported for all Express and Ground - Domestic as well as international shipments with all applicable special services. </li><li>Shipment validation is supported for SmartPost and not for Freight LTL shipments.</li></ul><br><br><i>Note: FedEx APIs do not support Cross-Origin Resource Sharing (CORS) mechanism.</i>",
				"operationId": "ShipmentPackageValidate",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"oneOf": [
									{
										"$ref": "#/components/schemas/FullSchema-VerifyShipment"
									}
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SHPCResponseVO_Validate"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO_2"
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "LOGIN.REAUTHENTICATE.ERROR",
											"message": "Re-Login authentication error"
										}
									]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "UNAUTHORIZED.USAGE",
											"message": "UNAUTHORIZED.USAGE"
										}
									]
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"example": {
									"error": "NOT.FOUND.ERROR",
									"error_detail": "The resource you requested is no longer available. Please modify your request and try again."
								}
							}
						}
					},
					"500": {
						"description": "Failure",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "INTERNAL.SERVER.ERROR",
											"message": "We encountered an unexpected error and are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					}
				},
				"parameters": [
					{
						"in": "header",
						"name": "x-customer-transaction-id",
						"description": "This element allows you to assign a unique identifier to your transaction. This element is also returned in the reply and helps you match the request to the reply.",
						"required": false,
						"schema": {
							"type": "string",
							"example": "624deea6-b709-470c-8c39-4b5511281492"
						}
					},
					{
						"in": "header",
						"name": "content-type",
						"description": "This is used to indicate the media type of the resource. The media type is a string sent along with the file indicating format of the file.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "application/json"
						}
					},
					{
						"in": "header",
						"name": "x-locale",
						"description": "This indicates the combination of language code and country code.  <a onclick='loadDocReference(\"locales\")'>Click here to see Locales</a>",
						"required": false,
						"schema": {
							"type": "string",
							"example": "en_US"
						}
					},
					{
						"in": "header",
						"name": "authorization",
						"description": "This indicates the authorization token for the input request.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "Bearer XXX"
						}
					}
				],
				"x-code-samples": [
					{
						"lang": "C#",
						"source": "var client = new RestClient(\"https://apis-sandbox.fedex.com/ship/v1/shipments/packages/validate\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"Authorization\", \"Bearer \");\nrequest.AddHeader(\"X-locale\", \"en_US\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\n// 'input' refers to JSON Payload\nrequest.AddParameter(\"application/x-www-form-urlencoded\", input, ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);\n\n\n\n\n"
					},
					{
						"lang": "JAVA",
						"source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\n// 'input' refers to JSON Payload\nRequestBody body = RequestBody.create(mediaType, input);\nRequest request = new Request.Builder()\n    .url(\"https://apis-sandbox.fedex.com/ship/v1/shipments/packages/validate\")\n    .post(body)\n    .addHeader(\"Content-Type\", \"application/json\")\n    .addHeader(\"X-locale\", \"en_US\")\n    .addHeader(\"Authorization\", \"Bearer \")\n    .build();\n            \nResponse response = client.newCall(request).execute();"
					},
					{
						"lang": "JAVASCRIPT",
						"source": "// 'input' refers to JSON Payload\nvar data = JSON.stringify(input);\n  \n  var xhr = new XMLHttpRequest();\n  xhr.withCredentials = true;\n  \n  xhr.addEventListener(\"readystatechange\", function () {\n    if (this.readyState === 4) {\n      console.log(this.responseText);\n    }\n  });\n  \n  xhr.open(\"POST\", \"https://apis-sandbox.fedex.com/ship/v1/shipments/packages/validate\");\n  xhr.setRequestHeader(\"Content-Type\", \"application/json\");\n  xhr.setRequestHeader(\"X-locale\", \"en_US\");\n  xhr.setRequestHeader(\"Authorization\", \"Bearer \");\n  \n  xhr.send(data);"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://apis-sandbox.fedex.com/ship/v1/shipments/packages/validate');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders(array(\n  'Authorization' => 'Bearer ',\n  'X-locale' => 'en_US',\n  'Content-Type' => 'application/json'\n));\n\n$request->setBody(input); // 'input' refers to JSON Payload\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
					},
					{
						"lang": "PYTHON",
						"source": "import requests\n\nurl = \"https://apis-sandbox.fedex.com/ship/v1/shipments/packages/validate\"\n\npayload = input # 'input' refers to JSON Payload\nheaders = {\n    'Content-Type': \"application/json\",\n    'X-locale': \"en_US\",\n    'Authorization': \"Bearer \"\n    }\n\nresponse = requests.post(url, data=payload, headers=headers)\n\nprint(response.text)"
					},
					{
						"lang": "RUST",
						"source": "extern crate reqwest;\n\nuse std::io::Read;\n\nfn construct_headers() -> HeaderMap {\n    let mut headers = HeaderMap::new();\n    headers.insert(\"Content-Type\", \"application/json\");\n    headers.insert(\"X-locale\", \"en_US\");\n    headers.insert(\"Authorization\", \"Bearer \");\n    headers\n}\n\nfn run() -> Result<()> {\n    let client = reqwest::Client::new();\n    let mut res = client.post(\"https://apis-sandbox.fedex.com/ship/v1/shipments/packages/validate\")\n        .body(input) // 'input' refers to JSON Payload\n        .headers(construct_headers())\n        .send()?;\n    let mut body = String::new();\n    res.read_to_string(&mut body)?;\n\n    println!(\"Status: {}\", res.status());\n    println!(\"Headers:\\n{:#?}\", res.headers());\n    println!(\"Body:\\n{}\", body);\n\n    Ok(())\n}"
					},
					{
						"lang": "SWIFT",
						"source": "import Foundation\n\nlet headers = [\n  \"Content-Type\": \"application/json\",\n  \"X-locale\": \"en_US\",\n  \"Authorization\": \"Bearer \"\n]\nlet parameters = [\n  input // 'input' refers to JSON Payload\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://apis-sandbox.fedex.com/ship/v1/shipments/packages/validate\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"POST\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
					}
				]
			}
		},
		"/ship/v1/shipments/tag": {
			"post": {
				"summary": "Create Tag",
				"description": "FedEx creates and delivers a returnnn shipping label to your customer and collects the item for return. Your customer needs to have the package ready for pickup when the FedEx driver arrives. Use this endpoint to create tag requests for FedEx Express and FedEx Ground shipments.<br><i>Note: FedEx APIs do not support Cross-Origin Resource Sharing (CORS) mechanism.</i>",
				"operationId": "Create Tag",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"oneOf": [
									{
										"$ref": "#/components/schemas/Full_Schema_Create_Tag"
									}
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SHPCResponseVO_CreateTag"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "SHIPMENT.USER.UNAUTHORIZED",
											"message": "Requested user is not authorized to perform the operation."
										}
									]
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO401"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "NOT.AUTHORIZED.ERROR",
											"message": "Access token expired. Please modify your request and try again."
										}
									]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO403"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "FORBIDDEN.ERROR",
											"message": "We could not authorize your credentials. Please check your permissions and try again."
										}
									]
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO404"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "NOT.FOUND.ERROR",
											"message": "The resource you requested is no longer available. Please modify your request and try again."
										}
									]
								}
							}
						}
					},
					"500": {
						"description": "Failure",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO500"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "INTERNAL.SERVER.ERROR",
											"message": "We encountered an unexpected error and are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					},
					"503": {
						"description": "Service Unavailable",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO503"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "SERVICE.UNAVAILABLE.ERROR",
											"message": "The service is currently unavailable and we are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					}
				},
				"parameters": [
					{
						"in": "header",
						"name": "x-customer-transaction-id",
						"description": "This element allows you to assign a unique identifier to your transaction. This element is also returned in the reply and helps you match the request to the reply.",
						"required": false,
						"schema": {
							"type": "string",
							"example": "624deea6-b709-470c-8c39-4b5511281492"
						}
					},
					{
						"in": "header",
						"name": "content-type",
						"description": "This is used to indicate the media type of the resource. The media type is a string sent along with the file indicating format of the file.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "application/json"
						}
					},
					{
						"in": "header",
						"name": "x-locale",
						"description": "This indicates the combination of language code and country code.  <a onclick='loadDocReference(\"locales\")'>Click here to see Locales</a>",
						"required": false,
						"schema": {
							"type": "string",
							"example": "en_US"
						}
					},
					{
						"in": "header",
						"name": "authorization",
						"description": "This indicates the authorization token for the input request.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "Bearer XXX"
						}
					}
				],
				"x-code-samples": [
					{
						"lang": "C#",
						"source": "var client = new RestClient(\"https://apis-sandbox.fedex.com/ship/v1/shipments/tag\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"Authorization\", \"Bearer \");\nrequest.AddHeader(\"X-locale\", \"en_US\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\n// 'input' refers to JSON Payload\nrequest.AddParameter(\"application/x-www-form-urlencoded\", input, ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);\n\n\n\n\n"
					},
					{
						"lang": "JAVA",
						"source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\n// 'input' refers to JSON Payload\nRequestBody body = RequestBody.create(mediaType, input);\nRequest request = new Request.Builder()\n    .url(\"https://apis-sandbox.fedex.com/ship/v1/shipments/tag\")\n    .post(body)\n    .addHeader(\"Content-Type\", \"application/json\")\n    .addHeader(\"X-locale\", \"en_US\")\n    .addHeader(\"Authorization\", \"Bearer \")\n    .build();\n            \nResponse response = client.newCall(request).execute();"
					},
					{
						"lang": "JAVASCRIPT",
						"source": "// 'input' refers to JSON Payload\nvar data = JSON.stringify(input);\n  \n  var xhr = new XMLHttpRequest();\n  xhr.withCredentials = true;\n  \n  xhr.addEventListener(\"readystatechange\", function () {\n    if (this.readyState === 4) {\n      console.log(this.responseText);\n    }\n  });\n  \n  xhr.open(\"POST\", \"https://apis-sandbox.fedex.com/ship/v1/shipments/tag\");\n  xhr.setRequestHeader(\"Content-Type\", \"application/json\");\n  xhr.setRequestHeader(\"X-locale\", \"en_US\");\n  xhr.setRequestHeader(\"Authorization\", \"Bearer \");\n  \n  xhr.send(data);"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://apis-sandbox.fedex.com/ship/v1/shipments/tag');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders(array(\n  'Authorization' => 'Bearer ',\n  'X-locale' => 'en_US',\n  'Content-Type' => 'application/json'\n));\n\n$request->setBody(input); // 'input' refers to JSON Payload\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
					},
					{
						"lang": "PYTHON",
						"source": "import requests\n\nurl = \"https://apis-sandbox.fedex.com/ship/v1/shipments/tag\"\n\npayload = input # 'input' refers to JSON Payload\nheaders = {\n    'Content-Type': \"application/json\",\n    'X-locale': \"en_US\",\n    'Authorization': \"Bearer \"\n    }\n\nresponse = requests.post(url, data=payload, headers=headers)\n\nprint(response.text)"
					},
					{
						"lang": "RUST",
						"source": "extern crate reqwest;\n\nuse std::io::Read;\n\nfn construct_headers() -> HeaderMap {\n    let mut headers = HeaderMap::new();\n    headers.insert(\"Content-Type\", \"application/json\");\n    headers.insert(\"X-locale\", \"en_US\");\n    headers.insert(\"Authorization\", \"Bearer \");\n    headers\n}\n\nfn run() -> Result<()> {\n    let client = reqwest::Client::new();\n    let mut res = client.post(\"https://apis-sandbox.fedex.com/ship/v1/shipments/tag\")\n        .body(input) // 'input' refers to JSON Payload\n        .headers(construct_headers())\n        .send()?;\n    let mut body = String::new();\n    res.read_to_string(&mut body)?;\n\n    println!(\"Status: {}\", res.status());\n    println!(\"Headers:\\n{:#?}\", res.headers());\n    println!(\"Body:\\n{}\", body);\n\n    Ok(())\n}"
					},
					{
						"lang": "SWIFT",
						"source": "import Foundation\n\nlet headers = [\n  \"Content-Type\": \"application/json\",\n  \"X-locale\": \"en_US\",\n  \"Authorization\": \"Bearer \"\n]\nlet parameters = [\n  input // 'input' refers to JSON Payload\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://apis-sandbox.fedex.com/ship/v1/shipments/tag\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"POST\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
					}
				]
			}
		},
		"/ship/v1/shipments/tag/cancel/{shipmentid}": {
			"put": {
				"summary": "Cancel Tag",
				"description": "This endpoint cancels a FedEx Return Tag and the associated pickup for FedEx Express and FedEx Ground shipments if the shipment has not yet been picked up by the courier.<br><i>Note: FedEx APIs do not support Cross-Origin Resource Sharing (CORS) mechanism.</i>",
				"operationId": "CancelTag",
				"parameters": [
					{
						"name": "shipmentid",
						"in": "path",
						"required": true,
						"style": "simple",
						"explode": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"in": "header",
						"name": "x-customer-transaction-id",
						"description": "This element allows you to assign a unique identifier to your transaction. This element is also returned in the reply and helps you match the request to the reply.",
						"required": false,
						"schema": {
							"type": "string",
							"example": "624deea6-b709-470c-8c39-4b5511281492"
						}
					},
					{
						"in": "header",
						"name": "content-type",
						"description": "This is used to indicate the media type of the resource. The media type is a string sent along with the file indicating format of the file.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "application/json"
						}
					},
					{
						"in": "header",
						"name": "x-locale",
						"description": "This indicates the combination of language code and country code.  <a onclick='loadDocReference(\"locales\")'>Click here to see Locales</a>",
						"required": false,
						"schema": {
							"type": "string",
							"example": "en_US"
						}
					},
					{
						"in": "header",
						"name": "authorization",
						"description": "This indicates the authorization token for the input request.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "Bearer XXX"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"oneOf": [
									{
										"$ref": "#/components/schemas/FullSchema-CancelTag"
									}
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/SHPCResponseVO"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "SHIPMENT.USER.UNAUTHORIZED",
											"message": "Requested user is not authorized to perform the operation."
										}
									]
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO401_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "NOT.AUTHORIZED.ERROR",
											"message": "Access token expired. Please modify your request and try again."
										}
									]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO403_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "FORBIDDEN.ERROR",
											"message": "We could not authorize your credentials. Please check your permissions and try again."
										}
									]
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO404_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "NOT.FOUND.ERROR",
											"message": "The resource you requested is no longer available. Please modify your request and try again."
										}
									]
								}
							}
						}
					},
					"500": {
						"description": "Failure",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO500_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "INTERNAL.SERVER.ERROR",
											"message": "We encountered an unexpected error and are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					},
					"503": {
						"description": "Service Unavailable",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO503_2"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "SERVICE.UNAVAILABLE.ERROR",
											"message": "The service is currently unavailable and we are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					}
				},
				"x-code-samples": [
					{
						"lang": "C#",
						"source": "var client = new RestClient(\"https://apis-sandbox.fedex.com/ship/v1/shipments/tag/cancel/{shipmentid}\");\nvar request = new RestRequest(Method.PUT);\nrequest.AddHeader(\"Authorization\", \"Bearer \");\nrequest.AddHeader(\"X-locale\", \"en_US\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\n// 'input' refers to JSON Payload\nrequest.AddParameter(\"application/x-www-form-urlencoded\", input, ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);"
					},
					{
						"lang": "JAVA",
						"source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\n// 'input' refers to JSON Payload\nRequestBody body = RequestBody.create(mediaType, input);\nRequest request = new Request.Builder()\n  .url(\"https://apis-sandbox.fedex.com/ship/v1/shipments/tag/cancel/{shipmentid}\")\n  .put(body)\n  .addHeader(\"Content-Type\", \"application/json\")\n  .addHeader(\"X-locale\", \"en_US\")\n  .addHeader(\"Authorization\", \"Bearer \")\n  .build();\n\nResponse response = client.newCall(request).execute();"
					},
					{
						"lang": "JAVASCRIPT",
						"source": "// 'input' refers to JSON Payload\nvar data = JSON.stringify(input);\n  \n  var xhr = new XMLHttpRequest();\n  xhr.withCredentials = true;\n  \n  xhr.addEventListener(\"readystatechange\", function () {\n    if (this.readyState === 4) {\n      console.log(this.responseText);\n    }\n  });\n  \n  xhr.open(\"PUT\", \"https://apis-sandbox.fedex.com/ship/v1/shipments/tag/cancel/{shipmentid}\");\n  xhr.setRequestHeader(\"Content-Type\", \"application/json\");\n  xhr.setRequestHeader(\"X-locale\", \"en_US\");\n  xhr.setRequestHeader(\"Authorization\", \"Bearer \");\n  \n  xhr.send(data);"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://apis-sandbox.fedex.com/ship/v1/shipments/tag/cancel/{shipmentid}');\n$request->setMethod(HTTP_METH_PUT);\n\n$request->setHeaders(array(\n  'Authorization' => 'Bearer ',\n  'X-locale' => 'en_US',\n  'Content-Type' => 'application/json'\n));\n\n$request->setBody(input); // 'input' refers to JSON Payload\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
					},
					{
						"lang": "PYTHON",
						"source": "import requests\n\nurl = \"https://apis-sandbox.fedex.com/ship/v1/shipments/tag/cancel/{shipmentid}\"\n\npayload = input # 'input' refers to JSON Payload\nheaders = {\n    'Content-Type': \"application/json\",\n    'X-locale': \"en_US\",\n    'Authorization': \"Bearer \"\n    }\n\nresponse = requests.put(url, data=payload, headers=headers)\n\nprint(response.text)"
					},
					{
						"lang": "RUST",
						"source": "extern crate reqwest;\n\nuse std::io::Read;\n\nfn construct_headers() -> HeaderMap {\n    let mut headers = HeaderMap::new();\n    headers.insert(\"Content-Type\", \"application/json\");\n    headers.insert(\"X-locale\", \"en_US\");\n    headers.insert(\"Authorization\", \"Bearer \");\n    headers\n}\n\nfn run() -> Result<()> {\n    let client = reqwest::Client::new();\n    let mut res = client.put(\"https://apis-sandbox.fedex.com/ship/v1/shipments/tag/cancel/{shipmentid}\")\n        .body(input) // 'input' refers to JSON Payload\n        .headers(construct_headers())\n        .send()?;\n    let mut body = String::new();\n    res.read_to_string(&mut body)?;\n\n    println!(\"Status: {}\", res.status());\n    println!(\"Headers:\\n{:#?}\", res.headers());\n    println!(\"Body:\\n{}\", body);\n\n    Ok(())\n}"
					},
					{
						"lang": "SWIFT",
						"source": "import Foundation\n\nlet headers = [\n  \"Content-Type\": \"application/json\",\n  \"X-locale\": \"en_US\",\n  \"Authorization\": \"Bearer \"\n]\nlet parameters = [\n  input // 'input' refers to JSON Payload\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://apis-sandbox.fedex.com/ship/v1/shipments/tag/cancel/{shipmentid}\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"PUT\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
					}
				]
			}
		}
	},
	"components": {
		"schemas": {
			"Full_Schema_Ship": {
				"required": [
					"accountNumber",
					"labelResponseOptions",
					"requestedShipment"
				],
				"type": "object",
				"properties": {
					"mergeLabelDocOption": {
						"type": "string",
						"description": "It specifies the content of the merged pdf URL in the response. The merged pdf URL is generated only if the labelResponseOption is indicated as URL_ONLY.<ul><li>If the value is 'LABELS_AND_DOCS', then merged (all shipping labels and shipping documents) pdf URL will be returned.</li><li>If the value is 'LABELS_ONLY', merged (all shipping labels only) pdf URL will be returned.</li><li>If the value is 'NONE', then no merged pdf URL will be returned.</li></ul><br>This is optional field and will default to LABELS_AND_DOCS.<br>Note: If the value is 'LABELS_ONLY', then the returned merged pdf label will not be in the Base64 encoded format.",
						"example": "LABELS_AND_DOCS",
						"enum": [
							"NONE",
							"LABELS_AND_DOCS",
							"LABELS_ONLY"
						]
					},
					"requestedShipment": {
						"$ref": "#/components/schemas/RequestedShipment_1"
					},
					"labelResponseOptions": {
						"$ref": "#/components/schemas/LABELRESPONSEOPTIONS"
					},
					"accountNumber": {
						"$ref": "#/components/schemas/ShipperAccountNumber"
					},
					"shipAction": {
						"$ref": "#/components/schemas/OpenShipmentAction"
					},
					"processingOptionType": {
						"$ref": "#/components/schemas/AsynchronousProcessingOptionType_1"
					},
					"oneLabelAtATime": {
						"type": "boolean",
						"description": "This flag is used to specify if the shipment is singleshot mps or one Label at a time, piece by piece shipment. Default is false. If true, one label at a time is processed.",
						"example": true
					},
					"version1": {
						"$ref": "#/components/schemas/version1"
					}
				},
				"description": "The request elements required to create a shipment."
			},
			"RequestedShipment_1": {
				"required": [
					"labelSpecification",
					"packagingType",
					"pickupType",
					"recipients",
					"requestedPackageLineItems",
					"serviceType",
					"shipper",
					"shippingChargesPayment",
					"totalWeight"
				],
				"type": "object",
				"properties": {
					"shipDatestamp": {
						"type": "string",
						"description": "This is the shipment date. Default value is current date in case the date is not provided or a past date is provided.<br>Format [YYYY-MM-DD].<br>Example: 2019-10-14",
						"example": "2019-10-14"
					},
					"totalDeclaredValue": {
						"description": "It is the sum of all declared values of all packages in a shipment. The amount of totalDeclaredValue must be equal to the sum of all the individual declaredValues in the shipment. The declaredValue and totalDeclaredValue must match in all currencies in one shipment. This value represents FedEx maximum liability associated with a shipment. This is including, but not limited to any loss, damage, delay, misdelivery, any failure to provide information, or misdelivery of information related to the Shipment.<br><i>Note: The totalDeclaredValue should not exceed customsValue.</i>",
						"allOf": [
							{
								"$ref": "#/components/schemas/Money"
							}
						]
					},
					"shipper": {
						"description": "Indicate the Shipper contact details for this shipment.",
						"example": {
							"address": {
								"streetLines": [
									"10 FedEx Parkway",
									"Suite 302"
								],
								"city": "Beverly Hills",
								"stateOrProvinceCode": "CA",
								"postalCode": "90210",
								"countryCode": "US",
								"residential": false
							},
							"contact": {
								"personName": "John Taylor",
								"emailAddress": "sample@company.com",
								"phoneExtension": "91",
								"phoneNumber": "XXXX567890",
								"companyName": "Fedex"
							},
							"tins": [
								{
									"number": "XXX567",
									"tinType": "FEDERAL",
									"usage": "usage",
									"effectiveDate": "2024-06-13",
									"expirationDate": "2024-06-13"
								}
							]
						},
						"allOf": [
							{
								"$ref": "#/components/schemas/ShipperParty"
							}
						]
					},
					"recipients": {
						"type": "array",
						"description": "Indicate the descriptive data for the recipient location to which the shipment is to be received.",
						"items": {
							"$ref": "#/components/schemas/RecipientsParty"
						}
					},
					"soldTo": {
						"description": "Will indicate the party responsible for purchasing the goods shipped from the shipper to the recipient. The sold to party is not necessarily the recipient or the importer of record. The sold to party is relevant when the purchaser, rather than the recipient determines when certain customs regulations apply.",
						"allOf": [
							{
								"$ref": "#/components/schemas/SoldToParty"
							}
						]
					},
					"recipientLocationNumber": {
						"type": "string",
						"description": "A unique identifier for a recipient location.<br>Example:1234567",
						"example": "1234567"
					},
					"pickupType": {
						"type": "string",
						"description": "Indicates if shipment is being dropped off at a FedEx location or being picked up by FedEx or if it's a regularly scheduled pickup for this shipment. Required for FedEx Express and Ground Shipment.<br>Example: USE_SCHEDULED_PICKUP",
						"example": "USE_SCHEDULED_PICKUP",
						"enum": [
							"CONTACT_FEDEX_TO_SCHEDULE",
							"DROPOFF_AT_FEDEX_LOCATION",
							"USE_SCHEDULED_PICKUP"
						]
					},
					"serviceType": {
						"type": "string",
						"description": "Indicate the FedEx service type used for this shipment.<br>Example: STANDARD_OVERNIGHT<br><a onclick='loadDocReference(\"servicetypes\")'>click here to see Service Types</a>",
						"example": "PRIORITY_OVERNIGHT"
					},
					"packagingType": {
						"type": "string",
						"description": "Specify the packaging used.<br>Note: For Express Freight shipments, the packaging will default to YOUR_PACKAGING irrespective of the user provided package type in the request.<br>Example: FEDEX_PAK<br><a onclick='loadDocReference(\"packagetypes\")'>click here to see Package Types</a>",
						"example": "YOUR_PACKAGING"
					},
					"totalWeight": {
						"type": "number",
						"description": "Indicate the shipment total weight in pounds.<br>Example: 10.6<br>Note: <ul><li>This only applies to International shipments and should be used on the first package of a multiple piece shipment.</li><li>This value contains 1 explicit decimal position.</li><li>For one Label at a time shipments, the unit of totalWeight is considered same as the unit of weight provided in requestedPackageLineItem field.</li></ul>",
						"format": "double",
						"example": 20.6
					},
					"origin": {
						"description": "Indicate shipment origin address information, if it is different from the shipper address.",
						"allOf": [
							{
								"$ref": "#/components/schemas/ContactAndAddress_1"
							}
						]
					},
					"shippingChargesPayment": {
						"$ref": "#/components/schemas/Payment"
					},
					"shipmentSpecialServices": {
						"$ref": "#/components/schemas/ShipmentSpecialServicesRequested"
					},
					"emailNotificationDetail": {
						"$ref": "#/components/schemas/ShipShipmentEMailNotificationDetail"
					},
					"expressFreightDetail": {
						"$ref": "#/components/schemas/ExpressFreightDetail"
					},
					"variableHandlingChargeDetail": {
						"$ref": "#/components/schemas/VariableHandlingChargeDetail"
					},
					"customsClearanceDetail": {
						"$ref": "#/components/schemas/CustomsClearanceDetail"
					},
					"smartPostInfoDetail": {
						"$ref": "#/components/schemas/SmartPostInfoDetail"
					},
					"blockInsightVisibility": {
						"type": "boolean",
						"description": "If true, only the shipper/payer will have visibility of this shipment.<br>Valid Value : true, false.<br> Default:false<br>Example: true",
						"example": true
					},
					"labelSpecification": {
						"$ref": "#/components/schemas/LabelSpecification"
					},
					"shippingDocumentSpecification": {
						"$ref": "#/components/schemas/ShippingDocumentSpecification"
					},
					"rateRequestType": {
						"type": "array",
						"description": "Indicate the type of rates to be returned. The account specific rates are returned by default if the account number is specified in the request.<br>Following are values:<ul><li>LIST - Returns FedEx published list rates in addition to account-specific rates (if applicable).</li><li>INCENTIVE - This is one-time discount for incentivising the customer. For more information, contact your FedEx representative.</li><li>ACCOUNT - Returns account specific rates (Default).</li><li>PREFERRED - Returns rates in the preferred currency specified in the element preferredCurrency.</li><li>RETAIL - Returns customer rate from one of retail FedEx service centers.</li></ul>Examples: [\"ACCOUNT\", \"PREFERRED\"]",
						"example": [
							"LIST",
							"PREFERRED"
						],
						"items": {
							"type": "string",
							"enum": [
								"LIST",
								"NONE",
								"PREFERRED",
								"ACCOUNT",
								"INCENTIVE",
								"RETAIL"
							]
						}
					},
					"preferredCurrency": {
						"type": "string",
						"description": "Indicate the currency the caller requests to have used in all returned monetary values. Should be Used in conjunction with the element RateRequestType.<br>Example: USD<br><a onclick='loadDocReference(\"currencycodes\")'>click here to see available Currency codes</a><br>Note: Incorrect currency codes should not be supplied. The system ignores the incorrect currency code.",
						"example": "USD"
					},
					"totalPackageCount": {
						"type": "integer",
						"description": "For an MPS, this is the total number of packages in the shipment.Applicable for parent shipment for one label at a time shipments. <br>Example: 25",
						"format": "int32",
						"example": 25
					},
					"masterTrackingId": {
						"$ref": "#/components/schemas/MasterTrackingId"
					},
					"requestedPackageLineItems": {
						"type": "array",
						"description": "These are one or more package-attribute descriptions, each of which describes an individual package, a group of identical packages, or (for the total-piece-total-weight case) common characteristics of all packages in the shipment.<ul><li>At least one instance containing the weight for at least one package is required for EXPRESS and GROUND shipments.</li><li>Single piece requests will have one RequestedPackageLineItem.</li><li>Multiple piece requests will have multiple RequestedPackageLineItems.</li><li>Maximum occurrences is 30.</li></ul>",
						"items": {
							"$ref": "#/components/schemas/RequestedPackageLineItem"
						}
					}
				},
				"description": "The descriptive data of the requested shipment."
			},
			"Money": {
				"type": "object",
				"properties": {
					"amount": {
						"type": "number",
						"description": "This is the amount. Maximum limit is 5 digits before decimal.<br>Example: 12.45",
						"format": "double",
						"example": 12.45
					},
					"currency": {
						"type": "string",
						"description": "This is the currency code for the amount.<br>Example: USD<br><a onclick='loadDocReference(\"currencycodes\")'>Click here to see Currency codes</a>",
						"example": "USD"
					}
				},
				"description": "This customs value is applicable for all items(or units) under the specified commodity"
			},
			"Customs_Money": {
				"type": "object",
				"properties": {
					"amount": {
						"type": "number",
						"description": "This is commodity value in amount used for Customs declaration.<br>Max limit: 11 digits before decimal.<br>Example: 1,55,6457.25",
						"format": "double",
						"example": "1556.25"
					},
					"currency": {
						"type": "string",
						"description": "This is the currency code for the amount.<br>Example: USD<br><a onclick='loadDocReference(\"currencycodes\")'>Click here to see Currency codes</a>",
						"example": "USD"
					}
				},
				"description": "This customs value is applicable for all items(or units) under the specified commodity."
			},
			"ShipperParty": {
				"required": [
					"address",
					"contact"
				],
				"type": "object",
				"properties": {
					"address": {
						"$ref": "#/components/schemas/PartyAddress_2"
					},
					"contact": {
						"$ref": "#/components/schemas/PartyContact"
					},
					"tins": {
						"type": "array",
						"description": "This is the tax identification number details.",
						"items": {
							"$ref": "#/components/schemas/TaxpayerIdentification"
						}
					}
				},
				"description": "Indicate the Shipper contact details for this shipment.",
				"example": {
					"address": {
						"streetLines": [
							"10 FedEx Parkway",
							"Suite 302"
						],
						"city": "Beverly Hills",
						"stateOrProvinceCode": "CA",
						"postalCode": "90210",
						"countryCode": "US",
						"residential": false
					},
					"contact": {
						"personName": "John Taylor",
						"emailAddress": "sample@company.com",
						"phoneExtension": "000",
						"phoneNumber": "XXXX345671",
						"companyName": "Fedex"
					},
					"tins": [
						{
							"number": "123567",
							"tinType": "FEDERAL",
							"usage": "usage",
							"effectiveDate": "2000-01-23T04:56:07.000+00:00",
							"expirationDate": "2000-01-23T04:56:07.000+00:00"
						}
					]
				}
			},
			"SoldToParty": {
				"description": "Will indicate the party responsible for purchasing the goods shipped from the shipper to the recipient. The sold to party is not necessarily the recipient or the importer of record. The sold to party is relevant when the purchaser, rather than the recipient determines when certain customs regulations apply.",
				"type": "object",
				"properties": {
					"address": {
						"$ref": "#/components/schemas/PartyAddress"
					},
					"contact": {
						"$ref": "#/components/schemas/PartyContact"
					},
					"tins": {
						"description": "Used for adding the tax id",
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/TaxpayerIdentification"
						}
					},
					"accountNumber": {
						"description": "Identification of a specific FedEx customer account.",
						"$ref": "#/components/schemas/AccountNumber"
					}
				}
			},
			"PartyAddress": {
				"required": [
					"city",
					"countryCode",
					"streetLines"
				],
				"type": "object",
				"properties": {
					"streetLines": {
						"type": "array",
						"description": "Combination of number, street name, etc. At least one line is required for a valid physical address. Empty lines should not be included. Max Length is 35.<br>Example: [1550 Union Blvd,Suite 302]",
						"example": "1550 Union Blvd, Suite 302",
						"items": {
							"type": "string"
						}
					},
					"city": {
						"type": "string",
						"maxLength": 35,
						"description": "The name of city, town of the recipient.Max length is 35.<br>Example: Beverly Hills",
						"example": "Beverly Hills"
					},
					"stateOrProvinceCode": {
						"type": "string",
						"description": "The US States,Canada and Puerto Rico Province codes of the recipient. The Format and presence of this field may vary depending on the country.State code is required for US, CA, PR and not required for other countries. Conditional.<br>Example: CA",
						"example": "CA"
					},
					"postalCode": {
						"type": "string",
						"description": "This is the postal code.<br>Note: This is Optional for non postal-aware countries. Maximum length is 10.<br>Example: 65247<br><a onclick='loadDocReference(\"postalawarecountries\")'>click here to see Postal aware countries</a>",
						"example": "90210"
					},
					"countryCode": {
						"type": "string",
						"description": "This is the two-letter country code.<br>Maximum length is 2.<br>Example: US<br><a onclick='loadDocReference(\"countrycodes\")'>click here to see Country codes</a>",
						"example": "US"
					},
					"residential": {
						"type": "boolean",
						"description": "Indicates whether this address is residential (as opposed to commercial).<br>Example: false",
						"example": false
					}
				},
				"description": "This is detailed information on physical location. May be used as an actual physical address (place to which one could go), or as a container of address parts which should be handled as a unit (such as a city-state-ZIP combination within the US).",
				"example": {
					"streetLines": [
						"10 FedEx Parkway",
						"Suite 302"
					],
					"city": "Beverly Hills",
					"stateOrProvinceCode": "CA",
					"postalCode": "90210",
					"countryCode": "US",
					"residential": false
				}
			},
			"PartyAddress_2": {
				"required": [
					"city",
					"countryCode",
					"streetLines"
				],
				"type": "object",
				"properties": {
					"streetLines": {
						"type": "array",
						"description": "Combination of number, street name, etc. At least one line is required for a valid physical address. Empty lines should not be included. Max Length is 35.<br>Example: [1550 Union Blvd,Suite 302]",
						"example": "1550 Union Blvd, Suite 302",
						"items": {
							"type": "string"
						}
					},
					"city": {
						"type": "string",
						"maxLength": 35,
						"description": "The name of city, town of the recipient.Max length is 35.<br>Example: Beverly Hills",
						"example": "Beverly Hills"
					},
					"stateOrProvinceCode": {
						"type": "string",
						"description": "It is used to identify the principal subdivisions (e.g., provinces or states) of countries. The Format and presence of this field may vary depending on the country. Note: For specific countries, such as the United States and Canada, and Puerto Rico, there is a two-character state, province, codes limit . Example: TX",
						"example": "CA"
					},
					"postalCode": {
						"type": "string",
						"description": "This is the postal code.<br>Note: This is Optional for non postal-aware countries. Maximum length is 10.<br>Example: 65247<br><a onclick='loadDocReference(\"postalawarecountries\")'>click here to see Postal aware countries</a>",
						"example": "90210"
					},
					"countryCode": {
						"type": "string",
						"description": "This is the two-letter country code.<br>Maximum length is 2.<br>Example: US<br><a onclick='loadDocReference(\"countrycodes\")'>click here to see Country codes</a>",
						"example": "US"
					},
					"residential": {
						"type": "boolean",
						"description": "Indicates whether this address is residential (as opposed to commercial).<br>Example: false",
						"example": false
					}
				},
				"description": "This is detailed information on physical location. May be used as an actual physical address (place to which one could go), or as a container of address parts which should be handled as a unit (such as a city-state-ZIP combination within the US).",
				"example": {
					"streetLines": [
						"10 FedEx Parkway",
						"Suite 302"
					],
					"city": "Beverly Hills",
					"stateOrProvinceCode": "CA",
					"postalCode": "90210",
					"countryCode": "US",
					"residential": false
				}
			},
			"PartyContact": {
				"required": [
					"phoneNumber"
				],
				"type": "object",
				"properties": {
					"personName": {
						"type": "string",
						"description": "Specify contact name. Maximum length is 70. <br>Note: Either the companyName or personName is mandatory.<br> Example: John Taylor",
						"example": "John Taylor"
					},
					"emailAddress": {
						"type": "string",
						"description": "Specify contact email address. Maximum length is 80. <br> Example: sample@company.com",
						"example": "sample@company.com"
					},
					"phoneExtension": {
						"type": "string",
						"description": "Specify contact phone extension. Maximum length is 6. <br> Example: 1234",
						"example": "91"
					},
					"phoneNumber": {
						"type": "string",
						"description": "The shipper's phone number. <br>Minimum length is 10 and supports maximum of 15 for certain countries using longer phone numbers.<br>Note: For US and CA, a phone number must have exactly 10 digits, plus an optional leading country code of '1' or '+1'.<br>Example: 918xxxxx890",
						"example": "918xxxxx890"
					},
					"companyName": {
						"type": "string",
						"description": "The shipper's company name. Max length is 35.<br>Example: FedEx",
						"example": "Fedex"
					}
				},
				"description": "Indicate the contact details for this shipment.",
				"example": {
					"personName": "John Taylor",
					"emailAddress": "sample@company.com",
					"phoneExtension": "91",
					"phoneNumber": "1234567890",
					"companyName": "Fedex"
				}
			},
			"TaxpayerIdentification": {
				"type": "object",
				"required": [
					"number",
					"tinType"
				],
				"properties": {
					"number": {
						"type": "string",
						"description": "Specify tax ID number. Maximum length is 18. <br>Example: 123567",
						"example": "123567"
					},
					"tinType": {
						"type": "string",
						"description": "Identifies the type of Tax Identification Number in Shipment processing.<br>Example: FEDERAL",
						"example": "FEDERAL",
						"enum": [
							"PERSONAL_NATIONAL",
							"PERSONAL_STATE",
							"FEDERAL",
							"BUSINESS_NATIONAL",
							"BUSINESS_STATE",
							"BUSINESS_UNION"
						]
					},
					"usage": {
						"type": "string",
						"description": "Identifies the usage of Tax Identification Number in Shipment processing.<br>Example: usage",
						"example": "usage"
					},
					"effectiveDate": {
						"type": "string",
						"description": "Effective Date. FORMAT[YYYY-MM-DD] <br>Example: 2024-06-13",
						"format": "Date",
						"example": "2024-06-13"
					},
					"expirationDate": {
						"type": "string",
						"description": "Expiration Date. FORMAT[YYYY-MM-DD]<br>Example: 2024-06-13",
						"format": "Date",
						"example": "2024-06-13"
					}
				},
				"example": {
					"number": "123567",
					"tinType": "FEDERAL",
					"usage": "usage",
					"effectiveDate": "2000-01-23T04:56:07.000+00:00",
					"expirationDate": "2000-01-23T04:56:07.000+00:00"
				}
			},
			"RecipientsParty": {
				"required": [
					"address",
					"contact"
				],
				"type": "object",
				"properties": {
					"address": {
						"$ref": "#/components/schemas/PartyAddress_2"
					},
					"contact": {
						"$ref": "#/components/schemas/PartyContact"
					},
					"tins": {
						"type": "array",
						"description": "This is the tax identification number details.",
						"items": {
							"$ref": "#/components/schemas/TaxpayerIdentification"
						}
					},
					"deliveryInstructions": {
						"type": "string",
						"description": "Specify the delivery instructions to be added with the shipment. Use with Ground Home Delivery.<br>Example: Delivery Instructions",
						"example": "Instruction 1"
					}
				},
				"description": "The descriptive information of the recipient for the shipment and the physical location for the package destination.",
				"example": {
					"address": {
						"streetLines": [
							"10 FedEx Parkway",
							"Suite 302"
						],
						"city": "Beverly Hills",
						"stateOrProvinceCode": "CA",
						"postalCode": "90210",
						"countryCode": "US",
						"residential": false
					},
					"contact": {
						"personName": "John Taylor",
						"emailAddress": "sample@company.com",
						"phoneExtension": "000",
						"phoneNumber": "XXXX345671",
						"companyName": "FedEx"
					},
					"tins": [
						{
							"number": "123567",
							"tinType": "FEDERAL",
							"usage": "usage",
							"effectiveDate": "2000-01-23T04:56:07.000+00:00",
							"expirationDate": "2000-01-23T04:56:07.000+00:00"
						}
					],
					"deliveryInstructions": "Delivery Instructions"
				}
			},
			"ContactAndAddress_1": {
				"type": "object",
				"properties": {
					"contact": {
						"$ref": "#/components/schemas/Contact_2"
					},
					"address": {
						"$ref": "#/components/schemas/Address_1"
					}
				},
				"description": "Specifies the contact and address details of a location.",
				"example": {
					"address": {
						"streetLines": [
							"10 FedEx Parkway",
							"Suite 302"
						],
						"city": "Beverly Hills",
						"stateOrProvinceCode": "CA",
						"postalCode": "38127",
						"countryCode": "US",
						"residential": false
					},
					"contact": {
						"personName": "person name",
						"emailAddress": "email address",
						"phoneNumber": "phone number",
						"phoneExtension": "phone extension",
						"companyName": "company name",
						"faxNumber": "fax number"
					}
				}
			},
			"Contact_2": {
				"type": "object",
				"properties": {
					"personName": {
						"type": "string",
						"description": "Specify contact person name.<br>Recommended length is 70. <br>Note: There's no specific validation for the person name.<br> Example: John Taylor",
						"example": "John Taylor"
					},
					"emailAddress": {
						"type": "string",
						"description": "Specify contact email address. Maximum length is 80. <br> Example: sample@company.com",
						"example": "sample@company.com"
					},
					"phoneNumber": {
						"type": "string",
						"description": "Specify contact phone number. <br>Minimum length is 10 and supports maximum of 15 for certain countries using longer phone numbers. <br>Note: Recommended Maximum length is 15 and there's no specific validation will be done for the phone number. <br> Example: 918xxxxx890",
						"example": "1234567890"
					},
					"phoneExtension": {
						"type": "string",
						"description": "Specify contact phone extension. <br>Note: Recommended length is 6. There's no specific validation for the phone extension. <br> Example: 1234",
						"example": "91"
					},
					"faxNumber": {
						"type": "string",
						"description": "Specify contact fax number.<br>Note: Recommended length is 15. There's no specific validation for the fax number.<br> Example: 1234567890",
						"example": "956123"
					},
					"companyName": {
						"type": "string",
						"description": "Specify contact company name.<br>Recommended length is 35.<br>Note: There's no specific validation for the company name.<br>Example: FedEx",
						"example": "Fedex"
					}
				},
				"description": "Indicate the contact details of the shipper.",
				"example": {
					"personName": "John Taylor",
					"emailAddress": "sample@company.com",
					"phoneNumber": "1234567890",
					"phoneExtension": 1234,
					"faxNumber": "1234567890",
					"companyName": "Fedex"
				}
			},
			"Address_1": {
				"type": "object",
				"properties": {
					"streetLines": {
						"type": "array",
						"description": "This is the combination of number, street name, etc. <br>Note: At least one line is required and streetlines more than 3 will be ignored. Empty lines should not be included. Maximum length per line is 35.<br>Example: [10 FedEx Parkway, Suite 302, .etc.]",
						"example": [
							"Bldg. 10",
							"10 FedEx Parkway"
						],
						"items": {
							"type": "string"
						}
					},
					"city": {
						"type": "string",
						"description": "This is a placeholder for City Name.<br>Note: This is conditional and not required in all the requests.<br>Note: It is recommended for Express shipments for the most accurate ODA and OPA surcharges.<br>Example: Beverly Hills",
						"example": "Beverly Hills"
					},
					"stateOrProvinceCode": {
						"type": "string",
						"description": "This is a placeholder for State or Province code.State code is required for US, CA, PR and not required for other countries. Conditional.<br>Example: CA<br><a onclick='loadDocReference(\"canadaprovincecodes\")'>click here to see State or Province Code</a>",
						"example": "CA"
					},
					"postalCode": {
						"type": "string",
						"description": "Indicate the Postal code. This is Optional for non postal-aware countries. Maximum length is 10.<br> Example: 65247<br><a onclick='loadDocReference(\"postalawarecountries\")'>click here to see Postal aware countries</a>",
						"example": "38127"
					},
					"countryCode": {
						"type": "string",
						"description": "This is the two-letter country code.<br>Maximum length is 2.<br>Example: US<br><a onclick='loadDocReference(\"countrycodes\")'>click here to see Country codes</a>",
						"example": "US"
					},
					"residential": {
						"type": "boolean",
						"description": "Indicates whether this address is residential (as opposed to commercial).<br> Example: false",
						"example": false
					}
				},
				"description": "This is detailed information on physical location. May be used as an actual physical address (place to which one could go), or as a container of address parts which should be handled as a unit (such as a city-state-ZIP combination within the U.S.)."
			},
			"Payment": {
				"required": [
					"paymentType"
				],
				"type": "object",
				"properties": {
					"paymentType": {
						"type": "string",
						"description": "Indicates who and how the shipment will be paid for.Required for Express and Ground.<br>Example: SENDER",
						"enum": [
							"SENDER",
							"RECIPIENT",
							"THIRD_PARTY",
							"COLLECT"
						],
						"example": "SENDER"
					},
					"payor": {
						"$ref": "#/components/schemas/Payor"
					}
				},
				"description": "Specifies the payment details specifying the method and means of payment to FedEx for providing shipping services.",
				"example": {
					"paymentType": "SENDER",
					"payor": {
						"responsibleParty": {
							"address": {
								"streetLines": [
									"10 FedEx Parkway",
									"Suite 302"
								],
								"city": "Beverly Hills",
								"stateOrProvinceCode": "CA",
								"postalCode": "90210",
								"countryCode": "US",
								"residential": false
							},
							"contact": {
								"personName": "John Taylor",
								"emailAddress": "sample@company.com",
								"phoneNumber": "XXXX567890",
								"phoneExtension": "phone extension",
								"companyName": "Fedex",
								"faxNumber": "fax number"
							},
							"accountNumber": {
								"value": "Your account number"
							}
						}
					}
				}
			},
			"Payor": {
				"required": [
					"responsibleParty"
				],
				"type": "object",
				"properties": {
					"responsibleParty": {
						"$ref": "#/components/schemas/ResponsiblePartyParty"
					}
				},
				"description": "Payor is mandatory when the paymentType is RECIPIENT, THIRD_PARTY or COLLECT.",
				"example": {
					"responsibleParty": {
						"address": {
							"streetLines": [
								"10 FedEx Parkway",
								"Suite 302"
							],
							"city": "Beverly Hills",
							"stateOrProvinceCode": "CA",
							"postalCode": "90210",
							"countryCode": "US",
							"residential": false
						},
						"contact": {
							"personName": "John Taylor",
							"emailAddress": "sample@company.com",
							"phoneNumber": "XXXX567890",
							"phoneExtension": "phone extension",
							"companyName": "Fedex",
							"faxNumber": "fax number"
						},
						"accountNumber": {
							"value": "Your account number"
						}
					}
				}
			},
			"ResponsiblePartyParty": {
				"required": [
					"accountNumber"
				],
				"type": "object",
				"properties": {
					"address": {
						"$ref": "#/components/schemas/PartyAddress"
					},
					"contact": {
						"$ref": "#/components/schemas/PartyContact"
					},
					"accountNumber": {
						"$ref": "#/components/schemas/PartyAccountNumber"
					}
				},
				"description": "Indicate the payer Information responsible for paying for the shipment. <br>Note: ResponsibleParty accountNumber is required for ACCOUNT based services.",
				"example": {
					"address": {
						"streetLines": [
							"10 FedEx Parkway",
							"Suite 302"
						],
						"city": "Beverly Hills",
						"stateOrProvinceCode": "CA",
						"postalCode": "90210",
						"countryCode": "US",
						"residential": false
					},
					"contact": {
						"personName": "John Taylor",
						"emailAddress": "sample@company.com",
						"phoneExtension": "000",
						"phoneNumber": "XXXX345671",
						"companyName": "FedEx"
					},
					"accountNumber": {
						"value": "Your account number"
					}
				}
			},
			"PartyAccountNumber": {
				"type": "object",
				"properties": {
					"value": {
						"type": "string",
						"description": "Conditional.<br> The account number value.<br> Max Length is 9.<br>Example: 12XXXXX89",
						"example": "12XXXXX89"
					}
				},
				"description": "This is FedEx Account number details.",
				"example": {
					"value": "Your account number"
				}
			},
			"PartyAccountNumber_1": {
				"type": "object",
				"properties": {
					"value": {
						"type": "string",
						"description": "Conditional.<br> The account number value.<br> Max Length is 9.<br>Example: 12XXXXX89 <br> NOTE-FedEx Account Number is required for FedEx International Connect Plus (FICP)  service shipments from APAC to US or PR with duty & tax Bill-to recipient:<BR> 1. If any of the shipment Commodities' Country of Manufacture is CN/HK",
						"example": "12XXXXX89"
					}
				},
				"description": "This is FedEx Account number details.",
				"example": {
					"value": "Your account number"
				}
			},
			"ShipmentSpecialServicesRequested": {
				"type": "object",
				"properties": {
					"specialServiceTypes": {
						"type": "array",
						"description": "Special services requested for the shipment.<br>Example: <ul><li>HOLD_AT_LOCATION</li><li>RETURN_SHIPMENT</li><li>BROKER_SELECT_OPTION</li><li>CALL_BEFORE_DELIVERY</li><li>COD</li><li>CUSTOM_DELIVERY_WINDOW</li></ul><br><a onclick='loadDocReference(\"shipmentlevelspecialservicetypes\")'>click here to see Shipment Special Service Types</a>",
						"example": [
							"THIRD_PARTY_CONSIGNEE",
							"PROTECTION_FROM_FREEZING"
						],
						"items": {
							"type": "string"
						}
					},
					"etdDetail": {
						"$ref": "#/components/schemas/ETDDetail"
					},
					"returnShipmentDetail": {
						"$ref": "#/components/schemas/ReturnShipmentDetail"
					},
					"deliveryOnInvoiceAcceptanceDetail": {
						"$ref": "#/components/schemas/DeliveryOnInvoiceAcceptanceDetail"
					},
					"internationalTrafficInArmsRegulationsDetail": {
						"$ref": "#/components/schemas/InternationalTrafficInArmsRegulationsDetail"
					},
					"pendingShipmentDetail": {
						"$ref": "#/components/schemas/PendingShipmentDetail"
					},
					"holdAtLocationDetail": {
						"$ref": "#/components/schemas/HoldAtLocationDetail"
					},
					"shipmentCODDetail": {
						"$ref": "#/components/schemas/ShipmentCODDetail"
					},
					"shipmentDryIceDetail": {
						"$ref": "#/components/schemas/ShipmentDryIceDetail_1"
					},
					"internationalControlledExportDetail": {
						"$ref": "#/components/schemas/InternationalControlledExportDetail"
					},
					"homeDeliveryPremiumDetail": {
						"$ref": "#/components/schemas/HomeDeliveryPremiumDetail"
					}
				},
				"description": "Specify the special services requested at the shipment level.<br>If the shipper is requesting a special service which requires additional data (such as the COD amount), the shipment special service type must be present in the specialServiceTypes collection, and the supporting detail must be provided in the appropriate sub-object below.<br>RETURN_SHIPMENT is required for creating return shipments."
			},
			"ETDDetail": {
				"type": "object",
				"properties": {
					"attributes": {
						"type": "array",
						"description": "Specifies the Post Document Upload <br> Example: POST_SHIPMENT_UPLOAD_REQUESTED",
						"items": {
							"type": "string",
							"enum": [
								"POST_SHIPMENT_UPLOAD_REQUESTED"
							],
							"example": "POST_SHIPMENT_UPLOAD_REQUESTED"
						}
					},
					"attachedDocuments": {
						"type": "array",
						"description": "Use this object to specify the details regarding already uploded document(s). This object is required if the documents are uploaded Pre-Shipment uploaded documents. It is recommended to provide values for all elements under this object.",
						"items": {
							"$ref": "#/components/schemas/UploadDocumentReferenceDetail"
						}
					},
					"requestedDocumentTypes": {
						"type": "array",
						"description": "Indicates the types of shipping documents requested by the shipper.<br>Example: CERTIFICATE_OF_ORIGIN, COMMERCIAL_INVOICE etc.",
						"example": [
							"VICS_BILL_OF_LADING",
							"GENERAL_AGENCY_AGREEMENT"
						],
						"items": {
							"type": "string",
							"enum": [
								"CERTIFICATE_OF_ORIGIN",
								"COMMERCIAL_INVOICE",
								"CUSTOM_PACKAGE_DOCUMENT",
								"CUSTOM_SHIPMENT_DOCUMENT",
								"CUSTOMER_SPECIFIED_LABELS",
								"EXPORT_DECLARATION",
								"GENERAL_AGENCY_AGREEMENT",
								"LABEL",
								"USMCA_CERTIFICATION_OF_ORIGIN",
								"OP_900",
								"PENDING_SHIPMENT_EMAIL_NOTIFICATION",
								"PRO_FORMA_INVOICE",
								"RETURN_INSTRUCTIONS",
								"USMCA_COMMERCIAL_INVOICE_CERTIFICATION_OF_ORIGIN"
							]
						}
					}
				},
				"description": "Use this object to specify all information on how the electronic Trade document references used with the shipment."
			},
			"UploadDocumentReferenceDetail": {
				"type": "object",
				"properties": {
					"documentType": {
						"type": "string",
						"description": "Returns the type of document (if any) specified in the ship shipment request.<br>Example: PRO_FORMA_INVOICE",
						"example": "PRO_FORMA_INVOICE",
						"enum": [
							"CERTIFICATE_OF_ORIGIN",
							"NET_RATE_SHEET",
							"COMMERCIAL_INVOICE",
							"ETD_LABEL",
							"USMCA_CERTIFICATION_OF_ORIGIN",
							"OTHER",
							"PRO_FORMA_INVOICE",
							"USMCA_COMMERCIAL_INVOICE_CERTIFICATION_OF_ORIGIN"
						]
					},
					"documentReference": {
						"type": "string",
						"description": "Specify the reference for the uploaded document.This is for the customer to reference their uploaded docs when they retrieve them. Could be anything, order number, po number, whatever the customer used to tie the document to something they would use.<br>Note: Ensure to supply document references in case of  Pre-Shipment document upload.</br><br>Example: Reference",
						"example": "DocumentReference"
					},
					"description": {
						"type": "string",
[...]
