{
	"openapi": "3.0.0",
	"servers": [
		{
			"url": "https://apis-sandbox.fedex.com",
			"description": "Sandbox Server"
		},
		{
			"url": "https://apis.fedex.com",
			"description": "Production Server"
		}
	],
	"schemes": [
		"https"
	],
	"info": {
		"version": "1.0.0",
		"title": "Basic Integrated Visibility "
	},
	"paths": {
		"/track/v1/associatedshipments": {
			"post": {
				"summary": "Track Multiple Piece Shipment",
				"description": "This endpoint returns tracking information for multiplee piece shipments, Group MPS, or an outbounddd shipment which is linked to a return shipment.<br><i>Note: FedEx APIs do not support Cross-Origin Resource Sharing (CORS) mechanism.</i>",
				"operationId": "Track Multiple Piece Shipment",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"oneOf": [
									{
										"$ref": "#/components/schemas/Full_Schema_Multiple_Piece_Shipment"
									}
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TrkcResponseVO_Associated"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "TRACKING.REFERENCETYPE.INVALID",
											"message": "Please provide a valid reference/associated type"
										}
									]
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO401"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "NOT.AUTHORIZED.ERROR",
											"message": "Access token expired. Please modify your request and try again."
										}
									]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO403"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "FORBIDDEN.ERROR",
											"message": "We could not authorize your credentials. Please check your permissions and try again."
										}
									]
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO404"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "NOT.FOUND.ERROR",
											"message": "The resource you requested is no longer available. Please modify your request and try again."
										}
									]
								}
							}
						}
					},
					"500": {
						"description": "Failure",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO500"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "INTERNAL.SERVER.ERROR",
											"message": "We encountered an unexpected error and are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					},
					"503": {
						"description": "Service Unavailable",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO503"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "SERVICE.UNAVAILABLE.ERROR",
											"message": "The service is currently unavailable and we are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					}
				},
				"parameters": [
					{
						"in": "header",
						"name": "x-customer-transaction-id",
						"description": "This element allows you to assign a unique identifier to your transaction. This element is also returned in the reply and helps you match the request to the reply.",
						"required": false,
						"schema": {
							"type": "string",
							"example": "624deea6-b709-470c-8c39-4b5511281492"
						}
					},
					{
						"in": "header",
						"name": "content-type",
						"description": "This is used to indicate the media type of the resource. The media type is a string sent along with the file indicating format of the file.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "application/json"
						}
					},
					{
						"in": "header",
						"name": "x-locale",
						"description": "This indicates the combination of language code and country code.  <a onclick='loadDocReference(\"locales\")'>Click here to see Locales</a>",
						"required": false,
						"schema": {
							"type": "string",
							"example": "en_US"
						}
					},
					{
						"in": "header",
						"name": "authorization",
						"description": "This indicates the authorization token for the input request.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "Bearer XXX"
						}
					}
				],
				"x-code-samples": [
					{
						"lang": "C#",
						"source": "var client = new RestClient(\"https://apis-sandbox.fedex.com/track/v1/associatedshipments\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"Authorization\", \"Bearer \");\nrequest.AddHeader(\"X-locale\", \"en_US\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\n// 'input' refers to JSON Payload\nrequest.AddParameter(\"application/x-www-form-urlencoded\", input, ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);\n\n\n\n\n"
					},
					{
						"lang": "JAVA",
						"source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\n// 'input' refers to JSON Payload\nRequestBody body = RequestBody.create(mediaType, input);\nRequest request = new Request.Builder()\n    .url(\"https://apis-sandbox.fedex.com/track/v1/associatedshipments\")\n    .post(body)\n    .addHeader(\"Content-Type\", \"application/json\")\n    .addHeader(\"X-locale\", \"en_US\")\n    .addHeader(\"Authorization\", \"Bearer \")\n    .build();\n            \nResponse response = client.newCall(request).execute();"
					},
					{
						"lang": "JAVASCRIPT",
						"source": "// 'input' refers to JSON Payload\nvar data = JSON.stringify(input);\n  \n  var xhr = new XMLHttpRequest();\n  xhr.withCredentials = true;\n  \n  xhr.addEventListener(\"readystatechange\", function () {\n    if (this.readyState === 4) {\n      console.log(this.responseText);\n    }\n  });\n  \n  xhr.open(\"POST\", \"https://apis-sandbox.fedex.com/track/v1/associatedshipments\");\n  xhr.setRequestHeader(\"Content-Type\", \"application/json\");\n  xhr.setRequestHeader(\"X-locale\", \"en_US\");\n  xhr.setRequestHeader(\"Authorization\", \"Bearer \");\n  \n  xhr.send(data);"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://apis-sandbox.fedex.com/track/v1/associatedshipments');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders(array(\n  'Authorization' => 'Bearer ',\n  'X-locale' => 'en_US',\n  'Content-Type' => 'application/json'\n));\n\n$request->setBody(input); // 'input' refers to JSON Payload\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
					},
					{
						"lang": "PYTHON",
						"source": "import requests\n\nurl = \"https://apis-sandbox.fedex.com/track/v1/associatedshipments\"\n\npayload = input # 'input' refers to JSON Payload\nheaders = {\n    'Content-Type': \"application/json\",\n    'X-locale': \"en_US\",\n    'Authorization': \"Bearer \"\n    }\n\nresponse = requests.post(url, data=payload, headers=headers)\n\nprint(response.text)"
					},
					{
						"lang": "RUST",
						"source": "extern crate reqwest;\n\nuse std::io::Read;\n\nfn construct_headers() -> HeaderMap {\n    let mut headers = HeaderMap::new();\n    headers.insert(\"Content-Type\", \"application/json\");\n    headers.insert(\"X-locale\", \"en_US\");\n    headers.insert(\"Authorization\", \"Bearer \");\n    headers\n}\n\nfn run() -> Result<()> {\n    let client = reqwest::Client::new();\n    let mut res = client.post(\"https://apis-sandbox.fedex.com/track/v1/associatedshipments\")\n        .body(input) // 'input' refers to JSON Payload\n        .headers(construct_headers())\n        .send()?;\n    let mut body = String::new();\n    res.read_to_string(&mut body)?;\n\n    println!(\"Status: {}\", res.status());\n    println!(\"Headers:\\n{:#?}\", res.headers());\n    println!(\"Body:\\n{}\", body);\n\n    Ok(())\n}"
					},
					{
						"lang": "SWIFT",
						"source": "import Foundation\n\nlet headers = [\n  \"Content-Type\": \"application/json\",\n  \"X-locale\": \"en_US\",\n  \"Authorization\": \"Bearer \"\n]\nlet parameters = [\n  input // 'input' refers to JSON Payload\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://apis-sandbox.fedex.com/track/v1/associatedshipments\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"POST\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
					}
				]
			}
		},
		"/track/v1/notifications": {
			"post": {
				"summary": "Send Notification",
				"description": "This endpoint helps you setup up, customize the tracking event notifications to be received for a shipment.<br><i>Note: FedEx APIs do not support Cross-Origin Resource Sharing (CORS) mechanism.</i>",
				"operationId": "19f112535f47e237486334074740bb66",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"oneOf": [
									{
										"$ref": "#/components/schemas/Full_Schema_Notification"
									}
								]
							}
						}
					},
					"required": false
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TrkcResponseVO_Notifications"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "TRACKING.TRACKINGNUMBER.NOTFOUND",
											"message": "Tracking number cannot be found. Please correct the tracking number and try again."
										}
									]
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO401"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "NOT.AUTHORIZED.ERROR",
											"message": "Access token expired. Please modify your request and try again."
										}
									]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO403"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "FORBIDDEN.ERROR",
											"message": "We could not authorize your credentials. Please check your permissions and try again."
										}
									]
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO404"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "NOT.FOUND.ERROR",
											"message": "The resource you requested is no longer available. Please modify your request and try again."
										}
									]
								}
							}
						}
					},
					"500": {
						"description": "Failure",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO500"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "INTERNAL.SERVER.ERROR",
											"message": "We encountered an unexpected error and are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					},
					"503": {
						"description": "Service Unavailable",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO503"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "SERVICE.UNAVAILABLE.ERROR",
											"message": "The service is currently unavailable and we are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					}
				},
				"parameters": [
					{
						"in": "header",
						"name": "x-customer-transaction-id",
						"description": "This element allows you to assign a unique identifier to your transaction. This element is also returned in the reply and helps you match the request to the reply.",
						"required": false,
						"schema": {
							"type": "string",
							"example": "624deea6-b709-470c-8c39-4b5511281492"
						}
					},
					{
						"in": "header",
						"name": "content-type",
						"description": "This is used to indicate the media type of the resource. The media type is a string sent along with the file indicating format of the file.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "application/json"
						}
					},
					{
						"in": "header",
						"name": "x-locale",
						"description": "This indicates the combination of language code and country code.  <a onclick='loadDocReference(\"locales\")'>Click here to see Locales</a>",
						"required": false,
						"schema": {
							"type": "string",
							"example": "en_US"
						}
					},
					{
						"in": "header",
						"name": "authorization",
						"description": "This indicates the authorization token for the input request.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "Bearer XXX"
						}
					}
				],
				"x-code-samples": [
					{
						"lang": "C#",
						"source": "var client = new RestClient(\"https://apis-sandbox.fedex.com/track/v1/notifications\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"Authorization\", \"Bearer \");\nrequest.AddHeader(\"X-locale\", \"en_US\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\n// 'input' refers to JSON Payload\nrequest.AddParameter(\"application/x-www-form-urlencoded\", input, ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);\n\n\n\n\n"
					},
					{
						"lang": "JAVA",
						"source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\n// 'input' refers to JSON Payload\nRequestBody body = RequestBody.create(mediaType, input);\nRequest request = new Request.Builder()\n    .url(\"https://apis-sandbox.fedex.com/track/v1/notifications\")\n    .post(body)\n    .addHeader(\"Content-Type\", \"application/json\")\n    .addHeader(\"X-locale\", \"en_US\")\n    .addHeader(\"Authorization\", \"Bearer \")\n    .build();\n            \nResponse response = client.newCall(request).execute();"
					},
					{
						"lang": "JAVASCRIPT",
						"source": "// 'input' refers to JSON Payload\nvar data = JSON.stringify(input);\n  \n  var xhr = new XMLHttpRequest();\n  xhr.withCredentials = true;\n  \n  xhr.addEventListener(\"readystatechange\", function () {\n    if (this.readyState === 4) {\n      console.log(this.responseText);\n    }\n  });\n  \n  xhr.open(\"POST\", \"https://apis-sandbox.fedex.com/track/v1/notifications\");\n  xhr.setRequestHeader(\"Content-Type\", \"application/json\");\n  xhr.setRequestHeader(\"X-locale\", \"en_US\");\n  xhr.setRequestHeader(\"Authorization\", \"Bearer \");\n  \n  xhr.send(data);"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://apis-sandbox.fedex.com/track/v1/notifications');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders(array(\n  'Authorization' => 'Bearer ',\n  'X-locale' => 'en_US',\n  'Content-Type' => 'application/json'\n));\n\n$request->setBody(input); // 'input' refers to JSON Payload\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
					},
					{
						"lang": "PYTHON",
						"source": "import requests\n\nurl = \"https://apis-sandbox.fedex.com/track/v1/notifications\"\n\npayload = input # 'input' refers to JSON Payload\nheaders = {\n    'Content-Type': \"application/json\",\n    'X-locale': \"en_US\",\n    'Authorization': \"Bearer \"\n    }\n\nresponse = requests.post(url, data=payload, headers=headers)\n\nprint(response.text)"
					},
					{
						"lang": "RUST",
						"source": "extern crate reqwest;\n\nuse std::io::Read;\n\nfn construct_headers() -> HeaderMap {\n    let mut headers = HeaderMap::new();\n    headers.insert(\"Content-Type\", \"application/json\");\n    headers.insert(\"X-locale\", \"en_US\");\n    headers.insert(\"Authorization\", \"Bearer \");\n    headers\n}\n\nfn run() -> Result<()> {\n    let client = reqwest::Client::new();\n    let mut res = client.post(\"https://apis-sandbox.fedex.com/track/v1/notifications\")\n        .body(input) // 'input' refers to JSON Payload\n        .headers(construct_headers())\n        .send()?;\n    let mut body = String::new();\n    res.read_to_string(&mut body)?;\n\n    println!(\"Status: {}\", res.status());\n    println!(\"Headers:\\n{:#?}\", res.headers());\n    println!(\"Body:\\n{}\", body);\n\n    Ok(())\n}"
					},
					{
						"lang": "SWIFT",
						"source": "import Foundation\n\nlet headers = [\n  \"Content-Type\": \"application/json\",\n  \"X-locale\": \"en_US\",\n  \"Authorization\": \"Bearer \"\n]\nlet parameters = [\n  input // 'input' refers to JSON Payload\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://apis-sandbox.fedex.com/track/v1/notifications\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"POST\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
					}
				]
			}
		},
		"/track/v1/referencenumbers": {
			"post": {
				"summary": "Track by References",
				"description": "This endpoint returns tracking information based on alternate references other than Tracking Number such as Customer reference numbers, etc.<br><i>Note: FedEx APIs do not support Cross-Origin Resource Sharing (CORS) mechanism.</i>",
				"operationId": "Track by References",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"oneOf": [
									{
										"$ref": "#/components/schemas/Full_Schema_Tracking_References"
									}
								]
							}
						}
					},
					"required": false
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TrkcResponseVO_ReferenceNumber"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "TRACKING.TRACKINGNUMBER.EMPTY",
											"message": "Please provide tracking number."
										}
									]
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO401"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "NOT.AUTHORIZED.ERROR",
											"message": "Access token expired. Please modify your request and try again."
										}
									]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO403"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "FORBIDDEN.ERROR",
											"message": "We could not authorize your credentials. Please check your permissions and try again."
										}
									]
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO404"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "NOT.FOUND.ERROR",
											"message": "The resource you requested is no longer available. Please modify your request and try again."
										}
									]
								}
							}
						}
					},
					"500": {
						"description": "Failure",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO500"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "INTERNAL.SERVER.ERROR",
											"message": "We encountered an unexpected error and are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					},
					"503": {
						"description": "Service Unavailable",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO503"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "SERVICE.UNAVAILABLE.ERROR",
											"message": "The service is currently unavailable and we are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					}
				},
				"parameters": [
					{
						"in": "header",
						"name": "x-customer-transaction-id",
						"description": "This element allows you to assign a unique identifier to your transaction. This element is also returned in the reply and helps you match the request to the reply.",
						"required": false,
						"schema": {
							"type": "string",
							"example": "624deea6-b709-470c-8c39-4b5511281492"
						}
					},
					{
						"in": "header",
						"name": "content-type",
						"description": "This is used to indicate the media type of the resource. The media type is a string sent along with the file indicating format of the file.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "application/json"
						}
					},
					{
						"in": "header",
						"name": "x-locale",
						"description": "This indicates the combination of language code and country code.  <a onclick='loadDocReference(\"locales\")'>Click here to see Locales</a>",
						"required": false,
						"schema": {
							"type": "string",
							"example": "en_US"
						}
					},
					{
						"in": "header",
						"name": "authorization",
						"description": "This indicates the authorization token for the input request.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "Bearer XXX"
						}
					}
				],
				"x-code-samples": [
					{
						"lang": "C#",
						"source": "var client = new RestClient(\"https://apis-sandbox.fedex.com/track/v1/referencenumbers\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"Authorization\", \"Bearer \");\nrequest.AddHeader(\"X-locale\", \"en_US\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\n// 'input' refers to JSON Payload\nrequest.AddParameter(\"application/x-www-form-urlencoded\", input, ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);\n\n\n\n\n"
					},
					{
						"lang": "JAVA",
						"source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\n// 'input' refers to JSON Payload\nRequestBody body = RequestBody.create(mediaType, input);\nRequest request = new Request.Builder()\n    .url(\"https://apis-sandbox.fedex.com/track/v1/referencenumbers\")\n    .post(body)\n    .addHeader(\"Content-Type\", \"application/json\")\n    .addHeader(\"X-locale\", \"en_US\")\n    .addHeader(\"Authorization\", \"Bearer \")\n    .build();\n            \nResponse response = client.newCall(request).execute();"
					},
					{
						"lang": "JAVASCRIPT",
						"source": "// 'input' refers to JSON Payload\nvar data = JSON.stringify(input);\n  \n  var xhr = new XMLHttpRequest();\n  xhr.withCredentials = true;\n  \n  xhr.addEventListener(\"readystatechange\", function () {\n    if (this.readyState === 4) {\n      console.log(this.responseText);\n    }\n  });\n  \n  xhr.open(\"POST\", \"https://apis-sandbox.fedex.com/track/v1/referencenumbers\");\n  xhr.setRequestHeader(\"Content-Type\", \"application/json\");\n  xhr.setRequestHeader(\"X-locale\", \"en_US\");\n  xhr.setRequestHeader(\"Authorization\", \"Bearer \");\n  \n  xhr.send(data);"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://apis-sandbox.fedex.com/track/v1/referencenumbers');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders(array(\n  'Authorization' => 'Bearer ',\n  'X-locale' => 'en_US',\n  'Content-Type' => 'application/json'\n));\n\n$request->setBody(input); // 'input' refers to JSON Payload\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
					},
					{
						"lang": "PYTHON",
						"source": "import requests\n\nurl = \"https://apis-sandbox.fedex.com/track/v1/referencenumbers\"\n\npayload = input # 'input' refers to JSON Payload\nheaders = {\n    'Content-Type': \"application/json\",\n    'X-locale': \"en_US\",\n    'Authorization': \"Bearer \"\n    }\n\nresponse = requests.post(url, data=payload, headers=headers)\n\nprint(response.text)"
					},
					{
						"lang": "RUST",
						"source": "extern crate reqwest;\n\nuse std::io::Read;\n\nfn construct_headers() -> HeaderMap {\n    let mut headers = HeaderMap::new();\n    headers.insert(\"Content-Type\", \"application/json\");\n    headers.insert(\"X-locale\", \"en_US\");\n    headers.insert(\"Authorization\", \"Bearer \");\n    headers\n}\n\nfn run() -> Result<()> {\n    let client = reqwest::Client::new();\n    let mut res = client.post(\"https://apis-sandbox.fedex.com/track/v1/referencenumbers\")\n        .body(input) // 'input' refers to JSON Payload\n        .headers(construct_headers())\n        .send()?;\n    let mut body = String::new();\n    res.read_to_string(&mut body)?;\n\n    println!(\"Status: {}\", res.status());\n    println!(\"Headers:\\n{:#?}\", res.headers());\n    println!(\"Body:\\n{}\", body);\n\n    Ok(())\n}"
					},
					{
						"lang": "SWIFT",
						"source": "import Foundation\n\nlet headers = [\n  \"Content-Type\": \"application/json\",\n  \"X-locale\": \"en_US\",\n  \"Authorization\": \"Bearer \"\n]\nlet parameters = [\n  input // 'input' refers to JSON Payload\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://apis-sandbox.fedex.com/track/v1/referencenumbers\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"POST\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
					}
				]
			}
		},
		"/track/v1/tcn": {
			"post": {
				"summary": "Track by Tracking Control Number",
				"description": "Use this endpoint to return tracking information based on a Tracking Control Number.<br><i>Note: FedEx APIs do not support Cross-Origin Resource Sharing (CORS) mechanism.</i>",
				"operationId": "f1f9080e8452d9ac903f562a2d2626d0",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"oneOf": [
									{
										"$ref": "#/components/schemas/Full_Schema_TCN"
									}
								]
							}
						}
					},
					"required": false
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TrkcResponseVO_TCN"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "TRACKING.TCN.NOTFOUND",
											"message": "Transportation control number cannot be found. Please correct the transportation control number and try again."
										}
									]
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO401"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "NOT.AUTHORIZED.ERROR",
											"message": "Access token expired. Please modify your request and try again."
										}
									]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO403"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "FORBIDDEN.ERROR",
											"message": "We could not authorize your credentials. Please check your permissions and try again."
										}
									]
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO404"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "NOT.FOUND.ERROR",
											"message": "The resource you requested is no longer available. Please modify your request and try again."
										}
									]
								}
							}
						}
					},
					"500": {
						"description": "Failure",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO500"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "INTERNAL.SERVER.ERROR",
											"message": "We encountered an unexpected error and are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					},
					"503": {
						"description": "Service Unavailable",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO503"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "SERVICE.UNAVAILABLE.ERROR",
											"message": "The service is currently unavailable and we are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					}
				},
				"parameters": [
					{
						"in": "header",
						"name": "x-customer-transaction-id",
						"description": "This element allows you to assign a unique identifier to your transaction. This element is also returned in the reply and helps you match the request to the reply.",
						"required": false,
						"schema": {
							"type": "string",
							"example": "624deea6-b709-470c-8c39-4b5511281492"
						}
					},
					{
						"in": "header",
						"name": "content-type",
						"description": "This is used to indicate the media type of the resource. The media type is a string sent along with the file indicating format of the file.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "application/json"
						}
					},
					{
						"in": "header",
						"name": "x-locale",
						"description": "This indicates the combination of language code and country code.  <a onclick='loadDocReference(\"locales\")'>Click here to see Locales</a>",
						"required": false,
						"schema": {
							"type": "string",
							"example": "en_US"
						}
					},
					{
						"in": "header",
						"name": "authorization",
						"description": "This indicates the authorization token for the input request.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "Bearer XXX"
						}
					}
				],
				"x-code-samples": [
					{
						"lang": "C#",
						"source": "var client = new RestClient(\"https://apis-sandbox.fedex.com/track/v1/tcn\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"Authorization\", \"Bearer \");\nrequest.AddHeader(\"X-locale\", \"en_US\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\n// 'input' refers to JSON Payload\nrequest.AddParameter(\"application/x-www-form-urlencoded\", input, ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);\n\n\n\n\n"
					},
					{
						"lang": "JAVA",
						"source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\n// 'input' refers to JSON Payload\nRequestBody body = RequestBody.create(mediaType, input);\nRequest request = new Request.Builder()\n    .url(\"https://apis-sandbox.fedex.com/track/v1/tcn\")\n    .post(body)\n    .addHeader(\"Content-Type\", \"application/json\")\n    .addHeader(\"X-locale\", \"en_US\")\n    .addHeader(\"Authorization\", \"Bearer \")\n    .build();\n            \nResponse response = client.newCall(request).execute();"
					},
					{
						"lang": "JAVASCRIPT",
						"source": "// 'input' refers to JSON Payload\nvar data = JSON.stringify(input);\n  \n  var xhr = new XMLHttpRequest();\n  xhr.withCredentials = true;\n  \n  xhr.addEventListener(\"readystatechange\", function () {\n    if (this.readyState === 4) {\n      console.log(this.responseText);\n    }\n  });\n  \n  xhr.open(\"POST\", \"https://apis-sandbox.fedex.com/track/v1/tcn\");\n  xhr.setRequestHeader(\"Content-Type\", \"application/json\");\n  xhr.setRequestHeader(\"X-locale\", \"en_US\");\n  xhr.setRequestHeader(\"Authorization\", \"Bearer \");\n  \n  xhr.send(data);"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://apis-sandbox.fedex.com/track/v1/tcn');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders(array(\n  'Authorization' => 'Bearer ',\n  'X-locale' => 'en_US',\n  'Content-Type' => 'application/json'\n));\n\n$request->setBody(input); // 'input' refers to JSON Payload\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
					},
					{
						"lang": "PYTHON",
						"source": "import requests\n\nurl = \"https://apis-sandbox.fedex.com/track/v1/tcn\"\n\npayload = input # 'input' refers to JSON Payload\nheaders = {\n    'Content-Type': \"application/json\",\n    'X-locale': \"en_US\",\n    'Authorization': \"Bearer \"\n    }\n\nresponse = requests.post(url, data=payload, headers=headers)\n\nprint(response.text)"
					},
					{
						"lang": "RUST",
						"source": "extern crate reqwest;\n\nuse std::io::Read;\n\nfn construct_headers() -> HeaderMap {\n    let mut headers = HeaderMap::new();\n    headers.insert(\"Content-Type\", \"application/json\");\n    headers.insert(\"X-locale\", \"en_US\");\n    headers.insert(\"Authorization\", \"Bearer \");\n    headers\n}\n\nfn run() -> Result<()> {\n    let client = reqwest::Client::new();\n    let mut res = client.post(\"https://apis-sandbox.fedex.com/track/v1/tcn\")\n        .body(input) // 'input' refers to JSON Payload\n        .headers(construct_headers())\n        .send()?;\n    let mut body = String::new();\n    res.read_to_string(&mut body)?;\n\n    println!(\"Status: {}\", res.status());\n    println!(\"Headers:\\n{:#?}\", res.headers());\n    println!(\"Body:\\n{}\", body);\n\n    Ok(())\n}"
					},
					{
						"lang": "SWIFT",
						"source": "import Foundation\n\nlet headers = [\n  \"Content-Type\": \"application/json\",\n  \"X-locale\": \"en_US\",\n  \"Authorization\": \"Bearer \"\n]\nlet parameters = [\n  input // 'input' refers to JSON Payload\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://apis-sandbox.fedex.com/track/v1/tcn\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"POST\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
					}
				]
			}
		},
		"/track/v1/trackingdocuments": {
			"post": {
				"summary": "Track Document",
				"description": "This endpoint helps you to request a letter that includes the recipient's signature as a proof of delivery.<br><i>Note: FedEx APIs do not support Cross-Origin Resource Sharing (CORS) mechanism.</i>",
				"operationId": "TrackingDocuments",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"oneOf": [
									{
										"$ref": "#/components/schemas/Full_Schema_SPOD"
									}
								]
							}
						}
					},
					"required": false
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TrkcResponseVO_SPOD"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "TRACKING.TRACKINGNUMBER.NOTFOUND",
											"message": "Tracking number cannot be found. Please correct the tracking number and try again."
										}
									]
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO401"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "NOT.AUTHORIZED.ERROR",
											"message": "Access token expired. Please modify your request and try again."
										}
									]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO403"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "FORBIDDEN.ERROR",
											"message": "We could not authorize your credentials. Please check your permissions and try again."
										}
									]
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO404"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "NOT.FOUND.ERROR",
											"message": "The resource you requested is no longer available. Please modify your request and try again."
										}
									]
								}
							}
						}
					},
					"500": {
						"description": "Failure",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO500"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "INTERNAL.SERVER.ERROR",
											"message": "We encountered an unexpected error and are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					},
					"503": {
						"description": "Service Unavailable",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO503"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "SERVICE.UNAVAILABLE.ERROR",
											"message": "The service is currently unavailable and we are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					}
				},
				"parameters": [
					{
						"in": "header",
						"name": "x-customer-transaction-id",
						"description": "This element allows you to assign a unique identifier to your transaction. This element is also returned in the reply and helps you match the request to the reply.",
						"required": false,
						"schema": {
							"type": "string",
							"example": "624deea6-b709-470c-8c39-4b5511281492"
						}
					},
					{
						"in": "header",
						"name": "content-type",
						"description": "This is used to indicate the media type of the resource. The media type is a string sent along with the file indicating format of the file.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "application/json"
						}
					},
					{
						"in": "header",
						"name": "x-locale",
						"description": "This indicates the combination of language code and country code.  <a onclick='loadDocReference(\"locales\")'>Click here to see Locales</a>",
						"required": false,
						"schema": {
							"type": "string",
							"example": "en_US"
						}
					},
					{
						"in": "header",
						"name": "authorization",
						"description": "This indicates the authorization token for the input request.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "Bearer XXX"
						}
					}
				],
				"x-code-samples": [
					{
						"lang": "C#",
						"source": "var client = new RestClient(\"https://apis-sandbox.fedex.com/track/v1/trackingdocuments\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"Authorization\", \"Bearer \");\nrequest.AddHeader(\"X-locale\", \"en_US\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\n// 'input' refers to JSON Payload\nrequest.AddParameter(\"application/x-www-form-urlencoded\", input, ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);\n\n\n\n\n"
					},
					{
						"lang": "JAVA",
						"source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\n// 'input' refers to JSON Payload\nRequestBody body = RequestBody.create(mediaType, input);\nRequest request = new Request.Builder()\n    .url(\"https://apis-sandbox.fedex.com/track/v1/trackingdocuments\")\n    .post(body)\n    .addHeader(\"Content-Type\", \"application/json\")\n    .addHeader(\"X-locale\", \"en_US\")\n    .addHeader(\"Authorization\", \"Bearer \")\n    .build();\n            \nResponse response = client.newCall(request).execute();"
					},
					{
						"lang": "JAVASCRIPT",
						"source": "// 'input' refers to JSON Payload\nvar data = JSON.stringify(input);\n  \n  var xhr = new XMLHttpRequest();\n  xhr.withCredentials = true;\n  \n  xhr.addEventListener(\"readystatechange\", function () {\n    if (this.readyState === 4) {\n      console.log(this.responseText);\n    }\n  });\n  \n  xhr.open(\"POST\", \"https://apis-sandbox.fedex.com/track/v1/trackingdocuments\");\n  xhr.setRequestHeader(\"Content-Type\", \"application/json\");\n  xhr.setRequestHeader(\"X-locale\", \"en_US\");\n  xhr.setRequestHeader(\"Authorization\", \"Bearer \");\n  \n  xhr.send(data);"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://apis-sandbox.fedex.com/track/v1/trackingdocuments');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders(array(\n  'Authorization' => 'Bearer ',\n  'X-locale' => 'en_US',\n  'Content-Type' => 'application/json'\n));\n\n$request->setBody(input); // 'input' refers to JSON Payload\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
					},
					{
						"lang": "PYTHON",
						"source": "import requests\n\nurl = \"https://apis-sandbox.fedex.com/track/v1/trackingdocuments\"\n\npayload = input # 'input' refers to JSON Payload\nheaders = {\n    'Content-Type': \"application/json\",\n    'X-locale': \"en_US\",\n    'Authorization': \"Bearer \"\n    }\n\nresponse = requests.post(url, data=payload, headers=headers)\n\nprint(response.text)"
					},
					{
						"lang": "RUST",
						"source": "extern crate reqwest;\n\nuse std::io::Read;\n\nfn construct_headers() -> HeaderMap {\n    let mut headers = HeaderMap::new();\n    headers.insert(\"Content-Type\", \"application/json\");\n    headers.insert(\"X-locale\", \"en_US\");\n    headers.insert(\"Authorization\", \"Bearer \");\n    headers\n}\n\nfn run() -> Result<()> {\n    let client = reqwest::Client::new();\n    let mut res = client.post(\"https://apis-sandbox.fedex.com/track/v1/trackingdocuments\")\n        .body(input) // 'input' refers to JSON Payload\n        .headers(construct_headers())\n        .send()?;\n    let mut body = String::new();\n    res.read_to_string(&mut body)?;\n\n    println!(\"Status: {}\", res.status());\n    println!(\"Headers:\\n{:#?}\", res.headers());\n    println!(\"Body:\\n{}\", body);\n\n    Ok(())\n}"
					},
					{
						"lang": "SWIFT",
						"source": "import Foundation\n\nlet headers = [\n  \"Content-Type\": \"application/json\",\n  \"X-locale\": \"en_US\",\n  \"Authorization\": \"Bearer \"\n]\nlet parameters = [\n  input // 'input' refers to JSON Payload\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://apis-sandbox.fedex.com/track/v1/trackingdocuments\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"POST\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
					}
				]
			}
		},
		"/track/v1/trackingnumbers": {
			"post": {
				"summary": "Track by Tracking Number",
				"description": "This endpoint provides customers package tracking information based on a tracking number for various shipping services.<br><i>Note: FedEx APIs do not support Cross-Origin Resource Sharing (CORS) mechanism.</i>",
				"operationId": "Track by Tracking Number",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"oneOf": [
									{
										"$ref": "#/components/schemas/Full_Schema_Tracking_Numbers"
									}
								]
							}
						}
					},
					"required": false
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TrkcResponseVO_TrackingNumber"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "TRACKING.TRACKINGNUMBER.EMPTY",
											"message": "Please provide tracking number."
										}
									]
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO401"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "NOT.AUTHORIZED.ERROR",
											"message": "Access token expired. Please modify your request and try again."
										}
									]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO403"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "FORBIDDEN.ERROR",
											"message": "We could not authorize your credentials. Please check your permissions and try again."
										}
									]
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO404"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"errors": [
										{
											"code": "NOT.FOUND.ERROR",
											"message": "The resource you requested is no longer available. Please modify your request and try again."
										}
									]
								}
							}
						}
					},
					"500": {
						"description": "Failure",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO500"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "INTERNAL.SERVER.ERROR",
											"message": "We encountered an unexpected error and are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					},
					"503": {
						"description": "Service Unavailable",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponseVO503"
								},
								"example": {
									"transactionId": "624deea6-b709-470c-8c39-4b5511281492",
									"customerTransactionId": "AnyCo_order123456789",
									"errors": [
										{
											"code": "SERVICE.UNAVAILABLE.ERROR",
											"message": "The service is currently unavailable and we are working to resolve the issue. We apologize for any inconvenience. Please check back at a later time."
										}
									]
								}
							}
						}
					}
				},
				"parameters": [
					{
						"in": "header",
						"name": "x-customer-transaction-id",
						"description": "This element allows you to assign a unique identifier to your transaction. This element is also returned in the reply and helps you match the request to the reply.",
						"required": false,
						"schema": {
							"type": "string",
							"example": "624deea6-b709-470c-8c39-4b5511281492"
						}
					},
					{
						"in": "header",
						"name": "content-type",
						"description": "This is used to indicate the media type of the resource. The media type is a string sent along with the file indicating format of the file.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "application/json"
						}
					},
					{
						"in": "header",
						"name": "x-locale",
						"description": "This indicates the combination of language code and country code.  <a onclick='loadDocReference(\"locales\")'>Click here to see Locales</a>",
						"required": false,
						"schema": {
							"type": "string",
							"example": "en_US"
						}
					},
					{
						"in": "header",
						"name": "authorization",
						"description": "This indicates the authorization token for the input request.",
						"required": true,
						"schema": {
							"type": "string",
							"example": "Bearer XXX"
						}
					}
				],
				"x-code-samples": [
					{
						"lang": "C#",
						"source": "var client = new RestClient(\"https://apis-sandbox.fedex.com/track/v1/trackingnumbers\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"Authorization\", \"Bearer \");\nrequest.AddHeader(\"X-locale\", \"en_US\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\n// 'input' refers to JSON Payload\nrequest.AddParameter(\"application/x-www-form-urlencoded\", input, ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);\n\n\n\n\n"
					},
					{
						"lang": "JAVA",
						"source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\n// 'input' refers to JSON Payload\nRequestBody body = RequestBody.create(mediaType, input);\nRequest request = new Request.Builder()\n    .url(\"https://apis-sandbox.fedex.com/track/v1/trackingnumbers\")\n    .post(body)\n    .addHeader(\"Content-Type\", \"application/json\")\n    .addHeader(\"X-locale\", \"en_US\")\n    .addHeader(\"Authorization\", \"Bearer \")\n    .build();\n            \nResponse response = client.newCall(request).execute();"
					},
					{
						"lang": "JAVASCRIPT",
						"source": "// 'input' refers to JSON Payload\nvar data = JSON.stringify(input);\n  \n  var xhr = new XMLHttpRequest();\n  xhr.withCredentials = true;\n  \n  xhr.addEventListener(\"readystatechange\", function () {\n    if (this.readyState === 4) {\n      console.log(this.responseText);\n    }\n  });\n  \n  xhr.open(\"POST\", \"https://apis-sandbox.fedex.com/track/v1/trackingnumbers\");\n  xhr.setRequestHeader(\"Content-Type\", \"application/json\");\n  xhr.setRequestHeader(\"X-locale\", \"en_US\");\n  xhr.setRequestHeader(\"Authorization\", \"Bearer \");\n  \n  xhr.send(data);"
					},
					{
						"lang": "PHP",
						"source": "<?php\n\n$request = new HttpRequest();\n$request->setUrl('https://apis-sandbox.fedex.com/track/v1/trackingnumbers');\n$request->setMethod(HTTP_METH_POST);\n\n$request->setHeaders(array(\n  'Authorization' => 'Bearer ',\n  'X-locale' => 'en_US',\n  'Content-Type' => 'application/json'\n));\n\n$request->setBody(input); // 'input' refers to JSON Payload\n\ntry {\n  $response = $request->send();\n\n  echo $response->getBody();\n} catch (HttpException $ex) {\n  echo $ex;\n}"
					},
					{
						"lang": "PYTHON",
						"source": "import requests\n\nurl = \"https://apis-sandbox.fedex.com/track/v1/trackingnumbers\"\n\npayload = input # 'input' refers to JSON Payload\nheaders = {\n    'Content-Type': \"application/json\",\n    'X-locale': \"en_US\",\n    'Authorization': \"Bearer \"\n    }\n\nresponse = requests.post(url, data=payload, headers=headers)\n\nprint(response.text)"
					},
					{
						"lang": "RUST",
						"source": "extern crate reqwest;\n\nuse std::io::Read;\n\nfn construct_headers() -> HeaderMap {\n    let mut headers = HeaderMap::new();\n    headers.insert(\"Content-Type\", \"application/json\");\n    headers.insert(\"X-locale\", \"en_US\");\n    headers.insert(\"Authorization\", \"Bearer \");\n    headers\n}\n\nfn run() -> Result<()> {\n    let client = reqwest::Client::new();\n    let mut res = client.post(\"https://apis-sandbox.fedex.com/track/v1/trackingnumbers\")\n        .body(input) // 'input' refers to JSON Payload\n        .headers(construct_headers())\n        .send()?;\n    let mut body = String::new();\n    res.read_to_string(&mut body)?;\n\n    println!(\"Status: {}\", res.status());\n    println!(\"Headers:\\n{:#?}\", res.headers());\n    println!(\"Body:\\n{}\", body);\n\n    Ok(())\n}"
					},
					{
						"lang": "SWIFT",
						"source": "import Foundation\n\nlet headers = [\n  \"Content-Type\": \"application/json\",\n  \"X-locale\": \"en_US\",\n  \"Authorization\": \"Bearer \"\n]\nlet parameters = [\n  input // 'input' refers to JSON Payload\n] as [String : Any]\n\nlet postData = JSONSerialization.data(withJSONObject: parameters, options: [])\n\nlet request = NSMutableURLRequest(url: NSURL(string: \"https://apis-sandbox.fedex.com/track/v1/trackingnumbers\")! as URL,\n                                        cachePolicy: .useProtocolCachePolicy,\n                                    timeoutInterval: 10.0)\nrequest.httpMethod = \"POST\"\nrequest.allHTTPHeaderFields = headers\nrequest.httpBody = postData as Data\n\nlet session = URLSession.shared\nlet dataTask = session.dataTask(with: request as URLRequest, completionHandler: { (data, response, error) -> Void in\n  if (error != nil) {\n    print(error)\n  } else {\n    let httpResponse = response as? HTTPURLResponse\n    print(httpResponse)\n  }\n})\n\ndataTask.resume()"
					}
				]
			}
		}
	},
	"components": {
		"schemas": {
			"Full_Schema_Multiple_Piece_Shipment": {
				"required": [
					"associatedType",
					"masterTrackingNumberInfo"
				],
				"type": "object",
				"properties": {
					"includeDetailedScans": {
						"type": "boolean",
						"description": "Indicates if detailed scans are requested or not. <br>Valid values are True, or False.",
						"example": true
					},
					"masterTrackingNumberInfo": {
						"$ref": "#/components/schemas/MasterTrackingInfo"
					},
					"associatedType": {
						"type": "string",
						"description": "The associated shipment type, such as MPS, Group MPS, or an outbound shipment which is linked to a return shipment.<br>Example: STANDARD_MPS<br>STANDARD_MPS: Single shipment with multiple packages, where tracking number got assigned to all pieces, one tracking number is treated as master tracking number while others are child tracking numbers.<br>Group MPS: Behavior is just like standard MPS but it’s created differently. The shipper must be enrolled for this by a particular reference type like ‘PO’ (purchase order).Then any package order create on the same day going to the same place that has the reference number will get grouped into GMPS relationships.<br>OUTBOUND_LINK_TO_RETURN: is an RTRN relationship.Same concept as an MPS.the OUTBOUND_LINK_TO_RETURN is the Master outbound package tracking number, that when tracked with this indicator you can get all the child return pieces.",
						"example": "STANDARD_MPS",
						"enum": [
							"OUTBOUND_LINK_TO_RETURN",
							"STANDARD_MPS",
							"GROUP_MPS"
						]
					},
					"pagingDetails": {
						"$ref": "#/components/schemas/PagingDetails"
					}
				},
				"description": "The request elements for Tracking by associated shipment.",
				"example": {
					"includeDetailedScans": true,
					"associatedType": "STANDARD_MPS",
					"masterTrackingNumberInfo": {
						"shipDateEnd": "2018-11-03",
						"shipDateBegin": "2018-11-01",
						"trackingNumberInfo": {
							"trackingNumberUniqueId": "245822~123456789012~FDEG",
							"carrierCode": "FDXE",
							"trackingNumber": "858488600850"
						}
					},
					"pagingDetails": {
						"resultsPerPage": 56,
						"pagingToken": "38903279038"
					}
				}
			},
			"MasterTrackingInfo": {
				"description": "The detailed master tracking details for the shipment to be tracked.",
				"allOf": [
					{
						"$ref": "#/components/schemas/TrackingInfo"
					}
				]
			},
			"TrackingInfo": {
				"required": [
					"trackingNumberInfo"
				],
				"type": "object",
				"properties": {
					"shipDateBegin": {
						"type": "string",
						"description": "ShipDateBegin and ShipDateEnd are recommended to narrow the search, reduce lookup time, and avoid duplicates when searching for a specific tracking number within a specific date range. <br>Format: YYYY-MM-DD<br> Example: 2020-03-29",
						"example": "2020-03-29"
					},
					"shipDateEnd": {
						"type": "string",
						"description": "ShipDateBegin and ShipDateEnd are recommended to narrow the search, reduce lookup time, and avoid duplicates when searching for a specific tracking number within a specific date range. <br>Format: YYYY-MM-DD<br> Example: 2020-04-01",
						"example": "2020-04-01"
					},
					"trackingNumberInfo": {
						"$ref": "#/components/schemas/TrackingNumberInfo"
					}
				},
				"description": "Tracking details for the shipment to be tracked"
			},
			"TrackingNumberInfo": {
				"required": [
					"trackingNumber"
				],
				"type": "object",
				"properties": {
					"trackingNumber": {
						"type": "string",
						"description": "This is a Tracking number for FedEx packages used for tracking a single package or group of packages. <br> Example: 128667043726<br><a onclick='loadDocReference(\"mocktrackingnumbersforfedexexpressandfedexground\")'>Click here to see Mock Tracking Numbers.</a>",
						"example": "128667043726"
					},
					"carrierCode": {
						"type": "string",
						"description": "This is a placeholder to provide the FedEx operating company (transportation) code used for package delivery. <br> Example: FDXE",
						"example": "FDXE",
						"enum": [
							"FDXE",
							"FDXG",
							"FXSP",
							"FXFR",
							"FDXC",
							"FXCC",
							"FEDEX_CARGO",
							"FEDEX_CUSTOM_CRITICAL",
							"FEDEX_EXPRESS",
							"FEDEX_FREIGHT",
							"FEDEX_GROUND",
							"FEDEX_OFFICE",
							"FEDEX_KINKOS",
							"FX",
							"FDFR",
							"FDEG",
							"FXK",
							"FDC",
							"FDCC"
						]
					},
					"trackingNumberUniqueId": {
						"type": "string",
						"description": "Unique identifier used to distinguish duplicate FedEx tracking numbers. This value will be set by FedEx systems. <br> Example: 245822\\~123456789012\\~FDEG",
						"example": "245822~123456789012~FDEG"
					}
				},
				"description": "Information uniquely identifying a shipment such as Tracking number, ShipDate, and Tracking number uniqueId."
			},
			"PagingDetails": {
				"description": "The details about how to retrieve the subsequent pages when there is more than one page in the TrackReply.",
				"allOf": [
					{
						"$ref": "#/components/schemas/PagingDetails_2"
					}
				]
			},
			"PagingDetails_2": {
				"type": "object",
				"properties": {
					"resultsPerPage": {
						"type": "integer",
						"description": "<p>Use this element to specify the number of Tracking results to be returned in the Tracking response. Use this and pagingToken elements, to retrieve remaining set of the track results.</p><p><u>Here is how the paging works:</u><br>For your first track request, send element <i>resultsPerPage</i>, with a number XX (5) and the response will return XX (5) results along with element <i>pagingToken</i> and <i>moreDataAvailable</i> = true or false based on the number of tracking results.</p><ul><li>If <i>moreDataAvailable</i> = false, then there are no more track results can be retrieved further.</li><li>If <i>moreDataAvailable</i> = True, then it means there are more track results and hence send the next tracking request with <i>resultsPerPage</i> = YY (4) and <i>pagingToken</i> = XX + 1 (5)  from Track Response element <i>pagingToken</i>. This can be continued until the <i>moreDataAvailable</i> becomes false or there are no more tracking results.</li></ul> <br> Example: 10",
						"format": "int32",
						"example": 56
					},
					"pagingToken": {
						"type": "string",
						"description": "<p>Use this element to specify the starting sequence for the next set of tracking results. This element can be specified if paging is used in the initial tracking request and you need to request next set of track results.</p><p><i>Note:  This element not to be used in the initial tracking request and only should be used in the subsequent track requests when there is paging (element </i>resultsPerPage <i>is specified) indicated.</i></p> <br> Example: 1234567890",
						"example": "38903279038"
					}
				},
				"description": "Specify the details about how to retrieve the subsequent pages when there is more than one page in the TrackReply."
			},
			"TrkcResponseVO_Associated": {
				"type": "object",
				"properties": {
					"transactionId": {
						"type": "string",
						"description": "The transaction ID is a special set of numbers that defines each transaction.<br>Example: 624deea6-b709-470c-8c39-4b5511281492",
						"example": "624deea6-b709-470c-8c39-4b5511281492"
					},
					"customerTransactionId": {
						"type": "string",
						"description": "This element allows you to assign a unique identifier to your transaction. This element is also returned in the reply and helps you match the request to the reply. <br> Example: AnyCo_order123456789",
						"example": "AnyCo_order123456789"
					},
					"output": {
						"$ref": "#/components/schemas/BaseProcessOutputVO_Associated"
					}
				},
				"description": "This is a wrapper class for outputVO"
			},
			"BaseProcessOutputVO_Associated": {
				"$ref": "#/components/schemas/TrackingMPSResponse"
			},
			"TrackingMPSResponse": {
				"type": "object",
				"properties": {
					"completeTrackResults": {
						"type": "array",
						"description": "Contains the detailed tracking entry information.",
						"items": {
							"$ref": "#/components/schemas/CompleteTrackResult"
						}
					},
					"alerts": {
						"type": "array",
						"description": "The cxs alert type, alert code, and alert messages.<br>Example: example: TRACKING.DATA.NOTFOUND -  Tracking data unavailable",
						"example": "TRACKING.DATA.NOTFOUND -  Tracking data unavailable",
						"items": {
							"$ref": "#/components/schemas/Alert"
						}
					}
				},
				"description": "The response elements for Tracking by Associated Shipment request."
			},
			"CompleteTrackResult": {
				"type": "object",
				"properties": {
					"trackingNumber": {
						"type": "string",
						"description": "A tracking number to identify a package.<br> Example: 123456789012",
						"example": "123456789012"
					},
					"trackResults": {
						"type": "array",
						"description": "An array of detailed tracking information for the requested packages(s). In case of duplicate shipments, multiple track details will be populated.",
						"items": {
							"$ref": "#/components/schemas/TrackResult"
						}
					}
				},
				"description": "Detailed and complete track results"
			},
			"TrackResult": {
				"type": "object",
				"properties": {
					"trackingNumberInfo": {
						"$ref": "#/components/schemas/TrackingNumberInfo_1"
					},
					"additionalTrackingInfo": {
						"$ref": "#/components/schemas/AdditionalTrackingInfo"
					},
					"distanceToDestination": {
						"$ref": "#/components/schemas/Distance"
					},
					"consolidationDetail": {
						"type": "array",
						"description": "Indicates the consolidation details.",
						"items": {
							"$ref": "#/components/schemas/ConsolidationDetail"
						}
					},
					"meterNumber": {
						"type": "string",
						"description": "The associated meter number for your FedEx account number. Maximum of 9 characters. <br> Example: 8468376",
						"example": "8468376"
					},
					"returnDetail": {
						"$ref": "#/components/schemas/ReturnDetail"
					},
					"serviceDetail": {
						"$ref": "#/components/schemas/ServiceDescriptionDetail"
					},
					"destinationLocation": {
						"description": "Location details for the recipient where the package will be or has been delivered.",
						"allOf": [
							{
								"$ref": "#/components/schemas/LocationDetail1"
							}
						]
					},
					"latestStatusDetail": {
						"$ref": "#/components/schemas/StatusDetail"
					},
					"serviceCommitMessage": {
						"$ref": "#/components/schemas/ServiceCommitMessage"
					},
					"informationNotes": {
						"type": "array",
						"description": "Notifications to the end user that provide additional information relevant to the tracked shipment. For example, a notification may indicate that a change in behavior has occurred.",
						"items": {
							"$ref": "#/components/schemas/InformationNoteDetail"
						}
					},
					"error": {
						"$ref": "#/components/schemas/CXSError"
					},
					"specialHandlings": {
						"type": "array",
						"description": "Indicate the special handlings on the package being tracked. Includes Special handlings requested for the package like signature options, Broker select or COD etc.<br><a onclick='loadDocReference(\"fedexexpressspecialhandlingcodes\")'>Click here to see FedEx Express Special Handling Codes.</a>",
						"items": {
							"$ref": "#/components/schemas/TrackSpecialHandling"
						}
					},
					"availableImages": {
						"type": "array",
						"description": "The available tracking documents for the shipment being tracked. Available tracking documents includes SPOD and Bill of lading.",
						"items": {
							"$ref": "#/components/schemas/AvailableImagesDetail"
						}
					},
					"deliveryDetails": {
						"$ref": "#/components/schemas/DeliveryDetails"
					},
					"scanEvents": {
						"type": "array",
						"description": "FedEx scan event information for a shipment. Includes the list of events and/or scans applied.",
						"items": {
							"$ref": "#/components/schemas/ScanEvent"
						}
					},
					"dateAndTimes": {
						"type": "array",
						"description": "Date and time information for the tracked shipment. Date and time information for the tracked shipment includes various type of date time including when the package was shipped, when it is expected to deliver, when it is actually delivered etc.",
						"items": {
							"$ref": "#/components/schemas/TrackingDateAndTime"
						}
					},
					"packageDetails": {
						"$ref": "#/components/schemas/PackageDetail"
					},
					"goodsClassificationCode": {
						"type": "string",
						"description": "Classification codes for the goods in package. Goods classification codes required for clearance purpose. <br> Example: goodsClassificationCode",
						"example": "goodsClassificationCode"
					},
					"holdAtLocation": {
						"description": "Location details for the FedEx facility holding package for delivery. Populated only when REDIRECT_TO_HOLD_AT_LOCATION is available as custom delivery options.",
						"allOf": [
							{
								"$ref": "#/components/schemas/LocationDetail1"
							}
						]
					},
					"customDeliveryOptions": {
						"type": "array",
						"description": "List of delivery options that can be used to customize the delivery of the package.",
						"items": {
							"$ref": "#/components/schemas/CustomDeliveryOption"
						}
					},
					"estimatedDeliveryTimeWindow": {
						"description": "The estimated window for time of delivery.  May be periodically updated based on available in-flight shipment information.",
						"allOf": [
							{
								"$ref": "#/components/schemas/TimeWindow"
							}
						]
					},
					"pieceCounts": {
						"type": "array",
						"description": "Piece count information at origin and destination.",
						"items": {
							"$ref": "#/components/schemas/PieceCountDetail"
						}
					},
					"originLocation": {
						"$ref": "#/components/schemas/OriginLocation"
					},
					"recipientInformation": {
						"description": "Contact and address information of recipient.",
						"allOf": [
							{
								"$ref": "#/components/schemas/ContactAndAddress1"
							}
						]
					},
					"standardTransitTimeWindow": {
						"description": "The standard committed window of time by which the package is expected to be delivered.",
						"allOf": [
							{
								"$ref": "#/components/schemas/TimeWindow"
							}
						]
					},
					"shipmentDetails": {
						"$ref": "#/components/schemas/TrackShipmentDetail"
					},
					"reasonDetail": {
						"$ref": "#/components/schemas/ReasonDetail"
					},
					"availableNotifications": {
						"type": "array",
						"description": "The types of email notifications that are available for the package. <br> Example:ON_DELIVERY",
						"example": [
							"ON_DELIVERY",
							"ON_EXCEPTION"
						],
						"items": {
							"type": "string"
						}
					},
					"shipperInformation": {
						"description": "Contact and address information of shipper.",
						"allOf": [
							{
								"$ref": "#/components/schemas/ContactAndAddress1"
							}
						]
					},
					"lastUpdatedDestinationAddress": {
						"description": "Last updated delivery address for the package.",
						"allOf": [
							{
								"$ref": "#/components/schemas/AddressVO1"
							}
						]
					}
				},
				"description": "Contains detailed tracking information for the requested packages(s). In case of duplicates, multiple track details will be populated. "
			},
			"AdditionalTrackingInfo": {
				"type": "object",
				"properties": {
					"hasAssociatedShipments": {
						"type": "boolean",
						"description": "Field which indicates if the current shipment has associated shipments.<br> Example: false",
						"example": false
					},
					"nickname": {
						"type": "string",
						"description": "Field which holds information about nickname of the shipment. <br> Example: Shipment nickname",
						"example": "shipment nickname"
					},
					"packageIdentifiers": {
						"type": "array",
						"description": "Other related identifiers for this package such as reference numbers, purchase order number etc. Provides identifiers other than tracking number that can be used in order to track the shipment.",
						"items": {
							"$ref": "#/components/schemas/PackageIdentifier"
						}
					},
					"shipmentNotes": {
						"type": "string",
						"description": "Field which holds customer assigned notes for a package.<br> Example: shipment notes",
						"example": "shipment notes"
					}
				},
				"description": "Additional Tracking number information like nickname, notes, shipment attributes etc."
			},
			"PackageIdentifier": {
				"type": "object",
				"properties": {
					"type": {
						"type": "string",
						"description": "Indicate the package identifier to identify the package.<br> Example: SHIPPER_REFERENCE",
						"example": "SHIPPER_REFERENCE",
						"enum": [
							"BILL_OF_LADING",
							"COD_RETURN_TRACKING_NUMBER",
							"CUSTOMER_AUTHORIZATION_NUMBER",
							"CUSTOMER_REFERENCE",
							"DEPARTMENT",
							"DOCUMENT_AIRWAY_BILL",
							"EXPRESS_ALTERNATE_REFERENCE",
							"FEDEX_OFFICE_JOB_ORDER_NUMBER",
							"FREE_FORM_REFERENCE",
							"GROUND_INTERNATIONAL",
							"GROUND_SHIPMENT_ID",
							"GROUP_MPS",
							"INTERNATIONAL_DISTRIBUTION",
							"INVOICE",
							"JOB_GLOBAL_TRACKING_NUMBER",
							"ORDER_GLOBAL_TRACKING_NUMBER",
							"ORDER_TO_PAY_NUMBER",
							"OUTBOUND_LINK_TO_RETURN",
							"PART_NUMBER",
							"PARTNER_CARRIER_NUMBER",
							"PURCHASE_ORDER",
							"REROUTE_TRACKING_NUMBER",
							"RETURN_MATERIALS_AUTHORIZATION",
							"RETURNED_TO_SHIPPER_TRACKING_NUMBER",
							"SHIPPER_REFERENCE",
							"STANDARD_MPS",
							"TRACKING_CONTROL_NUMBER",
							"TRACKING_NUMBER_OR_DOORTAG",
							"TRANSBORDER_DISTRIBUTION",
							"TRANSPORTATION_CONTROL_NUMBER",
							"VIRTUAL_CONSOLIDATION"
						]
					},
					"value": {
						"type": "array",
						"description": "Field which holds the value of the identifier used to identify the package. <br>Example: 'ASJFGVAS'",
						"example": "ASJFGVAS",
						"items": {
							"type": "string"
						}
					},
					"trackingNumberUniqueId": {
						"type": "string",
						"description": "Unique identifier used to distinguish duplicate FedEx tracking numbers. This value will be set by FedEx systems. <br> Example: 245822\\~123456789012\\~FDEG",
						"example": "245822~123456789012~FDEG"
					}
				},
				"description": "The type and value of the package identifier that is to be used to retrieve the tracking information for a package or group of packages."
			},
			"Distance": {
				"type": "object",
				"properties": {
					"units": {
						"type": "string",
						"description": "Field which holds the distance unit type.",
						"example": "KM",
						"enum": [
							"KM",
							"MI"
						]
					},
					"value": {
						"type": "number",
						"description": "Field which holds the value for the distance.<br> Example: 685.78",
						"format": "double",
						"example": 685.7
					}
				},
				"description": "Distance remaining to the destination. Only returned for FedEx Custom Critical shipments."
			},
			"ConsolidationDetail": {
				"type": "object",
				"properties": {
					"timeStamp": {
						"type": "string",
						"description": "The timestamp for the consolidation. <br> Example: 2020-10-13T03:54:44-06:00",
						"example": "2020-10-13T03:54:44-06:00"
					},
					"consolidationID": {
						"type": "string",
						"description": "The identifier for the consolidation. <br> Example: 47936927",
						"example": "47936927"
					},
					"reasonDetail": {
						"description": "Specifies the reason details for the consolidation event for a package.",
						"allOf": [
							{
								"$ref": "#/components/schemas/ReasonDetail"
							}
						]
					},
					"packageCount": {
						"type": "integer",
						"description": "Specifies the package count for the consolidation. <br> Example: 25",
						"format": "int32",
						"example": 25
					},
					"eventType": {
						"type": "string",
						"description": "Specifies the consolidation event type for a package.  A package can be ADDED to, REMOVED from, or EXCLUDED from a consolidation. <br> Example: PACKAGE_ADDED_TO_CONSOLIDATION",
						"example": "PACKAGE_ADDED_TO_CONSOLIDATION"
					}
				},
				"description": "This is the consolidation details for packages within a shipment identified as CONSOLIDATED."
			},
			"ReasonDetail": {
				"type": "object",
				"properties": {
					"description": {
						"type": "string",
						"description": "Field which holds the reason description. <br> Example: Wrong color",
						"example": "Wrong color"
					},
					"type": {
						"type": "string",
						"description": "Field which holds the reason type.<br> Example: REJECTED",
						"example": "REJECTED"
					}
				},
				"description": "This object contains reason description and type."
			},
			"ReturnDetail": {
				"type": "object",
				"properties": {
					"authorizationName": {
						"type": "string",
						"description": "Name of person authorizing the return, entered by the customer.",
						"example": "Sammy Smith"
					},
					"reasonDetail": {
						"type": "array",
						"description": "Specifies the return reason details.",
						"items": {
							"$ref": "#/components/schemas/ReasonDetail"
						}
					}
				},
				"description": "Specifies return information related to a return shipment."
			},
			"ServiceDescriptionDetail": {
				"type": "object",
				"properties": {
					"description": {
						"type": "string",
						"description": "Field which holds the text description of the service type of this package.<br> Example: FedEx Freight Economy",
						"example": "FedEx Freight Economy."
					},
					"shortDescription": {
						"type": "string",
						"description": "Field which holds the abbreviated text description of the service type of this package.<br> Example: FL",
						"example": "FL"
					},
					"type": {
						"type": "string",
						"description": "This is the service type.<br> Example: FEDEX_FREIGHT_ECONOMY<br><a onclick='loadDocReference(\"servicetypes\")'>Click here to see Service Types</a>",
						"example": "FEDEX_FREIGHT_ECONOMY"
					}
				},
				"description": "This object contains service description details for the package."
			},
			"LocationDetail_1": {
				"required": [
					"locationContactAndAddress",
					"locationType"
				],
				"type": "object",
				"properties": {
					"locationId": {
						"type": "string",
						"description": "Location Identification for facilities identified by an alpha numeric location code. Passing Location Id of the Hold at Location (HAL) address is strongly recommended to ensure packages are delivered to the correct address.<br> Example: SEA",
						"example": "SEA"
					},
					"locationContactAndAddress": {
						"$ref": "#/components/schemas/ContactAndAddress_1"
					},
					"locationType": {
						"type": "string",
						"description": "The FedEx Location Type.<br> Example: PICKUP_LOCTION",
						"example": "PICKUP_LOCATION",
						"enum": [
							"FEDEX_AUTHORIZED_SHIP_CENTER",
							"FEDEX_OFFICE",
							"FEDEX_SELF_SERVICE_LOCATION",
							"FEDEX_STAFFED",
							"RETAIL_ALLICANCE_LOCATION",
							"FEDEX_GROUND_TERMINAL",
							"FEDEX_ONSITE"
						]
					}
				},
				"description": "Location details for the fedex facility."
			},
			"ContactAndAddress_1": {
				"required": [
					"address",
					"contact"
				],
				"type": "object",
				"properties": {
					"contact": {
						"$ref": "#/components/schemas/ContactVO_1"
					},
					"address": {
						"description": "Required.\n\nDescriptive data for a physical location.  may be used as an actual physical address(place to which one could go), or a container of 'address parts' which should be handled as a unit(such as a city-state-zip combination within the US).\n\nConditional when used with Payor object.  Required if entering using RECIPIENT or THIRD_PARTY.  Required if not-authenticated and SENDER is selected",
						"allOf": [
							{
								"$ref": "#/components/schemas/AddressVO_1"
							}
						]
					}
				},
				"description": "Location Contact And Address."
			},
			"ContactVO_1": {
				"type": "object",
				"properties": {
					"personName": {
						"type": "string",
						"description": "Identifies the contact person's name. Max Length is 70.<br> Example: John Taylor",
						"example": "John Taylor"
					},
					"phoneNumber": {
						"type": "string",
						"description": "Identifies the phone number associated with this contact. Max length is 15. <br>Example: '1234567890'",
						"example": "1234567890"
					},
					"companyName": {
						"type": "string",
						"description": "Identifies the company this contact is associated with. Max length is 35. <br> Example: Fedex",
						"example": "Fedex"
					}
				},
				"description": "Indicate the contact details for this package.<br>Note: contact is shown in response only in secured flow. For non secured flow, contact is not shown in the response.'"
			},
			"AddressVO_1": {
				"required": [
					"addressVerificationId",
					"countryCode",
					"streetLines"
				],
				"type": "object",
				"properties": {
					"classification": {
						"type": "string",
						"description": "Specifies the FedEx classification type for an address. <br>Valid values are BUSINESS, RESIDENTIAL, MIXED, UNKNOWN.<br> Example: BUSINESS",
						"example": "BUSINESS"
					},
					"residential": {
						"type": "boolean",
						"description": "Placeholder to indicate whether the address is residential (as opposed to commercial).",
						"example": false,
						"enum": [
							true,
							false
						]
					},
					"streetLines": {
						"type": "array",
						"description": "Combination of number, street name, etc. At least one line is required for a valid physical address; empty lines should not be included.<br> Example: [\"1043 North Easy Street\", \"Suite 999\"]. <br>Note: Street lines is shown in response only in secured flow. For non secured flow, street lines is not shown in the response.",
						"example": [
							"1043 North Easy Street",
							"Suite 999"
						],
						"items": {
							"type": "string"
						}
					},
					"city": {
						"type": "string",
						"description": "Conditional<br>The name of the city, town, etc. <br> Example: SEATTLE",
						"example": "SEATTLE"
					},
					"stateOrProvinceCode": {
						"type": "string",
						"description": "This is a placeholder for State or Province code. <br> Example: CA<br><a onclick='loadDocReference(\"canadaprovincecodes\")'>Click here to see State/Province Code</a>",
						"example": "WA"
					},
					"postalCode": {
						"type": "string",
						"description": "Placeholder to specify postal code for the address. Postal Code is required for postal-aware countries.<br> Example: 98101<br><a onclick='loadDocReference(\"postalawarecountries\")'>Click here to see Postal aware countries</a>",
						"example": "98101"
					},
					"countryCode": {
						"type": "string",
						"description": "Placeholder for country code (2 characters) for the address.<br>Example: US<br><a onclick='loadDocReference(\"countrycodes\")'>Click here to see Country Codes</a>",
						"example": "US"
					}
				},
				"description": "Address where the package was actually delivered. Contrast with destinationAddress, which is the location to which the package was intended to be delivered. Addresses may differ due to delivery to a behavior, hold at FedEx location, etc."
			},
			"StatusDetail": {
				"type": "object",
				"properties": {
					"scanLocation": {
						"description": "Address information related to the associated Status.",
						"allOf": [
							{
								"$ref": "#/components/schemas/AddressVO1"
							}
						]
					},
					"code": {
						"type": "string",
						"description": "A code that identifies this type of status.<br> Example:PU,DE,DP,HL,OC",
						"example": "PU"
					},
					"derivedCode": {
						"type": "string",
						"description": "Specifies the latest status detail code of the package.<br> Example:PU,DE,DP,HL,OC",
						"example": "PU"
					},
					"ancillaryDetails": {
						"type": "array",
						"description": "Specifies the cause of exception along with any action that needs to taken by customer.",
						"items": {
							"$ref": "#/components/schemas/StatusAncillaryDetail"
						}
					},
					"statusByLocale": {
						"type": "string",
						"description": "This is the latest tracking status by locale.<br> Example: Picked up",
						"example": "Picked up"
					},
					"description": {
						"type": "string",
						"description": "A human-readable description of this status.<br> Example: Picked up",
						"example": "Picked up"
					},
					"delayDetail": {
						"$ref": "#/components/schemas/DelayDetail"
					}
				},
				"description": "Specifies details about the status of the track information for the shipment being tracked.  AncilliaryDetails may also be available which describe the cause of exception along with any action that needs to taken by customer."
			},
			"AddressVO": {
				"required": [
					"addressVerificationId",
					"countryCode",
					"streetLines"
				],
				"type": "object",
				"properties": {
					"classification": {
						"type": "string",
						"description": "Specifies the FedEx classification type for an address. <br>Valid values are BUSINESS, RESIDENTIAL, MIXED, UNKNOWN.<br> Example: BUSINESS",
						"example": "BUSINESS"
					},
					"residential": {
						"type": "boolean",
						"description": "Placeholder to indicate whether the address is residential (as opposed to commercial).",
						"example": false,
						"enum": [
							true,
							false
						]
					},
					"streetLines": {
						"type": "array",
						"description": "Combination of number, street name, etc. At least one line is required for a valid physical address; empty lines should not be included.<br> Example: [\"1043 North Easy Street\", \"Suite 999\"]",
						"example": [
							"1043 North Easy Street",
							"Suite 999"
						],
						"items": {
							"type": "string"
						}
					},
					"city": {
						"type": "string",
						"description": "Conditional<br>The name of the city, town, etc. <br> Example: SEATTLE",
						"example": "SEATTLE"
					},
					"stateOrProvinceCode": {
						"type": "string",
						"description": "This is a placeholder for State or Province code. <br> Example: CA<br><a onclick='loadDocReference(\"canadaprovincecodes\")'>Click here to see State/Province Code</a>",
						"example": "WA"
					},
					"postalCode": {
						"type": "string",
						"description": "Placeholder to specify postal code for the address. Postal Code is required for postal-aware countries.<br> Example: 98101<br><a onclick='loadDocReference(\"postalawarecountries\")'>Click here to see Postal aware countries</a>",
						"example": "98101"
					},
					"countryCode": {
						"type": "string",
						"description": "Placeholder for country code (2 characters) for the address.<br>Example: US<br><a onclick='loadDocReference(\"countrycodes\")'>Click here to see Country Codes</a>",
						"example": "US"
					},
					"countryName": {
						"type": "string",
						"description": "Field holds the fully spelled out name of a country.<br> Example: United States",
						"example": "United States"
					}
				},
				"description": "Address where the package was actually delivered. Contrast with destinationAddress, which is the location to which the package was intended to be delivered. Addresses may differ due to delivery to a behavior, hold at FedEx location, etc."
			},
			"StatusAncillaryDetail": {
				"type": "object",
				"properties": {
					"reason": {
						"type": "string",
						"description": "Field which holds Reason code associated to the status of the shipment being tracked.<br> Example: 15,84,IN001,015A,02",
						"example": "15"
					},
					"reasonDescription": {
						"type": "string",
						"description": "Field which holds Reason description associated to the status of the shipment being tracked.<br> Example: Customer not available or business closed,Local delivery restriction, delivery not attempted,Package delivered to recipient address - release authorized",
						"example": "Customer not available or business closed"
					},
					"action": {
						"type": "string",
						"description": "Field which holds recommended action for customer to resolve reason.<br> Example: Contact us at <http://www.fedex.com/us/customersupport/call/index.html> to discuss possible delivery or pickup alternatives.",
						"example": "Contact us at <http://www.fedex.com/us/customersupport/call/index.html> to discuss possible delivery or pickup alternatives."
					},
					"actionDescription": {
						"type": "string",
						"description": "Field which holds recommended action description for customer to resolve reason.<br> Example: Customer not Available or Business Closed",
						"example": "Customer not Available or Business Closed"
					}
				},
				"description": "Field which holds status code of the track information for the shipment being tracked."
			},
			"DelayDetail": {
				"type": "object",
				"properties": {
					"type": {
						"type": "string",
						"description": "Specifies the type of delay.",
						"example": "WEATHER",
						"enum": [
							"WEATHER",
							"OPERATIONAL",
							"LOCAL",
							"GENERAL",
							"CLEARANCE"
						]
					},
					"subType": {
						"type": "string",
						"description": "Specifies the subType of delay.",
						"example": "SNOW",
						"enum": [
							"SNOW",
							"TORNADO",
							"EARTHQUAKE etc"
						]
					},
					"status": {
						"type": "string",
						"description": "Specifies the status of package indicating whether a package is arriving early or is on time or has been delayed.",
						"example": "DELAYED",
						"enum": [
							"DELAYED",
							"ON_TIME",
							"EARLY"
						]
					}
				},
				"description": "Specifies the information about delays."
			},
			"ServiceCommitMessage": {
				"type": "object",
				"properties": {
					"message": {
						"type": "string",
						"description": "Field which holds the commitment message for this package.<br> Example: No scheduled delivery date available at this time.",
						"example": "No scheduled delivery date available at this time."
					},
					"type": {
						"type": "string",
						"description": "Field which holds the type of service commit message.<br> Example: ESTIMATED_DELIVERY_DATE_UNAVAILABLE",
						"example": "ESTIMATED_DELIVERY_DATE_UNAVAILABLE",
						"enum": [
							"BROKER_DELIVERED_DESCRIPTION",
							"CANCELLED_DESCRIPTION",
							"DELIVERY_IN_MULTIPLE_PIECE_SHIPMENT",
							"ESTIMATED_DELIVERY_DATE_UNAVAILABLE",
							"EXCEPTION_IN_MULTIPLE_PIECE_SHIPMENT",
							"FINAL_DELIVERY_ATTEMPTED",
							"FIRST_DELIVERY_ATTEMPTED",
							"HELD_PACKAGE_AVAILABLE_FOR_RECIPIENT_PICKUP",
							"HELD_PACKAGE_AVAILABLE_FOR_RECIPIENT_PICKUP_WITH_ADDRESS",
							"HELD_PACKAGE_NOT_AVAILABLE_FOR_RECIPIENT_PICKUP",
							"SHIPMENT_LABEL_CREATED",
							"SUBSEQUENT_DELIVERY_ATTEMPTED",
							"USPS_DELIVERED",
							"USPS_DELIVERING\""
						]
					}
				},
				"description": "Commitment message for this package. Informative messages related to the package. Used to convey information such as FedEx has received information about a package but has not yet taken possession of it. FedEx has handed the package off to a third party for final delivery. The package delivery has been cancelled."
			},
			"InformationNoteDetail": {
				"type": "object",
				"properties": {
					"code": {
						"type": "string",
						"description": "Field which holds the code that designates the type of informational message being returned. <br>Example: 'CLEARANCE_ENTRY_FEE_APPLIES'",
						"example": "CLEARANCE_ENTRY_FEE_APPLIES"
					},
					"description": {
						"type": "string",
						"description": "Field which holds the The informational message in human readable form.<br> Example: this is an informational message",
						"example": "this is an informational message"
					}
				},
				"description": "Notifications to the end user that provide additional information relevant to the tracked shipment. For example, a notification may indicate that a change in behavior has occurred."
			},
			"CXSError": {
				"type": "object",
				"properties": {
					"code": {
						"type": "string",
						"description": "Error Code. <br> Example: TRACKING.TRACKINGNUMBER.EMPTY",
						"example": "TRACKING.TRACKINGNUMBER.EMPTY"
					},
					"parameterList": {
						"type": "array",
						"description": "List of parameters.",
						"items": {
							"$ref": "#/components/schemas/Parameter"
						}
					},
					"message": {
						"type": "string",
						"description": "Error Message. <br>Example: Please provide tracking number.",
						"example": "Please provide tracking number."
					}
				},
				"description": "Contains error details."
			},
			"Parameter": {
				"type": "object",
				"properties": {
					"value": {
						"type": "string",
						"description": "Identifies the error option to be applied. <br>Example: value",
						"example": "value"
					},
					"key": {
						"type": "string",
						"description": "Indicates the value associated with the key.<br> Example: key",
						"example": "key"
					}
				},
				"description": "List of parameters which indicates the properties of the alert message."
			},
			"TrackSpecialHandling": {
				"type": "object",
				"properties": {
					"description": {
						"type": "string",
						"description": "Field which holds the text description of the special handling code.<br> Example: Deliver Weekday",
						"example": "Deliver Weekday"
					},
					"type": {
						"type": "string",
						"description": "Field which holds type representing the special handling.<br> Example: DELIVER_WEEKDAY",
[...]
