$white: #fff !default;
$grey: #eee !default;
$black: #000 ;
$light-gray: #8092AB;
$border-grey-light: #D9DCDE;
$border-grey-dark: #333C48;
$light-green: #82bf99;
$dark-green: #3b734f;

$disabled: #9E9EA8;
$dark-background: #1f2936;
$bg-light: #EEF3F9;
$bg-dark: #22272E;
$bg-dark-light: #232e3c;

$primary-rgb: 77, 114, 250;
$primary-rgb-darker: 77, 94, 240;
$primary: unquote("rgb(#{$primary-rgb})");
$primary-light: unquote("rgb(#{$primary-rgb})");

.color-primary {
  color: $primary !important;
}

.bg-light-1 {
  background-color: #A6B6CC !important;
}

.color-black {
  color: $black;
}

.color-disabled {
  color: $disabled;
}

.bg-light {
  background: $bg-light;
}
.bg-dark {
  background: $dark-background;
}

.mute-text {
  color: $light-gray;
}
.color-white{
  color: white;
}
.color-muted{
  color: #DCDCDC;
}
.color-muted-darkmode{
  color: #646D77;
}
.color-whitish-darkmode{
  color :#c9cbcf !important;
}
