$base-border-radius: 6px;
$btn-bg: #FFFFFF;
$btn-color: #11181C;

$btn-dark-bg: #121212;
$btn-dark-color: #FFFFFF;

.base-button {
    border-radius: $base-border-radius;
    background: $btn-bg;
    color: $btn-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    border: 1px solid #D7DBDF;
}

.base-button.dark {
    background: $btn-dark-bg;
    color: $btn-dark-color;
    border-color: #11181C;

    &:hover {
        background: lighten($btn-dark-bg, 10%);
    }

    img {
        filter: brightness(0) invert(1);
    }
}

.leftsidebar-panel-header {
    height: 100%;
    background-color: #F1F3F5;
    
    .panel-header-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 16px;
      height: 52px;
      border-bottom: 1px solid #E6E8EB;
  
      .add-new-page {
        margin-left: 4px;
      }
  
    }
    .panel-search-container {
      padding: 8px 12px;
      border-bottom: 1px solid #E6E8EB;
    }
  }

.leftsidebar-panel-header.dark {
    // background-color: #202425;
    background-color: #1F2936;
    .panel-header-container, .panel-search-container {
        border-color: #697177;
    }
}

.page-selector-panel-body {
    height: 100%;
    padding: 12px;
    background-color: #FFFFFF;

    .page-handler {
        height: 32px;
        margin-bottom: 6px;
        font-weight: 500;
      
        .card, .card-body {
          padding: 3px;
          height: 32px;
        }
      
        .card.active {
          background: #ECEEF0;
        }
      
        .card.non-active-page {
          border: none;
          box-shadow: none;
      
          .text-truncate {
            margin-left: 10px;
          }
        }
      
        .card:hover {
          background: #E6EDFE !important;
        }
      
        .page-name-input {
          height: 32px;
        }
      }
}

.page-selector-panel-body.dark {
    background: #1F2936;

    .page-handler {
        .card {
            background: none !important
        }
        .card.active {
            background: #26292B !important;
        }
        .card:hover{
            background: #2C3547 !important;
        }
    }
}

.left-sidebar-page-selector.dark {
    background: #1F2936 !important;
}
