// overwrites the styles of datepicker [cell-type]
.cell-type-datepicker {
  margin-top: 2px;
  margin-right: 5px;

  input.form-control:disabled {
    background-color: #ff000000;
    border: 0px;
  }

  .rdtPicker {
    position: fixed;

    thead {
      display: table-header-group !important;
      vertical-align: middle;
      position: static !important;
    }

    tbody {
      display: table-row-group;

      tr {
        td {
          width: 14.2857% !important;
        }
      }
    }

    tr {
      display: table-row;
    }

    td {
      display: table-cell !important;
    }
  }
}

div[data-disabled='true'] {
  pointer-events: none;
  opacity: 0.6;
  filter: alpha(opacity=50);
  zoom: 1;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
}

.queries-container .btn-px-1 {
  padding-left: .90rem;
  padding-right: .90rem;
}

.accepted-files .file-list {
  margin-bottom: -0.25rem;
}

.animate-width-change {
  transition: width 0.2s ease-in-out;
}

.color-picker-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: transparent;
  height: 1000vh;
}

.react-datepicker--time-only {
  .react-datepicker__input-time-container {
    margin: 10px 15px 10px 15px;
    width: 143px;
  }
}

.go-to-app {
  .css-1nfapid-container {
    width: 100%;
  }
}

.switch-page {
  .css-1nfapid-container {
    width: 100%;
  }
}

.loader-main-container {
  width: 0px !important;
  position: absolute;
  bottom: 44%;
  left: 46%;
}

body {
  overflow-y: auto !important;
}
//to determine the text alignment of input elements in the table cells
.table-text-align-left{
  input{
    text-align: left;
  }
  .tags.row,.radio-row{
    justify-content: left;
  }
  &.has-datepicker{
    .td-container{
      .w-100.h-100{
        div{
          justify-content: left !important;
        }
      }
    }
  }
}
.table-text-align-right{
  input{
    text-align: right;
  }
  .tags.row,.radio.row{
    justify-content: right;
  }
  &.has-datepicker{
    .td-container{
      .w-100.h-100{
        div{
          justify-content: right !important;
        }
      }
    }
  }
}
.table-text-align-center{
  input{
    text-align: center;
  }
  .tags.row,.radio.row{
    justify-content: center;
  }
  &.has-datepicker{
    .td-container{
      .w-100.h-100{
        div{
          justify-content: center !important;
        }
      }
    }
  }
}
.table-text-align-center,.table-text-align-left,.table-text-align-right{
  .radio.row{
    width: 100%;
  }
  .radio.row.g-0 > *{
   width: fit-content !important;
  }
}