//This class is for stylised toggle seen in datepicker and in any other future widgets
.custom-toggle-field-wrapper {
    margin-bottom: 8px;
    // height: 44px;
    padding: 12px 16px;
    // border-radius: 6px;

    background: #CCD1D533;
}

.custom-dropdown-field-wrapper {
    // height: 80px;
    border-top: 1px solid #E4E7EB;
    // border-bottom-left-radius: 6px;
    // border-bottom-right-radius: 6px;
    background: #CCD1D533;
    padding: 12px 16px;
    margin-top: -8px;

}

.sub-section-field-wrapper {
    background: #CCD1D533;
    // padding: 12px 16px;
    margin-top: -8px;
    padding: 0px 16px 8px 16px;
}

.rounded-top-div {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.rounded-bottom-div {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}