@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/tomato.css";
@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/crimson.css";
@import "@radix-ui/colors/pink.css";
@import "@radix-ui/colors/plum.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/cyan.css";
@import "@radix-ui/colors/teal.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/brown.css";
@import "@radix-ui/colors/red.css";

// Bright Colors
@import "@radix-ui/colors/sky.css";
@import "@radix-ui/colors/mint.css";
@import "@radix-ui/colors/lime.css";
@import "@radix-ui/colors/yellow.css";
@import "@radix-ui/colors/amber.css";

// Grays
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/sage.css";
@import "@radix-ui/colors/olive.css";
@import "@radix-ui/colors/sand.css";

// Metals
@import "@radix-ui/colors/gold.css";
@import "@radix-ui/colors/bronze.css";