@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/tomato.css";
@import "@radix-ui/colors/grass.css";
@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/crimson.css";
@import "@radix-ui/colors/pink.css";
@import "@radix-ui/colors/plum.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/cyan.css";
@import "@radix-ui/colors/teal.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/brown.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/slateDark.css";
@import "@radix-ui/colors/indigoDark.css";
@import "@radix-ui/colors/tomatoDark.css";
@import "@radix-ui/colors/grassDark.css";
@import "@radix-ui/colors/orangeDark.css";
@import "@radix-ui/colors/crimsonDark.css";
@import "@radix-ui/colors/pinkDark.css";
@import "@radix-ui/colors/plumDark.css";
@import "@radix-ui/colors/purpleDark.css";
@import "@radix-ui/colors/violetDark.css";
@import "@radix-ui/colors/blueDark.css";
@import "@radix-ui/colors/cyanDark.css";
@import "@radix-ui/colors/tealDark.css";
@import "@radix-ui/colors/greenDark.css";
@import "@radix-ui/colors/brownDark.css";
@import "@radix-ui/colors/redDark.css";

// Bright Colors
@import "@radix-ui/colors/sky.css";
@import "@radix-ui/colors/mint.css";
@import "@radix-ui/colors/lime.css";
@import "@radix-ui/colors/yellow.css";
@import "@radix-ui/colors/amber.css";
@import "@radix-ui/colors/skyDark.css";
@import "@radix-ui/colors/mintDark.css";
@import "@radix-ui/colors/limeDark.css";
@import "@radix-ui/colors/yellowDark.css";
@import "@radix-ui/colors/amberDark.css";

// Grays
@import "@radix-ui/colors/grayDark.css";
@import "@radix-ui/colors/mauveDark.css";
@import "@radix-ui/colors/sageDark.css";
@import "@radix-ui/colors/oliveDark.css";
@import "@radix-ui/colors/sandDark.css";
@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/sage.css";
@import "@radix-ui/colors/olive.css";
@import "@radix-ui/colors/sand.css";

// Metals
@import "@radix-ui/colors/gold.css";
@import "@radix-ui/colors/bronze.css";
@import "@radix-ui/colors/goldDark.css";
@import "@radix-ui/colors/bronzeDark.css";

:root,
.light-theme {
    --base: #FCFCFD;
    --base-black: #18181A;
    --text-black-000: #000000;
    --slate12: #313739;

    --controls-switch-tab: #fff;
    --controls-switch-tag: #CCD1D54D;
    --text-disabled: #889099;
    --text-default: #1B1F24;


    // new design theme
    --primary-brand: #4368E3;
    --primary-accent-strong: #4368E3;
    --primary-accent-subtle: rgba(67, 104, 227, 30%);
    --primary-white: #FFFFFF;
    --primary-black: #1B1F24;

    // text
    --text-primary: #1B1F24;
    --text-placeholder: #6A727C;
    --text-disbled: #ACB2B9;
    --text-on-solid: #FFFFFF;


    // status
    --status-error-strong: #D72D39;
    --status-error-subtle: rgba(215, 45, 57, 30%);
    --status-warning-strong: #BF4F03;
    --status-warning-subtle: rgba(191, 79, 3, 30%);
    --status-success-strong: #1E823B;
    --status-success-subtle: rgba(30, 130, 59, 30%);

    //icon 
    --icons-strong: #6A727C;
    --icons-default: #ACB2B9;
    --icons-weak-disabled: #6A727C;
    --icons-disabled-on-white: #6A727C;
    --icons-on-solid: #FFFFFF;

    // borders
    --borders-strong: #ACB2B9;
    --borders-default: #CCD1D5;
    --borders-weak-disabled: #CCD1D5;
    --borders-disabled-on-white: #E4E7EB;
    --borders-disabled-on-white-dimmed: rgba(246, 248, 250, 80%);

    // interactive overlays
    --interactive-overlays-fill-hover: rgba(27, 31, 36, 8%);
    --interactive-overlays-fill-pressed: rgba(27, 31, 36, 10%);
    --interactive-overlays-border-hover: rgba(27, 31, 36, 12%);
    --interactive-overlays-border-pressed: rgba(27, 31, 36, 16%);
    --interactive-overlays-focus-outline: #4368E3;
    --interactive-overlays-focus-inner-shadow: #FFFFFF;
    --interactive-overlays-column-resize: #1B1F244D;

    //interactive
    --interactive-default: #CCD1D54D;
    --interactive-hover: #ACB2B959;



    //surfaces
    --surfaces-app-bg-default: #F6F6F6;
    --surfaces-surface-01: #FFFFFF;
    --surfaces-surface-02: #F6F8FA;
    --surfaces-surface-03: #E4E7EB;

    // utilities
    --utilities-scrollbar: rgba(106, 114, 124, 12%);

    //box shadows
    --elevation-000-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.10);
    --elevation-200-box-shadow: 0px 2px 4px 0px rgba(48, 50, 51, 0.10), 0px 0px 1px 0px rgba(48, 50, 51, 0.05);
    --elevation-300-box-shadow: 0px 4px 8px 0px rgba(48, 50, 51, 0.10), 0px 0px 1px 0px rgba(48, 50, 51, 0.05);
    --elevation-400-box-shadow: 0px 8px 16px 0px rgba(48, 50, 51, 0.10), 0px 0px 1px 0px rgba(48, 50, 51, 0.05);
    --elevation-500-box-shadow: 0px 16px 24px 0px rgba(48, 50, 51, 0.09), 0px 0px 1px 0px rgba(48, 50, 51, 0.05);
    --elevation-600-box-shadow: 0px 24px 40px 0px rgba(48, 50, 51, 0.08), 0px 0px 1px 0px rgba(48, 50, 51, 0.05);
    --elevation-700-box-shadow: 0px 32px 50px 0px rgba(48, 50, 51, 0.08), 0px 0px 1px 0px rgba(48, 50, 51, 0.05);
    --elevation-100-box-shadow: 0px 1px 1px 0px rgba(48, 50, 51, 0.10), 0px 0px 1px 0px rgba(48, 50, 51, 0.05);

    --interactive-overlay-border-pressed: #1B1F2429;
    --interactive-overlay-fill-pressed: #1B1F241A;
    --interactive-overlay-column-resize: #1B1F244D;
}

.dark-theme {
    /* Remap your colors for dark mode */
    --base: #1f2936;
    --base-black: #FBFCFD;
    --text-black-000: #ffffff;
    --slate1: #1f2936;


    --controls-switch-tab: #2B3036;
    --controls-switch-tag: #121518;
    --text-disabled: #6D757D;
    --text-default: #FAFCFF;


    // new design theme
    --primary-brand: #4A6DD9;
    --primary-accent-strong: #4A6DD9;
    --primary-accent-subtle: rgba(74, 109, 217, 30%);
    --primary-white: #FAFCFF;
    --primary-black: #121518;

    // text
    --text-primary: #CFD3D8;
    --text-placeholder: #858C94;
    --text-disbled: #545B64;
    --text-on-solid: #FAFCFF;


    // status
    --status-error-strong: #D03F43;
    --status-error-subtle: rgba(208, 63, 67, 30%);
    --status-warning-strong: #BA5722;
    --status-warning-subtle: rgba(186, 87, 34, 30%);
    --status-success-strong: #318344;
    --status-success-subtle: rgba(49, 131, 68, 30%);

    //icon 
    --icons-strong: rgba(207, 211, 216, 90%);
    --icons-default: rgba(207, 211, 216, 65%);
    --icons-weak-disabled: rgba(207, 211, 216, 35%);
    --icons-disabled-on-white: rgba(207, 211, 216, 20%);
    --icons-on-solid: #FAFCFF;

    // borders
    --borders-strong: #545B64;
    --borders-default: #3C434B;
    --borders-weak-disabled: #2B3036;
    --borders-disabled-on-white: rgba(43, 48, 54, 20%);
    --borders-disabled-on-white-dimmed: rgba(43, 48, 54, 20%);


    // interactive overlays

    --interactive-overlays-fill-hover: rgba(255, 255, 255, 12%);
    --interactive-overlays-fill-pressed: rgba(255, 255, 255, 20%);
    --interactive-overlays-border-hover: rgba(255, 255, 255, 20%);
    --interactive-overlays-border-pressed: rgba(255, 255, 255, 28%);
    --interactive-overlays-focus-outline: #4A6DD9;
    --interactive-overlays-focus-inner-shadow: #121518;
    --interactive-overlays-column-resize: #FFFFFF80;

    //interactive
    --interactive-default: #A1A7AE1F;
    --interactive-hover: #A1A7AE29;


    //surfaces
    --surfaces-app-bg-default: #121518;
    --surfaces-surface-01: #1E2226;
    --surfaces-surface-02: #2B3036;
    --surfaces-surface-03: #3C434B;

    // utilities
    --utilities-scrollbar: rgba(109, 117, 125, 16%);

    //box-shadow
    --elevation-000-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.40);
    --elevation-100-box-shadow: 0px 1px 1px 0px #000, 0px 0px 1px 0px rgba(0, 0, 0, 0.90);
    --elevation-200-box-shadow: 0px 2px 4px 0px #000, 0px 0px 1px 0px rgba(0, 0, 0, 0.90);
    --elevation-300-box-shadow: 0px 4px 8px 0px #000, 0px 0px 1px 0px rgba(0, 0, 0, 0.90);
    --elevation-400-box-shadow: 0px 8px 16px 0px #000, 0px 0px 1px 0px rgba(0, 0, 0, 0.90);
    --elevation-500-box-shadow: 0px 16px 24px 0px rgba(0, 0, 0, 0.99), 0px 0px 1px 0px rgba(0, 0, 0, 0.90);
    --elevation-600-box-shadow: 0px 24px 40px 0px rgba(0, 0, 0, 0.98), 0px 0px 1px 0px rgba(0, 0, 0, 0.90);
    --elevation-700-box-shadow: 0px 32px 50px 0px rgba(0, 0, 0, 0.98), 0px 0px 1px 0px rgba(0, 0, 0, 0.90);

    --interactive-overlay-border-pressed: #FFFFFF47;
    --interactive-overlay-fill-pressed: #FFFFFF33;
    --interactive-overlay-column-resize: #FFFFFF80;
}