@import "./typography.scss";
@import "./designtheme.scss";

.global-datasources-sidebar {
    height: calc(100vh - 64px);
    max-width: 288px;
    background: var(--background-strong);

    display: grid;
    grid-template-rows: auto 1fr auto;
    border-right: 1px solid var(--border-subtle-01);


    .add-datasource-btn {
        height: 40px;
        background: var(--indigo9);
        width: 248px !important;
        display: flex;
        margin: 0 auto;
        border-radius: 6px;
    }

    .list-group {
        overflow-y: auto;
        height: calc(100% - 40px);
    }

    .datasources-list {
        display: flex;
        padding: 6px 15px;
        width: 248px;
        height: 32px;
        // margin-bottom: 10px;

        .ds-delete-btn {
            display: block;
            visibility: hidden;
            border: none;
            background: none;
        }
    }

    .datasources-list-item {
        background-color: var(--layer-02-selected);
    }
}

.main-empty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 300px;
    height: 100%;

    .icon-container {
        background-color: var(--indigo3);
        border-radius: 15px;
        padding: 12px;
    }

    .heading {
        color: var(--text-primary);
        font-weight: 600;
    }

    .sub-heading {
        text-align: center;
    }

    .add-datasource-btn {
        background-color: var(--indigo3);
        color: var(--indigo9);
    }
}

.datasource-modal-container {
    position: relative;

    .modal-header {
        background-color: var(--slate3) !important;
    }

    .modal {
        position: absolute;
        // background: var(--background-strong);
        background-color: var(--layer-01) !important;

    }

    .modal-content {
        border: 1px solid var(--border-subtle-01);
        background-color: var(--layer-01) !important;

        .input-icon {
            &:hover {
                input {
                    padding-right: 2rem !important;
                }

                .input-icon-addon {
                    justify-content: flex-end;
                }
            }
        }

        .close-btn.dark {
            filter: none !important;
            background-color: revert !important;
        }
    }
}

.datasource-inner-sidebar-wrap {
    height: 100%;

    .datasources-search {
        width: 240px;
        margin: 0 auto;
        margin-bottom: 8px;
        position: sticky;
        top: 0;

        .datasources-search-btn {
            width: 28px;
            height: 28px;
            background: var(--background-strong);

            border: 1px solid;
            border-color: var(--slate7);
            cursor: pointer;
            border-radius: 6px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .datasource-loader {
        width: 240px;
        margin: 0 auto;
        display: block;
    }
}

.datasource-selection-confirm-backdrop {
    z-index: 1060;
    opacity: 0.4 !important;
}

.datasource-list-container {
    overflow-y: auto;
    max-height: calc(100vh - 64px);

    .datasource-list {
        width: 976px;
        margin: 0 auto;
        max-height: calc(100vh - 70px);

        .datasource-search-holder {
            width: 100%;
            margin-top: 22px;

            .liner {
                margin-top: 5px;
                width: 100% !important;
            }

            input {
                background: transparent;
            }
        }
    }

    .row-deck {
        display: flex;
        flex-direction: row;
        column-gap: 7px;
        row-gap: 7px;
    }
}

.datasources-info {
    display: contents;
    font-weight: 500 !important;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--slate9);
}

.datasource-list-header {
    width: 240px;
    margin: 0 auto !important;
    margin-bottom: 8px !important;
}

.datasource-card {
    background-color: var(--layer-01);
    border: 1px solid var(--border-subtle-01) !important;
    height: 180px !important;
    width: 156px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;


    .card {
        background-color: var(--layer-01);
        border: none !important;
        box-shadow: none !important;
        padding: 0px !important;




        .card-body {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px !important;


            center {
                width: 156px !important;

            }
        }
    }



    button {
        display: none;
        padding: 5px 10px;
        height: 32px;
        align-items: center;
        justify-content: center;
        margin-top: 4px;
    }

    &:hover {
        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        br:first-of-type {
            display: none !important;
        }

        img {
            scale: 0.8;
        }

        .datasource-card-title {
            margin-top: 7px;
            display: block;
            margin-bottom: 7px;
        }

        center {
            .card-icon {
                width: 25px !important;
                height: 25px !important;
            }
        }

        button {
            display: flex;
            width: 90%;

            span {
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}

.delete-modal {
    z-index: 1060 !important;
}