@import './colors.scss';

.left-sidebar {
  background: $white;

  .left-sidebar-item {
    // margin: 5px;
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-bottom: 1px solid $grey;
    transition: all .2s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);

      .debugger-badge {
        display: none;
      }
    }
  }
  .active {
    background: #f4f6fa;
  }
  .left-sidebar-stack-bottom {
    width: 3%;
    position: fixed;
    bottom: 4vw;
    height: 50px;
    text-align: center;
  }
  .popover {
    position: fixed;
    left: 3%;
    top: 55px;
    overflow: auto;
    max-height: 60%;
  }
  .datasources-popover {
    top: 100px;
    width: 180px;
    .add-btn {
      border: none;
      margin-top: -4px;
    }
  }
  .debugger-popover {
    top: 180px;
    cursor: pointer;
  }
  .global-settings-popover {
    top: 260px;
    max-width: 350px;
  }

  .queryData {
    &.close {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
    }
    &.open {
      transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
      overflow: hidden;
    }

    .react-json-view {
      .object-key-val {
        margin-top: 0;
      }
      .icon-container + span  {
        margin-top: -0.14rem;
        + span {
          transform: translateY(-0.2rem);
        }
      }        
      .brace-row > span {
        transform: translateY(-0.2rem)
      }
    }
  }
  .iopen {
    transform: rotate(90deg);
    transition: 0.12s;
  }
  .debugger-badge {
    position: fixed;
    margin-top: -0.82rem;
    margin-left: -0.3rem;
    height: 20px;
    width: 20px;
    font-weight: 400;
  }
  .zoom-popover {
    top: 500px;
  }
  .sidebar-zoom {
    white-space: nowrap;
    font-size: 12px;
  }
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
  .dark-mode {
    transform: scale(.7);
  }
  .no-border {
    border: 0;
  }
  .comment-badge {
    position: absolute;
    bottom: 13px;
    right: 6px;
  }
}

.datasource-modal-button {
  background: #ffffff;
  border: 1px solid #4d72fa;
  box-sizing: border-box;
  border-radius: 4px;
  color: #4d72fa;
  height: 36px;
  &:hover {
    background: #4d72fa;
    color: #FFFFFC;
  }
}

.dark-button {
  @extend .datasource-modal-button;
  background: transparent!important;
  &:hover {
    background: #4d72fa!important;
    color: #FFFFFC!important;

  }
}

.datasource-footer-info {
  border: 1px solid #A6B6CC!important;
  box-sizing: border-box;
  border-radius: 4px!important;
  height: 68px;

  .copied {
    color: #7A95FB;
    margin-left: 2rem;
    font-weight: 400;
  }

  button.copy-button {
    @extend .datasource-modal-button;
    width: 88px;
    svg {
      margin-right: 0.5rem;
    }
  }  
}

