@import './colors.scss';

.left-sidebar {
  background: $white;

  .left-sidebar-item {
    margin: 5px;
    text-align: center;
    padding-top: 1vw;
    padding-bottom: 1vw;
    border-bottom: 1px solid $grey;
    transition: all .2s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }
  .left-sidebar-stack-bottom {
    width: 3%;
    position: fixed;
    bottom: 12vw;
    height: 50px;
    text-align: center;
  }
  .popover {
    position: fixed;
    left: 3%;
    top: 55px;
    overflow: auto;
    max-height: 60%;
  }
  .datasources-popover {
    top: 100px;
  }
  .debugger-popover {
    top: 180px;
    cursor: pointer;
  }
  .queryData {
    &.close {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
    }
    &.open {
      transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
      overflow: hidden;
    }
  }

  .iopen {
    transform: rotate(90deg);
    transition: 0.12s;
  }
  .zoom-popover {
    top: 500px;
  }
  .sidebar-zoom {
    white-space: nowrap;
    font-size: 12px;
  }
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
  .dark-mode {
    transform: scale(.7);
  }
  .no-border {
    border: 0;
  }
}