.enterprise-page {
    height: calc(100vh - 108px);
    overflow: auto;
    .license-page {
        width: 880px;
        margin: auto;
        border-radius: 6px;

        .body-wrapper {
            border: 1px solid var(--slate5);
        }

        .license-page-sidebar {
            max-width: 220px;
            background-color: var(--base);
            border-right: 1px solid var(--slate5) !important;
            display: grid !important;
            grid-template-rows: auto 1fr auto !important;

            .license-nav-list-wrap {
                padding: 20px 20px 20px 20px;

                .workspace-settings-nav-items {
                    max-width: 188px !important;
                }
            }
        }

        .license-content-wrapper {
            background-color: var(--base);

            .groups-sub-header-wrap {
                width: 100%;
            }

            .subscription-footer {
                border-top: 1px solid var(--slate5);
                padding: 15px 0px;

                .upgrade-btn {
                    margin-right: 40px;
                }

                .manage-subscription-container {
                    padding: 0px 15px;
                    display: flex;
                    justify-content: space-between;

                    .text-muted {
                        color: var(--slate11) !important;
                    }

                    .action-btn-container {
                        display: flex;
                        gap: 15px;
                    }
                }
            }

            .limits-access-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding: 30px 40px;

                .title {
                    color: var(--slate11);
                    font-weight: 500;
                    font-size: 14px;
                }

                .metric {
                    width: 90%;
                    margin-bottom: 20px;
                    justify-content: space-between;
                }

                .access-content {
                    .form-switch {
                        padding-left: 0px;
                    }

                    .access-switch {
                        width: 100%;;
                        justify-content: unset;
                        margin-bottom: 25px;

                        svg {
                            margin-right: 20px;
                        }
                    }
                }
                
                .limits-content {
                    .input-wrapper {
                        display: flex;
                        flex-direction: column;

                        .error-text {
                            color: var(--tomato10);
                            font-size: 13px;
                            margin-top: 5px;
                        }

                        .error-border {
                            border: 1px solid var(--tomato10);
                            background-color: var(--tomato2);
                        }
                    }

                    input {
                        width: 200px;
                    }

                    .license-banner {
                        width: 90%;
                    }
                }
            }

            .metrics-wrapper {
                padding-top: 20px;

                textarea {
                    resize: none !important;

                    &:focus {
                        .license-empty {
                            display: none !important;
                        }
                    }
                }
                .errored-textarea {
                    border: 1px solid var(--tomato9) !important;
                }

                .license-empty {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    transform: translate(-50%, -50%);
                    align-items: center;
                    color: var(--slate11);

                    button {
                        background: linear-gradient(to right, #ff5f6d, #ffc371);
                        -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        border: none;
                    }
                }
            }

            .domains-wrapper {
                padding: 40px;
                padding-top: 10px;

                .hostname-wrapper {
                    margin-bottom: 25px;
                    .heading {
                        color: var(--slate12);
                        font-weight: 500;
                        margin-bottom: 10px;
                    }
                    input {
                        width: 70%;
                        margin-bottom: 15px;
                    }
                }
            }

            .border-none {
                border: none !important;
            }

            .license-header-wrap {
                display: flex;
                justify-content: space-between;
                padding-right: 40px;
                padding-left: 20px;
                align-items: center;
                height: unset !important;

                .status-container {
                    border-radius: 20px;
                    padding: 5px 15px;
                }

                .valid-status {
                    background-color: var(--indigo3);
                    color: var(--indigo9);
                }

                .basic-status {
                    background-color: var(--slate2);
                    color: var(--slate11);
                    border: 2px solid var(--slate7);
                }
            }

            .license-skeleton-loader {
                padding: 40px;
                padding-top: 10px;

                .react-loading-skeleton {
                    display: block !important;
                }
            }

            .domains-empty-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                min-height: 500px;
                width: 38%;
                margin: auto;
                text-align: center;

                .warning-holder {
                    width: 50px;
                    height: 50px;
                    border-radius: 6px;
                    background: var(--slate3);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    .compare-plans {
        margin: 40px auto;

        .text-striked {
            text-decoration: line-through;
        }
        
        .text-muted {
            color: var(--slate11) !important;
        }
        
        .text-primary {
            color: var(--slate12) !important;
        }

        .plans-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            .plan {
                display: grid;
                grid-template-rows: 155px 1fr auto;
                .header {
                    padding: 22px 20px;
                    border-bottom: 1px solid var(--slate5);

                    .tag-container {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        min-height: 43px;
                        .tag {
                            border-radius: 20px;
                            padding: 5px 15px;
                            font-weight: 500;
                            font-size: 14px;
                            display: inline-block;
                            background-color: var(--slate2);
                            color: var(--slate11);
                            border: 2px solid var(--slate7);
                            align-self: baseline;
                        }

                        .form-switch {
                            margin: 0 !important;
                            padding: 0 !important;

                            .form-check-input {
                                margin: 0 !important;
                                margin-right: 0.5rem !important;
                            }

                            .type-toggle {
                                display: inline-block;

                                .percent-off {
                                    font-size: 12px;
                                }
                            }
                        }
                    }

                    .pricing-container {
                        display: flex;
                        margin-top: 20px;
                        justify-content: space-between;

                        .price {
                            font-weight: 400;
                            font-size: 28px;
                            color: var(--slate12);
                            line-height: 15px;

                            .sub-text {
                                font-size: 12px;
                                color: var(--slate11);
                            }
                        }

                        .add {
                            font-size: 28px;
                            color: var(--slate12);
                        }
                    }
                }

                .perks-container {
                    padding: 22px 38px;
                    margin: 0 !important;

                    .perk {
                        padding: 10px 0px;
                    }
                }

                .action-container {
                    button {
                        cursor: default;
                        border-radius: 0px;
                        width: 100%;
                        background-color: unset !important;
                        color: var(--slate11);
                        justify-content: unset !important;
                        padding: 22px 40px;
                        height: unset !important;
                        border-top: 1px solid var(--slate5);
                    }
                }

                &.business {
                    border: 2px solid var(--indigo9);
                    border-bottom: none;
                    .header {
                        background: var(--indigo3);
                        border-bottom: 1px solid var(--indigo5);

                        .tag {
                            background: var(--indigo5);
                            color: var(--indigo9);
                            border-color: var(--indigo7);
                        }
                    }

                    .action-btn {
                        button {
                            background: var(--indigo9) !important;
                            color: var(--slate1) !important;
                            justify-content: space-between !important;
                        }
                    }
                }

                &.enterprise {
                    .header {
                        .tag {
                            background: var(--amber3);
                            color: var(--amber10);
                            border-color: var(--amber9);
                        }
                    }

                    .action-btn {
                        button {
                            background: var(--amber9) !important;
                            color: var(--slate1) !important;
                            justify-content: space-between !important;
                        }
                    }
                }
            }
        }
    }
}

.upgrade-plan-modal {

    .text-muted {
        color: var(--slate11) !important;
    }

    .text-primary {
        color: var(--slate12) !important;
    }

    .upgrade-plan-wrapper {
        .tag {
            border-radius: 20px;
            padding: 5px 15px;
            font-weight: 500;
            font-size: 14px;
            display: inline-block;
            background-color: var(--slate2);
            color: var(--slate11);
            border: 2px solid var(--slate7);
            align-self: baseline;
    
            &.valid-status {
                background: var(--indigo5);
                color: var(--indigo9);
                border-color: var(--indigo7);
            }
        }
    
        .input-container {
            display: flex;
            align-items: center;
            margin-bottom: 25px;
    
            label {
                color: var(--slate12) !important;
            }
    
            .price {
                color: var(--slate11);
            }
    
            .label-container {
                margin-right: 30px;
                min-width: 90px;
            }
    
            .input-wrapper {
                width: 100% !important;
    
                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
    
                /* Firefox */
                input[type="number"] {
                    -moz-appearance: textfield;
                }
    
                .form-control {
                    height: 40px !important;
                }
            }
    
            .text-striked {
                text-decoration: line-through;
            }
        }
    
        .terms-info {
    
            .link-btn {
                color: var(--indigo9);
            }
    
            .help-box {
                margin-top: 20px;
                border: 1px solid var(--indigo5);
                background: var(--indigo2);
                border-radius: 6px;
                padding: 8px 12px;
                display: flex;
                align-items: center;
    
                .info-box {
                    width: 25px;
                    height: 25px;
                }
    
                .tailored-plan {
                    margin-left: 10px;
                }
            }
        }
    }

    .modal-footer {
        .upgrade-plan-footer {
            display: flex;
            gap: 20px;
    
            .total-amount {
                padding: 10px 15px;
                border-radius: 6px;
                display: flex;
                justify-content: space-between;
            }

            .separator {
                border-right: 1px solid var(--slate7);
            }
        }
    }
}

.license-banner {
    background-color: var(--amber2);
    padding: 8px 12px;
    border: 1px solid #ffc371;
    border-radius: 6px;
    align-items: center;
    flex-direction: row !important;
    justify-content: flex-start !important;

    .license-loader {
        justify-content: center;
        flex-direction: column;
        margin: auto;
        display: flex;
        align-items: center;

        .tj-text-sm {
            background: linear-gradient(to right, #ff5f6d, #ffc371);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-top: 3px;
        }
    }

    .message-wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        .heading {
            display: unset !important;
            font-weight: 500;
            color: var(--slate12);
            .upgrade-link {
                background: linear-gradient(to right, #ff5f6d, #ffc371);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .sub-heading {
                color: var(--slate11);
                font-weight: 400;
                cursor: default !important;
            }
        }

        .warning-header-container {
            text-align: center;

            .warning-text {
                color: var(--amber8);
                font-weight: 500;
            }
        }
    }

    .start-trial-btn {
        min-width: 131px;
    }

    @media only screen and (max-width: 768px) {
        .warning-info-text {
            font-size: 12px;
        }
        
        .upgrade-btn {
            display: none;
        }
    }
}

.paid-feature-banner {
    background-color: var(--amber2);
    height: 28px;
    width: 115px;
    padding: 4px 10px;
    border-radius: 100px;
    border: 1px solid #ffc371;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    display: flex;
    max-width: fit-content;

    .upgrade-link {
        background: linear-gradient(to right, #ff5f6d, #ffc371);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 12px;
        font-style: normal;
        line-height: 20px;
        font-weight: 500;
        width: 67px;
        height: 20px;
    }
}

.paid-feature-banner {
    background-color: var(--amber2);
    height: 28px;
    width: 115px;
    padding: 4px 10px;
    border-radius: 100px;
    border: 1px solid #ffc371;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    display: flex;
    max-width: fit-content;

    .upgrade-link {
        background: linear-gradient(to right, #ff5f6d, #ffc371);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 12px;
        font-style: normal;
        line-height: 20px;
        font-weight: 500;
        width: 67px;
        height: 20px;
    }
}

.paid-feature-banner {
    background-color: var(--amber2);
    height: 28px;
    width: 115px;
    padding: 4px 10px;
    border-radius: 100px;
    border: 1px solid #ffc371;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    display: flex;
    max-width: fit-content;

    .upgrade-link {
        background: linear-gradient(to right, #ff5f6d, #ffc371);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 12px;
        font-style: normal;
        line-height: 20px;
        font-weight: 500;
        width: 67px;
        height: 20px;
    }
}

.paid-feature-banner {
    background-color: var(--amber2);
    height: 28px;
    width: 115px;
    padding: 4px 10px;
    border-radius: 100px;
    border: 1px solid #ffc371;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    display: flex;
    max-width: fit-content;

    .upgrade-link {
        background: linear-gradient(to right, #ff5f6d, #ffc371);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 12px;
        font-style: normal;
        line-height: 20px;
        font-weight: 500;
        width: 67px;
        height: 20px;
    }
}

.secondary {
    border: 1px solid var(--indigo5);
    background-color: var(--base1);
    .warning-header-container {
        text-align: center;

        .warning-text {
            color: var(--indigo9) !important;
            font-weight: 500;
        }
    }
}

.small {
    width: 248px;
    max-height: 90px;
    margin-top: 15px;
    font-size: 13px;

    svg {
        width: 90px;
    }
}

.license-error-modal {
    background-color: var(--base);

    .modal-header {
        background-color: var(--slate3) !important;
    }

    .info {
        display: flex;
        margin-top: 15px;
        font-size: 12px;
        color: var(--slate11);
        background: var(--slate3);
        padding: 15px;
        border-radius: 6px;

        svg {
            margin-right: 4px;
        }
    }

    .cancel-btn {
        border-radius: 6px;
        font-weight: 600;
        background-color: var(--slate1);
        border: 1px solid var(--slate7);
        color: var(--slate12);
    }

    .upgrade-btn {
        border-radius: 6px;
        font-weight: 600;
        background: linear-gradient(96.1deg, #ff5f6d -15.44%, #ffc371 99.37%);
        color: var(--slate12);
        border: none;
    }
}

.license-tooltip {
    opacity: 0.6;
}

.paid-feature {
    background: linear-gradient(to right, #ff5f6d, #ffc371);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 12px;
    font-style: normal;
    line-height: 20px;
    font-weight: 500;
    width: 67px;
}

.form-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 24px 32px;
    gap: 8px;
    width: 100%;
    height: 88px;
    border-top: 1px solid var(--slate5) !important;
    background: var(--base);
    margin-top: 0px !important;
}

.upgrade-btn {
    margin-left: auto;
    background: linear-gradient(96.1deg, #ff5f6d -15.44%, #ffc371 99.37%);
    border-radius: 6px;
    border: 0px;
    color: var(--slate1);
    max-height: 52px;
    box-shadow: none !important;
}

.due-banner {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--slate5);
    padding: 20px 30px;
    background-color: var(--base);
    border-radius: 6px;

    .due-info-container {
        display: flex;
        align-items: center;
        gap: 10px;

        .text-secondary {
            color: var(--slate11) !important;
        }
    }

    .payment-btn-container {
        width: 23%;
        margin: auto 0;
        display: flex;
        justify-content: flex-end;
    }

    &.success {
        .text-secondary {
            color: var(--grass9) !important;
        }

        .infoIcon {
            circle, path {
                fill: var(--grass9);
            }
        }
    }

    &.error {
        border: 1px solid var(--tomato8);
        background: var(--tomato1);

        .text-secondary {
            color: var(--tomato8);
        }

        .infoIcon {
            circle, path {
                fill: var(--tomato9);
            }
        }

        .tj-primary-btn {
            border: 1px solid var(--tomato8);
            background: var(--slate1);
            color: var(--tomato8);

            &:active {
                box-shadow: none !important;
            }

            .tj-btn-right-icon {
                path {
                    fill: var(--tomato8);
                }
            }
        }
    }
}
