:root {
    --tran-01: all 0.3s ease, background-color 0s;
}

.viewer {
    .page-name, .navigation-area, .tj-list-item, .canvas-box {
        transition: var(--tran-01);
    }

    .navigation-area {
        z-index: 2;
        border-right: 1px solid var(--slate6);

        .tj-list-item {
            width: 96%;
        }

        &.close {
            transform: translateX(-90%);  

            .tj-list-item {
                opacity: 0;
                display: none;
            }
        }
        .pin {
            position: absolute;
            right: -30px;
            top: 3px;
        }

        &.sidebar-overlay:hover {
                transform: translateX(0%);  
                box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);

                .tj-list-item {
                    opacity: 1;
                    display: unset;
                }
        }
    }

    .canvas-box {
        &.close {
            margin-left: 22px !important;
        }
    }
}