:root {
    --tran-01: all 0.3s ease, background-color 0s, color 0s, border-color 0s;
}

.pages-settings {
    .label-style {
        width: unset !important;

        .ToggleGroupItem {
            width: unset !important;

            .toggle-item {
                width: unset !important;
                padding: 6px;
                ;
            }
        }

    }

    .settings-tab {
        .field {
            label {
                width: 100px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}

.icon-selector {
    width: 21px;
    height: 21px;
    margin-right: 6px;
    justify-content: center;

    .selector-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.selector-open {
        border: 1px solid var(--indigo9);
        background: var(--slate1);
        box-shadow: 0px 1px 1px 1px var(--slate6);
        border-radius: 6px;
    }

    &:hover {
        background: var(--slate1);
        box-shadow: 0px 1px 1px 1px var(--slate6);
        border-radius: 6px;
    }
}

.page-menu-item {
    .icon-selector {
        svg {
            color: #6A727C;
            stroke: #6A727C;

        }
    }

    &.dark-theme {
        .icon-selector {
            svg {
                color: #ffffff;
                stroke: #ffffff;
            }
        }
    }
}

.active-group {
    border-left: 2px solid red;
}

.page-group-collapse-icon {
    margin-right: 6px;
    position: relative;
    top: 1px;
}

.page-drag-overlay {
    background: var(--slate5);

    svg {
        margin-right: 12px;
        width: 20px !important;
        height: 20px !important;
        color: #6A727C;
    }

    &.dark-theme {
        color: #fff;

        svg {
            color: #fff;
        }
    }
}

.rename-input-buttons {
    button {
        box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.10);
        border: 1px solid #CCD1D5;
    }
}

#page-settings-tabpane-properties {
    padding: 0px !important;

    .form-check-input[type=checkbox] {
        float: right;
    }

    .accordion-header {
        height: 32px;
        background-color: var(--interactive-default);

        .accordion-title-text {
            color: var(--text-default);
            text-transform: unset !important;
        }
    }

    .accordion-body {
        padding: 16px !important;

        .page-type-buttons-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;
        }

        .add-new-page,
        .more-page-opts {
            background-color: #FFFFFF;
            border: 1px solid var(--Border-default, #CCD1D5);
            box-shadow: 0px 1px 0px 0px var(--Dropshadow000);
            padding: 7px 12px;
            margin-top: 12px;
        }

        .add-new-page {
            width: 100%;
        }
    }
}

#page-settings-tabpane-styles {
    .settings-tab {
        .accordion-button {
            padding: 0px !important;
        }
    }
}

.pages-and-groups-list {
    .page-menu-item {
        .icon-selector {
            svg {
                width: 16px !important;
                height: 16px !important;
            }
        }
    }

    .page-name {
        font-size: 12px !important;
        color: var(--text-default) !important;
    }

    .accordion-body {
        gap: 4px;
        display: flex;
        flex-direction: column;
    }
}

#sidebar-page-navigation {

    .navigation-area {
        margin-left: 48px;
        z-index: 1;
        background: var(--cc-surface1-surface, #FFF);
        padding: 1rem;
        border-right: 1px solid var(--slate6);
        padding-top: 24px;
        padding-bottom: 0px;
        display: flex;
        flex-direction: column;

        .custom-icon {
            line-height: 10px !important;
        }

        .page-dark-mode-btn-wrapper {
            position: relative;
            bottom: 0;
            justify-content: center;
            padding-top: 32px;
            margin-top: auto;
        }

        .app-name {
            display: flex;
            gap: 6px;
            font-weight: 500;
            font-size: 16px;
            color: var(--text-default);
            margin-left: 0px;
            align-items: center;
            width: unset !important;
            margin-bottom: 20px;

            .collapse-icon {
                margin-left: auto;
            }

            &:hover {
                background: unset !important
            }
        }

        .page-name {
            margin-left: 6px;
        }

        .left-sidebar-header-btn {
            width: 25px;
            height: 25px;
        }

        .tj-list-item {
            justify-content: start;
            padding: 8px 12px;
            font-weight: 400;
            color: var(--text-placeholder);
        }

        .tj-list-item-selected {
            color: var(--text-default);
            font-weight: 500;
            background: var(--background-accent-weak);
        }

        // &.close {
        //     // transform: translateX(-90%);
        //     width: 32px;
        //     padding: 8px 6px 16px 6px;

        //     .tj-list-item {
        //         opacity: 0;
        //         display: none;
        //     }
        // }

        // &.sidebar-overlay:hover {
        //     transform: translateX(0%);
        //     box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);

        //     .tj-list-item {
        //         opacity: 1;
        //         display: flex;
        //     }
        // }

        &.icon-only {
            width: 44px !important;
            padding: 8px 6px 16px 6px;

            .page-handler-wrapper {
                display: flex;
                align-items: center;
                flex-direction: column;

                .page-group-collapse {
                    display: none !important;
                }
            }

            .tj-list-item {
                justify-content: center;
                padding: 8px;
                width: 32px;
                height: 32px;

                .page-name {
                    display: none !important;
                }

                .custom-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .app-name {
                flex-direction: column-reverse;
                margin-bottom: 0px;

                .cursor-pointer {
                    img {
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }

                .icon-btn {
                    margin-left: 0px;
                }
            }
        }

        &.text-only {
            .page-name {
                margin-left: 0px;
            }

        }

        .accordion-item {
            border: none;
        }

        .accordion-body {
            padding: 4px 0 4px 16px !important;
        }

        .accordion-header {
            height: auto !important;
            position: relative;

            .page-group {
                height: 32px;
                display: flex;
                align-items: center;

                svg {
                    height: 18px;
                    width: 18px;
                }
            }

            .tj-list-item {
                border: none !important;
                padding-left: 8px !important;
                outline: none !important;

                &:hover {
                    background: none !important;
                }
            }

            .active-page-group-highlight {
                height: 32px;
                width: 5px;
                background: var(--primary-brand);
                position: absolute;
                left: -1rem;
            }
        }

        .accordion-header button {
            margin: 0;
            padding: 0 !important;
        }

        a.page-link {
            border-radius: 0;
            border: 0;
        }

        a.page-link:hover {
            color: white;
            background-color: #4D72FA;
        }

        a.page-link.active {
            color: white;
            background-color: #4D72FA;
        }
    }

    .navigation-area {
        overflow: auto !important;

        &.position-top {
            flex-direction: row;
            width: calc(100% - 87px) !important;
            height: 60px !important;
            display: flex;
            padding-top: 0px;
            overflow: hidden !important;
            justify-content: space-between;

            .page-handler-wrapper {
                width: 100%;
                align-items: center;
            }

            .page-dark-mode-btn-wrapper {
                padding: 0px;
                margin-left: auto;
                margin-top: 0px;
                padding-left: 15px;
            }

            .accordion-item {
                .page-group-collapse {
                    right: 4px;
                }

                .tj-list-item {
                    padding-right: 22px;
                }
            }

            .accordion-body {
                &.show {
                    z-index: 2;
                    position: fixed;
                    background: var(--background-surface-layer-01);
                    border-radius: 6px;
                    box-shadow: var(--elevation-200-box-shadow);
                    padding: 4px !important;

                    .tj-list-item {
                        padding: 6px 12px;
                    }
                }
            }

            .app-name {
                margin-bottom: 0px;
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 40px;

                img {
                    flex-shrink: 0;
                }
            }

            .tj-list-item {
                outline: none !important;
                padding: 6px 10px;
                height: 32px;
            }

            .page-name {
                width: 100% !important;
            }

            .position-relative {
                display: flex;
            }

            .page-handler-wrapper {
                display: flex;
            }
        }
    }
}

#more-nav-btns {
    .popover-body {
        padding: 4px;
        width: fit-content;

        .tj-list-item {
            padding: 6px 12px;
            color: var(--text-placeholder);
            justify-content: flex-start;

            .page-name {
                width: 100% !important;
            }

            .custom-icon {
                line-height: 10px !important;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        }

        .accordion-item {
            border: 0px !important;

            .tj-list-item {
                padding-right: 22px;
            }
        }

        .page-group-collapse {
            right: 4px;
        }

        .page-name {
            display: flex;
            align-items: center;
            font-size: 14px;
            margin-left: 6px;
        }

        .tj-list-item-selected {
            .custom-icon {
                svg {
                    color: var(--icon-accent);
                    stroke: var(--icon-accent);

                }
            }
        }

        .custom-icon {
            svg {
                color: var(--icon-default);
                stroke: var(--icon-default);
            }
        }

        &.dark-theme {
            .custom-icon {
                svg {
                    color: #ffffff;
                    stroke: #ffffff;
                }
            }
        }
    }
}

.viewer {

    .page-name,
    .navigation-area,
    .tj-list-item,
    .canvas-box {
        transition: var(--tran-01);
    }

    .page-name {
        font-size: 14px;
    }

    .flex-grow-1 {
        &.canvas-box {
            flex-grow: unset !important;

            #sidebar-page-navigation {
                .navigation-area {
                    top: 0px !important;
                    left: 0px !important;
                    margin-left: 0px !important;

                    &.position-top {
                        width: 100% !important;
                    }
                }
            }
        }
    }

}

.icon-btn {
    padding: 7px;
    display: flex;
    border-radius: 6px;
    width: 28px;
    height: 28px;
    cursor: pointer;

    &:hover {
        background-color: var(--interactive-hover);
    }
}

.page-menu-item {
    &.is-selected {
        .action-btn-wrapper {
            display: flex !important;
        }
    }

    &:hover {
        .action-btn-wrapper {
            display: flex !important;
        }
    }

    .action-btn-wrapper {
        &.options-opened {
            display: flex !important;
        }
    }

    .action-btn-wrapper {
        display: none;
        gap: 2px;

        .icon-btn {
            box-shadow: var(--elevation-100-box-shadow);
            background-color: var(--button-secondary);
            border: 1px solid var(--borders-disabled-on-white);
            padding: 4px;
            width: 21px;
            height: 21px;
            border-radius: 4px;
        }
    }
}