:root {
    --tran-01: all 0.3s ease, background-color 0s, color 0s, border-color 0s;
}

.pages-settings {
    .label-style {
        width: unset !important;

        .ToggleGroupItem {
            width: unset !important;

            .toggle-item {
                width: unset !important;
                padding: 6px;
                ;
            }
        }

    }

    .inspector-component-title-input-holder {
        .col-1 {
            height: 100%;
            display: flex;
            align-items: center;
        }

        .col-9 {
            flex: 1;
            display: flex;
            align-items: center;
            width: 88%;
        }

        .icon-holder {
            width: unset;
            padding: unset;
        }
    }

    .settings-tab {
        .field {
            label {
                width: 100px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}

.icon-selector {
    width: 21px;
    height: 21px;
    margin-right: 6px;
    justify-content: center;

    .selector-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.selector-open {
        border: 1px solid var(--indigo9);
        background: var(--slate1);
        box-shadow: 0px 1px 1px 1px var(--slate6);
        border-radius: 6px;
    }

    &:hover {
        background: var(--slate1);
        box-shadow: 0px 1px 1px 1px var(--slate6);
        border-radius: 6px;
    }
}

.page-menu-item {
    .icon-selector {
        svg {
            color: #6A727C;
            stroke: #6A727C;

        }
    }

    &.dark-theme {
        .icon-selector {
            svg {
                color: #ffffff;
                stroke: #ffffff;
            }
        }
    }
}

.active-group {
    border-left: 2px solid red;
}

.page-group-collapse-icon {
    margin-right: 6px;
    position: relative;
    top: 1px;
}

.page-drag-overlay {
    background: var(--slate5);

    svg {
        margin-right: 12px;
        width: 20px !important;
        height: 20px !important;
        color: #6A727C;
    }

    &.dark-theme {
        color: #fff;

        svg {
            color: #fff;
        }
    }
}

.rename-input-buttons {
    button {
        box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.10);
        border: 1px solid #CCD1D5;
    }
}

#page-settings-tabpane-properties,
#page-settings-tabpane-styles {
    border: 0px !important;
    padding: 0px !important;

    .app-name {
        width: 100% !important;
        margin: 0px !important;
    }

    .form-check-input[type=checkbox] {
        float: right;
    }

    .accordion-header {
        height: 32px;

        .accordion-title-text {
            color: var(--text-default);
            text-transform: unset !important;
        }
    }

    .form-control.is-invalid {
        background-image: none;
    }

    input[type='text'] {
        border-radius: 6px;

        &:focus {
            border: 2px solid var(--border-accent-strong);
        }
    }

    .accordion-body {
        padding: 16px !important;

        .page-type-buttons-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;
        }

        .add-new-page,
        .more-page-opts {
            padding: 7px 12px;
            margin-top: 12px;
            height: 32px;

            svg {
                width: 16px;
                height: 16px;
            }
        }

        .add-new-page {
            width: 100%;
        }
    }
}

.pages-and-groups-list {
    .page-menu-item {
        .icon-selector {
            svg {
                width: 16px !important;
                height: 16px !important;
            }
        }
    }

    .page-name {
        font-size: 12px !important;
        color: var(--text-default) !important;
    }

    .accordion-body {
        gap: 4px;
        display: flex;
        flex-direction: column;
    }
}

#sidebar-page-navigation {

    .navigation-area,
    .mobile-navigation-area {
        width: 100%;
        z-index: 1;
        background: var(--base, #FFF);
        display: flex;
        flex-direction: column;
        box-sizing: content-box;
        &.no-preview-settings {
            height: 100% !important;
        }

        .page-dark-mode-btn-wrapper {
            height: 56px;
            justify-content: space-between;
            padding: 10px;
            border-top: 1px solid var(--cc-weak-border, #E4E7EB);

            .left-sidebar-item {
                height: 36px !important;
                width: 36px !important;
            }
        }

        .app-name {
            height: 80px;
            display: flex;
            gap: 12px;
            font-weight: 500;
            font-size: 16px;
            color: var(--cc-primary-text);
            padding: 24px 16px;
            align-items: center;
            width: 100% !important;
            min-height: 28px;

            .app-text {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 260px;
            }

            .collapse-icon {
                margin-left: auto;
            }

            &:hover {
                background: unset !important
            }
        }

        .pages-wrapper {
            width: 100%;
            padding: 0 8px;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 6px;
        }

        .tj-list-item {
            height: 36px;
            justify-content: start;
            padding: 8px 12px;
            gap: 10px;
            margin: 0px !important;
            color: var(--nav-item-label-color);
            border-radius: var(--nav-item-pill-radius);

            &:hover {
                background-color: var(--hovered-nav-item-pill-bg);
            }

            &.tj-list-item-selected {
                color: var(--selected-nav-item-label-color);
                background-color: var(--selected-nav-item-pill-bg);
            }

            .page-name {
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
            }
        }

        .custom-icon {
            line-height: 10px !important;
        }

        .accordion-item {
            width: 100%;
            margin: 0 !important;
            border-radius: 0 !important;
            border: none;

            .accordion-body {
                padding: 0 0 0 32px !important;
                border-bottom: 0px !important;

                .tj-list-item {
                    margin-top: 6px !important;
                }
            }
        }

        .page-group-wrapper {
            height: 36px;
            width: 100%;
            padding: 8px 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 4px;
            border: none;
            background-color: transparent;
            border-radius: var(--nav-item-pill-radius);
            color: var(--nav-item-label-color);
            text-align: left;

            .group-info {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 10px;
                .page-name {
                    font-family: 'IBM Plex Sans';
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                }
            }

            &:hover {
                background-color: var(--hovered-nav-item-pill-bg);
            }

            &.page-group-selected[data-state="closed"] {
                color: var(--selected-nav-item-label-color);
                background-color: var(--selected-nav-item-pill-bg);
            }

            .tj-list-item {
                padding-right: 0px !important;
            }
        }

        &.navigation-area--shadow {
            box-shadow: var(--elevation-100-box-shadow);
        }

        &.icon-only {
            .pages-wrapper {
                gap: 4px;

                .page-group-collapse {
                    display: none !important;
                }
            }

            .tj-list-item {
                justify-content: start;
                padding: 11px;
                height: 38px;

                .page-name {
                    display: none !important;
                }
            }

            .app-name {
                margin-bottom: 0px;
                gap: 0px;
                align-items: center;
                padding: 24px 11px;
            }

            .page-dark-mode-btn-wrapper {
                height: 96px;
                flex-direction: column;
                gap: 4px;
                padding: 8px;
            }

            &.not-collapsable,
            &.collapsable-only {
                .page-dark-mode-btn-wrapper {
                    height: 56px;
                }
            }
        }

        &.text-only {
            .page-name {
                margin-left: 0px;
            }
        }

        &.not-collapsable {
            .page-dark-mode-btn-wrapper {
                justify-content: center;
            }
        }

        &.collapsable-only {
            .page-dark-mode-btn-wrapper {
                justify-content: end;
            }
        }

        &.no-header {
            .pages-wrapper {
                padding: 16px 8px;
            }
        }

        .accordion-header {
            height: auto !important;
            position: relative;

            .page-group {
                height: 32px;
                display: flex;
                align-items: center;

                svg {
                    height: 18px;
                    width: 18px;
                }
            }

            .tj-list-item {
                border: none !important;
                padding-left: 8px !important;
                outline: none !important;

                &:hover {
                    background: none !important;
                }
            }

            .active-page-group-highlight {
                height: 32px;
                width: 5px;
                background: var(--primary-brand);
                position: absolute;
                left: -1rem;
            }
        }

        .accordion-header button {
            margin: 0;
            padding: 0 !important;
        }

        a.page-link {
            border-radius: 0;
            border: 0;
        }

        a.page-link:hover {
            color: white;
            background-color: #4D72FA;
        }

        a.page-link.active {
            color: white;
            background-color: #4D72FA;
        }

        &.position-top {
            position: sticky !important;
            height: 60px !important;
            flex-direction: row;
            justify-content: space-between;
            gap: 16px;

            .app-name {
                height: 60px;
                width: auto !important;
                max-width: 336px;
                align-items: center;
                padding: 14px 16px;
                flex-shrink: 0;

                img {
                    flex-shrink: 0;
                }
            }

            .pages-wrapper {
                width: 100%;
                flex-shrink: 1;
                flex-direction: row;
                align-items: center;

                >div {
                    height: 32px;
                    width: 100%;
                }

                .page-handler-list {
                    padding: 0px !important;
                    margin: 0px !important;
                    height: 32px;
                    width: 100%;
                    justify-content: start;
                    gap: 6px;
                }
            }

            .tj-list-item {
                height: 32px;
                padding: 6px 10px;
                gap: 6px;
            }

            .page-group-wrapper {
                height: 32px !important;
                padding: 6px 10px !important;

                .group-info {
                    gap: 6px;
                }
            }

            .page-dark-mode-btn-wrapper {
                flex-shrink: 0;
                height: 100%;
                justify-content: center;
                border-top: none !important;
            }

            .more-pages-btn {
                height: 32px;
                width: 75px !important;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 6px 10px;
                gap: 6px;
                border: none;
                background-color: transparent;
                font-family: "IBM Plex Sans";
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: var(--text-placeholder, #6A727C);

                &:hover {
                    background-color: var(--cc-appBackground-surface, #F6F6F6);
                    color: var(--cc-primary-text, #1B1F24);
                    border-radius: 6px;
                }
            }

            .page-menu-popup {
                background: var(--background-surface-layer-01, #FFFFFF);
                border-radius: 8px !important;
                border: 1px solid var(--cc-weak-border, #E4E7EB);
                padding: 8px;
                box-shadow: 0px 4px 8px 0px var(--dropshadow-100400-layer-2, rgba(48, 50, 51, 0.1)), 0px 0px 1px 0px var(--dropshadow-100700-layer-1, rgba(48, 50, 51, 0.05));

                .tj-list-item,
                .page-group-wrapper {
                    padding: 8px 12px !important;
                    height: 36px !important;
                    gap: 10px;

                    .group-info {
                        gap: 10px;
                    }
                }
            }
        }
    }
}

.viewer {
    .page-name {
        font-size: 14px;
    }

    .flex-grow-1 {
        &.canvas-box {

            #sidebar-page-navigation {
                .navigation-area {
                    top: 0px !important;
                    left: 0px !important;
                    margin-left: 0px !important;

                    &.position-top {
                        width: 100% !important;
                    }
                }
            }
        }
    }
    &.offset-top-bar-navigation {
        #sidebar-page-navigation {
            .navigation-area {
                &.position-top {
                    top: 44px !important;
                }
            }
        }
    }

    // scrollbar behaviour in viewer for page menu
    .main {
        .canvas-container {
            .page-menu-scroll {
                scrollbar-color: var(--interactive-hover) transparent !important;
                scrollbar-width: thin !important;

                &::-webkit-scrollbar-track {
                    background: transparent !important;
                }

                &::-webkit-scrollbar-thumb {
                    background: var(--interactive-hover) !important;
                }
            }
        }
    }

}


.icon-btn {
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    width: 28px;
    height: 28px;
    cursor: pointer;

    &:hover {
        background-color: var(--interactive-hover);
    }
}

.page-menu-item {
    &.is-selected {
        .action-btn-wrapper {
            display: flex !important;
        }
    }

    &:hover {
        .action-btn-wrapper {
            display: flex !important;
        }
    }

    .action-btn-wrapper {
        &.options-opened {
            display: flex !important;
        }
    }

    .action-btn-wrapper {
        display: none;
        gap: 2px;

        .icon-btn {
            box-shadow: var(--elevation-100-box-shadow);
            background-color: var(--button-secondary);
            border: 1px solid var(--borders-disabled-on-white);
            padding: 4px;
            width: 21px;
            height: 21px;
            border-radius: 4px;

            &:hover {
                background-color: var(--button-outline-hover);
                border-color: var(--border-weak);
            }

            &:active {
                background-color: var(--interactive-selected) !important;
                border-color: var(--interactive-overlay-border-pressed) !important;
            }
        }
    }
}

.delete-folder-backdrop.show {
    z-index: 9999;

    &+.delete-folder-modal {
        z-index: 9999;
    }
}

.delete-page-backdrop.show {
    z-index: 9999;

    &+.delete-page-modal {
        z-index: 9999;
    }
}

.navigation-tooltip-hover {
    display: none;
}

.navigation-with-tooltip-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1000;

    &:hover {
        .navigation-area.navigation-hover-trigger {
            box-shadow: 0 0 0 1px #4af !important;
        }

        // Only show hover tooltip if active tooltip is not present
        .navigation-tooltip-hover {
            display: flex !important;
        }
    }

    &.active {
        .navigation-area.navigation-hover-trigger {
            box-shadow: 0 0 0 1px #3E63DD !important;
        }
    }
}

// Hide hover tooltip when active tooltip is present (adjacent sibling)
.navigation-tooltip+.navigation-tooltip-hover {
    display: none !important;
}