.PopoverContent {
  outline: none;
  border-radius: 4px;
  padding: 12px;
  width: 350px;
  will-change: transform, opacity;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  border-radius: 0 8px 8px 0;
  overflow: auto;
  border-right: 2px solid var(--slate6, #313538);
  background-color: var(--layer-02);


  select {
    cursor: pointer;
  }
}

.PopoverContent.global-settings-popover-content {
  will-change: initial;
}


.PopoverArrow {
  fill: white;
}

.PopoverClose {
  font-family: inherit;
  border-radius: 100%;
  border: 0;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  right: 5px;
}

.PopoverContent.dark {
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}

div[data-radix-popper-content-wrapper]:has(.PopoverContent.drawer-height) {
  margin-top: 48px;
  margin-left: 47px !important;
  transform: none !important;
}

@-moz-document url-prefix() {
  div[data-radix-popper-content-wrapper] {
    top: 48px !important;
    z-index: 100 !important;
    left: 1px !important;
  }
}