@import "./colors.scss";
@import "./designtheme.scss";

$border-radius: 4px;

.query-manager {
  user-select: none;

  .btn {
    height: 31px;
  }

  .header {
    --tblr-gutter-x: 0rem;
    position: sticky;
    top: 0;
    padding: 8px 0;
  }

  .nav-header {
    color: #3e525b;

    .nav-tabs {
      border-bottom: 0;
    }
  }

  .tooljetdb-query-details {
    padding-top: 0px !important;
  }

  .query-details {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .query-name-field input {
    max-width: 180px;
    font-weight: 600;
  }
}

.query-pane {
  scrollbar-width: none;
}

.query-pane {
  z-index: 1;
  height: 350px;
  position: fixed;
  left: 48px;
  right: 300px;
  bottom: 0;
  overflow-x: hidden;
  flex: 1 1 auto;
  font-size: 12px;
  line-height: 20px;
  border: 1px solid var(--slate5);
  border-width: 1px 0px 0px 0px;
  background-color: var(--base);

  .table-responsive {
    scrollbar-width: none;
  }

  .table-responsive::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  .query-row:hover .query-rename-delete-btn {
    display: flex;
  }

  .query-row {
    cursor: pointer;
    border-radius: $border-radius;
    --tblr-gutter-x: 0rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    font-weight: 500;
    width: 272px;
    height: 32px;
    color: var(--slate12);
    border-radius: 6px;
    margin-bottom: 4px;

    .query-copy-button {
      display: none;
    }

    .query-rename-delete-btn {
      display: none;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
      margin-left: 2px;
      width: 66px;
      height: 20px;
    }

    .query-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1;
      display: flex;
      font-weight: 400;
    }

    .query-name-input-field {
      flex: 1;
      width: 100%;
      height: 20px !important;
    }

    .query-icon {
      margin: auto 8px auto 12px;
    }

    .delete-query,
    .rename-query {

      span {
        width: 16px;
        height: 16px;
        padding: 1.33px 2px;
      }

    }

    &:hover {
      background: var(--slate3) !important;

    }

    .query-row-query-name {
      padding-top: '4px';
      padding-bottom: '4px';
      transition-delay: '10ms';
    }
  }

  .query-row.border {
    border-color: var(--indigo10) !important;
  }

  .query-row-selected {
    background: var(--indigo4) !important;

    .delete-query {
      svg:hover {
        path {
          fill: $color-light-tomato-09;
        }
      }
    }

    .rename-query {
      svg:hover {
        path {
          fill: var(--slate11);
        }
      }
    }

    &:hover {
      background: var(--slate3) !important;
    }

    .rename-query.display-none {
      visibility: hidden;
    }
  }

  .query-row:hover {
    .query-copy-button {
      display: inline-block;
    }
  }

  .main-row {
    height: 100%;
    --tblr-gutter-x: 0rem;
  }

  .query-definition-pane-wrapper {
    flex: 1;
    background-color: var(--base);
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */

    &::-webkit-scrollbar {
      /* WebKit */
      width: 0;
      height: 0;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
    }
  }

  .query-definition-pane {
    .header {
      border: solid var(--slate5);
      border-width: 0px 0px 1px 0px;
      background: var(--base);
      z-index: 3;
      min-height: 44px;
      max-height: 44px;
      height: 44px;
      font-weight: 500 !important;

      .query-manager-header-query-name {
        color: var(--slate12);
      }

      .ellipsis {
        width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &>div {
        margin: auto;
        align-items: center;
        height: 100%;
        display: flex
      }

      &>div:first-child {
        gap: 10px;
        padding: 0.25rem 1rem;
      }

      .query-header-buttons {
        gap: 4px;
        flex: 0 0 auto;
        width: auto;
      }
    }
  }

  .data-pane {
    flex: 0 0 288px;
    border: solid var(--slate5);
    border-width: 0px 1px 0px 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    min-height: 41px;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    user-select: none;

    &::-webkit-scrollbar {
      /* WebKit */
      width: 0;
      height: 0;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
    }

    .queries-container {
      width: 100%;
      background-color: var(--base);

      .queries-header {
        border: solid var(--slate5);
        border-width: 0px 0px 1px 0px;
        height: 44px;
        --tblr-gutter-x: 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 12px;
        gap: 12px;

        .queries-search {
          height: 28px !important;

          .query-manager-search-box-wrapper {

            .input-icon {

              margin-bottom: 0 !important;

              .input-icon-addon {
                margin: 6px 0 6px 8px;
                padding: 1.33px 0 1.33px 1.33px;
                justify-content: normal;
                width: 16px;
                height: 16px;
                min-width: 16px;
                align-items: center;

                .icon {
                  width: 13.33px;
                  height: 13.33px;
                  stroke: $color-light-slate-08;
                }
              }

              .form-control {
                padding-top: 4px !important;
                padding-bottom: 4px !important;
                padding-right: 8px;
              }

              input {
                height: 28px;
                font-size: 12px;
                font-weight: 400;
                line-height: 20px;
                border: 1px solid var(--slate-07, #D7DBDF);
                color: var(--slate12);
                padding-left: 12px !important;

                &::placeholder {
                  color: $color-light-slate-09;
                }

                &:focus {
                  height: 28px;
                  border: 1px solid var(--indigo9);
                  background-color: var(--indigo2);
                  box-shadow: 0px 0px 0px 2px #C6D4F9 !important;
                  overflow: hidden;
                  text-overflow: clip;
                }

              }

              .form-control:not(:first-child) {
                padding-left: 2rem !important;

              }
            }

            .input-icon-addon.end {
              display: flex;
              width: 20px;
              height: 20px;
              padding: 2px;
              margin: 4px 10px 4px 8px !important;

              div {
                background-color: #f0f4ff;
                width: 16px;
                height: 16px;
                padding: 3.33px;
                display: flex;
                border-radius: 2px;
              }

              svg {
                width: auto !important;
                height: auto !important;
                stroke: var(--indigo9) !important;

              }
            }
          }

        }

        .queries-search.theme-dark {
          .query-manager-search-box-wrapper {
            .input-icon-addon:first-child {
              .icon {
                stroke: #ffffff !important;
              }
            }

            input {
              color: inherit;

              &::placeholder {
                color: inherit;
              }

              &:focus {
                height: 28px;
                border: 1px solid var(--indigo9);
                background-color: inherit;
                box-shadow: 0px 0px 0px 2px #C6D4F9 !important;
              }

            }
          }
        }
      }

      .query-list {
        display: flex;
        flex-direction: column;
        padding: 8px;
        gap: 2px;
        width: 100%;

        .mute-text {
          color: #6B7787;
        }
      }

      tr {
        border-color: #f1f1f1;
      }
    }

    .header {
      height: 40px;
      text-align: center;
    }
  }
}

.rest-methods-options {

  .select-search,
  .select-search-dark,
  .select-search__value input,
  .select-search-dark__value input {
    width: 90px !important;
    height: 32px !important;
    border-radius: $border-radius  !important;
  }
}


.query-pane-restapi-tabs {
  box-sizing: border-box;
  height: fit-content;
  width: 100%;
  margin-top: 20px;

  .codehinter-default-input {
    border: 0 !important;
  }

  .row {
    height: inherit;

    .rest-api-tab-content {
      .rest-api-tabpanes {
        display: none;
      }

      .rest-api-tabpanes.active {
        display: block;
      }

      .svg-plus {
        stroke: $primary;
      }

      .delete-btn-wrapper {
        display: flex;
        align-items: center;
        padding-top: 2px;
        padding-bottom: 2px;
        height: 32px;
      }

      .code-hinter-col {
        margin-bottom: 0px !important;
      }

      .tab-content-wrapper {
        display: flex;
        flex-direction: column;

        .query-number {
          max-height: 32px;
          flex: 0 0 32px;
          background-color: #F8F9FA;
          color: #000;
        }

        .delete-field-option {
          height: 34px;
          flex: 0 0 28px;
          background: #ffffff;
          width: 34px;
        }

        .code-hinter.codehinter-default-input {
          border: 1px solid transparent !important;
        }

        .code-hinter.codehinter-default-input:focus-within {
          border: 1px solid var(--indigo9) !important;
          background-color: #F8FAFF;
          border-radius: 0;
        }

      }

      .row-container {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 10px;
      }

      .fields-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      .fields-container {
        .field:nth-child(3) {
          border-left: 1px solid $color-light-slate-07;
          border-right: 1px solid $color-light-slate-07;
        }
      }

      @font-face {
        font-display: swap;
        /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Source Code Pro';
        font-size: 12px;
        font-weight: 400;
        src: url('/assets/fonts/source-code-pro-v22-latin/source-code-pro-v22-latin-regular.woff2') format('woff2');
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      }

      .CodeMirror {
        border-radius: 0 !important;
        font-family: 'Source Code Pro', monospace;
      }

    }

    .content-title {
      p {
        margin-right: 10px;
        color: $color-dark-slate-12;

      }
    }
  }
}

.query-pane-rest-api-keys-list-group {
  width: 100%;
  display: flex;
  flex-direction: row;

  .list-group-item {
    border: none !important;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    padding: 0 !important;
    height: 32px;
    color: var(--slate11);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--slate5) !important;
    border-radius: unset !important;

    span {
      padding: 6px 8px;
    }

  }

  .list-group-item:hover {
    color: var(--slate12) !important;
    background-color: var(--slate3) !important;
  }

  .list-group-item+.list-group-item.active {
    margin-top: 0;
  }

  .list-group-item.active {
    background-color: transparent !important;
    color: var(--indigo9);
    z-index: inherit !important;
    border-bottom: 2px solid var(--indigo9) !important;
  }

  .list-group-item.active:hover {
    background-color: var(--indigo3) !important;
    border-radius: 6px 6px 0 0;
    color: var(--indigo9) !important;
  }
}

.query-preview-list-group {
  display: flex;
  flex-direction: row;
  gap: 4px;

  .list-group-item {
    border: none !important;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    padding: 0 !important;
    height: 24px;
    color: var(--slate11);
    border-radius: 6px;
    display: flex;
    align-items: center;

    span {
      padding: 2px 0px;
    }

    &:hover {
      color: #000;
    }
  }

  .list-group-item:hover {
    color: var(--slate12) !important;
    background-color: var(--slate3) !important;
    border-radius: 6px;
  }

  .list-group-item+.list-group-item.active {
    margin-top: 0;
  }


  .list-group-item.active {
    background-color: transparent !important;
    color: var(--indigo9) !important;
    z-index: inherit !important;
    border-radius: 0;
    transition-delay: 5ms;

    span {
      background: #ffffff;
    }
  }

  .list-group-item.active:hover {
    background-color: var(--indigo3) !important;
    border-radius: 6px 6px 0 0;
    color: var(--indigo9) !important;
  }
}

/**
 * *Stripe Query Select-search and OpenApi 
 */

.stripe-operation-options .select-search__row .col-md-8 {
  margin-left: 45px !important;
}

.field-width-268 {
  width: 268px !important;

  input {
    border-radius: $border-radius  !important;
  }
}

.stripe-fields-row,
.openApi-fields-row {

  .path-fields:first-child,
  .request-body-fields:first-child,
  .query-fields:first-child {
    margin-top: 12px !important;
  }

  .field-width-179 {
    width: 179px;
    height: 32px;
  }

  .field-width-28 {
    width: 28px;
    height: 32px;
    padding: 12.5px 10.5px;
  }

  .input-group-parent-container {
    border: 1px solid $color-light-slate-07  !important;
    border-radius: 6px !important;
    overflow: hidden;

    &>.input-group-wrapper {
      border-bottom: 1px solid $color-light-slate-07;
    }

    &>.input-group-wrapper:last-child {
      border-bottom: 0 !important;
    }
  }

  .input-group-wrapper {
    overflow: hidden;

    .input-group {
      .field {
        .form-control {
          height: 32px;
          border: 0 !important;
          border-radius: 0 !important;
          background-color: $color-light-slate-02;
          color: #000000;
          font-size: 12px;
          line-height: 20px;
        }

        .code-hinter-col {
          margin-bottom: 0 !important;

          .code-hinter-wrapper {
            border-width: 0 1px 0 1px;
            border-style: solid;
            border-color: $color-light-slate-07;
          }

          .code-hinter.codehinter-default-input {
            border: none;
            padding: 0;
            border-radius: 0 !important;
            overflow: auto;

            .CodeMirror.cm-s-duotone-light.CodeMirror-wrap {
              border: 1px solid transparent !important;
              margin: 0 1px;
              overflow: hidden !important;
            }

            .CodeMirror.cm-s-duotone-light.CodeMirror-wrap:focus-within {
              width: 99.8% !important;
              background-color: #F8FAFF !important;
              border: 1px solid var(--indigo9) !important;
              margin: 0 1px;
              border-radius: 0;
            }

            .CodeMirror-line {
              color: #000;
              font-size: 12px;
              line-height: 20px;
              font-weight: 400;
            }
          }

          .cm-s-duotone-light.CodeMirror {
            background-color: inherit !important;
          }
        }
      }
    }
  }

  .text-heading {
    color: var(--slate12);
    font-weight: 400;
    line-height: 20px;
  }

  .request-body-fields,
  .path-fields,
  .query-fields {
    margin-top: 28px;
  }

  .stripe-operation-options {
    p {
      margin-bottom: 0 !important;
      margin-top: 12px !important;
      display: inline-block !important;
    }
  }
}

.openApi-fields-row {

  .path-fields:first-child,
  .request-body-fields:first-child,
  .query-fields:first-child {
    margin-top: 28px !important;
  }
}

.stripe-fields-row.theme-dark,
.openApi-fields-row.theme-dark {
  .form-control {
    background-color: inherit !important;
    color: inherit !important;
  }

  .field-width-28 {
    svg {
      path {
        fill: #fff;
      }
    }
  }

  .text-heading {
    color: inherit;
  }

  .code-hinter-wrapper {
    border-color: #ffffff17 !important;
  }

  .input-group-parent-container {
    border: 1px solid #ffffff17 !important;

    &>.input-group-wrapper {
      border-bottom: 1px solid #ffffff17;
    }

    &>.input-group-wrapper:last-child {
      border-bottom: 0 !important;
    }
  }

  .CodeMirror-line {
    color: inherit !important;
  }

  .CodeMirror.cm-s-monokai.CodeMirror-wrap {
    border: 1px solid transparent;
    margin: 0 1px;
  }

  .CodeMirror.cm-s-monokai.CodeMirror-wrap:focus-within {
    width: 99.8% !important;
    border: 1px solid var(--indigo9) !important;
    margin: 0 1px;
    border-radius: 0;
  }
}

.data-pane {
  .queries-container.theme-dark {
    .query-row {
      color: #f4f6fa;
    }



    .delete-query {
      svg {
        path {
          fill: $color-dark-tomato-10  !important;
        }
      }

      svg:hover {
        path {
          fill: $color-dark-tomato-09  !important;
        }
      }
    }

    .rename-query {
      svg {
        path {
          fill: $color-dark-slate-12  !important;
        }
      }

      svg:hover {
        path {
          fill: $color-dark-slate-11  !important;
        }
      }
    }


  }
}

//query manager
.query-manager {
  background-color: var(--base);

  .header {
    background-color: var(--base);
  }

  .query-name-breadcrum {
    cursor: pointer;

    .breadcrum-rename-query-icon {
      display: none;
    }

    &:hover {
      .breadcrum-rename-query-icon {
        display: inline-flex;
        height: 14px;
        width: 14px;
        margin-left: 8px;
        padding: 1.75px;

        &:hover {
          svg {
            path {
              fill: var(--slate11) !important;
            }
          }
        }
      }
    }
  }

  .code-hinter.codehinter-default-input {
    &:hover {
      background-color: #FBFCFD;
      border-radius: 6px;
    }
  }

  .breadcrum {
    width: 15.33px;
    height: 15.33px;
    padding: 3px 5px;
    display: flex;
  }

  input[type=checkbox]:checked {
    background-color: var(--indigo9);

  }

  input[type=checkbox]:checked:active {
    background-color: var(--indigo9);
    box-shadow: 0px 0px 0px 4px #C6D4F9;
    border-radius: 12px;
  }

  input[type=checkbox] {
    background-color: $color-light-slate-07;
    cursor: pointer !important;
    border: 0;
  }

  input[type=checkbox]:active {
    background-color: var(--indigo4);
    box-shadow: 0px 0px 0px 4px #C6D4F9;
    border-radius: 12px;
  }

  input[type=checkbox]:checked:hover {
    background-color: $color-light-indigo-11;

  }

  .CodeMirror-placeholder {
    margin-top: 0 !important;
  }

  .preview-section {
    ul {
      margin: 0 !important;
      padding: 0.5em !important;
    }

    .preview-default-container {
      user-select: text;
      background-color: #FBFCFD;
      border: 0 0 6px 6px;
      height: 52px,
    }

    .tab-pane.active {
      ul {
        background-color: var(--slate3) !important;
      }

    }

    .preview-section-header {
      background-color: var(--slate1);
      border-radius: 6px 6px 0px 0px;
      border: 1px solid var(--slate5);
    }
  }

  .query-manager-border-color {
    border-color: var(--slate5) !important;
  }

  .query-details {
    .form-label {
      color: var(--slate9) !important;
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 0 !important;
      width: 100px;
      display: flex;
      padding: 0;
      margin-right: 12px;
    }

    .preview-data-container {
      min-height: 65px;
      background-color: var(--slate3);
    }
  }

  .rest-methods-url {

    .url-input-group {
      .code-hinter.codehinter-default-input {
        border-radius: 0 6px 6px 0 !important;
      }
    }

    .code-hinter.codehinter-default-input {
      border-style: solid !important;
      border-color: var(--slate7) !important;
      border-radius: 6px !important;

      &:focus-within {
        box-shadow: 0px 0px 0px 2px #C6D4F9 !important;
        border: 1px solid var(--indigo9) !important;
        background-color: #F8FAFF;
        position: relative;
        z-index: 1 !important;
      }
    }

    .CodeMirror.CodeMirror-wrap {
      background-color: transparent !important;

      .cm-variable,
      .cm-comment {
        font-size: 12px !important;
        color: var(--slate12) !important;
      }
    }
  }

  .rest-api-methods-select-element-container {
    display: flex;
    flex-direction: row;

    .col.code-hinter-col {
      margin-bottom: 0 !important;

    }
  }

  .advanced-options-container {
    .advance-options-input-form-container {
      margin-top: 24px;
      margin-bottom: 24px;
    }

    .form-check {
      margin-bottom: 0 !important;
    }

    .CodeMirror-code {
      color: $color-light-grass-11 ;
    }

    .form-label {
      color: var(--slate11) !important;
    }

    .form-check-label {
      color: var(--slate12);
    }

    .cm-s-monokai.CodeMirror,
    .query-manager-input-elem>input {
      color: var(--slate12) !important;
    }

    .codehinter-default-input:focus-within,
    .query-manager-input-elem>input:focus {
      box-shadow: 0px 0px 0px 2px #C6D4F9 !important;
      border: 1px solid var(--indigo9) !important;
      background-color: #F8FAFF;

    }

    .code-hinter.codehinter-default-input,
    .query-manager-input-elem>input {
      height: 32px !important;
      font-weight: 400;
    }

    .query-manager-events {
      .card {

        .event-handler-display,
        .event-name-display {
          color: var(--slate12) !important;
        }

        .text-danger {
          svg {
            path {
              fill: $color-light-tomato-09  !important;
            }
          }

          &:hover {
            svg {
              path {
                fill: $color-light-tomato-10  !important;
              }
            }
          }
        }

      }

      .inspector-add-button {
        background-color: transparent;
        font-weight: bold;
        font-size: 12px !important;
        color: var(--indigo9) !important;

        &:hover {
          background-color: #E6EDFE !important;
          color: #3451B2 !important;
        }
      }
    }
  }

  .transformation-editor {
    margin-top: 28px;

    &>div.rounded-3 {
      padding: 0 24px !important;
    }

    .tranformation-label {
      color: var(--slate12);
    }

    .CodeMirror-scroll,
    .CodeMirror-gutters {
      background-color: var(--slate1);
    }

    .transformation-language-select-wrapper {
      background: var(--slate4);
      border: 1px solid var(--slate7) !important;
      border-radius: 0;
      border-radius: 6px 0 0 6px;
      height: 32px;

      span {
        color: var(--slate11);
      }
    }
  }

  .runjs-editor {
    background-color: var(--base) !important;
    border: 1px solid var(--slate5);
    border-radius: 6px;

    .card-header {
      background-color: var(--slate1);
      color: var(--slate9);
      border-radius: 6px 6px 0px 0px;
    }

    .CodeMirror-scroll,
    .CodeMirror-gutters,
    .CodeMirror {
      background-color: var(--slate3) !important;
    }

    .CodeMirror-sizer {
      margin-left: 29px !important;
    }
  }

  .runpy-editor {
    .CodeMirror-sizer {
      margin-left: 29px !important;
    }
  }

  .code-hinter,
  .query-hinter {
    textarea:first-of-type {
      opacity: 0.1; // Added to avoid displaying textarea while switching from one Query to another
    }
  }

  .query-editor-dynamic-form-container {
    font-weight: 400;

    .css-1goth4y-control:hover {
      background-color: #FBFCFD;
      border-radius: 6px;
    }

    .css-1goth4y-control:active {
      box-shadow: 0px 0px 0px 2px #C6D4F9 !important;
      border: 1px solid var(--indigo9) !important;
      border-radius: 6px;
      background-color: #F8FAFF;
    }

    .css-1goth4y-control {
      cursor: pointer !important;
    }

    .codehinter-plugins {
      .code-hinter.codehinter-plugins {
        height: 32px !important;
        padding: 2px 0 !important;
        font-size: 12px !important;

        .CodeMirror-lines {
          padding: 0 !important;
        }
      }
    }

    .CodeMirror-line {
      font-size: 12px;
    }

    .code-hinter.codehinter-plugins:focus-within {
      box-shadow: 0px 0px 0px 2px #C6D4F9 !important;
      border: 1px solid var(--indigo9) !important;
      border-radius: 6px;
      background-color: #F8FAFF;
    }

    &>.row:first-child {
      .my-2 {
        margin: 0 !important;
      }
    }

    &>.row:not(:first-child) {
      .my-2 {
        margin: 20px 0 0 0 !important;
      }
    }

    .code-hinter-wrapper {
      border-radius: 6px;
    }
  }

  .delete-field-option:hover {
    svg {
      path {
        fill: $color-light-tomato-10  !important;
      }
    }
  }

  .add-tabs:hover {
    svg {
      path {
        fill: var(--indigo10) !important;
      }
    }
  }

  .query-datasource-card-container {
    .query-datasource-card {
      color: var(--slate12) !important;
      font-weight: 400;
      font-size: 12px;
      height: 32px;

      svg {
        width: 16px !important;
        height: 16px !important;
      }
    }

    .add-gds-secondary-button {
      margin: 0 !important;
    }
  }

}

.rest-api-tabpanes-body {
  .CodeMirror.cm-s-monokai.CodeMirror-wrap {
    background-color: var(--slate3) !important;
  }
}

.runps-editor {
  .query-hinter {
    border-radius: 6px !important;
  }

  .CodeMirror.cm-s-monokai.CodeMirror-wrap,
  .cm-s-monokai .CodeMirror-gutters {
    background-color: var(--slate3) !important;
  }
}

.rest-api-tabpanes-body {
  .query-hinter {
    border-radius: 6px !important;
  }
}

.CodeMirror.cm-s-monokai.CodeMirror-wrap {
  background-color: transparent !important;

  .cm-variable,
  .cm-comment {
    font-size: 12px !important;
    color: #f8f8f2 !important;
  }
}

.query-icon-wrapper {
  width: 16px;
  height: 16px;
}

.query-manager-btn-svg-wrapper {
  padding: 2.67px;
}

.rest-api-delete-field-option {
  padding: 1.33px 2px;
}

.rest-api-add-field-svg {
  width: 18px;
  height: 18px;
  padding: 3px;
  display: flex;
}

// custom-toggle-switch for query manager
.custom-toggle-switch {
  display: flex;

  .switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 16px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
  }

  input {
    border: 0 !important;
  }

  input[type=checkbox]:checked+.slider {
    background-color: var(--indigo9);
  }

  input[type=checkbox]:checked:hover+.slider {
    background-color: #3451B2;
  }

  input[type=checkbox]:checked:active+.slider {
    background-color: var(--indigo9);
    box-shadow: 0px 0px 0px 4px #C6D4F9;
  }

  input[type=checkbox]:checked+.slider:before {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

  input[type=checkbox]+.slider {
    background-color: var(--slate7);
  }

  input[type=checkbox]:hover+.slider {
    background-color: #D9E2FC;
  }

  input[type=checkbox]:active+.slider {
    background: #E6EDFE;
    box-shadow: 0px 0px 0px 4px #C6D4F9;
    border-radius: 12px;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 12px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

.custom-toggle-switch.theme-dark {
  input[type=checkbox]+.slider {
    background-color: #47505D !important;
  }

  input[type=checkbox]:hover+.slider {
    background-color: #D9E2FC;
  }

  input[type=checkbox]:active+.slider {
    background: #E6EDFE;
    box-shadow: 0px 0px 0px 4px #C6D4F9;
    border-radius: 12px;
  }

  input[type=checkbox]:checked+.slider {
    background-color: var(--indigo9) !important;
  }

  input[type=checkbox]:checked:hover+.slider {
    background-color: #3451B2 !important;
  }

  input[type=checkbox]:checked:active+.slider {
    background-color: var(--indigo9) !important;
    box-shadow: 0px 0px 0px 4px #C6D4F9 !important;
  }
}

.fit-content {
  max-width: fit-content;
}

.empty-gds-container {
  .info-container {
    display: flex;
    align-items: center;
    background-color: var(--slate3);
    border-radius: $border-radius;
    padding: 16px 32px;
    font-size: 12px;
    color: var(--slate11);

    .info {
      margin-left: 10px;
    }
  }
}

.add-gds-secondary-button {
  background-color: var(--indigo3);
  color: var(--indigo9);
  max-height: 34px;
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  gap: 6px;
  font-weight: 500;
  border: 0 !important;
  transition: .4s;

  &:hover {
    background-color: var(--slate7);
    color: var(--slate11);
  }
}


.query-manager-tooltip {
  max-width: 800px;
  overflow-wrap: break-word;
}

.query-manager-ds-select-tooltip {
  max-width: 230px;
  overflow-wrap: break-word;
}

.copilot-section-header {
  background-color: var(--slate2);
  border: 1px solid var(--slate5);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.query-manager-input-elem {
  input {
    background-color: var(--base) !important;
  }
}

.query-hinter {
  border: 1px solid var(--slate5);
  border-radius: 0px 0px 6px 6px;

  .cm-s-base16-light.CodeMirror,
  .CodeMirror-scroll,
  .CodeMirror-gutters {
    background-color: var(--slate3) !important;
  }
}