@import "./typography.scss";
@import "./designtheme.scss";


.jet-table.table-component{
    background-color: var(--base) !important; 
    .card-footer,.card{
      background-color:var(--base) !important;
    }
    .card{
        border: 1px solid var(--slate3) !important;
    }
    
}
.text-black-000{
    color: var(--text-black-000) !important;
}
.table-filters,
.table-add-new-row {
  position: absolute;
  top: 2.85rem;
  width: 80%;
  max-width: 700px;
  margin-right: 10%;
  right: 0;
  height: 300px;
  z-index: 100;
}
.table-add-new-row{
    color: var(--slate12) !important;
    .th{
        background-color: var(--slate3) !important;
        color: var(--slate12) !important;
    }
}

/*
    table footer
*/
// download pop-up in the table widget
.table-widget-download-popup {
    background-color: var(--base) !important;
    color: var(--slate12) !important;
    padding: 4px;
    border-radius: 6px;
    width: fit-content;
    border: 1px solid var(--slate3) !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .popover-body{
        color: inherit;
    }
    
    // .table-download-option{
    //   display: flex;
    //   padding: 10px 14px;
    //   align-items: center;
    //   gap: 37px;
    //   flex: 1 0 0;
    // }
}
// hidecolumn popover in table footer
.dropdown-table-column-hide-common {
    width: 100%;
    color : var(--slate12) !important;
    height: 100% !important;
    .dropdown-item{
      height: 36px;
      width: 100%;
      padding: 8px 12px;
      border-radius: 6px;
      input{
        width: 16px;
        height: 16px;
      }
    }
    overflow-wrap: wrap;
    .dropdown-item{
      &:hover{
        background-color:  var(--slate3, #F1F3F5) !important;
      }
      &:focus{
        background: var(--slate1, #FBFCFD) !important;
        box-shadow: 0px 0px 0px 4px var(--slate6) !important;
      }
    }
}
.popover:has(.dropdown-table-column-hide-common){
    border : 1px solid var(--slate3) !important;
    background-color: var(--base) !important;
    padding: 4px;
    border-radius: 6px;
}
.hide-column-name {
  padding-left: 4px !important;
}
.jet-table.table-component{
  .pagination-container{
    input{
      color :var(--slate12) !important;
      border: 1px solid var(--slate7, #D7DBDF) !important;
      background: var(--base, #FFF) !important;
      &:hover{
        border: 1px solid var(--slate8, #C1C8CD) !important;
        background: var(--slate1, #FBFCFD) !important;
      }
      &:focus{
        border: 1px solid var(--slate7, #D7DBDF) !important;
        background: var(--base, #FFF) !important;
        /* Focus rings/Gray/light */
        box-shadow: 0px 0px 0px 4px var(--slate6) !important;
      }
      &:active{
        border: 1px solid var(--indigo9, #3E63DD) !important;
        background: var(--indigo2, #F8FAFF) !important;
        /* Focus rings/Indigo/light */
        box-shadow: 0px 0px 0px 4px #C6D4F9 !important;
      }
    }
    .total-page-number{
      color: var(--slate11) !important
    }
  }
}
