@import "./typography.scss";
@import "./designtheme.scss";

.jet-table.table-component{
    padding: 8px;
    &.jet-table {
      background-color: var(--base) !important;
      box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06), 0px 4px 8px -2px rgba(16, 24, 40, 0.10);
    }
    .table-filters{
      border: 1px solid var(--slate3, #F1F3F5) !important;
      .card-footer{
        background-color: inherit !important;
      }
    }
    .card-footer,.card{
      background-color:var(--base) !important;
    }
    .card{
        border: 1px solid var(--slate3) !important;
    }
    .card-footer{
        padding: 0.75rem;
    }
    .card-header{
      border-bottom: 0 !important;
    }
    .table-clear-icon{
      border-radius: 4px;
      border: 1px solid var(--base-transparent, rgba(255, 255, 255, 0.00)) !important;
      background: var(--indigo3, #F0F4FF) !important;
    }
    .table-global-search{
      &:hover{
        border-radius: 6px;
        border: 1px solid var(--slate8, #C1C8CD) !important;
        background: var(--slate4, #ECEEF0) !important;
      }
      &:focus-visible{
        border-radius: 6px;
        border: 1px solid var(--slate7, #D7DBDF) !important;
        background: var(--base-base, #FFF) !important;
        /* Focus rings/Gray/light */
        box-shadow: 0px 0px 0px 4px var(--slate6) !important;
      }
      &:focus-within{
        border-radius: 6px;
        border: 1px solid var(--indigo9, #3E63DD) !important;
        background: var(--indigo2, #F8FAFF) !important;

        /* Selected ring/Indigo/light */
        box-shadow: 0px 0px 0px 1px var(--indigo6) !important;
      }
    }
    .tr{
      height: 32px; 
    }
    .table-row{
      border-top: 0 !important;
      border-bottom: 1px solid inherit;
    }
    .table-bordered > :not(caption) > * > *{
      border-width: 0 1px 0 0;
    }
}

.jet-data-table {
  &::-webkit-scrollbar-thumb {
    background-color: var(--slate4) !important; /* Color of the scrollbar thumb */
    border-radius: 8px; /* Rounded corners of the thumb */
  }
  
  thead {
    z-index: 2;
  }

  .table thead th:not(.rdtPrev):not(.rdtSwitch):not(.rdtNext):not(.dow) {
    display: flex !important;
  }

  .table-row:hover,
  .table-row:focus {
    background: var(--slate4, #ECEEF0) !important;   
  }

  .table-row.selected {
    --tblr-table-accent-bg: var(--indigo3, #F0F4FF) !important;
    background: var(--indigo3, #F0F4FF) !important;
  }

  td {
    min-height: 40px;
    overflow-x: initial;

    .text-container {
      padding: 0;
      margin: 0;
      border: 0;
      height: 100%;
      outline: none;
    }
  }

  td.spacious {
    min-height: 47px;
  }

  td.compact {
    min-height: 40px;
  }

  .has-dropdown,
  .has-multiselect,
  .has-text,
  .has-datepicker,
  .has-actions {
    padding: 0 5px;
  }

  .has-text,
  .has-actions {
    margin: 0;
  }

  .wrap-wrapper {
    white-space: normal !important;
    word-break: break-all;
  }

  .scroll-wrapper {
    overflow-x: auto;
  }

  .hide-wrapper {
    overflow-x: hidden !important;
  }

  td {
    padding: 6px 12px;
    .text-container:focus-visible,
    .text-container:focus,
    .text-container:focus-within,
    .text-container:hover {
      outline: none;
      height: 100%;
    }

    display: flex !important;

    .td-container {
      margin-top: auto;
      margin-bottom: auto;
    }

    .td-container:has(.action-button) {
      height: inherit !important;
    }
  }

  td {
    .text-container:focus {
      position: sticky;
      height: 120px;
      overflow-y: scroll;
      margin-top: -10px;
      padding: 10px;
      margin-left: -9px;
      background: white;
      box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
        rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
      white-space: initial;
    }

    .text-container:focus-visible,
    .text-container:focus,
    .text-container:focus-within,
    .text-container:hover {
      outline: none;
    }

  }

  td {
    .text-container::-webkit-scrollbar {
      background: transparent;
      height: 0;
      width: 0;
    }
  }

  td::-webkit-scrollbar {
    background: transparent;
    height: 0;
    width: 0;
  }

  td:hover::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  .th {
    white-space: normal;
  }

  // th:after {
  //   content: " ";
  //   position: relative;
  //   height: 0;
  //   width: 0;
  // }

  // .sort-desc:after {
  //   border-left: 5px solid transparent;
  //   border-right: 5px solid transparent;
  //   border-top: 5px solid #767676;
  //   border-bottom: 5px solid transparent;
  //   left: 0px;
  //   top: 7px;
  // }

  // .sort-asc:after {
  //   border-left: 5px solid transparent;
  //   border-right: 5px solid transparent;
  //   border-top: 0px solid transparent;
  //   border-bottom: 5px solid #767676;
  //   left: 0px;
  //   top: 7px;
  // }
}

.jet-data-table::-webkit-scrollbar {
  background: transparent;
}

.jet-data-table::-webkit-scrollbar-track {
  background: transparent;
}

.jet-data-table:hover {
  overflow-x: auto;
  overflow-y: auto;
}

.jet-data-table {
  .th:first-child,td:first-child{
    border-left: none;
  }
  .th:last-child,td:last-child{
    border-right: none;
  }
  overflow: hidden;

  .form-check {
    margin-bottom: 0;
  }

  .form-check-inline {
    margin-right: 0;
  }

  .table-row {
    cursor: pointer;
  }

  thead {
    position: sticky;
    top: 0px;
    display: inline-block;

    tr {
      border-top: none;
    }
  }

  tbody {
    display: inline-block;
  }
}

.jet-data-table {
  display: inline-block;
  height: 100%;

  thead {
    width: 100%;
  }

  .select-search:not(.is-loading):not(.select-search--multiple) .select-search__value::after {
    display: none;
  }

  .custom-select {
    .select-search:not(.select-search--multiple) .select-search__select {
      top: 0px;
      border: solid #9fa0a1 1px;
    }
  }

  .tags {
    width: 100%;
    min-height: 20px;

    .add-tag-button {
      display: none;
    }

    .tag {
      font-weight: 400;
      font-size: 0.85rem;
      letter-spacing: 0.04em;
      text-transform: none;

      .remove-tag-button {
        margin-left: 5px;
        margin-right: -7px;
        display: none;
      }
    }

    .form-control-plaintext {
      font-size: 12px;
    }

    .form-control-plaintext:hover,
    .form-control-plaintext:focus-visible {
      outline: none;
    }
  }

  .tags:hover {
    .add-tag-button {
      display: inline-flex;
    }
  }

  .tag:hover {
    .remove-tag-button {
      display: inline-flex;
    }
  }

  .th,
  .td {
    .resizer {
      display: inline-block;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      // transform: translateX(50%);
      z-index: 1;
      touch-action: none;
      width: 15px;
      cursor: ew-resize !important;
    }
  }
}

// Table set to full width
.jet-data-table thead {
  display: flex !important;

  tr {
    flex-grow: 1;
    th:last-child {
      flex: 1 1 auto !important;
    }
  }
}

.table-filters,
.table-add-new-row {
  position: absolute;
  top: 2.85rem;
  width: 80%;
  max-width: 700px;
  margin-right: 10%;
  right: 0;
  height: 300px;
  z-index: 100;
  background: var(--slate1, #FBFCFD) !important;
  overflow: hidden;
}

.table-add-new-row{
  padding: 8px;
    color: var(--slate12) !important;
    .th{
        background-color: var(--slate3) !important;
        color: var(--slate12) !important;
    }
}

/*
    table footer
*/
// download pop-up in the table widget
.table-widget-download-popup {
    background-color: var(--base) !important;
    color: var(--slate12) !important;
    padding: 4px;
    border-radius: 6px;
    width: fit-content;
    border: 1px solid var(--slate3) !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .popover-body{
        color: inherit;
    }
    
    // .table-download-option{
    //   display: flex;
    //   padding: 10px 14px;
    //   align-items: center;
    //   gap: 37px;
    //   flex: 1 0 0;
    // }
}
// hidecolumn popover in table footer
.dropdown-table-column-hide-common {
    width: 100%;
    color : var(--slate12) !important;
    height: 100% !important;
    .dropdown-item{
      display: flex;
      height: 36px;
      width: 100%;
      padding: 10px 14px;
      border-radius: 6px;
      gap: 6px;
      input{
        width: 16px;
        height: 16px;
      }
    }
    overflow-wrap: wrap;
    .dropdown-item{
      &:hover{
        background-color:  var(--slate3, #F1F3F5) !important;
      }
      &:focus{
        background: var(--slate1, #FBFCFD) !important;
        box-shadow: 0px 0px 0px 4px var(--slate6) !important;
      }
    }
}
.popover:has(.dropdown-table-column-hide-common){
    border : 1px solid var(--slate3) !important;
    background-color: var(--base) !important;
    padding: 4px;
    border-radius: 6px;
}

.jet-table.table-component{
  .pagination-container{
    input{
      color :var(--slate12) !important;
      border: 1px solid var(--slate7, #D7DBDF) !important;
      background: var(--base, #FFF) !important;
      &:hover{
        border: 1px solid var(--slate8, #C1C8CD) !important;
        background: var(--slate1, #FBFCFD) !important;
      }
      &:focus-visible{
        border: 1px solid var(--slate7, #D7DBDF) !important;
        background: var(--base, #FFF) !important;
        /* Focus rings/Gray/light */
        box-shadow: 0px 0px 0px 4px var(--slate6) !important;
      }
      &:active{
        border: 1px solid var(--indigo9, #3E63DD) !important;
        background: var(--indigo2, #F8FAFF) !important;
        /* Focus rings/Indigo/light */
        box-shadow: 0px 0px 0px 4px #C6D4F9 !important;
      }
    }
    .total-page-number{
      color: var(--slate11) !important
    }
  }
}

.jet-table {
  .global-search-field {
    background: transparent;
  }
}

.jet-table-image-column {
  margin: 0 auto;
}
.jet-table{
  .tr{
    .th{
      background: var(--slate3, #F1F3F5) !important;
      border-bottom: 1px solid var(--slate5, #E6E8EB) !important;
      border-top: 0 !important;
      padding: 6px 12px;
      align-items: center;
      color: var(--slate12) !important;
      font-weight: 400 !important;
      font-size: 12px !important;
      width: 100%;
      &:hover{
        background: var(--slate4, #ECEEF0) !important;
      }
      &:focus-within,&:focus-within{
        outline: 0;
        background: var(--slate4, #ECEEF0) !important;
        box-shadow: 0px 0px 0px 4px #DFE3E6 !important;
        z-index: 999;
        margin: 4px;
      }
      .header-text{
        outline: 0;
      }
    }
    .th.resizing-column{
      color: var(--slate9) !important;
      background-color: var(--slate4, #ECEEF0) !important; 
    }
  }
  .warning-no-data{
    padding: 12px;
    border-radius: 6px;
    background-color: var(--slate3, #F1F3F5) !important;
    gap: 10px;
    .warning-svg-wrapper{
      display: flex;
      height: 20px;
      width: 20px;
      justify-content: center;
      padding: 2.5px 1.667px;
      align-items: center;
      background: inherit;
    }
    .warning-no-data-text{
      color: var(--slate11) !important;
      /* Paragraph/Small/Medium */
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
    }
  }

}
.table-striped > tbody > tr:nth-of-type(even){
  background-color: var(--slate2) ;
  --tblr-table-accent-bg : var(--slate2) ;
}
.resizing-column{
  background-color: var(--slate4, #ECEEF0) !important; 
  border-right: 4px solid var(--slate5, #E6E8EB) !important;
}
.table-striped{
  .resizing-column{
    background-color: var(--slate4, #ECEEF0) !important; 
    --tblr-table-accent-bg : var(--slate4,#ECEEF0) ;
    border-right: 4px solid var(--slate5, #E6E8EB) !important;
  }
}
.isResizing{
  cursor: ew-resize !important;
}
