.editor { 
    .header-container {
        max-width: 100%;
    }

    .left-sidebar {

        height: 100%; 
        width: 12%; 
        position: fixed; 
        z-index: 1; 
        left: 0;
        overflow-x: hidden; 

        flex: 1 1 auto;
        background-color: #fff;
        background-clip: border-box;
        border: solid rgba(0, 0, 0, 0.125);
        border-width: 0px 1px 3px 0px;

        .accordion-item { 
            border: solid rgba(101,109,119,.16);
            border-width: 1px 0px 1px 0px;
        }
    }

    .editor-sidebar {
        height: 100%; 
        width: 15%; 
        position: fixed; 
        z-index: 10; 
        right: 0;
        overflow-x: hidden; 

        flex: 1 1 auto;
        top: 56px;

        background-color: #fff;
        background-clip: border-box;
        border: solid rgba(0, 0, 0, 0.125);
        border-width: 0px 0px 0px 1px;

        .inspector {
            .form-control-plaintext {
                padding: 0;
            }
            .header {
                border: solid rgba(0, 0, 0, 0.125);
                border-width: 0px 0px 2px 0px;
                height: 40px;

                .component-name {
                    font-weight: 500;
                }

                .component-action-button {
                    right: 10px;
                    position: fixed;
                }
            }

            .CodeMirror {
                font-size: 12px;
            }

            .properties-container { 
                .field { 
                    .form-label { 
                        font-size: 12px;
                    }

                    .text-field {
                        height: 30px;
                        font-size: 12px;
                    }

                    .form-select { 
                        height: 30px;
                        font-size: 12px;
                    }
                }
            }
            
        }

        .components-container { 
            .component-image-holder { 
                background: #f6f7fb;
                border-radius: 8px;
                border: 1px solid #d0d0d0;
                height: 50px;

                img { 
                    margin: 0 auto;
                    padding: 12px;
                }
            }

            .component-title {
                display: block;
                font-weight: 500;
                margin-top: 5px;
                font-size: 0.8rem;
            }

            .component-description {
                color: grey;
                font-size: 0.7rem;
            }
        }
      }
      
      
      .main {
        margin-left: 12%; 
        margin-right: 13%; 
        padding: 0px 10px;

        .canvas-container::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }
        
        .canvas-container::-webkit-scrollbar-thumb {
            background: #FF0000;
        }

        .canvas-container { 
            height: 100%;
            position: fixed;
            overflow-y: auto;
            overflow-x: auto;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;

            .canvas-area {
                width: 1280px;
                min-height: 1200px;
                background: #edeff5;
                padding: 10px;
                margin: 0px auto;
                margin-left: 50px;
                background-size: 80px 80px;
                // background-image: url(/public/images/tile.png);
                background-repeat: repeat;
            }

            
        }

        .query-pane::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }
        
        .query-pane::-webkit-scrollbar-thumb {
            background: #FF0000;
        }

        .query-pane {
            height: 350px; 
            width: 73%; 
            position: fixed; 
            z-index: 1; 
            left: 12%;
            bottom: 0;
            overflow-x: hidden; 
            flex: 1 1 auto;
            
    
            background-color: #fff;
            background-clip: border-box;
            border: solid rgba(0, 0, 0, 0.125);
            border-width: 1px 0px 0px 0px;

            .main-row {
                --tblr-gutter-x: 0rem;
            }

            .query-definition-pane {
                .header {
                    border: solid rgba(0, 0, 0, 0.125);
                    border-width: 0px 0px 1px 0px;
                }
            }

            .data-pane {
                height: 100%;
                min-height: 350px;
                border: solid rgba(0, 0, 0, 0.125);
                border-width: 0px 1px 0px 0px;

                .header {
                    height: 40px;
                    text-align: center;
                }
            }
        }
      }
      
      @media screen and (max-height: 450px) {
        .sidebar {padding-top: 15px;}
        .sidebar a {font-size: 18px;}
      }
}


.viewer { 

    .header-container {
        max-width: 100%;
    }

    .main {
        margin-left: 260px; 
        margin-right: 260px; 
        padding: 0px 10px;

        .canvas-container::-webkit-scrollbar {
            width: 0;
            background: transparent;
        }
        
        .canvas-container::-webkit-scrollbar-thumb {
            background: #FF0000;
        }

        .canvas-container { 
            height: 100%;
            position: fixed;
            overflow-y: auto;
            overflow-x: auto;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;

            .canvas-area {
                width: 1280px;
                min-height: 1200px;
                background: #edeff5;
                padding: 10px;
                margin: 0px auto;
                margin-left: 50px;
                background-size: 80px 80px;
                // background-image: url(/public/images/tile.png);
                background-repeat: repeat;
            }

            
        }
    }
}

.modal-header {
    padding: 0 1.5rem 0 1.5rem;
}