.create-version-modal {
  height: 532px;
  width: 380px;

  .modal-body {
    height: 446px !important;
    padding: 24px !important;

    .create-version-footer {
      position: absolute;
      bottom: 20px;
      left: 24px;
      right: 24px;
      height: 72px !important;
    }

    .loader-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; // take up full height of parent
    }
  }

}

.create-draft-version-modal {
  height: 480px;
  width: 380px;

  .modal-body {
    height: 390px !important;
    padding: 24px !important;

    .create-version-footer {
      position: absolute;
      bottom: 20px;
      left: 24px;
      right: 24px;
      height: 72px !important;
    }

    .loader-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; // take up full height of parent
    }
  }
}

.create-version-modal .create-draft-version-modal {

  .create-version-form {
    .alert-component {
      border-radius: 6px;
      background: #ECF0FE;
      display: flex;
      padding: 12px;
      align-items: flex-start;
      gap: 6px;
      align-self: stretch;

      .create-version-helper-text {
        color: var(--text-medium, #2D343B);
        font-family: "IBM Plex Sans";
        font-size: 12px !important;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
      }
    }

    .version-name-helper-text {
      color: var(--Slate-10, #7E868C);
      font-family: "IBM Plex Sans";
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
    }

    .version-description-helper-text {
      color: var(--Slate-10, #7E868C);
      font-family: "IBM Plex Sans";
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
    }

    .create-version-alert {
      border-radius: 6px;
      background: #ECF0FE;
      display: flex;
      padding: 12px;
      align-items: flex-start;
      gap: 6px;
      align-self: stretch;
      width: 272px;
      height: 78px;
    }

  }

  .create-version-form {
    height: calc(336px + 72px) !important;
  }
}

.edit-version-modal {
  height: 416px;
  width: 400px;

  .alert-component {
    border-radius: 6px;
    background: #ECF0FE;
    display: flex;
    padding: 12px;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;

    .create-version-helper-text {
      color: var(--text-medium, #2D343B);
      font-family: "IBM Plex Sans";
      font-size: 12px !important;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
    }
  }

  .version-name-helper-text {
    color: var(--Slate-10, #7E868C);
    font-family: "IBM Plex Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  .version-description-helper-text {
    color: var(--Slate-10, #7E868C);
    font-family: "IBM Plex Sans";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  .edit-version-description {
    display: flex;
    padding: 10px 8px;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--border-default, #CCD1D5);
    background: --bg-surface-layer-01;
    width: 344px;
    height: 80px;
  }

  .create-version-alert {
    border-radius: 6px;
    background: #ECF0FE;
    display: flex;
    padding: 12px;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
    width: 272px;
    height: 78px;
  }

  .edit-version-footer {
    position: absolute;
    bottom: 20px;
    left: 24px;
    right: 24px;
    height: 72px !important;
  }
}