<div class="footer footer-body padding-x-40">
  <p class="address">
    &#169; ToolJet Solutions, Inc at 1160 Battery St, suite 100, San Francisco,
    CA 94111
  </p>
  <p class="notif-purpose">
    {{footerText}}
  </p>
  <div class="social-links">
    <a target="_blank" href="https://github.com/ToolJet/ToolJet/stargazers">
      <img class="social-icons" alt="Company" src="cid:github" />
    </a>
    <a target="_blank" href="https://www.linkedin.com/company/tooljet">
      <img class="social-icons" alt="Company" src="cid:linkedin" />
    </a>
    <a
      target="_blank"
      href="https://www.youtube.com/channel/UCf1p2G5Z7fPpvlBPf4l2I1w"
    >
      <img class="social-icons" alt="Company" src="cid:youtube" />
    </a>
    <a target="_blank" href="https://twitter.com/ToolJet">
      <img class="social-icons" alt="Company" src="cid:twitter" />
    </a>
  </div>
</div>