<div class="header">
  <div class="logo-container padding-x-40 padding-y-20">
    {{#if (eq whiteLabelText "ToolJet")}}
      <img height="25" width="auto" class="company-logo" alt="Company" src="cid:rocket" />
    {{else}}
      <img height="25" width="auto" class="white-label-logo" alt="Company" src={{whiteLabelLogo}} />
    {{/if}}
  </div>
</div>