.compare-plans-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: "IBM Plex Sans";

    .compare-plans {
        background: var(--page-page-weak, #FFF);
    }

    .banner-header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 28px 0 28px;
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid var(--border-weak, #E4E7EB);
        border-radius: 6px 6px 0 0;
        border-bottom: none;
    }

    .compare-plans-title {
        color: var(--text-default, #1B1F24);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }

    .compare-plans-description {
        margin-bottom: 20px;
        color: var(--text-placeholder, #6A727C);
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;

        a {
            color: var(--text-accent, #4368E3);
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            text-decoration-line: underline;
        }
    }

    .plans-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(166px, 1fr));
        border: 1px solid #E5E7EB;
        border-top: none;
        border-radius: 0 0 6px 6px;
        overflow: hidden;
    }

    .plan-card {
        display: flex;
        flex-direction: column;
        border-right: 1px solid #E5E7EB;
        border-top: 1px solid #E5E7EB;
        min-width: 166px;

        &:last-child {
            border-right: none;
        }

        &:nth-child(3n) {
            border-color: #4368E3;
        }

        // Add new rules for specific plan cards
        &.business {
            border-left: 1px solid #4368E3;

            .plan-card-wrapper {
                border-bottom: 1px solid var(--Border-brand-weak, #97AEFC);
                background: var(--Background-accent-weak, #ECF0FE);
            }
        }

        &.flexible {
            border-right: none;
        }
    }

    .plan-card-wrapper {
        padding: 15px 14px 0px 14px;
    }

    .plan-header {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .plan-name {
            color: var(--text-default, #1B1F24);
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            display: inline-block;
            padding: 4px 12px;
            border-radius: 16px;
            background-color: #F3F4F6;
        }

        &.flexible .plan-name {
            background-color: #D1FAE5;
            background: var(--Green-03, #E9F9EE);
            color: var(--Green-10, #299764);
        }

        &.business .plan-name {
            background: var(--Indigo-05, #D9E2FC);
            color: var(--Text-brand, #4368E3);
        }

        &.enterprise .plan-name {
            background: var(--Amber-03, #FFF4D5);
            color: var(--amber-10, var(--Amber-10, #FFA01C));
        }

        &.business {
            display: flex;
            justify-content: space-between;

            .yearly-toggle {
                display: flex;
                align-items: start;

                .switch {
                    position: relative;
                    display: inline-block;
                    width: 28px; // Updated to 28px as requested
                    height: 16px; // Updated to 16px as requested
                    margin-right: 8px;

                    input {
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }

                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #ccc;
                        transition: .4s;
                        border-radius: 34px;

                        &:before {
                            position: absolute;
                            content: "";
                            height: 12px; // Adjusted for the new height
                            width: 12px; // Adjusted to maintain circular shape
                            left: 2px;
                            bottom: 2px;
                            background-color: white;
                            transition: .4s;
                            border-radius: 50%;
                        }
                    }

                    input:checked+.slider {
                        background-color: #4368E3;
                    }

                    input:checked+.slider:before {
                        transform: translateX(12px); // Adjusted for the new width
                    }
                }



                .toggle-label {
                    color: var(--text-default, #1B1F24);
                    font-size: 11px;
                    font-weight: 500;
                    line-height: normal;
                    display: flex;
                    flex-direction: column;

                    .discount {
                        color: #4368E3;
                        // margin-left: 4px;
                    }
                }
            }
        }
    }

    .plan-price {
        margin-bottom: 24px;

        .price {
            color: var(--text-default, #1B1F24);
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: -0.4px;
        }

        .price-period {
            font-size: 14px;
            color: var(--text-placeholder, #6A727C);
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }

        .price-description {
            color: var(--text-placeholder, #6A727C);
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: 10px;
        }

        &.business-price {
            display: flex;
            align-items: center;

            .price-row {
                flex: 1;
            }

            .price-separator {
                margin: 0 10px;
                font-size: 20px;
                color: var(--text-default, #1B1F24);
            }
        }
    }

    .enterprise-plan-name {
        color: var(--text-default, #1B1F24);
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: -0.4px;
        margin-bottom: 34px;
    }

    .plan-content {
        flex-grow: 1;
        border-top: 1px solid #E5E7EB;
        padding: 0px 17px 0 17px;
    }

    .feature-list {
        list-style-type: none;
        padding-left: 6px;
        padding-top: 10px;
        margin-bottom: 20px;
    }

    .feature-item {
        margin-bottom: 16px;
        position: relative;
        padding-left: 12px;
        color: var(--text-default, #1B1F24);
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;

        &:before {
            content: "•";
            position: absolute;
            left: 0;
            color: var(--text-default, #1B1F24);
            font-size: 11px;
            line-height: 20px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .add-ons {
        margin-top: 20px;
    }

    .add-ons-title {
        color: var(--text-default, #1B1F24);
        font-size: 11px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
    }

    .add-ons-list {
        padding-left: 18px;
    }

    .add-on-item {
        margin-bottom: 8px;
        color: var(--text-default, #1B1F24);
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;

        &:before {
            content: "•";
            position: absolute;
            left: 0;
            color: var(--text-default, #1B1F24);
            font-size: 11px;
            line-height: 20px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .notes {
        margin-top: 16px;
        color: var(--text-default, #1B1F24);
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }

    .plan-action {
        border-top: 1px solid #E5E7EB;
    }

    .action-button {
        width: 100%;
        height: 52px;
        padding: 4px;
        border: none;
        border-radius: 0px;

        cursor: pointer;
        transition: background-color 0.3s;

        .action-button-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            line-height: 20px;
            color: #FBFCFD;
            font-weight: 500;
            font-size: 14px;
            padding-left: 24px;
            padding-right: 24px;
        }

        &.flexible {
            background-color: #30A46C;
        }

        &.business {
            background-color: #4368E3;
        }

        &.enterprise {
            background: var(--Amber-09, #FFB224);
        }

        &:hover {
            opacity: 0.9;
        }
    }

    .current-plan {
        width: 100%;
        height: 52px;
        border: none;
        border-radius: 0px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 24px;
        color: var(--Text-medium, #2D343B);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }
}

.dark-theme {

    .compare-plans {
        background: var(--page-page-weak, #1E2226) !important;

        .plan-card.business .plan-card-wrapper {
            background: var(--Background-accent-weak, #0D183C);
        }

        .plan-name {
            background: var(--Background-surface-layer-02, #2B3036);
        }

        .flexible .plan-name {
            background-color: var(--Green-03, #0F291E) !important;
            color: var(--Green-10, #55B467);
        }

        .business .plan-name {
            background: var(--Indigo-05, #1F2C5C);
            color: var(--Text-brand, #6787E8);
        }

        .enterprise .plan-name {
            background: var(--Amber-03, #341C00);
            color: var(--amber-10, var(--Amber-10, #FFCB47));
        }

        .current-plan {
            color: var(--Text-medium, #CFD3D8);
        }

        .slider {
            &:before {
                background-color: var(--Controls-slide-handle, #121518) !important;
            }
        }
    }

    .compare-plans,
    .plans-grid,
    .plan-card,
    .plan-name,
    .plan-action,
    .plan-content {
        border-color: var(--border-weak, #2B3036);
    }
}