{
   "openapi":"3.1.0",
   "info":{
      "title":"AfterShip Shipping API",
      "version":"3.0.0",
      "description":"AfterShip Shipping API for managing shipments, labels, rates, and more",
      "contact":{
         "name":"AfterShip Support",
         "url":"https://www.aftership.com/contact-us",
         "email":"support@aftership.com"
      }
   },
   "servers":[
      {
         "url":"https://api.aftership.com/postmen/v3",
         "description":"Production"
      },
      {
         "url":"https://sandbox-api.aftership.com/postmen/v3",
         "description":"Sandbox"
      }
   ],
   "security":[
      {
         "apiKey":[
            
         ]
      }
   ],
   "paths":{
      "/labels":{
         "get":{
            "summary":"Get labels",
            "description":"Get labels",
            "operationId":"get-labels",
            "tags":[
               "Labels"
            ],
            "parameters":[
               {
                  "name":"shipper_account_id",
                  "in":"query",
                  "description":"Shipper account ID",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"status",
                  "in":"query",
                  "description":"Label status",
                  "schema":{
                     "type":"string",
                     "enum":[
                        "creating",
                        "created",
                        "cancelling",
                        "cancelled",
                        "manifesting",
                        "manifested",
                        "failed"
                     ]
                  }
               },
               {
                  "name":"limit",
                  "in":"query",
                  "description":"Number of records per page",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"created_at_min",
                  "in":"query",
                  "description":"Start date and time of the record created",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"created_at_max",
                  "in":"query",
                  "description":"End date and time of the record created",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"s",
                  "in":"query",
                  "description":"Partial search of tracking_number or reference",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"next_token",
                  "in":"query",
                  "description":"Next token",
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Successful response",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "type":"object",
                                 "properties":{
                                    "next_token":{
                                       "type":"string"
                                    },
                                    "limit":{
                                       "type":"integer"
                                    },
                                    "created_at_min":{
                                       "type":"string"
                                    },
                                    "created_at_max":{
                                       "type":"string"
                                    },
                                    "labels":{
                                       "type":"array",
                                       "items":{
                                          "$ref":"#/components/schemas/Label"
                                       }
                                    }
                                 }
                              }
                           }
                        }
                     }
                  }
               }
            }
         },
         "post":{
            "summary":"Create a label",
            "description":"Create a label",
            "operationId":"post-labels",
            "tags":[
               "Labels"
            ],
            "requestBody":{
               "required":true,
               "content":{
                  "application/json":{
                     "schema":{
                        "type":"object",
                        "properties":{
                           "billing":{
                              "$ref":"#/components/schemas/Billing"
                           },
                           "customs":{
                              "$ref":"#/components/schemas/Customs"
                           },
                           "return_shipment":{
                              "type":"boolean",
                              "description":"Set to false if not provided"
                           },
                           "is_document":{
                              "type":"boolean",
                              "description":"If the shipment is document type"
                           },
                           "service_type":{
                              "type":"string"
                           },
                           "paper_size":{
                              "type":"string"
                           },
                           "shipper_account":{
                              "type":"object",
                              "properties":{
                                 "id":{
                                    "type":"string"
                                 }
                              }
                           },
                           "references":{
                              "type":"array",
                              "items":{
                                 "type":"string"
                              }
                           },
                           "shipment":{
                              "$ref":"#/components/schemas/Shipment"
                           },
                           "invoice":{
                              "$ref":"#/components/schemas/Invoice"
                           },
                           "service_options":{
                              "type":"array",
                              "description":"Service options array",
                              "items":{
                                 "type":"object"
                              }
                           },
                           "file_type":{
                              "type":"string",
                              "enum":[
                                 "pdf",
                                 "zpl"
                              ]
                           },
                           "ship_date":{
                              "type":"string",
                              "description":"Ship Date in YYYY-MM-DD"
                           },
                           "order_number":{
                              "type":"string",
                              "description":"User-defined order number"
                           },
                           "order_id":{
                              "type":"string",
                              "description":"Unique identification of the order"
                           },
                           "custom_fields":{
                              "type":"object",
                              "description":"Custom fields with string values"
                           },
                           "files":{
                              "$ref":"#/components/schemas/InputFiles"
                           },
                           "print_options":{
                              "type":"object",
                              "properties":{
                                 "qr_code":{
                                    "type":"object",
                                    "properties":{
                                       "enabled":{
                                          "type":"boolean"
                                       }
                                    }
                                 }
                              }
                           }
                        }
                     }
                  }
               }
            },
            "responses":{
               "200":{
                  "description":"Label created successfully",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "$ref":"#/components/schemas/Label"
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "/labels/{id}":{
         "get":{
            "summary":"Get a label",
            "description":"Get a label by ID",
            "operationId":"get-label",
            "tags":[
               "Labels"
            ],
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "required":true,
                  "description":"Label id",
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Label details",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "$ref":"#/components/schemas/Label"
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "/cancel-labels":{
         "get":{
            "summary":"Get the cancelled labels",
            "description":"Get all the cancelled labels",
            "operationId":"get-cancel-labels",
            "tags":[
               "Cancel Labels"
            ],
            "parameters":[
               {
                  "name":"shipper_account_id",
                  "in":"query",
                  "description":"Shipper account ID",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"status",
                  "in":"query",
                  "description":"Cancel Label status",
                  "schema":{
                     "type":"string",
                     "enum":[
                        "cancelling",
                        "cancelled",
                        "failed"
                     ]
                  }
               },
               {
                  "name":"limit",
                  "in":"query",
                  "description":"Number of records per page",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"created_at_min",
                  "in":"query",
                  "description":"Start date and time of the record created",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"created_at_max",
                  "in":"query",
                  "description":"End date and time of the record created",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"next_token",
                  "in":"query",
                  "description":"Next token",
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Cancelled labels list",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "type":"object",
                                 "properties":{
                                    "next_token":{
                                       "type":"string"
                                    },
                                    "limit":{
                                       "type":"integer"
                                    },
                                    "created_at_min":{
                                       "type":"string"
                                    },
                                    "created_at_max":{
                                       "type":"string"
                                    },
                                    "cancel_labels":{
                                       "type":"array",
                                       "items":{
                                          "$ref":"#/components/schemas/CancelLabel"
                                       }
                                    }
                                 }
                              }
                           }
                        }
                     }
                  }
               }
            }
         },
         "post":{
            "summary":"Cancel a label",
            "description":"Cancel a label",
            "operationId":"post-cancel-labels",
            "tags":[
               "Cancel Labels"
            ],
            "requestBody":{
               "required":true,
               "content":{
                  "application/json":{
                     "schema":{
                        "type":"object",
                        "properties":{
                           "label":{
                              "type":"object",
                              "properties":{
                                 "id":{
                                    "type":"string"
                                 }
                              }
                           }
                        }
                     }
                  }
               }
            },
            "responses":{
               "200":{
                  "description":"Label cancelled successfully",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "type":"object",
                                 "properties":{
                                    "id":{
                                       "type":"string"
                                    },
                                    "status":{
                                       "type":"string",
                                       "enum":[
                                          "cancelling",
                                          "cancelled",
                                          "failed"
                                       ]
                                    },
                                    "refund_status":{
                                       "type":"string"
                                    },
                                    "label":{
                                       "type":"object",
                                       "properties":{
                                          "id":{
                                             "type":"string"
                                          }
                                       }
                                    },
                                    "created_at":{
                                       "type":"string"
                                    },
                                    "updated_at":{
                                       "type":"string"
                                    }
                                 }
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "/cancel-labels/{id}":{
         "get":{
            "summary":"Get a cancelled label",
            "description":"Get a cancelled label by ID",
            "operationId":"get-cancel-label",
            "tags":[
               "Cancel Labels"
            ],
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "required":true,
                  "description":"Cancel label id",
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Cancelled label details",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "$ref":"#/components/schemas/CancelLabel"
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "/rates":{
         "get":{
            "summary":"Get rates",
            "description":"Get rates",
            "operationId":"get-rates",
            "tags":[
               "Rates"
            ],
            "parameters":[
               {
                  "name":"status",
                  "in":"query",
                  "description":"Rate status",
                  "schema":{
                     "type":"string",
                     "enum":[
                        "calculating",
                        "calculated",
                        "failed"
                     ]
                  }
               },
               {
                  "name":"limit",
                  "in":"query",
                  "description":"Number of records per page",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"created_at_min",
                  "in":"query",
                  "description":"Start date and time of the record created",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"created_at_max",
                  "in":"query",
                  "description":"End date and time of the record created",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"next_token",
                  "in":"query",
                  "description":"Next token",
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Rates list",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "type":"object",
                                 "properties":{
                                    "next_token":{
                                       "type":"string"
                                    },
                                    "limit":{
                                       "type":"integer"
                                    },
                                    "created_at_min":{
                                       "type":"string"
                                    },
                                    "created_at_max":{
                                       "type":"string"
                                    },
                                    "rates":{
                                       "type":"array",
                                       "items":{
                                          "$ref":"#/components/schemas/RateRecord"
                                       }
                                    }
                                 }
                              }
                           }
                        }
                     }
                  }
               }
            }
         },
         "post":{
            "summary":"Calculate rates",
            "description":"Calculate rates",
            "operationId":"post-rates",
            "tags":[
               "Rates"
            ],
            "requestBody":{
               "required":true,
               "content":{
                  "application/json":{
                     "schema":{
                        "type":"object",
                        "properties":{
                           "async":{
                              "type":"boolean",
                              "description":"Enable async mode or not"
                           },
                           "is_document":{
                              "type":"boolean",
                              "description":"If the shipment is document type"
                           },
                           "ship_date":{
                              "type":"string",
                              "description":"Ship Date in YYYY-MM-DD"
                           },
                           "shipper_accounts":{
                              "type":"array",
                              "items":{
                                 "type":"object",
                                 "properties":{
                                    "id":{
                                       "type":"string"
                                    }
                                 }
                              }
                           },
                           "shipment":{
                              "$ref":"#/components/schemas/Shipment"
                           },
                           "expected_delivery_date":{
                              "type":"string",
                              "description":"Expected Delivery Date in YYYY-MM-DD"
                           }
                        }
                     }
                  }
               }
            },
            "responses":{
               "200":{
                  "description":"Calculated rates",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "$ref":"#/components/schemas/RateRecord"
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "/rates/{id}":{
         "get":{
            "summary":"Get a rate",
            "description":"Get rate",
            "operationId":"get-rate",
            "tags":[
               "Rates"
            ],
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "required":true,
                  "description":"Rate id",
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Rate details",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "$ref":"#/components/schemas/RateRecord"
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "/manifests":{
         "get":{
            "summary":"Get manifests",
            "description":"Get manifests",
            "operationId":"get-manifests",
            "tags":[
               "Manifests"
            ],
            "parameters":[
               {
                  "name":"shipper_account_id",
                  "in":"query",
                  "description":"Shipper account ID",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"status",
                  "in":"query",
                  "description":"Manifest status",
                  "schema":{
                     "type":"string",
                     "enum":[
                        "manifested",
                        "manifesting",
                        "failed"
                     ]
                  }
               },
               {
                  "name":"limit",
                  "in":"query",
                  "description":"Number of records per page",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"created_at_min",
                  "in":"query",
                  "description":"Start date and time of the record created",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"created_at_max",
                  "in":"query",
                  "description":"End date and time of the record created",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"next_token",
                  "in":"query",
                  "description":"Next token",
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Manifests list",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "type":"object",
                                 "properties":{
                                    "next_token":{
                                       "type":"string"
                                    },
                                    "limit":{
                                       "type":"integer"
                                    },
                                    "created_at_min":{
                                       "type":"string"
                                    },
                                    "created_at_max":{
                                       "type":"string"
                                    },
                                    "manifests":{
                                       "type":"array",
                                       "items":{
                                          "$ref":"#/components/schemas/Manifest"
                                       }
                                    }
                                 }
                              }
                           }
                        }
                     }
                  }
               }
            }
         },
         "post":{
            "summary":"Create a manifest",
            "description":"Create a manifest",
            "operationId":"post-manifests",
            "tags":[
               "Manifests"
            ],
            "requestBody":{
               "required":true,
               "content":{
                  "application/json":{
                     "schema":{
                        "type":"object",
                        "properties":{
                           "shipper_account":{
                              "type":"object",
                              "properties":{
                                 "id":{
                                    "type":"string"
                                 }
                              }
                           },
                           "label_ids":{
                              "type":"array",
                              "items":{
                                 "type":"string"
                              }
                           }
                        }
                     }
                  }
               }
            },
            "responses":{
               "200":{
                  "description":"Manifest created successfully",
                  "content":{
                     "application/json":{
                        "schema":{
                           "$ref":"#/components/schemas/Manifest"
                        }
                     }
                  }
               }
            }
         }
      },
      "/manifests/{id}":{
         "get":{
            "summary":"Get a manifest",
            "description":"Get a manifest",
            "operationId":"get-manifest",
            "tags":[
               "Manifests"
            ],
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "required":true,
                  "description":"Manifest id",
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Manifest details",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "$ref":"#/components/schemas/Manifest"
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "/couriers":{
         "get":{
            "summary":"Get all couriers",
            "description":"Get all couriers",
            "operationId":"get-couriers",
            "tags":[
               "Couriers"
            ],
            "responses":{
               "200":{
                  "description":"Couriers list",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "type":"object",
                                 "properties":{
                                    "couriers":{
                                       "type":"array",
                                       "items":{
                                          "$ref":"#/components/schemas/Courier"
                                       }
                                    }
                                 }
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "/address-validations":{
         "post":{
            "summary":"Create an address validation",
            "description":"Create an address validation. We are excited to announce a new API capability that is now available for use.",
            "operationId":"post-address-validations",
            "tags":[
               "Address Validations"
            ],
            "requestBody":{
               "required":true,
               "content":{
                  "application/json":{
                     "schema":{
                        "type":"object",
                        "properties":{
                           "address":{
                              "$ref":"#/components/schemas/Address"
                           }
                        }
                     }
                  }
               }
            },
            "responses":{
               "200":{
                  "description":"Address validation result",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "$ref":"#/components/schemas/AddressValidation"
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "/locations":{
         "get":{
            "summary":"Get locations",
            "description":"Get carrier locations. To ensure optimal testing and integration, use the production environment. Contact sales to activate this feature.",
            "operationId":"get-locations",
            "tags":[
               "Locations"
            ],
            "parameters":[
               {
                  "name":"slug",
                  "in":"query",
                  "required":true,
                  "description":"Courier slug",
                  "schema":{
                     "type":"string",
                     "enum":[
                        "ups",
                        "evri",
                        "fedex",
                        "usps",
                        "yodel",
                        "gls"
                     ]
                  }
               },
               {
                  "name":"street",
                  "in":"query",
                  "description":"Address line of address",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"postal_code",
                  "in":"query",
                  "description":"Postal code of address",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"city",
                  "in":"query",
                  "description":"City of address",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"state",
                  "in":"query",
                  "description":"State of address",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"country",
                  "in":"query",
                  "required":true,
                  "description":"Country in ISO 3166-1 alpha 3 code",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"count",
                  "in":"query",
                  "description":"Number of search result",
                  "schema":{
                     "type":"number",
                     "default":5,
                     "minimum":1,
                     "maximum":50
                  }
               },
               {
                  "name":"distance",
                  "in":"query",
                  "description":"Radius in kilometres for search boundaries",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"distance_unit",
                  "in":"query",
                  "schema":{
                     "type":"string",
                     "enum":[
                        "km",
                        "mi"
                     ],
                     "default":"km"
                  }
               },
               {
                  "name":"filters",
                  "in":"query",
                  "description":"Filters to filter out locations based on conditions",
                  "schema":{
                     "type":"array",
                     "items":{
                        "type":"string"
                     }
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Locations list",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "type":"object",
                                 "properties":{
                                    "locations":{
                                       "type":"array",
                                       "items":{
                                          "$ref":"#/components/schemas/Location"
                                       }
                                    },
                                    "drop_off_link":{
                                       "type":"string",
                                       "nullable":true,
                                       "description":"Drop off link of the carrier"
                                    }
                                 }
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "/pickups":{
         "get":{
            "summary":"Get pickups",
            "description":"Get pickups",
            "operationId":"get-pickups",
            "tags":[
               "Pickups"
            ],
            "parameters":[
               {
                  "name":"status",
                  "in":"query",
                  "description":"Pickup status",
                  "schema":{
                     "type":"string",
                     "enum":[
                        "creating",
                        "created",
                        "failed",
                        "cancelling",
                        "cancelled"
                     ]
                  }
               },
               {
                  "name":"limit",
                  "in":"query",
                  "description":"Number of records per page",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"created_at_min",
                  "in":"query",
                  "description":"Start date and time of the record created",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"created_at_max",
                  "in":"query",
                  "description":"End date and time of the record created",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"next_token",
                  "in":"query",
                  "description":"Next token for pagination",
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Pickups list",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "type":"object",
                                 "properties":{
                                    "next_token":{
                                       "type":"string"
                                    },
                                    "limit":{
                                       "type":"integer"
                                    },
                                    "created_at_min":{
                                       "type":"string"
                                    },
                                    "created_at_max":{
                                       "type":"string"
                                    },
                                    "pickups":{
                                       "type":"array",
                                       "items":{
                                          "$ref":"#/components/schemas/Pickup"
                                       }
                                    }
                                 }
                              }
                           }
                        }
                     }
                  }
               }
            }
         },
         "post":{
            "summary":"Create a pickup",
            "description":"Create a pickup. Applicable for FedEx, UPS, DHL Express, Purolator",
            "operationId":"post-pickups",
            "tags":[
               "Pickups"
            ],
            "requestBody":{
               "required":true,
               "content":{
                  "application/json":{
                     "schema":{
                        "type":"object",
                        "required":[
                           "pickup_start_time",
                           "pickup_end_time",
                           "pickup_from"
                        ],
                        "properties":{
                           "pickup_date":{
                              "type":"string",
                              "description":"Pickup Date in YYYY-MM-DD format"
                           },
                           "pickup_start_time":{
                              "type":"string",
                              "description":"Preferred start time for pickup in HH:mm:ss"
                           },
                           "pickup_end_time":{
                              "type":"string",
                              "description":"Preferred end time for pickup in HH:mm:ss"
                           },
                           "pickup_from":{
                              "$ref":"#/components/schemas/Address"
                           },
                           "ship_to":{
                              "$ref":"#/components/schemas/Address"
                           },
                           "label_ids":{
                              "type":"array",
                              "description":"IDs of labels that need to be picked up",
                              "maxItems":2000,
                              "items":{
                                 "type":"string"
                              }
                           },
                           "pickup_parcels":{
                              "type":"array",
                              "description":"Parcel details for pickup",
                              "items":{
                                 "$ref":"#/components/schemas/PickupParcel"
                              }
                           },
                           "shipper_account":{
                              "$ref":"#/components/schemas/Reference"
                           },
                           "pickup_location":{
                              "type":"string",
                              "description":"Shipments location provided by carrier"
                           },
                           "pickup_instructions":{
                              "type":"string",
                              "description":"Instructions for the pickup",
                              "maxLength":255
                           }
                        }
                     }
                  }
               }
            },
            "responses":{
               "200":{
                  "description":"Pickup created successfully",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "$ref":"#/components/schemas/Pickup"
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "/pickups/{id}":{
         "get":{
            "summary":"Get a pickup",
            "description":"Get a pickup",
            "operationId":"get-pickup",
            "tags":[
               "Pickups"
            ],
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "required":true,
                  "description":"Pickup id",
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Pickup details",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "$ref":"#/components/schemas/Pickup"
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "/cancel-pickups":{
         "get":{
            "summary":"Get the cancelled pickups",
            "description":"Get all the cancelled pickups",
            "operationId":"get-cancel-pickups",
            "tags":[
               "Cancel Pickups"
            ],
            "parameters":[
               {
                  "name":"status",
                  "in":"query",
                  "description":"Cancel Pickups status",
                  "schema":{
                     "type":"string",
                     "enum":[
                        "cancelling",
                        "cancelled",
                        "failed"
                     ]
                  }
               },
               {
                  "name":"limit",
                  "in":"query",
                  "description":"Number of records per page",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"created_at_min",
                  "in":"query",
                  "description":"Start date and time of the record created",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"created_at_max",
                  "in":"query",
                  "description":"End date and time of the record created",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"next_token",
                  "in":"query",
                  "description":"Next token",
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Cancelled pickups list",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "type":"object",
                                 "properties":{
                                    "next_token":{
                                       "type":"string"
                                    },
                                    "limit":{
                                       "type":"integer"
                                    },
                                    "created_at_min":{
                                       "type":"string"
                                    },
                                    "created_at_max":{
                                       "type":"string"
                                    },
                                    "cancel_pickups":{
                                       "type":"array",
                                       "items":{
                                          "$ref":"#/components/schemas/CancelPickup"
                                       }
                                    }
                                 }
                              }
                           }
                        }
                     }
                  }
               }
            }
         },
         "post":{
            "summary":"Cancel a pickup",
            "description":"Cancel a pickup",
            "operationId":"post-cancel-pickups",
            "tags":[
               "Cancel Pickups"
            ],
            "requestBody":{
               "required":true,
               "content":{
                  "application/json":{
                     "schema":{
                        "type":"object",
                        "required":[
                           "pickup"
                        ],
                        "properties":{
                           "pickup":{
                              "type":"object",
                              "properties":{
                                 "id":{
                                    "type":"string"
                                 }
                              }
                           }
                        }
                     }
                  }
               }
            },
            "responses":{
               "200":{
                  "description":"Pickup cancelled successfully",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "type":"object",
                                 "properties":{
                                    "id":{
                                       "type":"string"
                                    },
                                    "status":{
                                       "type":"string",
                                       "enum":[
                                          "cancelling",
                                          "cancelled",
                                          "failed"
                                       ]
                                    },
                                    "pickup":{
                                       "type":"object",
                                       "properties":{
                                          "id":{
                                             "type":"string"
                                          }
                                       }
                                    },
                                    "created_at":{
                                       "type":"string"
                                    },
                                    "updated_at":{
                                       "type":"string"
                                    }
                                 }
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "/cancel-pickups/{id}":{
         "get":{
            "summary":"Get a cancelled pickup",
            "description":"Get a cancelled pickup",
            "operationId":"get-cancel-pickup",
            "tags":[
               "Cancel Pickups"
            ],
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "required":true,
                  "description":"Cancel pickup id",
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Cancelled pickup details",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "$ref":"#/components/schemas/CancelPickup"
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "/shipper-accounts":{
         "get":{
            "summary":"Get shipper accounts",
            "description":"Retrieve a list of shipper accounts associated with your profile",
            "operationId":"get-shipper-accounts",
            "tags":[
               "Shipper Accounts"
            ],
            "parameters":[
               {
                  "name":"slug",
                  "in":"query",
                  "description":"Courier slug",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"limit",
                  "in":"query",
                  "description":"Number of records per page",
                  "schema":{
                     "type":"string"
                  }
               },
               {
                  "name":"next_token",
                  "in":"query",
                  "description":"Next token",
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Shipper accounts list",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "type":"object",
                                 "properties":{
                                    "next_token":{
                                       "type":"string"
                                    },
                                    "limit":{
                                       "type":"integer"
                                    },
                                    "shipper_accounts":{
                                       "type":"array",
                                       "items":{
                                          "$ref":"#/components/schemas/ShipperAccount"
                                       }
                                    }
                                 }
                              }
                           }
                        }
                     }
                  }
               }
            }
         },
         "post":{
            "summary":"Create a shipper account",
            "description":"Create your shipper account via API",
            "operationId":"post-shipper-accounts",
            "tags":[
               "Shipper Accounts"
            ],
            "requestBody":{
               "required":true,
               "content":{
                  "application/json":{
                     "schema":{
                        "type":"object",
                        "properties":{
                           "slug":{
                              "type":"string"
                           },
                           "description":{
                              "type":"string"
                           },
                           "timezone":{
                              "type":"string"
                           },
                           "credentials":{
                              "type":"object",
                              "description":"Credentials object varies by carrier"
                           },
                           "address":{
                              "$ref":"#/components/schemas/Address"
                           },
                           "settings":{
                              "type":"object",
                              "description":"Additional settings (FedEx only)",
                              "properties":{
                                 "commercial_invoice_letterhead":{
                                    "type":"string",
                                    "description":"Letterhead image for commercial invoice"
                                 },
                                 "commercial_invoice_signature":{
                                    "type":"string",
                                    "description":"Signature image for commercial invoice"
                                 }
                              }
                           }
                        }
                     }
                  }
               }
            },
            "responses":{
               "200":{
                  "description":"Shipper account created successfully",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "$ref":"#/components/schemas/ShipperAccount"
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "/shipper-accounts/{id}":{
         "get":{
            "summary":"Get a shipper account",
            "description":"Get specific shipper account details by ID",
            "operationId":"get-shipper-account",
            "tags":[
               "Shipper Accounts"
            ],
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "required":true,
                  "description":"Shipper account id",
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Shipper account details",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "$ref":"#/components/schemas/ShipperAccount"
                              }
                           }
                        }
                     }
                  }
               }
            }
         },
         "delete":{
            "summary":"Delete a shipper account",
            "description":"Delete a shipper account",
            "operationId":"delete-shipper-account",
            "tags":[
               "Shipper Accounts"
            ],
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "required":true,
                  "description":"Shipper account id",
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"Shipper account deleted successfully",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "type":"object",
                                 "properties":{
                                    "id":{
                                       "type":"string"
                                    }
                                 }
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "/shipper-accounts/{id}/info":{
         "put":{
            "summary":"Update a shipper account's information",
            "description":"Update account information including address, description, and timezone",
            "operationId":"put-shipper-account-info",
            "tags":[
               "Shipper Accounts"
            ],
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "required":true,
                  "description":"Shipper account id",
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "requestBody":{
               "required":true,
               "content":{
                  "application/json":{
                     "schema":{
                        "type":"object",
                        "properties":{
                           "description":{
                              "type":"string"
                           },
                           "timezone":{
                              "type":"string"
                           },
                           "address":{
                              "$ref":"#/components/schemas/Address"
                           }
                        }
                     }
                  }
               }
            },
            "responses":{
               "200":{
                  "description":"Shipper account updated successfully",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "$ref":"#/components/schemas/ShipperAccount"
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "/shipper-accounts/{id}/credentials":{
         "put":{
            "summary":"Update a shipper account's credentials",
            "description":"Update credentials for specific shipper account",
            "operationId":"put-shipper-account-credentials",
            "tags":[
               "Shipper Accounts"
            ],
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "required":true,
                  "description":"Shipper account id",
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "requestBody":{
               "required":true,
               "content":{
                  "application/json":{
                     "schema":{
                        "type":"object",
                        "properties":{
                           "account_number":{
                              "type":"string",
                              "description":"Account number"
                           },
                           "password":{
                              "type":"string",
                              "description":"Password"
                           },
                           "site_id":{
                              "type":"string",
                              "description":"Site ID"
                           }
                        }
                     }
                  }
               }
            },
            "responses":{
               "200":{
                  "description":"Credentials updated successfully",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "$ref":"#/components/schemas/ShipperAccount"
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      },
      "/shipper-accounts/{id}/settings":{
         "put":{
            "summary":"Update a shipper account's settings",
            "description":"Update settings for specific shipper account (FedEx only)",
            "operationId":"put-shipper-account-settings",
            "tags":[
               "Shipper Accounts"
            ],
            "parameters":[
               {
                  "name":"id",
                  "in":"path",
                  "required":true,
                  "description":"Shipper account id",
                  "schema":{
                     "type":"string"
                  }
               }
            ],
            "requestBody":{
               "required":true,
               "content":{
                  "application/json":{
                     "schema":{
                        "type":"object",
                        "properties":{
                           "commercial_invoice_letterhead":{
                              "type":"string",
                              "description":"Letterhead image for commercial invoice"
                           },
                           "commercial_invoice_signature":{
                              "type":"string",
                              "description":"Signature image for commercial invoice"
                           }
                        }
                     }
                  }
               }
            },
            "responses":{
               "200":{
                  "description":"Settings updated successfully",
                  "content":{
                     "application/json":{
                        "schema":{
                           "type":"object",
                           "properties":{
                              "meta":{
                                 "$ref":"#/components/schemas/Meta"
                              },
                              "data":{
                                 "type":"object",
                                 "properties":{
                                    "commercial_invoice_signature":{
                                       "type":"string"
                                    },
                                    "commercial_invoice_letterhead":{
                                       "type":"string"
                                    }
                                 }
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   },
   "components":{
      "securitySchemes":{
         "apiKey":{
            "type":"apiKey",
            "in":"header",
            "name":"as-api-key"
         }
      },
      "schemas":{
         "Meta":{
            "type":"object",
            "properties":{
               "code":{
                  "type":"integer"
               },
               "message":{
                  "type":"string"
               },
               "details":{
                  "type":"array",
                  "items":{
                     "type":"object",
                     "properties":{
                        "path":{
                           "type":"string"
                        },
                        "info":{
                           "type":"string"
                        }
                     }
                  }
               },
               "retryable":{
                  "type":"boolean"
               }
            },
            "required":[
               "code",
               "message"
            ]
         },
         "Address":{
            "type":"object",
            "required":[
               "street1",
               "country",
               "contact_name"
            ],
            "properties":{
               "street1":{
                  "type":"string"
               },
               "street2":{
                  "type":"string",
                  "nullable":true
               },
               "street3":{
                  "type":"string",
                  "nullable":true
               },
               "city":{
                  "type":"string",
                  "nullable":true
               },
               "state":{
                  "type":"string",
                  "nullable":true
               },
               "postal_code":{
                  "type":"string",
                  "nullable":true
               },
               "country":{
                  "type":"string"
               },
               "contact_name":{
                  "type":"string"
               },
               "company_name":{
                  "type":"string",
                  "nullable":true
               },
               "phone":{
                  "type":"string"
               },
               "email":{
                  "type":"string",
                  "nullable":true
               },
               "type":{
                  "type":"string",
                  "enum":[
                     "residential",
                     "business"
                  ],
                  "nullable":true
               },
               "tax_id":{
                  "type":"string",
                  "nullable":true
               }
            }
         },
         "Label":{
            "type":"object",
            "properties":{
               "id":{
                  "type":"string"
               },
               "status":{
                  "type":"string",
                  "enum":[
                     "creating",
                     "created",
                     "cancelling",
                     "cancelled",
                     "manifesting",
                     "manifested",
                     "failed"
                  ]
               },
               "ship_date":{
                  "type":"string"
               },
               "tracking_numbers":{
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               },
               "files":{
                  "$ref":"#/components/schemas/Files"
               },
               "rate":{
                  "$ref":"#/components/schemas/Rate"
               },
               "created_at":{
                  "type":"string"
               },
               "updated_at":{
                  "type":"string"
               }
            }
         },
         "Files":{
            "type":"object",
            "properties":{
               "label":{
                  "type":"object",
                  "nullable":true,
                  "properties":{
                     "paper_size":{
                        "type":"string"
                     },
                     "url":{
                        "type":"string"
                     },
                     "file_type":{
                        "type":"string"
                     }
                  }
               },
               "invoice":{
                  "type":"object",
                  "nullable":true,
                  "properties":{
                     "paper_size":{
                        "type":"string"
                     },
                     "url":{
                        "type":"string"
                     },
                     "file_type":{
                        "type":"string"
                     }
                  }
               }
            }
         },
         "Rate":{
            "type":"object",
            "properties":{
               "charge_weight":{
                  "$ref":"#/components/schemas/Weight"
               },
               "total_charge":{
                  "$ref":"#/components/schemas/Money"
               },
               "service_type":{
                  "type":"string"
               },
               "service_name":{
                  "type":"string"
               }
            }
         },
         "Weight":{
            "type":"object",
            "properties":{
               "unit":{
                  "type":"string",
                  "enum":[
                     "lb",
                     "kg",
                     "oz",
                     "g"
                  ]
               },
               "value":{
                  "type":"number"
               }
            },
            "required":[
               "unit",
               "value"
            ]
         },
         "Money":{
            "type":"object",
            "properties":{
               "currency":{
                  "type":"string"
               },
               "amount":{
                  "type":"number"
               }
            }
         },
         "Shipment":{
            "type":"object",
            "required":[
               "ship_from",
               "ship_to",
               "parcels"
            ],
            "properties":{
               "ship_from":{
                  "$ref":"#/components/schemas/Address"
               },
               "ship_to":{
                  "$ref":"#/components/schemas/Address"
               },
               "parcels":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Parcel"
                  }
               }
            }
         },
         "Parcel":{
            "type":"object",
            "properties":{
               "box_type":{
                  "type":"string"
               },
               "weight":{
                  "$ref":"#/components/schemas/Weight"
               },
               "dimension":{
                  "$ref":"#/components/schemas/Dimension"
               },
               "description":{
                  "type":"string"
               },
               "items":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Item"
                  }
               }
            }
         },
         "Dimension":{
            "type":"object",
            "properties":{
               "width":{
                  "type":"number"
               },
               "height":{
                  "type":"number"
               },
               "depth":{
                  "type":"number"
               },
               "unit":{
                  "type":"string",
                  "enum":[
                     "cm",
                     "in",
                     "mm",
                     "m",
                     "ft",
                     "yd"
                  ]
               }
            },
            "required":[
               "width",
               "height",
               "depth",
               "unit"
            ]
         },
         "Item":{
            "type":"object",
            "required":[
               "quantity",
               "description"
            ],
            "properties":{
               "quantity":{
                  "type":"integer"
               },
               "description":{
                  "type":"string"
               },
               "price":{
                  "$ref":"#/components/schemas/Money"
               },
               "weight":{
                  "$ref":"#/components/schemas/Weight"
               },
               "origin_country":{
                  "type":"string"
               }
            }
         },
         "Billing":{
            "type":"object",
            "properties":{
               "paid_by":{
                  "type":"string",
                  "enum":[
                     "shipper",
                     "third_party",
                     "recipient"
                  ]
               }
            }
         },
         "Customs":{
            "type":"object",
            "required":[
               "purpose"
            ],
            "properties":{
               "purpose":{
                  "type":"string",
                  "enum":[
                     "gift",
                     "merchandise",
                     "personal",
                     "sample",
                     "return",
                     "repair",
                     "non-merchandise"
                  ]
               },
               "terms_of_trade":{
                  "type":"string",
                  "enum":[
                     "dat",
                     "ddu",
                     "ddp",
                     "dap",
                     "exw",
                     "fca",
                     "fob",
                     "cip",
                     "cif",
                     "cpt",
                     "cfr",
                     "dpu"
                  ]
               }
            }
         },
         "Invoice":{
            "type":"object",
            "required":[
               "date"
            ],
            "properties":{
               "date":{
                  "type":"string"
               },
               "number":{
                  "type":"string"
               },
               "type":{
                  "type":"string",
                  "enum":[
                     "commercial",
                     "proforma"
                  ]
               }
            }
         },
         "InputFiles":{
            "type":"object",
            "properties":{
               "certificate_of_origin":{
                  "type":"object",
                  "properties":{
                     "content":{
                        "type":"string"
                     }
                  }
               },
               "commercial_invoice":{
                  "type":"object",
                  "properties":{
                     "content":{
                        "type":"string"
                     }
                  }
               },
               "customs_declaration":{
                  "type":"object",
                  "properties":{
                     "content":{
                        "type":"string"
                     }
                  }
               }
            }
         },
         "CancelLabel":{
            "type":"object",
            "properties":{
               "id":{
                  "type":"string"
               },
               "status":{
                  "type":"string",
                  "enum":[
                     "cancelling",
                     "cancelled",
                     "failed"
                  ]
               },
               "label":{
                  "$ref":"#/components/schemas/Reference"
               },
               "created_at":{
                  "type":"string"
               },
               "updated_at":{
                  "type":"string"
               }
            }
         },
         "Reference":{
            "type":"object",
            "properties":{
               "id":{
                  "type":"string"
               }
            }
         },
         "RateRecord":{
            "type":"object",
            "properties":{
               "id":{
                  "type":"string"
               },
               "status":{
                  "type":"string",
                  "enum":[
                     "calculating",
                     "calculated",
                     "failed"
                  ]
               },
               "created_at":{
                  "type":"string"
               },
               "updated_at":{
                  "type":"string"
               },
               "rates":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/Rate"
                  }
               }
            }
         },
         "Manifest":{
            "type":"object",
            "properties":{
               "id":{
                  "type":"string"
               },
               "status":{
                  "type":"string"
               },
               "labels":{
                  "type":"array",
                  "items":{
                     "type":"object",
                     "properties":{
                        "id":{
                           "type":"string"
                        },
                        "manifested":{
                           "type":"boolean"
                        }
                     }
                  }
               },
               "files":{
                  "$ref":"#/components/schemas/Files"
               },
               "created_at":{
                  "type":"string"
               },
               "updated_at":{
                  "type":"string"
               }
            }
         },
         "Courier":{
            "type":"object",
            "properties":{
               "slug":{
                  "type":"string"
               },
               "name":{
                  "type":"string"
               },
               "operations":{
                  "type":"object"
               },
               "courier_service_types":{
                  "type":"array",
                  "items":{
                     "type":"object"
                  }
               }
            }
         },
         "AddressValidation":{
            "type":"object",
            "properties":{
               "id":{
                  "type":"string"
               },
               "status":{
                  "type":"string",
                  "enum":[
                     "valid",
                     "invalid"
                  ]
               },
               "created_at":{
                  "type":"string"
               },
               "updated_at":{
                  "type":"string"
               },
               "address":{
                  "$ref":"#/components/schemas/Address"
               },
               "recommended_address":{
                  "$ref":"#/components/schemas/Address"
               }
            }
         },
         "Location":{
            "type":"object",
            "properties":{
               "location_id":{
                  "type":"string"
               },
               "name":{
                  "type":"string"
               },
               "distance":{
                  "type":"number"
               },
               "distance_unit":{
                  "type":"string",
                  "enum":[
                     "km",
                     "mi"
                  ]
               },
               "phone":{
                  "type":"string",
                  "nullable":true
               },
               "services":{
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               },
               "address":{
                  "type":"object",
                  "properties":{
                     "street":{
                        "type":"string",
                        "nullable":true
                     },
                     "postal_code":{
                        "type":"string",
                        "nullable":true
                     },
                     "city":{
                        "type":"string",
                        "nullable":true
                     },
                     "state":{
                        "type":"string",
                        "nullable":true
                     },
                     "country":{
                        "type":"string"
                     },
                     "latitude":{
                        "type":"number",
                        "nullable":true
                     },
                     "longitude":{
                        "type":"number",
                        "nullable":true
                     }
                  }
               },
               "business_hours":{
                  "type":"array",
                  "items":{
                     "type":"object",
                     "properties":{
                        "day_of_week":{
                           "type":"string",
                           "enum":[
                              "Mon",
                              "Tue",
                              "Wed",
                              "Thu",
                              "Fri",
                              "Sat",
                              "Sun"
                           ]
                        },
                        "open_time":{
                           "type":"string"
                        },
                        "close_time":{
                           "type":"string"
                        }
                     }
                  }
               },
               "instructions":{
                  "type":"string",
                  "nullable":true
               },
               "location_type":{
                  "type":"string",
                  "nullable":true
               },
               "business_classification":{
                  "type":"string",
                  "nullable":true
               }
            }
         },
         "Pickup":{
            "type":"object",
            "properties":{
               "id":{
                  "type":"string"
               },
               "status":{
                  "type":"string",
                  "enum":[
                     "creating",
                     "created",
                     "failed",
                     "cancelling",
                     "cancelled"
                  ]
               },
               "pickup_confirmation_numbers":{
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               },
               "pickup_date":{
                  "type":"string"
               },
               "pickup_start_time":{
                  "type":"string"
               },
               "pickup_end_time":{
                  "type":"string"
               },
               "pickup_from":{
                  "$ref":"#/components/schemas/Address"
               },
               "ship_to":{
                  "$ref":"#/components/schemas/Address"
               },
               "label_ids":{
                  "type":"array",
                  "items":{
                     "type":"string"
                  }
               },
               "pickup_parcels":{
                  "type":"array",
                  "items":{
                     "$ref":"#/components/schemas/PickupParcel"
                  }
               },
               "shipper_account":{
                  "$ref":"#/components/schemas/Reference"
               },
               "created_at":{
                  "type":"string"
               },
               "updated_at":{
                  "type":"string"
               }
            }
         },
         "PickupParcel":{
            "type":"object",
            "required":[
               "weight",
               "quantity"
            ],
            "properties":{
               "weight":{
                  "$ref":"#/components/schemas/Weight"
               },
               "quantity":{
                  "type":"integer"
               },
               "service_type":{
                  "type":"string"
               },
               "dimension":{
                  "$ref":"#/components/schemas/Dimension"
               }
            }
         },
         "CancelPickup":{
            "type":"object",
            "properties":{
               "id":{
                  "type":"string"
               },
               "status":{
                  "type":"string",
                  "enum":[
                     "cancelling",
                     "cancelled",
                     "failed"
                  ]
               },
               "pickup":{
                  "$ref":"#/components/schemas/Reference"
               },
               "created_at":{
                  "type":"string"
               },
               "updated_at":{
                  "type":"string"
               }
            }
         },
         "ShipperAccount":{
            "type":"object",
            "properties":{
               "id":{
                  "type":"string"
               },
               "slug":{
                  "type":"string"
               },
               "description":{
                  "type":"string"
               },
               "status":{
                  "type":"string",
                  "enum":[
                     "enabled",
                     "disabled",
                     "deleted"
                  ]
               },
               "type":{
                  "type":"string",
                  "enum":[
                     "default"
                  ]
               },
               "timezone":{
                  "type":"string"
               },
               "address":{
                  "$ref":"#/components/schemas/Address"
               },
               "settings":{
                  "type":"object",
                  "properties":{
                     "commercial_invoice_signature":{
                        "type":"string"
                     },
                     "commercial_invoice_letterhead":{
                        "type":"string"
                     }
                  }
               },
               "created_at":{
                  "type":"string"
               },
               "updated_at":{
                  "type":"string"
               }
            }
         }
      }
   },
   "tags":[
      {
         "name":"Labels",
         "description":"Manage shipping labels"
      },
      {
         "name":"Cancel Labels",
         "description":"Cancel shipping labels"
      },
      {
         "name":"Rates",
         "description":"Calculate shipping rates"
      },
      {
         "name":"Manifests",
         "description":"Manage shipping manifests"
      },
      {
         "name":"Couriers",
         "description":"Get courier information"
      },
      {
         "name":"Address Validations",
         "description":"Validate shipping addresses"
      },
      {
         "name":"Locations",
         "description":"Find carrier locations"
      },
      {
         "name":"Pickups",
         "description":"Schedule pickups"
      },
      {
         "name":"Cancel Pickups",
         "description":"Cancel scheduled pickups"
      },
      {
         "name":"Shipper Accounts",
         "description":"Manage shipper accounts"
      }
   ]
}