.forgot-password-form {
    .form-header {
        margin-bottom: 0px;
    }

    .forgot-password-form-signup-redirect {
        color: var(--text-placeholder, #6A727C);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 24px;
    }

    .signup-link {
        color: var(--text-accent, #4368E3);
        font-weight: 500;
        margin-left: 4px;
    }

    .form-input-area {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .separator-signup .separator h2 {
        margin-top: 24px !important;
    }

    .reset-password-info-banner {
        margin-top: 24px;
    }

    .reset-password-info-text {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 12px;
        color: #3E63DD;
        font-weight: 500;
    }
}