.post-migration-banner {
  display: flex;
  padding: 14px 18px;
  justify-content: space-between;
  align-items: flex-start;
  margin: 16px 0;
  border-radius: var(--3, 6px);
  background: #E0F2FE;
  border: none !important;
  outline: none !important;
}

.banner-left-section {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

.banner-text-container {
  display: flex;
  flex-direction: column;
}

.banner-title {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 2px;
  color: var(--text-default, #1B1F24);
}

.banner-description {
  font-size: 14px;
  line-height: 1.4;
  color: var(--text-muted, #5C6670);
}

.banner-close-button {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 0;
  color: var(--text-muted, #5C6670);
}


.dark-mode {
  .banner-title {
    color: #E6E8EB;
  }

  .banner-description {
    color: #B6BDC6;
  }

  .banner-close-button {
    color: #B6BDC6;
  }
}
