.tj-datepicker-widget {
    border-radius: 6px !important;
    border: 1px solid var(--slate5) !important;
    box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
    width: 278px;
    padding: 0px;
}

.react-datepicker__header {
    background-color: #fff;
    // height: 52px;
    border: none;
}

.tj-datepicker-widget-left {
    position: absolute;
    left: 16px;
}

.tj-datepicker-widget-right {
    position: absolute;
    right: 16px;
}


.tj-datepicker-widget-arrows {
    box-shadow: 0px 1px 0px 0px #0000000B;
    border: 1px solid var(--slate7);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    width: 28px;
    background-color: var(--base) !important;
}

.react-datepicker__navigation-icon--previous {
    right: 0px;
    top: 3px;
}

.react-datepicker__navigation-icon--next {
    left: 0px;
    top: 3px;
}

.react-datepicker {
    width: 278px;
    border: none;
}

.react-datepicker__month {
    width: 265px;
}

.react-datepicker__navigation--next {
    right: 14px;
}

.react-datepicker__navigation--previous {
    left: 14px;
}

.react-datepicker__week,
.react-datepicker__day-names {
    display: flex;
    justify-content: space-between;
}

.react-datepicker__day-names {
    .react-datepicker__day-name {
        color: #687076;
    }


}

.datepicker-widget .react-datepicker__day--selected {
    background-color: var(--indigo9) !important;
}

.react-datepicker__navigation-icon::before {
    border-color: #000;
    border-width: 1px 1px 0 0;
}

.react-datepicker__day {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
}

.react-datepicker-time__input {

    input {
        width: 205px !important;
        height: 32px !important;
        border-radius: 6px;
        background: #FFF;
        box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
        border: 1px solid var(--tj-text-input-widget-border-default);
        padding-left: 10px;

    }
}

.datepicker-widget {
    .input-field {
        min-height: 32px;
        padding: 0;
        padding-left: 2px;
    }
}

input[type="time"] {
    position: relative;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: block;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: transparent;
}

.react-datepicker-popper,
.tj-datepicker-widget {
    background-color: #fff;
}

.react-datepicker__month-container {
    float: inherit;
}

.react-datepicker__time-container .react-datepicker__time {
    color: var(--text-primary);
}

.dark-theme {

    .react-datepicker-popper,
    .tj-datepicker-widget {
        background-color: #232e3c;
    }

    .react-datepicker__time-container,
    .react-datepicker__time-container .react-datepicker__time {
        background-color: #232e3c;
        color: #fff;
    }

    .react-datepicker__header {
        background-color: #232e3c;
        color: #fff;
    }

    li.react-datepicker__time-list-item:hover {
        background-color: #CCD1D533 !important;
    }
}


.react-datepicker-popper[data-placement^=bottom] {
    padding-top: 0px !important;
}

.react-datepicker__day {
    margin: 0px;
}

.react-datepicker__week {
    height: 28px;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
    margin: 0px;
}

.react-datepicker__day-names {
    margin: 0rem 0.4rem;
    height: 24px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-right: 1em;
    /* Add some padding on the right to create space for custom arrow */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23424242" width="18px" height="18px"><path d="M7 10l5 5 5-5z" /></svg>');
    /* Add a custom arrow (you can use your own SVG) */
    background-repeat: no-repeat;
    background-position: right center;
    border: none;
    /* Remove the default border */
    padding: 8px;
    /* Adjust padding as needed */
    cursor: pointer;
    /* Add pointer cursor for better usability */
    background: none;
    padding: 0px;
    height: 24px;
    text-align: center;
    color: var(--slate12);
}

/* Optional: Style when select is focused */
select:focus {
    outline: none;
    /* Remove default focus outline */
    // box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    /* Add a subtle box-shadow when focused */
}

.table-column-datepicker-input {
    border: 1px solid transparent;
    background: inherit;
    text-align: left;
    width: 100%;
}

.react-datepicker-wrapper {
    width: 100%;
}

.react-time-picker__wrapper {
    border: none !important;
}


.timepicker-wrapper {

    .react-datepicker-wrapper {
        border: none !important;
    }
}

.react-datepicker__triangle {
    display: none;
}

.react-datepicker__time-container {
    position: absolute;
    right: -86px;
    top: 0;
    height: 256px;
    background-color: #fff;
    border: none;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
    background-color: #4368E3;
}

.react-datepicker-time__header {
    color: #6A727C;
    font-weight: 400;
}

.react-datepicker--time-only {
    width: 66px;
}

.tj-datepicker-widget-hidden {
    height: 0px;

    .react-datepicker--time-only {
        top: -16px;
    }
}

