.read-documentation {
	color: var(--indigo9) !important;
	font-weight: 600 !important;
	margin-left: 10px !important;
	text-decoration: none !important;
}

.action-btns {
	align-items: center !important;
	gap: 10px !important;
}