<table align="center" class="content-body">
  <tr>
    <td class="content-body_wrap padding-x-40">
      <table>
        <tr>
          <td>
            <p> Hi {{name}},</p>
          </td>
        </tr>
        <tr>
          <td class="padding-y-20">
            <p>
              Thank you for signing up to ToolJet. We’re excited to have you
              onboard! Please confirm your email address by clicking the button
              below to get started.
            </p>
            {{#if (eq whiteLabelText "ToolJet")}}
              <p class="padding-t-20">
                Should you have any questions or need assistance, our support team
                is
                <a
                  class="url"
                  href="https://tooljet.com/slack"
                  target="_blank"
                >here</a>
                to help or reach out to us on
                <a class="url" target="_blank" href="mailto: hello@tooljet.com">
                  hello@tooljet.com</a>.
              </p>
            {{/if}}
          </td>
        </tr>
        <tr>
          <td class="padding-y-10">
            <a href={{inviteUrl}} target="_blank" class="padding-r-40" href="#">
              <button class="primary-btn">
                Confirm email address
              </button>
            </a>
          </td>
        </tr>
        <tr>
          <td class="padding-y-10">
            <p style="font-size: 14px; color: #555;">
              If the button isn't accessible, copy and paste this invite link into your browser: 
              <br />
              <span style="color: #555; word-break: break-all;">{{inviteUrl}}</span>
            </p>
          </td>
        </tr>
        <tr>
          <td class="padding-y-10 footer-note">
            {{#if (eq whiteLabelText "ToolJet")}}
              <span>Welcome aboard,</span>
              <br />
              <span>The ToolJet Team</span>
            {{else}}
              <span>Welcome aboard!</span>
            {{/if}}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>