<table align="center" class="content-body">
  <tr>
    <td class="content-body_wrap padding-x-40">
      <table>
        <tr>
          <td>
            <p> Hi {{name}},</p>
          </td>
        </tr>
        <tr>
          <td class="padding-y-20">
            <p>
              We all forget our password sometimes. Don’t worry, click the
              button below to reset your password.
            </p>
            <p class="padding-t-20">
              If you didn’t make the request or if you’d no longer like to
              create a new password, you can safely ignore this email.
            </p>
            <p class="padding-y-20">
              Should you have any questions or need assistance, our support team
              is
              <a
                class="url"
                href="https://tooljet.com/slack"
                target="_blank"
              >here</a>
              to help or reach out to us on
              <a class="url" target="_blank" href="mailto: hello@tooljet.com">
                hello@tooljet.com</a>.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <a href={{resetLink}} target="_blank" class="padding-r-40" href="#">
              <button class="primary-btn">
                Reset your password
              </button>
            </a>
          </td>
        </tr>
        <tr>
          <td class="padding-y-20 footer-note">
            <span>Thanks,</span>
            <br />
            <span>The ToolJet Team</span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>