<table align="center" class="content-body">
  <tr>
    <td class="content-body_wrap padding-x-40">
      <table>
        <tr>
          <td>
            <p> Hi {{name}},</p>
          </td>
        </tr>
        <tr>
          <td class="padding-y-20">
            <p>
              Thank you for signing up to ToolJet. We’re excited to have you
              onboard! Please confirm your email address by clicking the button
              below to get started.
            </p>
            <p class="padding-b-20">
              Should you have any questions or need assistance, our support team
              is
              <a
                class="url"
                href="https://tooljet.com/slack"
                target="_blank"
              >here</a>
              to help or reach out to us on
              <a class="url" target="_blank" href="mailto: hello@tooljet.com">
                hello@tooljet.com</a>.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <a href={{inviteUrl}} target="_blank" class="padding-r-40" href="#">
              <button class="primary-btn">
                Confirm email address
              </button>
            </a>
          </td>
        </tr>
        <tr>
          <td class="padding-y-20 footer-note">
            <span>Welcome aboard,</span>
            <br />
            <span>The ToolJet Team</span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>