.sql-aggregate-container {
  width: 100%;
}

.sql-aggregate-row {
  margin-bottom: 8px;

    .codehinter-input {
    .cm-editor {
      // height: 30px !important;
      min-height: 30px !important;
      max-height: 100px !important;
      border-radius: 0 !important;
      border-left: 0px;
      border-right: 0px
    }
  }
}

.sql-aggregate-column-wrapper {
  display: flex;
  align-items: center;
}

.sql-aggregate-column-input {
  width: calc(100% - 35px);
}

.sql-aggregate-delete-button {
  flex-shrink: 0;
  min-height: 30px !important;
  max-height: 100px !important;
}

.sql-aggregate-add-button {
  margin-top: 8px;
}

.sql-aggregate-add-button.no-aggregates-above {
  margin-top: 0;
}
