.block-option-container {

    .add-new {
        margin-bottom: 12px;
        >span {
            margin-left: 6px;
            font-family: 'IBM Plex Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            color: #889096;
        }
    }
}