name: Test system deploy

on:
  pull_request_target:
    types: [labeled, unlabeled, closed]

  workflow_dispatch:


env:
  PR_NUMBER: ${{ github.event.number }}
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

jobs:
  Build-and-update-image:
    runs-on: ubuntu-22.04

    if: ${{ github.event.action == 'labeled' && github.event.label.name == 'test-system-deploy' }}

    steps:

      - name: Check authorization
        run: |
          allowed_user1=${{ secrets.ALLOWED_USER1_USERNAME }}
          allowed_user2=${{ secrets.ALLOWED_USER2_USERNAME }}
          allowed_user3=${{ secrets.ALLOWED_USER3_USERNAME }}
          allowed_user4=${{ secrets.ALLOWED_USER4_USERNAME }}
          allowed_user5=${{ secrets.ALLOWED_USER5_USERNAME }}
          allowed_user6=${{ secrets.ALLOWED_USER6_USERNAME }}
          
          if [[ "${{ github.actor }}" != "$allowed_user1" && "${{ github.actor }}" != "$allowed_user2" && "${{ github.actor }}" != "$allowed_user3" && "${{ github.actor }}" != "$allowed_user4" && "${{ github.actor }}" != "$allowed_user5" && "${{ github.actor }}" != "$allowed_user6" ]]; then
            echo "User not authorized to trigger this workflow"
            exit 1
          fi

      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      # # Create Docker Buildx builder with platform configuration
      # - name: Set up Docker Buildx
      #   run: |
      #     mkdir -p ~/.docker/cli-plugins
      #     curl -SL https://github.com/docker/buildx/releases/download/v0.11.0/buildx-v0.11.0.linux-amd64 -o ~/.docker/cli-plugins/docker-buildx
      #     chmod a+x ~/.docker/cli-plugins/docker-buildx
      #     docker buildx create --name mybuilder --platform linux/arm64,linux/amd64,linux/amd64/v2,linux/riscv64,linux/ppc64le,linux/s390x,linux/386,linux/mips64le,linux/mips64,linux/arm/v7,linux/arm/v6
      #     docker buildx use mybuilder

      # - name: Set DOCKER_CLI_EXPERIMENTAL
      #   run: echo "DOCKER_CLI_EXPERIMENTAL=enabled" >> $GITHUB_ENV

      # - name: use mybuilder buildx
      #   run: docker buildx use mybuilder

      # - name: Docker Login
      #   uses: docker/login-action@v2
      #   with:
      #     username: ${{ secrets.DOCKER_USERNAME }}
      #     password: ${{ secrets.DOCKER_PASSWORD }}

      # - name: Set SAFE_BRANCH_NAME
      #   run: echo "SAFE_BRANCH_NAME=$(echo ${{ env.BRANCH_NAME }} | tr '/' '-')" >> $GITHUB_ENV

      # - name: Build and Push Docker image
      #   uses: docker/build-push-action@v4
      #   with:
      #     context: .
      #     file: docker/production.Dockerfile
      #     push: true
      #     tags: tooljet/tj-osv:${{ env.SAFE_BRANCH_NAME }}
      #     platforms: linux/amd64
      #   env:
      #     DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      #     DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

      - name: Authenticate GCP profile
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      # - id: compute-ssh
      #   uses: google-github-actions/ssh-compute@v1
      #   with:
      #     instance_name: 'automation-testing'
      #     zone: 'us-central1-a'
      #     ssh_private_key: ${{ secrets.GCP_SSH_PRIVATE_KEY }}
      #     command: 'ls -la'

      - name: GCP 
        run: |
          gcloud compute ssh --zone "us-central1-a" "automation-testing" --project "tooljet-us"
          gcloud compute ssh --zone "us-central1-a" "automation-testing" --project "tooljet-us"


      - uses: actions/github-script@v6
        with:
          script: |
            try {
              await github.rest.issues.removeLabel({
                issue_number: context.issue.number,
                owner: context.repo.owner,
                repo: context.repo.repo,
                name: 'test-system-deploy'
              })
            } catch (e) {
              console.log(e)
            }

            await github.rest.issues.addLabels({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              labels: ['test-system-deployed']
            })            
