.config-handle-button {
    height: 24px;
    button {
        border-radius: 6px !important;
        font-size: 11px; 
        font-weight: 500;
        text-transform: none;
        cursor: move;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    &:not(.no-hover) {
        button:hover {
            background: var(--interactive-hover) !important;
        }

        button.badge:active {
            background: var(--interactive-selected) !important;
    }
  }
}